Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

fix(store): ライブスケジュールのソート順序を修正
  api/internal/store/database/mysql/live.go
Labels: backend (api), backend (store)

settings: Google Search Consoleの設定を追加
  web/user/nuxt.config.ts
Labels: frontend (user)

feat: useSeoMeta要素を追加
  web/user/src/pages/contact.vue
  web/user/src/pages/legal-notice.vue
  web/user/src/pages/privacy.vue
  web/user/src/pages/register.vue
  web/user/src/pages/signin.vue
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/index.vue
Labels: frontend (user)

fix: 警告などを修正
  web/user/src/app.vue
  web/user/src/components/atoms/icons/TheIconWrapper.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
Labels: frontend (user)

fix: リフレッシュトークンが期限切れの場合に500エラーになる問題への対応
  web/user/src/middleware/auth.global.ts
  web/user/src/store/auth.ts
Labels: frontend (user)

注文履歴詳細画面の実装 (#1934)
  web/user/src/lib/order.ts
  web/user/src/pages/account/index.vue
  web/user/src/pages/account/orders/[...id].vue
  web/user/src/store/order.ts
  web/user/src/store/shopping.ts
  web/user/src/types/store/order.ts
Labels: frontend (user)

settings: Google Search Consoleの設定を追加 (#1938)
  web/user/nuxt.config.ts
  web/user/src/app.vue
  web/user/src/components/atoms/icons/TheIconWrapper.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/contact.vue
  web/user/src/pages/legal-notice.vue
  web/user/src/pages/privacy.vue
  web/user/src/pages/register.vue
  web/user/src/pages/signin.vue
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/index.vue
Labels: frontend (user)

fix: リフレッシュトークンが期限切れの場合に500エラーになる問題への対応 (#1939)
  web/user/src/middleware/auth.global.ts
  web/user/src/store/auth.ts
Labels: frontend (user)

wip: 購入手続きのアドレスフォームの修正
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

fix(messenger): 未承認ライブ配信はメール送信をしないように (#1935)
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
Labels: backend (api), backend (messenger), backend (store), test

fix(messenger): 生産者にメール送信されないように (#1936)
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/user.go
  api/internal/user/input.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: backend (api), backend (messenger), backend (user), test

fix(store): ライブスケジュールのソート順序を修正 (#1937)
  api/internal/store/database/mysql/live.go
Labels: backend (api), backend (store)

fix(store): 3Dセキュアの必須指定を削除
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
Labels: backend (api), backend (store), test

fix(store): 3Dセキュアの必須指定を削除 (#1940)
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
Labels: backend (api), backend (store), test

fix(store): クレジットカード決済のKOMOJU連携値を変更
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
Labels: backend (api), backend (store), test

fix(store): クレジットカード決済のKOMOJU連携値を変更 (#1941)
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
Labels: backend (api), backend (store), test

wip
  web/user/src/components/organisms/TheNewAddressForm.vue
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

fix(store): クレジットカード決済のKOMOJU連携値を変更
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/store/input.go
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  web/user/src/types/api/models/CheckoutCreditCard.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(store): クレジットカード決済のKOMOJU連携値を変更 (#1942)
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/store/input.go
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  web/user/src/types/api/models/CheckoutCreditCard.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix: クレジットカードのフォームの改善とカード名義の変更
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

fix(store): クレジットカードの処理を修正
  api/internal/store/entity/credit_card.go
  api/internal/store/entity/credit_card_test.go
  api/internal/store/service/checkout.go
Labels: backend (api), backend (store), test

fix: クレジットカードのフォームの改善とカード名義の変更 (#1943)
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

fix(store): クレジットカードの処理を修正 (#1944)
  api/internal/store/entity/credit_card.go
  api/internal/store/entity/credit_card_test.go
  api/internal/store/service/checkout.go
Labels: backend (api), backend (store), test

fix; new relic
  web/user/src/app.vue
Labels: frontend (user)

fix(store): 3Dセキュア認証結果のパース処理を修正
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/session/session_test.go
Labels: backend (api), backend (store), test

feat: 決済完了画面でのエラーハンドリングを追加
  web/user/src/pages/v1/purchase/complete.vue
Labels: frontend (user)

fix(store): 3Dセキュア認証結果のパース処理を修正 (#1946)
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/session/session_test.go
Labels: backend (api), backend (store), test

fix; new relic (#1945)
  web/user/src/app.vue
Labels: frontend (user)

feat: 決済完了画面でのエラーハンドリングを追加 (#1947)
  web/user/src/pages/v1/purchase/complete.vue
Labels: frontend (user)

fix(user): ユーザー一覧取得クエリの修正
  api/internal/user/database/mysql/user.go
Labels: backend (api), backend (user)

fix(user): fix small
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/user.go
  api/internal/user/input.go
  api/internal/user/service/user.go
Labels: backend (api), backend (gateway), backend (user)

fix(user): ユーザー一覧取得クエリの修正 (#1948)
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/user.go
  api/internal/user/input.go
  api/internal/user/service/user.go
Labels: backend (api), backend (gateway), backend (user)

fix(store): 3Dセキュア認証の必須無効化
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
Labels: backend (api), backend (store), test

fix(store): レスポンスのomitempty指定を追加
  api/internal/store/komoju/komoju.go
Labels: backend (api), backend (store)

fix(store): DB層のエラーハンドリング修正
  api/internal/store/database/mysql/order.go
  api/internal/store/service/checkout.go
Labels: backend (api), backend (store)

Fix: fixed input placeholder
  web/user/src/components/organisms/TheNewAddressForm.vue
Labels: frontend (user)

feat(store): ライブ配信関連のバリデーションを修正
  api/internal/store/input.go
Labels: backend (api), backend (store)

fix(users): クエリのテーブル指定の誤りを修正
  api/internal/user/database/mysql/user.go
Labels: backend (api), backend (user)

fix(users): クエリのテーブル指定の誤りを修正 (#1950)
  api/internal/user/database/mysql/user.go
Labels: backend (api), backend (user)

feat(store): ライブ配信関連のバリデーションを修正 (#1949)
  api/internal/store/input.go
Labels: backend (api), backend (store)
