Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

fix: added }
  api/internal/store/input.go
Labels: backend (store)

fix: lint
  api/internal/store/input.go
  api/internal/store/service/schedule_test.go
Labels: backend (store), test

feat: create live in schedule transaction
  api/internal/store/database/database.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/mock/store/database/database.go
Labels: backend (store), test

feat: implement service layer
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
Labels: backend (store), test

feat(stotre): add CreatSchedule service layer (#416)
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/live.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (store), test

fix(admin): fix test code
  web/admin/test/store/producer.spec.ts
Labels: frontend (admin), test

fix(admin): fix small
  web/admin/src/pages/producers/add.vue
Labels: frontend (admin)

fix(admin): fix small
  web/admin/src/pages/producers/edit/_id.vue
Labels: frontend (admin)

fix(store): fix test code
  api/internal/store/database/order.go
  api/internal/store/database/order_test.go
  infra/mysql/schema/2022101202-stores-after-column-orders.sql
Labels: backend (store), infra (database), test

feat: implement createSchedule docs
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/index.yaml
Labels: docs

chore: make swagger
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

fix: change example value
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
Labels: docs

fix(*): fix small
  api/internal/store/service/product_test.go
Labels: backend (store), test

fix(admin): fix small
  web/admin/src/pages/producers/edit/_id.vue
Labels: frontend (admin)

feat: added required to lives property
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

docs(store): added createSchedule swagger (#449)
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(gateway): filter access for producer api
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/auth_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/producer.go
Labels: backend (gateway), backend (user), test

fix(gateway): filter access for producer api (#450)
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/auth_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/producer.go
Labels: backend (gateway), backend (user), test

feat(user): list producers with coordinator id
  api/internal/user/input.go
Labels: backend (user)

feat(user): list producers with coordinator id (#451)
  api/internal/user/input.go
Labels: backend (user)

feat(gateway): filter products api
  api/.golangci.yaml
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/store/database/database.go
  api/internal/store/database/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
Labels: backend (gateway), backend (store), test

fix: fix small
  api/internal/gateway/admin/v1/handler/api_test.go
  docs/swagger/admin/paths/v1/producers/_producerId/email.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/password.yaml
  docs/swagger/admin/paths/v1/products/_productId/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), docs, test

feat(gateway): filter products api (#453)
  api/.golangci.yaml
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/store/database/database.go
  api/internal/store/database/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/paths/v1/producers/_producerId/email.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/password.yaml
  docs/swagger/admin/paths/v1/products/_productId/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), docs, test

feat(store): add field to list orders api
  api/internal/store/database/database.go
  api/internal/store/database/order.go
  api/internal/store/database/order_test.go
  api/internal/store/input.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: backend (store), test

feat: dayjsのフォーマッター関数を用意
  web/admin/src/lib/formatter/day.ts
  web/admin/src/lib/formatter/index.ts
Labels: frontend (admin)

feat: データテーブルの展開時のcssを上書き
  web/admin/src/assets/variables.scss
Labels: frontend (admin)

feat: 配送情報のstoreを実装
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

feat: 配送情報一覧ページを実装
  web/admin/src/pages/settings.vue
  web/admin/src/store/shippings.ts
Labels: frontend (admin)

feat(store): add field to list orders api (#454)
  api/internal/store/database/database.go
  api/internal/store/database/order.go
  api/internal/store/database/order_test.go
  api/internal/store/input.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: backend (store), test

feat(gateway): implement get orders api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/service.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/orders/_orderId/index.yaml
  docs/swagger/admin/paths/v1/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), docs, test

feat(gateway): implement get orders api (#456)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/service.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/orders/_orderId/index.yaml
  docs/swagger/admin/paths/v1/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), docs, test

Add: added promotion delete
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/promotion.ts
Labels: frontend (admin)

refactor(gateway): changing middleware logic
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/message.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/auth.go
Labels: backend (gateway), backend (user), test

refactor(gateway): changing middleware logic (#458)
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/message.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/auth.go
Labels: backend (gateway), backend (user), test

fix(gateway): fix create producers logic
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/request/producer.go
  api/internal/user/entity/producer.go
  api/internal/user/input.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  infra/mysql/schema/2022101601-users-alter-table.sql
Labels: backend (gateway), backend (user), infra (database), test

fix(gateway): fix test code
  api/internal/gateway/admin/v1/handler/producer_test.go
Labels: backend (gateway), test

fix(admin): remove request field
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  web/admin/src/pages/producers/add.vue
  web/admin/src/types/api/api.ts
  web/admin/test/store/producer.spec.ts
Labels: frontend (admin), docs, test

fix(gateway): fix create producers logic (#459)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/request/producer.go
  api/internal/user/entity/producer.go
  api/internal/user/input.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  infra/mysql/schema/2022101601-users-alter-table.sql
  web/admin/src/pages/producers/add.vue
  web/admin/src/types/api/api.ts
  web/admin/test/store/producer.spec.ts
Labels: frontend (admin), backend (gateway), backend (user), infra (database), docs, test

fix: dateTimeFormatterに変更
  web/admin/src/lib/formatter/day.ts
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

feat: 値段のフォーマッターを実装
  web/admin/src/lib/formatter/index.ts
  web/admin/src/lib/formatter/money.ts
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
