Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix(gateway): fix small
  api/internal/gateway/user/v1/request/checkout.go
Labels: backend (api), backend (gateway)

feat(store): プロモーションコードで割引情報が引けるように (#1725)
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/promotion.go
  api/internal/store/database/mysql/promotion_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  docs/swagger/user/paths/v1/carts/_coordinatorId/index.yaml
  web/user/src/types/api/apis/CartApi.ts
  web/user/src/types/api/models/CheckoutRequest.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(infra): ユニークインデックスの削除
  infra/mysql/schema/2023120702-users-drop-index.sql
Labels: infra (database)

fix(validator): バリデーションの不整合を修正
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: backend (api), test

feat: コーディネーターIDをパスパラメータで渡すように変更
  web/user/src/pages/v1/purchase/auth.vue
Labels: frontend (user)

fix: 不要なボタンを削除
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

fix(user): コード検証時に期限切れになっていた場合、再送するように設定
  api/internal/user/service/service.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/pkg/cognito/client.go
Labels: backend (api), backend (user), test

fix: エラーメッセージが改行をするように変更
  web/user/src/components/molecules/TheAlert.vue
Labels: frontend (user)

feat: 認証エラー時にエラーメッセージを表示するように変更
  web/user/src/pages/v1/purchase/auth.vue
Labels: frontend (user)

rm: 不要なコードを削除
  web/user/src/pages/index.vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

購入手続きで認証後エラーにならないように修正 (#1726)
  web/user/src/components/molecules/TheAlert.vue
  web/user/src/pages/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

fix(user): 204のときのAPI型定義を修正
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/addresses/_addressId/index.yaml
  docs/swagger/user/paths/v1/auth/email/index.yaml
  docs/swagger/user/paths/v1/auth/email/verified.yaml
  docs/swagger/user/paths/v1/auth/forgot-password/index.yaml
  docs/swagger/user/paths/v1/auth/forgot-password/verified.yaml
  docs/swagger/user/paths/v1/auth/index.yaml
  docs/swagger/user/paths/v1/auth/initialized.yaml
  docs/swagger/user/paths/v1/auth/password.yaml
  docs/swagger/user/paths/v1/auth/user/index.yaml
  docs/swagger/user/paths/v1/auth/user/verified.yaml
  docs/swagger/user/paths/v1/carts/-/items/_productId/index.yaml
  docs/swagger/user/paths/v1/carts/-/items/index.yaml
  docs/swagger/user/paths/v1/checkouts/index.yaml
  docs/swagger/user/paths/v1/contacts/index.yaml
  web/user/src/types/api/apis/AddressApi.ts
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

fix(validator): fix for lint
  api/pkg/validator/validator.go
Labels: backend (api)

fix(validator): バリデーションの不整合を修正 (#1727)
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: backend (api), test

fix(user): 204のときのAPI型定義を修正 (#1728)
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/addresses/_addressId/index.yaml
  docs/swagger/user/paths/v1/auth/email/index.yaml
  docs/swagger/user/paths/v1/auth/email/verified.yaml
  docs/swagger/user/paths/v1/auth/forgot-password/index.yaml
  docs/swagger/user/paths/v1/auth/forgot-password/verified.yaml
  docs/swagger/user/paths/v1/auth/index.yaml
  docs/swagger/user/paths/v1/auth/initialized.yaml
  docs/swagger/user/paths/v1/auth/password.yaml
  docs/swagger/user/paths/v1/auth/user/index.yaml
  docs/swagger/user/paths/v1/auth/user/verified.yaml
  docs/swagger/user/paths/v1/carts/-/items/_productId/index.yaml
  docs/swagger/user/paths/v1/carts/-/items/index.yaml
  docs/swagger/user/paths/v1/checkouts/index.yaml
  docs/swagger/user/paths/v1/contacts/index.yaml
  web/user/src/types/api/apis/AddressApi.ts
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

feat(api): 利用者登録周りのAPI定義を変更
  api/internal/gateway/user/v1/request/auth.go
  api/internal/gateway/user/v1/response/auth.go
  api/internal/user/entity/member.go
  api/internal/user/input.go
  api/internal/user/service.go
  docs/swagger/user/components/schemas/v1/address.request.yaml
  docs/swagger/user/components/schemas/v1/auth.request.yaml
  docs/swagger/user/components/schemas/v1/auth.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/auth/user/oauth.yaml
  infra/mysql/schema/2023120801-users-alter-columns.sql
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/models/CreateAddressRequest.ts
  web/user/src/types/api/models/CreateAuthRequest.ts
  web/user/src/types/api/models/CreateAuthWithOAuthRequest.ts
  web/user/src/types/api/models/UpdateAddressRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (user), infra (database), docs

feat(api): 購入者登録関連APIの修正
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/request/auth.go
  api/internal/gateway/user/v1/response/auth.go
  api/internal/gateway/user/v1/service/auth.go
  api/internal/gateway/user/v1/service/auth_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/database/mysql/user_test.go
  api/internal/user/entity/member.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/codes/user.yaml
  docs/swagger/admin/components/schemas/entity/address.yaml
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/admin/components/schemas/v1/user.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/user/components/schemas/v1/auth.response.yaml
  infra/mysql/schema/2023120802-users-alter-columns.sql
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/pages/customers/[id]/index.vue
  web/admin/src/store/address.ts
  web/admin/src/store/customer.ts
  web/admin/src/store/index.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), infra (database), docs, test

fix(user): fix small
  api/internal/user/database/mysql/user_test.go
  api/pkg/cognito/client_test.go
Labels: backend (api), backend (user), test

feat(api): 購入者登録関連APIの修正 (#1729)
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/request/auth.go
  api/internal/gateway/user/v1/response/auth.go
  api/internal/gateway/user/v1/service/auth.go
  api/internal/gateway/user/v1/service/auth_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/database/mysql/user_test.go
  api/internal/user/entity/member.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  api/pkg/cognito/client_test.go
  docs/swagger/admin/components/schemas/codes/user.yaml
  docs/swagger/admin/components/schemas/entity/address.yaml
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/admin/components/schemas/v1/user.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/user/components/schemas/v1/auth.response.yaml
  infra/mysql/schema/2023120802-users-alter-columns.sql
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/pages/customers/[id]/index.vue
  web/admin/src/store/address.ts
  web/admin/src/store/customer.ts
  web/admin/src/store/index.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), infra (database), docs, test

feat(user): リサイズ済みサムネイル情報を保持できるように
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/gateway/user/v1/response/auth.go
  api/internal/gateway/user/v1/service/auth.go
  api/internal/gateway/user/v1/service/auth_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/entity/member.go
  api/internal/user/entity/member_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/user/components/schemas/v1/auth.response.yaml
  infra/mysql/schema/2023120803-users-add-columns.sql
  web/user/src/types/api/models/AuthUserResponse.ts
Labels: frontend (user), backend (api), backend (gateway), backend (user), infra (database), docs, test

fix(user): fix small
  api/internal/media/entity/regulation.go
  api/internal/media/service.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/database/mysql/mysql_test.go
Labels: backend (api), backend (media), backend (user), test

fix(user): fix small
  api/internal/media/entity/payload.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/user.go
  api/internal/media/resizer/user_test.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/resize.go
  api/internal/media/service/resize_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/mock/media/service.go
Labels: backend (api), backend (media), test

fix(user): fix small
  api/internal/media/entity/regulation.go
  api/internal/media/service/generate_test.go
Labels: backend (api), backend (media), test

fix(user): fix small
  api/internal/user/database/mysql/user.go
Labels: backend (api), backend (user)

fix(user): fix small
  api/internal/gateway/admin/v1/service/user_test.go
Labels: backend (api), backend (gateway), test

feat(user): リサイズ済みサムネイル情報を保持できるように (#1730)
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/gateway/user/v1/response/auth.go
  api/internal/gateway/user/v1/service/auth.go
  api/internal/gateway/user/v1/service/auth_test.go
  api/internal/media/entity/payload.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/user.go
  api/internal/media/resizer/user_test.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/resize.go
  api/internal/media/service/resize_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/database/mysql/user.go
  api/internal/user/entity/member.go
  api/internal/user/entity/member_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/media/service.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/user/components/schemas/v1/auth.response.yaml
  infra/mysql/schema/2023120803-users-add-columns.sql
  web/user/src/types/api/models/AuthUserResponse.ts
Labels: frontend (user), backend (api), backend (gateway), backend (media), backend (user), infra (database), docs, test

fix(messenger): 通知関連の実装
  api/internal/messenger/entity/payload.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/thread.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
Labels: backend (api), backend (messenger), backend (store), backend (user), test

fix(messenger): fix test code
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker.go
Labels: backend (api), backend (messenger), test

fix(messenger): fix test code
  api/internal/messenger/worker/worker_test.go
Labels: backend (api), backend (messenger), test

fix(messenger): 通知関連の実装 (#1731)
  api/internal/messenger/entity/payload.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/thread.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
Labels: backend (api), backend (messenger), backend (store), backend (user), test

feat: 各商品の数量を表示するように修正
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/store/shopping.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

fix(api): リクエスト値を詰め直す処理を修正
  api/internal/gateway/user/v1/handler/auth.go
Labels: backend (api), backend (gateway)

Fix: fixed comment function hidden
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

feat: 各商品の数量を表示するように修正 (#1732)
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/store/shopping.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

fix(docs): 型の定義の修正
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/auth/user/index.yaml
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

feat: サインアップフォームを更新
  web/user/src/components/organisms/TheSignUpForm.vue
  web/user/src/pages/signup.vue
Labels: frontend (user)

feat: サインアップフォームを更新 (#1734)
  web/user/src/components/organisms/TheSignUpForm.vue
  web/user/src/pages/signup.vue
Labels: frontend (user)

fix(store): fix test code
  api/internal/store/database/mysql/order.go
Labels: backend (api), backend (store)

feat: 商品一覧で商品名を3行で3点リーダにするようにする
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

feat: 商品一覧で商品名を3行で3点リーダにするようにする (#1736)
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)
