Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

refactor(user): refactor create user logic
  api/internal/user/database/database.go
  api/internal/user/database/member.go
  api/internal/user/database/member_test.go
  api/internal/user/entity/user.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  infra/mysql/schema/2022102701-users-alter-column-users.sql
Labels: backend (user), infra (database), test

fix(user): add column to admins
  api/internal/user/database/admin.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/producer.go
  api/internal/user/entity/admin.go
  infra/mysql/schema/2022102702-users-alter-column-admins.sql
Labels: backend (user), infra (database)

fix(user): fix test code
  api/internal/user/entity/user_test.go
Labels: backend (user), test

chore(*): go mod tidy
  api/go.mod
  api/go.sum
Labels: none

fix(user): fix error handling
  api/internal/user/database/coordinator.go
  api/internal/user/database/producer.go
Labels: backend (user)

feat(gateway): implement get user api (#498)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/handler/user_test.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user.go
  docs/swagger/admin/components/schemas/v1/user.response.yaml
Labels: backend (gateway), docs, test

refactor(user): refactor create user logic (#499)
  api/internal/user/database/database.go
  api/internal/user/database/member.go
  api/internal/user/database/member_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  infra/mysql/schema/2022102701-users-alter-column-users.sql
Labels: backend (user), infra (database), test

feat(user): implement delete admin (#497)
  api/internal/user/database/admin.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/member_test.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/admin.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  infra/mysql/schema/2022102702-users-alter-column-admins.sql
Labels: backend (user), infra (database), test

chore(*): update dependencies (#500)
  api/go.mod
  api/go.sum
Labels: none

feat: added MultiGetShippings service layer
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/shipping.go
Labels: backend (store)

feat: added shippingIDs method
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
Labels: backend (store), test

feat: added shipping to schedule gateway
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/request/schedule.go
Labels: backend (gateway), test

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (store)

feat: added shippingID to entity
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
Labels: backend (store), test

chore: make mockgen
  api/mock/store/service.go
Labels: backend (store)

feat: added shippingTest MutiGet and Map
  api/internal/gateway/admin/v1/service/shipping_test.go
  api/internal/store/service/shipping_test.go
Labels: backend (gateway), backend (store), test

feat: added column shipping_id to schedules
  infra/mysql/schema/2022102501-stores-alter-column-lives.sql
  infra/mysql/schema/2022102701-stores-alter-column-scedules.sql
Labels: infra (database)

feat: added shippingID to schedule entity
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
Labels: backend (store), test

feat: added Map method to shippings
  api/internal/gateway/admin/v1/service/shipping.go
Labels: backend (gateway)

feat: added shipping_id to database_layer
  api/internal/store/database/live_test.go
  api/internal/store/database/schedule_test.go
Labels: backend (store), test

feat: added shipping to live gateway
  api/internal/gateway/admin/v1/response/live.go
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
Labels: backend (gateway), test

feat: added shippings MutiGet method
  api/internal/store/database/database.go
  api/internal/store/database/shipping.go
  api/internal/store/database/shipping_test.go
Labels: backend (store), test

feat: added shippingID to service layer
  api/internal/store/input.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
Labels: backend (store), test

feat: added shipping_id column
  infra/mysql/schema/2022102501-stores-alter-column-lives.sql
Labels: infra (database)

feat: added shipping_id to schedule database_layer
  api/internal/store/database/live_test.go
  api/internal/store/database/schedule_test.go
Labels: backend (store), test

feat(gateway): implement delete admin api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  docs/swagger/admin/paths/v1/administrators/_adminId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), docs, test

feat(gateway): implement delete admin api (#501)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  docs/swagger/admin/paths/v1/administrators/_adminId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), docs, test

feat: added shipping_id to schedule service_layer
  api/internal/store/input.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
Labels: backend (store), test

feat: added shipping_id to schedule handler
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/live.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/schedule.go
Labels: backend (gateway), test

fix: remove shippingID from live
  api/internal/gateway/admin/v1/service/live_test.go
Labels: backend (gateway), test

fix: add testSchedule to order_test
  api/internal/store/database/order_test.go
Labels: backend (store), test

Add: added product type icon
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

fix: return err in err group
  api/internal/gateway/admin/v1/handler/schedule.go
Labels: backend (gateway)

fix: check error multiGetProducts
  api/internal/gateway/admin/v1/handler/schedule.go
Labels: backend (gateway)

style: thumbnailUrl
  api/internal/gateway/admin/v1/request/schedule.go
Labels: backend (gateway)

Fix: fixed image type accept
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

まちがった
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

fix: error type service_layer
  api/internal/store/service/schedule.go
Labels: backend (store)

fix: added error handling to shipping database
  api/internal/store/database/shipping.go
Labels: backend (store)

feat(store): added shippingID to Schedule (#488)
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
  api/internal/store/database/database.go
  api/internal/store/database/order_test.go
  api/internal/store/database/schedule_test.go
  api/internal/store/database/shipping.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/live_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  infra/mysql/schema/2022102701-stores-alter-column-scedules.sql
Labels: backend (gateway), backend (store), infra (database), test
