Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

fix(admin): 品目検索周りの不具合修正
  api/internal/store/database/mysql/category.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/product_tag.go
  api/internal/store/database/mysql/product_type.go
  api/internal/store/database/mysql/promotion.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/producer.go
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/new.vue
Labels: frontend (admin), backend (api), backend (store), backend (user)

fix(admin): 品目検索周りの不具合修正 (#2068)
  api/internal/store/database/mysql/category.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/product_tag.go
  api/internal/store/database/mysql/product_type.go
  api/internal/store/database/mysql/promotion.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/producer.go
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/new.vue
Labels: frontend (admin), backend (api), backend (store), backend (user)

feat: nuxt-gtagの導入
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

feat(admin): 不要な機能を非表示に
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

feat(admin): 不要な機能を非表示に (#2071)
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

feat: nuxt-gtagの導入 (#2070)
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

chore(api): ライブラリ更新
  .github/workflows/ci-backend.yaml
  api/.golangci.yaml
  api/.tool-versions
  api/Makefile
  api/go.mod
  api/go.sum
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
  infra/docker/web/amplify/Dockerfile
  infra/helm/gateway/.helmignore
  infra/helm/gateway/Chart.yaml
  infra/helm/gateway/configs/user-gateway-dev-envoy.yaml
  infra/helm/gateway/templates/_helpers.tpl
  infra/helm/gateway/templates/configmap.yaml
  infra/helm/gateway/templates/deployment.yaml
  infra/helm/gateway/templates/service.yaml
  infra/helm/gateway/values.yaml
  infra/helm/service/.helmignore
  infra/helm/service/Chart.yaml
  infra/helm/service/configs/user-server-dev-envoy.yaml
  infra/helm/service/templates/_helpers.tpl
  infra/helm/service/templates/configmap.yaml
  infra/helm/service/templates/deployment.yaml
  infra/helm/service/templates/secret.yaml
  infra/helm/service/templates/service.yaml
  infra/helm/service/values.yaml
Labels: backend (api), infra (container), workflow

fix(docs): 注文出力APIのドキュメント修正
  docs/swagger/admin/paths/v1/orders/-/export.yaml
Labels: docs

fix(api): fix for lint
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/store/service/checkout.go
  api/internal/user/service/member.go
  api/pkg/sentry/option.go
Labels: backend (api), backend (gateway), backend (store), backend (user)

fix(docs): 注文出力APIのドキュメント修正 (#2073)
  docs/swagger/admin/paths/v1/orders/-/export.yaml
Labels: docs

chore(api): ライブラリ更新 (#2072)
  .github/workflows/ci-backend.yaml
  api/.golangci.yaml
  api/.tool-versions
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/store/service/checkout.go
  api/internal/user/service/member.go
  api/pkg/sentry/option.go
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
  infra/docker/web/amplify/Dockerfile
  infra/helm/gateway/.helmignore
  infra/helm/gateway/Chart.yaml
  infra/helm/gateway/configs/user-gateway-dev-envoy.yaml
  infra/helm/gateway/templates/_helpers.tpl
  infra/helm/gateway/templates/configmap.yaml
  infra/helm/gateway/templates/deployment.yaml
  infra/helm/gateway/templates/service.yaml
  infra/helm/gateway/values.yaml
  infra/helm/service/.helmignore
  infra/helm/service/Chart.yaml
  infra/helm/service/configs/user-server-dev-envoy.yaml
  infra/helm/service/templates/_helpers.tpl
  infra/helm/service/templates/configmap.yaml
  infra/helm/service/templates/deployment.yaml
  infra/helm/service/templates/secret.yaml
  infra/helm/service/templates/service.yaml
  infra/helm/service/values.yaml
Labels: backend (api), backend (gateway), backend (store), backend (user), infra (container), workflow

chore(docs): ライブラリ更新
  .github/workflows/ci-docs.yaml
  docs/swagger/openapitools.json
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
  web/admin/src/types/api/api.ts
  web/user/src/types/api/runtime.ts
Labels: frontend (admin), frontend (user), infra (container), docs, workflow

chore(docs): ライブラリ更新 (#2074)
  .github/workflows/ci-docs.yaml
  docs/swagger/openapitools.json
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
  web/admin/src/types/api/api.ts
  web/user/src/types/api/runtime.ts
Labels: frontend (admin), frontend (user), infra (container), docs, workflow

chore(docs): ライブラリ更新
  docs/swagger/Makefile
  infra/docker/docs/swagger/generator/Dockerfile
Labels: infra (container), docs

chore(docs): ライブラリ更新 (#2075)
  docs/swagger/Makefile
  infra/docker/docs/swagger/generator/Dockerfile
Labels: infra (container), docs

feat: 商品ページのバリデーション追加と修正 (#2064)
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/lib/validations/rule.ts
  web/admin/src/store/product.ts
  web/admin/src/types/validations/common.ts
Labels: frontend (admin)

Fix: fixed sentence based on nishikawa sister
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
Labels: frontend (user)

Fix: fixed sentence based on nishikawa sister (#2076)
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
Labels: frontend (user)

feat(media): ゲストのライブ配信コメント投稿API実装
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/guest_live_comment.go
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/request/guest_live_comment.go
  api/internal/gateway/user/v1/response/live_comment.go
  api/internal/gateway/user/v1/service/live_comment.go
  api/internal/gateway/user/v1/service/live_comment_test.go
  api/internal/media/entity/broadcast_comment.go
  api/internal/media/entity/broadcast_comment_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment.go
  api/internal/media/service/broadcast_comment_test.go
  docs/swagger/user/components/schemas/v1/guest-live-comment.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/guests/schedules/_scheduleId/comments/index.yaml
  web/user/src/types/api/apis/GuestApi.ts
  web/user/src/types/api/apis/ScheduleApi.ts
  web/user/src/types/api/models/CreateGuestLiveCommentRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (media), docs, test

fix(media): fix for lint
  api/internal/media/service/broadcast_comment.go
Labels: backend (api), backend (media)

feat(media): ゲストのライブ配信コメント投稿API実装 (#2077)
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/guest_live_comment.go
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/request/guest_live_comment.go
  api/internal/gateway/user/v1/response/live_comment.go
  api/internal/gateway/user/v1/service/live_comment.go
  api/internal/gateway/user/v1/service/live_comment_test.go
  api/internal/media/entity/broadcast_comment.go
  api/internal/media/entity/broadcast_comment_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment.go
  api/internal/media/service/broadcast_comment_test.go
  docs/swagger/user/components/schemas/v1/guest-live-comment.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/guests/schedules/_scheduleId/comments/index.yaml
  web/user/src/types/api/apis/GuestApi.ts
  web/user/src/types/api/apis/ScheduleApi.ts
  web/user/src/types/api/models/CreateGuestLiveCommentRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (media), docs, test

feat: createProductのハンドリング
  web/admin/src/store/product.ts
Labels: frontend (admin)

feat: updateProductのエラーハンドリング追加
  web/admin/src/store/product.ts
Labels: frontend (admin)

feat: deleteProductのハンドリング追加
  web/admin/src/store/product.ts
Labels: frontend (admin)

feat: getProductのハンドリング追加
  web/admin/src/store/product.ts
Labels: frontend (admin)

feat: getProductMediaUploadUrlのハンドリング追加
  web/admin/src/store/product.ts
Labels: frontend (admin)

fix: errorhandlerを使う形に修正
  web/admin/src/store/product.ts
Labels: frontend (admin)

chore: yarn lintfix
  web/admin/src/store/product.ts
Labels: frontend (admin)

fix(infra): イメージの修正
  infra/docker/api/Dockerfile
  infra/docker/infra/envoy/Dockerfile
Labels: infra (container)

fix(admin): 配信スケジュールが更新できない場合のバリデーション追加
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/schedules/[id]/index.vue
Labels: frontend (admin)

feat(admin) 商品ページのエラーハンドリングを追加 (#2078)
  web/admin/src/store/product.ts
Labels: frontend (admin)

feat: categoryのハンドリング追加
  web/admin/src/store/category.ts
Labels: frontend (admin)

feat: administratorのハンドリング追加
  web/admin/src/store/administrator.ts
Labels: frontend (admin)

feat: authのハンドリングを追加
  web/admin/src/store/auth.ts
Labels: frontend (admin)

refactor: productのハンドラーの記法を修正
  web/admin/src/store/product.ts
Labels: frontend (admin)

refactor: administratorのハンドラーの記法を修正
  web/admin/src/store/administrator.ts
Labels: frontend (admin)

refactor: categoryのハンドラーの記法を修正
  web/admin/src/store/category.ts
Labels: frontend (admin)

feat: broadcastのハンドリングを追加
  web/admin/src/store/broadcast.ts
Labels: frontend (admin)

feat: contactのハンドリングを追加
  web/admin/src/store/contact.ts
Labels: frontend (admin)

feat: coordinatorのハンドリング追加
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)
