Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

feat(api): UserAgentがnodeの場合はいくつか処理をスキップするように
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/cart.go
Labels: backend (api), backend (gateway)

fix(api): 共通処理側でUserAgentかの判定処理をするように
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/cart.go
Labels: backend (api), backend (gateway)

feat(api): UserAgentがnodeの場合はいくつか処理をスキップするように (#2489)
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/cart.go
Labels: backend (api), backend (gateway)

Release for v3.0.6 (#2490)
  CHANGELOG.md
Labels: none

feat: 動画に紐づけた商品を削除できるようにUIを調整
  web/admin/src/components/molecules/VideoLinkedProductItem.vue
  web/admin/src/components/organisms/VideoForm.vue
  web/admin/src/pages/videos/[id]/index.vue
  web/admin/src/pages/videos/new.vue
Labels: frontend (admin)

feat: 紐づけ済みの体験を削除する部分の実装
  web/admin/src/components/molecules/VideoLinkedExperienceItem.vue
  web/admin/src/components/organisms/VideoForm.vue
  web/admin/src/pages/videos/[id]/index.vue
  web/admin/src/pages/videos/new.vue
Labels: frontend (admin)

Add: added sns share x
  web/admin/nuxt.config.ts
  web/user/src/components/atoms/icons/TheSnsShareIcon.vue
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
Labels: frontend (admin), frontend (user)

動画管理画面の実装 (#2385)
  web/admin/src/components/molecules/IconSelectForm.vue
  web/admin/src/components/molecules/ImageSelectForm.vue
  web/admin/src/components/molecules/VideoLinkedExperienceItem.vue
  web/admin/src/components/molecules/VideoLinkedProductItem.vue
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/organisms/VideoForm.vue
  web/admin/src/layouts/default.vue
  web/admin/src/lib/formatter/index.ts
  web/admin/src/lib/formatter/product.ts
  web/admin/src/lib/formatter/video.ts
  web/admin/src/pages/videos/[id]/index.vue
  web/admin/src/pages/videos/index.vue
  web/admin/src/pages/videos/new.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/index.ts
  web/admin/src/store/product.ts
  web/admin/src/store/video.ts
Labels: frontend (admin)

Add: added link copy
  web/user/src/components/atoms/live/TheLiveDescription.vue
Labels: frontend (user)

fix(api): Sentryのトレーシング機能を無効に
  api/.tool-versions
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
Labels: backend (api), backend (gateway), infra (container)

fix(api): Sentryのトレーシング機能を無効に (#2492)
  api/.tool-versions
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
Labels: backend (api), backend (gateway), infra (container)

Release for v3.0.7 (#2491)
  CHANGELOG.md
Labels: none

Add: added icon
  web/user/src/components/atoms/icons/TheShareFacebookIcon.vue
  web/user/src/components/atoms/icons/TheShareIcon.vue
  web/user/src/components/atoms/icons/TheShareXIcon.vue
  web/user/src/components/atoms/live/TheLiveDescription.vue
Labels: frontend (user)

Fix: fixed lint
  web/user/src/components/atoms/icons/TheShareFacebookIcon.vue
  web/user/src/components/atoms/icons/TheShareIcon.vue
  web/user/src/components/atoms/icons/TheShareXIcon.vue
Labels: frontend (user)

setup: 本番環境向けのGoogle Tag Managerを仕込む
  web/user/src/app.vue
  web/user/src/public/gtm/index.js
Labels: frontend (user)

fix: typoの修正
  web/user/src/app.vue
Labels: frontend (user)

setup: 本番環境向けのGoogle Tag Managerを仕込む (#2497)
  web/user/src/app.vue
  web/user/src/public/gtm/index.js
Labels: frontend (user)

Release for v3.0.8 (#2498)
  CHANGELOG.md
Labels: none

Fix: fixed lint
  web/admin/nuxt.config.ts
Labels: frontend (admin)

feat(store): スポット関連のビジネスロジック実装
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/spot.go
  api/internal/store/database/mysql/spot_test.go
  api/internal/store/database/tidb/spot.go
  api/internal/store/entity/spot.go
  api/internal/store/entity/spot_test.go
Labels: backend (api), backend (store), test

fix(store): テストコードの修正
  api/internal/store/database/mysql/spot_test.go
Labels: backend (api), backend (store), test

fix(store): SpotテーブルのDDL修正
  infra/mysql/schema/2024111601-stores-add-column-spots.sql
  infra/tidb/schema/stores/2024111601-stores-add-column-spots.sql
Labels: infra (database)

fix(media): MediaStore廃止にあたってライブ配信用のURLを変更
  api/internal/media/broadcast/updater/starter.go
  api/internal/media/broadcast/updater/updater.go
  api/internal/media/cmd/updater/registry.go
  api/internal/media/cmd/updater/updater.go
Labels: backend (api), backend (media)

fix(store): テストコードの修正
  api/internal/store/database/mysql/spot_test.go
Labels: backend (api), backend (store), test

feat(store): スポット関連のビジネスロジック実装 (#2501)
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/spot.go
  api/internal/store/database/mysql/spot_test.go
  api/internal/store/database/tidb/spot.go
  api/internal/store/entity/spot.go
  api/internal/store/entity/spot_test.go
  infra/mysql/schema/2024111601-stores-add-column-spots.sql
  infra/tidb/schema/stores/2024111601-stores-add-column-spots.sql
Labels: backend (api), backend (store), infra (database), test

fix(media): MediaStore廃止にあたってライブ配信用のURLを変更 (#2502)
  api/internal/media/broadcast/updater/starter.go
  api/internal/media/broadcast/updater/updater.go
  api/internal/media/cmd/updater/registry.go
  api/internal/media/cmd/updater/updater.go
Labels: backend (api), backend (media)

feat(store): スポット操作の実装
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service/spot.go
  api/internal/store/service/spot_test.go
Labels: backend (api), backend (store), test

feat(store): スポット操作の実装 (#2503)
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service/spot.go
  api/internal/store/service/spot_test.go
Labels: backend (api), backend (store), test

feat(admin): 管理者側のスポットAPIの実装
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/admin/v1/response/spot.go
  api/internal/gateway/admin/v1/service/spot.go
  api/internal/gateway/admin/v1/service/spot_test.go
  docs/swagger/admin/components/schemas/v1/spot.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

feat(admin): 管理者側のスポットAPIの実装 (#2504)
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/admin/v1/response/spot.go
  api/internal/gateway/admin/v1/service/spot.go
  api/internal/gateway/admin/v1/service/spot_test.go
  docs/swagger/admin/components/schemas/v1/spot.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

feat: 地図に表示するマーカーのコンポーネントを実装
  web/user/src/components/atoms/icons/TheFurunekoIcon.vue
  web/user/src/components/molecules/experiences/TheExperienceMarker.vue
Labels: frontend (user)

feat: 仮置きでマーカーを表示
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

feat(user): ユーザー側のスポットAPI実装
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/admin/v1/response/spot.go
  api/internal/gateway/admin/v1/service/spot.go
  api/internal/gateway/admin/v1/service/spot_test.go
  api/internal/gateway/user/v1/handler/auth_user.go
  api/internal/gateway/user/v1/handler/spot.go
  api/internal/gateway/user/v1/service/coordinator.go
  api/internal/gateway/user/v1/service/coordinator_test.go
  api/internal/gateway/user/v1/service/producer.go
  api/internal/gateway/user/v1/service/producer_test.go
  api/internal/gateway/user/v1/service/spot.go
  api/internal/gateway/user/v1/service/spot_test.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/spot.go
  api/internal/store/entity/spot.go
  api/internal/store/entity/spot_test.go
  api/internal/store/input.go
  api/internal/store/service/spot.go
  api/internal/store/service/spot_test.go
  docs/swagger/admin/components/schemas/codes/spot.yaml
  docs/swagger/admin/components/schemas/v1/spot.response.yaml
  docs/swagger/user/components/schemas/codes/spot.yaml
  docs/swagger/user/paths/v1/spots/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/SpotApi.ts
  web/user/src/types/api/models/SpotUserType.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(api): add routes
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/spot.go
Labels: backend (api), backend (gateway)

fix(store): fix for lint
  api/internal/store/database/mysql/spot.go
Labels: backend (api), backend (store)

feat(user): ユーザー側のスポットAPI実装 (#2505)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/admin/v1/response/spot.go
  api/internal/gateway/admin/v1/service/spot.go
  api/internal/gateway/admin/v1/service/spot_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/auth_user.go
  api/internal/gateway/user/v1/handler/spot.go
  api/internal/gateway/user/v1/service/coordinator.go
  api/internal/gateway/user/v1/service/coordinator_test.go
  api/internal/gateway/user/v1/service/producer.go
  api/internal/gateway/user/v1/service/producer_test.go
  api/internal/gateway/user/v1/service/spot.go
  api/internal/gateway/user/v1/service/spot_test.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/spot.go
  api/internal/store/entity/spot.go
  api/internal/store/entity/spot_test.go
  api/internal/store/input.go
  api/internal/store/service/spot.go
  api/internal/store/service/spot_test.go
  docs/swagger/admin/components/schemas/codes/spot.yaml
  docs/swagger/admin/components/schemas/v1/spot.response.yaml
  docs/swagger/user/components/schemas/codes/spot.yaml
  docs/swagger/user/paths/v1/spots/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/SpotApi.ts
  web/user/src/types/api/models/SpotUserType.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(media): 配信エンドポイントの指定を修正
  api/internal/media/broadcast/updater/starter.go
Labels: backend (api), backend (media)

fix(media): 配信エンドポイントの指定を修正 (#2506)
  api/internal/media/broadcast/updater/starter.go
Labels: backend (api), backend (media)

fix(docs): APIドキュメントの修正
  docs/swagger/admin/paths/v1/spots/index.yaml
  docs/swagger/user/paths/v1/spots/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/SpotApi.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (admin), frontend (user), docs

fix(docs): APIドキュメントの修正 (#2507)
  docs/swagger/admin/paths/v1/spots/index.yaml
  docs/swagger/user/paths/v1/spots/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/SpotApi.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (admin), frontend (user), docs

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
