Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

feat: 施設向けの商品関連APIのドキュメント追加
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/product.go
  api/internal/gateway/user/facility/response/category.go
  api/internal/gateway/user/facility/response/producer.go
  api/internal/gateway/user/facility/response/product.go
  api/internal/gateway/user/facility/response/product_tag.go
  api/internal/gateway/user/facility/response/product_type.go
  docs/swagger/gen/user/facility/swagger.yaml
Labels: backend (api), backend (gateway), docs

feat: 施設向けの商品関連APIのドキュメント追加 (#2974)
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/product.go
  api/internal/gateway/user/facility/response/category.go
  api/internal/gateway/user/facility/response/producer.go
  api/internal/gateway/user/facility/response/product.go
  api/internal/gateway/user/facility/response/product_tag.go
  api/internal/gateway/user/facility/response/product_type.go
  docs/swagger/gen/user/facility/swagger.yaml
Labels: backend (api), backend (gateway), docs

refactor(api): Rename LINE verifier to LIFF verifier in facility auth
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/product.go
Labels: backend (api), backend (gateway)

refactor(api): Rename LINE verifier to LIFF verifier in facility auth (#2975)
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/product.go
Labels: backend (api), backend (gateway)

feat(api): Expand auth user update API to include full user details
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/request/auth_user.go
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
Labels: backend (api), backend (gateway), docs

feat(api): Expand auth user update API to include full user details (#2976)
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/request/auth_user.go
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
Labels: backend (api), backend (gateway), docs

feat: クエリパラメータからfacilityIdを取得するように修正
  web/liff/src/layouts/default.vue
  web/liff/src/pages/index.vue
  web/liff/src/pages/items/[id].vue
  web/liff/src/stores/shopping.ts
Labels: none

feat(api): Add facility handlers and services for user gateway
  api/internal/gateway/user/facility/handler/category.go
  api/internal/gateway/user/facility/handler/coordinator.go
  api/internal/gateway/user/facility/handler/producer.go
  api/internal/gateway/user/facility/handler/product.go
  api/internal/gateway/user/facility/handler/product_review.go
  api/internal/gateway/user/facility/handler/product_tag.go
  api/internal/gateway/user/facility/handler/product_type.go
  api/internal/gateway/user/facility/handler/shop.go
  api/internal/gateway/user/facility/service/category.go
  api/internal/gateway/user/facility/service/category_test.go
  api/internal/gateway/user/facility/service/coordinator.go
  api/internal/gateway/user/facility/service/coordinator_test.go
  api/internal/gateway/user/facility/service/producer.go
  api/internal/gateway/user/facility/service/producer_test.go
  api/internal/gateway/user/facility/service/product.go
  api/internal/gateway/user/facility/service/product_tag.go
  api/internal/gateway/user/facility/service/product_tag_test.go
  api/internal/gateway/user/facility/service/product_test.go
  api/internal/gateway/user/facility/service/product_type.go
  api/internal/gateway/user/facility/service/product_type_test.go
Labels: backend (api), backend (gateway), test

feat: AuthAPIの呼び出しのstoreの実装
  web/liff/src/plugins/api-client.ts
  web/liff/src/plugins/helper/factory.ts
  web/liff/src/stores/auth.ts
Labels: none

Web/liff/login (#2969)
  web/liff/src/pages/index.vue
Labels: none

feat: 認証後にユーザー情報がない場合に登録画面に遷移するように修正
  web/liff/nuxt.config.ts
  web/liff/src/pages/checkin/index.vue
  web/liff/src/pages/checkin/new.vue
  web/liff/src/pages/index.vue
Labels: none

fix: runtimeConfig.public.USER_REGISTRATION_URLを削除
  web/liff/nuxt.config.ts
Labels: none

feat(api): Add RSA key parsing functions for facility authentication
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/auth_test.go
  api/internal/gateway/user/facility/auth/jwt.go
  api/internal/gateway/user/facility/auth/jwt_test.go
  api/pkg/secret/client.go
Labels: backend (api), backend (gateway), test

feat(api): Add RSA key parsing functions for facility authentication (#2979)
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/auth_test.go
  api/internal/gateway/user/facility/auth/jwt.go
  api/internal/gateway/user/facility/auth/jwt_test.go
  api/pkg/secret/client.go
Labels: backend (api), backend (gateway), test

fix: small
  api/internal/gateway/user/facility/auth/auth.go
Labels: backend (api), backend (gateway)

Update auth.go
  api/internal/gateway/user/facility/auth/auth.go
Labels: backend (api), backend (gateway)

Feat/2025 01 31 facility auth rsa key parsing (#2980)
  api/internal/gateway/user/facility/auth/auth.go
Labels: backend (api), backend (gateway)

feat(api): Add facility handlers and services for user gateway (#2977)
  api/internal/gateway/user/facility/handler/category.go
  api/internal/gateway/user/facility/handler/coordinator.go
  api/internal/gateway/user/facility/handler/producer.go
  api/internal/gateway/user/facility/handler/product.go
  api/internal/gateway/user/facility/handler/product_review.go
  api/internal/gateway/user/facility/handler/product_tag.go
  api/internal/gateway/user/facility/handler/product_type.go
  api/internal/gateway/user/facility/handler/shop.go
  api/internal/gateway/user/facility/service/category.go
  api/internal/gateway/user/facility/service/category_test.go
  api/internal/gateway/user/facility/service/coordinator.go
  api/internal/gateway/user/facility/service/coordinator_test.go
  api/internal/gateway/user/facility/service/producer.go
  api/internal/gateway/user/facility/service/producer_test.go
  api/internal/gateway/user/facility/service/product.go
  api/internal/gateway/user/facility/service/product_tag.go
  api/internal/gateway/user/facility/service/product_tag_test.go
  api/internal/gateway/user/facility/service/product_test.go
  api/internal/gateway/user/facility/service/product_type.go
  api/internal/gateway/user/facility/service/product_type_test.go
Labels: backend (api), backend (gateway), test

fix(web): Add debug logging for LIFF ID token
  web/liff/src/pages/index.vue
Labels: none

fix(web): Display ID token in UI for debugging
  web/liff/src/pages/index.vue
Labels: none

fix(web): Add debug logging for LIFF ID token (#2981)
  web/liff/src/pages/index.vue
Labels: none

test(api): Add tests for facility user Update methods
  api/internal/user/database/tidb/facility_user_test.go
  api/internal/user/service/facility_user_test.go
Labels: backend (api), backend (user), test

fix: small
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/tidb.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/facility_user.go
Labels: backend (api), backend (gateway), backend (user)

test(api): Add tests for facility user Update methods (#2982)
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/facility_user_test.go
  api/internal/user/database/tidb/tidb.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/facility_user.go
  api/internal/user/service/facility_user_test.go
Labels: backend (api), backend (gateway), backend (user), test

feat(api): Add facility gateway services and handlers
  api/internal/gateway/user/facility/handler/cart.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/product.go
  api/internal/gateway/user/facility/handler/promotion.go
  api/internal/gateway/user/facility/response/cart.go
  api/internal/gateway/user/facility/service/cart.go
  api/internal/gateway/user/facility/service/cart_test.go
  api/internal/gateway/user/facility/service/order_fulfillment.go
  api/internal/gateway/user/facility/service/order_fulfillment_test.go
  api/internal/gateway/user/facility/service/promotion.go
  api/internal/gateway/user/facility/service/promotion_test.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
Labels: backend (api), backend (gateway), backend (store), test

feat(api): Add facility gateway services and handlers (#2983)
  api/internal/gateway/user/facility/handler/cart.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/product.go
  api/internal/gateway/user/facility/handler/promotion.go
  api/internal/gateway/user/facility/response/cart.go
  api/internal/gateway/user/facility/service/cart.go
  api/internal/gateway/user/facility/service/cart_test.go
  api/internal/gateway/user/facility/service/order_fulfillment.go
  api/internal/gateway/user/facility/service/order_fulfillment_test.go
  api/internal/gateway/user/facility/service/promotion.go
  api/internal/gateway/user/facility/service/promotion_test.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
Labels: backend (api), backend (gateway), backend (store), test

docs: Gitワークフローの日本語運用ルールを追加
  .claude/knowledge/git-workflow.md
Labels: none

ドキュメント: Gitワークフローの日本語運用ルール追加 (#2984)
  .claude/knowledge/git-workflow.md
Labels: none

feat: タイトル・ディスクリプション変更
  web/user/nuxt.config.ts
Labels: frontend (user)

feat: sitemap.xmlを新規作成
  web/user/src/public/sitemap.xml
Labels: frontend (user)

fix: db層の実装追加
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
Labels: backend (api), backend (store), test

fix: ddl
  infra/tidb/schema/stores/2025090201-alter-columns-to-orders.sql
Labels: none

fix: test
  api/internal/store/database/tidb/tidb_test.go
Labels: backend (api), backend (store), test

fix: test
  api/internal/store/database/tidb/order_test.go
Labels: backend (api), backend (store), test

fix: test
  api/internal/store/database/tidb/order_test.go
Labels: backend (api), backend (store), test

fix: test
  api/internal/messenger/entity/payload.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/push_test.go
  api/internal/messenger/worker/worker_test.go
  api/internal/store/database/tidb/order_test.go
Labels: backend (api), backend (messenger), backend (store), test

fix: test
  api/internal/gateway/user/v1/service/auth_user_test.go
Labels: backend (api), backend (gateway), test

fix(ci): すべてのGoコマンドにGOCACHE環境変数を追加
  .github/actions/setup-go/action.yaml
Labels: workflow

fix(ci): GOCACHEパスを絶対パスに修正してGo環境のエラーを解決
  .github/actions/setup-go/action.yaml
Labels: workflow

fix(ci): GitHub Actionsのテストキャッシュを修正
  .github/actions/setup-go/action.yaml
  .github/workflows/ci-backend.yaml
Labels: workflow
