Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

feat(store): 体験関連のフィールド追加
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/request/experience.go
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  docs/swagger/admin/components/schemas/entity/experience.yaml
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  docs/swagger/admin/components/schemas/v1/experience.response.yaml
  infra/mysql/schema/2024082901-stores-add-columns.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

feat(store): 体験関連のフィールド追加 (#2366)
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/request/experience.go
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  docs/swagger/admin/components/schemas/entity/experience.yaml
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  docs/swagger/admin/components/schemas/v1/experience.response.yaml
  infra/mysql/schema/2024082901-stores-add-columns.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

feat(store): 座標取得APIの実装
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/pkg/geolocation/client.go
Labels: backend (api), backend (gateway), backend (store), test

feat(store): 座標取得APIの実装 (#2367)
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/pkg/geolocation/client.go
Labels: backend (api), backend (gateway), backend (store), test

fix(gateway): 体験一覧APIの修正
  api/internal/gateway/admin/v1/handler/experience.go
Labels: backend (api), backend (gateway)

fix(docs): 体験関連のフィールド追加分をAPI Docsにも反映
  api/internal/store/input.go
  docs/swagger/admin/components/schemas/entity/experience.yaml
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  docs/swagger/admin/components/schemas/v1/experience.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (store), docs

fix(gateway): 体験一覧APIの修正 (#2369)
  api/internal/gateway/admin/v1/handler/experience.go
Labels: backend (api), backend (gateway)

feat(user): 特商法ページのi18n対応 (#2365)
  web/user/src/pages/legal-notice.vue
  web/user/src/public/_content/legalPolicy_en.md
  web/user/src/public/_content/legalPolicy_ja.md
Labels: frontend (user)

feat(gateway): 体験取得APIの実装
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/gateway/user/v1/handler/experience_type.go
  api/internal/gateway/user/v1/response/experience.go
  api/internal/gateway/user/v1/response/experience_type.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/experience_test.go
  api/internal/gateway/user/v1/service/experience_type.go
  api/internal/gateway/user/v1/service/experience_type_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  docs/swagger/user/components/schemas/codes/experience.yaml
  docs/swagger/user/components/schemas/entity/experience-type.yaml
  docs/swagger/user/components/schemas/entity/experience.yaml
  docs/swagger/user/components/schemas/v1/experience.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/experiences/_experienceId/index.yaml
  docs/swagger/user/paths/v1/experiences/index.yaml
  web/user/src/types/api/apis/ExperienceApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/Experience.ts
  web/user/src/types/api/models/ExperienceMediaInner.ts
  web/user/src/types/api/models/ExperienceResponse.ts
  web/user/src/types/api/models/ExperienceStatus.ts
  web/user/src/types/api/models/ExperienceType.ts
  web/user/src/types/api/models/ExperiencesResponse.ts
  web/user/src/types/api/models/Product.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(docs): 体験関連のフィールド追加分をAPI Docsにも反映 (#2370)
  api/internal/store/input.go
  docs/swagger/admin/components/schemas/entity/experience.yaml
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  docs/swagger/admin/components/schemas/v1/experience.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (store), docs

feat(gateway): 体験取得APIの実装 (#2371)
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/gateway/user/v1/handler/experience_type.go
  api/internal/gateway/user/v1/response/experience.go
  api/internal/gateway/user/v1/response/experience_type.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/experience_test.go
  api/internal/gateway/user/v1/service/experience_type.go
  api/internal/gateway/user/v1/service/experience_type_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  docs/swagger/user/components/schemas/codes/experience.yaml
  docs/swagger/user/components/schemas/entity/experience-type.yaml
  docs/swagger/user/components/schemas/entity/experience.yaml
  docs/swagger/user/components/schemas/v1/experience.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/experiences/_experienceId/index.yaml
  docs/swagger/user/paths/v1/experiences/index.yaml
  web/user/src/types/api/apis/ExperienceApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/Experience.ts
  web/user/src/types/api/models/ExperienceMediaInner.ts
  web/user/src/types/api/models/ExperienceResponse.ts
  web/user/src/types/api/models/ExperienceStatus.ts
  web/user/src/types/api/models/ExperienceType.ts
  web/user/src/types/api/models/ExperiencesResponse.ts
  web/user/src/types/api/models/Product.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

feat(media): ビデオに表示設定用のフィールド追加
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/gateway/admin/v1/request/video.go
  api/internal/gateway/admin/v1/response/video.go
  api/internal/gateway/admin/v1/service/video.go
  api/internal/gateway/admin/v1/service/video_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/video.go
  api/internal/media/entity/video.go
  api/internal/media/entity/video_test.go
  api/internal/media/input.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
  docs/swagger/admin/components/schemas/entity/video.yaml
  docs/swagger/admin/components/schemas/v1/video.request.yaml
  docs/swagger/admin/components/schemas/v1/video.response.yaml
  infra/mysql/schema/2024083101-media-add-columns.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), infra (database), docs, test

feat(media): ビデオに表示設定用のフィールド追加 (#2372)
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/gateway/admin/v1/request/video.go
  api/internal/gateway/admin/v1/response/video.go
  api/internal/gateway/admin/v1/service/video.go
  api/internal/gateway/admin/v1/service/video_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/video.go
  api/internal/media/entity/video.go
  api/internal/media/entity/video_test.go
  api/internal/media/input.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
  docs/swagger/admin/components/schemas/entity/video.yaml
  docs/swagger/admin/components/schemas/v1/video.request.yaml
  docs/swagger/admin/components/schemas/v1/video.response.yaml
  infra/mysql/schema/2024083101-media-add-columns.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), infra (database), docs, test

fix(gateway): オンデマンド配信APIのレスポンス修正
  api/internal/gateway/admin/v1/response/experience.go
  docs/swagger/admin/components/schemas/v1/video.request.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs

fix(gateway): ユーザー側も修正
  api/internal/gateway/user/v1/response/experience.go
Labels: backend (api), backend (gateway)

feat(media): オンデマンド配信一覧取得メソッドの改修
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/video.go
  api/internal/media/input.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
Labels: backend (api), backend (gateway), backend (media), test

fix(gateway): オンデマンド配信APIのレスポンス修正 (#2373)
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/user/v1/response/experience.go
  docs/swagger/admin/components/schemas/v1/video.request.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs

feat(media): オンデマンド配信一覧取得メソッドの改修 (#2374)
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/video.go
  api/internal/media/input.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
Labels: backend (api), backend (gateway), backend (media), test

feat(gateway): トップ用のAPIにオンデマンド配信一覧を追加
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/handler/video.go
  api/internal/gateway/user/v1/response/top.go
  api/internal/gateway/user/v1/response/video.go
  api/internal/gateway/user/v1/service/video_summary.go
  api/internal/gateway/user/v1/service/video_summary_test.go
  docs/swagger/user/components/schemas/entity/video.yaml
  docs/swagger/user/components/schemas/v1/top.response.yaml
  docs/swagger/user/openapi.yaml
  web/user/src/types/api/models/TopCommonResponse.ts
  web/user/src/types/api/models/VideoSummary.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

feat(gateway): トップ用のAPIにオンデマンド配信一覧を追加 (#2375)
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/handler/video.go
  api/internal/gateway/user/v1/response/top.go
  api/internal/gateway/user/v1/response/video.go
  api/internal/gateway/user/v1/service/video_summary.go
  api/internal/gateway/user/v1/service/video_summary_test.go
  docs/swagger/user/components/schemas/entity/video.yaml
  docs/swagger/user/components/schemas/v1/top.response.yaml
  docs/swagger/user/openapi.yaml
  web/user/src/types/api/models/TopCommonResponse.ts
  web/user/src/types/api/models/VideoSummary.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

feat(gateway): オンデマンド配信関連APIの実装
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/handler/video.go
  api/internal/gateway/user/v1/response/video.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/video.go
  api/internal/gateway/user/v1/service/video_test.go
  api/internal/media/entity/video.go
  api/internal/media/entity/video_test.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  docs/swagger/admin/components/schemas/codes/experience.yaml
  docs/swagger/user/components/schemas/codes/experience.yaml
  docs/swagger/user/components/schemas/entity/video.yaml
  docs/swagger/user/components/schemas/v1/video.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/videos/_videoId/index.yaml
  docs/swagger/user/paths/v1/videos/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/VideoApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/ExperienceStatus.ts
  web/user/src/types/api/models/Video.ts
  web/user/src/types/api/models/VideoResponse.ts
  web/user/src/types/api/models/VideosResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (store), docs, test

feat: 動画管理で利用するコンポーネントの用意
  web/admin/src/components/molecules/VideoLinkedExperienceItem.vue
  web/admin/src/components/molecules/VideoLinkedProductItem.vue
Labels: frontend (admin)

fix(docs): オンデマンド配信更新APIのリクエスト修正
  docs/swagger/admin/components/schemas/v1/video.request.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat: 動画管理用のフォームコンポーネントの実装
  web/admin/src/components/organisms/VideoForm.vue
Labels: frontend (admin)

feat: apiClientにvideoApiを追加
  web/admin/src/plugins/api-client.ts
Labels: frontend (admin)

fix(media): オンデマンド配信一覧APIの修正
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/video.go
  api/internal/media/input.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
Labels: backend (api), backend (gateway), backend (media), test

feat: Video用のStoreを定義
  web/admin/src/store/index.ts
  web/admin/src/store/video.ts
Labels: frontend (admin)

style: linterでフォーマットした
  web/admin/nuxt.config.ts
  web/admin/src/store/video.ts
Labels: frontend (admin)

fix(media): オンデマンド配信一覧APIの修正 (#2376)
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/video.go
  api/internal/media/input.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
Labels: backend (api), backend (gateway), backend (media), test

feat: 動画管理用のページを追加
  web/admin/src/layouts/default.vue
  web/admin/src/pages/videos/[id]/index.vue
  web/admin/src/pages/videos/index.vue
  web/admin/src/pages/videos/new.vue
Labels: frontend (admin)

feat(media): オンデマンド配信コメント機能の実装
  api/internal/gateway/admin/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/mysql.go
  api/internal/media/database/mysql/video_comment.go
  api/internal/media/database/mysql/video_comment_test.go
  api/internal/media/entity/broadcast_comment.go
  api/internal/media/entity/video_comment.go
  api/internal/media/entity/video_comment_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment.go
  api/internal/media/service/broadcast_comment_test.go
  api/internal/media/service/service_test.go
  api/internal/media/service/video_comment.go
  api/internal/media/service/video_comment_test.go
  docs/swagger/admin/paths/v1/schedules/_scheduleId/comments/index.yaml
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  infra/mysql/schema/2024090201-media-create-video-comments.sql
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/ScheduleApi.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), infra (database), docs, test

Update 2024090201-media-create-video-comments.sql
  infra/mysql/schema/2024090201-media-create-video-comments.sql
Labels: infra (database)

fix(gateway): remove unused variable
  api/internal/gateway/user/v1/handler/api.go
Labels: backend (api), backend (gateway)

fix(media): fix test code
  api/internal/media/database/mysql/broadcast_comment_test.go
  api/internal/media/database/mysql/video_comment_test.go
Labels: backend (api), backend (media), test

fix(media): fix test code
  api/internal/media/database/mysql/broadcast_comment_test.go
  api/internal/media/database/mysql/video_comment_test.go
Labels: backend (api), backend (media), test

feat(media): オンデマンド配信コメント機能の実装 (#2377)
  api/internal/gateway/admin/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/mysql.go
  api/internal/media/database/mysql/video_comment.go
  api/internal/media/database/mysql/video_comment_test.go
  api/internal/media/entity/broadcast_comment.go
  api/internal/media/entity/video_comment.go
  api/internal/media/entity/video_comment_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment.go
  api/internal/media/service/broadcast_comment_test.go
  api/internal/media/service/service_test.go
  api/internal/media/service/video_comment.go
  api/internal/media/service/video_comment_test.go
  docs/swagger/admin/paths/v1/schedules/_scheduleId/comments/index.yaml
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  infra/mysql/schema/2024090201-media-create-video-comments.sql
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/ScheduleApi.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), infra (database), docs, test

feat(media): オンデマンド配信視聴ログ機能の実装
  api/internal/media/database/database.go
  api/internal/media/database/mysql/mysql.go
  api/internal/media/database/mysql/video_viewer_log.go
  api/internal/media/database/mysql/video_viewer_log_test.go
  api/internal/media/entity/video_viewer_log.go
  api/internal/media/entity/video_viewer_log_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment_test.go
  api/internal/media/service/broadcast_viewer_log_test.go
  api/internal/media/service/service_test.go
  api/internal/media/service/video_viewer_log.go
  api/internal/media/service/video_viewer_log_test.go
  infra/mysql/schema/2024090202-media-create-video-viewer-logs.sql
Labels: backend (api), backend (media), infra (database), test

fix(media): fix test code
  api/internal/media/database/mysql/mysql_test.go
Labels: backend (api), backend (media), test

feat(media): オンデマンド配信視聴ログ機能の実装 (#2378)
  api/internal/media/database/database.go
  api/internal/media/database/mysql/mysql.go
  api/internal/media/database/mysql/mysql_test.go
  api/internal/media/database/mysql/video_viewer_log.go
  api/internal/media/database/mysql/video_viewer_log_test.go
  api/internal/media/entity/video_viewer_log.go
  api/internal/media/entity/video_viewer_log_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment_test.go
  api/internal/media/service/broadcast_viewer_log_test.go
  api/internal/media/service/service_test.go
  api/internal/media/service/video_viewer_log.go
  api/internal/media/service/video_viewer_log_test.go
  infra/mysql/schema/2024090202-media-create-video-viewer-logs.sql
Labels: backend (api), backend (media), infra (database), test

feat(store): 注文種別の追加
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/guest_checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/gateway/user/v1/request/guest_checkout.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/codes/order.yaml
  docs/swagger/user/components/schemas/entity/order.yaml
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  docs/swagger/user/components/schemas/v1/guest-checkout.request.yaml
  docs/swagger/user/components/schemas/v1/order.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/products/index.yaml
  docs/swagger/user/paths/v1/guests/checkouts/products/index.yaml
  infra/mysql/schema/2024090203-stores-add-columns.sql
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/store/checkout.ts
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/apis/GuestApi.ts
  web/user/src/types/api/models/CheckoutProductRequest.ts
  web/user/src/types/api/models/GuestCheckoutProductRequest.ts
  web/user/src/types/api/models/Order.ts
  web/user/src/types/api/models/OrderType.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (messenger), backend (store), infra (database), docs, test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
