Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix: delete policy
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (gateway)

chore: make swagger
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

Feat(messenger): DeleteNotification gateway (#335)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
  api/internal/messenger/service.go
  api/mock/messenger/service.go
Labels: backend (gateway), backend (messenger), test

feat: add delete_notification swagger (#330)
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/notifications/_notificationId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

お問合せ４
  web/admin/src/pages/contacts/edit.vue
  web/admin/src/pages/contacts/edit/_id.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

お問合せ４lintfixした
  web/admin/src/pages/contacts/edit/_id.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

feat: コーディネータ登録の関数を用意
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

feat: コーディネータ登録機能をapiと紐付ける
  web/admin/src/pages/coordinator/add.vue
Labels: frontend (admin)

Add: added promotion create ui
  web/admin/src/components/organisms/ThePromotionForm.vue
  web/admin/src/components/templates/ThePromotionCreateFormPage.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/index.vue
Labels: frontend (admin)

fix: ファイルプレビューをしない
  web/admin/src/components/atoms/TheFileUploadFiled.vue
Labels: frontend (admin)

fix: アップロードしたファイルを表示する
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

feat: add Marshal method
  api/internal/messenger/entity/notification.go
Labels: backend (messenger)

database: add Update to interface
  api/internal/messenger/database/database.go
Labels: backend (messenger)

feat: add UpdateNotification datebase layer
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
Labels: backend (messenger), test

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (messenger)

feat: add Marshal test
  api/internal/messenger/entity/notification_test.go
Labels: backend (messenger), test

fix(gateway): fix json tag in product request'
  api/internal/gateway/admin/v1/request/product.go
Labels: backend (gateway)

Update product.go
  api/internal/gateway/admin/v1/request/product.go
Labels: backend (gateway)

fix(gateway): fix json tag in product request' (#339)
  api/internal/gateway/admin/v1/request/product.go
Labels: backend (gateway)

feat: 商品登録機能の実装
  web/admin/src/pages/products/add.vue
  web/admin/src/store/product.ts
Labels: frontend (admin)

fix(store): fix fill from json input
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
Labels: backend (store), test

fix(store): fix fill from json input (#340)
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
Labels: backend (store), test

fix(gateway): fix error handling for create api
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
Labels: backend (gateway), test

fix(gateway): fix small
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
Labels: backend (gateway), test

fix: remove notificationID form params
  api/internal/messenger/database/database.go
  api/internal/messenger/database/notification_test.go
Labels: backend (messenger), test

fix: update Fill() method
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
Labels: backend (messenger), test

Feat(messenger): UpdateNotification database layer (#338)
  api/internal/messenger/database/database.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
  api/mock/messenger/database/database.go
Labels: backend (messenger), test

feat: add UpdateNotificationInput
  api/internal/messenger/input.go
Labels: backend (messenger)

feat: add Update to service
  api/internal/messenger/service.go
Labels: backend (messenger)

feat: add UpdateNotifcation service layer
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
Labels: backend (messenger), test

chore make mockgen
  api/mock/messenger/service.go
Labels: backend (messenger)

fix: lint error
  api/internal/messenger/service/notification.go
Labels: backend (messenger)

fix: lint error
  api/internal/messenger/service/notification.go
Labels: backend (messenger)

feat: add required
  api/internal/messenger/input.go
Labels: backend (messenger)

Feat(messenger): UpdateNotification service layer (#342)
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
  api/mock/messenger/service.go
Labels: backend (messenger), test

docs: add UpdateNotification swagger
  docs/swagger/admin/components/schemas/v1/notification.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/notifications/_notificationId/index.yaml
Labels: docs

chore: make swagger
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

fix(gateway): fix error handling for create api (#341)
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
Labels: backend (gateway), test

fix: change description
  docs/swagger/admin/paths/v1/notifications/_notificationId/index.yaml
Labels: docs

Docs(messenger): UpdateNotification make swagger (#358)
  docs/swagger/admin/components/schemas/v1/notification.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/notifications/_notificationId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs
