Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

大嶋さんからの指摘を修正
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/purchase/index.vue
Labels: frontend (user)

大嶋さんからの指摘を修正 (#2426)
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/purchase/index.vue
Labels: frontend (user)

feat(hack): メッセージ送信用のコマンド実装 (#2414)
  api/output_20240924223532.txt
Labels: backend (api)

Release for v1.11.45 (#2422)
  CHANGELOG.md
  api/output_20240924223532.txt
Labels: backend (api)

feat(store): 0円決済の対応
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

fix(store): fix for lint
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/service/checkout.go
Labels: backend (api), backend (store), test

fix(store): fix for lint
  api/internal/store/service/checkout.go
Labels: backend (api), backend (store)

feat(store): 0円決済の対応 (#2427)
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

fix(store): 0円決済時のステータスを修正
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/service/checkout.go
Labels: backend (api), backend (store), test

fix(store): 0円決済時のステータスを修正 (#2429)
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/service/checkout.go
Labels: backend (api), backend (store), test

fix: 買い物カゴでのレイアウト崩れに対応
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
Labels: frontend (user)

fix: 未ログイン時はゲストでの購入の導線に飛ばすように変更
  web/user/src/pages/purchase/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: frontend (user)

refactor(store): 決済周りのロジックを整理
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

style: urlの参照を統一
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

未ログイン時の購入フローでログインを挟まずにゲスト購入に流れるように変更 (#2430)
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/purchase/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: frontend (user)

fix: 住所入力時に郵便番号のエラーハンドリングを追加 (#2419)
  web/user/src/components/organisms/TheNewAddressForm.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/store/address.ts
Labels: frontend (user)

Release for v1.11.46 (#2428)
  CHANGELOG.md
Labels: none

feat(store): 0円決済の対応
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/store/service.go
  docs/swagger/admin/components/schemas/codes/order-payment.yaml
  docs/swagger/user/components/schemas/codes/order-payment.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/PaymentMethodType.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (store), docs, test

refactor(store): 決済周りのロジックを整理 (#2431)
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/admin/components/schemas/codes/order-payment.yaml
  docs/swagger/user/components/schemas/codes/order-payment.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/PaymentMethodType.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix: ゲストの購入手続き時に住所情報がリロードしても欠落しないように修正
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/store/address.ts
Labels: frontend (user)

feat(store): 即時決済機能を有効に
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/store/komoju/code.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/service.go
Labels: backend (api), backend (gateway), backend (store), test

feat(store): 即時決済機能を有効に (#2436)
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/store/komoju/code.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/service.go
Labels: backend (api), backend (gateway), backend (store), test

fix: ゲストの購入手続き時に住所情報がリロードしても欠落しないように修正 (#2435)
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/store/address.ts
Labels: frontend (user)

fix(store): 即時決済対応周りの処理を修正
  api/internal/store/entity/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
Labels: backend (api), backend (store), test

fix(store): 即時決済対応周りの処理を修正 (#2437)
  api/internal/store/entity/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
Labels: backend (api), backend (store), test

fix(func): 移行前のユーザーがパスワードリセットした際の処理を修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): 移行前のユーザーがパスワードリセットした際の処理を修正 (#2438)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

Revert "fix(func): 移行前のユーザーがパスワードリセットした際の処理を修正 (#2438)"
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

Revert "fix(func): 移行前のユーザーがパスワードリセットした際の処理を修正 (#2438)" (#2439)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): 移行前のユーザーがパスワードリセットした際の処理を修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): 移行前のユーザーがパスワードリセットした際の処理を修正 (#2440)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): パスワードリセット時に詰めるusernameを修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): パスワードリセット時に詰めるusernameを修正 (#2441)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): パスワードリセット時に詰めるusernameを修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): パスワードリセット時に詰めるusernameを修正 (#2442)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): パスワードリセット時に詰めるステータスを修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): 認証時に詰めるステータスを動的に
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoのマイグレーション時に詰めるステータスを修正 (#2443)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

Revert "fix(func): Cognitoのマイグレーション時に詰めるステータスを修正 (#2443)"
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

Revert "fix(func): Cognitoのマイグレーション時に詰めるステータスを修正 (#2443)" (#2444)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)
