Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(admin): 商品登録・編集画面の修正
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/types/validations/product.ts
  web/admin/src/types/validations/shipping.ts
Labels: frontend (admin)

fix(store): クレジットカードのバリデーション実装
  api/internal/store/entity/credit_card.go
  api/internal/store/entity/credit_card_test.go
  api/internal/store/input.go
  api/internal/store/komoju/errors.go
  api/internal/store/komoju/errors_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

fix(store): クレジットカードのバリデーション実装 (#1856)
  api/internal/store/entity/credit_card.go
  api/internal/store/entity/credit_card_test.go
  api/internal/store/input.go
  api/internal/store/komoju/errors.go
  api/internal/store/komoju/errors_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

Add: added coordinator moblie page (#1855)
  web/user/src/components/molecules/TheCoordinatorArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/components/molecules/TheProducerList.vue
  web/user/src/pages/coordinator/[...id].vue
Labels: frontend (user)

Fix: fixed coordinator page routing
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

Fix: fixed coordinator page routing (#1857)
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

Fix: fixed moblie layout
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

Fix: fixed moblie layout (#1858)
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

fix: アーカイブコンテンツのレイアウト調整
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

fix: 買い物かごの送料のこちらのリンクを削除
  web/user/src/components/organisms/header/ThePcCartMenu.vue
Labels: frontend (user)

fix: 認証コード入力画面のモバイル画面のレイアウト調整
  web/user/src/components/templates/TheVerifyCodePage.vue
Labels: frontend (user)

fix: aboutページのレイアウト調整
  web/user/src/pages/about.vue
Labels: frontend (user)

feat: 商品詳細ページにサムネイル画像以外も表示する領域を追加
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

fix: 注文IDをセンタリングにした
  web/user/src/pages/v1/purchase/complete.vue
Labels: frontend (user)

feat: 送料に関する表記を修正
  web/user/src/public/_content/legalPolicy.md
Labels: frontend (user)

[fix] 送料文面修正
  web/user/src/public/_content/legalPolicy.md
Labels: frontend (user)

[fix] 特商法表記の句読点修正
  web/user/src/public/_content/legalPolicy.md
Labels: frontend (user)

feat: cartメニューの遷移先を変更
  web/user/src/components/organisms/header/ThePcCartMenu.vue
Labels: frontend (user)

feat: aboutページからの送料リンクの遷移先を特商法ページに変更
  web/user/src/pages/about.vue
Labels: frontend (user)

fix: 送料の表記に具体例を追加
  web/user/src/public/_content/legalPolicy.md
Labels: frontend (user)

fix: 送料の表記を修正
  web/user/src/public/_content/legalPolicy.md
Labels: frontend (user)

feat: 送料への遷移追加と表記の修正 (#1860)
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/pages/about.vue
  web/user/src/public/_content/legalPolicy.md
Labels: frontend (user)

fix: プレースホルダーから@を消す
  web/user/src/components/organisms/TheSignUpForm.vue
Labels: frontend (user)

モバイル版のレイアウト調整 (#1859)
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/organisms/TheSignUpForm.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/templates/TheVerifyCodePage.vue
  web/user/src/pages/about.vue
  web/user/src/pages/index.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/v1/purchase/complete.vue
Labels: frontend (user)

Fix: fixed coordinator live item
  web/user/src/pages/coordinator/[...id].vue
Labels: frontend (user)

fix(store): 支払いAPIのエラーハンドリング修正
  api/internal/store/komoju/api.go
  api/internal/store/komoju/api_test.go
  api/internal/store/komoju/errors.go
  api/internal/store/komoju/errors_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

Fix: fixed coordinator live item (#1861)
  web/user/src/pages/coordinator/[...id].vue
Labels: frontend (user)

feat: 商品説明をhtmlからtextareaに変更
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
Labels: frontend (admin)

feat: 配信スケジュールをhtmlからtextareaに変更
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

feat: 配信の概要をhtmlからtextareaに変更
  web/admin/src/components/organisms/LiveList.vue
Labels: frontend (admin)

fix(store): fix small
  api/internal/store/komoju/payment/payment_test.go
  api/internal/store/komoju/session/session_test.go
Labels: backend (api), backend (store), test

fix: textareaの配置調整
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

fix: 商品説明をv-cardtextタグ内に移動
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
Labels: frontend (admin)

feat: prd用の環境変数を追加
  infra/serverless/env/prd.yaml
Labels: none

Admin側のHTMLのエディタを取り除く (#1863)
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

fix(store): 支払いAPIのエラーハンドリング修正 (#1862)
  api/internal/store/komoju/api.go
  api/internal/store/komoju/api_test.go
  api/internal/store/komoju/errors.go
  api/internal/store/komoju/errors_test.go
  api/internal/store/komoju/payment/payment_test.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

fix(messenger): SendGridのprd環境用設定を追加
  api/config/messenger/mailer/prd.yaml
Labels: backend (api)

feat: アカウントページへの遷移ロジックを追加
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/layouts/default.vue
Labels: frontend (user)

fix: ミドルウェアのロジックを修正
  web/user/src/middleware/auth.global.ts
Labels: frontend (user)

feat: アカウントページの実装
  web/user/src/pages/account/index.vue
Labels: frontend (user)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
