Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (api)

feat: ライブやアーカイブ部分で表示するアイコンを配置
  web/user/src/components/atoms/icons/TheEllipsisVerticalIcon.vue
Labels: frontend (user)

feat: アイコンを追加
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheLiveItem.vue
Labels: frontend (user)

feat: アーカイブ部分の横スクロールのボタンを配置
  web/user/src/pages/index.vue
Labels: frontend (user)

Create list thread service (#972)
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/thread.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger)

ホーム画面のアーカイブ部分とおすすめ商品部分のレイアウトをセットアップ (#971)
  web/user/src/components/atoms/icons/TheEllipsisVerticalIcon.vue
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/constants/mock/archive.ts
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/recommend.ts
  web/user/src/pages/index.vue
  web/user/src/public/img/archive/1.png
  web/user/src/public/img/archive/2.png
  web/user/src/public/img/archive/3.png
  web/user/src/public/img/archive/4.png
  web/user/src/public/img/recommend/1.png
  web/user/src/public/img/recommend/2.png
  web/user/src/public/img/recommend/3.png
  web/user/src/public/img/recommend/4.png
  web/user/src/public/img/recommend/5.png
  web/user/src/public/img/recommend/cn.png
Labels: frontend (user)

refactor(admin): エラー処理の統一とコーディネータ周りの修正
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/coordinators/add.vue
  web/admin/src/pages/coordinators/edit/[id].vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/producers/edit/[id].vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/shippings/add.vue
  web/admin/src/pages/shippings/edit/[id].vue
  web/admin/src/pages/signin.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

refactor(admin): エラー処理の統一とコーディネータ周りの修正 (#973)
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/coordinators/add.vue
  web/admin/src/pages/coordinators/edit/[id].vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/producers/edit/[id].vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/shippings/add.vue
  web/admin/src/pages/shippings/edit/[id].vue
  web/admin/src/pages/signin.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

feat(admin): メニューバーの整理
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/SystemTop.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/administrators/index.vue
  web/admin/src/pages/settings.vue
  web/admin/src/pages/system.vue
Labels: frontend (admin)

fix(admin): fix for lint
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/system.vue
Labels: frontend (admin)

feat(admin): メニューバーの整理 (#974)
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/SystemTop.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/administrators/index.vue
  web/admin/src/pages/settings.vue
  web/admin/src/pages/system.vue
Labels: frontend (admin)

feat(admin): 管理者一覧ページの実装
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/pages/administrators/index.vue
  web/admin/src/store/administrator.ts
Labels: frontend (admin)

feat(admin): 管理者一覧ページの実装 (#975)
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/pages/administrators/index.vue
  web/admin/src/store/administrator.ts
Labels: frontend (admin)

refactor(admin): Path設計の見直し
  web/admin/src/components/organisms/RelatedProducerList.vue
  web/admin/src/components/templates/AuthTop.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/contacts/[id]/index.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/[id]/edit.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/pages/customers/[id]/indev.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/livestreaming/new.vue
  web/admin/src/pages/notifications/[id]/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/producers/new.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/pages/promotions/[id]/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/promotions/new.vue
  web/admin/src/pages/shippings/[id]/index.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/pages/system.vue
Labels: frontend (admin)

refactor(admin): Path設計の見直し (#976)
  web/admin/src/components/organisms/RelatedProducerList.vue
  web/admin/src/components/templates/AuthTop.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/contacts/[id]/index.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/[id]/edit.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/pages/customers/[id]/indev.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/livestreaming/new.vue
  web/admin/src/pages/notifications/[id]/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/producers/new.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/pages/promotions/[id]/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/promotions/new.vue
  web/admin/src/pages/shippings/[id]/index.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/pages/system.vue
Labels: frontend (admin)

refactor(admin): storeの命名を統一
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/contacts/[id]/index.vue
  web/admin/src/pages/coordinators/[id]/edit.vue
  web/admin/src/pages/customers/[id]/indev.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/notifications/[id]/index.vue
  web/admin/src/pages/promotions/[id]/index.vue
  web/admin/src/store/administrator.ts
  web/admin/src/store/category.ts
  web/admin/src/store/contact.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/customer.ts
  web/admin/src/store/message.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/shipping.ts
Labels: frontend (admin)

fix(admin): fix for lint
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

fix(admin): fix small
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

fix(admin): fix typo
  web/admin/src/pages/coordinators/[id]/edit.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/messages/index.vue
  web/admin/src/pages/notifications/[id]/index.vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/producers/new.vue
  web/admin/src/pages/promotions/[id]/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/promotions/new.vue
  web/admin/src/pages/shippings/[id]/index.vue
  web/admin/src/pages/shippings/new.vue
Labels: frontend (admin)

fix(admin): fix small
  web/admin/src/pages/coordinators/[id]/index.vue
Labels: frontend (admin)

refactor(admin): storeの命名を統一 (#977)
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/contacts/[id]/index.vue
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/[id]/indev.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/messages/index.vue
  web/admin/src/pages/notifications/[id]/index.vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/producers/new.vue
  web/admin/src/pages/promotions/[id]/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/promotions/new.vue
  web/admin/src/pages/shippings/[id]/index.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/store/administrator.ts
  web/admin/src/store/category.ts
  web/admin/src/store/contact.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/customer.ts
  web/admin/src/store/message.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/shipping.ts
Labels: frontend (admin)

refactor(admin): UIの大枠を統一
  web/admin/src/components/atoms/AppLogoWithTitle.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/AuthEditEmail.vue
  web/admin/src/components/templates/AuthEditPassword.vue
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/components/templates/AuthTop.vue
  web/admin/src/components/templates/AuthVerifyEmail.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/components/templates/ContactEdit.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/components/templates/MessageList.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/components/templates/SettingVersion.vue
  web/admin/src/components/templates/ShippingEdit.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/components/templates/SystemTop.vue
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

refactor(admin): UIの大枠を統一 (#978)
  web/admin/src/components/atoms/AppLogoWithTitle.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/AuthEditEmail.vue
  web/admin/src/components/templates/AuthEditPassword.vue
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/components/templates/AuthTop.vue
  web/admin/src/components/templates/AuthVerifyEmail.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/components/templates/ContactEdit.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/components/templates/MessageList.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/components/templates/SettingVersion.vue
  web/admin/src/components/templates/ShippingEdit.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/components/templates/SystemTop.vue
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

feat(admin): 管理者機能の実装
  web/admin/src/components/templates/AdministratorEdit.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/AdministratorNew.vue
  web/admin/src/pages/administrators/[id]/index.vue
  web/admin/src/pages/administrators/index.vue
  web/admin/src/pages/administrators/new.vue
  web/admin/src/store/administrator.ts
Labels: frontend (admin)

fix(admin): fix small
  web/admin/src/pages/administrators/[id]/index.vue
Labels: frontend (admin)

chore: add GetThread policy
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

feat: add ThreadResponse type
  api/internal/gateway/admin/v1/response/thread.go
Labels: backend (api), backend (gateway)

feat: implement GetThread handler
  api/internal/gateway/admin/v1/handler/thread.go
Labels: backend (api), backend (gateway)

chore: add ListThread policy
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

feat: add Thread Service
  api/internal/gateway/admin/v1/service/thread.go
Labels: backend (api), backend (gateway)

feat: implement ListThreadsByContactId handler
  api/internal/gateway/admin/v1/handler/thread.go
Labels: backend (api), backend (gateway)

feat(admin): バリデーションチェックの実装
  web/admin/src/components/templates/AdministratorEdit.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/AdministratorNew.vue
  web/admin/src/pages/administrators/[id]/index.vue
  web/admin/src/pages/administrators/index.vue
  web/admin/src/pages/administrators/new.vue
Labels: frontend (admin)

feat(admin): 管理者機能の実装 (#979)
  web/admin/src/components/templates/AdministratorEdit.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/AdministratorNew.vue
  web/admin/src/pages/administrators/[id]/index.vue
  web/admin/src/pages/administrators/index.vue
  web/admin/src/pages/administrators/new.vue
  web/admin/src/store/administrator.ts
Labels: frontend (admin)

refactor(admin): アカウント周りのリファクタ
  web/admin/src/components/templates/AdministratorEdit.vue
  web/admin/src/components/templates/AdministratorNew.vue
  web/admin/src/components/templates/AuthEditEmail.vue
  web/admin/src/components/templates/AuthEditPassword.vue
  web/admin/src/components/templates/AuthVerifyEmail.vue
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

refactor(admin): アカウント周りのリファクタ (#981)
  web/admin/src/components/templates/AdministratorEdit.vue
  web/admin/src/components/templates/AdministratorNew.vue
  web/admin/src/components/templates/AuthEditEmail.vue
  web/admin/src/components/templates/AuthEditPassword.vue
  web/admin/src/components/templates/AuthVerifyEmail.vue
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

refactor(admin): カテゴリページのリファクタ
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

refactor(admin): カテゴリページのリファクタ (#982)
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

wip
  web/admin/src/components/templates/AdministratorEdit.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/components/templates/ContactEdit.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/pages/administrators/index.vue
  web/admin/src/pages/contacts/[id]/index.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

feat: add limit and offset to database
  api/internal/messenger/database/database.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

feat: add Count to thread db
  api/internal/messenger/database/database.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
