Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

feat(store): 返金イベントの処理を実装
  api/internal/gateway/komoju/handler/event.go
  api/internal/gateway/komoju/handler/payment.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin), backend (api), backend (gateway), backend (store), test

feat(media): 配信リソース削除処理の実装
  api/internal/media/broadcast/scheduler/closer.go
  api/internal/media/broadcast/scheduler/const.go
Labels: backend (api), backend (media)

feat(store): 返金イベントの処理を実装 (#1689)
  api/internal/gateway/komoju/handler/event.go
  api/internal/gateway/komoju/handler/payment.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin), backend (api), backend (gateway), backend (store), test

feat(serveless): MediaStoreの削除処理を作成して統合 (#1688)
  infra/serverless/functions/deleteMediaStoreObjects/handler.js
  infra/serverless/functions/listMediaStoreItems/handler.js
  infra/serverless/package.json
  infra/serverless/serverless.yml
  infra/serverless/yarn.lock
Labels: none

feat: ローディング状態のアニメーションを追加
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

fix(store): コーディネータの配送設定取得処理を修正
  api/internal/store/service/checkout.go
Labels: backend (api), backend (store)

fix(store): コーディネータの配送設定取得処理を修正 (#1691)
  api/internal/store/service/checkout.go
Labels: backend (api), backend (store)

fix: 文字サイズを調整
  web/user/src/components/organisms/TheAddressInfo.vue
Labels: frontend (user)

feat: 購入手続き画面の支払い情報入力画面のレイアウトを調整
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/store/address.ts
Labels: frontend (user)

fix(store): 購入する買い物かごの指定が誤っている箇所を修正
  api/internal/store/service/checkout.go
Labels: backend (api), backend (store)

feat(media): 配信リソース削除処理の実装 (#1690)
  api/internal/media/broadcast/scheduler/closer.go
  api/internal/media/broadcast/scheduler/const.go
Labels: backend (api), backend (media)

chore: lockファイルの更新
  web/user/yarn.lock
Labels: frontend (user)

fix: CIのNodeのバージョンを更新
  .github/workflows/ci-web-user.yaml
Labels: workflow

style: 不要な変数を削除
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

購入手続きフローの整備 (#1692)
  .github/workflows/ci-web-user.yaml
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/organisms/TheAddressInfo.vue
  web/user/src/components/organisms/TheNewAddressForm.vue
  web/user/src/constants/prefectures.ts
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/plugins/helpter/factory.ts
  web/user/src/store/address.ts
  web/user/src/store/auth.ts
  web/user/yarn.lock
Labels: frontend (user), workflow

fix(store): 支払いイベント処理で、更新日時のミリ秒以下は見ないように
  api/internal/store/database/mysql/order.go
Labels: backend (api), backend (store)

setup: ESLintのルールにconsistent-type-importsを追加
  web/user/.eslintrc.cjs
Labels: frontend (user)

feat: チャンネル作成時に重複を回避する処理を追加
  infra/serverless/serverless.yml
Labels: none

feat: チャンネルが既に存在した場合にDB格納用にチャンネル情報を取り出す処理を追加
  infra/serverless/functions/getExistsChannelIndex/handler.js
  infra/serverless/serverless.yml
Labels: none

feat(store): カートの計算APIを実装
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/gateway/user/v1/response/promotion.go
  api/internal/gateway/user/v1/service/promotion.go
  api/internal/gateway/user/v1/service/promotion_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  api/mock/store/service.go
  docs/swagger/user/components/schemas/codes/promotion.yaml
  docs/swagger/user/components/schemas/entity/cart.yaml
  docs/swagger/user/components/schemas/entity/promotion.yaml
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/carts/-/items/_productId/index.yaml
  docs/swagger/user/paths/v1/carts/_coordinatorId/calc.yaml
  web/user/src/types/api/apis/CartApi.ts
  web/user/src/types/api/models/CalcCartResponse.ts
  web/user/src/types/api/models/CartItem.ts
  web/user/src/types/api/models/CheckoutRequest.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/Promotion.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

feat(store): カートの計算APIを実装 (#1695)
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/gateway/user/v1/response/promotion.go
  api/internal/gateway/user/v1/service/promotion.go
  api/internal/gateway/user/v1/service/promotion_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  api/mock/store/service.go
  docs/swagger/user/components/schemas/codes/promotion.yaml
  docs/swagger/user/components/schemas/entity/cart.yaml
  docs/swagger/user/components/schemas/entity/promotion.yaml
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/carts/-/items/_productId/index.yaml
  docs/swagger/user/paths/v1/carts/_coordinatorId/calc.yaml
  web/user/src/types/api/apis/CartApi.ts
  web/user/src/types/api/models/CalcCartResponse.ts
  web/user/src/types/api/models/CartItem.ts
  web/user/src/types/api/models/CheckoutRequest.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/Promotion.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

チャンネル作成時に重複を回避する処理を追加 (#1694)
  infra/serverless/functions/getExistsChannelIndex/handler.js
  infra/serverless/serverless.yml
Labels: none

fix(docs): 型の定義の詳細化
  docs/swagger/user/components/schemas/entity/cart.yaml
  docs/swagger/user/paths/v1/addresses/_addressId/index.yaml
  docs/swagger/user/paths/v1/addresses/index.yaml
  web/user/src/types/api/apis/AddressApi.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/Cart.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user), docs

fix(admin): 注文詳細画面のレビュー反映
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

fix(docs): 型の定義の詳細化 (#1696)
  docs/swagger/user/components/schemas/entity/cart.yaml
  docs/swagger/user/paths/v1/addresses/_addressId/index.yaml
  docs/swagger/user/paths/v1/addresses/index.yaml
  web/user/src/types/api/apis/AddressApi.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/Cart.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user), docs

fix(admin): 注文詳細画面のレビュー反映 (#1697)
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

feat: ログアウトボタンの配置
  web/user/src/assets/img/account.png
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/store/auth.ts
Labels: frontend (user)

feat: ミドルウェアで認証情報の更新を実施する
  web/user/src/middleware/auth.global.ts
  web/user/src/store/auth.ts
Labels: frontend (user)

fix: actionsのバージョンをv4に固定する
  .github/workflows/pr-labeler.yaml
Labels: workflow

Revert "fix: actionsのバージョンをv4に固定する"
  .github/workflows/pr-labeler.yaml
Labels: workflow

fix: Lablerのバージョンをv4に固定にする
  .github/workflows/pr-labeler.yaml
Labels: workflow

fix: Lablerのバージョンをv4に固定にする (#1699)
  .github/workflows/pr-labeler.yaml
Labels: workflow

fix: 変数名を修正
  infra/serverless/serverless.yml
Labels: none

fix(api): カートの中身を計算するAPIの修正
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/util/metadata.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/carts/_coordinatorId/index.yaml
  web/user/src/types/api/apis/CartApi.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(api): カートの中身を計算するAPIの修正 (#1701)
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/util/metadata.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/carts/_coordinatorId/index.yaml
  web/user/src/types/api/apis/CartApi.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

feat(api): アドレス帳のレスポンスに都道府県コードを追加
  api/internal/gateway/user/v1/response/address.go
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/address_test.go
  docs/swagger/user/components/schemas/entity/address.yaml
  docs/swagger/user/components/schemas/v1/address.response.yaml
  web/user/src/types/api/models/Address.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

feat(api): ライブ配信操作APIの定義
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/broadcast.go
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs

chore(api): AWS関連ライブラリのアップデート
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  api/go.mod
  api/go.sum
Labels: backend (api), workflow

fix(api): AWSのライブラリ関連の修正
  api/pkg/medialive/schedule.go
Labels: backend (api)

fix(api): エンドポイントの重複箇所を修正
  api/internal/gateway/admin/v1/handler/broadcast.go
Labels: backend (api), backend (gateway)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
