Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

Refactor: refactor console
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/promotions/index.vue
Labels: frontend (admin)

feat: 配送情報一覧ページを実装 (#455)
  web/admin/src/assets/variables.scss
  web/admin/src/lib/formatter/day.ts
  web/admin/src/lib/formatter/index.ts
  web/admin/src/lib/formatter/money.ts
  web/admin/src/pages/settings.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/store/shippings.ts
Labels: frontend (admin)

Add: added promotion delete (#457)
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/promotion.ts
Labels: frontend (admin)

feat(user): implement-related producer
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/producer.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (user), test

feat(gateway): add filter to list producers api
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  docs/swagger/admin/paths/v1/producers/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

feat(user): implement-related producer (#460)
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/producer.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (user), test

feat(gateway): add filter to list producers api (#461)
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  docs/swagger/admin/paths/v1/producers/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

feat: 都道府県のリストを定数で持っておく
  web/admin/src/constants/index.ts
  web/admin/src/constants/prefectures.ts
Labels: frontend (admin)

feat: 都道府県のリストを定数で持っておく (#462)
  web/admin/src/constants/index.ts
  web/admin/src/constants/prefectures.ts
Labels: frontend (admin)

fix: 昨日のコミット忘れ
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

fix: 昨日のコミット忘れ (#463)
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

Add: added bff
  web/admin/src/store/promotion.ts
Labels: frontend (admin)

feat(gateway): implement related producer api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/request/producer.go
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/relationship.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), docs, test

fix(user): fix related producer
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
Labels: backend (user), test

fix(docs): fix error status
  docs/swagger/admin/paths/v1/producers/_producerId/relationship.yaml
Labels: docs

Add: added promotion props
  web/admin/src/components/templates/ThePromotionEditFormPage.vue
  web/admin/src/pages/promotions/edit/_id.vue
  web/admin/src/pages/promotions/index.vue
Labels: frontend (admin)

feat(gateway): implement related producer api (#464)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/request/producer.go
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/relationship.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), docs, test

fix(user): fix related producer (#465)
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
Labels: backend (user), test

feat(gateway): add order by query for list orders
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/store/database/database.go
  api/internal/store/database/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/input.go
  docs/swagger/admin/paths/v1/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), docs, test

feat(gateway): changing filter access
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/order.go
Labels: backend (gateway)

feat(gateway): add order by query for list orders (#466)
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/store/database/database.go
  api/internal/store/database/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/input.go
  docs/swagger/admin/paths/v1/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), docs, test

feat(gateway): changing filter access (#467)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/order.go
Labels: backend (gateway)

fix: 表示を修正
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

fix: 表示を修正 (#468)
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

chore(docs): update dependencies
  docs/swagger/yarn.lock
Labels: docs

chore(api): upgrade golang version 1.19.2
  .github/workflows/ci-backend-for-all.yaml
  api/.go-version
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow

chore(api): upgrade nodejs version 18.11.0
  .github/workflows/ci-docs-for-all.yaml
  docs/swagger/.node-version
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
Labels: infra (container), docs, workflow

chore(*): add command description
  Makefile
  api/Makefile
  docs/swagger/Makefile
Labels: docs

Add: added promotion edit
  web/admin/src/components/organisms/ThePromotionForm.vue
  web/admin/src/components/templates/ThePromotionEditFormPage.vue
  web/admin/src/pages/promotions/edit/_id.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/promotion.ts
Labels: frontend (admin)

Refactor: refactor lint
  web/admin/src/components/organisms/ThePromotionForm.vue
  web/admin/src/components/templates/ThePromotionEditFormPage.vue
  web/admin/src/pages/promotions/edit/_id.vue
  web/admin/src/pages/promotions/index.vue
Labels: frontend (admin)

chore(*): add command description (#478)
  Makefile
  api/Makefile
  docs/swagger/Makefile
Labels: docs

chore(api): update dependencies (#474)
  api/go.mod
  api/go.sum
Labels: none

chore(docs): update dependencies (#475)
  docs/swagger/package.json
  docs/swagger/yarn.lock
Labels: docs

chore(api): upgrade golang version 1.19.2 (#476)
  .github/workflows/ci-backend-for-all.yaml
  api/.go-version
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow

chore(api): upgrade nodejs version 18.11.0 (#477)
  .github/workflows/ci-docs-for-all.yaml
  docs/swagger/.node-version
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
Labels: infra (container), docs, workflow

Fix: fixed discountRate to number
  web/admin/src/components/organisms/ThePromotionForm.vue
  web/admin/src/pages/promotions/edit/_id.vue
  web/admin/src/types/props/promotion.ts
Labels: frontend (admin)

style: lintの警告に対応
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

style: lintの警告に対応 (#480)
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

’コーディネータ管理の大枠’
  web/admin/src/layouts/default.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/add.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

’コーディネータ管理の大枠’ (#481)
  web/admin/src/layouts/default.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/add.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)
