Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix: useAsyncDataにawaitをつける
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

fix :コーディネーターのアイコンがセットされていない場合のアイコン情報を調整
  web/user/src/pages/items/[...id].vue
  web/user/src/public/img/account.png
Labels: frontend (user)

fix: 商品詳細ページのレイアウトを調整
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

fix: buildエラーの対応
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
Labels: frontend (user)

ユーザー向け画面のレイアウト調整 (#2320)
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/live/[...id].vue
  web/user/src/public/img/account.png
Labels: frontend (user)

Release for v1.11.36 (#2294)
  CHANGELOG.md
Labels: none

chore: microcms-js-sdkの導入
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

fix(workflow): Cognitoユーザープール移行関数のデプロイ処理を修正
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-func-for-stg.yaml
Labels: workflow

feat(workflow): Cognitoのユーザープール移行用のワークフロー追加 (#2302)
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-func-for-stg.yaml
Labels: workflow

fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正 (#2322)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正 (#2323)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

feat(user): 購入関連のi18n対応(ゲスト購入) (#2301)
  web/user/src/components/molecules/ThePhoneNumberInput.vue
  web/user/src/components/organisms/TheGuestAddressForm.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/purchase/index.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/store/shopping.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: 援農募集のAPIを定義
  web/user/src/server/api/cms/volunteer/index.ts
  web/user/src/server/client/microcms.ts
  web/user/src/types/cms/volunteer.ts
Labels: frontend (user)

feat: ヘッダーにリンクを追加
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

style: lintをかけた
  web/user/src/pages/about.vue
Labels: frontend (user)

feat: 援農募集ページの一覧ページを作成
  web/user/src/pages/volunteer/index.vue
Labels: frontend (user)

fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正 (#2324)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正 (#2325)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正 (#2326)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正 (#2327)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix(func): Cognitoユーザープールの移行関数の修正 (#2328)
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

fix: getメソッドだけを扱えるように変更
  web/user/src/server/api/cms/volunteer/index.get.ts
Labels: frontend (user)

feat: 個別ページを配置
  web/user/src/pages/volunteer/[...id].vue
  web/user/src/pages/volunteer/index.vue
  web/user/src/server/api/cms/volunteer/[...id].get.ts
Labels: frontend (user)

fix: 記事画面のクラスの当て方調整
  web/user/src/pages/volunteer/[...id].vue
Labels: frontend (user)

fix(user): 会員情報取得処理の修正
  api/internal/user/database/mysql/member.go
Labels: backend (api), backend (user)

fix(user): fix typo
  api/internal/user/database/mysql/member.go
Labels: backend (api), backend (user)

fix(user): 会員情報取得処理の修正 (#2331)
  api/internal/user/database/mysql/member.go
Labels: backend (api), backend (user)

feat: マップのピンアイコンを追加
  web/user/src/components/atoms/icons/TheMapPinIcon.vue
Labels: frontend (user)

type: APIのレスポンスの型定義更新
  web/user/src/types/cms/volunteer.ts
Labels: frontend (user)

feat: 型定義やクエリパラメータを追加
  web/user/src/server/api/cms/volunteer/[...id].get.ts
  web/user/src/server/api/cms/volunteer/index.get.ts
Labels: frontend (user)

feat: ページネーションなどを追加
  web/user/src/pages/volunteer/[...id].vue
  web/user/src/pages/volunteer/index.vue
Labels: frontend (user)

feat: エラーハンドリングを追加
  web/user/src/error.vue
  web/user/src/pages/volunteer/[...id].vue
  web/user/src/pages/volunteer/index.vue
  web/user/src/server/api/cms/volunteer/[...id].get.ts
Labels: frontend (user)

fix: useRuntimeConfigから環境変数を取得するように変更
  web/user/nuxt.config.ts
  web/user/src/server/api/cms/volunteer/[...id].get.ts
  web/user/src/server/api/cms/volunteer/index.get.ts
  web/user/src/server/client/microcms.ts
Labels: frontend (user)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
