Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(api): 開催状況のステータスを追加 (#1450)
  docs/swagger/user/components/schemas/codes/schedule.yaml
  web/user/src/types/api/models/ScheduleStatus.ts
Labels: frontend (user), docs

feat: piniaのプラグインの型定義を更新
  web/user/src/plugins/api-client.ts
  web/user/src/plugins/helpter/factory.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

feat: 商品一覧を呼び出すactionを定義
  web/user/src/store/product.ts
Labels: frontend (user)

feat: ページ読み込み時に商品一覧取得APIを呼び出すように変更
  web/user/src/pages/items/index.vue
Labels: frontend (user)

feat(api): マルシェ情報関連のエンティティ操作ロジックを実装
  api/internal/gateway/user/v1/service/live.go
  api/internal/gateway/user/v1/service/live_test.go
  api/internal/gateway/user/v1/service/schedule.go
  api/internal/gateway/user/v1/service/schedule_test.go
  api/internal/gateway/user/v1/service/top.go
  api/internal/gateway/user/v1/service/top_test.go
Labels: backend (api), backend (gateway), test

Fix: we can select only mp4 file
  web/admin/src/components/molecules/VideoSelectForm.vue
Labels: frontend (admin)

feat(api): マルシェ情報関連のエンティティ操作ロジックを実装 (#1451)
  api/internal/gateway/user/v1/service/live.go
  api/internal/gateway/user/v1/service/live_test.go
  api/internal/gateway/user/v1/service/schedule.go
  api/internal/gateway/user/v1/service/schedule_test.go
  api/internal/gateway/user/v1/service/top.go
  api/internal/gateway/user/v1/service/top_test.go
Labels: backend (api), backend (gateway), test

Fix: Fixed the insta and facebook input forms because they were difficult to use.we
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
Labels: frontend (admin)

Fix: Input form collapses when entering the input form
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
Labels: frontend (admin)

fix(store): 一覧取得時のバリデーション修正
  api/internal/gateway/user/v1/handler/top.go
  api/internal/media/broadcast/scheduler/closer.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/store/input.go
Labels: backend (api), backend (gateway), backend (media), backend (store)

Fix: we can select only mp4 file (#1452)
  web/admin/src/components/molecules/VideoSelectForm.vue
Labels: frontend (admin)

Refactor: refactor html tag
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
Labels: frontend (admin)

Fix: Input form collapses when entering the input form (#1454)
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
Labels: frontend (admin)

feat(api): マルシェ開催スケジュール取得APIの実装
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
  api/internal/store/input.go
Labels: backend (api), backend (gateway), backend (media), backend (store)

feat(api): マルシェ開催スケジュール取得APIの実装 (#1476)
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
  api/internal/store/input.go
Labels: backend (api), backend (gateway), backend (media), backend (store)

Add: added delivery change policy
  web/user/src/public/_content/legalPolicy.md
Labels: frontend (user)

feat: 商品一覧の情報を整形して利用できるgettersを用意
  web/user/src/store/product.ts
Labels: frontend (user)

fix: 商品表示をするコンポーネントを改修
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

feat: 商品一覧ページをAPIコールした値を利用するように変更
  web/user/src/pages/items/index.vue
Labels: frontend (user)

Add: added delivery change policy (#1477)
  web/user/src/public/_content/legalPolicy.md
Labels: frontend (user)

feat(api): アドレス帳周りのエンティティロジックを実装
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/address_test.go
Labels: backend (api), backend (gateway), test

fix(messenger): Firebaseの認証情報を複数つめられるように
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/cmd/worker/worker.go
  api/internal/messenger/worker/push.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
Labels: backend (api), backend (messenger), test

feat(api): アドレス帳周りのエンティティロジックを実装 (#1478)
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/address_test.go
Labels: backend (api), backend (gateway), test

fix(api): APIレスポンス内の都道府県名を日本語で返すように
  api/internal/codes/prefecture.go
  api/internal/codes/prefecture_test.go
  api/internal/gateway/admin/v1/service/address.go
  api/internal/gateway/admin/v1/service/address_test.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_test.go
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/postal-codes/_postalCode.yaml
  docs/swagger/user/components/schemas/codes/product.yaml
  docs/swagger/user/components/schemas/entity/address.yaml
  docs/swagger/user/components/schemas/entity/product.yaml
  docs/swagger/user/paths/postal-codes/_postalCode.yaml
  docs/swagger/user/paths/v1/postal-codes/_postalCode.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/OtherApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/Address.ts
  web/user/src/types/api/models/Product.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), docs, test

fix(messenger): Firebaseの認証情報を複数つめられるように (#1479)
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/cmd/worker/worker.go
  api/internal/messenger/worker/push.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
Labels: backend (api), backend (messenger), test

feat: 商品詳細ページのAPI連携実施
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/store/product.ts
Labels: frontend (user)

fix(api): APIレスポンス内の都道府県名を日本語で返すように (#1480)
  api/internal/codes/prefecture.go
  api/internal/codes/prefecture_test.go
  api/internal/gateway/admin/v1/service/address.go
  api/internal/gateway/admin/v1/service/address_test.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_test.go
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/postal-codes/_postalCode.yaml
  docs/swagger/user/components/schemas/codes/product.yaml
  docs/swagger/user/components/schemas/entity/address.yaml
  docs/swagger/user/components/schemas/entity/product.yaml
  docs/swagger/user/paths/postal-codes/_postalCode.yaml
  docs/swagger/user/paths/v1/postal-codes/_postalCode.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/OtherApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/Address.ts
  web/user/src/types/api/models/Product.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), docs, test

fix(store): 一覧取得時のバリデーション修正 (#1455)
  api/internal/gateway/user/v1/handler/top.go
  api/internal/media/broadcast/scheduler/closer.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/store/input.go
Labels: backend (api), backend (gateway), backend (media), backend (store)

feat(api): アドレス関連APIの実装
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/request/address.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/address.go
  api/internal/store/database/mysql/address_test.go
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/address.go
  api/internal/store/service/address_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/user/components/schemas/v1/address.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/addresses/_addressId/index.yaml
  docs/swagger/user/paths/v1/addresses/index.yaml
  web/user/src/types/api/apis/AddressApi.ts
  web/user/src/types/api/models/CreateAddressRequest.ts
  web/user/src/types/api/models/UpdateAddressRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(api): fix small
  api/internal/store/database/mysql/address_test.go
Labels: backend (api), backend (store), test

fix(docs): fix small
  docs/swagger/user/paths/v1/addresses/index.yaml
Labels: docs

feat(api): アドレス関連APIの実装 (#1481)
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/request/address.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/address.go
  api/internal/store/database/mysql/address_test.go
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/address.go
  api/internal/store/service/address_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/user/components/schemas/v1/address.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/addresses/_addressId/index.yaml
  docs/swagger/user/paths/v1/addresses/index.yaml
  web/user/src/types/api/apis/AddressApi.ts
  web/user/src/types/api/models/CreateAddressRequest.ts
  web/user/src/types/api/models/UpdateAddressRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

style: lintで怒られた箇所を修正
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

fix: importの修正忘れに対応
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

fix: typeの修正漏れ反映
  web/admin/src/components/templates/AuthPasswordReset.vue
Labels: frontend (admin)

fix: 生産者管理ページの修正
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/new.vue
Labels: frontend (admin)

生産者管理ページに遷移できるように修正 (#1483)
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/AuthPasswordReset.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/new.vue
Labels: frontend (admin)

fix: ローディング状態中は商品一覧を出さないようにする
  web/user/src/constants/products_export.csv
  web/user/src/constants/products_export.json
  web/user/src/constants/transform.py
  web/user/src/pages/items/index.vue
Labels: frontend (user)

feat(user): アドレス関連APIの実装
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/address_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/address.go
  api/internal/user/database/mysql/address_test.go
  api/internal/user/database/mysql/mysql.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/address.go
  api/internal/user/service/address_test.go
  api/internal/user/service/service_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  infra/mysql/schema/2023110201-users-create-addresses.sql
Labels: backend (api), backend (gateway), backend (user), infra (database), test

fix(api): fix small
  api/internal/store/database/mysql/address_test.go
  api/internal/user/database/mysql/address_test.go
Labels: backend (api), backend (store), backend (user), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
