Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

Revert "chore(deps): bump github.com/aws/aws-sdk-go-v2/service/internal/endpoint-discovery (#1628)" (#1635)
  api/go.mod
  api/go.sum
Labels: backend (api)

chore(api): upgrade golang v1.21.4
  .github/workflows/ci-backend.yaml
  api/.tool-versions
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
Labels: backend (api), infra (container), workflow

Fix: 画像が表示されないので拡張子変更
  web/user/src/constants/mock/live.ts
  web/user/src/constants/mock/timeline.ts
  web/user/src/public/img/recommend/7.png
  web/user/src/public/img/recommend/8.png
  web/user/src/public/img/recommend/demo.jpeg
  web/user/src/public/img/recommend/demo.png
Labels: frontend (user)

Fix: 画像が表示されないので拡張子変更 (#1636)
  web/user/src/constants/mock/live.ts
  web/user/src/constants/mock/timeline.ts
  web/user/src/public/img/recommend/7.png
  web/user/src/public/img/recommend/8.png
  web/user/src/public/img/recommend/demo.jpeg
  web/user/src/public/img/recommend/demo.png
Labels: frontend (user)

Fix: fixed timeline producer image
  web/user/src/constants/mock/timeline.ts
  web/user/src/public/img/recommend/demo2.JPG
Labels: frontend (user)

Fix: 画像が表示されないので拡張子変更
  web/user/src/constants/mock/timeline.ts
  web/user/src/public/img/recommend/demo2.JPG
  web/user/src/public/img/recommend/demo2.png
Labels: frontend (user)

Feat/promotion fix (#1637)
  web/user/src/constants/mock/timeline.ts
  web/user/src/public/img/recommend/demo2.png
Labels: frontend (user)

fix(api): ライブ配信停止処理の修正
  api/internal/media/broadcast/scheduler/closer.go
Labels: backend (api), backend (media)

feat: 住所登録API呼び出し関数を追加
  web/user/src/plugins/api-client.ts
  web/user/src/store/address.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

feat: フォーム要素のバインディングを追加
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

feat: 住所一覧を取得する関数の実装
  web/user/src/store/address.ts
Labels: frontend (user)

feat(media): アーカイブ動画の登録処理を実装
  api/internal/media/broadcast/scheduler/closer.go
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/scheduler.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/mock/pkg/storage/client.go
  api/pkg/storage/client.go
  api/pkg/storage/client_test.go
Labels: backend (api), backend (media), test

feat(media): アーカイブ動画の登録処理を実装 (#1638)
  api/internal/media/broadcast/scheduler/closer.go
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/scheduler.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/mock/pkg/storage/client.go
  api/pkg/storage/client.go
  api/pkg/storage/client_test.go
Labels: backend (api), backend (media), test

feat(store): 箱の占有率をDBで保持するように
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_test.go
  api/internal/store/entity/order_fulfillment.go
  api/internal/store/entity/order_fulfillment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/product.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout_test.go
  infra/mysql/schema/2023112701-stores-add-column-order-fulfillments.sql
Labels: backend (api), backend (store), infra (database), test

fix(store): fix small
  api/internal/store/entity/product_test.go
Labels: backend (api), backend (store), test

feat(store): 箱の占有率をDBで保持するように (#1639)
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_test.go
  api/internal/store/entity/order_fulfillment.go
  api/internal/store/entity/order_fulfillment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout_test.go
  infra/mysql/schema/2023112701-stores-add-column-order-fulfillments.sql
Labels: backend (api), backend (store), infra (database), test

feat(api): 注文関連のレスポンスに占有率を追加
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order_fulfillment.go
  api/internal/gateway/admin/v1/service/order_fulfillment_test.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/gateway/user/v1/service/cart.go
  api/internal/gateway/user/v1/service/cart_test.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/user/components/schemas/entity/cart.yaml
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/Cart.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), docs, test

feat(api): 注文関連のレスポンスに占有率を追加 (#1640)
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order_fulfillment.go
  api/internal/gateway/admin/v1/service/order_fulfillment_test.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/gateway/user/v1/service/cart.go
  api/internal/gateway/user/v1/service/cart_test.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/user/components/schemas/entity/cart.yaml
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/Cart.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), docs, test

feat(media): アーカイブ動画アップロード処理の実装
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/scheduler.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/mock/media/service.go
Labels: backend (api), backend (media), test

fix(media): ライブスケジュールの設定を修正
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (api), backend (media)

Revert "fix(media): ライブスケジュールの設定を修正"
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (api), backend (media)

fix(media): ライブスケジュールの時間指定をUTCに変更
  api/internal/media/broadcast/scheduler/const.go
  api/pkg/medialive/schedule.go
Labels: backend (api), backend (media)

feat(media): アーカイブ動画アップロード処理の実装 (#1641)
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/scheduler.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/mock/media/service.go
Labels: backend (api), backend (media), test

fix(media): アーカイブPathの修正
  api/internal/media/entity/regulation.go
Labels: backend (api), backend (media)

fix(serverless): pathの形式を修正
  infra/serverless/serverless.yml
Labels: none

fix(serverless): HLSを保存対象外に
  infra/serverless/serverless.yml
Labels: none

fix(serverless): 出力設定からアーカイブグループを削除
  infra/serverless/serverless.yml
Labels: none

Fix: purchase number of product list
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

feat(media): ふた絵の操作ロジックを実装
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/mock/media/service.go
  api/mock/pkg/medialive/client.go
  api/pkg/medialive/client.go
  api/pkg/medialive/schedule.go
Labels: backend (api), backend (media), test

Fix: 一旦注文内容以外
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

feat(media): ふた絵の操作ロジックを実装 (#1642)
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/mock/media/service.go
  api/mock/pkg/medialive/client.go
  api/pkg/medialive/client.go
  api/pkg/medialive/schedule.go
Labels: backend (api), backend (media), test

Add: added purchase address input moblie page
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

feat: add getDistribution state
  infra/serverless/serverless.yml
Labels: none

chore: aws-sdkを追加
  infra/serverless/package.json
  infra/serverless/yarn.lock
Labels: none

feat: Distributionを無効化するLambdaを追加
  infra/serverless/functions/disableDistribution/handler.js
Labels: none

feat: CloudFrontDistributionを削除するLambdaを追加
  infra/serverless/serverless.yml
Labels: none

feat(api): ライブ配信関連のエンドポイントを追加
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.request.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/archive-video.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/static-image.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

feat(media): ライブ配信時のMP4入力を動的に指定できるように
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/starter.go
  api/mock/pkg/storage/client.go
  api/pkg/medialive/schedule.go
  api/pkg/storage/client.go
  api/pkg/storage/client_test.go
  infra/serverless/serverless.yml
Labels: backend (api), backend (media), test

fix: 郵便番号と都道府県の部分の間隔を調整
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

fix(serverless): HLSを保存対象外に
  infra/serverless/serverless.yml
Labels: none

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
