Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix(api): fix small
  api/internal/messenger/database/mysql/message_template_test.go
  api/internal/messenger/database/mysql/received_queue_test.go
  api/internal/messenger/database/mysql/report_template_test.go
Labels: backend (api), backend (messenger), test

fix(api): fix small
  api/internal/messenger/database/mysql/message.go
  api/internal/messenger/database/mysql/message_test.go
  api/internal/messenger/database/mysql/notification.go
  api/internal/messenger/database/mysql/schedule.go
Labels: backend (api), backend (messenger), test

refactor(api): userモジュールのリファクタ
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/media/cmd/resizer/registry.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/user/database/database.go
  api/internal/user/database/database_test.go
  api/internal/user/database/mysql/admin.go
  api/internal/user/database/mysql/admin_test.go
  api/internal/user/database/mysql/administrator.go
  api/internal/user/database/mysql/administrator_test.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/coordinator_test.go
  api/internal/user/database/mysql/customer.go
  api/internal/user/database/mysql/customer_test.go
  api/internal/user/database/mysql/guest.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/database/mysql/mysql.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/producer_test.go
  api/internal/user/database/mysql/user.go
  api/internal/user/database/mysql/user_test.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/internal/user/service/service.go
  api/internal/user/service/user.go
  api/internal/user/service/user_auth.go
  api/internal/user/service/user_auth_test.go
  api/internal/user/service/user_test.go
Labels: backend (api), backend (gateway), backend (media), backend (messenger), backend (user), test

refactor(api): エラーハンドリング周りの整理
  api/internal/exception/error.go
  api/internal/exception/error_test.go
  api/internal/user/service.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
Labels: backend (api), backend (user), test

fix(api): fix error handling
  api/internal/media/database/database.go
  api/internal/media/database/database_test.go
  api/internal/media/database/mysql/mysql.go
  api/internal/media/database/mysql/mysql_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/database/mysql/mysql.go
  api/internal/messenger/database/mysql/mysql_test.go
  api/internal/store/database/database.go
  api/internal/store/database/database_test.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/user/database/database.go
  api/internal/user/database/database_test.go
  api/internal/user/database/mysql/mysql.go
  api/internal/user/database/mysql/mysql_test.go
Labels: backend (api), backend (media), backend (messenger), backend (store), backend (user), test

Feature/purchase complete (#1349)
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/index.vue
  web/user/src/public/img/purchase/complete.svg
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/index.ts
  web/user/src/types/locales/i18n.ts
  web/yarn.lock
Labels: frontend (user)

feat: トップページのライブのコンテンツを追加
  web/user/src/components/atoms/icons/TheUpArrowIcon.vue
  web/user/src/constants/mock/live.ts
  web/user/src/pages/index.vue
Labels: frontend (user)

feat: 配信予定のアイテムに黒枠を追加
  web/user/src/components/molecules/TheLiveItem.vue
Labels: frontend (user)

mock: ダミー画像の差し替え
  web/user/src/constants/mock/live.ts
  web/user/src/public/img/live/7.png
Labels: frontend (user)

Add: added legal policy md
  web/user/src/content/legalPolicy.md
Labels: frontend (user)

feat(store): KOMOJU用のクライアント生成
  api/internal/store/komoju/api.go
  api/internal/store/komoju/api_test.go
  api/internal/store/komoju/errors.go
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/mock/store/database/database.go
  api/mock/store/komoju/komoju.go
Labels: backend (api), backend (store), test

Add: added URL in legal policy
  web/user/src/content/legalPolicy.md
Labels: frontend (user)

Add: added legal policy md (#1352)
  web/user/src/content/legalPolicy.md
Labels: frontend (user)

トップページのライブコンテンツ周りのデザイン修正 (#1351)
  web/user/src/components/atoms/icons/TheDownArrowIcon.vue
  web/user/src/components/atoms/icons/TheUpArrowIcon.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/constants/mock/live.ts
  web/user/src/pages/index.vue
  web/user/src/public/img/live/7.png
  web/user/tailwind.config.ts
Labels: frontend (user)

chore: markdown-itを追加
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

feat: markdown-itのプラグインを追加
  web/user/src/plugins/markdown-it.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

mv: publicの下にmdコンテンツをおいて取得する形に変更
  web/user/src/public/content/legalPolicy.md
Labels: frontend (user)

feat: 特定商取引法に基づく表記ページを作成
  web/user/src/pages/legal-notice.vue
  web/user/tailwind.config.ts
Labels: frontend (user)

feat: フッターのメニューから遷移できるように実装
  web/user/src/layouts/default.vue
Labels: frontend (user)

feat: mounted hookを追加
  web/user/src/pages/legal-notice.vue
Labels: frontend (user)

fix: 特定商品取引法に基づく表記ページの更新
  web/user/src/components/organisms/TheAppFooter.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/legal-notice.vue
  web/user/src/types/props/footer.ts
Labels: frontend (user)

fix: contentディレクトリの名前を変えてみる
  web/user/src/pages/legal-notice.vue
  web/user/src/public/_content/legalPolicy.md
Labels: frontend (user)

fix: $fetchにオプションを追加
  web/user/src/pages/legal-notice.vue
Labels: frontend (user)

feat(api): KOMOJUクライアントの実装
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/store/komoju/api.go
  api/internal/store/komoju/api_test.go
  api/internal/store/komoju/code.go
  api/internal/store/komoju/errors.go
  api/internal/store/komoju/errors_test.go
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/payment/payment.go
  api/internal/store/komoju/payment/payment_test.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/mock/store/komoju/komoju.go
Labels: backend (api), backend (gateway), backend (store), test

「特定商取引法に基づく表記」のページ作成 (#1362)
  web/user/package.json
  web/user/src/components/organisms/TheAppFooter.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/legal-notice.vue
  web/user/src/plugins/markdown-it.ts
  web/user/src/public/_content/legalPolicy.md
  web/user/src/types/plugins/index.d.ts
  web/user/src/types/props/footer.ts
  web/user/tailwind.config.ts
  web/user/yarn.lock
Labels: frontend (user)

feat(store): KOMOJU用のクライアント生成 (#1353)
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/store/komoju/api.go
  api/internal/store/komoju/api_test.go
  api/internal/store/komoju/code.go
  api/internal/store/komoju/errors.go
  api/internal/store/komoju/errors_test.go
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/payment/payment.go
  api/internal/store/komoju/payment/payment_test.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/komoju/komoju.go
Labels: backend (api), backend (gateway), backend (store), test

fix: トップページのレスポンシブ対応
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

fix: トップページのレスポンシブ対応 (#1372)
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

fix(api): 商品更新APIの修正
  api/internal/gateway/admin/v1/handler/product.go
Labels: backend (api), backend (gateway)

fix(api): 商品更新APIの修正 (#1374)
  api/internal/gateway/admin/v1/handler/product.go
Labels: backend (api), backend (gateway)

feat(api): マルシェ開催スケジュール承認APIの実装
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/database/mysql/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/approval.yaml
  docs/swagger/openapitools.json
  infra/docker/docs/amplify/Dockerfile
  infra/docker/docs/swagger/generator/Dockerfile
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/common.ts
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/apis/ContactApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/index.ts
  web/user/src/types/api/runtime.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (store), infra (container), docs, test

fix(api): test code
  api/internal/store/database/mysql/schedule_test.go
Labels: backend (api), backend (store), test

feat(api): マルシェ開催スケジュール承認APIの実装 (#1375)
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/database/mysql/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/approval.yaml
  docs/swagger/openapitools.json
  infra/docker/docs/amplify/Dockerfile
  infra/docker/docs/swagger/generator/Dockerfile
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/common.ts
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/apis/ContactApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/index.ts
  web/user/src/types/api/runtime.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (store), infra (container), docs, test

mock: epoxrtしたデータをmockとしてtsファイルの保存
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/items.ts
Labels: frontend (user)

feat: 検索アイコンコンポーネントを配置
  web/user/src/components/atoms/icons/TheSearchIcon.vue
Labels: frontend (user)

feat: 商品一覧ページを仮で配置
  web/user/src/pages/items/index.vue
Labels: frontend (user)

商品一覧ページを仮で実装 (#1386)
  web/user/src/components/atoms/icons/TheSearchIcon.vue
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/items.ts
  web/user/src/pages/items/index.vue
Labels: frontend (user)

feat(api): トップページ用API実装用のモジュール実装
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/database/mysql/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/media/database/database.go
  api/mock/media/service.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (api), backend (media), backend (store), test

fix(api): test code
  api/internal/media/database/mysql/broadcast_test.go
Labels: backend (api), backend (media), test

fix(api): increase timeout
  api/Makefile
Labels: backend (api)
