Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

feat: add ListContactCategoriesInput
  api/internal/messenger/input.go
Labels: backend (api), backend (messenger)

feat: add ListContactCategories service
  api/internal/messenger/service.go
Labels: backend (api), backend (messenger)

feat: add ListContactCategories service layer
  api/internal/messenger/service/contact_category.go
Labels: backend (api), backend (messenger)

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (api)

Feat : implement ListContactCategories service (#1052)
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_category.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger)

feat: add ListContactCategories policy
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

fix: response typo
  api/internal/gateway/admin/v1/response/contact_category.go
Labels: backend (api), backend (gateway)

feat: add ListContactCategories handler
  api/internal/gateway/admin/v1/handler/contact_category.go
Labels: backend (api), backend (gateway)

Feat: implement CreateContactRead db layer (#1048)
  api/internal/messenger/database/contact_read.go
  api/internal/messenger/database/contact_read_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
  infra/mysql/schema/2023062701-messengers-alter-column.sql
Labels: backend (api), backend (messenger), infra (database), test

Feat: implement CreateContactCategory database layer (#1051)
  api/internal/messenger/database/contact_category.go
  api/internal/messenger/database/contact_category_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

Feat: implement ListContactCategories handler (#1053)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/contact_category.go
  api/internal/gateway/admin/v1/response/contact_category.go
Labels: backend (api), backend (gateway)

feat: add ContactRead to db
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
Labels: backend (api), backend (messenger), test

feat: add CreateContactReadInput
  api/internal/messenger/input.go
Labels: backend (api), backend (messenger)

feat: add CreateContactRead to service
  api/internal/messenger/service.go
Labels: backend (api), backend (messenger)

feat: implement CreateContactRead service layer
  api/internal/messenger/service/contact_read.go
Labels: backend (api), backend (messenger)

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (api)

Feat: implement CreateContactCead service layer (#1054)
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_read.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger), test

feat: add CreateContactRead policy
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

feat: definet types for ContactRead
  api/internal/gateway/admin/v1/request/contact_read.go
  api/internal/gateway/admin/v1/response/contact_read.go
  api/internal/gateway/admin/v1/service/contact_read.go
Labels: backend (api), backend (gateway)

feat: implement CreateContactRead handler
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/contact_read.go
Labels: backend (api), backend (gateway)

Feat: implement CreateContactRead handler layer (#1055)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/contact_read.go
  api/internal/gateway/admin/v1/request/contact_read.go
  api/internal/gateway/admin/v1/response/contact_read.go
  api/internal/gateway/admin/v1/service/contact_read.go
Labels: backend (api), backend (gateway)

feat: add UpdateRead to ContactRead
  api/internal/messenger/database/database.go
Labels: backend (api), backend (messenger)

feat: implement UpdateContactReadFlag db
  api/internal/messenger/database/contact_read.go
  api/internal/messenger/database/contact_read_test.go
Labels: backend (api), backend (messenger), test

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

fix: make lint
  api/internal/messenger/database/contact_read.go
Labels: backend (api), backend (messenger)

feat: change param userID type
  api/internal/messenger/database/contact_read.go
  api/internal/messenger/database/contact_read_test.go
  api/internal/messenger/database/database.go
Labels: backend (api), backend (messenger), test

Revert "feat: change param userID type"
  api/internal/messenger/database/contact_read.go
  api/internal/messenger/database/contact_read_test.go
  api/internal/messenger/database/database.go
Labels: backend (api), backend (messenger), test

Feat: UpdateContactReadFlag db layer (#1057)
  api/internal/messenger/database/contact_read.go
  api/internal/messenger/database/contact_read_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

feat: add UpdateContactReadFlagInput
  api/internal/messenger/input.go
Labels: backend (api), backend (messenger)

feat: implement UpdataContactReadFlag service
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_read.go
Labels: backend (api), backend (messenger)

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (api)

Feat: implement UpdateContactReadFlag service (#1058)
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_read.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger)

feat: add Get method
  api/internal/messenger/database/database.go
Labels: backend (api), backend (messenger)

feat: implement Get DB layer
  api/internal/messenger/database/contact_read.go
  api/internal/messenger/database/contact_read_test.go
Labels: backend (api), backend (messenger), test

chrore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

fix: change package to jst
  api/internal/messenger/database/contact_read.go
Labels: backend (api), backend (messenger)

fix: change WithContext args
  api/internal/messenger/database/contact_read_test.go
Labels: backend (api), backend (messenger), test

Feat get contact read db (#1059)
  api/internal/messenger/database/contact_read.go
  api/internal/messenger/database/contact_read_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

feat define input struct
  api/internal/messenger/input.go
Labels: backend (api), backend (messenger)

feat: implement GetContactRead service
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_read.go
Labels: backend (api), backend (messenger)
