Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(hack): seedsの修正 (#2680)
  api/hack/database-seeds/master/payment-status.csv
  api/hack/database-seeds/store/execute.go
Labels: backend (api)

fix(gateway): 決済種別を追加
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
Labels: backend (api), backend (gateway), test

fix(gateway): 決済種別を追加 (#2681)
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
Labels: backend (api), backend (gateway), test

feat(store): 銀行振込決済の実装
  api/internal/gateway/admin/v1/handler/payment_system.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/pkg/japanese/japanese.go
  api/pkg/japanese/japanese_test.go
Labels: backend (api), backend (gateway), backend (store), test

feat(store): 銀行振込決済の実装 (#2682)
  api/internal/gateway/admin/v1/handler/payment_system.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/pkg/japanese/japanese.go
  api/pkg/japanese/japanese_test.go
Labels: backend (api), backend (gateway), backend (store), test

fix: 体験情報が取得できていない場合に再取得する処理を追加
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
Labels: frontend (user)

fix: 郵便番号のエラーメッセージがリセットされない不具合の修正
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/guest/address.vue
Labels: frontend (user)

feat: ヘッダーに「すべての体験」リンクを追加
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: トップページの「体験と出会う」のリンクを修正
  web/user/src/pages/index.vue
Labels: frontend (user)

feat: スマホメニューに「すべての体験」へのリンクを追加
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
Labels: frontend (user)

fix(gateway): 決済手段を追加
  api/internal/gateway/user/v1/handler/status.go
Labels: backend (api), backend (gateway)

fix: 体験情報が取得できていない場合に再取得する処理を追加 (#2683)
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
Labels: frontend (user)

fix: 郵便番号のエラーメッセージがリセットされない不具合の修正 (#2684)
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/guest/address.vue
Labels: frontend (user)

すべての体験へのリンクを追加 (#2685)
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat(admin): トップページに売上情報を表示
  docs/swagger/admin/components/schemas/v1/top.response.yaml
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/pages/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/top.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat(admin): トップページに売上情報を表示 (#2686)
  docs/swagger/admin/components/schemas/v1/top.response.yaml
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/pages/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/top.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(store): 週単位の売上集計処理を修正
  api/internal/store/database/tidb/order.go
Labels: backend (api), backend (store)

fix(store): 週単位の売上集計処理を修正 (#2687)
  api/internal/store/database/tidb/order.go
Labels: backend (api), backend (store)

fix(admin): レート表記の修正
  web/admin/src/components/templates/HomeTop.vue
Labels: frontend (admin)

Add: added product item
  web/user/src/components/atoms/TheVideoPlayer.vue
  web/user/src/components/molecules/TheVideoProductListItem.vue
  web/user/src/pages/video/[...id].vue
Labels: frontend (user)

Fix: mapping product item
  web/user/src/store/video.ts
Labels: frontend (user)

Fix: fixed mapping product item data
  web/user/src/store/video.ts
Labels: frontend (user)

Add: added experience item in video
  web/user/src/components/molecules/TheVideoExperienceItem.vue
  web/user/src/lib/experience.ts
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/video/[...id].vue
  web/user/src/store/video.ts
Labels: frontend (user)

feat(admin): 支払い方法別の集計内容を追加
  api/internal/gateway/admin/v1/handler/top.go
  api/internal/gateway/admin/v1/response/top.go
  api/internal/gateway/admin/v1/service/top_order.go
  api/internal/gateway/admin/v1/service/top_order_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  docs/swagger/admin/components/schemas/entity/top.yaml
  docs/swagger/admin/components/schemas/v1/top.response.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

fix(admin): fix db query
  api/internal/store/database/tidb/order.go
Labels: backend (api), backend (store)

fix(admin): fix small
  api/internal/store/database/tidb/order.go
Labels: backend (api), backend (store)

feat(admin): 支払い方法別の集計内容を追加 (#2689)
  api/internal/gateway/admin/v1/handler/top.go
  api/internal/gateway/admin/v1/response/top.go
  api/internal/gateway/admin/v1/service/top_order.go
  api/internal/gateway/admin/v1/service/top_order_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  docs/swagger/admin/components/schemas/entity/top.yaml
  docs/swagger/admin/components/schemas/v1/top.response.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

fix(admin): 支払い方法別の情報を修正
  web/admin/src/components/templates/HomeTop.vue
Labels: frontend (admin)

Fix: fixed code based on yamada review
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheVideoItem.vue
  web/user/src/pages/video/[...id].vue
Labels: frontend (user)

Fix: fixed top page
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheVideoItem.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

Feat: added video function in user page (#2688)
  web/user/src/components/atoms/TheVideoDescription.vue
  web/user/src/components/atoms/TheVideoPlayer.vue
  web/user/src/components/molecules/TheVideoExperienceItem.vue
  web/user/src/components/molecules/TheVideoItem.vue
  web/user/src/components/molecules/TheVideoProductListItem.vue
  web/user/src/lib/experience.ts
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/pages/video/[...id].vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/home.ts
  web/user/src/store/video.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

fix(admin): トップページのUI修正
  web/admin/src/components/templates/HomeTop.vue
Labels: frontend (admin)

feat(user): 決済種別を追加
  web/user/src/lib/order.ts
Labels: frontend (user)

feat(user): 決済種別を追加 (#2691)
  web/user/src/lib/order.ts
Labels: frontend (user)

fix(admin): トップページのUI修正 (#2690)
  web/admin/src/components/templates/HomeTop.vue
Labels: frontend (admin)

fix(store): 後払いタイプのWebhook周りの処理を修正
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
Labels: backend (api), backend (store), test

fix(store): KOMOJUのステータスに応じて処理を変えるように
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/payment/payment.go
  api/internal/store/komoju/payment/payment_test.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
Labels: backend (api), backend (store), test

fix(messenger): 支払通知の日時取得方法を修正
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
Labels: backend (api), backend (messenger), test

fix(store): KOMOJUのステータスに応じて処理を変えるように (#2692)
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/payment/payment.go
  api/internal/store/komoju/payment/payment_test.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
Labels: backend (api), backend (store), test

fix: sentryの設定を環境変数が設定されている場合のみにロードするように修正
  web/admin/nuxt.config.ts
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
