Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

feat(store): implement rehearsal logic (#621)
  api/go.mod
  api/go.sum
  api/internal/store/database/database.go
  api/internal/store/database/rehearsal.go
  api/internal/store/database/rehearsal_test.go
  api/internal/store/entity/rehearsal.go
  api/internal/store/entity/rehearsal_test.go
  api/mock/pkg/dynamodb/client.go
  api/pkg/dynamodb/client.go
Labels: backend (store), test

fix(store): fix test code
  api/internal/store/entity/schedule_test.go
Labels: backend (store), test

feat(gateway): add dynamodb client
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (gateway)

feat: add prefix to response values
  docs/swagger/admin/components/schemas/v1/live.response.yaml
Labels: docs

chore: make swagger
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

fix(store): fix test code (#633)
  api/internal/store/entity/schedule_test.go
Labels: backend (store), test

Docs: make getLive swagger (#626)
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/lives/_liveId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat(terraform): create dynamodb resource
  api/internal/store/entity/rehearsal.go
  infra/terraform/env/stg/06-dynamodb/00-locals.tf
  infra/terraform/env/stg/06-dynamodb/00-main.tf
  infra/terraform/env/stg/06-dynamodb/01-rehearsals.tf
  infra/terraform/env/stg/06-dynamodb/99-variables.tf
  infra/terraform/modules/dynamodb/01-table.tf
  infra/terraform/modules/dynamodb/99-variables.tf
Labels: backend (store), infra (terraform)

feat(terraform): create dynamodb resource (#635)
  api/internal/store/entity/rehearsal.go
  infra/terraform/env/stg/06-dynamodb/00-locals.tf
  infra/terraform/env/stg/06-dynamodb/00-main.tf
  infra/terraform/env/stg/06-dynamodb/01-rehearsals.tf
  infra/terraform/env/stg/06-dynamodb/99-variables.tf
  infra/terraform/modules/dynamodb/01-table.tf
  infra/terraform/modules/dynamodb/99-variables.tf
Labels: backend (store), infra (terraform)

feat(gateway): add dynamodb client (#634)
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (gateway)

chore(api): update dependencies (#636)
  api/go.mod
  api/go.sum
Labels: none

feat: create updateLiveInput
  api/internal/store/input.go
Labels: backend (store)

feat: implement UpdateLive database layer
  api/internal/store/database/database.go
  api/internal/store/database/live.go
Labels: backend (store)

fix: typo
  api/internal/store/database/database.go
  api/internal/store/database/live.go
Labels: backend (store)

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (store)

fix: lint
  api/internal/store/input.go
Labels: backend (store)

fix: build error
  api/internal/store/database/live.go
Labels: backend (store)

fix: add newline
  api/internal/store/database/live.go
Labels: backend (store)

fix: database params
  api/internal/store/database/database.go
  api/mock/store/database/database.go
Labels: backend (store)

fix: UpdateLiveParams
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/input.go
  api/mock/store/database/database.go
Labels: backend (store)

Add: added relatate producers
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

warningが出ていたので直した
  web/admin/src/components/organisms/TheCoordinatorCreateForm.vue
  web/admin/src/components/organisms/TheCoordinatorEditForm.vue
Labels: frontend (admin)

Fix: fixed code base on review
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

Add: dialog implementation
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

Feature/relate procuder (#637)
  web/admin/src/components/organisms/TheCoordinatorCreateForm.vue
  web/admin/src/components/organisms/TheCoordinatorEditForm.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

fix: delete if
  api/internal/store/database/live.go
Labels: backend (store)

fix: change bulkinsert in live
  api/internal/store/database/live.go
Labels: backend (store)

fix: change bulkinsert in schedule
  api/internal/store/database/schedule.go
Labels: backend (store)

feat: implement test success case
  api/internal/store/database/live_test.go
Labels: backend (store), test

feat: implement test error case
  api/internal/store/database/live_test.go
Labels: backend (store), test

fix(terraform): replace deprecated field
  infra/terraform/modules/route/01-route.tf
Labels: infra (terraform)

Revert "feat: create updateLiveInput"
  api/internal/store/input.go
Labels: backend (store)

Feat(store): implement UpdateLive database layer (#639)
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/database/schedule.go
  api/mock/store/database/database.go
Labels: backend (store), test

feat(func): implement ivs cleaner function
  func/.gitignore
  func/.tool-versions
  func/Makefile
  func/go.mod
  func/go.sum
  func/ivs-cleaner/main.go
  infra/terraform/env/stg/06-dynamodb/01-rehearsals.tf
Labels: infra (terraform)

feat(func): implement ivs cleaner function (#646)
  func/.gitignore
  func/.tool-versions
  func/Makefile
  func/go.mod
  func/go.sum
  func/ivs-cleaner/main.go
  infra/terraform/env/stg/06-dynamodb/01-rehearsals.tf
Labels: infra (terraform)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
