Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(admin): fix nuxt.config.js
  web/admin/nuxt.config.ts
Labels: frontend (admin)

fix(admin): ファイルアップロード時にローティング状態になるように (#1793)
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/components/molecules/HeaderSelectForm.vue
  web/admin/src/components/molecules/IconSelectForm.vue
  web/admin/src/components/molecules/ImageSelectForm.vue
  web/admin/src/components/molecules/ProfileSelectForm.vue
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/yarn.lock
Labels: frontend (admin)

chore(user): ライブラリの更新
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

chore(user): ライブラリの更新 (#1794)
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

Add: added hamada commit
  web/user/src/pages/coordinator/[...id].vue
Labels: frontend (user)

feat(serverless): MediaLiveの設定を修正
  infra/serverless/serverless.yml
Labels: none

feat(serverless): MediaLiveの設定を修正 (#1796)
  infra/serverless/serverless.yml
Labels: none

fix(media): 画像の開始位置を0,0からに
  api/pkg/medialive/schedule.go
Labels: backend (api)

feat: checkoutの状態を取得する関数を用意
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/store/checkout.ts
Labels: frontend (user)

Add: added sns link
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/public/img/coordinator/marche.svg
Labels: frontend (user)

feat(api): アクセスログの内容を調整
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (api), backend (gateway)

feat(messenger): メール通知ロジックの実装
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/url.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service_test.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger), test

feat(api): アクセスログの内容を調整 (#1797)
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (api), backend (gateway)

feat(messenger): メール通知ロジックの実装 (#1798)
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/url.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service_test.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger), test

chore(admin): update dependencies
  web/admin/package.json
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/RelatedProducerList.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/PaymentSystemList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/product-tags/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/yarn.lock
Labels: frontend (admin)

chore(admin): update dependencies (#1814)
  web/admin/package.json
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/RelatedProducerList.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/PaymentSystemList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/product-tags/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/yarn.lock
Labels: frontend (admin)

feat(store): 発送完了通知の呼び出し処理を追加
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: backend (api), backend (store), test

feat(messenger): 予約通知の締め切り時間を設定
  api/internal/messenger/entity/schedule.go
  api/internal/messenger/entity/schedule_test.go
  infra/mysql/schema/2023122901-messengers-add-column-schedules.sql
Labels: backend (api), backend (messenger), infra (database), test

feat(store): 発送完了通知の呼び出し処理を追加 (#1815)
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: backend (api), backend (store), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
