Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix: 各ボタンのテキストをpropsで受け取るように修正
  web/user/src/components/molecules/auth/TheFacebookAuthButton.vue
  web/user/src/components/molecules/auth/TheGoogleAuthButton.vue
  web/user/src/components/molecules/auth/TheLineAuthButton.vue
Labels: frontend (user)

fix: PRのコメントでもらったレイアウトのズレに対応
  web/user/src/components/organisms/TheSignInForm.vue
  web/user/src/components/organisms/TheSignUpForm.vue
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/components/templates/TheSignUpPage.vue
  web/user/src/components/templates/TheVerifyCodePage.vue
  web/user/src/pages/signin.vue
Labels: frontend (user)

fix: ソーシャルログインのボタンのデザインを調整
  web/user/src/components/atoms/TheButton.vue
  web/user/src/components/atoms/icons/TheFacebookIcon.vue
  web/user/src/components/atoms/icons/TheLineIcon.vue
  web/user/src/components/molecules/auth/TheFacebookAuthButton.vue
  web/user/src/components/molecules/auth/TheGoogleAuthButton.vue
  web/user/src/components/molecules/auth/TheLineAuthButton.vue
Labels: frontend (user)

feat(store): create MultiGetByScheduleID in liveDB
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (api)

chore: rename multiget to list
  api/mock/store/database/database.go
Labels: backend (api)

feat: implement GetSchedule gateway
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

chore: make swagger
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

Chore: make swagger for GetSchedule (#724)
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

ユーザーの認証系の画面レイアウト調整 (#720)
  web/user/nuxt.config.ts
  web/user/src/assets/css/tailwind.css
  web/user/src/components/atoms/TheButton.vue
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/atoms/cards/TheCardContent.vue
  web/user/src/components/atoms/cards/TheCardTitle.vue
  web/user/src/components/atoms/icons/TheFacebookIcon.vue
  web/user/src/components/atoms/icons/TheLineIcon.vue
  web/user/src/components/molecules/ThePincodeInput.vue
  web/user/src/components/molecules/auth/TheFacebookAuthButton.vue
  web/user/src/components/molecules/auth/TheGoogleAuthButton.vue
  web/user/src/components/molecules/auth/TheLineAuthButton.vue
  web/user/src/components/organisms/TheSignInForm.vue
  web/user/src/components/organisms/TheSignUpForm.vue
  web/user/src/components/organisms/TheVerifyCodeForm.vue
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/components/templates/TheSignUpPage.vue
  web/user/src/components/templates/TheVerifyCodePage.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/signin.vue
  web/user/src/pages/signup.vue
  web/user/src/pages/verify.vue
  web/user/src/types/locales/i18n.ts
  web/user/src/types/props/common.ts
  web/user/src/types/props/index.ts
  web/user/yarn.lock
Labels: frontend (user)

feat: アイコンコンポーネントを実装
  web/user/src/components/atoms/icons/TheAccountIcon.vue
  web/user/src/components/atoms/icons/TheCartIcon.vue
  web/user/src/components/atoms/icons/TheFooterCatIcon.vue
  web/user/src/components/atoms/icons/TheInstagramIcon.vue
  web/user/src/components/atoms/icons/TheRingIcon.vue
Labels: frontend (user)

feat: IconButon コンポーネントを実装
  web/user/src/components/atoms/TheBadge.vue
  web/user/src/components/molecules/TheIconButton.vue
Labels: frontend (user)

feat: ヘッダーに表示するメニューのコンテンツをi18nに定義
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: ヘッダーコンポーネントを実装
  web/user/src/components/organisms/TheAppHeader.vue
  web/user/src/types/props/header.ts
Labels: frontend (user)

feat: フッターコンポーネントを実装(wip)
  web/user/src/components/organisms/TheAppFooter.vue
Labels: frontend (user)

feat: レイアウトコンポーネントでヘッダーとフッターを読み込む
  web/user/src/layouts/default.vue
Labels: frontend (user)

feat: i18nのフッターの要素を追加
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: フッターのデザインを実装
  web/user/src/components/organisms/TheAppFooter.vue
  web/user/src/layouts/default.vue
  web/user/src/types/props/footer.ts
  web/user/src/types/props/index.ts
Labels: frontend (user)

ユーザーページのホーム画面のレイアウトを整えた (#725)
  web/user/src/components/atoms/TheBadge.vue
  web/user/src/components/atoms/icons/TheAccountIcon.vue
  web/user/src/components/atoms/icons/TheCartIcon.vue
  web/user/src/components/atoms/icons/TheFooterCatIcon.vue
  web/user/src/components/atoms/icons/TheInstagramIcon.vue
  web/user/src/components/atoms/icons/TheRingIcon.vue
  web/user/src/components/molecules/TheIconButton.vue
  web/user/src/components/organisms/TheAppFooter.vue
  web/user/src/components/organisms/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
  web/user/src/types/props/footer.ts
  web/user/src/types/props/header.ts
  web/user/src/types/props/index.ts
Labels: frontend (user)

feat: /aboutページの実装
  web/user/src/assets/img/concept.png
  web/user/src/components/atoms/figures/TheConcept.vue
  web/user/src/components/atoms/figures/ThePoint.vue
  web/user/src/components/molecules/TheCircle.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/about.vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: /aboutページの実装 (#726)
  web/user/src/assets/img/concept.png
  web/user/src/components/atoms/figures/TheConcept.vue
  web/user/src/components/atoms/figures/ThePoint.vue
  web/user/src/components/molecules/TheCircle.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/about.vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

add: piniaを依存関係に追加
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

setup: piniaのdefineStoreを自動importの対象にする
  web/user/nuxt.config.ts
Labels: frontend (user)

Add: added related producer list
  web/admin/src/components/organisms/TheRelatedProducerList.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

Feature/producer relate (#727)
  web/admin/src/components/organisms/TheRelatedProducerList.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

Refactor: refactor coodinator add page
  web/admin/src/pages/coordinators/add.vue
Labels: frontend (admin)

type: piniaの型定義をtsconfigに追加
  web/user/tsconfig.json
Labels: frontend (user)

type: エラーの型定義を持ってくる
  web/user/src/types/exception.ts
Labels: frontend (user)

setup: API_BASE_URLを追加
  web/user/nuxt.config.ts
Labels: frontend (user)

feat: プラグインを実装
  web/user/src/plugins/api-client.ts
  web/user/src/plugins/api-error-handler.ts
  web/user/src/plugins/helpter/factory.ts
  web/user/src/plugins/i18n.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

Add: added related producer list page
  web/admin/src/components/organisms/TheRelatedProducerList.vue
Labels: frontend (admin)

feat: ログインの関数を実装
  web/user/src/store/auth.ts
Labels: frontend (user)

feat: ログイン画面とログイン関数のつなぎ込み
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/signin.vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

Add: added related producer detail
  web/admin/src/components/organisms/TheRelatedProducerList.vue
Labels: frontend (admin)

Fix: fixed test
  web/admin/src/components/organisms/TheRelatedProducerList.vue
Labels: frontend (admin)

Feature/producer fix (#736)
  web/admin/src/components/organisms/TheRelatedProducerList.vue
  web/admin/src/pages/coordinators/add.vue
Labels: frontend (admin)

piniaのセットアップとログイン機能の実装 (#735)
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/signin.vue
  web/user/src/plugins/api-client.ts
  web/user/src/plugins/api-error-handler.ts
  web/user/src/plugins/helpter/factory.ts
  web/user/src/plugins/i18n.ts
  web/user/src/store/auth.ts
  web/user/src/types/exception.ts
  web/user/src/types/locales/i18n.ts
  web/user/src/types/plugins/index.d.ts
  web/user/tsconfig.json
  web/user/yarn.lock
Labels: frontend (user)

feat: 矢印のコンポーネントを追加
  web/user/src/components/atoms/icons/TheLeftArrowIcon.vue
  web/user/src/components/atoms/icons/TheRightArrowIcon.vue
Labels: frontend (user)

setup: public/ディレクトリを配置
  web/user/src/public/favicon.ico
  web/user/src/public/img/banner.png
Labels: frontend (user)

feat: カルーセルコンポーネントの実装
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/index.vue
Labels: frontend (user)
