Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

refactor(*): refactor test handler and service
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/messenger/service/service_test.go
  api/internal/store/service/service_test.go
  api/internal/user/service/service_test.go
Labels: backend (gateway), backend (messenger), backend (store), backend (user), test

fix(store): fix test code
  api/internal/store/database/promotion_test.go
Labels: backend (store), test

feat(user): implement register admin device api
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/auth_test.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/user/database/admin_auth.go
  api/internal/user/database/admin_auth_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/device.yaml
  infra/mysql/schema/2022081301-users-add-column.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), infra (database), docs, test

fix(store): fix test code
  api/internal/store/database/promotion_test.go
Labels: backend (store), test

fix(user): fix test code
  api/internal/user/database/admin_auth.go
Labels: backend (user)

fix(user): fix test code
  api/internal/user/service/admin_auth_test.go
Labels: backend (user), test

feat(store): implement promotion logic (#240)
  api/internal/store/database/database.go
  api/internal/store/database/promotion.go
  api/internal/store/database/promotion_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
Labels: backend (store), test

feat(store): implement list promotions api
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (gateway), backend (store), test

fix(gateway): fix test code
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/gateway/admin/v1/service/promotion_test.go
Labels: backend (gateway), test

fix(store): fix test code
  api/internal/store/database/promotion_test.go
Labels: backend (store), test

feat(store): implement list promotions api (#243)
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/store/database/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (gateway), backend (store), test

feat(store): implement get promotion api
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (gateway), backend (store), test

feat(store): implement create promotion api
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (gateway), backend (store), test

fix(store): fix test code
  api/internal/store/service/promotion_test.go
Labels: backend (store), test

feat(store): implement create promotion api (#244)
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (gateway), backend (store), test

feat(store): implement update promotion api
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (gateway), backend (store), test

Add: added delete category dialog
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

お問合せ管理編集画面
  web/admin/src/pages/contacts/edit.vue
  web/admin/src/pages/contacts/index.vue
Labels: frontend (admin)

お問合せ管理編集画面２
  web/admin/src/pages/contacts/index.vue
Labels: frontend (admin)

Add: added delete producttype dialog
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/components/organisms/TheProductTypeList.vue
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

Refactor: refactor code
  web/admin/src/components/organisms/TheProductTypeList.vue
Labels: frontend (admin)

Feature/category delete (#235)
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/components/organisms/TheProductTypeList.vue
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

お問合せ管理編集画面３
  web/admin/src/pages/contacts/edit.vue
Labels: frontend (admin)

feat(store): implement delete promotion api
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (gateway), backend (store), test

refactor(*): refactor test handler and service (#241)
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/messenger/service/service_test.go
  api/internal/store/service/service_test.go
  api/internal/user/service/service_test.go
Labels: backend (gateway), backend (messenger), backend (store), backend (user), test

feat(user): implement register admin device api (#242)
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/auth_test.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/user/database/admin_auth.go
  api/internal/user/database/admin_auth_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/device.yaml
  infra/mysql/schema/2022081301-users-add-column.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), infra (database), docs, test

feat(store): implement get promotion api (#245)
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (gateway), backend (store), test

feat(store): implement update promotion api (#246)
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (gateway), backend (store), test

feat(store): implement delete promotion api (#247)
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (gateway), backend (store), test

Fix: fixed errorhandling
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
  web/admin/src/types/exception.ts
Labels: frontend (admin)

Refactor: refactor typo
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
  web/admin/src/types/exception.ts
Labels: frontend (admin)

Fix: fixed errorhandling (#248)
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
  web/admin/src/types/exception.ts
Labels: frontend (admin)

chore: firebase sdkを追加
  web/admin/package.json
  web/admin/tsconfig.json
  web/admin/yarn.lock
Labels: frontend (admin)

feat: firebaseの設定を追加
  .gitignore
  web/admin/nuxt.config.ts
  web/admin/src/plugins/firebase.ts
  web/admin/src/sw/firebase-messaging-sw.ts
Labels: frontend (admin)

fix: コマンドを修正
  web/admin/package.json
Labels: frontend (admin)

Add: added category update
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

Refactor: refactor lint
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

Refactor: refactor code
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

fix: typoの修正と不要なコードを削除
  web/admin/nuxt.config.ts
  web/admin/src/plugins/firebase.ts
Labels: frontend (admin)

fix: ignoreファイルの修正
  .gitignore
  web/admin/.gitignore
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
