Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(store): fix query
  api/internal/store/database/tidb/shop.go
Labels: backend (api), backend (store)

fix(store): error handling
  api/internal/store/database/tidb/shop.go
Labels: backend (api), backend (store)

feat(store): 店舗のWrite処理を実装 (#2711)
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shop.go
  api/internal/store/database/tidb/shop_test.go
  api/internal/store/database/tidb/tidb_test.go
  api/internal/store/entity/shop.go
  api/internal/store/entity/shop_producer.go
  api/internal/store/entity/shop_producer_test.go
  api/internal/store/entity/shop_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/service_test.go
  api/internal/store/service/shop.go
  api/internal/store/service/shop_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  infra/tidb/schema/stores/2025020901-add-column-to-shops.sql
Labels: backend (api), backend (store), backend (user), test

fix(store): TiDBクライアントの修正
  api/hack/migrate-shops/main.go
  api/internal/store/database/tidb/tidb.go
Labels: backend (api), backend (store)

fix(store): 店舗情報の追加
  api/hack/store-migrate-shops/main.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shop.go
  api/internal/store/database/tidb/shop_test.go
  api/internal/store/entity/shop.go
  api/internal/store/entity/shop_test.go
  api/internal/store/input.go
  api/internal/store/service/shop.go
  api/internal/store/service/shop_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  infra/tidb/schema/stores/2025021101-add-column-to-shops.sql
Labels: backend (api), backend (store), backend (user), test

fix(store): 店舗情報の追加 (#2712)
  api/hack/store-migrate-shops/main.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shop.go
  api/internal/store/database/tidb/shop_test.go
  api/internal/store/entity/shop.go
  api/internal/store/entity/shop_test.go
  api/internal/store/input.go
  api/internal/store/service/shop.go
  api/internal/store/service/shop_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  infra/tidb/schema/stores/2025021101-add-column-to-shops.sql
Labels: backend (api), backend (store), backend (user), test

fix(hack): 店舗登録コマンドの修正
  api/hack/store-migrate-shops/main.go
Labels: backend (api)

Release for v4.2.1 (#2710)
  CHANGELOG.md
Labels: none

Add: added furumaru about for top page
  web/user/src/components/templates/TheAbout.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/about.vue
Labels: frontend (user)

fix(store): fix
  api/internal/store/database/tidb/shop_test.go
Labels: backend (api), backend (store), test

Add: added product item for top page
  web/user/src/components/templates/TheAbout.vue
  web/user/src/components/templates/TheItem.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/pages/items/index.vue
Labels: frontend (user)

FIX: fixed top page (#2715)
  web/user/src/components/templates/TheAbout.vue
  web/user/src/components/templates/TheItem.vue
  web/user/src/pages/about.vue
  web/user/src/pages/index.vue
  web/user/src/pages/items/index.vue
Labels: frontend (user)

Release for v4.2.2 (#2714)
  CHANGELOG.md
Labels: none

fix(store): 店舗IDを詰めるように
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
Labels: backend (api), backend (gateway), backend (store), test

fix(store): 店舗IDを詰めるように (#2716)
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
Labels: backend (api), backend (gateway), backend (store), test

Release for v4.2.3 (#2717)
  CHANGELOG.md
Labels: none

feat(hack): 店舗IDを埋めるコマンドを実装
  api/hack/store-migrate-shops/main.go
Labels: backend (api)

Fix: fixed form to change businesstime
  web/admin/src/pages/experiences/[id]/index.vue
Labels: frontend (admin)

fix(gateway): 環境変数の追加
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
Labels: backend (api), backend (gateway)

fix(gateway): 体験一覧取得時、削除済みのものは取得しないように
  api/internal/gateway/admin/v1/handler/experience.go
Labels: backend (api), backend (gateway)

fix(gateway): 体験一覧取得時、削除済みのものは取得しないように (#2723)
  api/internal/gateway/admin/v1/handler/experience.go
Labels: backend (api), backend (gateway)

Fix: fixed form to change business time (#2722)
  web/admin/src/pages/experiences/[id]/index.vue
Labels: frontend (admin)

fix: ユーザーが位置情報の取得を許可している場合に現在地の座標がユーザーの現在地になるように修正
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

fix: ユーザーが位置情報の取得を許可している場合に現在地の座標がユーザーの現在地になるように修正 (#2724)
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

feat(user): 購入者側のOAuth認証実装
  web/user/nuxt.config.ts
  web/user/src/components/molecules/auth/TheFacebookAuthButton.vue
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/pages/auth/google/signin.vue
  web/user/src/pages/auth/line/signin.vue
  web/user/src/pages/signin.vue
  web/user/src/store/auth.ts
Labels: frontend (user)

feat(user): 購入者側のOAuth認証実装 (#2725)
  web/user/nuxt.config.ts
  web/user/src/components/molecules/auth/TheFacebookAuthButton.vue
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/pages/auth/google/signin.vue
  web/user/src/pages/auth/line/signin.vue
  web/user/src/pages/signin.vue
  web/user/src/store/auth.ts
Labels: frontend (user)

feat(admin): 外部連携機能にコメント追加
  web/admin/src/components/templates/AuthProvider.vue
Labels: frontend (admin)

Release for v4.3.0 (#2720)
  CHANGELOG.md
Labels: none

fix: radiusを100000に指定する
  web/user/src/store/experience.ts
Labels: frontend (user)

fix: radiusを100000に指定する (#2726)
  web/user/src/store/experience.ts
Labels: frontend (user)

feat: レビュー投稿フォームのコンポーネントの実装
  web/user/src/components/atoms/review/TheRatingStarInput.vue
  web/user/src/components/atoms/review/TheReviewForm.vue
  web/user/src/components/atoms/review/TheReviewTargetProduct.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: 商品取得関数の実装変更
  web/user/src/store/product.ts
Labels: frontend (user)

feat: レビュー投稿ページの実装
  web/user/src/pages/reviews/products/[...id].vue
Labels: frontend (user)

レビュー投稿画面のモックアップの実装 (#2728)
  web/user/src/components/atoms/review/TheRatingStarInput.vue
  web/user/src/components/atoms/review/TheReviewForm.vue
  web/user/src/components/atoms/review/TheReviewTargetProduct.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/reviews/products/[...id].vue
  web/user/src/store/product.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

Release for v4.3.1 (#2727)
  CHANGELOG.md
Labels: none

feat(store): 店舗ごとのプロモーションを発行できるように
  api/.tool-versions
  api/hack/database-seeds/master/role.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/database/tidb/promotion.go
  api/internal/store/database/tidb/promotion_test.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/entity/shop.go
  api/internal/store/entity/shop_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  docs/swagger/admin/components/schemas/codes/promotion.yaml
  docs/swagger/admin/components/schemas/entity/promotion.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/promotions/_promotionId/index.yaml
  docs/swagger/admin/paths/v1/promotions/index.yaml
  docs/swagger/user/paths/v1/checkouts/experiences/_experienceId/index.yaml
  docs/swagger/user/paths/v1/checkouts/products/index.yaml
  infra/tidb/schema/stores/2025021701-add-column-to-promotions.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

fix(gateway): fix test code
  api/internal/gateway/admin/v1/service/promotion_test.go
Labels: backend (api), backend (gateway), test

feat(store): 店舗ごとのプロモーションを発行できるように (#2729)
  api/.tool-versions
  api/hack/database-seeds/master/role.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/database/tidb/promotion.go
  api/internal/store/database/tidb/promotion_test.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/entity/shop.go
  api/internal/store/entity/shop_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  docs/swagger/admin/components/schemas/codes/promotion.yaml
  docs/swagger/admin/components/schemas/entity/promotion.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/promotions/_promotionId/index.yaml
  docs/swagger/admin/paths/v1/promotions/index.yaml
  docs/swagger/user/paths/v1/checkouts/experiences/_experienceId/index.yaml
  docs/swagger/user/paths/v1/checkouts/products/index.yaml
  infra/tidb/schema/stores/2025021701-add-column-to-promotions.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

feat(admin): 店舗ごとのプロモーション発行機能を実装
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/shop.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/administrator.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/gateway/admin/v1/service/shop.go
  api/internal/gateway/admin/v1/service/shop_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shop.go
  api/internal/store/database/tidb/shop_test.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/shop.go
  api/internal/store/service/shop_test.go
  docs/swagger/admin/components/schemas/entity/coordinator.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/components/schemas/v1/promotion.response.yaml
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/pages/promotions/[id]/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/auth.ts
  web/admin/src/store/promotion.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

fix(api): fix for lint
  .github/workflows/ci-backend.yaml
  api/.golangci.yaml
  api/Makefile
  api/hack/database-migrate-mysql/main.go
  api/hack/database-seeds/master/role.go
  api/hack/database-seeds/store/execute.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/payment_system.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/store/entity/cart.go
  api/internal/store/entity/postal_code.go
  api/pkg/mysql/client.go
  api/pkg/mysql/client_tidb.go
  api/pkg/postalcode/client.go
  api/pkg/youtube/auth.go
  api/pkg/youtube/client.go
Labels: backend (api), backend (gateway), backend (messenger), backend (store), test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
