Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix: 決済手段をクレジットカードに固定
  web/liff/src/pages/[facilityId]/checkout/index.vue
Labels: none

feat: 注文完了画面にトップに戻るボタンを配置
  web/liff/src/pages/[facilityId]/complete.vue
  web/liff/src/stores/checkout.ts
Labels: none

fix(web/admin): LIFF購入後の注文詳細でundefinedエラーを修正
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

fix(web/admin): LIFF購入後の注文詳細でundefinedエラーを修正 (#3012)
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

refactor(api): improve swagger enum type definitions
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  docs/swagger/gen/user/v1/swagger.yaml
Labels: docs

チェックアウト処理の実装 (#3011)
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/checkout/index.vue
  web/liff/src/pages/[facilityId]/complete.vue
  web/liff/src/pages/[facilityId]/index.vue
  web/liff/src/pages/[facilityId]/items/[id].vue
  web/liff/src/stores/checkout.ts
Labels: none

feat: liffでのリダイレクト処理に対応
  web/liff/src/composables/useLiffInit.ts
  web/liff/src/layouts/default.vue
  web/liff/src/layouts/init.vue
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/liff/src/pages/index.vue
Labels: none

codegen
  web/admin/src/types/api/v1/api.ts
  web/user/src/types/api/v1/models/RequestAddCartItemRequest.ts
  web/user/src/types/api/v1/models/RequestCheckoutCreditCard.ts
  web/user/src/types/api/v1/models/RequestCheckoutExperienceRequest.ts
  web/user/src/types/api/v1/models/RequestCheckoutProductRequest.ts
  web/user/src/types/api/v1/models/RequestCreateAddressRequest.ts
  web/user/src/types/api/v1/models/RequestCreateAuthUserRequest.ts
  web/user/src/types/api/v1/models/RequestCreateAuthUserWithGoogleRequest.ts
  web/user/src/types/api/v1/models/RequestCreateAuthUserWithLINERequest.ts
  web/user/src/types/api/v1/models/RequestCreateExperienceReviewRequest.ts
  web/user/src/types/api/v1/models/RequestCreateGuestLiveCommentRequest.ts
  web/user/src/types/api/v1/models/RequestCreateGuestVideoCommentRequest.ts
  web/user/src/types/api/v1/models/RequestCreateLiveCommentRequest.ts
  web/user/src/types/api/v1/models/RequestCreateProductReviewRequest.ts
  web/user/src/types/api/v1/models/RequestCreateSpotRequest.ts
  web/user/src/types/api/v1/models/RequestCreateVideoCommentRequest.ts
  web/user/src/types/api/v1/models/RequestForgotAuthPasswordRequest.ts
  web/user/src/types/api/v1/models/RequestGetUploadURLRequest.ts
  web/user/src/types/api/v1/models/RequestGuestCheckoutAddress.ts
  web/user/src/types/api/v1/models/RequestGuestCheckoutExperienceRequest.ts
  web/user/src/types/api/v1/models/RequestGuestCheckoutProductRequest.ts
  web/user/src/types/api/v1/models/RequestRefreshAuthTokenRequest.ts
  web/user/src/types/api/v1/models/RequestResetAuthPasswordRequest.ts
  web/user/src/types/api/v1/models/RequestSignInRequest.ts
  web/user/src/types/api/v1/models/RequestUpdateAddressRequest.ts
  web/user/src/types/api/v1/models/RequestUpdateAuthPasswordRequest.ts
  web/user/src/types/api/v1/models/RequestUpdateAuthUserAccountIDRequest.ts
  web/user/src/types/api/v1/models/RequestUpdateAuthUserEmailRequest.ts
  web/user/src/types/api/v1/models/RequestUpdateAuthUserUsernameRequest.ts
  web/user/src/types/api/v1/models/RequestUpdateExperienceReviewRequest.ts
  web/user/src/types/api/v1/models/RequestUpdateProductReviewRequest.ts
  web/user/src/types/api/v1/models/RequestUpdateSpotRequest.ts
  web/user/src/types/api/v1/models/RequestUpsertExperienceReviewReactionRequest.ts
  web/user/src/types/api/v1/models/RequestUpsertProductReviewReactionRequest.ts
  web/user/src/types/api/v1/models/RequestVerifyAuthUserEmailRequest.ts
  web/user/src/types/api/v1/models/RequestVerifyAuthUserRequest.ts
  web/user/src/types/api/v1/models/ResponseOrder.ts
  web/user/src/types/api/v1/models/TypesOrderFulfillment.ts
  web/user/src/types/api/v1/models/TypesOrderPayment.ts
  web/user/src/types/api/v1/models/TypesPaymentSystem.ts
Labels: frontend (admin), frontend (user)

fix: ユーザーのチェックイン画面では下部の買い物カゴのUIを非表示にする
  web/liff/src/composables/useLiffInit.ts
  web/liff/src/layouts/default.vue
Labels: none

fix: 買い物カゴのUIの改善
  web/liff/src/layouts/default.vue
Labels: none

fix: 買い物カゴ周りのuxの改善
  web/liff/src/composables/useLiffInit.ts
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/liff/src/pages/[facilityId]/complete.vue
  web/liff/src/pages/[facilityId]/items/[id].vue
  web/liff/src/stores/shopping.ts
Labels: none

Feat/web/liff/ux (#3023)
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/liff/src/pages/[facilityId]/complete.vue
  web/liff/src/pages/[facilityId]/items/[id].vue
  web/liff/src/stores/shopping.ts
Labels: none

refactor(web/admin): consolidate address-related type definitions
  web/admin/src/lib/hooks/useSearchAddress.ts
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/address.ts
  web/admin/src/types/exception.ts
  web/admin/src/types/plugins/index.d.ts
  web/admin/src/types/props/address.ts
  web/admin/src/types/props/index.ts
Labels: frontend (admin)

docs: add missing internal specification files
  docs/spec/internal/frontend-applications.md
Labels: docs

docs: add comprehensive internal specification files
  docs/spec/internal/api-services-overview.md
  docs/spec/internal/database-design.md
Labels: docs

docs: reorganize spec/internal and architecture directories
  docs/architecture/README.md
  docs/architecture/api-services-overview.md
  docs/architecture/api/README.md
  docs/architecture/api/documentation-patterns.md
  docs/architecture/database-design.md
  docs/architecture/web/README.md
  docs/architecture/web/frontend-applications.md
  docs/spec/README.md
  docs/spec/internal/README.md
Labels: docs

docs: move API files to api directory and translate to Japanese
  docs/architecture/README.md
  docs/architecture/api-services-overview.md
  docs/architecture/api/README.md
  docs/architecture/api/api-services-overview.md
  docs/architecture/api/database-design.md
  docs/architecture/web/frontend-applications.md
  docs/spec/README.md
Labels: docs

refactor(web): improve API client authentication with middleware pattern
  web/admin/src/plugins/api-client.ts
Labels: frontend (admin)

refactor(web): improve API client authentication with middleware pattern (#3028)
  web/admin/src/plugins/api-client.ts
Labels: frontend (admin)

feat(workflow): LIFFアプリの本番リリース用ワークフローを追加
  .github/workflows/cd-web-liff-for-prd.yaml
Labels: workflow

feat(workflow): LIFFアプリの本番リリース用ワークフローを追加 (#3029)
  .github/workflows/cd-web-liff-for-prd.yaml
Labels: workflow

feat(web): add LIFF initialization to facility detail page
  web/liff/src/pages/[facilityId]/index.vue
Labels: none

fix(api): add user deletion check for facility users and guests
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/guest.go
Labels: backend (api), backend (user)

feat(web): add LIFF initialization to facility detail page (#3030)
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/guest.go
  web/liff/src/pages/[facilityId]/index.vue
Labels: backend (api), backend (user)

feat(api): implement FacilityUser Delete method with transaction support
  api/internal/user/database/database.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/facility_user_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: backend (api), backend (user), test

test(api): add missing UserType field to test fixtures in DeleteUser test
  api/internal/user/service/user_test.go
Labels: backend (api), backend (user), test

feat(api): implement FacilityUser Delete method with transaction support (#3031)
  api/internal/user/database/database.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/facility_user_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: backend (api), backend (user), test

docs: improve README.md with comprehensive project information
  README.md
Labels: none

docs: README.mdの改善 - プロジェクト情報を充実化 (#3032)
  README.md
Labels: none

fix(user): 外部施設向け利用者登録時のバリデーション修正
  api/internal/user/service/facility_user.go
  api/internal/user/service/facility_user_test.go
Labels: backend (api), backend (user), test

fix(user): 外部施設向け利用者登録時のバリデーション修正 (#3033)
  api/internal/user/service/facility_user.go
  api/internal/user/service/facility_user_test.go
Labels: backend (api), backend (user), test

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v7.0.0 (#3009)
  CHANGELOG.md
Labels: none

feat(web): implement video edit tabs with analytics and comment management
  web/admin/src/components/organisms/VideoAnalytics.vue
  web/admin/src/components/organisms/VideoPreview.vue
  web/admin/src/components/templates/VideoEdit.vue
  web/admin/src/pages/system.vue
  web/admin/src/pages/videos/[id]/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/video-comment.ts
  web/admin/src/store/video.ts
  web/admin/src/types/plugins/index.d.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/video.ts
Labels: frontend (admin)

fix(admin): format
  web/admin/src/components/organisms/VideoPreview.vue
  web/admin/src/components/templates/VideoEdit.vue
  web/admin/src/store/video-comment.ts
Labels: frontend (admin)

feat(web): 動画編集画面にタブ機能と分析情報を追加 (#3034)
  web/admin/src/components/organisms/VideoAnalytics.vue
  web/admin/src/components/organisms/VideoPreview.vue
  web/admin/src/components/templates/VideoEdit.vue
  web/admin/src/pages/system.vue
  web/admin/src/pages/videos/[id]/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/video-comment.ts
  web/admin/src/store/video.ts
  web/admin/src/types/plugins/index.d.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/video.ts
Labels: frontend (admin)

feat(web): 管理画面ダッシュボードの情報充実化
  docs/spec/internal/20250914_admin-dashboard-improvement.md
  docs/spec/internal/README.md
  docs/spec/internal/template.md
  web/admin/src/components/templates/HomeTop.vue
Labels: frontend (admin), docs

feat(web): メッセージ一覧UIを現代的なメールクライアント風に刷新
  docs/spec/internal/20250914_message-list-ui-improvement.md
  web/admin/src/components/templates/MessageList.vue
  web/admin/src/pages/messages/index.vue
Labels: frontend (admin), docs

fix: format
  web/admin/src/components/templates/HomeTop.vue
Labels: frontend (admin)

feat(web): 管理画面ダッシュボードの情報充実化 (#3036)
  docs/spec/internal/20250914_admin-dashboard-improvement.md
  docs/spec/internal/README.md
  docs/spec/internal/template.md
  web/admin/src/components/templates/HomeTop.vue
Labels: frontend (admin), docs

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
