Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix(api): 住所登録・更新APIの修正
  api/internal/gateway/user/v1/handler/address.go
Labels: backend (api), backend (gateway)

ログアウトの実装とミドルウェアで認証情報のチェックを追加 (#1698)
  web/user/src/assets/img/account.png
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/middleware/auth.global.ts
  web/user/src/store/auth.ts
Labels: frontend (user)

feat(media): ライブ配信の一時停止・解除APIの実装
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/mock/media/service.go
  api/pkg/medialive/schedule.go
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

fix: 変数名を修正 (#1700)
  infra/serverless/serverless.yml
Labels: none

feat: ポーリングの間隔を調整
  infra/serverless/serverless.yml
Labels: none

feat: クエリパラメータでcoordinatorIdを渡すように変更
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/purchase/index.vue
Labels: frontend (user)

refactor: コンテナのポーリング処理順を変更
  infra/serverless/serverless.yml
Labels: none

fix(admin): 注文詳細画面の修正
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin)

feat(admin): ライブ配信の一時停止・解除機能の実装
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleShow.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/store/broadcast.ts
Labels: frontend (admin)

feat: エラーメッセージの表示部分を作成
  web/user/src/components/atoms/TheAlertBox.vue
  web/user/src/components/molecules/TheAlert.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/store/shopping.ts
Labels: frontend (user)

feat: アーカイブ部分をAPIとつなぎこみ
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/pages/index.vue
  web/user/src/store/home.ts
Labels: frontend (user)

fix(docs): 型の定義の修正
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  web/user/src/types/api/models/CalcCartResponse.ts
Labels: frontend (user), docs

Fix: fixed snackbar mobile size
  web/user/src/components/molecules/TheSnackbar.vue
Labels: frontend (user)

fix(api): jsonタグの修正
  api/internal/gateway/user/v1/response/cart.go
Labels: backend (api), backend (gateway)

fix(admin): オンデマンド配信の表示を修正
  web/admin/src/components/organisms/ScheduleStreaming.vue
Labels: frontend (admin)

fix(cos): レスポンスの修正
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  web/user/src/types/api/models/CalcCartResponse.ts
Labels: frontend (user), docs

feat: ページ遷移時coordinatorIdを渡すように変更
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

fix(admin): ライブ配信の停止機能の修正
  api/internal/gateway/admin/v1/handler/broadcast.go
  web/admin/src/components/organisms/ScheduleStreaming.vue
Labels: frontend (admin), backend (api), backend (gateway)

refactor: Inputのポーリング処理順を変更
  infra/serverless/serverless.yml
Labels: none

feat: 購入手続きで買い物カゴの中の商品が見れるようにする
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

購入手続きフローでの買い物カゴAPIとの連携 (#1720)
  web/user/src/components/atoms/TheAlertBox.vue
  web/user/src/components/molecules/TheAlert.vue
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/index.vue
  web/user/src/pages/purchase/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/store/home.ts
  web/user/src/store/shopping.ts
Labels: frontend (user)

Fix: fixed snackbar mobile size (#1719)
  web/user/src/components/molecules/TheSnackbar.vue
Labels: frontend (user)

fix(store): 在庫数の減算処理を修正
  api/internal/store/database/mysql/product.go
Labels: backend (api), backend (store)

fix(admin): 未支払い状態の時、注文キャンセルを押せないように
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin)

feat(serverless): ポーリング処理の設定調整 (#1721)
  infra/serverless/serverless.yml
Labels: none

fix(store): タイムゾーンが異なることによるバリデーションチェック失敗の修正
  api/internal/store/entity/live.go
Labels: backend (api), backend (store)

fix(admin): マルシェ開催スケジュールを常に公開状態に
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/pages/schedules/new.vue
Labels: frontend (admin)

feat(store): 注文の管理番号を保持できるように
  api/internal/store/database/mysql/order.go
  api/internal/store/entity/order.go
  infra/mysql/schema/2023120601-stores-add-column-orders.sql
Labels: backend (api), backend (store), infra (database)

fix(store): fix small
  infra/mysql/schema/2023120601-stores-add-column-orders.sql
Labels: infra (database)

fix(store): fix small
  api/internal/store/database/mysql/order_test.go
Labels: backend (api), backend (store), test

fix(store): fix small
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
Labels: backend (api), backend (store), test

fix(store): fix small
  api/internal/store/database/mysql/order_test.go
Labels: backend (api), backend (store), test

fix(store): fix small
  api/internal/store/database/mysql/order_test.go
Labels: backend (api), backend (store), test

feat(store): 注文の管理番号を保持できるように (#1722)
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  infra/mysql/schema/2023120601-stores-add-column-orders.sql
Labels: backend (api), backend (store), infra (database), test

feat(user): ユーザー登録時、確認コードの再送ができるように
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/pkg/cognito/client.go
  api/pkg/cognito/client.go
  api/pkg/cognito/user.go
Labels: backend (api), backend (user), test

fix(mysql): カラム成約の修正
  infra/mysql/schema/2023120701-stores-modify-column-orders.sql
Labels: infra (database)

fix(mysql): カラム成約の修正 (#1724)
  infra/mysql/schema/2023120701-stores-modify-column-orders.sql
Labels: infra (database)

feat(user): ユーザー登録時、確認コードの再送ができるように (#1723)
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/pkg/cognito/client.go
  api/pkg/cognito/client.go
  api/pkg/cognito/user.go
Labels: backend (api), backend (user), test

feat(admin): 注文履歴一覧画面に注文番号を表示するように
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_test.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/plugins/axios.ts
  web/admin/src/plugins/firebase.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

feat(store): プロモーションコードで割引情報が引けるように
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/promotion.go
  api/internal/store/database/mysql/promotion_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  docs/swagger/user/paths/v1/carts/_coordinatorId/index.yaml
  web/user/src/types/api/apis/CartApi.ts
  web/user/src/types/api/models/CheckoutRequest.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test
