Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

feat(user): remove marshal json
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
Labels: backend (user), test

feat(store): implement update product type icons (#563)
  api/internal/store/database/database.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  infra/mysql/schema/2022111401-stores-alter-column.sql
Labels: backend (store), infra (database), test

fix(store): fix get product logic (#565)
  api/internal/store/database/product.go
  api/internal/store/database/shipping.go
Labels: backend (store)

feat(*): implement resize product type icons
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/resizer/product_type.go
  api/internal/media/resizer/product_type_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/resizer_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (media), backend (store), docs, test

feat(*): implement resize product type icons (#567)
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/resizer/product_type.go
  api/internal/media/resizer/product_type_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/resizer_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (media), backend (store), docs, test

feat: piniaのカスタムプラグインで共通のエラーハンドラーを実装 (#558)
  web/admin/nuxt.config.ts
  web/admin/src/plugins/api-error-handler.ts
  web/admin/src/plugins/auth.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/types/exception.ts
  web/admin/src/types/plugins/index.d.ts
Labels: frontend (admin)

fix(postalcode): fix response content type
  api/pkg/postalcode/client.go
  api/pkg/postalcode/search.go
Labels: none

fix(postalcode): fix for lint
  api/pkg/postalcode/client.go
Labels: none

fix(postalcode): fix response content type (#568)
  api/pkg/postalcode/client.go
  api/pkg/postalcode/search.go
Labels: none

feat(store): define address entity
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  infra/mysql/schema/2022111701-stores-create-addresses.sql
Labels: backend (store), infra (database), test

refactor(store): remove category fields
  api/internal/store/database/category.go
  api/internal/store/database/product_type.go
Labels: backend (store)

fix(store): fix ddl
  infra/mysql/schema/2022111701-stores-create-addresses.sql
Labels: infra (database)

feat(store): define address entity (#575)
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  infra/mysql/schema/2022111701-stores-create-addresses.sql
Labels: backend (store), infra (database), test

refactor(store): remove category fields (#576)
  api/internal/store/database/category.go
  api/internal/store/database/product_type.go
Labels: backend (store)

chore(api): update dependencies (#577)
  api/go.mod
  api/go.sum
Labels: none

fix(store): fix ddl
  infra/mysql/schema/2022111701-stores-create-addresses.sql
Labels: infra (database)

add: google-fontsのライブラリを追加
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

feat: フォントのダウンロードの設定を追加
  web/admin/.gitignore
  web/admin/nuxt.config.ts
Labels: frontend (admin)

feat: フォントをモリサワのBIZ UDPGothicに変更
  web/admin/src/assets/variables.scss
Labels: frontend (admin)

フォントをモリサワのBIZ UDPGothicに変更 (#578)
  web/admin/.gitignore
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/assets/variables.scss
  web/admin/yarn.lock
Labels: frontend (admin)

move: 注文ページのディレクトリを変更
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/orders/index.vue
Labels: frontend (admin)

add: 注文を管理するstoreを追加
  web/admin/src/store/orders.ts
Labels: frontend (admin)

fix(store): remove product field
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  infra/mysql/schema/2022111702-stores-drop-column.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), infra (database), docs, test

fix(admin): fix small
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

Fix/store/remove product field (#585)
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  infra/mysql/schema/2022111702-stores-drop-column.sql
  web/admin/src/pages/products/add.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), infra (database), docs, test

refactor(gateway): get shipping api
  api/internal/gateway/admin/v1/handler/shipping.go
Labels: backend (gateway)

refactor(gateway): get shipping api (#586)
  api/internal/gateway/admin/v1/handler/shipping.go
Labels: backend (gateway)

feat: piniaのpluginを活用してapi-clientをthisで使えるようにする
  web/admin/nuxt.config.ts
  web/admin/src/plugins/api-client.ts
  web/admin/src/types/plugins/index.d.ts
Labels: frontend (admin)

feat: 注文一覧を取得する関数の実装
  web/admin/src/store/orders.ts
Labels: frontend (admin)

feat: 注文ページにデータテーブルを追加
  web/admin/src/pages/orders/index.vue
Labels: frontend (admin)

生産者紐付け
  web/admin/src/pages/coordinators/edit/_id.vue
Labels: frontend (admin)

’生産者をダイアログに表示’
  web/admin/src/pages/coordinators/edit/_id.vue
Labels: frontend (admin)

style: 不要なconsole.logを消した
  web/admin/src/pages/coordinators/index.vue
Labels: frontend (admin)

fix: cookieにsecure属性を付与
  web/admin/src/store/auth.ts
Labels: frontend (admin)

注文一覧ページの実装 (#587)
  web/admin/nuxt.config.ts
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/orders.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/orders.ts
  web/admin/src/types/plugins/index.d.ts
Labels: frontend (admin)

fix: cookieにsecure属性を付与 (#588)
  web/admin/src/store/auth.ts
Labels: frontend (admin)

chore(api): update dependencies (#591)
  api/.tool-versions
  api/go.mod
  api/go.sum
Labels: none

fix(store): fix ddl
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  infra/mysql/schema/2022120401-stores-recreate-orders.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), infra (database), docs

feat(store): implement multi get addresses
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/store/database/address.go
  api/internal/store/database/address_test.go
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/address.go
  api/internal/store/service/address_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (gateway), backend (store), test

feat(store): implement multi get addresses (#593)
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/store/database/address.go
  api/internal/store/database/address_test.go
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/address.go
  api/internal/store/service/address_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (gateway), backend (store), test
