Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

feat(api): キャンプ施設向けJWT認証機能の実装
  api/go.mod
  api/go.sum
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/auth_test.go
  api/internal/gateway/user/facility/auth/jwt.go
  api/internal/gateway/user/facility/auth/jwt_test.go
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/auth/oidc_test.go
Labels: backend (api), backend (gateway), test

feat(api): キャンプ施設向けJWT認証機能の実装 (#2953)
  api/go.mod
  api/go.sum
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/auth_test.go
  api/internal/gateway/user/facility/auth/jwt.go
  api/internal/gateway/user/facility/auth/jwt_test.go
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/auth/oidc_test.go
Labels: backend (api), backend (gateway), test

feat(api): キャンプ施設ユーザーのチェックイン機能を実装
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/facility_user_test.go
  api/internal/user/database/tidb/user_test.go
  api/internal/user/entity/facility_user.go
  api/internal/user/entity/user.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/facility_user.go
  api/internal/user/service/facility_user_test.go
  api/internal/user/service/service_test.go
  docs/swagger/gen/user/facility/swagger.yaml
  infra/tidb/schema/users/2025082701-add-column-to-facility-users.sql
Labels: backend (api), backend (gateway), backend (user), docs, test

fix: small
  api/internal/user/database/tidb/tidb_test.go
  api/internal/user/input.go
Labels: backend (api), backend (user), test

fix: small
  api/internal/user/database/tidb/facility_user_test.go
Labels: backend (api), backend (user), test

feat(api): キャンプ施設ユーザーのチェックイン機能を実装 (#2956)
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/facility_user_test.go
  api/internal/user/database/tidb/tidb_test.go
  api/internal/user/database/tidb/user_test.go
  api/internal/user/entity/facility_user.go
  api/internal/user/entity/user.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/facility_user.go
  api/internal/user/service/facility_user_test.go
  api/internal/user/service/service_test.go
  docs/swagger/gen/user/facility/swagger.yaml
  infra/tidb/schema/users/2025082701-add-column-to-facility-users.sql
Labels: backend (api), backend (gateway), backend (user), docs, test

setup: liffのアクセストークンを表示する
  web/liff/src/pages/index.vue
Labels: none

setup: liffのアクセストークンを表示する (#2957)
  web/liff/src/pages/index.vue
Labels: none

fix: ログイン状態の表示を追加
  web/liff/src/pages/index.vue
Labels: none

fix: ログイン状態の表示を追加 (#2958)
  web/liff/src/pages/index.vue
Labels: none

test(api): キャンプ施設ユーザー機能のテストコードを追加
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/cart.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/order.go
  api/internal/gateway/user/facility/handler/producer.go
  api/internal/gateway/user/facility/response/auth.go
  api/internal/gateway/user/facility/service/auth.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/facility_user_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/facility_user.go
  api/internal/user/service/facility_user_test.go
  infra/tidb/schema/users/2025082901-recreate-index-facility-users.sql
Labels: backend (api), backend (gateway), backend (user), test

fix: docs
  docs/swagger/gen/user/facility/swagger.yaml
Labels: docs

test(gateway): キャンプ施設ログイン機能の実装 (#2962)
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/cart.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/order.go
  api/internal/gateway/user/facility/handler/producer.go
  api/internal/gateway/user/facility/response/auth.go
  api/internal/gateway/user/facility/service/auth.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/facility_user_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/facility_user.go
  api/internal/user/service/facility_user_test.go
  docs/swagger/gen/user/facility/swagger.yaml
  infra/tidb/schema/users/2025082901-recreate-index-facility-users.sql
Labels: backend (api), backend (gateway), backend (user), docs, test

feat(api): キャンプ施設向け認証機能の実装
  .claude.json
  .claude/debug/2025-08-28_session.md
  .claude/debug/README.md
  .claude/knowledge/README.md
  CLAUDE.md
  api/docs/README.md
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/service/auth_test.go
  api/internal/gateway/user/facility/service/auth_user.go
  api/internal/gateway/user/facility/service/auth_user_test.go
  docs/README.md
Labels: backend (api), backend (gateway), docs, test

fix(db): マイグレーションSQLのカラム名修正
  infra/tidb/schema/users/2025082901-recreate-index-facility-users.sql
Labels: none

fix(api): リンターエラーとテスト失敗の修正
  api/internal/exception/exception.go
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/util/response.go
  api/internal/gateway/util/response_test.go
  api/internal/user/database/tidb/facility_user_test.go
Labels: backend (api), backend (gateway), backend (user), test

test(api): facility_userテストの改善
  api/internal/user/database/tidb/facility_user_test.go
Labels: backend (api), backend (user), test

test(api): テストの削除処理を簡略化
  api/internal/user/database/tidb/facility_user_test.go
Labels: backend (api), backend (user), test

test(api): testFacilityにExternalIDフィールドを追加
  api/internal/user/database/tidb/facility_user_test.go
Labels: backend (api), backend (user), test

fix: 所用時間のラベルを所要時間に変更し、表示を分から時間に修正
  web/admin/src/components/templates/ExperienceNew.vue
  web/user/src/pages/experiences/[...id].vue
Labels: frontend (admin), frontend (user)

fix: 所用時間のラベルを所要時間に変更し、表示を分から時間に修正 (#2964)
  web/admin/src/components/templates/ExperienceNew.vue
  web/user/src/pages/experiences/[...id].vue
Labels: frontend (admin), frontend (user)

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v5.1.3 (#2954)
  CHANGELOG.md
Labels: none

feat(api): キャンプ施設向け認証機能の実装 (#2963)
  .claude.json
  .claude/debug/2025-08-28_session.md
  .claude/debug/README.md
  .claude/knowledge/README.md
  CLAUDE.md
  api/docs/README.md
  api/internal/exception/exception.go
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/service/auth_test.go
  api/internal/gateway/user/facility/service/auth_user.go
  api/internal/gateway/user/facility/service/auth_user_test.go
  api/internal/gateway/util/response.go
  api/internal/gateway/util/response_test.go
  api/internal/user/database/tidb/facility_user_test.go
  docs/README.md
  infra/tidb/schema/users/2025082901-recreate-index-facility-users.sql
Labels: backend (api), backend (gateway), backend (user), docs, test

fix: DDLの修正
  infra/tidb/schema/users/2025082901-recreate-index-facility-users.sql
Labels: none

fix: DDLの修正
  infra/tidb/schema/users/2025082401-create-facility-users.sql
  infra/tidb/schema/users/2025082901-recreate-index-facility-users.sql
Labels: none

feat(*): DynamoDBのdeleteメソッド追加
  api/internal/gateway/cmd/user/registry.go
  api/pkg/dynamodb/client.go
Labels: backend (api), backend (gateway)

fix: デバッグログの追加
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/handler/auth_user.go
Labels: backend (api), backend (gateway)

fix: OIDC検証の修正
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/auth/oidc_test.go
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/cart.go
  api/internal/gateway/user/facility/handler/checkout.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/order.go
Labels: backend (api), backend (gateway), test

feat(api): Add cookie authentication support to Swagger generation
  api/Makefile
  api/hack/simplify-openapi-components/main.go
  api/internal/gateway/user/v1/handler/handler.go
  docs/swagger/gen/user/facility/swagger.yaml
  docs/swagger/gen/user/v1/swagger.yaml
Labels: backend (api), backend (gateway), docs

chore(ci): GitHub ActionsでGoのテストキャッシュを有効化
  .github/actions/setup-go/action.yaml
  .github/workflows/ci-backend.yaml
Labels: workflow

chore(ci): GitHub ActionsでGoのテストキャッシュを有効化 (#2968)
  .github/actions/setup-go/action.yaml
  .github/workflows/ci-backend.yaml
Labels: workflow

feat: 未ログイン時にログインに誘導するように変更
  web/liff/src/pages/index.vue
Labels: none

fix:
  web/liff/src/pages/index.vue
Labels: none

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

refactor(api): Rename LINE verifier to LIFF verifier for clarity
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/auth/oidc_test.go
Labels: backend (api), backend (gateway), test

refactor(api): Rename LINE verifier to LIFF verifier for clarity (#2971)
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/auth/oidc_test.go
Labels: backend (api), backend (gateway), test

chore: Add Japanese language preference to Copilot instructions
  .github/copilot-instructions.md
Labels: workflow

feat: getCartの実装をモックからAPI呼び出しに変更
  web/liff/src/stores/shopping.ts
Labels: none

chore: Add Japanese language preference to Copilot instructions (#2973)
  .github/copilot-instructions.md
Labels: workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
