Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fead(severless): change credendtials setting (#1281)
  .github/workflows/cd-serverless-for-main.yaml
  infra/serverless/serverless.yml
Labels: workflow

feat: add not found handling
  infra/serverless/serverless.yml
Labels: none

feat: add not found handling (#1282)
  infra/serverless/serverless.yml
Labels: none

chore(func): upgrade golang v1.21.0
  func/.tool-versions
  func/go.mod
  func/go.sum
Labels: backend (function)

chore(workflow): upgrade golang v1.21.0
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-function-for-all.yaml
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media/resizer/Dockerfile
  infra/docker/api/media/scheduler/Dockerfile
  infra/docker/api/media/updater/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow

fix(api): fix for lint
  api/.golangci.yaml
  api/internal/store/input.go
  func/.golangci.yaml
Labels: backend (api), backend (store), backend (function)

fix(api): fix for lint
  api/pkg/firebase/messaging/sender.go
  func/ivs-converter/main.go
Labels: backend (api), backend (function)

モック値でライブ視聴画面の実装（途中） (#1260)
  web/user/package.json
  web/user/src/components/atoms/icons/TheDownArrowIcon.vue
  web/user/src/components/atoms/icons/TheUpArrowIcon.vue
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/constants/mock/live.ts
  web/user/src/pages/live/[...id].vue
  web/user/yarn.lock
Labels: frontend (user)

fix(api): default database timezone
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/user/config.go
  api/internal/media/cmd/resizer/config.go
  api/internal/media/cmd/scheduler/config.go
  api/internal/media/cmd/updater/config.go
  api/internal/messenger/cmd/scheduler/config.go
  api/internal/messenger/cmd/worker/config.go
Labels: backend (api), backend (gateway), backend (media), backend (messenger)

fix(api): インフラ構成の変更 (#1342)
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/user/config.go
  api/internal/media/cmd/resizer/config.go
  api/internal/media/cmd/scheduler/config.go
  api/internal/media/cmd/updater/config.go
  api/internal/messenger/cmd/scheduler/config.go
  api/internal/messenger/cmd/worker/config.go
Labels: backend (api), backend (gateway), backend (media), backend (messenger)

mock: モックの値を定義
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/timeline.ts
Labels: frontend (user)

setup: tailwindcssの設定を追加
  web/user/tailwind.config.ts
Labels: frontend (user)

feat: ライブ画面のタイムライン表示部分のUI実装
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/organisms/TheLiveTimeline.vue
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

fix(workflow): ビルド時の引数追加
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-stg.yaml
Labels: workflow

fix(workflow): ビルド時の引数追加 (#1344)
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-stg.yaml
Labels: workflow

fix(workflow): typoの修正
  .github/workflows/cd-messenger-for-stg.yaml
Labels: workflow

fix(infra): コンテナイメージの修正
  infra/docker/api/Dockerfile
Labels: infra (container)

fix(api): コンフィグファイルを追加
  infra/docker/api/Dockerfile
Labels: infra (container)

ライブ配信画面のタイムライン部分のUI実装 (#1343)
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/organisms/TheLiveTimeline.vue
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/timeline.ts
  web/user/src/pages/live/[...id].vue
  web/user/tailwind.config.ts
Labels: frontend (user)

feat: トップページのライブアイテムをhover時の挙動とページ遷移を制御
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/pages/index.vue
  web/user/tailwind.config.ts
Labels: frontend (user)

fix(admin): nilになっている箇所の修正
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

fix(admin): nilになっている箇所の修正 (#1345)
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

fix(admin): タイポの修正
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(admin): タイポの修正 (#1346)
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(media): 起動時引数の修正
  api/internal/media/cmd/scheduler/cmd.go
Labels: backend (api), backend (media)

feat(admin): KOMOJU用のWebhookエンドポイント追加
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/komoju/handler/event.go
Labels: backend (api), backend (gateway)

fix(admin): GitHub Actionsの修正
  .github/workflows/cd-media-for-stg.yaml
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (api), backend (gateway), workflow

feat(admin): KOMOJU用のWebhookエンドポイント追加 (#1347)
  .github/workflows/cd-media-for-stg.yaml
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/komoju/handler/event.go
Labels: backend (api), backend (gateway), workflow

fix(admin): KOMOJU Webhookのデバッグログ修正
  .github/workflows/cd-media-for-stg.yaml
  api/internal/gateway/komoju/handler/event.go
  api/internal/gateway/komoju/request/request.go
Labels: backend (api), backend (gateway), workflow

fix(admin): KOMOJU Webhookのデバッグログ修正
  api/internal/gateway/komoju/handler/event.go
  api/internal/gateway/komoju/request/ping.go
Labels: backend (api), backend (gateway)

feat(store): StripeからKOMOJU用にデータ設計の変更
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/admin/v1/service/order_refund.go
  api/internal/gateway/admin/v1/service/order_refund_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/payment_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/payment.go
  api/internal/store/entity/stripe_user.go
  api/internal/store/service/order_test.go
  infra/mysql/schema/2023093001-stores-alter-table-order.sql
Labels: backend (api), backend (gateway), backend (store), infra (database), test

fix(admin): fix test code
  api/internal/gateway/admin/v1/service/order_test.go
Labels: backend (api), backend (gateway), test

Add: added thanks message
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/index.vue
  web/user/src/public/img/purchase/complete.svg
  web/user/src/types/locales/i18n.ts
  web/yarn.lock
Labels: frontend (user)

Add: added purchase complete page
  web/user/src/pages/v1/purchase/complete.vue
Labels: frontend (user)

delete eslint-disable line
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user)

feat(store): StripeからKOMOJU用にデータ設計の変更 (#1348)
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/admin/v1/service/order_refund.go
  api/internal/gateway/admin/v1/service/order_refund_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/payment_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/payment.go
  api/internal/store/entity/stripe_user.go
  api/internal/store/service/order_test.go
  infra/mysql/schema/2023093001-stores-alter-table-order.sql
Labels: backend (api), backend (gateway), backend (store), infra (database), test

feat: hover時にコーディネーターの情報を出す
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/constants/mock/live.ts
  web/user/src/pages/index.vue
Labels: frontend (user)

feat: 「もっと見る」ボタンにアイコンを追加
  web/user/src/components/atoms/icons/TheDownArrowIcon.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

fix(api): fix small
  api/internal/media/database/mysql/mysql_test.go
  api/internal/messenger/database/mysql/mysql_test.go
Labels: backend (api), backend (media), backend (messenger), test

fix(api): fix small
  api/internal/messenger/database/mysql/mysql_test.go
Labels: backend (api), backend (messenger), test
