Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

feat: archiveItemの対応
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: お友達追加の文言を変更
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
Labels: frontend (user)

refactor: インデント調整
  web/user/src/components/molecules/TheCarousel.vue
Labels: frontend (user)

chore: yarn lint
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat(admin): 視聴者ログの可視化
  api/internal/media/database/mysql/broadcast_viewer_log.go
  web/admin/package.json
  web/admin/src/components/organisms/ScheduleAnalytics.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/plugins/chartjs.client.ts
  web/admin/src/store/schedule.ts
  web/admin/yarn.lock
Labels: frontend (admin), backend (api), backend (media)

fix(admin): fix small
  web/admin/nuxt.config.ts
  web/admin/src/components/organisms/ScheduleAnalytics.vue
Labels: frontend (admin)

feat(admin): 視聴者ログの可視化 (#2278)
  api/internal/media/database/mysql/broadcast_viewer_log.go
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/components/organisms/ScheduleAnalytics.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/plugins/chartjs.client.ts
  web/admin/src/store/schedule.ts
  web/admin/yarn.lock
Labels: frontend (admin), backend (api), backend (media)

Release for v1.11.31 (#2274)
  CHANGELOG.md
Labels: none

fix: Liveに紐づく関連商品のidsをPriorityでソートするように修正
  api/internal/store/entity/live_product.go
  api/internal/store/entity/live_product_test.go
Labels: backend (api), backend (store), test

fix; resの初期型方法を変更
  api/internal/store/entity/live_product.go
Labels: backend (api), backend (store)

fix: Liveに紐づく関連商品のidsをPriorityでソートするように修正 (#2279)
  api/internal/store/entity/live_product.go
  api/internal/store/entity/live_product_test.go
Labels: backend (api), backend (store), test

Release for v1.11.32 (#2280)
  CHANGELOG.md
Labels: none

feat(user): TOPのi18n対応 (#2277)
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat(media): 合計視聴者数を取得できるように
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_viewer_log.go
  api/internal/media/database/mysql/broadcast_viewer_log_test.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_viewer_log.go
  api/internal/media/service/broadcast_viewer_log_test.go
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

feat(media): 合計視聴者数を取得できるように (#2283)
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_viewer_log.go
  api/internal/media/database/mysql/broadcast_viewer_log_test.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_viewer_log.go
  api/internal/media/service/broadcast_viewer_log_test.go
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

chore: echartsの導入
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

fix: echartsで書き換え
  web/admin/src/components/organisms/ScheduleAnalytics.vue
Labels: frontend (admin)

Fix/web/admin/live dashborad (#2284)
  web/admin/package.json
  web/admin/src/components/organisms/ScheduleAnalytics.vue
  web/admin/yarn.lock
Labels: frontend (admin)

Release for v1.11.33 (#2281)
  CHANGELOG.md
Labels: none

feat: 商品ページのタイトル対応
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/items/index.vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: 商品ステータスの文言を対応
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/constants/mock/items.ts
  web/user/src/lib/product.ts
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: 商品サムネイルのaltを対応
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: 税込表記対応
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: 数量ラベル追加
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: 商品をカートに入れる部分対応
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: コーディネーター情報の対応
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

fix: mockの差分もどす
  web/user/src/constants/mock/items.ts
Labels: frontend (user)

chore: yarn format
  web/user/src/lib/product.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

fix: typo
  web/user/src/lib/product.ts
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: 商品をカゴに追加した時のメッセージ対応
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/items/index.vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

fix: mockの最終行を改行
  web/user/src/constants/mock/items.ts
Labels: frontend (user)

feat(user): 商品一覧のi18n対応 (#2285)
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/lib/product.ts
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/items/index.vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: トップページに動画イメージのUIを実装
  web/user/src/pages/index.vue
Labels: frontend (user)

ui: styleの調整
  web/user/src/pages/index.vue
Labels: frontend (user)

ui: 動画の領域とボタンサイズの調整
  web/user/src/pages/index.vue
Labels: frontend (user)

style: トップページデザインの調整
  web/user/src/pages/index.vue
Labels: frontend (user)

style: spの下部のレイアウト調整
  web/user/src/pages/index.vue
Labels: frontend (user)

style: ボタンが見えるように調整
  web/user/src/pages/index.vue
Labels: frontend (user)

style: ボタンの位置を少し上にあげる
  web/user/src/pages/index.vue
Labels: frontend (user)

feat:リンクを追加
  web/user/src/pages/index.vue
Labels: frontend (user)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
