Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix: ファビコンの差し替え
  web/user/src/public/favicon.ico
Labels: frontend (user)

feat(serverless): HLSセグメント関連の設定変更
  infra/serverless/serverless.yml
Labels: none

feat(serverless): HLSセグメント関連の設定変更 (#1761)
  infra/serverless/serverless.yml
Labels: none

リフレッシュトークンが存在しない場合に関数呼び出しを終了するように修正 (#1760)
  web/user/src/public/favicon.ico
  web/user/src/store/auth.ts
Labels: frontend (user)

feat: MediaStoreの削除失敗時にRetry処理するように修正
  infra/serverless/serverless.yml
Labels: none

feat: MediaStoreの削除失敗時にRetry処理するように修正 (#1762)
  infra/serverless/serverless.yml
Labels: none

fix(store): 支払いAPIの重複実行抑止対策
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  web/user/src/types/api/models/CalcCartResponse.ts
  web/user/src/types/api/models/CheckoutRequest.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

feat: ライブ画面から商品追加できるようにする
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheSnackbar.vue
  web/user/src/components/organisms/TheLiveTimeline.vue
  web/user/src/lib/price.ts
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

fix(user): 状態を重複して持ってしまっている箇所の修正
  api/internal/user/database/mysql/admin.go
  api/internal/user/database/mysql/administrator.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/guest.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/user.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/guest.go
  api/internal/user/entity/member.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/user.go
  api/internal/user/service/administrator.go
  api/internal/user/service/user.go
  infra/mysql/schema/2023121601-users-drop-columns.sql
Labels: backend (api), backend (user), infra (database)

fix(user): fix small
  api/internal/user/database/mysql/producer.go
Labels: backend (api), backend (user)

feat: ライブ画面から商品追加できるようにする (#1765)
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheSnackbar.vue
  web/user/src/components/organisms/TheLiveTimeline.vue
  web/user/src/lib/price.ts
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

fix(store): 支払いAPIの重複実行抑止対策 (#1763)
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  web/user/src/types/api/models/CalcCartResponse.ts
  web/user/src/types/api/models/CheckoutRequest.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(user): 状態を重複して持ってしまっている箇所の修正 (#1764)
  api/internal/user/database/mysql/admin.go
  api/internal/user/database/mysql/administrator.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/guest.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/user.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/guest.go
  api/internal/user/entity/member.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/user.go
  api/internal/user/service/administrator.go
  api/internal/user/service/user.go
  infra/mysql/schema/2023121601-users-drop-columns.sql
Labels: backend (api), backend (user), infra (database)

fix: 占有率の表示がおかしい問題に対応
  web/user/src/store/shopping.ts
Labels: frontend (user)

fix: 占有率の表示がおかしい問題に対応 (#1766)
  web/user/src/store/shopping.ts
Labels: frontend (user)

feat(admin): ユーザーのステータスを表示するように
  api/internal/gateway/admin/v1/response/administrator.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/admin.go
  api/internal/gateway/admin/v1/service/admin_test.go
  api/internal/gateway/admin/v1/service/administrator.go
  api/internal/gateway/admin/v1/service/administrator_test.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/auth_test.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  docs/swagger/admin/components/schemas/codes/admin.yaml
  docs/swagger/admin/components/schemas/codes/user.yaml
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

feat(admin): ユーザーのステータスを表示するように (#1767)
  api/internal/gateway/admin/v1/response/administrator.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/admin.go
  api/internal/gateway/admin/v1/service/admin_test.go
  api/internal/gateway/admin/v1/service/administrator.go
  api/internal/gateway/admin/v1/service/administrator_test.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/auth_test.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  docs/swagger/admin/components/schemas/codes/admin.yaml
  docs/swagger/admin/components/schemas/codes/user.yaml
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

feat(admin): 商品ステータスにアーカイブ済みを追加
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  docs/swagger/admin/components/schemas/codes/product.yaml
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

fix(store): fix small
  api/internal/store/entity/product_test.go
Labels: backend (api), backend (store), test

feat: チェックアウトAPIの呼び出しまで実装
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/checkout.ts
  web/user/src/store/shopping.ts
  web/user/src/types/plugins/index.d.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

feat(admin): 商品ステータスにアーカイブ済みを追加 (#1768)
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  docs/swagger/admin/components/schemas/codes/product.yaml
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

fix(user): APIの修正
  docs/swagger/user/paths/v1/checkouts/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
Labels: frontend (user), docs

fix(user): リクエスト値の修正
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

wip
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/store/auth.ts
  web/user/src/store/checkout.ts
Labels: frontend (user)

fix: prefectureCodeを追加
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/store/shopping.ts
Labels: frontend (user)

feat: checkout処理を追加
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/store/checkout.ts
Labels: frontend (user)

fix: 送料部分の計算ロジックが入るように常に再フェッチするように修正
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

fix: リフレッシュトークン取得の部分でPromise.rejectをするように修正
  web/user/src/store/auth.ts
Labels: frontend (user)

fix: ヘッダーのガタつき軽減
  web/user/src/layouts/default.vue
Labels: frontend (user)

Add: added get coordinator api
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/store/coordinator.ts
Labels: frontend (user)

Add: added coordinator get api
  web/user/src/plugins/api-client.ts
  web/user/src/store/coordinator.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

fix(media): ライブ配信開始時の動作を修正
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (api), backend (media)

feat(store): 開催スケジュールのデフォルト並び順を指定
  api/internal/store/database/mysql/schedule.go
Labels: backend (api), backend (store)

feat(store): 開催スケジュールのデフォルト並び順を指定 (#1770)
  api/internal/store/database/mysql/schedule.go
Labels: backend (api), backend (store)

fix(media): ライブ配信開始時の動作を修正
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (api), backend (media)

feat(api): 自身のコーディネータ情報を編集するためのAPI実装
  api/internal/gateway/admin/v1/handler/auth.go
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/coordinator/index.yaml
  docs/swagger/admin/paths/v1/auth/coordinator/shippings.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs

fix: overflowの制御を追加
  web/user/src/components/molecules/TheLiveTimelineItem.vue
Labels: frontend (user)

fix: window.location.hrefでurlを書き換えるように変更
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

fix: ページ遷移後にライブのストリーミング受信をやめるように修正
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
Labels: frontend (user)

チェックアウトAPIとの繋ぎこみ (#1769)
  docs/swagger/user/paths/v1/checkouts/index.yaml
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/auth.ts
  web/user/src/store/checkout.ts
  web/user/src/store/shopping.ts
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/plugins/index.d.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user), docs
