Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(api): fix test code
  api/internal/store/service/shop_test.go
Labels: backend (api), backend (store), test

fix(api): fix for reviews
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/response/auth.go
Labels: backend (api), backend (gateway)

fix(user): プロもショーンコードの検証時、対象の店舗かを判定できるように
  api/internal/gateway/admin/v1/service/shop_test.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/handler/shop.go
  docs/swagger/user/paths/v1/promotions/_code/index.yaml
  web/user/src/store/shopping.ts
  web/user/src/types/api/apis/PromotionApi.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

fix(user): プロモーションコードの検証時、対象の店舗かを判定できるように (#2732)
  api/internal/gateway/admin/v1/service/shop_test.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/handler/shop.go
  docs/swagger/user/paths/v1/promotions/_code/index.yaml
  web/user/src/store/shopping.ts
  web/user/src/types/api/apis/PromotionApi.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

fix(user): プロモーションコードの検証に必要なパラメータ追加
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/store/shopping.ts
Labels: frontend (user)

fix(user): 呼び出し箇所が何箇所かあり漏れていた箇所があるので修正
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: frontend (user)

Release for v4.4.0 (#2730)
  CHANGELOG.md
Labels: none

Fix: fixed top page
  web/user/src/components/templates/TheAbout.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
Labels: frontend (user)

Fix: fixed lint
  web/user/src/pages/index.vue
Labels: frontend (user)

Fix: fixed top page (#2733)
  web/user/src/components/templates/TheAbout.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
Labels: frontend (user)

Release for v4.4.1 (#2734)
  CHANGELOG.md
Labels: none

docs: useAsyncDataにコメントを追加
  web/user/src/pages/reviews/products/[...id].vue
Labels: frontend (user)

feat: 未認証時にログイン画面に遷移することを促すメッセージの追加
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/reviews/products/[...id].vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: レビュー投稿ボタンをセンタリングに変更
  web/user/src/components/atoms/review/TheReviewForm.vue
Labels: frontend (user)

feat: 未ログイン時のレビュー投稿画面の挙動を修正
  web/user/src/pages/reviews/products/[...id].vue
  web/user/src/pages/signin.vue
Labels: frontend (user)

feat: レビュー投稿時のエラーメッセージのUIと送信中のUIの調整
  web/user/src/components/atoms/review/TheReviewForm.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/reviews/products/[...id].vue
  web/user/src/store/productReview.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: 認証トークンを渡すように修正
  web/user/src/store/productReview.ts
Labels: frontend (user)

feat: レビュー投稿完了画面の実装
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/reviews/complete.vue
  web/user/src/pages/reviews/products/[...id].vue
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

レビュー投稿機能の実装 (#2735)
  web/user/src/components/atoms/review/TheReviewForm.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/reviews/complete.vue
  web/user/src/pages/reviews/products/[...id].vue
  web/user/src/pages/signin.vue
  web/user/src/store/productReview.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: トップページのコンセプトテキスト部分のアニメーションを追加
  web/user/src/pages/index.vue
  web/user/tailwind.config.ts
Labels: frontend (user)

fix: 不要なimportを削除
  web/user/src/pages/index.vue
Labels: frontend (user)

feat: トップページのコンセプトテキスト部分のアニメーションを追加 (#2737)
  web/user/src/pages/index.vue
  web/user/tailwind.config.ts
Labels: frontend (user)

Release for v4.4.2 (#2736)
  CHANGELOG.md
Labels: none

fix(admin): リフレッシュトークンの有効期限を明示的に指定
  web/admin/src/store/auth.ts
Labels: frontend (admin)

fix(admin): リフレッシュトークンの有効期限を明示的に指定 (#2738)
  web/admin/src/store/auth.ts
Labels: frontend (admin)

feat(messenger): レビュー依頼通知の実装
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/schedule.go
  api/internal/messenger/entity/url.go
  api/internal/messenger/entity/url_test.go
  api/internal/messenger/input.go
  api/internal/messenger/scheduler/review_request.go
  api/internal/messenger/scheduler/review_request_test.go
  api/internal/messenger/scheduler/scheduler.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin), backend (api), backend (gateway), backend (messenger), backend (store), test

fix: small
  api/internal/messenger/scheduler/scheduler_test.go
Labels: backend (api), backend (messenger), test

feat(messenger): レビュー依頼通知の実装 (#2740)
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/schedule.go
  api/internal/messenger/entity/url.go
  api/internal/messenger/entity/url_test.go
  api/internal/messenger/input.go
  api/internal/messenger/scheduler/review_request.go
  api/internal/messenger/scheduler/review_request_test.go
  api/internal/messenger/scheduler/scheduler.go
  api/internal/messenger/scheduler/scheduler_test.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin), backend (api), backend (gateway), backend (messenger), backend (store), test

Fix: fixed shipping message
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin)

chore: upgrade
  api/Makefile
  api/go.mod
Labels: backend (api)

Fix: fixed shipping message (#2743)
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin)

feat(store): ダミーの商品レビューを追加
  api/hack/store-create-product-reviews/main.go
  api/internal/gateway/user/v1/service/experience_review.go
  api/internal/gateway/user/v1/service/live_comment.go
  api/internal/gateway/user/v1/service/product_review.go
  api/internal/gateway/user/v1/service/spot.go
  api/internal/gateway/user/v1/service/video_comment.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
Labels: backend (api), backend (gateway), backend (user), test

fix: small
  api/hack/store-create-product-reviews/main.go
  api/hack/store-create-product-reviews/product-dummy-reviews.csv
Labels: backend (api)

fix: small
  api/internal/gateway/user/v1/service/spot_test.go
Labels: backend (api), backend (gateway), test

feat(store): ダミーの商品レビューを追加 (#2746)
  api/hack/store-create-product-reviews/main.go
  api/hack/store-create-product-reviews/product-dummy-reviews.csv
  api/internal/gateway/user/v1/service/experience_review.go
  api/internal/gateway/user/v1/service/live_comment.go
  api/internal/gateway/user/v1/service/product_review.go
  api/internal/gateway/user/v1/service/spot.go
  api/internal/gateway/user/v1/service/spot_test.go
  api/internal/gateway/user/v1/service/video_comment.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
Labels: backend (api), backend (gateway), backend (user), test

fix: small
  api/.tool-versions
  api/go.mod
Labels: backend (api)

fix(messenger): メールに添付するサムネイルのURLをフィルタリング
  api/internal/messenger/entity/mail_config.go
Labels: backend (api), backend (messenger)

fix(messenger): メールに添付するサムネイルのURLをフィルタリング (#2747)
  api/internal/messenger/entity/mail_config.go
Labels: backend (api), backend (messenger)

Release for v4.4.3 (#2739)
  CHANGELOG.md
Labels: none

hotfix(infra): コンテナイメージのバージョン修正
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
