Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

fix(admin): リクエストタイムアウトを延長
  web/admin/src/plugins/axios.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/schedule.ts
Labels: frontend (admin)

fix(admin): fix small
  web/admin/src/plugins/axios.ts
Labels: frontend (admin)

fix(admin): リクエストタイムアウトを延長 (#1826)
  web/admin/src/plugins/axios.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/schedule.ts
Labels: frontend (admin)

feat(hack): データベースの初期データ投入用のコマンド実装
  api/hack/create-admin/main.go
  api/hack/database-migrate/main.go
  api/hack/database-seeds/common/common.go
  api/hack/database-seeds/main.go
  api/hack/database-seeds/master/category.csv
  api/hack/database-seeds/master/product-type.csv
  api/hack/database-seeds/store/execute.go
  api/internal/store/entity/category.go
  api/internal/store/entity/category_test.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/product_type_test.go
  api/internal/store/service/category.go
  api/internal/store/service/product_type.go
Labels: backend (api), backend (store), test

feat(hack): データベースの初期データ投入用のコマンド実装 (#1827)
  api/hack/create-admin/main.go
  api/hack/database-migrate/main.go
  api/hack/database-seeds/common/common.go
  api/hack/database-seeds/main.go
  api/hack/database-seeds/master/category.csv
  api/hack/database-seeds/master/product-type.csv
  api/hack/database-seeds/store/execute.go
  api/internal/store/entity/category.go
  api/internal/store/entity/category_test.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/product_type_test.go
  api/internal/store/service/category.go
  api/internal/store/service/product_type.go
Labels: backend (api), backend (store), test

fix(store): 注文履歴作成時、発送時メッセージのデフォルト値を詰めるように
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

fix(admin): 商品更新ボタンがアクティベート状態にならない不具合を修正
  web/admin/src/pages/products/[id]/index.vue
Labels: frontend (admin)

fix(admin): セール情報のステータスを修正
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
Labels: frontend (admin)

fix(store): 注文履歴作成時、発送時メッセージのデフォルト値を詰めるように (#1828)
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

fix(admin): 商品更新ボタンがアクティベート状態にならない不具合を修正 (#1829)
  web/admin/src/pages/products/[id]/index.vue
Labels: frontend (admin)

fix(admin): セール情報のステータスを修正 (#1830)
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
Labels: frontend (admin)

feat(user): 購入フローにデバッグログを追加
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

feat(user): 購入フローにデバッグログを追加 (#1831)
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

fix(api): 商品取得時に販売終了しているものは除外されるように
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
Labels: backend (api), backend (gateway), backend (store), test

fix(api): 商品取得時に販売終了しているものは除外されるように (#1832)
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
Labels: backend (api), backend (gateway), backend (store), test

fix(store): 購入周りの商品フィルタリング処理を修正
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

fix(store): 購入周りの商品フィルタリング処理を修正 (#1833)
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

fix(api): 販売期間外の商品が取得されないように
  api/internal/gateway/user/v1/handler/product.go
Labels: backend (api), backend (gateway)

feat(database): 全文検索用のインデックス追加
  infra/mysql/schema/2024010201-stores-add-index.sql
  infra/mysql/schema/2024010202-users-add-index.sql
Labels: infra (database)

fix(database): fix small
  infra/mysql/schema/2024010201-stores-add-index.sql
Labels: infra (database)

feat(database): 全文検索用のインデックス追加 (#1834)
  infra/mysql/schema/2024010201-stores-add-index.sql
  infra/mysql/schema/2024010202-users-add-index.sql
Labels: infra (database)

fix(store): 検索クエリの修正
  api/internal/store/database/mysql/category.go
  api/internal/store/database/mysql/category_test.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/product_tag.go
  api/internal/store/database/mysql/product_tag_test.go
  api/internal/store/database/mysql/product_type.go
  api/internal/store/database/mysql/product_type_test.go
  api/internal/store/database/mysql/promotion.go
Labels: backend (api), backend (store), test

fix(user): 検索クエリの修正
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/coordinator_test.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/producer.go
Labels: backend (api), backend (gateway), backend (user), test

fix(store): 検索クエリの修正 (#1835)
  api/internal/store/database/mysql/category.go
  api/internal/store/database/mysql/category_test.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/product_tag.go
  api/internal/store/database/mysql/product_tag_test.go
  api/internal/store/database/mysql/product_type.go
  api/internal/store/database/mysql/product_type_test.go
  api/internal/store/database/mysql/promotion.go
Labels: backend (api), backend (store), test

Add: added producer image
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/public/img/coordinator/left.svg
  web/user/src/public/img/coordinator/right.svg
Labels: frontend (user)

fix(user): 検索クエリの修正 (#1836)
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/coordinator_test.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/producer.go
Labels: backend (api), backend (gateway), backend (user), test

feat(web): モニタリング設定とLinter対応
  web/admin/src/app.vue
  web/admin/src/public/new-relic/prd.js
  web/user/.eslintrc.cjs
  web/user/src/app.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/public/new-relic/dev.js
  web/user/src/public/new-relic/prd.js
  web/user/src/public/new-relic/stg.js
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/FulfillmentStatus.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/OrderRefundType.ts
  web/user/src/types/api/models/OrderStatus.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentStatus.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingCarrier.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (admin), frontend (user)

setup: SSRを有効にする
  web/user/nuxt.config.ts
  web/user/package.json
Labels: frontend (user)

fix: isLoadingの初期値をtrueに変更
  web/user/src/pages/v1/purchase/complete.vue
Labels: frontend (user)

User側のページをSSRするように変更 (#1837)
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/pages/v1/purchase/complete.vue
Labels: frontend (user)

fix(web): fix nuxt.config.ts
  web/admin/nuxt.config.ts
  web/user/nuxt.config.ts
Labels: frontend (admin), frontend (user)

fix: クレジットカードの有効期間の月と年の部分をセレクトボックスに変更
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

fix: クレジットカードの有効期間の月と年の部分をセレクトボックスに変更 (#1853)
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

feat(messenger): 支払い完了通知に注文番号を追加
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
Labels: backend (api), backend (messenger), test

fix(messenger): fix small
  api/internal/messenger/service/notify_test.go
Labels: backend (api), backend (messenger), test

feat(messenger): 支払い完了通知に注文番号を追加 (#1854)
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/service/notify_test.go
Labels: backend (api), backend (messenger), test

Add: added producer item
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoorrdinatorProductList.vue
  web/user/src/components/molecules/TheProducerList.vue
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/store/coordinator.ts
Labels: frontend (user)

Fix: fixed review
  web/user/src/components/molecules/TheProducerList.vue
  web/user/src/pages/coordinator/[...id].vue
Labels: frontend (user)

Feat/coordinator page (#1795)
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoorrdinatorProductList.vue
  web/user/src/components/molecules/TheProducerList.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/TheAppFooter.vue
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/pages/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/public/img/coordinator/left.svg
  web/user/src/public/img/coordinator/marche.svg
  web/user/src/public/img/coordinator/right.svg
  web/user/src/store/coordinator.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

Add: added coordinator moblie page
  web/user/src/components/molecules/TheCoordinatorArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/components/molecules/TheProducerList.vue
  web/user/src/pages/coordinator/[...id].vue
Labels: frontend (user)
