Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

Add: added password change base page
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/settings.vue
Labels: frontend (admin)

feat: add CreateNotificationInput
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/mock/messenger/service.go
Labels: backend (messenger)

Add: added TextField of atoms
  web/admin/src/components/atoms/TheTextField.vue
Labels: frontend (admin)

feat(store): define shipping entity
  api/internal/store/codes/prefecture.go
  api/internal/store/codes/prefecture_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/pkg/set/set.go
  api/pkg/set/set_test.go
  infra/mysql/schema/2022070301-stores-create-deliveries.sql
Labels: backend (store), infra (database), test

fix(store): fix small
  api/internal/store/entity/shipping_test.go
Labels: backend (store), test

fix(docs): fix required flag (#135)
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/administrator.response.yaml
  docs/swagger/admin/components/schemas/v1/category.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat(docs): add description of request validation
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/components/schemas/v1/category.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/user/components/schemas/v1/auth.request.yaml
Labels: docs

fix(docs): make swagger
  web/admin/src/types/api/api.ts
  web/user/src/types/api/api.ts
Labels: frontend (admin), frontend (user)

fix(docs): fix for reviews
  api/internal/store/input.go
  docs/swagger/admin/components/schemas/v1/product.request.yaml
Labels: backend (store), docs

feat(messenger): define contact entity
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
  infra/mysql/schema/2022070601-messengers-create-contacts.sql
Labels: backend (messenger), infra (database), test

feat(docs): add description of request validation (#144)
  api/internal/store/input.go
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/components/schemas/v1/category.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/user/components/schemas/v1/auth.request.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/api.ts
Labels: frontend (admin), frontend (user), backend (store), docs

feat(messenger): define contact entity (#146)
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
  infra/mysql/schema/2022070601-messengers-create-contacts.sql
Labels: backend (messenger), infra (database), test

feat(messenger): define contact interface
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/mock/messenger/service.go
Labels: backend (messenger), test

fix(messenger): fix small
  api/internal/messenger/entity/contact_test.go
Labels: backend (messenger), test

feat(messenger): define contact interface (#147)
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/mock/messenger/service.go
Labels: backend (messenger), test

chore: cookie操作のライブラリを追加
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

feat: authのミドルウェアを実装
  web/admin/nuxt.config.ts
  web/admin/src/middleware/auth.ts
Labels: frontend (admin)

fix: ミドルウェアに処理を移行
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

feat: リフレッシュトークンで認証情報を取得する関数の追加
  web/admin/src/store/auth.ts
Labels: frontend (admin)

style: lintでフォーマットをかけた
  web/admin/src/store/auth.ts
Labels: frontend (admin)

Add: added submit button
  web/admin/src/pages/accounts/password/index.vue
Labels: frontend (admin)

style: 再度フォーマットを×
  web/admin/src/store/auth.ts
Labels: frontend (admin)

feat(docs): define contact api types
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/index.yaml
  docs/swagger/admin/paths/v1/contacts/index.yaml
  docs/swagger/user/components/schemas/v1/contact.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/contacts/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/api.ts
Labels: frontend (admin), frontend (user), docs

Add: update password
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

Refactor: refactor code style
  web/admin/src/components/atoms/TheTextField.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

Refactor: refactor unnecceary code
  web/admin/src/store/auth.ts
Labels: frontend (admin)

feat: add CreateNotification
  api/internal/messenger/entity/notification.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
  api/internal/messenger/service/service.go
  api/internal/messenger/service/service_test.go
  api/mock/messenger/service.go
Labels: backend (messenger), test

fix: lint
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
Labels: backend (messenger), test

fix: lint
  api/internal/messenger/service/notification.go
Labels: backend (messenger)

feat(messenger): implement contact logic
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/service.go
  api/internal/messenger/service/service_test.go
  api/mock/messenger/database/database.go
Labels: backend (messenger), test

UserCase層修正
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
Labels: backend (user)

UserCase層修正
  api/internal/user/service/coordinator.go
Labels: backend (user)

Storeの永続化 (#148)
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/layouts/default.vue
  web/admin/src/middleware/auth.ts
  web/admin/src/store/auth.ts
  web/admin/yarn.lock
Labels: frontend (admin)

feat(docs): define contact api types (#149)
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/index.yaml
  docs/swagger/admin/paths/v1/contacts/index.yaml
  docs/swagger/user/components/schemas/v1/contact.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/contacts/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/api.ts
Labels: frontend (admin), frontend (user), docs

feat(store): define shipping entity (#145)
  api/internal/store/codes/prefecture.go
  api/internal/store/codes/prefecture_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/pkg/set/set.go
  api/pkg/set/set_test.go
  infra/mysql/schema/2022070301-stores-create-deliveries.sql
Labels: backend (store), infra (database), test

feat(gateway): implement contact api for admin
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/request/contact.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/gateway/admin/v1/service/contact.go
  api/internal/gateway/admin/v1/service/contact_test.go
Labels: backend (gateway), test

Fix: fixed code based on review
  web/admin/src/pages/accounts/password/index.vue
Labels: frontend (admin)

Refactor: refactor v-card-tilte
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/analytics.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/contacts.vue
  web/admin/src/pages/coordinator/add.vue
  web/admin/src/pages/customers.vue
  web/admin/src/pages/events.vue
  web/admin/src/pages/livestreaming.vue
  web/admin/src/pages/notifications.vue
  web/admin/src/pages/orders.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/settings.vue
Labels: frontend (admin)

fix: add PublishedAt
  api/internal/messenger/entity/notification.go
  api/internal/messenger/input.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
Labels: backend (messenger), test

fix: delete comment
  api/internal/messenger/entity/notification.go
Labels: backend (messenger)
