Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

Update contact.go
  api/internal/messenger/service/contact.go
Labels: backend (messenger)

fix(docs): fix typo in contact response
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

Feature/password update (#150)
  web/admin/src/components/atoms/TheTextField.vue
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/analytics.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/contacts.vue
  web/admin/src/pages/coordinator/add.vue
  web/admin/src/pages/customers.vue
  web/admin/src/pages/events.vue
  web/admin/src/pages/livestreaming.vue
  web/admin/src/pages/notifications.vue
  web/admin/src/pages/orders.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/settings.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

fix(docs): fix typo in contact response (#155)
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat(gateway): implement contact api for admin (#154)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/request/contact.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/gateway/admin/v1/service/contact.go
  api/internal/gateway/admin/v1/service/contact_test.go
Labels: backend (gateway), test

feat(messenger): implement contact logic (#153)
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/service.go
  api/internal/messenger/service/service_test.go
  api/mock/messenger/database/database.go
Labels: backend (messenger), test

fix: typeの修正
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
Labels: docs

feat: make swaggerを実行
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

fix: typeの修正 (#156)
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat: 生産者登録の部分を実装
  web/admin/src/pages/producers/add.vue
  web/admin/src/store/producer.ts
Labels: frontend (admin)

feat: サインインの部分もvalidationを追加
  web/admin/src/pages/signin.vue
Labels: frontend (admin)

feat(workflow): update workflow for docs
  .github/workflows/ci-docs-for-all.yaml
Labels: workflow

fix(workflow): fix small
  .github/workflows/ci-docs-for-all.yaml
Labels: workflow

feat(workflow): update workflow for docs (#158)
  .github/workflows/ci-docs-for-all.yaml
Labels: workflow

feat: サインインの部分もvalidationを追加 (#157)
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/signin.vue
  web/admin/src/store/producer.ts
Labels: frontend (admin)

feat: 生産者一覧の実装
  web/admin/src/pages/producers/index.vue
Labels: frontend (admin)

style: v-slotの部分を修正
  web/admin/src/pages/producers/index.vue
Labels: frontend (admin)

fix: dbMocks Type
  api/internal/messenger/service/service_test.go
Labels: backend (messenger), test

fix: add comma
  api/internal/messenger/service/service_test.go
Labels: backend (messenger), test

fix: make mockgen
  api/internal/messenger/service/service_test.go
  api/mock/messenger/service.go
Labels: backend (messenger), test

fix: 編集のアイコンを変更
  web/admin/src/pages/producers/index.vue
Labels: frontend (admin)

feat: createNotification serviceLayer (#151)
  api/internal/messenger/entity/notification.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
  api/internal/messenger/service/service.go
  api/internal/messenger/service/service_test.go
  api/mock/messenger/service.go
Labels: backend (messenger), test

feat: 動画に関するボタンを追加
  web/admin/src/pages/producers/index.vue
Labels: frontend (admin)

feat: 生産者一覧の実装 (#159)
  web/admin/src/pages/producers/index.vue
Labels: frontend (admin)

feat: サムネイル画像とヘッダー画像をアップロードできるようにした
  web/admin/src/components/molecules/TheHeaderSelectForm.vue
  web/admin/src/components/molecules/TheProfileSelectForm.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/store/producer.ts
Labels: frontend (admin)

feat: 表のレイアウトが崩れないように改行しないよう設定
  web/admin/nuxt.config.ts
  web/admin/src/assets/main.scss
Labels: frontend (admin)

style: format
  web/admin/src/assets/main.scss
Labels: frontend (admin)

fix: refreshTokenで認証情報を取ったあとはcookieを再セットしない
  web/admin/src/store/auth.ts
Labels: frontend (admin)

feat(user): implement get admins
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/user/database/admin_auth_test.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/entity/admin_test.go
  api/internal/user/entity/user_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (messenger), backend (user), test

fix(messenger): remove unnecessary code
  api/internal/messenger/payload.go
Labels: backend (messenger)

feat(messenger): changing messenger worker logic
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/received_queue.go
  api/internal/messenger/database/received_queue_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/received_queue.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_admin.go
  api/internal/messenger/service/notify_admin_test.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service.go
  api/internal/messenger/service/service_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/register_admin.go
  api/internal/messenger/worker/register_admin_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/user.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
  api/mock/messenger/database/database.go
  api/mock/user/service.go
  infra/mysql/schema/2022071001-messengers-create-received-queues.sql
Labels: backend (gateway), backend (messenger), backend (user), infra (database), test

wip
  api/internal/user/database/admin_auth.go
  api/internal/user/database/admin_auth_test.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/producer.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/mock/messenger/database/database.go
  api/mock/user/service.go
Labels: backend (messenger), backend (user), test

fix(messenger): fix test code
  api/internal/messenger/service/service_test.go
  api/internal/messenger/worker/worker_test.go
Labels: backend (messenger), test

fix(messenger): fix small
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/registry.go
  docker-compose.yaml
Labels: backend (gateway), backend (messenger), backend (user)

Add: added category register
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

Refactor: refactor code
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

feat(docs): add createNotification API swagger
  docs/swagger/admin/components/schemas/v1/notification.request.yaml
  docs/swagger/admin/components/schemas/v1/notification.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/notifications/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix: change int32 to integer
  docs/swagger/admin/components/schemas/v1/notification.request.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(user): merge implement coordinator method
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer_test.go
Labels: backend (user), test

fix: refreshTokenで認証情報を取ったあとはcookieを再セットしない (#162)
  web/admin/src/store/auth.ts
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
