Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

Feat(store): implement GetSchedule service layer (#672)
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (api), backend (store), test

’関連生産者表示’
  web/admin/src/pages/coordinators/edit/_id.vue
Labels: frontend (admin)

fix(admin): fix notification badge
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

fix(admin): fix notification badge (#684)
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

chore(api): update dependencies (#685)
  api/go.mod
  api/go.sum
  func/go.mod
  func/go.sum
Labels: backend (api), backend (function)

feat(admin): implement message page
  web/admin/src/layouts/default.vue
  web/admin/src/pages/messages/index.vue
  web/admin/src/store/message.ts
Labels: frontend (admin)

Add: added order shipping page 1
  web/admin/src/pages/orders/_id.vue
  web/admin/src/pages/orders/edit/_id.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/store/orders.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/order.ts
Labels: frontend (admin)

wip:
  web/admin/src/components/molecules/TheProductDeliveryForm.vue
  web/admin/src/components/molecules/TheProductDetailForm.vue
  web/admin/src/components/molecules/TheProductInventoryForm.vue
  web/admin/src/components/organisms/TheProductUpdateForm.vue
  web/admin/src/constants/cities.ts
  web/admin/src/constants/index.ts
  web/admin/src/lib/validations/rule.ts
  web/admin/src/pages/products/_id.vue
Labels: frontend (admin)

feat(admin): implement message page (#686)
  web/admin/src/layouts/default.vue
  web/admin/src/pages/messages/index.vue
  web/admin/src/store/message.ts
Labels: frontend (admin)

feat: 商品編集機能の実装
  web/admin/src/components/molecules/TheProductMediaForm.vue
  web/admin/src/components/organisms/TheProductUpdateForm.vue
  web/admin/src/components/templates/TheProductUpdateFormPage.vue
  web/admin/src/pages/products/_id.vue
  web/admin/src/store/product.ts
Labels: frontend (admin)

fix: type
  web/admin/src/pages/products/index.vue
Labels: frontend (admin)

refactor(user): refactor user db test
  api/internal/user/database/admin.go
  api/internal/user/database/admin_test.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database_test.go
  api/internal/user/database/member.go
  api/internal/user/database/member_test.go
  api/internal/user/database/producer_test.go
  api/internal/user/database/user_test.go
Labels: backend (api), backend (user), test

refactor(messenger): refactor messenger db test
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/database/message_template_test.go
  api/internal/messenger/database/message_test.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/database/push_template_test.go
  api/internal/messenger/database/received_queue_test.go
  api/internal/messenger/database/report_template_test.go
  api/internal/messenger/database/schedule_test.go
Labels: backend (api), backend (messenger), test

refactor(user): refactor user db test (#701)
  api/internal/user/database/admin.go
  api/internal/user/database/admin_test.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database_test.go
  api/internal/user/database/member.go
  api/internal/user/database/member_test.go
  api/internal/user/database/producer_test.go
  api/internal/user/database/user_test.go
Labels: backend (api), backend (user), test

refactor(messenger): refactor messenger db test (#702)
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/database/message_template_test.go
  api/internal/messenger/database/message_test.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/database/push_template_test.go
  api/internal/messenger/database/received_queue_test.go
  api/internal/messenger/database/report_template_test.go
  api/internal/messenger/database/schedule_test.go
Labels: backend (api), backend (messenger), test

refactor(store): refactor store db test
  api/internal/store/database/address_test.go
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database_test.go
  api/internal/store/database/live_product_test.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type_test.go
  api/internal/store/database/promotion.go
  api/internal/store/database/promotion_test.go
  api/internal/store/database/schedule_test.go
  api/internal/store/database/shipping_test.go
Labels: backend (api), backend (store), test

refactor(store): refactor store db test (#703)
  api/internal/store/database/address_test.go
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database_test.go
  api/internal/store/database/live_product_test.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type_test.go
  api/internal/store/database/promotion.go
  api/internal/store/database/promotion_test.go
  api/internal/store/database/schedule_test.go
  api/internal/store/database/shipping_test.go
Labels: backend (api), backend (store), test

chore(api): update dependencies (#704)
  api/go.mod
  api/go.sum
Labels: backend (api)

feat: implement MultiGetLive database layer
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/mock/store/database/database.go
Labels: backend (api), backend (store), test

feat(store): implement MultiGetLives Service layer
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/mock/store/service.go
Labels: backend (api), backend (store), test

feat: implement IDs() method in Live entity
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
Labels: backend (api), backend (store), test

feat(store): create MultiGetByScheduleID in liveDB
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

feat: add getIVSDetails method
  api/internal/store/service/live.go
Labels: backend (api), backend (store)

feat(store): implement success case test
  api/internal/gateway/admin/v1/handler/schedule.go
Labels: backend (api), backend (gateway)

feat: add schedule_get policy
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (api)

feat: add test error case
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
Labels: backend (api), backend (gateway), test

feat(store): add MultiGetLivesByScheduleID service
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/mock/store/service.go
Labels: backend (api), backend (store), test

chore: rename multiget to list
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (api), backend (store), test

feat: implement GetSchedule gateway
  api/internal/gateway/admin/v1/handler/schedule_test.go
Labels: backend (api), backend (gateway), test

refactor(store): refactor store db test
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

feat(store): add test all fail case
  api/internal/gateway/admin/v1/handler/schedule_test.go
Labels: backend (api), backend (gateway), test

fix: lint
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

feat(admin): changing table header layout
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

fix: add err check
  api/internal/store/service/live.go
Labels: backend (api), backend (store)

feat(admin): changing table header layout (#707)
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

Feat(store): Implement GetSchedule gateway (#705)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (api), backend (gateway), backend (store), test

feat(admin): implement pagination for contact table
  web/admin/src/lib/.keep
  web/admin/src/lib/hooks/usePagination.ts
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

Add: added payment info
  web/admin/src/pages/orders/_id.vue
Labels: frontend (admin)

商品編集機能の実装 (#700)
  web/admin/src/components/molecules/TheProductDeliveryForm.vue
  web/admin/src/components/molecules/TheProductDetailForm.vue
  web/admin/src/components/molecules/TheProductInventoryForm.vue
  web/admin/src/components/molecules/TheProductMediaForm.vue
  web/admin/src/components/molecules/TheProductNameAndDescriptionForm.vue
  web/admin/src/components/organisms/TheProductUpdateForm.vue
  web/admin/src/components/templates/TheProductUpdateFormPage.vue
  web/admin/src/constants/cities.ts
  web/admin/src/constants/index.ts
  web/admin/src/lib/validations/rule.ts
  web/admin/src/pages/products/_id.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/store/product.ts
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
