Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

feat(web): メッセージ一覧UIを現代的なメールクライアント風に刷新 (#3037)
  docs/spec/internal/20250914_message-list-ui-improvement.md
  web/admin/src/components/templates/MessageList.vue
  web/admin/src/pages/messages/index.vue
Labels: frontend (admin), docs

feat(claude): pushコマンドの改善
  .claude/commands/push.md
Labels: none

fix(web): 注文詳細画面の体験予約コンポーネント改善とアイテム数計算修正
  docs/spec/internal/20250914_order-detail-ui-improvement.md
  web/admin/src/components/organisms/OrderExperienceDetails.vue
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin), docs

注文詳細画面の体験予約コンポーネント改善とアイテム数計算修正 (#3038)
  docs/spec/internal/20250914_order-detail-ui-improvement.md
  web/admin/src/components/organisms/OrderExperienceDetails.vue
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin), docs

feat(web): 管理画面レイアウトのUX向上・モダン化
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

fix(web): モバイル・タブレット対応の改善とレスポンシブデザイン最適化
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

fix(web): useDisplayの初期化エラーを修正
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

fix(web): window.innerWidthを使った確実なレスポンシブ対応に変更
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

fix(web): モバイル・タブレットでのドロワー初期状態を修正
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

fix(web): モバイルドロワーのバグを修正しシンプルな実装に戻す
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

fix(web): toggleGroup初期値問題を修正
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

feat(web): 管理画面レイアウトのUX向上・モダン化 (#3039)
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

feat(web): お知らせ管理UIの改善・統一化
  docs/spec/internal/20250914_notification-ui-improvement.md
  web/admin/src/components/molecules/NotificationPromotionDisplay.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/composables/useNotificationDisplay.ts
  web/admin/src/composables/useNotificationForm.ts
  web/admin/src/constants/notification.ts
Labels: frontend (admin), docs

feat(web): プロモーション管理UIの改善・統一化
  docs/spec/internal/20250914_promotion-ui-improvement.md
  web/admin/src/components/molecules/PromotionPeriodInput.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/composables/usePromotionForm.ts
  web/admin/src/composables/usePromotionValidation.ts
  web/admin/src/constants/promotion.ts
Labels: frontend (admin), docs

fix: format
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationNew.vue
Labels: frontend (admin)

feat(web): プロモーション管理UIの改善・統一化 (#3041)
  docs/spec/internal/20250914_promotion-ui-improvement.md
  web/admin/src/components/molecules/PromotionPeriodInput.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/composables/usePromotionForm.ts
  web/admin/src/composables/usePromotionValidation.ts
  web/admin/src/constants/promotion.ts
Labels: frontend (admin), docs

feat(web): お知らせ管理UIの改善・統一化 (#3040)
  docs/spec/internal/20250914_notification-ui-improvement.md
  web/admin/src/components/molecules/NotificationPromotionDisplay.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/composables/useNotificationDisplay.ts
  web/admin/src/composables/useNotificationForm.ts
  web/admin/src/constants/notification.ts
Labels: frontend (admin), docs

feat(web): 顧客詳細画面のUI改善とモダン化
  docs/spec/internal/20250914_customer-show-ui-improvement.md
  docs/spec/internal/template.md
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/store/customer.ts
Labels: frontend (admin), docs

feat(web): 顧客詳細画面のUI改善とモダン化 (#3042)
  docs/spec/internal/20250914_customer-show-ui-improvement.md
  docs/spec/internal/template.md
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/store/customer.ts
Labels: frontend (admin), docs

feat(web): アカウント設定ページ群のUI・UX改善とモダン化
  docs/spec/internal/20250914_accounts-ui-improvement.md
  web/admin/src/components/templates/AuthEmailEdit.vue
  web/admin/src/components/templates/AuthEmailVerify.vue
  web/admin/src/components/templates/AuthPasswordEdit.vue
  web/admin/src/components/templates/AuthProvider.vue
  web/admin/src/components/templates/AuthTop.vue
Labels: frontend (admin), docs

fix(admin): エラーハンドリングの修正
  web/admin/src/plugins/api-error-handler.ts
Labels: frontend (admin)

feat(web): アカウント設定ページ群のUI・UX改善とモダン化 (#3043)
  docs/spec/internal/20250914_accounts-ui-improvement.md
  web/admin/src/components/templates/AuthEmailEdit.vue
  web/admin/src/components/templates/AuthEmailVerify.vue
  web/admin/src/components/templates/AuthPasswordEdit.vue
  web/admin/src/components/templates/AuthProvider.vue
  web/admin/src/components/templates/AuthTop.vue
Labels: frontend (admin), docs

fix(admin): エラーハンドリングの修正 (#3044)
  web/admin/src/plugins/api-error-handler.ts
Labels: frontend (admin)

feat(web): システム設定ページのUI・UX改善とカテゴリ整理
  docs/spec/internal/20250914_system-ui-improvement.md
  web/admin/src/components/templates/SystemTop.vue
Labels: frontend (admin), docs

feat(web): バージョン情報メニュー項目追加と関連UI調整
  web/admin/src/components/templates/SystemTop.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/system.vue
Labels: frontend (admin)

feat(web): システム設定ページのUI・UX改善とカテゴリ整理 (#3045)
  docs/spec/internal/20250914_system-ui-improvement.md
  web/admin/src/components/templates/SystemTop.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/system.vue
Labels: frontend (admin), docs

feat(web): 生産者管理ページUI・UX改善
  docs/spec/internal/20250915_producer-pages-ui-improvement.md
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProducerNew.vue
Labels: frontend (admin), docs

feat(web): 商品管理ページUI・UX改善
  docs/spec/internal/20250915_product-pages-ui-improvement.md
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
Labels: frontend (admin), docs

fix: Remove duplicate defineExpose() call in ProductEdit.vue
  web/admin/src/components/templates/ProductEdit.vue
Labels: frontend (admin)

feat(web): 生産者管理ページUI・UX改善 (#3046)
  docs/spec/internal/20250915_producer-pages-ui-improvement.md
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProducerNew.vue
Labels: frontend (admin), docs

feat(web): 商品管理ページUI改善の完全統一とProductEdit.vue強化
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/types/validations/product.ts
Labels: frontend (admin)

feat(web): システム設定ページのUI・UX改善とカテゴリ整理 (#3045)
  docs/spec/internal/20250914_system-ui-improvement.md
  web/admin/src/components/templates/SystemTop.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/system.vue
Labels: frontend (admin), docs

feat(web): 生産者管理ページUI・UX改善 (#3046)
  docs/spec/internal/20250915_producer-pages-ui-improvement.md
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProducerNew.vue
Labels: frontend (admin), docs

feat(web): 商品管理ページUI・UX改善 (#3047)
  docs/spec/internal/20250915_product-pages-ui-improvement.md
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/types/validations/product.ts
Labels: frontend (admin), docs

feat(web): ProducerList.vueをProductList.vueレイアウトに統一
  web/admin/src/components/templates/ProducerList.vue
Labels: frontend (admin)

feat(web): 商品管理ページUI改善の最終仕上げとProducerList統一 (#3048)
  web/admin/src/components/templates/ProducerList.vue
Labels: frontend (admin)

feat(web): 体験管理ページのUI/UX改善
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/ExperienceNew.vue
  web/admin/src/pages/experiences/[id]/index.vue
  web/admin/src/pages/experiences/index.vue
  web/admin/src/pages/experiences/new.vue
Labels: frontend (admin)

feat(web): 体験管理ページのUI/UX改善 (#3049)
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/ExperienceNew.vue
  web/admin/src/pages/experiences/[id]/index.vue
  web/admin/src/pages/experiences/index.vue
  web/admin/src/pages/experiences/new.vue
Labels: frontend (admin)

feat(web): スケジュール・体験管理ページUI/UX改善の最終仕上げ
  docs/spec/internal/20250115_schedule-experience-ui-improvement.md
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ScheduleAnalytics.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/store/schedule.ts
Labels: frontend (admin), docs

feat(web): スケジュール・体験管理ページUI/UX改善の最終仕上げ (#3050)
  docs/spec/internal/20250115_schedule-experience-ui-improvement.md
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ScheduleAnalytics.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/store/schedule.ts
Labels: frontend (admin), docs

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
