Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix:すべての商品画面のローディング状態に使うステータスをuseAsyncDataの返り値にする (#2187)
  web/user/src/pages/items/index.vue
  web/user/src/store/product.ts
Labels: frontend (user)

fix(func): ブラー指定のみでも画像加工されるように
  func/cloudfront-origin-response/src/app.ts
Labels: backend (function)

fix(workflow): OpenAIによるレビューを削除
  .github/workflows/pr-openai-review.yaml
Labels: workflow

fix(workflow): OpenAIによるレビューを削除 (#2191)
  .github/workflows/pr-openai-review.yaml
Labels: workflow

fix(func): ブラー指定のみでも画像加工されるように (#2190)
  func/cloudfront-origin-response/src/app.ts
Labels: backend (function)

chore: nuxt/imageの導入
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/provider/cloud-front.ts
  web/user/yarn.lock
Labels: frontend (user)

feat: 既存のimgタグで有効な箇所をnuxt-imgタグに書き換え
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/components/organisms/purchase/TheRecommendItem.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/index.vue
  web/user/src/pages/account/orders/[...id].vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/live/[...id].vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/guest/address.vue
Labels: frontend (user)

fix: providerの情報を追加
  web/user/src/components/organisms/header/TheCartProductItem.vue
Labels: frontend (user)

fix: 属性名を修正
  web/user/src/components/molecules/TheCoordinatorArchiveItem.vue
Labels: frontend (user)

fix: 属性名を修正
  web/user/src/components/organisms/header/TheCartProductItem.vue
Labels: frontend (user)

fix: 買い物カゴに入れるボタンの参照する状態変数を修正 (#2188)
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

Nuxt/Imageの導入 (#2192)
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/components/organisms/purchase/TheRecommendItem.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/index.vue
  web/user/src/pages/account/orders/[...id].vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/live/[...id].vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/provider/cloud-front.ts
  web/user/yarn.lock
Labels: frontend (user)

feat(media): youtube配信用の情報をDB管理できるように
  api/.golangci.yaml
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/media/entity/broadcast.go
  infra/mysql/schema/2024050701-media-add-column.sql
Labels: backend (api), backend (media), infra (database)

fix(mysql): remove space
  infra/mysql/schema/2024050701-media-add-column.sql
Labels: infra (database)

feat(media): youtube配信用の情報をDB管理できるように (#2193)
  api/.golangci.yaml
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/media/entity/broadcast.go
  infra/mysql/schema/2024050701-media-add-column.sql
Labels: backend (api), backend (media), infra (database)

feat(media): youtube配信先のバックアップURL
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/media/entity/broadcast.go
  infra/mysql/schema/2024050801-media-add-column.sql
Labels: backend (api), backend (media), infra (database)

feat(media): youtube配信先のバックアップURL (#2196)
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/media/entity/broadcast.go
  infra/mysql/schema/2024050801-media-add-column.sql
Labels: backend (api), backend (media), infra (database)

fix(admin): バリデーション周りのタイポ修正
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

fix(admin): fix for reviews
  web/admin/src/components/molecules/AddressForm.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductTagList.vue
Labels: frontend (admin)

fix(admin): バリデーション周りのタイポ修正 (#2197)
  web/admin/src/components/molecules/AddressForm.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

fix: 画像レイアウトの修正
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/pages/marches/index.vue
Labels: frontend (user)

fix: 画像レイアウトの修正 (#2198)
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/pages/marches/index.vue
Labels: frontend (user)

Fix: Disabled email change button
  web/user/src/pages/account/index.vue
Labels: frontend (user)

Fix: Disabled email change button
  web/user/src/pages/account/index.vue
Labels: frontend (user)

feat(media): youtube配信用のAPIを定義
  api/go.mod
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/url.go
  api/internal/media/entity/url_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
Labels: backend (api), backend (gateway), backend (media), test

fix(media): fix di
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/service/service.go
Labels: backend (api), backend (gateway), backend (media)

feat(media): youtube配信用のAPIを定義 (#2201)
  api/go.mod
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/url.go
  api/internal/media/entity/url_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
Labels: backend (api), backend (gateway), backend (media), test

fix(media): youtube認証時のリダイレクトURLを変更
  api/internal/media/entity/url.go
  api/internal/media/entity/url_test.go
Labels: backend (api), backend (media), test

fix(media): youtube認証時のリダイレクトURLを変更 (#2202)
  api/internal/media/entity/url.go
  api/internal/media/entity/url_test.go
Labels: backend (api), backend (media), test

fix(media): youtube認証時のリダイレクトURLを変更
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/media/entity/url.go
  api/internal/media/entity/url_test.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
Labels: backend (api), backend (gateway), backend (media), test

fix(media): youtube認証時のリダイレクトURLを変更 (#2203)
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/media/entity/url.go
  api/internal/media/entity/url_test.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
Labels: backend (api), backend (gateway), backend (media), test

feat(media): youtube配信APIのデバッグログ追加
  api/internal/media/service/broadcast.go
Labels: backend (api), backend (media)

feat(media): youtube配信APIのデバッグログ追加 (#2204)
  api/internal/media/service/broadcast.go
Labels: backend (api), backend (media)

feat(media): youtube配信APIのデバッグログ追加
  api/internal/media/service/broadcast.go
Labels: backend (api), backend (media)

Feat/media/add debug log (#2205)
  api/internal/media/service/broadcast.go
Labels: backend (api), backend (media)

feat(media): youtube配信との連携
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/entity/url.go
  api/internal/media/entity/url_test.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/pkg/youtube/auth.go
  api/pkg/youtube/client.go
  api/pkg/youtube/service.go
  docs/swagger/admin/components/schemas/v1/broadcast.request.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/youtube/auth.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/youtube/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/FulfillmentStatus.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/OrderRefundType.ts
  web/user/src/types/api/models/OrderStatus.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentStatus.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/PromotionStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingCarrier.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/UploadStatus.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), docs, test

fix(gateway): fix for lint
  api/internal/gateway/admin/v1/request/broadcast.go
Labels: backend (api), backend (gateway)

fix(media): fix test code
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
Labels: backend (api), backend (media), test

feat(media): youtube配信との連携 (#2206)
  Makefile
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_auth.go
  api/internal/media/entity/broadcast_auth_test.go
  api/internal/media/entity/url.go
  api/internal/media/entity/url_test.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/pkg/youtube/auth.go
  api/pkg/youtube/client.go
  api/pkg/youtube/service.go
  docs/swagger/admin/components/schemas/v1/broadcast.request.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/-/broadcasts/youtube/index.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/youtube/auth.yaml
  infra/mysql/schema/2024051501-media-add-column.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), infra (database), docs, test

fix(gateway): ライブ配信連携APIのパスを修正
  api/internal/gateway/admin/v1/handler/broadcast.go
Labels: backend (api), backend (gateway)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
