Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (shop), frontend (user), backend (gateway), backend (media), backend (messenger), backend (shop), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

feat(api/user): implement get user auth
  api/internal/user/api/user_auth.go
  api/internal/user/api/user_auth_test.go
  api/internal/user/entity/auth.go
  api/internal/user/entity/auth_test.go
  api/proto/user/auth.proto
  api/proto/user/service.proto
Labels: backend (user), test

fix(api/user): fix small
  api/internal/user/api/user_auth_test.go
Labels: backend (user), test

feat(infra): remove unused container
  Makefile
  docker-compose.yaml
  infra/mysql/development.cnf
  web/shop/.keep
Labels: frontend (shop), infra (database)

feat(api/user): implement get user auth (#9)
  api/internal/user/api/user_auth.go
  api/internal/user/api/user_auth_test.go
  api/internal/user/entity/auth.go
  api/internal/user/entity/auth_test.go
  api/proto/user/auth.proto
  api/proto/user/service.proto
Labels: backend (user), test

fix(gateway/user): fix small
  api/internal/gateway/util/metadata.go
  api/tmp/and-period.png
Labels: backend (gateway)

fix(gateway/user): fix lint
  api/internal/gateway/cmd/user/exec.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/user/v1/handler/api.go
Labels: backend (gateway), backend (user)

feat(gateway): setup user gateway
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  api/cmd/gateway/user/main.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/exec.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/entity/auth.go
  api/internal/gateway/entity/auth_test.go
  api/internal/gateway/user/v1/entity/auth.go
  api/internal/gateway/user/v1/entity/auth_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/gateway/user/v1/request/auth.go
  api/internal/gateway/user/v1/response/auth.go
  api/internal/gateway/util/metadata.go
  api/internal/gateway/util/metadata_test.go
  api/internal/gateway/util/response.go
  api/internal/gateway/util/response_test.go
  docker-compose.yaml
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/gateway/user/Dockerfile.development
Labels: backend (gateway), backend (user), infra (container), test, workflow

fix(gateway/user): fix small
  api/internal/gateway/entity/auth.go
  api/internal/gateway/entity/auth_test.go
  api/internal/gateway/user/v1/entity/auth.go
  api/internal/gateway/user/v1/entity/auth_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/gateway/util/metadata.go
  api/mock/proto/user/service_grpc.pb.go.go
Labels: backend (gateway), backend (user), test

feat(infra): remove unused container (#10)
  Makefile
  docker-compose.yaml
  infra/mysql/development.cnf
  web/shop/.keep
Labels: frontend (shop), infra (database)

feat(swagger): setup swagger
  Makefile
  docker-compose.yaml
  docs/swagger/.gitignore
  docs/swagger/.keep
  docs/swagger/.node-version
  docs/swagger/Makefile
  docs/swagger/openapitools.json
  docs/swagger/package.json
  docs/swagger/user/components/schemas/common.yaml
  docs/swagger/user/components/schemas/v1/auth.request.yaml
  docs/swagger/user/components/schemas/v1/auth.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/auth/index.yaml
  docs/swagger/user/paths/v1/auth/refresh-token.yaml
  docs/swagger/yarn.lock
  infra/swagger/generator/Dockerfile
  infra/swagger/user/Dockerfile
Labels: docs

fix(infra): fix directory
  docker-compose.yaml
  infra/docker/api/proto/Dockerfile
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/user/Dockerfile
Labels: infra (container)

fix(gateway/user): fix small
  api/internal/gateway/user/v1/entity/auth_test.go
Labels: backend (gateway), backend (user), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (shop):
- web/shop/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (shop):
- api/**/shop/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
