Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

wip: アカウント情報の更新ページのパーツを用意
  web/user/src/components/molecules/account/TheAccountEditCard.vue
  web/user/src/pages/account/edit/id.vue
  web/user/src/pages/account/edit/notification.vue
  web/user/src/pages/account/edit/password.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/edit/username.vue
  web/user/src/pages/account/index.vue
Labels: frontend (user)

fix: 商品一覧ページのページネーションが機能しないバグの修正
  web/user/src/pages/items/index.vue
  web/user/src/store/product.ts
Labels: frontend (user)

fix: アーカイブでも3秒おきにコメントapiをポーリングするように処理を変更
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

fix: 商品一覧ページのページネーションが機能しないバグの修正 (#2106)
  web/user/src/pages/items/index.vue
  web/user/src/store/product.ts
Labels: frontend (user)

Add: added product delete
  web/admin/src/components/templates/ProductList.vue
Labels: frontend (admin)

fix: アーカイブでも3秒おきにコメントapiをポーリングするように処理を変更 (#2107)
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

Add: added product delete (#2108)
  web/admin/src/components/templates/ProductList.vue
Labels: frontend (admin)

feat(gateway): 商品一覧ロジックの修正
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/entity/product.go
  api/internal/store/input.go
  api/internal/store/service/product.go
Labels: backend (api), backend (gateway), backend (store)

feat(gateway): 商品一覧ロジックの修正 (#2109)
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/entity/product.go
  api/internal/store/input.go
  api/internal/store/service/product.go
Labels: backend (api), backend (gateway), backend (store)

fix(store): 商品のソートキーを修正
  api/internal/store/entity/product.go
Labels: backend (api), backend (store)

fix(store): 商品のソートキーを修正 (#2110)
  api/internal/store/entity/product.go
Labels: backend (api), backend (store)

feat(gateway): コメント一覧取得APIの実装
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/live_comment.go
  api/internal/gateway/admin/v1/response/live_comment.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/live_comment.go
  api/internal/gateway/admin/v1/service/live_comment_test.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  docs/swagger/admin/components/schemas/entity/live-comment.yaml
  docs/swagger/admin/components/schemas/v1/live-comment.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/comments/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/LiveComment.ts
  web/user/src/types/api/models/LiveCommentThumbnailsInner.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), docs, test

fix: small
  docs/swagger/admin/components/schemas/entity/user.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix: small
  docs/swagger/admin/components/schemas/v1/live-comment.response.yaml
  docs/swagger/user/components/schemas/v1/live-comment.response.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/LiveCommentsResponse.ts
Labels: frontend (admin), frontend (user), docs

feat(gateway): コメント一覧取得APIの実装 (#2111)
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/live_comment.go
  api/internal/gateway/admin/v1/response/live_comment.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/live_comment.go
  api/internal/gateway/admin/v1/service/live_comment_test.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  docs/swagger/admin/components/schemas/entity/live-comment.yaml
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/admin/components/schemas/v1/live-comment.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/comments/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/LiveComment.ts
  web/user/src/types/api/models/LiveCommentThumbnailsInner.ts
  web/user/src/types/api/models/LiveCommentsResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), docs, test

feat(gateway): コメント更新APIの実装
  api/internal/gateway/admin/v1/handler/live_comment.go
  api/internal/gateway/admin/v1/request/live_comment.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_comment.go
  api/internal/media/database/mysql/broadcast_comment_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment.go
  api/internal/media/service/broadcast_comment_test.go
  docs/swagger/admin/components/schemas/v1/live-comment.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/comments/_commentId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

feat(admin): Sentryの導入
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/sentry.client.ts
  web/admin/yarn.lock
Labels: frontend (admin)

feat(admin): Sentryの導入 (#2113)
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/sentry.client.ts
  web/admin/yarn.lock
Labels: frontend (admin)

fix(gateway): fix small
  api/internal/gateway/admin/v1/service/user_test.go
Labels: backend (api), backend (gateway), test

fix(admin): Vuetifyのimport pathを修正
  web/admin/src/plugins/vuetify.ts
Labels: frontend (admin)

feat(gateway): コメント更新APIの実装 (#2112)
  api/internal/gateway/admin/v1/handler/live_comment.go
  api/internal/gateway/admin/v1/request/live_comment.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_comment.go
  api/internal/media/database/mysql/broadcast_comment_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment.go
  api/internal/media/service/broadcast_comment_test.go
  docs/swagger/admin/components/schemas/v1/live-comment.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/comments/_commentId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

feat(admin): Sentryの設定を環境変数経由で渡せるように
  web/admin/bin/update-version.ts
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/sentry.client.ts
  web/admin/yarn.lock
Labels: frontend (admin)

fix: small
  web/admin/bin/update-version.ts
Labels: frontend (admin)

fix(admin): Vuetifyのimport pathを修正 (#2114)
  web/admin/src/plugins/vuetify.ts
Labels: frontend (admin)

feat(admin): Sentryの設定を環境変数経由で渡せるように (#2115)
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/sentry.client.ts
  web/admin/yarn.lock
Labels: frontend (admin)

feat(workflow): GitHub Actionsの一部共通化
  .github/actions/setup-aws/action.yaml
  .github/actions/setup-go/action.yaml
  .github/actions/setup-node/action.yaml
  .github/workflows/_backend_build_and_push.yaml
  .github/workflows/_backend_deploy_ecr.yaml
  .github/workflows/_tag_version.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  .github/workflows/ci-backend.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
  .github/workflows/pr-auto-approve-for-dependabot.yaml
Labels: workflow

fix(workflow): usesの書き方を修正
  .github/actions/setup-go/action.yaml
  .github/actions/setup-node/action.yaml
  .github/workflows/_backend_build_and_push.yaml
  .github/workflows/_backend_deploy_ecr.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  .github/workflows/ci-backend.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
Labels: workflow

fix(workflow): OpenAIの指摘を修正
  .github/actions/setup-aws/action.yaml
  .github/actions/setup-go/action.yaml
  .github/actions/setup-node/action.yaml
  .github/workflows/_backend_build_and_push.yaml
  .github/workflows/_backend_deploy_ecr.yaml
  .github/workflows/_tag_version.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
Labels: workflow

fix: debug
  .github/actions/setup-aws/action.yml
  .github/actions/setup-go/action.yml
  .github/actions/setup-node/action.yml
Labels: workflow

fix: debug
  .github/actions/setup-aws/action.yaml
  .github/actions/setup-go/action.yaml
  .github/actions/setup-node/action.yaml
  .github/workflows/_backend_build_and_push.yaml
  .github/workflows/_backend_deploy_ecr.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  .github/workflows/ci-backend.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
Labels: workflow

fix: nodeのキャッシュを一時的に無効化
  .github/actions/setup-node/action.yaml
Labels: workflow

fix: GitHub Actionsのトリガー修正
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  .github/workflows/ci-backend.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
Labels: workflow

fix: 作業ディレクトリが指定できるように
  .github/actions/setup-go/action.yaml
  .github/actions/setup-node/action.yaml
  .github/workflows/ci-backend.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
Labels: workflow

fix: 作業ディレクトリが指定できるように
  .github/actions/setup-go/action.yaml
  .github/actions/setup-node/action.yaml
Labels: workflow

fix: nodeのキャッシュを一時的に無効化
  .github/actions/setup-go/action.yaml
  .github/actions/setup-node/action.yaml
Labels: workflow

feat(workflow): GitHub Actionsの一部共通化 (#2116)
  .github/actions/setup-aws/action.yaml
  .github/actions/setup-go/action.yaml
  .github/actions/setup-node/action.yaml
  .github/workflows/_backend_build_and_push.yaml
  .github/workflows/_backend_deploy_ecr.yaml
  .github/workflows/_tag_version.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  .github/workflows/ci-backend.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
  .github/workflows/pr-auto-approve-for-dependabot.yaml
Labels: workflow

fix: ECSデプロイ用のワークフローの参照pathを修正
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

fix: AWSのセットアップアクションへ渡す値の修正
  .github/workflows/_backend_build_and_push.yaml
  .github/workflows/_backend_deploy_ecr.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
Labels: workflow

fix(workflow): GitHub Actionsの一部共通化をした箇所の修正 (#2117)
  .github/workflows/_backend_build_and_push.yaml
  .github/workflows/_backend_deploy_ecr.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
Labels: workflow

fix: 共通化したjobへの変数の渡し方を修正
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
