Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(store): fix test code
  api/internal/store/entity/order_test.go
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: frontend (user), backend (api), backend (store), test

feat(store): 注文種別の追加 (#2380)
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/guest_checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/gateway/user/v1/request/guest_checkout.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/codes/order.yaml
  docs/swagger/user/components/schemas/entity/order.yaml
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  docs/swagger/user/components/schemas/v1/guest-checkout.request.yaml
  docs/swagger/user/components/schemas/v1/order.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/products/index.yaml
  docs/swagger/user/paths/v1/guests/checkouts/products/index.yaml
  infra/mysql/schema/2024090203-stores-add-columns.sql
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/store/checkout.ts
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/apis/GuestApi.ts
  web/user/src/types/api/models/CheckoutProductRequest.ts
  web/user/src/types/api/models/GuestCheckoutProductRequest.ts
  web/user/src/types/api/models/Order.ts
  web/user/src/types/api/models/OrderType.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (messenger), backend (store), infra (database), docs, test

feat: 動画アップロード、サムネイル画像アップロードの関数を追加
  web/admin/src/store/video.ts
Labels: frontend (admin)

feat: props/emitsに動画アップロード、サムネイル画像アップロード系の処理を追加
  web/admin/src/components/organisms/VideoForm.vue
Labels: frontend (admin)

feat: 動画アップロード、サムネイル画像アップロード処理を編集画面に追加
  web/admin/src/pages/videos/[id]/index.vue
Labels: frontend (admin)

style: lintでコードフォーマットをかけた
  web/admin/src/store/product.ts
Labels: frontend (admin)

feat: 動画新規登録に動画アップロード、サムネイル画像アップロードの関数を移植
  web/admin/src/pages/videos/new.vue
Labels: frontend (admin)

fix: 詳細のバリデーションルールを変更
  web/admin/src/components/organisms/VideoForm.vue
Labels: frontend (admin)

fix: エラーメッセージの文字色を調整
  web/admin/src/components/molecules/IconSelectForm.vue
  web/admin/src/components/molecules/ImageSelectForm.vue
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/organisms/VideoForm.vue
Labels: frontend (admin)

feat: 商品紐づけボタンと体験紐づけボタンのイベントをemitsに追加
  web/admin/src/components/organisms/VideoForm.vue
Labels: frontend (admin)

feat(store): 注文種別によるフィルタリングを追加
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/user/v1/handler/order.go
  api/internal/gateway/user/v1/response/order.go
  api/internal/gateway/user/v1/service/order.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/input.go
  api/internal/store/service/order.go
  docs/swagger/admin/components/schemas/codes/order.yaml
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

fix(gateway): fix for lint
  api/internal/gateway/admin/v1/handler/order.go
Labels: backend (api), backend (gateway)

feat(store): 体験関連のフィールド追加
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/request/experience.go
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/gateway/user/v1/response/experience.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/experience_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
  docs/swagger/admin/components/schemas/entity/experience.yaml
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  docs/swagger/admin/components/schemas/v1/experience.response.yaml
  docs/swagger/user/components/schemas/entity/experience.yaml
  docs/swagger/user/components/schemas/v1/experience.response.yaml
  infra/mysql/schema/2024090401-stores-add-columns.sql
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/Experience.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (store), infra (database), docs, test

feat(store): 体験関連のフィールド追加 (#2384)
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/request/experience.go
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/gateway/user/v1/response/experience.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/experience_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
  docs/swagger/admin/components/schemas/entity/experience.yaml
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  docs/swagger/admin/components/schemas/v1/experience.response.yaml
  docs/swagger/user/components/schemas/entity/experience.yaml
  docs/swagger/user/components/schemas/v1/experience.response.yaml
  infra/mysql/schema/2024090401-stores-add-columns.sql
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/Experience.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (store), infra (database), docs, test

feat: formatterにサムネイル画像のURLを算出する関数を配置
  web/admin/src/lib/formatter/index.ts
  web/admin/src/lib/formatter/product.ts
Labels: frontend (admin)

fix: 紐づけ商品のUIを調整
  web/admin/src/components/molecules/VideoLinkedProductItem.vue
  web/admin/src/components/organisms/VideoForm.vue
Labels: frontend (admin)

feat: 動画登録に商品紐づけ部分を追加
  web/admin/src/pages/videos/new.vue
Labels: frontend (admin)

feat: 動画編集側に商品紐づけロジックを転記
  web/admin/src/pages/videos/[id]/index.vue
Labels: frontend (admin)

fix(store): 体験営業時間の型変更
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/experience_test.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  api/internal/store/input.go
  api/internal/store/service/experience_test.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
  infra/mysql/schema/2024090601-stores-modify-columns.sql
Labels: backend (api), backend (gateway), backend (store), infra (database), test

feat(store): 注文種別によるフィルタリングを追加 (#2381)
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/user/v1/handler/order.go
  api/internal/gateway/user/v1/response/order.go
  api/internal/gateway/user/v1/service/order.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/input.go
  api/internal/store/service/order.go
  docs/swagger/admin/components/schemas/codes/order.yaml
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

fix(store): 体験周りのバリデーション追加
  api/internal/store/database/mysql/experience.go
  api/internal/store/entity/experience.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: backend (api), backend (store), test

fix(store): 体験周りのバリデーション追加 (#2387)
  api/internal/store/database/mysql/experience.go
  api/internal/store/entity/experience.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: backend (api), backend (store), test

feat: 一覧画面のステータスの情報のUIを実装
  web/admin/src/lib/formatter/index.ts
  web/admin/src/lib/formatter/video.ts
  web/admin/src/pages/videos/index.vue
Labels: frontend (admin)

fix: コーディネーターIDをformDataにセットするように修正
  web/admin/src/pages/videos/new.vue
Labels: frontend (admin)

feat:コーディネーター以外の場合は「新規動画」ボタンを表示しないように修正
  web/admin/src/pages/videos/index.vue
Labels: frontend (admin)

Add: added experience ui
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/ExperienceNew.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/experiences/index.vue
  web/admin/src/pages/experiences/new.vue
Labels: frontend (admin)

fix(media): 山田の苦情を修正
  api/internal/media/entity/upload_event.go
  api/internal/media/entity/upload_event_test.go
  docs/swagger/admin/paths/v1/videos/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (media), docs, test

fix(media): 山田がもっと指摘したので対応
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/video.go
  docs/swagger/admin/paths/v1/videos/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs

fix(media): 山田の苦情を修正 (#2388)
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/media/entity/upload_event.go
  api/internal/media/entity/upload_event_test.go
  docs/swagger/admin/paths/v1/videos/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

feat(store): 体験の注文情報を定義
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_experience.go
  api/internal/store/entity/order_experience_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/exporter/sagawa/sagawa.go
  api/internal/store/service/cart.go
  infra/mysql/schema/2024090601-stores-create-order-experiences.sql
Labels: backend (api), backend (store), infra (database), test

fix(store): fix test code
  api/internal/store/database/mysql/mysql_test.go
Labels: backend (api), backend (store), test

fix(store): fix test code
  api/internal/store/database/mysql/order_test.go
Labels: backend (api), backend (store), test

fix(store): fix test code
  api/internal/store/database/mysql/order_test.go
Labels: backend (api), backend (store), test

fix(store): fix test code
  api/internal/store/database/mysql/order_test.go
Labels: backend (api), backend (store), test

feat(store): 体験の注文情報を定義 (#2389)
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_experience.go
  api/internal/store/entity/order_experience_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/exporter/sagawa/sagawa.go
  api/internal/store/service/cart.go
  infra/mysql/schema/2024090601-stores-create-order-experiences.sql
Labels: backend (api), backend (store), infra (database), test

feat(store): 体験の注文処理を実装
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/experiences/_experienceId/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/models/CheckoutExperienceRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

feat(store): 体験の注文処理を実装 (#2390)
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/experiences/_experienceId/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/models/CheckoutExperienceRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

feat(gateway): 注文関連APIの実装
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_experience.go
  api/internal/gateway/admin/v1/service/order_experience_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/paths/v1/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

feat(gateway): 注文関連APIの実装 (#2391)
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_experience.go
  api/internal/gateway/admin/v1/service/order_experience_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/paths/v1/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

feat(gateway): 注文関連APIの実装
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/gateway/user/v1/handler/order.go
  api/internal/gateway/user/v1/response/order.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/experience_test.go
  api/internal/gateway/user/v1/service/order.go
  api/internal/gateway/user/v1/service/order_experience.go
  api/internal/gateway/user/v1/service/order_experience_test.go
  api/internal/gateway/user/v1/service/order_test.go
  docs/swagger/user/components/schemas/entity/order.yaml
  web/user/src/types/api/models/Order.ts
  web/user/src/types/api/models/OrderExperience.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
