Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(store): fix next token
  api/internal/media/database/mysql/broadcast_comment_test.go
Labels: backend (api), backend (media), test

feat(store): 商品レビューの集計ロジック実装 (#2568)
  api/internal/media/database/mysql/broadcast_comment.go
  api/internal/media/database/mysql/broadcast_comment_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product_review.go
  api/internal/store/database/mysql/product_review_test.go
  api/internal/store/entity/product_review.go
  api/internal/store/entity/product_review_reaction.go
  api/internal/store/entity/product_review_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_review.go
  api/internal/store/service/product_review_test.go
Labels: backend (api), backend (media), backend (store), test

feat(gateway): 購入者向けの商品レビュー一覧APIの実装
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/handler/product_review.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/entity/product_review.go
  api/internal/store/entity/product_review_test.go
Labels: backend (api), backend (gateway), backend (store), test

fix(gateway): fix for lint
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/product.go
Labels: backend (api), backend (gateway)

fix(gateway): fix for lint
  api/internal/gateway/util/request.go
Labels: backend (api), backend (gateway)

feat(gateway): 購入者向けの商品レビュー一覧APIの実装 (#2569)
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/handler/product_review.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/entity/product_review.go
  api/internal/store/entity/product_review_test.go
Labels: backend (api), backend (gateway), backend (store), test

feat(docs): 商品レビュー関連APIのドキュメント追加
  docs/swagger/admin/openapi.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/products/_productId/reviews/_reviewId/index.yaml
  web/user/src/types/api/apis/ProductApi.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

feat(docs): 商品レビュー関連APIのドキュメント追加 (#2570)
  docs/swagger/admin/openapi.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/products/_productId/reviews/_reviewId/index.yaml
  web/user/src/types/api/apis/ProductApi.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

fix(gateway): 商品レビュー一覧が404になる問題の修正
  api/internal/gateway/user/v1/handler/product_review.go
  docs/swagger/user/paths/v1/products/_productId/reviews/index.yaml
  web/user/src/types/api/apis/ProductApi.ts
Labels: frontend (user), backend (api), backend (gateway), docs

fix(docs): fix small
  api/internal/gateway/user/v1/handler/live_comment.go
  docs/swagger/user/paths/v1/products/_productId/reviews/index.yaml
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  web/user/src/types/api/apis/ProductApi.ts
  web/user/src/types/api/apis/ScheduleApi.ts
Labels: frontend (user), backend (api), backend (gateway), docs

fix(gateway): 商品レビュー一覧が404になる問題の修正 (#2571)
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/product_review.go
  docs/swagger/user/paths/v1/products/_productId/reviews/index.yaml
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  web/user/src/types/api/apis/ProductApi.ts
  web/user/src/types/api/apis/ScheduleApi.ts
Labels: frontend (user), backend (api), backend (gateway), docs

Add added experience for pc
  web/user/src/pages/experience/index.vue
  web/user/src/public/img/experience/map.svg
Labels: frontend (user)

Fix: fixed lint error
  web/user/src/pages/experience/index.vue
Labels: frontend (user)

fix(docs): api docsのtypo修正
  api/internal/store/entity/product_review.go
  docs/swagger/user/paths/v1/products/_productId/reviews/index.yaml
  docs/swagger/user/paths/v1/spots/_spotId/index.yaml
  web/user/src/types/api/apis/SpotApi.ts
Labels: frontend (user), backend (api), backend (store), docs

fix(docs): api docsのtypo修正 (#2573)
  api/internal/store/entity/product_review.go
  docs/swagger/user/paths/v1/products/_productId/reviews/index.yaml
  docs/swagger/user/paths/v1/spots/_spotId/index.yaml
  web/user/src/types/api/apis/SpotApi.ts
Labels: frontend (user), backend (api), backend (store), docs

fix(gateway): SpotTypeIdが渡せていなかったので修正
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/user/v1/handler/spot.go
Labels: backend (api), backend (gateway)

fix(gateway): SpotTypeIdが渡せていなかったので修正 (#2574)
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/user/v1/handler/spot.go
Labels: backend (api), backend (gateway)

fix(gateway): user-gatewayでGoogle Map APIが利用できるように
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
Labels: backend (api), backend (gateway)

fix(gateway): user-gatewayでGoogle Map APIが利用できるように (#2575)
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
Labels: backend (api), backend (gateway)

fix(gateway): スポット登録APIの修正
  api/internal/gateway/admin/v1/handler/spot.go
Labels: backend (api), backend (gateway)

fix(gateway): スポット登録APIの修正 (#2576)
  api/internal/gateway/admin/v1/handler/spot.go
Labels: backend (api), backend (gateway)

feat(store): 商品レビューのリアクション機能を実装
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/product_review.go
  api/internal/store/database/mysql/product_review_reaction.go
  api/internal/store/database/mysql/product_review_reaction_test.go
  api/internal/store/database/tidb/tidb.go
  api/internal/store/entity/product_review.go
  api/internal/store/entity/product_review_reaction.go
  api/internal/store/entity/product_review_reaction_test.go
  api/internal/store/entity/product_review_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_review_reaction.go
  api/internal/store/service/product_review_reaction_test.go
  api/internal/store/service/service_test.go
  infra/mysql/schema/2024122201-store-create-product-review-reactions.sql
  infra/tidb/schema/stores/2024122201-create-product-review-reactions.sql
Labels: backend (api), backend (store), infra (database), test

fix(store): fix database
  api/internal/store/database/mysql/product_review.go
  api/internal/store/database/mysql/product_review_reaction.go
Labels: backend (api), backend (store)

fix(store): sql
  api/internal/store/database/mysql/product_review_reaction.go
Labels: backend (api), backend (store)

feat(store): 商品レビューのリアクション機能を実装 (#2577)
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/product_review.go
  api/internal/store/database/mysql/product_review_reaction.go
  api/internal/store/database/mysql/product_review_reaction_test.go
  api/internal/store/database/tidb/tidb.go
  api/internal/store/entity/product_review.go
  api/internal/store/entity/product_review_reaction.go
  api/internal/store/entity/product_review_reaction_test.go
  api/internal/store/entity/product_review_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_review_reaction.go
  api/internal/store/service/product_review_reaction_test.go
  api/internal/store/service/service_test.go
  infra/mysql/schema/2024122201-store-create-product-review-reactions.sql
  infra/tidb/schema/stores/2024122201-create-product-review-reactions.sql
Labels: backend (api), backend (store), infra (database), test

wip
  web/user/src/pages/experiences/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/spot.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

Fix: fixed font
  web/user/src/pages/experience/index.vue
Labels: frontend (user)

fix(docs): api docsの漏れを修正
  docs/swagger/user/components/schemas/entity/spot.yaml
  docs/swagger/user/components/schemas/v1/spot.request.yaml
  docs/swagger/user/components/schemas/v1/spot.response.yaml
  docs/swagger/user/openapi.yaml
  web/user/src/types/api/apis/SpotApi.ts
  web/user/src/types/api/models/Spot.ts
  web/user/src/types/api/models/UpdateSpotRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

fix(docs): api docsの漏れを修正 (#2578)
  docs/swagger/user/components/schemas/entity/spot.yaml
  docs/swagger/user/components/schemas/v1/spot.request.yaml
  docs/swagger/user/components/schemas/v1/spot.response.yaml
  docs/swagger/user/openapi.yaml
  web/user/src/types/api/apis/SpotApi.ts
  web/user/src/types/api/models/Spot.ts
  web/user/src/types/api/models/UpdateSpotRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

feat: spotを取得するgettersを定義
  web/user/src/store/spot.ts
Labels: frontend (user)

feat: spotの情報をapiと連携
  web/user/src/components/molecules/experiences/TheExperienceMarker.vue
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

feat: 現在地の情報からスポット情報を取得するように改善
  web/user/src/pages/experiences/index.vue
  web/user/src/store/spot.ts
Labels: frontend (user)

Add: added multi laungaes
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/experience/index.vue
Labels: frontend (user)

fix: spotとspotTypeの紐づけを修正
  web/user/src/store/spot.ts
Labels: frontend (user)

feat(gateway): 商品レビューへのリアクション実装
  api/internal/gateway/user/v1/handler/product_review.go
  api/internal/gateway/user/v1/request/product_review.go
  api/internal/gateway/user/v1/response/product_review.go
  api/internal/gateway/user/v1/service/product_review.go
  api/internal/gateway/user/v1/service/product_review_test.go
  api/internal/store/input.go
  docs/swagger/user/components/schemas/codes/product-review.yaml
  docs/swagger/user/components/schemas/entity/product-review.yaml
  docs/swagger/user/components/schemas/v1/product-review.request.yaml
  docs/swagger/user/components/schemas/v1/product-review.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/products/_productId/reviews/_reviewId/reactions/index.yaml
  docs/swagger/user/paths/v1/users/me/products/_productId/reviews/index.yaml
  web/user/src/types/api/apis/AuthUserApi.ts
  web/user/src/types/api/apis/ProductApi.ts
  web/user/src/types/api/models/ProductReview.ts
  web/user/src/types/api/models/ProductReviewReaction.ts
  web/user/src/types/api/models/ProductReviewReactionType.ts
  web/user/src/types/api/models/UpdateSpotRequest.ts
  web/user/src/types/api/models/UpsertProductReviewReactionRequest.ts
  web/user/src/types/api/models/UserProductReviewsResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

feat(gateway): 商品レビューへのリアクション実装 (#2579)
  api/internal/gateway/user/v1/handler/product_review.go
  api/internal/gateway/user/v1/request/product_review.go
  api/internal/gateway/user/v1/response/product_review.go
  api/internal/gateway/user/v1/service/product_review.go
  api/internal/gateway/user/v1/service/product_review_test.go
  api/internal/store/input.go
  docs/swagger/user/components/schemas/codes/product-review.yaml
  docs/swagger/user/components/schemas/entity/product-review.yaml
  docs/swagger/user/components/schemas/v1/product-review.request.yaml
  docs/swagger/user/components/schemas/v1/product-review.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/products/_productId/reviews/_reviewId/reactions/index.yaml
  docs/swagger/user/paths/v1/users/me/products/_productId/reviews/index.yaml
  web/user/src/types/api/apis/AuthUserApi.ts
  web/user/src/types/api/apis/ProductApi.ts
  web/user/src/types/api/models/ProductReview.ts
  web/user/src/types/api/models/ProductReviewReaction.ts
  web/user/src/types/api/models/ProductReviewReactionType.ts
  web/user/src/types/api/models/UpsertProductReviewReactionRequest.ts
  web/user/src/types/api/models/UserProductReviewsResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

wip
  web/user/src/store/spot.ts
Labels: frontend (user)

feat: meta情報を追加
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

Fix: fixed font size
  web/user/src/pages/experience/index.vue
Labels: frontend (user)

Fix: fixed lint
  web/user/src/pages/experience/index.vue
Labels: frontend (user)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
