Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix(store): fix test code
  api/internal/store/database/mysql/order.go
Labels: backend (api), backend (store)

fix(admin): ローディング処理が同じ動作をするように
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/RelatedProducerList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/AdministratorEdit.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/AdministratorNew.vue
  web/admin/src/components/templates/AuthEmailEdit.vue
  web/admin/src/components/templates/AuthEmailVerify.vue
  web/admin/src/components/templates/AuthPasswordEdit.vue
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/components/templates/ContactEdit.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/components/templates/MessageList.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/PaymentSystemList.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/signin.vue
Labels: frontend (admin)

feat(admin): 認証コードの入力フォームを変更
  web/admin/src/components/templates/AuthEmailVerify.vue
  web/admin/src/components/templates/AuthPasswordReset.vue
  web/admin/src/pages/accounts/email/verification.vue
Labels: frontend (admin)

fix(docs): サムネイル周りの型定義を共通化
  docs/swagger/user/components/schemas/entity/common.yaml
  docs/swagger/user/components/schemas/entity/coordinator.yaml
  docs/swagger/user/components/schemas/entity/producer.yaml
  docs/swagger/user/components/schemas/entity/schedule.yaml
  docs/swagger/user/components/schemas/entity/top.yaml
  docs/swagger/user/components/schemas/v1/auth.response.yaml
  docs/swagger/user/openapi.yaml
  web/user/src/types/api/models/AuthUserResponse.ts
  web/user/src/types/api/models/Coordinator.ts
  web/user/src/types/api/models/Producer.ts
  web/user/src/types/api/models/Schedule.ts
  web/user/src/types/api/models/Thumbnail.ts
  web/user/src/types/api/models/TopArchive.ts
  web/user/src/types/api/models/TopLive.ts
  web/user/src/types/api/models/TopLiveProductsInner.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

fix(api): 範囲指定クエリの修正
  api/internal/gateway/user/v1/handler/top.go
Labels: backend (api), backend (gateway)

fix(api): fix typo
  api/internal/gateway/user/v1/response/top.go
Labels: backend (api), backend (gateway)

fix(docs): 開催ステータスの型定義にコメント付与
  docs/swagger/user/components/schemas/codes/schedule.yaml
Labels: docs

fix(api): トップAPIのレスポンスにコーディネータ情報を追加
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/response/top.go
  api/internal/gateway/user/v1/service/top.go
  api/internal/gateway/user/v1/service/top_test.go
  docs/swagger/user/components/schemas/entity/top.yaml
  docs/swagger/user/components/schemas/v1/top.response.yaml
  web/user/src/types/api/models/TopArchive.ts
  web/user/src/types/api/models/TopCommonResponse.ts
  web/user/src/types/api/models/TopLive.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

Add: added coordinator api relation
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/store/coordinator.ts
Labels: frontend (user)

feat: scheduleApiのクライアントを追加
  web/user/src/plugins/api-client.ts
  web/user/src/store/home.ts
  web/user/src/store/schedule.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

feat: トップページからライブ画面への導線を整備
  web/user/src/pages/index.vue
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

fix(api): トップAPIのレスポンスを汎用的に使えるように
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/response/live.go
  api/internal/gateway/user/v1/response/top.go
  api/internal/gateway/user/v1/service/archive_summary.go
  api/internal/gateway/user/v1/service/archive_summary_test.go
  api/internal/gateway/user/v1/service/live.go
  api/internal/gateway/user/v1/service/live_product.go
  api/internal/gateway/user/v1/service/live_product_test.go
  api/internal/gateway/user/v1/service/live_summary.go
  api/internal/gateway/user/v1/service/live_summary_test.go
  api/internal/gateway/user/v1/service/live_test.go
  api/internal/gateway/user/v1/service/top.go
  docs/swagger/user/components/schemas/entity/live.yaml
  docs/swagger/user/components/schemas/v1/top.response.yaml
  docs/swagger/user/openapi.yaml
  web/user/src/types/api/models/ArchiveSummary.ts
  web/user/src/types/api/models/Live.ts
  web/user/src/types/api/models/LiveProduct.ts
  web/user/src/types/api/models/LiveSummary.ts
  web/user/src/types/api/models/TopCommonResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

feat(api): コーディネータ情報取得APIの実装
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/service/archive_summary.go
  api/internal/gateway/user/v1/service/archive_summary_test.go
  api/internal/gateway/user/v1/service/live_summary.go
  api/internal/gateway/user/v1/service/live_summary_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_test.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/store/input.go
  api/internal/store/service/schedule.go
  docs/swagger/user/components/schemas/v1/coordinator.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/coordinators/_coordinatorId/index.yaml
  infra/mysql/schema/2023082701-media-create-media copy.sql
  web/user/src/types/api/apis/CoordinatorApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/CoordinatorResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (media), backend (store), infra (database), docs, test

fix(api): fix small
  infra/mysql/schema/2023121301-media-add-column-broadcast.sql
Labels: infra (database)

feat(api): コーディネータ情報取得APIの実装 (#1737)
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/service/archive_summary.go
  api/internal/gateway/user/v1/service/archive_summary_test.go
  api/internal/gateway/user/v1/service/live_summary.go
  api/internal/gateway/user/v1/service/live_summary_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_test.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/store/input.go
  api/internal/store/service/schedule.go
  docs/swagger/user/components/schemas/v1/coordinator.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/coordinators/_coordinatorId/index.yaml
  infra/mysql/schema/2023121301-media-add-column-broadcast.sql
  web/user/src/types/api/apis/CoordinatorApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/CoordinatorResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (media), backend (store), infra (database), docs, test

feat(api): コーディネータ一覧取得APIの実装
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/response/coordinator.go
  docs/swagger/user/components/schemas/v1/coordinator.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/coordinators/index.yaml
  web/user/src/types/api/apis/CoordinatorApi.ts
  web/user/src/types/api/models/CoordinatorsResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs

feat(api): 生産者APIの定義
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/response/producer.go
  docs/swagger/user/components/schemas/v1/producer.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/producers/_producerId/index.yaml
  docs/swagger/user/paths/v1/producers/index.yaml
  web/user/src/types/api/apis/CoordinatorApi.ts
  web/user/src/types/api/apis/ProducerApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/ProducerResponse.ts
  web/user/src/types/api/models/ProducersResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs

fix(api): 型定義の誤りを修正
  api/internal/gateway/user/v1/handler/producer.go
Labels: backend (api), backend (gateway)

Fix: fixed comment function hidden (#1733)
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

fix: v-htmlに変更
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
Labels: frontend (user)

feat(api): 生産者関連APIの実装
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/category.go
  api/internal/store/database/mysql/live.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/product_tag.go
  api/internal/store/database/mysql/product_type.go
  api/internal/store/database/mysql/promotion.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/input.go
  api/internal/store/service/live.go
  api/internal/store/service/schedule.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/producer.go
Labels: backend (api), backend (gateway), backend (store), backend (user)

fix(user): OrderByクエリの修正
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/producer.go
Labels: backend (api), backend (user)

feat: タイムライン部分のコンポーネントの更新
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/organisms/TheLiveTimeline.vue
  web/user/src/types/props/schedule.ts
Labels: frontend (user)

feat: タイムラインコンポーネントに渡す部分の算出プロパティを追加
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

fix(store): クエリのタイポを修正
  api/internal/store/database/mysql/schedule.go
Labels: backend (api), backend (store)

fix(store): マルシェ開催スケジュールから非公開商品情報を除外
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/store/entity/live.go
  api/internal/store/input.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/pkg/set/set.go
  api/pkg/set/set_test.go
Labels: backend (api), backend (gateway), backend (store), test

feat(store): 商品情報にサムネイルを追加
  api/internal/gateway/user/v1/response/product.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/store/database/mysql/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  docs/swagger/user/components/schemas/entity/product.yaml
  docs/swagger/user/components/schemas/v1/product.response.yaml
  web/user/src/types/api/models/Product.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(store): マルシェ開催スケジュールから非公開商品情報を除外 (#1754)
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/store/entity/live.go
  api/internal/store/input.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/pkg/set/set.go
  api/pkg/set/set_test.go
Labels: backend (api), backend (gateway), backend (store), test

fix(store): fix test code
  api/internal/store/database/mysql/product_test.go
Labels: backend (api), backend (store), test

fix(docs): 開催スケジュールレスポンスのtypo修正
  docs/swagger/user/components/schemas/v1/schedule.response.yaml
  web/user/src/types/api/models/ScheduleResponse.ts
Labels: frontend (user), docs

feat(store): 商品情報にサムネイルを追加 (#1755)
  api/internal/gateway/user/v1/response/product.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/store/database/mysql/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  docs/swagger/user/components/schemas/entity/product.yaml
  docs/swagger/user/components/schemas/v1/product.response.yaml
  web/user/src/types/api/models/Product.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(docs): 開催スケジュールレスポンスのtypo修正 (#1756)
  docs/swagger/user/components/schemas/v1/schedule.response.yaml
  web/user/src/types/api/models/ScheduleResponse.ts
Labels: frontend (user), docs

fix(media): 配信開始時のスケジュール設定を一律同じ設定に
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (api), backend (media)

feat: ライブ画面の更新
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/pages/index.vue
  web/user/src/pages/live/[...id].vue
  web/user/src/store/home.ts
Labels: frontend (user)

fix(media): 配信開始時のスケジュール設定を一律同じ設定に (#1757)
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (api), backend (media)

feat(serverless): HLSセグメント関連の設定変更
  infra/serverless/serverless.yml
Labels: none

fix: トップページのhover時の表示を追加
  web/user/src/pages/index.vue
  web/user/src/store/home.ts
Labels: frontend (user)

Feat/serverless/update hls segments (#1758)
  infra/serverless/serverless.yml
Labels: none

ライブ視聴画面の実装 (#1759)
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/organisms/TheLiveTimeline.vue
  web/user/src/pages/index.vue
  web/user/src/pages/live/[...id].vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/home.ts
  web/user/src/store/schedule.ts
  web/user/src/types/plugins/index.d.ts
  web/user/src/types/props/schedule.ts
Labels: frontend (user)

fix: リフレッシュトークンが存在しない場合に関数呼び出しを終了するように修正
  web/user/src/store/auth.ts
Labels: frontend (user)
