Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (api)

Feat: implement GetContacRead service (#1060)
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_read.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger)

feat: add UpdateRead to CreateThread
  api/internal/messenger/service/thread.go
Labels: backend (api), backend (messenger)

feat: add UpdateReadFlag to ListThreads
  api/internal/messenger/input.go
  api/internal/messenger/service/thread.go
Labels: backend (api), backend (messenger)

Feat: add updateContactReadFlag to thread (#1061)
  api/internal/messenger/input.go
  api/internal/messenger/service/thread.go
Labels: backend (api), backend (messenger)

feat define Input struct
  api/internal/messenger/input.go
Labels: backend (api), backend (messenger)

feat: add NotifyReceivedContact
  api/internal/messenger/service/notify.go
Labels: backend (api), backend (messenger)

feat: add Notify to Thread
  api/internal/messenger/service/thread.go
Labels: backend (api), backend (messenger)

Feat: implement Notify recieved contact (#1062)
  api/internal/messenger/input.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/thread.go
Labels: backend (api), backend (messenger)

fix(*): 商品関連の仕様変更に伴う改修
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/components/schemas/codes/common.yaml
  docs/swagger/admin/components/schemas/codes/product.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/openapi.yaml
  infra/mysql/schema/2023062901-stores-alter-column.sql
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/types/api/api.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/product.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

feat(workflow): Dependabot用のワークフローを追加
  .github/workflows/pr-auto-approve-for-dependabot.yaml
Labels: workflow

fix(workflow): fix small
  .github/workflows/pr-auto-approve-for-dependabot.yaml
Labels: workflow

feat(workflow): Dependabot用のワークフローを追加 (#1064)
  .github/workflows/pr-auto-approve-for-dependabot.yaml
Labels: workflow

fix: fix for lint
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
Labels: frontend (admin)

fix(workflow): fixed dependabot version
  .github/workflows/pr-auto-approve-for-dependabot.yaml
Labels: workflow

fix(workflow): fixed dependabot auto approve condition
  .github/workflows/pr-auto-approve-for-dependabot.yaml
Labels: workflow

fix(workflow): git merge action
  .github/workflows/pr-auto-approve-for-dependabot.yaml
Labels: workflow

fix(*): 商品関連の仕様変更に伴う改修 (#1063)
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/components/schemas/codes/common.yaml
  docs/swagger/admin/components/schemas/codes/product.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/openapi.yaml
  infra/mysql/schema/2023062901-stores-alter-column.sql
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/types/api/api.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/product.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

fix(admin): 管理画面関連のバグ修正
  api/config/gateway/admin/rbac/policy.csv
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
Labels: frontend (admin), backend (api)

fix(admin): fix for lint
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
Labels: frontend (admin)

fix(admin): 管理画面関連のバグ修正 (#1068)
  api/config/gateway/admin/rbac/policy.csv
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
Labels: frontend (admin), backend (api)

feat(admin): 商品一覧画面のステータス表示を変更
  web/admin/src/components/templates/ProductList.vue
Labels: frontend (admin)

feat(admin): 商品一覧画面のステータス表示を変更 (#1069)
  web/admin/src/components/templates/ProductList.vue
Labels: frontend (admin)

feat(admin): パスワードリセット機能の追加
  web/admin/src/components/templates/AuthEmailEdit.vue
  web/admin/src/components/templates/AuthEmailVerify.vue
  web/admin/src/components/templates/AuthPasswordEdit.vue
  web/admin/src/components/templates/AuthPasswordForgot.vue
  web/admin/src/components/templates/AuthPasswordReset.vue
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/recover.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

feat(admin): パスワードリセット機能の追加 (#1070)
  web/admin/src/components/templates/AuthEmailEdit.vue
  web/admin/src/components/templates/AuthEmailVerify.vue
  web/admin/src/components/templates/AuthPasswordEdit.vue
  web/admin/src/components/templates/AuthPasswordForgot.vue
  web/admin/src/components/templates/AuthPasswordReset.vue
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/recover.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

fix(admin): サインイン画面でスナックバーが出るように
  web/admin/src/layouts/auth.vue
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

feat(admin): 商品関連の検索ロジックを実装
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/store/category.ts
  web/admin/src/store/product-tag.ts
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

fix(admin): サインイン画面でスナックバーが出るように (#1071)
  web/admin/src/layouts/auth.vue
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

feat(admin): 商品関連の検索ロジックを実装 (#1072)
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/store/category.ts
  web/admin/src/store/product-tag.ts
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

fix(mysql): DATETIME型の変更
  infra/mysql/schema/2023070102-users-modify-datetime.sql
  infra/mysql/schema/2023070103-stores-modify-datetime.sql
  infra/mysql/schema/2023070104-messengers-modify-datetime.sql
Labels: infra (database)

fix(mysql): DATETIME型の変更
  infra/mysql/schema/2023070102-users-modify-datetime.sql
Labels: infra (database)

feat(admin): ライブ配信一覧ページの実装
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/codes/product.yaml
  docs/swagger/admin/components/schemas/codes/schedule.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/index.yaml
  docs/swagger/admin/paths/v1/schedules/index.yaml
  infra/mysql/schema/2023070101-stores-alter-column.sql
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

fix(api): fix for lint
  api/internal/store/database/schedule.go
Labels: backend (api), backend (store)

fix(api): fix test code
  api/internal/store/database/schedule_test.go
Labels: backend (api), backend (store), test

feat(admin): ライブ配信一覧ページの実装 (#1073)
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/codes/product.yaml
  docs/swagger/admin/components/schemas/codes/schedule.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/index.yaml
  docs/swagger/admin/paths/v1/schedules/index.yaml
  infra/mysql/schema/2023070101-stores-alter-column.sql
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

feat: add ListThreadsByContactID to index
  docs/swagger/admin/paths/v1/contacts/_contactId/threads/index.yaml
Labels: docs

feat: add thared to openapi
  docs/swagger/admin/openapi.yaml
Labels: docs

feat: add ThreadResponse type
  docs/swagger/admin/components/schemas/v1/thread.response.yaml
Labels: docs

docs: add GetContact
  docs/swagger/admin/paths/v1/contacts/_contactId/threads/_threadId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

docs: add CreateThread
  docs/swagger/admin/components/schemas/v1/thread.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/threads/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
