Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

Feature/promotion edit (#479)
  web/admin/src/components/organisms/ThePromotionForm.vue
  web/admin/src/components/templates/ThePromotionEditFormPage.vue
  web/admin/src/pages/promotions/edit/_id.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/promotion.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/promotion.ts
Labels: frontend (admin)

feat(store): implement aggregate orders
  api/internal/store/database/database.go
  api/internal/store/database/order.go
  api/internal/store/database/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (store), test

fix(store): fix method name
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/mock/store/service.go
Labels: backend (store)

refactor(user): refactor update admin service
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
Labels: backend (user), test

fix(store): fix test code
  api/internal/store/service/order_test.go
Labels: backend (store), test

Add: added notification edit store
  web/admin/src/store/notification.ts
Labels: frontend (admin)

fix(store): fix sql
  api/internal/store/database/order.go
  api/internal/store/database/order_test.go
Labels: backend (store), test

feat(store): implement aggregate orders (#482)
  api/internal/store/database/database.go
  api/internal/store/database/order.go
  api/internal/store/database/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (store), test

refactor(user): refactor update admin service (#483)
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
Labels: backend (user), test

feat(user): implement list users
  api/internal/user/database/database.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (user), test

feat(gateway): split get products method
  api/internal/gateway/admin/v1/handler/product.go
Labels: backend (gateway)

feat(gateway): split get products method (#485)
  api/internal/gateway/admin/v1/handler/product.go
Labels: backend (gateway)

chore: add policy
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (gateway)

style: add line
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
Labels: backend (store), test

feat: added CreateSchedule response
  api/internal/gateway/admin/v1/response/live.go
  api/internal/gateway/admin/v1/response/schedule.go
Labels: backend (gateway)

fix: added json
  api/internal/gateway/admin/v1/response/schedule.go
Labels: backend (gateway)

feat: add CreateSchedule request value
  api/internal/gateway/admin/v1/request/schedule.go
Labels: backend (gateway)

feat: added CreateSchedule gateway layer
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/schedule.go
Labels: backend (gateway), test

feat: add Name method to producer
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
Labels: backend (gateway), test

fix: error value
  api/internal/gateway/admin/v1/handler/schedule.go
Labels: backend (gateway)

fix: Fill method
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
Labels: backend (gateway), test

feat: implement createSchedule handler
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
Labels: backend (gateway), test

feat(user): implement list users (#484)
  api/internal/user/database/database.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (user), test

fix: added NewLive test
  api/internal/gateway/admin/v1/service/live_test.go
Labels: backend (gateway), test

Feat(store): implement CreateSchedule gateway layer (#469)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/live.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
Labels: backend (gateway), backend (store), test

fix(store): fix typo
  api/internal/store/codes/prefecture.go
  api/internal/store/codes/prefecture_test.go
Labels: backend (store), test

type: interfaceをexportする
  web/admin/src/constants/prefectures.ts
Labels: frontend (admin)

type: ApiBaseErrorをexportする
  web/admin/src/types/exception.ts
Labels: frontend (admin)

feat: 配送情報を新規登録する関数を実装
  web/admin/src/store/shippings.ts
Labels: frontend (admin)

feat: 配送情報新規登録画面の実装
  web/admin/src/lib/prefectures/helper.ts
  web/admin/src/lib/prefectures/index.ts
  web/admin/src/pages/shippings/add.vue
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

feat: 作成後にスナックバーを表示する
  web/admin/src/pages/shippings/add.vue
Labels: frontend (admin)

配送情報新規登録画面の実装 (#486)
  web/admin/src/constants/prefectures.ts
  web/admin/src/lib/prefectures/helper.ts
  web/admin/src/lib/prefectures/index.ts
  web/admin/src/pages/shippings/add.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/store/shippings.ts
  web/admin/src/types/exception.ts
Labels: frontend (admin)

Add: added notification edit
  web/admin/src/components/organisms/TheNotificationForm.vue
  web/admin/src/components/templates/TheNotificationEditFormPage.vue
  web/admin/src/pages/notifications/edit/_id.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/promotions/edit/_id.vue
  web/admin/src/store/notification.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/notification.ts
Labels: frontend (admin)

Feature/notification edit (#487)
  web/admin/src/components/organisms/TheNotificationForm.vue
  web/admin/src/components/templates/TheNotificationEditFormPage.vue
  web/admin/src/pages/notifications/edit/_id.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/promotions/edit/_id.vue
  web/admin/src/store/notification.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/notification.ts
Labels: frontend (admin)

wip
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/handler/user_test.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  docs/swagger/admin/components/schemas/v1/user.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/users/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), docs, test

wip (#489)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/handler/user_test.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  docs/swagger/admin/components/schemas/v1/user.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/users/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), docs, test

refactor(user): refactor create admin logic
  api/hack/database-migrate/main.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
Labels: backend (user), test

refactor(user): refactor create admin logic (#496)
  api/hack/database-migrate/main.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
Labels: backend (user), test

feat(user): implement delete user
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/member_test.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (user), test

feat(gateway): implement get user api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/handler/user_test.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user.go
  docs/swagger/admin/components/schemas/v1/user.response.yaml
Labels: backend (gateway), docs, test
