Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

docs: add UpdateThread
  docs/swagger/admin/components/schemas/v1/thread.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/threads/_threadId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

docs: add DeleteThread
  docs/swagger/admin/paths/v1/contacts/_contactId/threads/_threadId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

Docs: add Thread swagger (#1074)
  docs/swagger/admin/components/schemas/v1/thread.request.yaml
  docs/swagger/admin/components/schemas/v1/thread.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/threads/_threadId/index.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/threads/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

docs: add ContactCategory to openapi
  docs/swagger/admin/openapi.yaml
Labels: docs

docs: add contactCatgory response
  docs/swagger/admin/components/schemas/v1/contact-category.response.yaml
Labels: docs

docs: add GetContactCategory
  docs/swagger/admin/paths/v1/contact-categories/_contactCategoryId/index.yaml
Labels: docs

docs: add ListContactCategories
  docs/swagger/admin/paths/v1/contact-categories/index.yaml
Labels: docs

chore: make swagger
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

Docs: add contact category swagger (#1075)
  docs/swagger/admin/components/schemas/v1/contact-category.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contact-categories/_contactCategoryId/index.yaml
  docs/swagger/admin/paths/v1/contact-categories/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

docs: change response value
  docs/swagger/admin/components/schemas/codes/contact.yaml
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  docs/swagger/admin/openapi.yaml
Labels: docs

docs: fix list paramater
  docs/swagger/admin/paths/v1/contacts/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

docs: change update request values
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

docs: add CreateContactRequest value
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
Labels: docs

docs: add CreateContact swagger
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contacts/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

docs: add DeleteContact swagger
  docs/swagger/admin/paths/v1/contacts/_contactId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

docs: add ContactUserType swagger
  docs/swagger/admin/components/schemas/codes/contact.yaml
  docs/swagger/admin/components/schemas/codes/thread.yaml
  docs/swagger/admin/components/schemas/v1/thread.request.yaml
  docs/swagger/admin/components/schemas/v1/thread.response.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(api): add schedule endpoint
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/schedule.go
Labels: backend (api), backend (gateway)

fix(api): fix policy rule
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

fix: remove priority from vue
  web/admin/src/components/templates/ContactEdit.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/pages/contacts/[id]/index.vue
Labels: frontend (admin)

Docs: add contact swagger (#1076)
  docs/swagger/admin/components/schemas/codes/contact.yaml
  docs/swagger/admin/components/schemas/codes/thread.yaml
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  docs/swagger/admin/components/schemas/v1/thread.request.yaml
  docs/swagger/admin/components/schemas/v1/thread.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/index.yaml
  docs/swagger/admin/paths/v1/contacts/index.yaml
  web/admin/src/components/templates/ContactEdit.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/pages/contacts/[id]/index.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(store): fixed schedule entity
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  infra/mysql/schema/2023070601-stores-alter-column.sql
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/RelatedProducerList.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CustomerEdit.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/product-tags/index.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

fix(admin): fix for lint
  web/admin/src/components/templates/ScheduleList.vue
Labels: frontend (admin)

fix(store): マルシェ開催情報エンティティのフィールドを変更 (#1099)
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  infra/mysql/schema/2023070601-stores-alter-column.sql
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/RelatedProducerList.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CustomerEdit.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/product-tags/index.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

feat(admin): 開催スケジュール登録APIの実装
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/media/entity/payload.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/resizer/schedule.go
  api/internal/media/resizer/schedule_test.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/resize.go
  api/internal/media/service/resize_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/internal/store/database/database.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/media/service.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/schedules/image.yaml
  docs/swagger/admin/paths/v1/upload/schedules/opening-video.yaml
  docs/swagger/admin/paths/v1/upload/schedules/thumbnail.yaml
  infra/mysql/schema/2023070901-stores-drop-column.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), backend (store), infra (database), docs, test

feat(admin): 開催スケジュール登録APIの実装 (#1100)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/media/entity/payload.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/resizer/schedule.go
  api/internal/media/resizer/schedule_test.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/resize.go
  api/internal/media/service/resize_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/internal/store/database/database.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/media/service.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/schedules/image.yaml
  docs/swagger/admin/paths/v1/upload/schedules/opening-video.yaml
  docs/swagger/admin/paths/v1/upload/schedules/thumbnail.yaml
  infra/mysql/schema/2023070901-stores-drop-column.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), backend (store), infra (database), docs, test

feat(admin): 開催スケジュール登録ページの実装
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/schedule.go
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/pages/schedules/new.vue
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/schedule.ts
Labels: frontend (admin), backend (api), backend (gateway), docs

fix(admin): fix for lint
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

feat(admin): 開催スケジュール登録ページの実装 (#1101)
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/schedule.go
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/pages/schedules/new.vue
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/schedule.ts
Labels: frontend (admin), backend (api), backend (gateway), docs

feat(admin): 検索周りの機能実装
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/store/database/database.go
  api/internal/store/database/promotion_test.go
  api/internal/store/database/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/promotion.go
  api/internal/store/service/shipping.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/producer.go
  docs/swagger/admin/components/schemas/v1/promotion.request.yaml
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  docs/swagger/admin/paths/v1/producers/index.yaml
  docs/swagger/admin/paths/v1/promotions/index.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/pages/schedules/new.vue
  web/admin/src/store/coordinator.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/shipping.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), backend (user), docs, test

feat(admin): 検索周りの機能実装 (#1102)
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/store/database/database.go
  api/internal/store/database/promotion_test.go
  api/internal/store/database/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/promotion.go
  api/internal/store/service/shipping.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/producer.go
  docs/swagger/admin/components/schemas/v1/promotion.request.yaml
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  docs/swagger/admin/paths/v1/producers/index.yaml
  docs/swagger/admin/paths/v1/promotions/index.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/pages/schedules/new.vue
  web/admin/src/store/coordinator.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/shipping.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), backend (user), docs, test

fix(admin): fix for lint
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/product.go
Labels: backend (api), backend (gateway)

fix(admin): レスポンス構造変更後のバグ修正
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/service/product.go
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/store/product-type.ts
Labels: frontend (admin), backend (api), backend (gateway)

fix(admin): レスポンス構造変更後のバグ修正 (#1104)
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/service/product.go
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/store/product-type.ts
Labels: frontend (admin), backend (api), backend (gateway)

chore: downgrade @nuxtjs/i18n to 8.0.0-beta.8
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

chore: downgrade @nuxtjs/i18n to 8.0.0-beta.8 (#1124)
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

feat(store): ライブ配信関連APIの実装
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/live.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/request/live.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/live.go
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/entity/live.yaml
  docs/swagger/admin/components/schemas/entity/schedule.yaml
  docs/swagger/admin/components/schemas/v1/live.request.yaml
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/lives/_liveId/index.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/lives/index.yaml
  infra/mysql/schema/2023071001-stores-recreate-live.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

fix(store): fix small
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

fix(store): fix for lint
  api/internal/store/service/live_test.go
Labels: backend (api), backend (store), test

fix(store): fix small
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

feat(store): ライブ配信関連APIの実装 (#1126)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/live.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/request/live.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/live.go
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/entity/live.yaml
  docs/swagger/admin/components/schemas/entity/schedule.yaml
  docs/swagger/admin/components/schemas/v1/live.request.yaml
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/lives/_liveId/index.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/lives/index.yaml
  infra/mysql/schema/2023071001-stores-recreate-live.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test
