Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

マップから体験を選択する部分の実装 (#2585)
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/atoms/icons/TheFurunekoIcon.vue
  web/user/src/components/molecules/experiences/TheExperienceMarker.vue
  web/user/src/components/molecules/experiences/TheSpotSearchForm.vue
  web/user/src/pages/experiences/[...id].vue
  web/user/src/pages/experiences/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/experience.ts
  web/user/src/store/spot.ts
  web/user/src/types/locales/i18n.ts
  web/user/src/types/plugins/index.d.ts
  web/user/src/types/store/index.ts
  web/user/src/types/store/spot.ts
  web/user/yarn.lock
Labels: frontend (user)

feat: 商品レビューを表示する部分の実装
  web/user/src/components/atoms/review/TheRateStar.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/items/[...id].vue
  web/user/src/store/productReview.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat(media): アーカイブ配信のメタデータ追加
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_test.go
  infra/mysql/schema/2025010101-media-add-columns.sql
  infra/tidb/schema/media/2025010101-add-column-to-broadcasts.sql
Labels: backend (api), backend (media), infra (database), test

fix(media): test code
  api/internal/media/database/mysql/broadcast_test.go
Labels: backend (api), backend (media), test

fix(media): test code
  api/internal/gateway/user/v1/service/archive_summary.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_test.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (gateway), backend (media), backend (store), test

feat(gateway): api docsの追加
  api/internal/gateway/user/v1/response/schedule.go
  api/internal/gateway/user/v1/service/archive_summary.go
  api/internal/gateway/user/v1/service/schedule.go
  api/internal/gateway/user/v1/service/schedule_test.go
  docs/swagger/user/components/schemas/entity/schedule.yaml
  web/user/src/types/api/models/Schedule.ts
  web/user/src/types/api/models/ScheduleDistributionMetadata.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

feat(media): アーカイブ配信のメタデータ追加 (#2614)
  api/internal/gateway/user/v1/response/schedule.go
  api/internal/gateway/user/v1/service/schedule.go
  api/internal/gateway/user/v1/service/schedule_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_test.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/entity/schedule.yaml
  infra/mysql/schema/2025010101-media-add-columns.sql
  infra/tidb/schema/media/2025010101-add-column-to-broadcasts.sql
  web/user/src/types/api/models/Schedule.ts
  web/user/src/types/api/models/ScheduleDistributionMetadata.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (media), backend (store), infra (database), docs, test

feat(hack): 字幕付与用のバッチ処理を更新
  api/hack/media-update-archive/main.go
  api/internal/media/entity/regulation.go
Labels: backend (api), backend (media)

fix(hack): S3オブジェクトキーの生成処理を修正
  api/hack/media-update-archive/main.go
Labels: backend (api)

fix(hack): S3オブジェクトキーの生成処理を修正 (#2615)
  api/hack/media-update-archive/main.go
Labels: backend (api)

refactor: checkoutをproduct-checkoutに変更
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/complete.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/store/productCheckout.ts
Labels: frontend (user)

fix(hack): S3オブジェクトキーの形式を修正
  api/hack/media-update-archive/main.go
Labels: backend (api)

fix(hack): S3オブジェクトキーの形式を修正 (#2616)
  api/hack/media-update-archive/main.go
Labels: backend (api)

fix(docs): ゲスト購入APIのapi docsを修正
  docs/swagger/user/paths/v1/guests/checkouts/experiences/_experienceId/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/apis/GuestApi.ts
  web/user/src/types/api/models/GuestCheckoutExperienceRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

fix(docs): ゲスト購入APIのapi docsを修正 (#2617)
  docs/swagger/user/paths/v1/guests/checkouts/experiences/_experienceId/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/apis/GuestApi.ts
  web/user/src/types/api/models/GuestCheckoutExperienceRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

feat(gateway): 体験購入前確認用のAPIを実装
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/guest_checkout.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/gateway/user/v1/response/checkout.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/experience_test.go
  docs/swagger/user/components/schemas/v1/checkout.response.yaml
  docs/swagger/user/components/schemas/v1/guest-checkout.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/experiences/_experienceId/index.yaml
  docs/swagger/user/paths/v1/guests/checkouts/experiences/_experienceId/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/models/GuestPreCheckoutExperienceResponse.ts
  web/user/src/types/api/models/PreCheckoutExperienceResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

feat(gateway): 体験購入前確認用のAPIを実装 (#2620)
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/guest_checkout.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/gateway/user/v1/response/checkout.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/experience_test.go
  docs/swagger/user/components/schemas/v1/checkout.response.yaml
  docs/swagger/user/components/schemas/v1/guest-checkout.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/experiences/_experienceId/index.yaml
  docs/swagger/user/paths/v1/guests/checkouts/experiences/_experienceId/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/models/GuestPreCheckoutExperienceResponse.ts
  web/user/src/types/api/models/PreCheckoutExperienceResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

feat(user): 管理者エンティティにフィールド追加
  api/internal/gateway/admin/v1/response/admin.go
  api/internal/gateway/admin/v1/service/admin.go
  api/internal/gateway/admin/v1/service/admin_test.go
  api/internal/store/service/spot_test.go
  api/internal/user/database/mysql/admin_test.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_role.go
  api/internal/user/entity/admin_test.go
  infra/mysql/schema/2025010201-users-add-columns.sql
  infra/tidb/schema/users/2025010201-add-column-to-admins.sql
Labels: backend (api), backend (gateway), backend (store), backend (user), infra (database), test

fix(user): fix small
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
Labels: backend (api), backend (user), test

fix(user): fix small
  api/internal/gateway/admin/v1/response/admin.go
  api/internal/gateway/admin/v1/service/admin.go
Labels: backend (api), backend (gateway)

feat(user): 管理者エンティティにフィールド追加 (#2621)
  api/internal/gateway/admin/v1/response/admin.go
  api/internal/gateway/admin/v1/service/admin.go
  api/internal/gateway/admin/v1/service/admin_test.go
  api/internal/store/service/spot_test.go
  api/internal/user/database/mysql/admin_test.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_role.go
  api/internal/user/entity/admin_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  infra/mysql/schema/2025010201-users-add-columns.sql
  infra/tidb/schema/users/2025010201-add-column-to-admins.sql
Labels: backend (api), backend (gateway), backend (store), backend (user), infra (database), test

Release for v3.4.1 (#2612)
  CHANGELOG.md
Labels: none

fix(user): fix small
  api/internal/gateway/admin/v1/response/admin.go
  api/internal/gateway/admin/v1/service/admin.go
  infra/mysql/schema/2025010202-users-drop-columns.sql
  infra/tidb/schema/users/2025010202-drop-column-to-admins.sql
Labels: backend (api), backend (gateway), infra (database)

fix(user): fix typo
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

Release for v3.4.2 (#2623)
  CHANGELOG.md
Labels: none

feat(user): 管理面ロール用のエンティティ定義を更新
  api/internal/user/database/mysql/admin.go
  api/internal/user/database/mysql/admin_test.go
  api/internal/user/database/mysql/administrator.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/producer.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_role.go
  api/internal/user/entity/admin_test.go
Labels: backend (api), backend (user), test

feat(user): 管理面ロール用のエンティティ定義を更新 (#2624)
  api/internal/user/database/mysql/admin.go
  api/internal/user/database/mysql/admin_test.go
  api/internal/user/database/mysql/administrator.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/producer.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_role.go
  api/internal/user/entity/admin_test.go
Labels: backend (api), backend (user), test

fix(store): nilnil
  api/internal/store/database/tidb/experience.go
Labels: backend (api), backend (store)

fix(workflow): テスト用のWorkflowを更新
  .github/workflows/ci-backend.yaml
Labels: workflow

fix(workflow): テスト用のWorkflowを更新
  .github/workflows/ci-backend.yaml
  api/hack/database-migrate-tidb/main.go
Labels: backend (api), workflow

fix(workflow): テスト用のWorkflowを更新
  .github/workflows/ci-backend.yaml
Labels: workflow

fix(workflow): テスト用のWorkflowを修正
  api/hack/database-migrate-tidb/main.go
Labels: backend (api)

fix(workflow): テスト用のWorkflowを修正
  .github/actions/setup-go/action.yaml
  .github/workflows/ci-backend.yaml
  api/hack/database-migrate-tidb/main.go
Labels: backend (api), workflow

fix(workflow): テスト用のWorkflowを修正
  api/hack/database-migrate-tidb/main.go
Labels: backend (api)

fix(workflow): テスト用のWorkflowを修正
  .github/workflows/ci-backend.yaml
  api/hack/database-migrate-tidb/main.go
Labels: backend (api), workflow

fix(workflow): hackコマンドの修正
  api/hack/database-migrate-tidb/main.go
Labels: backend (api)

fix(workflow): コマンドの修正
  .github/workflows/ci-backend.yaml
  api/hack/database-migrate-tidb/main.go
Labels: backend (api), workflow

fix(workflow): コマンドの修正
  api/hack/database-migrate-tidb/main.go
Labels: backend (api)

fix(hack): DB作成処理の追加
  api/hack/database-migrate-tidb/main.go
Labels: backend (api)

fix(mysql): テストコードの修正
  api/pkg/mysql/client_test.go
Labels: backend (api), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
