Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

fix(user): unmarshal json
  api/internal/common/image.go
  api/internal/common/image_test.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/service/coordinator_test.go
Labels: backend (user), test

feat(user): implement update coordinator images (#532)
  api/internal/common/image.go
  api/internal/common/image_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  infra/mysql/schema/2022110601-users-alter-column.sql
Labels: backend (user), infra (database), test

feat(media): implement resize coordinator
  api/internal/media/resizer/coordinator.go
  api/internal/media/resizer/coordinator_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/resizer_test.go
Labels: backend (media), test

feat(gateway): add resize image to coordinator response
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/response/common.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/admin/v1/service/image.go
  api/internal/gateway/admin/v1/service/image_test.go
  api/internal/user/database/coordinator.go
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

fix(media): fix test code
  api/internal/media/resizer/resizer_test.go
Labels: backend (media), test

fix(web): fix coordinator response type
  web/admin/src/pages/coordinators/edit/_id.vue
Labels: frontend (admin)

feat(media): implement resize coordinator (#533)
  api/internal/media/resizer/coordinator.go
  api/internal/media/resizer/coordinator_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/resizer_test.go
Labels: backend (media), test

feat(gateway): add resize image to coordinator response (#534)
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/response/common.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/admin/v1/service/image.go
  api/internal/gateway/admin/v1/service/image_test.go
  api/internal/user/database/coordinator.go
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

chore(api): update dependencies
  api/.golangci.yaml
  api/Makefile
  api/go.mod
Labels: none

chore(*): refactor github actions
  .github/PULL_REQUEST_TEMPLATE.md
  .github/reviewer.yaml
  .github/workflows/cd-admin-gateway-for-main.yaml
  .github/workflows/cd-media-resizer-for-main.yaml
  .github/workflows/cd-messenger-scheduler-for-main.yaml
  .github/workflows/cd-messenger-worker-for-main.yaml
  .github/workflows/cd-user-gateway-for-main.yaml
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-docs-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
  .github/workflows/pr-labeler.yaml
  api/internal/media/cmd/resizer/config.go
  api/internal/messenger/cmd/worker/config.go
Labels: backend (media), backend (messenger), workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix yaml
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-docs-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

chore(api): update dependencies (#535)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/reviewer.yaml
  .github/workflows/cd-admin-gateway-for-main.yaml
  .github/workflows/cd-media-resizer-for-main.yaml
  .github/workflows/cd-messenger-scheduler-for-main.yaml
  .github/workflows/cd-messenger-worker-for-main.yaml
  .github/workflows/cd-user-gateway-for-main.yaml
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-docs-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
  .github/workflows/pr-labeler.yaml
  api/.golangci.yaml
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/media/cmd/resizer/config.go
  api/internal/messenger/cmd/worker/config.go
Labels: backend (media), backend (messenger), workflow

chore: rename sql file
  infra/mysql/schema/2022102703-stores-alter-column-schedules.sql
Labels: infra (database)

feat: added channelArn to live
  api/internal/store/entity/live.go
  infra/mysql/schema/2022110501-stores-alter-column-lives.sql
Labels: backend (store), infra (database)

feat: added live to database
  api/internal/store/database/database.go
Labels: backend (store)

feat: implement GetLive database layer
  api/internal/store/database/live.go
  api/internal/store/database/live_product.go
  api/internal/store/database/live_test.go
Labels: backend (store), test

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (store)

refactor(user): refactor user database query
  api/internal/user/database/admin.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/customer.go
  api/internal/user/database/guest.go
  api/internal/user/database/member.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
  api/pkg/database/client.go
Labels: backend (user)

refactor(user): refactor user database query (#537)
  api/internal/user/database/admin.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/customer.go
  api/internal/user/database/guest.go
  api/internal/user/database/member.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
  api/pkg/database/client.go
Labels: backend (user)

refactor(messenger): refactor messenger database query
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/message.go
  api/internal/messenger/database/message_template.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/push_template.go
  api/internal/messenger/database/received_queue.go
  api/internal/messenger/database/report_template.go
  api/internal/messenger/database/schedule.go
Labels: backend (messenger)

Update api/internal/store/entity/live.go
  api/internal/store/entity/live.go
Labels: backend (store)

refactor(messenger): refactor messenger database query (#538)
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/message.go
  api/internal/messenger/database/message_template.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/push_template.go
  api/internal/messenger/database/received_queue.go
  api/internal/messenger/database/report_template.go
  api/internal/messenger/database/schedule.go
Labels: backend (messenger)

refactor(store): refactor store database query
  api/internal/store/database/category.go
  api/internal/store/database/order.go
  api/internal/store/database/order_activity.go
  api/internal/store/database/order_fulfillment.go
  api/internal/store/database/order_item.go
  api/internal/store/database/order_payment.go
  api/internal/store/database/product.go
  api/internal/store/database/product_type.go
  api/internal/store/database/promotion.go
  api/internal/store/database/shipping.go
Labels: backend (store)

refactor(api): refactor count query
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/notification.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
Labels: backend (messenger), backend (user)

fix: lint
  api/internal/store/entity/live.go
Labels: backend (store)

Feat(store): implement GetLive database layer (#536)
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_product.go
  api/internal/store/database/live_test.go
  api/internal/store/entity/live.go
  api/mock/store/database/database.go
  infra/mysql/schema/2022102703-stores-alter-column-schedules.sql
  infra/mysql/schema/2022110501-stores-alter-column-lives.sql
Labels: backend (store), infra (database), test

refactor(store): refactor store database query (#539)
  api/internal/store/database/category.go
  api/internal/store/database/order.go
  api/internal/store/database/order_activity.go
  api/internal/store/database/order_fulfillment.go
  api/internal/store/database/order_item.go
  api/internal/store/database/order_payment.go
  api/internal/store/database/product.go
  api/internal/store/database/product_type.go
  api/internal/store/database/promotion.go
  api/internal/store/database/shipping.go
Labels: backend (store)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
