Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

refactor(gateway): remove unnecessary method (#112)
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/util/metadata.go
  api/internal/gateway/util/metadata_test.go
Labels: backend (gateway), backend (user), test

feat(docs): add api docs for category and product type (#111)
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/administrator.response.yaml
  docs/swagger/admin/components/schemas/v1/category.request.yaml
  docs/swagger/admin/components/schemas/v1/category.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/categories/-/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/_productTypeId/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

あんどぴりおど修正
  api/internal/user/database/administrator_test.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer_test.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/producer_test.go
Labels: backend (user), test

feat: add create notifcations sql
  infra/mysql/schema/2022061801-messengers-create-notifications.sql
Labels: infra (database)

fix: delete unnecessary diff
  api/internal/user/service/user_test.go
  web/shop/.gitignore
Labels: backend (user), test

feat(gateway): implement category api and more
  api/.go-version
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/auth_test.go
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/request/category.go
  api/internal/gateway/admin/v1/request/product_type.go
  api/internal/gateway/admin/v1/response/category.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/gateway/admin/v1/service/category.go
  api/internal/gateway/admin/v1/service/category_test.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), backend (user), docs, test

feat(gateway): implement category api and more (#114)
  api/.go-version
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/auth_test.go
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/request/category.go
  api/internal/gateway/admin/v1/request/product_type.go
  api/internal/gateway/admin/v1/response/category.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/gateway/admin/v1/service/category.go
  api/internal/gateway/admin/v1/service/category_test.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), backend (user), docs, test

fix: type and chnege variable name
  infra/mysql/schema/2022061801-messengers-create-notifications.sql
Labels: infra (database)

coordinator_test追記
  api/internal/user/database/coordinator_test.go
Labels: backend (user), test

Feature/create cordinator (#110)
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer_test.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/producer_test.go
Labels: backend (user), test

fix(user): make mockgen
  api/mock/user/database/database.go
Labels: backend (user)

fix(user): make mockgen (#115)
  api/mock/user/database/database.go
Labels: backend (user)

fix(workflow): fix docker push command
  .github/workflows/cd-admin-gateway-for-main.yaml
  .github/workflows/cd-user-gateway-for-main.yaml
Labels: workflow

feat: add public flag
  infra/mysql/schema/2022061801-messengers-create-notifications.sql
Labels: infra (database)

feat(messenger): setup messenger worker
  .github/workflows/cd-messenger-worker-for-main.yaml
  api/.gitignore
  api/cmd/messenger/worker/main.go
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/exec.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/entity/mail.go
  api/internal/messenger/payload.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/worker.go
  api/internal/user/database/database.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/entity/user.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  infra/docker/api/messenger/worker/Dockerfile
  infra/terraform/.terraform-version
  infra/terraform/env/shared/01-ecr/03-messenger-worker.tf
  infra/terraform/env/shared/99_common.tfvars.sample
Labels: backend (gateway), backend (messenger), backend (user), infra (container), infra (terraform), test, workflow

fix(messenger): fix retry logic for messenger worker
  api/internal/messenger/worker/worker.go
Labels: backend (messenger)

fix(messenger): fix retry logic for messenger worker
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/worker.go
  api/pkg/mailer/client.go
  api/pkg/mailer/sender.go
Labels: backend (messenger)

feat: change flag type
  infra/mysql/schema/2022061801-messengers-create-notifications.sql
Labels: infra (database)

style: change public culumn name
  infra/mysql/schema/2022061801-messengers-create-notifications.sql
Labels: infra (database)

chore: tiptap-editorを追加
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

fix: アップロードされた画像の一覧表示を追加
  web/admin/src/components/atoms/TheFileUploadFiled.vue
Labels: frontend (admin)

feat: エディターを簡易的に実装
  web/admin/src/components/TiptapEditor.vue
Labels: frontend (admin)

feat: 商品登録ページを更新
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

Database: create notifications schema (#113)
  infra/mysql/schema/2022061801-messengers-create-notifications.sql
Labels: infra (database)

fix(*): fix mailer test code
  api/pkg/mailer/sender_test.go
Labels: test

feat: create Notification Model
  api/internal/messenger/entity/notification.go
Labels: backend (messenger)

feat: create fill methods
  api/internal/messenger/entity/notification.go
Labels: backend (messenger)

feat: create fill methods test
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
Labels: backend (messenger), test

fix: delete diff
  api/internal/user/service/user_test.go
  web/shop/.gitignore
Labels: backend (user), test

feat(infra): create aws sqs
  infra/terraform/env/stg/05-sqs/00-main.tf
  infra/terraform/env/stg/05-sqs/01-messenger.tf
  infra/terraform/env/stg/05-sqs/99-variables.tf
  infra/terraform/modules/sqs/01-queue.tf
  infra/terraform/modules/sqs/99-locals.tf
  infra/terraform/modules/sqs/99-variables.tf
Labels: infra (terraform)

fix(*): fix mailer test code (#117)
  api/pkg/mailer/sender_test.go
Labels: test

fix: 単位の左の1を消す
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

fix: ラジオボタンに変更
  web/admin/src/components/atoms/TheFileUploadFiled.vue
Labels: frontend (admin)

fix: add comment and change struct
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
Labels: backend (messenger), test

fix(messenger): fix lint
  api/internal/messenger/cmd/worker/registry.go
Labels: backend (messenger)

商品登録ページのデザイン改善 (#116)
  web/admin/package.json
  web/admin/src/components/TiptapEditor.vue
  web/admin/src/components/atoms/TheFileUploadFiled.vue
  web/admin/src/pages/products/add.vue
  web/admin/yarn.lock
Labels: frontend (admin)

Usercase層追記
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/mock/user/database/database.go
Labels: backend (user)

feat(messenger): implement register admin
  api/internal/exception/error.go
  api/internal/exception/error_test.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/payload.go
  api/internal/messenger/service/notify_admin.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/register_admin.go
  api/internal/messenger/worker/register_admin_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  api/internal/user/database/admin_auth.go
  api/internal/user/database/admin_auth_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/admin_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (messenger), backend (user), test

fix: migrationに失敗するので、作成前にDROP TABLE命令を入れるようにした
  infra/mysql/schema/2022061801-messengers-create-notifications.sql
Labels: infra (database)

fix: IF NOT EXISTに変更
  infra/mysql/schema/2022061801-messengers-create-notifications.sql
Labels: infra (database)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
