Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

hotfix(infra): コンテナイメージのバージョン修正 (#2749)
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container)

Release for v4.4.4 (#2750)
  CHANGELOG.md
Labels: none

Add: added terms of use
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/terms-of-use.vue
  web/user/src/public/_content/legalPolicy_en.md
  web/user/src/public/_content/legalPolicy_ja.md
  web/user/src/public/_content/termsOfUse_en.md
  web/user/src/public/_content/termsOfUse_ja.md
Labels: frontend (user)

Add: added terms of use (#2751)
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/terms-of-use.vue
  web/user/src/public/_content/legalPolicy_en.md
  web/user/src/public/_content/legalPolicy_ja.md
  web/user/src/public/_content/termsOfUse_en.md
  web/user/src/public/_content/termsOfUse_ja.md
Labels: frontend (user)

Release for v4.4.6 (#2752)
  CHANGELOG.md
Labels: none

feat(media): 署名URL発行時のヘッダー情報も連携するように
  api/internal/gateway/user/v1/handler/uploader.go
  api/internal/gateway/user/v1/response/uploader.go
  api/internal/media/entity/upload_event.go
  api/internal/media/entity/upload_event_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/pkg/storage/client.go
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  web/admin/src/pages/version.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/plugins/vuetify.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/helper.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
  web/admin/src/store/video.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

feat(media): 署名URL発行時のヘッダー情報も連携するように (#2753)
  api/internal/gateway/user/v1/handler/uploader.go
  api/internal/gateway/user/v1/response/uploader.go
  api/internal/media/entity/upload_event.go
  api/internal/media/entity/upload_event_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/pkg/storage/client.go
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  web/admin/src/pages/version.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/plugins/vuetify.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/helper.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
  web/admin/src/store/video.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

Fix: fixed terms of use
  web/user/src/public/_content/termsOfUse_ja.md
Labels: frontend (user)

Fix: fixed terms of use (#2755)
  web/user/src/public/_content/termsOfUse_ja.md
Labels: frontend (user)

Release for v4.4.7 (#2754)
  CHANGELOG.md
Labels: none

Fix: fixed video item mergin
  web/user/src/pages/video/[...id].vue
Labels: frontend (user)

Fix: fixed video item mergin (#2756)
  web/user/src/pages/video/[...id].vue
Labels: frontend (user)

Release for v4.4.8 (#2757)
  CHANGELOG.md
Labels: none

feat: 紹介動画のアップロード処理を追加
  web/admin/src/components/templates/ExperienceNew.vue
  web/admin/src/pages/experiences/[id]/index.vue
Labels: frontend (admin)

Revert "feat(media): 署名URL発行時のヘッダー情報も連携するように (#2753)"
  api/internal/gateway/user/v1/handler/uploader.go
  api/internal/gateway/user/v1/response/uploader.go
  api/internal/media/entity/upload_event.go
  api/internal/media/entity/upload_event_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/pkg/storage/client.go
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  web/admin/src/pages/version.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/plugins/vuetify.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/helper.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
  web/admin/src/store/video.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

Revert "feat(media): 署名URL発行時のヘッダー情報も連携するように" (#2762)
  api/internal/gateway/user/v1/handler/uploader.go
  api/internal/gateway/user/v1/response/uploader.go
  api/internal/media/entity/upload_event.go
  api/internal/media/entity/upload_event_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/pkg/storage/client.go
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  web/admin/src/pages/version.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/plugins/vuetify.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/helper.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
  web/admin/src/store/video.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

style: コードフォーマットをかける
  web/admin/src/pages/version.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/helper.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
Labels: frontend (admin)

feat: 体験動画を編集で設定できるように修正
  web/admin/src/components/templates/ExperienceNew.vue
Labels: frontend (admin)

Release for v4.4.9 (#2763)
  CHANGELOG.md
Labels: none

feat: 体験登録時に動画を紐づけられるように修正
  web/admin/src/pages/experiences/new.vue
Labels: frontend (admin)

体験登録で動画を紐づけられるように修正 (#2764)
  web/admin/src/components/templates/ExperienceNew.vue
  web/admin/src/pages/experiences/[id]/index.vue
  web/admin/src/pages/experiences/new.vue
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/helper.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
Labels: frontend (admin)

Release for v4.4.10 (#2765)
  CHANGELOG.md
Labels: none

feat(review): add unique ID to rating stars for better differentiation
  web/user/src/components/atoms/review/TheRatingStar.vue
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

feat: instagramの仮APIの型定義追加
  web/user/src/types/api/models/InstagramOEmbed.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user)

feat: instagram用のstore作成
  web/user/src/store/instagram.ts
Labels: frontend (user)

feat: instagramの仮API追加
  web/user/nuxt.config.ts
  web/user/src/types/api/apis/InstagramApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

delete: instagramAPIClientを一旦削除
  web/user/src/types/api/apis/InstagramApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

feat: instagram公式の投稿をAppReview用に埋め込み
  web/user/src/pages/index.vue
Labels: frontend (user)

feat: Appreview用の仮取得処理
  web/user/src/store/instagram.ts
Labels: frontend (user)

chore: 環境変数追加
  web/user/nuxt.config.ts
Labels: frontend (user)

fix: 型定義と命名変更
  web/user/src/types/api/models/InstagramOEmbed.ts
  web/user/src/types/api/models/InstagramPost.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user)

feat: ハッシュタグで検索して上位5件のpermalinkを取得
  web/user/src/store/instagram.ts
Labels: frontend (user)

feat: Instgramのリンクから投稿を表示するコンポーネントを作成
  web/user/src/components/molecules/TheInstagramPost.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

feat: linkのリストを渡してTOPで横並びにする
  web/user/src/pages/index.vue
  web/user/src/store/instagram.ts
Labels: frontend (user)

feat: 表示位置変更と矢印追加
  web/user/src/pages/index.vue
Labels: frontend (user)

レビューの星表示の修正 (#2766)
  web/user/src/components/atoms/review/TheRatingStar.vue
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

fix: スマートフォンのレイアウト調整
  web/admin/src/components/templates/ProductEdit.vue
Labels: frontend (admin)

feat: 商品のサムネイル画像をドラッグアンドドロップでソートできるように実装
  web/admin/src/components/molecules/SortableProductThumbnail.vue
  web/admin/src/components/templates/ProductEdit.vue
Labels: frontend (admin)

fix: v-forのkey要素を変更
  web/admin/src/components/molecules/SortableProductThumbnail.vue
Labels: frontend (admin)

商品登録・編集画面のUI/UX調整 (#2770)
  web/admin/src/components/molecules/SortableProductThumbnail.vue
  web/admin/src/components/templates/ProductEdit.vue
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
