Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

feat: フォーム送信中のアニメーションを追加
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
Labels: frontend (user)

feat(workflow): DBのマイグレーション処理を実装
  .github/workflows/_database_migrate.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  api/hack/database-migrate/main.go
  api/hack/database-seeds/common/common.go
  api/hack/database-seeds/main.go
  api/hack/database-seeds/master/role.go
  api/hack/database-seeds/user/execute.go
Labels: backend (api), workflow

feat(workflow): DBのマイグレーション処理を実装 (#2644)
  .github/workflows/_database_migrate.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  api/hack/database-migrate/main.go
  api/hack/database-seeds/common/common.go
  api/hack/database-seeds/main.go
  api/hack/database-seeds/master/role.go
  api/hack/database-seeds/user/execute.go
Labels: backend (api), workflow

fix(workflow): secretsの内容を継承できるように
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

fix(workflow): secretsの内容を継承できるように (#2645)
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

feat: フォーム送信中のアニメーションを追加 (#2643)
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
Labels: frontend (user)

fix(workflow): GitHub ActionsのVariablesへのアクセス方法を変更
  .github/workflows/_database_migrate.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

fix(workflow): GitHub ActionsのVariablesへのアクセス方法を変更 (#2646)
  .github/workflows/_database_migrate.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

feat(gateway): rbacのポリシー生成ロジックを移行
  api/internal/exception/exception.go
  api/internal/exception/exception_test.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_role.go
  api/internal/user/service/admin_role_test.go
  api/pkg/rbac/enforcer.go
Labels: backend (api), backend (gateway), backend (user), test

feat(gateway): rbacのポリシー検証ロジックの変更(
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
Labels: backend (api), backend (gateway), backend (user), test

refactor(gateway): 不要なフィールドを削除
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (api), backend (gateway)

feat(gateway): 認可ロジックの移行 (#2647)
  api/internal/exception/exception.go
  api/internal/exception/exception_test.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_role.go
  api/internal/user/service/admin_role_test.go
  api/pkg/rbac/enforcer.go
Labels: backend (api), backend (gateway), backend (user), test

feat(gateway): rbacのデバッグログを追加
  api/internal/gateway/admin/v1/handler/api.go
Labels: backend (api), backend (gateway)

fix(user): 管理者詳細情報を詰める処理を追加
  api/internal/user/database/tidb/admin.go
Labels: backend (api), backend (user)

fix(user): 管理者詳細情報を詰める処理を追加 (#2648)
  api/internal/user/database/tidb/admin.go
Labels: backend (api), backend (user)

Revert "feat(gateway): rbacのデバッグログを追加"
  api/internal/gateway/admin/v1/handler/api.go
Labels: backend (api), backend (gateway)

feat(messenger): SendGridテンプレートの取得処理を変更
  api/config/gateway/admin/rbac/model.conf
  api/config/gateway/admin/rbac/policy.csv
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/prd.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/cmd/worker/worker.go
Labels: backend (api), backend (messenger)

feat(messenger): SendGridテンプレートの取得処理を変更 (#2649)
  api/config/gateway/admin/rbac/model.conf
  api/config/gateway/admin/rbac/policy.csv
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/prd.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/cmd/worker/worker.go
Labels: backend (api), backend (messenger)

Release for v4.0.0 (#2625)
  CHANGELOG.md
Labels: none

fix(gateway): Broadcastのパース処理でnil pointerになっている箇所の修正
  api/internal/gateway/user/v1/service/schedule.go
Labels: backend (api), backend (gateway)

fix(gateway): Broadcastのパース処理でnil pointerになっている箇所の修正 (#2650)
  api/internal/gateway/user/v1/service/schedule.go
Labels: backend (api), backend (gateway)

Release for v4.0.1 (#2651)
  CHANGELOG.md
Labels: none

fix(store): 注文履歴一覧をcreated_atの降順で並び替え
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
Labels: backend (api), backend (store), test

fix(store): 注文履歴一覧をcreated_atの降順で並び替え (#2652)
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
Labels: backend (api), backend (store), test

Release for v4.0.2 (#2653)
  CHANGELOG.md
Labels: none

fix(gateway): 配信URLを詰める処理の修正
  api/internal/gateway/user/v1/service/schedule.go
Labels: backend (api), backend (gateway)

fix(gateway): 配信URLを詰める処理の修正 (#2654)
  api/internal/gateway/user/v1/service/schedule.go
Labels: backend (api), backend (gateway)

Release for v4.0.3 (#2655)
  CHANGELOG.md
Labels: none

fix(store): 注文履歴一覧の修正
  api/internal/store/database/tidb/order.go
Labels: backend (api), backend (store)

fix(store): 注文履歴一覧の修正 (#2656)
  api/internal/store/database/tidb/order.go
Labels: backend (api), backend (store)

Release for v4.0.4 (#2657)
  CHANGELOG.md
Labels: none

refactor(messenger): メソッド名の変更
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/report_config.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (messenger), backend (store), test

fix(hack): seedsの修正
  api/hack/database-seeds/master/report-template.csv
Labels: backend (api)

refactor(messenger): メソッド名の変更 (#2660)
  api/hack/database-seeds/master/report-template.csv
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/report_config.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (messenger), backend (store), test

Release for v4.0.5 (#2661)
  CHANGELOG.md
Labels: none

feat(store): 商品購入のフローを刷新
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/komoju/handler/payment.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/cart.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
  api/internal/store/service/checkout_test.go
  api/pkg/dynamodb/client.go
Labels: backend (api), backend (gateway), backend (store), test

fix(gateway): 注文詳細が取得できない不具合の修正
  api/internal/gateway/user/v1/handler/order.go
Labels: backend (api), backend (gateway)

fix(gateway): 注文一覧の取得対象を絞る
  api/internal/gateway/user/v1/handler/order.go
Labels: backend (api), backend (gateway)

fix(gateway): 注文詳細が取得できない不具合の修正 (#2663)
  api/internal/gateway/user/v1/handler/order.go
Labels: backend (api), backend (gateway)

Release for v4.0.6 (#2664)
  CHANGELOG.md
Labels: none

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
