Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

fix: エラー表示を追加
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

debug: console.logを追加
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

feat: 注文詳細ページのデバッグ用
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

fix: computedに変更
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin)

Fix/web/admin/order detail (#2862)
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v5.0.6 (#2864)
  CHANGELOG.md
Labels: none

docs: Add Claude Code configuration and project documentation
  .claude/README.md
  .claude/commands/learn.md
  .claude/commands/load-rules.md
  .claude/commands/push.md
  .claude/debug/README.md
  .claude/knowledge/commands.md
  .claude/knowledge/improvements.md
  .claude/knowledge/knowledge.md
  .claude/knowledge/troubleshooting.md
  .claude/rules/architecture.md
  .claude/rules/coding.md
  .claude/rules/tech-stack.md
  .claude/rules/workflow.md
  CLAUDE.md
Labels: none

docs: Add Claude Code configuration and project documentation (#2868)
  .claude/README.md
  .claude/commands/learn.md
  .claude/commands/load-rules.md
  .claude/commands/push.md
  .claude/debug/README.md
  .claude/knowledge/commands.md
  .claude/knowledge/improvements.md
  .claude/knowledge/knowledge.md
  .claude/knowledge/troubleshooting.md
  .claude/rules/architecture.md
  .claude/rules/coding.md
  .claude/rules/tech-stack.md
  .claude/rules/workflow.md
  CLAUDE.md
Labels: none

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

feat: add promotional banner with close functionality to default layout
  web/user/src/layouts/default.vue
Labels: frontend (user)

Add: when text is url change to link
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

feat: update promotional banner text and style for better visibility
  web/user/src/layouts/default.vue
Labels: frontend (user)

Fix: fixed lint
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

LINEの友達追加のバナー追加 (#2872)
  web/user/src/layouts/default.vue
Labels: frontend (user)

Add: when text is url change to link (#2873)
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

fix: update productEditRef type to UpdateProductRequest for better type safety
  web/admin/src/pages/products/[id]/index.vue
Labels: frontend (admin)

管理者画面の商品管理における編集ボタンの改善 - 固定フッターへの移動 (#2877)
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/pages/products/[id]/index.vue
Labels: frontend (admin)

Delete web/user/package-lock.json
  web/user/package-lock.json
Labels: frontend (user)

Fix map marker display for experiences with identical coordinates (#2879)
  web/user/src/pages/experiences/index.vue
  web/user/yarn.lock
Labels: frontend (user)

docs: Add Git workflow rules to prevent direct push to main branch
  .claude/commands/push.md
  CLAUDE.md
Labels: none

fix(web/admin): resolve Nuxt v4 startup errors and warnings
  web/admin/.tool-versions
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

fix(web/admin): fix SVG import error in AppLogoWithTitle component
  web/admin/src/components/atoms/AppLogoWithTitle.vue
Labels: frontend (admin)

fix(web/admin): fix all static image/SVG import errors for Nuxt 4
  web/admin/public/_content/legalPolicy.md
  web/admin/public/_content/privacyPolicy.md
  web/admin/public/app-logo-with-title.svg
  web/admin/public/app-title.svg
  web/admin/public/favicon.ico
  web/admin/public/firebase-messaging-sw.js
  web/admin/public/furulogo.png
  web/admin/public/new-relic/dev.js
  web/admin/public/new-relic/prd.js
  web/admin/public/new-relic/stg.js
  web/admin/public/sns/google.png
  web/admin/public/sns/line.png
  web/admin/public/v.png
  web/admin/public/vuetify-logo.svg
  web/admin/src/components/atoms/AppTitle.vue
Labels: frontend (admin)

docs: update documentation to reflect Nuxt 4 upgrade for admin portal
  .claude/rules/tech-stack.md
  CLAUDE.md
Labels: none

chore: downgrade node
  web/admin/.tool-versions
Labels: frontend (admin)

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

setup: LIFFのスターターアプリの配置
  web/liff/.gitignore
  web/liff/.tool-versions
  web/liff/README.md
  web/liff/nuxt.config.ts
  web/liff/package.json
  web/liff/pages/index.vue
  web/liff/public/favicon.ico
  web/liff/tsconfig.json
  web/liff/yarn.lock
Labels: none

setup: linterの設定
  web/liff/.vscode/settings.json
  web/liff/eslint.config.mjs
  web/liff/nuxt.config.ts
  web/liff/package.json
  web/liff/pages/index.vue
  web/liff/yarn.lock
Labels: none

setup: VSCodeの設定を追加
  .gitignore
  furumaru.code-workspace
Labels: none

setup: vitestの設定
  web/liff/.gitignore
  web/liff/package.json
  web/liff/test/index.spec.ts
  web/liff/vitest.config.ts
  web/liff/yarn.lock
Labels: test

setup: LIFFアプリのCIワークフローの設定
  .github/workflows/ci-web-liff.yaml
Labels: workflow

setup: srcディレクトリの変更
  web/liff/nuxt.config.ts
  web/liff/src/pages/index.vue
  web/liff/src/public/favicon.ico
Labels: none

feat: faviconとtitleの設定
  web/liff/nuxt.config.ts
  web/liff/package.json
  web/liff/src/public/favicon.ico
Labels: none

feat: tailwindcssのセットアップ
  web/liff/nuxt.config.ts
  web/liff/package.json
  web/liff/src/assets/css/tailwindcss.css
  web/liff/src/pages/index.vue
  web/liff/tailwind.config.js
  web/liff/tsconfig.json
  web/liff/yarn.lock
Labels: none

feat: fontの設定を追加
  web/liff/package.json
  web/liff/src/assets/css/tailwindcss.css
  web/liff/tailwind.config.js
  web/liff/yarn.lock
Labels: none

fix: linterを修正
  web/liff/eslint.config.mjs
  web/liff/tailwind.config.js
Labels: none

setup: permissionsの設定を追加
  .github/workflows/ci-web-liff.yaml
Labels: workflow

LIFFアプリのひな型の配置 (#2884)
  .github/workflows/ci-web-liff.yaml
  .gitignore
  furumaru.code-workspace
  web/liff/.gitignore
  web/liff/.tool-versions
  web/liff/.vscode/settings.json
  web/liff/README.md
  web/liff/eslint.config.mjs
  web/liff/nuxt.config.ts
  web/liff/package.json
  web/liff/src/assets/css/tailwindcss.css
  web/liff/src/pages/index.vue
  web/liff/src/public/favicon.ico
  web/liff/tailwind.config.js
  web/liff/test/index.spec.ts
  web/liff/tsconfig.json
  web/liff/vitest.config.ts
  web/liff/yarn.lock
Labels: test, workflow
