Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix: yarn lint
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

Chanege architecture (#1125)
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_category.go
  api/internal/gateway/admin/v1/handler/thread.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/gateway/admin/v1/response/thread.go
  api/internal/gateway/admin/v1/service/thread.go
  api/internal/messenger/database/contact_category.go
  api/internal/messenger/database/contact_category_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
  api/internal/messenger/entity/thread.go
  api/internal/messenger/entity/thread_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_category.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
  docs/swagger/admin/components/schemas/entity/contact-category.yaml
  docs/swagger/admin/components/schemas/entity/contact.yaml
  docs/swagger/admin/components/schemas/entity/thread.yaml
  docs/swagger/admin/components/schemas/v1/contact-category.response.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  docs/swagger/admin/components/schemas/v1/thread.response.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/store/contact.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (messenger), docs, test

refactor(admin): カテゴリ一覧画面のリファクタ
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/schedules/[id]/index.vue
Labels: frontend (admin)

feat: sserverless create initial service
  infra/serverless/mediaStepFunction/.gitignore
  infra/serverless/mediaStepFunction/handler.js
  infra/serverless/mediaStepFunction/package-lock.json
  infra/serverless/mediaStepFunction/package.json
  infra/serverless/mediaStepFunction/serverless.yml
Labels: none

fix(admin): 値が渡せていない不具合を修正
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

fix(messenger): テストが落ちている箇所の修正
  api/internal/messenger/entity/thread_test.go
Labels: backend (api), backend (messenger), test

fix(messenger): テストが落ちている箇所の修正 (#1160)
  api/internal/messenger/entity/thread_test.go
Labels: backend (api), backend (messenger), test

refactor(admin): カテゴリ一覧画面のリファクタ (#1159)
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/schedules/[id]/index.vue
Labels: frontend (admin)

chore: move directory
  infra/serverless/.gitignore
  infra/serverless/package-lock.json
  infra/serverless/package.json
Labels: none

feat: create env
  infra/serverless/env/prd.yaml
  infra/serverless/env/stg.yaml
Labels: none

feat: add CreateInput(RTMP)
  infra/serverless/serverless.yml
Labels: none

delete: mediaService directory
  infra/serverless/mediaStepFunction/handler.js
  infra/serverless/mediaStepFunction/serverless.yml
Labels: none

feat: add createInput MP4
  infra/serverless/serverless.yml
Labels: none

feat: add createContainer
  infra/serverless/serverless.yml
Labels: none

fix(store): 仕様変更に伴う配送設定エンティティの修正
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/store/database/database.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/schedule_test.go
  api/internal/store/database/shipping.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  docs/swagger/admin/components/schemas/entity/shipping.yaml
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  infra/mysql/schema/2023072501-stores-alter-column.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

fix(store): 仕様変更に伴う配送設定エンティティの修正 (#1161)
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/store/database/database.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/schedule_test.go
  api/internal/store/database/shipping.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  docs/swagger/admin/components/schemas/entity/shipping.yaml
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  infra/mysql/schema/2023072501-stores-alter-column.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

feat: get parameter from input
  infra/serverless/serverless.yml
Labels: none

fix: カルーセルの最大の横幅を調整し、4kほどの画面でも画面いっぱいに画像が配置されるように調整
  web/user/src/components/molecules/TheCarousel.vue
Labels: frontend (user)

fix: スクロール時にヘッダーが80pxまで縮むように修正
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
Labels: frontend (user)

feat: add CreateChannel state
  infra/serverless/serverless.yml
Labels: none

feat(store): 配送設定関連APIの修正
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  docs/swagger/admin/paths/v1/shippings/_shippingId/index.yaml
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/store/shipping.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

fix: ヘッダーが縮んだ際のロゴのサイズを調整
  web/user/src/components/atoms/TheMarcheLogo.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
Labels: frontend (user)

トップページのカルーセルとヘッダーの伸縮の修正 (#1162)
  web/user/src/components/atoms/TheMarcheLogo.vue
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
Labels: frontend (user)

feat(terraform): add dns zone
  infra/terraform/env/shared/02-route53/03-kamijimafarm-com.tf
Labels: infra (terraform)

feat: add Wait until Container Active
  infra/serverless/serverless.yml
Labels: none

feat: add PutContainerPolicy
  infra/serverless/serverless.yml
Labels: none

img: 画像の差し替え
  web/user/src/public/img/banner.png
Labels: frontend (user)

fix: カルーセルコンポーネントの修正
  web/user/src/components/molecules/TheCarousel.vue
Labels: frontend (user)

カルーセルコンポーネントの修正 (#1181)
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/public/img/banner.png
Labels: frontend (user)

fix: 4kサイズでも320pxにする
  web/user/src/components/molecules/TheCarousel.vue
Labels: frontend (user)

fix: 4kサイズでも320pxにする (#1182)
  web/user/src/components/molecules/TheCarousel.vue
Labels: frontend (user)

chore: 必要なパッケージを追加
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

chore: prettierの導入
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

setup: prettierの設定を用意
  web/user/.eslintrc.cjs
  web/user/.prettierignore
  web/user/.prettierrc
  web/user/package.json
Labels: frontend (user)

style: ESlintの警告に従って修正
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/components/templates/TheSignUpPage.vue
  web/user/src/components/templates/TheUserRegisterPage.vue
  web/user/src/components/templates/TheVerifyCodePage.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

style
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
Labels: frontend (user)

Setup/web/user/lint (#1184)
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
Labels: frontend (user)

Revert "chore(deps): bump @pinia/nuxt from 0.4.9 to 0.4.11 in /web/admin (#1173)"
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

feat(store): 配送設定関連APIの修正 (#1163)
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  docs/swagger/admin/paths/v1/shippings/_shippingId/index.yaml
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/store/shipping.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

Revert "chore(deps): bump @pinia/nuxt from 0.4.9 to 0.4.11 in /web/admin (#1173)" (#1185)
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)
