Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

Release for v1.11.13 (#2189)
  CHANGELOG.md
Labels: none

fix(media): YouTube配信の登録処理を修正
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/pkg/youtube/client.go
  api/pkg/youtube/service.go
  infra/mysql/schema/2024051601-media-add-column.sql
Labels: backend (api), backend (media), infra (database), test

fix(media): YouTube配信の登録処理を修正 (#2208)
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/pkg/youtube/client.go
  api/pkg/youtube/service.go
  infra/mysql/schema/2024051601-media-add-column.sql
Labels: backend (api), backend (media), infra (database), test

fix(media): YouTube配信とストリーム設定の関連付け処理を修正
  api/pkg/youtube/service.go
Labels: backend (api)

fix(media): YouTube配信とストリーム設定の関連付け処理を修正 (#2210)
  api/pkg/youtube/service.go
Labels: backend (api)

feat(gateway): YouTube配信用のレスポンスを追加
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

feat(gateway): YouTube配信用のレスポンスを追加 (#2211)
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

feat(admin): YouTube配信周りの導線づくり
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/store/broadcast.ts
Labels: frontend (admin)

feat(admin): YouTube配信周りの導線づくり (#2212)
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/store/broadcast.ts
Labels: frontend (admin)

feat(admin): YouTube配信周りの導線づくり
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/auth/youtube/callback.vue
  web/admin/src/pages/auth/youtube/complete.vue
  web/admin/src/store/broadcast.ts
Labels: frontend (admin)

Fix: Disabled email change button (#2200)
  web/user/src/pages/account/index.vue
Labels: frontend (user)

feat(admin): YouTube配信周りの導線づくり (#2213)
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/auth/youtube/callback.vue
  web/admin/src/pages/auth/youtube/complete.vue
  web/admin/src/store/broadcast.ts
Labels: frontend (admin)

chore: package追加
  infra/serverless/package-lock.json
  infra/serverless/package.json
  infra/serverless/yarn.lock
Labels: none

feat: defaultの設定ファイルを追加
  infra/serverless/functions/createChannelWithRTMPOutputs/default.json
Labels: none

feat: 普段の設定内容で作成するところまでLambdaで作成
  infra/serverless/functions/createChannelWithRTMPOutputs/handler.js
Labels: none

chore: OutputGroupの標準設定を追加
  infra/serverless/functions/createChannelWithRTMPOutputs/RTMPOutputGroup.json
Labels: none

feat: createChannelをRTMPOutputの有無に合わせて処理を変える形に変更
  infra/serverless/functions/createChannelWithRTMPOutputs/handler.js
  infra/serverless/serverless.yml
Labels: none

chore: 最終行の改行
  infra/serverless/functions/createChannelWithRTMPOutputs/RTMPOutputGroup.json
Labels: none

fix: errorログ修正
  infra/serverless/functions/createChannelWithRTMPOutputs/handler.js
Labels: none

refactor: forEach使う形に修正
  infra/serverless/functions/createChannelWithRTMPOutputs/handler.js
Labels: none

refactor: defaultオブジェクトをそのまま変更しない形にする
  infra/serverless/functions/createChannelWithRTMPOutputs/handler.js
Labels: none

fix(media): StepFunctionsへ渡すRTMPプッシュの情報を修正
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (api), backend (media)

fix(media): StepFunctionsへ渡すRTMPプッシュの情報を修正 (#2215)
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (api), backend (media)

fix(serverless): remove package-lock.json
  infra/serverless/package-lock.json
Labels: none

feat(serverless): RTMP出力をできるようにチャンネル作成処理を変更 (#2214)
  infra/serverless/functions/createChannelWithRTMPOutputs/RTMPOutputGroup.json
  infra/serverless/functions/createChannelWithRTMPOutputs/default.json
  infra/serverless/functions/createChannelWithRTMPOutputs/handler.js
  infra/serverless/package.json
  infra/serverless/serverless.yml
  infra/serverless/yarn.lock
Labels: none

fix(serverless): .tool-versionsの追加
  infra/serverless/.tool-versions
Labels: none

fix(serverless): .tool-versionsの追加 (#2216)
  infra/serverless/.tool-versions
Labels: none

fix(workflow): working-directory指定が抜けている箇所の修正
  .github/workflows/cd-serverless-for-main.yaml
Labels: workflow

fix(workflow): working-directory指定が抜けている箇所の修正
  .github/workflows/cd-serverless-for-main.yaml
Labels: workflow

Add: added icon if live is nothing
  web/user/src/assets/img/furuneko-sleep.png
  web/user/src/pages/index.vue
Labels: frontend (user)

Refactor: lint fix
  web/user/src/pages/index.vue
Labels: frontend (user)

Refactor: text messagge
  web/user/src/pages/index.vue
Labels: frontend (user)

Add: added icon if live is nothing (#2217)
  web/user/src/assets/img/furuneko-sleep.png
  web/user/src/pages/index.vue
Labels: frontend (user)

feat(admin): ライブ配信削除機能の実装
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/messenger/service/notify.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/database/mysql/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  docs/swagger/admin/paths/v1/schedules/_scheduleId/index.yaml
  web/admin/src/pages/schedules/index.vue
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (messenger), backend (store), docs, test

Update api/internal/store/service/schedule_test.go
  api/internal/store/service/schedule_test.go
Labels: backend (api), backend (store), test

feat(admin): ライブ配信削除機能の実装 (#2218)
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/messenger/service/notify.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/database/mysql/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  docs/swagger/admin/paths/v1/schedules/_scheduleId/index.yaml
  web/admin/src/pages/schedules/index.vue
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (messenger), backend (store), docs, test

fix(gateway): ライブ配信削除APIの権限設定
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

fix(gateway): ライブ配信削除APIの権限設定 (#2219)
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

fix: 管理者画面のライブ配信周りのUI調整
  web/admin/nuxt.config.ts
  web/admin/src/assets/main.scss
  web/admin/src/assets/variables.scss
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/pages/auth/youtube/callback.vue
  web/admin/src/plugins/vuetify.ts
Labels: frontend (admin)

fix(admin): ライブ配信削除後、モーダルが非表示になるように
  web/admin/src/pages/schedules/index.vue
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
