Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

fix(workflow): リリースタグ作成ジョブでPATを使うように
  .github/workflows/pr-release.yaml
Labels: workflow

fix(workflow): リリースタグ作成ジョブでPATを使うように (#2159)
  .github/workflows/pr-release.yaml
Labels: workflow

Release for v1.11.1 (#2160)
  CHANGELOG.md
Labels: none

fix(workflow): リリースタグ作成ジョブでPATを使わないように
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  .github/workflows/pr-release.yaml
Labels: workflow

fix(workflow): リリースタグ作成ジョブでPATを使わないように (#2161)
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  .github/workflows/pr-release.yaml
Labels: workflow

Revert "fix(workflow): リリースタグ作成ジョブでPATを使わないように (#2161)"
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  .github/workflows/pr-release.yaml
Labels: workflow

Revert "fix(workflow): リリースタグ作成ジョブでPATを使わないように (#2161)" (#2163)
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  .github/workflows/pr-release.yaml
Labels: workflow

Release for v1.11.3 (#2164)
  CHANGELOG.md
Labels: none

fix(workflow): チェックアウト時にもトークン指定をする
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/pr-release.yaml
Labels: workflow

fix(workflow): チェックアウト時にもトークン指定をする (#2165)
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/pr-release.yaml
Labels: workflow

Release for v1.11.4 (#2166)
  CHANGELOG.md
Labels: none

fix(workflow): OpenAIのレビュー対象からcalmato-devを削除
  .github/workflows/pr-openai-review.yaml
Labels: workflow

fix(workflow): OpenAIのレビュー対象からcalmato-devを削除 (#2167)
  .github/workflows/pr-openai-review.yaml
Labels: workflow

fix(workflow): OpenAIのレビュー対象からcalmato-devを削除
  .github/workflows/pr-openai-review.yaml
Labels: workflow

fix(api): fix test code
  api/internal/store/database/mysql/product_type.go
  api/internal/store/entity/product_test.go
  api/internal/user/database/mysql/member.go
Labels: backend (api), backend (store), backend (user), test

Release for v1.11.5 (#2168)
  CHANGELOG.md
Labels: none

fix(workflow): Lambda@Edgeのデプロイフローを修正
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-func-for-stg.yaml
  .github/workflows/pr-release.yaml
  func/bin/update-cloudfront-distribution.sh
  func/cloudfront-origin-response/Makefile
Labels: backend (function), workflow

fix(workflow): Lambda@Edgeのデプロイフローを修正 (#2170)
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-func-for-stg.yaml
  .github/workflows/pr-release.yaml
  func/bin/update-cloudfront-distribution.sh
  func/cloudfront-origin-response/Makefile
Labels: backend (function), workflow

fix(workflow): Lambda@Edgeのデプロイフローを修正
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-func-for-stg.yaml
  .github/workflows/pr-openai-review.yaml
  .github/workflows/pr-release.yaml
Labels: workflow

fix(workflow): Lambda@Edgeのデプロイフローを修正 (#2172)
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-func-for-stg.yaml
  .github/workflows/pr-openai-review.yaml
  .github/workflows/pr-release.yaml
Labels: workflow

Release for v1.11.7 (#2173)
  CHANGELOG.md
Labels: none

fix(func): スクリプトの修正
  func/bin/update-cloudfront-distribution.sh
Labels: backend (function)

Release for v1.11.8 (#2174)
  CHANGELOG.md
Labels: none

debug
  api/go.mod
  api/go.sum
  api/hack/debug-youtube/main.go
  api/hack/debug-youtube/oauth.go
Labels: backend (api)

wip
  api/hack/debug-youtube/main.go
  api/hack/debug-youtube/oauth.go
Labels: backend (api)

fix(func): オリジンレスポンスの処理を修正
  func/cloudfront-origin-response/src/app.ts
Labels: backend (function)

Release for v1.11.9 (#2175)
  CHANGELOG.md
Labels: none

fix(func): オリジンレスポンスの処理を修正
  func/cloudfront-origin-response/src/app.ts
Labels: backend (function)

fix(func): オリジンレスポンスの処理を修正 (#2176)
  func/cloudfront-origin-response/src/app.ts
Labels: backend (function)

Release for v1.11.10 (#2177)
  CHANGELOG.md
Labels: none

Fix: fixed guest puchse
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: frontend (user)

Fix: fixed code
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: frontend (user)

Fix: fixed guest puchse (#2180)
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: frontend (user)

Release for v1.11.11 (#2181)
  CHANGELOG.md
Labels: none

feat(web): Sentryの設定を追加
  .github/workflows/_deploy_amplify.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  web/admin/.gitignore
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/yarn.lock
  web/user/.gitignore
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/pages/account/edit/email.vue
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/FulfillmentStatus.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/OrderRefundType.ts
  web/user/src/types/api/models/OrderStatus.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentStatus.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/PromotionStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingCarrier.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/UploadStatus.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
  web/user/vite.config.js
  web/user/yarn.lock
Labels: frontend (admin), frontend (user), workflow

feat(web): Sentryの設定を追加 (#2184)
  .github/workflows/_deploy_amplify.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  web/admin/.gitignore
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/yarn.lock
  web/user/.gitignore
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/pages/account/edit/email.vue
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/FulfillmentStatus.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/OrderRefundType.ts
  web/user/src/types/api/models/OrderStatus.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentStatus.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/PromotionStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingCarrier.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/UploadStatus.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
  web/user/vite.config.js
  web/user/yarn.lock
Labels: frontend (admin), frontend (user), workflow

Release for v1.11.12 (#2185)
  CHANGELOG.md
Labels: none

fix(workflow): フロントエンドのデプロイフローを修正
  .github/workflows/_deploy_amplify.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
Labels: workflow

fix:すべての商品画面のローディング状態に使うステータスをuseAsyncDataの返り値にする
  web/user/src/pages/items/index.vue
  web/user/src/store/product.ts
Labels: frontend (user)

fix: 買い物カゴに入れるボタンの参照する状態変数を修正
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)
