Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

feat: add notifications test
  api/internal/gateway/admin/v1/service/notification.go
  api/internal/gateway/admin/v1/service/notification_test.go
Labels: backend (gateway), test

style: change to lowerCamelCase
  api/internal/gateway/admin/v1/handler/notification.go
Labels: backend (gateway)

fix: change expected value in test
  api/internal/gateway/admin/v1/handler/notification_test.go
Labels: backend (gateway), test

feat: add type admin in response package
  api/internal/gateway/admin/v1/response/admin.go
Labels: backend (gateway)

feat: add NewAdmin method
  api/internal/user/service/admin.go
Labels: backend (user)

fix: Change Administrator to Admin
  api/internal/gateway/admin/v1/service/notification.go
  api/internal/gateway/admin/v1/service/notification_test.go
Labels: backend (gateway), test

feat: change administrator to admin, add test
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
Labels: backend (gateway), test

feat: add ListNotification handler test
  api/internal/gateway/admin/v1/handler/notification_test.go
Labels: backend (gateway), test

fix: uploadされたファイルをemitで伝播する
  web/admin/src/components/atoms/TheFileUploadFiled.vue
Labels: frontend (admin)

feat: 画像アップロードの関数を実装
  web/admin/src/store/product.ts
Labels: frontend (admin)

feat: フォームをリアクティブにする
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

feat: add admin service_layer tests
  api/internal/user/service/admin_test.go
Labels: backend (user), test

feat: add administrator Map test
  api/internal/gateway/admin/v1/service/administrator_test.go
Labels: backend (gateway), test

style: delete waste line
  api/internal/gateway/admin/v1/response/admin.go
Labels: backend (gateway)

feat: add admin.Name() method
  api/internal/gateway/admin/v1/service/notification.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
Labels: backend (gateway), backend (user), test

feat: add judge nil
  api/internal/gateway/admin/v1/service/notification.go
Labels: backend (gateway)

Feat: ListNotifications Gateway (#309)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
  api/internal/gateway/admin/v1/response/admin.go
  api/internal/gateway/admin/v1/response/notification.go
  api/internal/gateway/admin/v1/service/administrator.go
  api/internal/gateway/admin/v1/service/administrator_test.go
  api/internal/gateway/admin/v1/service/notification.go
  api/internal/gateway/admin/v1/service/notification_test.go
  api/internal/messenger/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
  api/mock/messenger/service.go
Labels: backend (gateway), backend (messenger), backend (user), test

database: add deleted_at column
  infra/mysql/schema/2022082501-messengers-add-column.sql
Labels: infra (database)

feat: add Delete method to database
  api/internal/messenger/database/database.go
Labels: backend (messenger)

feat: add DeletedAt to entity
  api/internal/messenger/entity/notification.go
Labels: backend (messenger)

feat: implement DeleteNotification database layer
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
Labels: backend (messenger), test

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (messenger)

Add: added promotion ui
  web/admin/package.json
  web/admin/src/layouts/default.vue
  web/admin/src/pages/events.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/promotion.ts
  web/admin/yarn.lock
Labels: frontend (admin)

Fix: fixed ui
  web/admin/src/pages/promotions/index.vue
Labels: frontend (admin)

Add: added promotion ui (#328)
  web/admin/package.json
  web/admin/src/layouts/default.vue
  web/admin/src/pages/events.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/promotion.ts
  web/admin/yarn.lock
Labels: frontend (admin)

Feat/delete notification/database layer (#327)
  api/internal/messenger/database/database.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/entity/notification.go
  api/mock/messenger/database/database.go
  infra/mysql/schema/2022082501-messengers-add-column.sql
Labels: backend (messenger), infra (database), test

feat: add servece layer
  api/internal/messenger/input.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
Labels: backend (messenger), test

Revert "feat: add servece layer"
  api/internal/messenger/input.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
Labels: backend (messenger), test

feat: add service layer
  api/internal/messenger/input.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
Labels: backend (messenger), test

feat: add service layer (#329)
  api/internal/messenger/input.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
Labels: backend (messenger), test

feat: add delete_notification swagger
  docs/swagger/admin/paths/v1/notifications/_notificationId/index.yaml
Labels: docs

fix: add path
  docs/swagger/admin/openapi.yaml
Labels: docs

Chore(*): update libraries for backend (#331)
  api/go.mod
  api/go.sum
Labels: none

Chore(*): Update libraries for user web (#332)
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

Chore(*): Update libraries for admin web (#333)
  web/admin/yarn.lock
Labels: frontend (admin)

Chore(*): Update for docs (#334)
  docs/swagger/yarn.lock
Labels: docs

chore: add delete authority
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (gateway)

feat: add DeleteNotification to service
  api/internal/messenger/service.go
Labels: backend (messenger)

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (messenger)

feat: add DeleteNotification handler
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
Labels: backend (gateway), test
