Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

fix(admin): ライブ配信削除後、モーダルが非表示になるように (#2220)
  web/admin/src/pages/schedules/index.vue
Labels: frontend (admin)

feat: YouTube連携用URLにコピーボタンを追加
  web/admin/src/components/organisms/ScheduleStreaming.vue
Labels: frontend (admin)

Fix/web/admin/live UI (#2221)
  web/admin/nuxt.config.ts
  web/admin/src/assets/main.scss
  web/admin/src/assets/variables.scss
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/pages/auth/youtube/callback.vue
  web/admin/src/plugins/vuetify.ts
Labels: frontend (admin)

Release for v1.11.14 (#2209)
  CHANGELOG.md
Labels: none

Add: added privacy in admin page
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/legal-notice.vue
  web/admin/src/pages/privacy.vue
  web/admin/src/public/_content/legalPolicy.md
  web/admin/src/public/_content/privacyPolicy.md
  web/admin/yarn.lock
Labels: frontend (admin)

Refactor: based on coderabbit
  web/admin/src/pages/legal-notice.vue
  web/admin/src/pages/privacy.vue
  web/admin/src/public/_content/legalPolicy.md
  web/admin/src/public/_content/privacyPolicy.md
Labels: frontend (admin)

Refactor: fixed lint
  web/admin/src/pages/legal-notice.vue
Labels: frontend (admin)

Refactor: fixed lint
  web/admin/src/pages/legal-notice.vue
Labels: frontend (admin)

Add: added privacy in admin page (#2222)
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/legal-notice.vue
  web/admin/src/pages/privacy.vue
  web/admin/src/public/_content/legalPolicy.md
  web/admin/src/public/_content/privacyPolicy.md
  web/admin/yarn.lock
Labels: frontend (admin)

feat(serverless): originAccessControlの削除処理を追加
  infra/serverless/serverless.yml
Labels: none

fix: fixed markdwon
  web/admin/src/public/_content/legalPolicy.md
Labels: frontend (admin)

fix: fixed markdwon (#2226)
  web/admin/src/public/_content/legalPolicy.md
Labels: frontend (admin)

feat(serverless): originAccessControlの削除処理を追加 (#2224)
  infra/serverless/serverless.yml
Labels: none

Release for v1.11.15 (#2223)
  CHANGELOG.md
Labels: none

fix: RTMPOutputsが空の際の挙動を修正
  infra/serverless/functions/createChannelWithRTMPOutputs/handler.js
Labels: none

fix(media): YouTube認証時、アカウントIDの一致で整合性チェックするように
  api/internal/media/entity/broadcast_auth.go
  api/internal/media/service/broadcast.go
Labels: backend (api), backend (media)

fix(media): YouTube認証時、Handleで整合性チェックするように
  api/internal/media/service/broadcast.go
  api/pkg/youtube/client.go
  api/pkg/youtube/service.go
Labels: backend (api), backend (media)

Release for v1.11.16 (#2228)
  CHANGELOG.md
Labels: none

fix(media): YouTubeとの連携処理を見直し
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_auth.go
  api/internal/media/entity/broadcast_auth_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/pkg/youtube/client.go
  api/pkg/youtube/service.go
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.request.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/guests/schedules/-/broadcasts/index.yaml
  docs/swagger/admin/paths/v1/guests/schedules/-/broadcasts/youtube/auth/complete.yaml
  docs/swagger/admin/paths/v1/guests/schedules/-/broadcasts/youtube/index.yaml
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/auth/youtube/callback.vue
  web/admin/src/pages/auth/youtube/complete.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

fix(admin): fix small
  web/admin/src/components/organisms/ScheduleStreaming.vue
Labels: frontend (admin)

fix(docs): fix ci
  .github/workflows/ci-docs.yaml
Labels: workflow

fix(workflow): diffチェックの削除
  .github/workflows/ci-docs.yaml
Labels: workflow

fix(media): YouTubeとの連携処理を見直し (#2229)
  .github/workflows/ci-docs.yaml
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_auth.go
  api/internal/media/entity/broadcast_auth_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/pkg/youtube/client.go
  api/pkg/youtube/service.go
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.request.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/guests/schedules/-/broadcasts/index.yaml
  docs/swagger/admin/paths/v1/guests/schedules/-/broadcasts/youtube/auth/complete.yaml
  docs/swagger/admin/paths/v1/guests/schedules/-/broadcasts/youtube/index.yaml
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/auth/youtube/callback.vue
  web/admin/src/pages/auth/youtube/complete.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test, workflow

fix(admin): Google認証後の処理を修正
  web/admin/src/pages/auth/youtube/callback.vue
Labels: frontend (admin)

fix(admin): Google認証後の処理を修正 (#2231)
  web/admin/src/pages/auth/youtube/callback.vue
Labels: frontend (admin)

feat(admin): YouTube視聴URLの追加
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

feat(admin): YouTube視聴URLの追加 (#2232)
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

fix(admin): 権限管理周りの修正
  api/internal/gateway/admin/v1/handler/order.go
Labels: backend (api), backend (gateway)

fix(admin): 権限管理周りの修正 (#2233)
  api/internal/gateway/admin/v1/handler/order.go
Labels: backend (api), backend (gateway)

fix: RTMPOutputsが空の際の挙動を修正 (#2227)
  infra/serverless/functions/createChannelWithRTMPOutputs/handler.js
Labels: none

fix(gateway): コーディネータがユーザー一覧を取得するときの挙動を修正
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: backend (api), backend (gateway), backend (store), test

fix(gateway): コーディネータがユーザー一覧を取得するときの挙動を修正 (#2234)
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: backend (api), backend (gateway), backend (store), test

Release for v1.11.17 (#2230)
  CHANGELOG.md
Labels: none

feat: 商品複製ボタンを配置
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/pages/products/index.vue
Labels: frontend (admin)

feat: 商品複製機能の実装
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/new.vue
Labels: frontend (admin)

商品複製機能の実装 (#2235)
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/products/new.vue
Labels: frontend (admin)

fix(admin): fix build error
  web/admin/src/components/templates/NotificationList.vue
Labels: frontend (admin)

fix(admin): fix build error
  web/admin/src/components/templates/PaymentSystemList.vue
Labels: frontend (admin)

fix(admin): fix for lint
  web/admin/src/components/templates/PaymentSystemList.vue
Labels: frontend (admin)

fix(media): fix test code
  api/internal/media/database/mysql/broadcast_viewer_log.go
Labels: backend (api), backend (media)
