Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

fix(ci): GitHub ActionsのGOCACHEパスエラーを修正
  .github/workflows/ci-backend.yaml
Labels: workflow

fix(ci): GitHub Actionsのテストキャッシュを修正 (#2972)
  .github/actions/setup-go/action.yaml
  .github/workflows/ci-backend.yaml
Labels: workflow

chore(liff): update @line/liff from 2.23.0 to 2.27.1
  web/liff/package.json
  web/liff/yarn.lock
Labels: none

chore(liff): LINE LIFF SDKを最新版へアップデート (#2989)
  web/liff/package.json
  web/liff/yarn.lock
Labels: none

fix(api): facility認証トークンのテーブル名を修正
  api/internal/gateway/user/facility/auth/auth.go
Labels: backend (api), backend (gateway)

fix: test
  api/internal/gateway/user/facility/auth/auth_test.go
Labels: backend (api), backend (gateway), test

fix(api): facility認証トークンのテーブル名を修正 (#2990)
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/auth_test.go
Labels: backend (api), backend (gateway), test

feat(api): facility向けカート計算APIエンドポイントを追加
  api/internal/gateway/user/facility/handler/cart.go
Labels: backend (api), backend (gateway)

feat(api): facility向けカート計算APIエンドポイントを追加 (#2991)
  api/internal/gateway/user/facility/handler/cart.go
Labels: backend (api), backend (gateway)

fix(ci): PR承認ラベリングワークフローの改善
  .github/workflows/pr-approve.yaml
Labels: workflow

fix(ci): PR承認ラベリングワークフローの改善 (#2992)
  .github/workflows/pr-approve.yaml
Labels: workflow

fix(api): KOMOJUセッション作成とテストの不具合を修正
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
Labels: backend (api), backend (store), test

fix(api): KOMOJUセッション作成とテストの不具合を修正 (#2993)
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
Labels: backend (api), backend (store), test

SEO修正: タイトル・ディスクリプション変更、sitemap.xml作成 (#2985)
  web/user/nuxt.config.ts
  web/user/src/public/sitemap.xml
Labels: frontend (user)

fix(api): メッセンジャーサービスで注文確定時の顧客情報取得を修正
  api/internal/gateway/user/facility/handler/checkout.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  docs/swagger/gen/user/v1/swagger.yaml
Labels: backend (api), backend (gateway), backend (messenger), docs, test

fix(api): メッセンジャーサービスで注文確定時の顧客情報取得を修正 (#2994)
  api/internal/gateway/user/facility/handler/checkout.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  docs/swagger/gen/user/v1/swagger.yaml
Labels: backend (api), backend (gateway), backend (messenger), docs, test

feat(api): リフレッシュトークン管理機能の実装
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/jwt.go
  api/internal/gateway/user/facility/auth/jwt_test.go
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/service/auth.go
  api/internal/gateway/user/facility/service/auth_test.go
  api/pkg/dynamodb/client.go
Labels: backend (api), backend (gateway), test

fix: APIドキュメントの更新
  .github/workflows/ci-docs.yaml
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  docs/swagger/gen/user/v1/swagger.yaml
Labels: docs, workflow

feat(api): リフレッシュトークン管理機能の実装 (#2995)
  .github/workflows/ci-docs.yaml
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/jwt.go
  api/internal/gateway/user/facility/auth/jwt_test.go
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/service/auth.go
  api/internal/gateway/user/facility/service/auth_test.go
  api/pkg/dynamodb/client.go
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  docs/swagger/gen/user/v1/swagger.yaml
Labels: backend (api), backend (gateway), docs, test, workflow

fix: プロジェクトの構造を変更
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/checkin/index.vue
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/liff/src/pages/[facilityId]/complete.vue
  web/liff/src/pages/[facilityId]/index.vue
  web/liff/src/pages/[facilityId]/items/[id].vue
  web/liff/src/pages/index.vue
  web/liff/src/stores/auth.ts
  web/liff/src/stores/shopping.ts
Labels: none

fix: コメント箇所の修正
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/index.vue
  web/liff/src/stores/shopping.ts
Labels: none

カート部分のAPIつなぎこみ (#2978)
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/checkin/index.vue
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/liff/src/pages/[facilityId]/complete.vue
  web/liff/src/pages/[facilityId]/index.vue
  web/liff/src/pages/[facilityId]/items/[id].vue
  web/liff/src/plugins/api-client.ts
  web/liff/src/plugins/helper/factory.ts
  web/liff/src/stores/auth.ts
  web/liff/src/stores/shopping.ts
Labels: none

fix(api): JWTトークン削除処理のポインタ参照とテストケースを修正
  api/internal/gateway/user/facility/auth/jwt.go
  api/internal/gateway/user/facility/auth/jwt_test.go
Labels: backend (api), backend (gateway), test

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

chore: Go バージョンを 1.25.1 にアップデート
  .claude/commands/load-rules.md
  .claude/rules/tech-stack.md
  .github/workflows/ci-backend.yaml
  CLAUDE.md
  api/.tool-versions
  api/go.mod
  api/go.sum
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  docs/swagger/gen/user/v1/swagger.yaml
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media-update-archive/Dockerfile
Labels: backend (api), infra (container), docs, workflow

chore: Go バージョンアップデート後の依存関係整理
  api/go.mod
  api/go.sum
  docs/swagger/gen/user/facility/swagger.yaml
  docs/swagger/gen/user/v1/swagger.yaml
Labels: backend (api), docs

chore: 依存関係の追加更新とSwagger定義の調整
  api/go.mod
  api/go.sum
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
Labels: backend (api), docs

chore: Go バージョンを 1.25.1 にアップデート (#2999)
  .claude/commands/load-rules.md
  .claude/rules/tech-stack.md
  .github/workflows/ci-backend.yaml
  CLAUDE.md
  api/.tool-versions
  api/go.mod
  api/go.sum
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media-update-archive/Dockerfile
Labels: backend (api), infra (container), docs, workflow

chore: Renovate設定をモノレポ対応に拡張
  renovate.json
Labels: none

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v6.0.0 (#2965)
  CHANGELOG.md
Labels: none

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v6.0.1 (#3007)
  CHANGELOG.md
Labels: none

feat: ユーザー登録部分の実装
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/liff/src/plugins/helper/error.ts
  web/liff/src/stores/auth.ts
  web/liff/src/stores/user.ts
Labels: none

style: linter
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/liff/src/stores/user.ts
Labels: none

feat: ユーザー登録部分の実装 (#3008)
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/liff/src/plugins/helper/error.ts
  web/liff/src/stores/auth.ts
  web/liff/src/stores/user.ts
Labels: none

fix: 商品一覧APIの変更
  web/liff/src/plugins/api-client.ts
  web/liff/src/stores/product.ts
Labels: none

fix: 認証トークンの情報などをUI上から削除
  web/liff/src/pages/[facilityId]/index.vue
Labels: none

feat: チェックアウト画面への遷移の導線を追加
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/checkout/index.vue
  web/liff/src/pages/[facilityId]/items/[id].vue
Labels: none

feat: チェックアウト処理の実装
  web/liff/src/pages/[facilityId]/checkout/index.vue
  web/liff/src/stores/checkout.ts
Labels: none
