Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix(store): fix for lint
  api/internal/store/database/mysql/product.go
Labels: backend (api), backend (store)

fix(user): 配送設定情報が変更管理されるよう修正
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/shipping.go
  api/internal/store/database/mysql/shipping_test.go
  api/internal/store/entity/product_revision.go
  api/internal/store/entity/product_revision_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  api/internal/user/database/mysql/address.go
  api/internal/user/entity/address_revision.go
  api/internal/user/entity/address_revision_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/entity/shipping.yaml
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/shippings/index.yaml
  docs/swagger/admin/paths/v1/shippings/_shippingId/index.yaml
  docs/swagger/admin/paths/v1/shippings/default.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  infra/mysql/schema/2023111001-stores-alter-shippings.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), backend (user), infra (database), docs, test

fix(store): fix small
  api/internal/store/entity/shipping.go
Labels: backend (api), backend (store)

fix(store): fix small
  api/internal/store/database/mysql/shipping.go
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
Labels: backend (api), backend (store), test

fix(store): fix small
  api/internal/store/database/mysql/shipping_test.go
Labels: backend (api), backend (store), test

fix(store): fix small
  api/internal/store/database/mysql/shipping_test.go
Labels: backend (api), backend (store), test

fix(user): 配送設定情報が変更管理されるよう修正 (#1539)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/shipping.go
  api/internal/store/database/mysql/shipping_test.go
  api/internal/store/entity/product_revision.go
  api/internal/store/entity/product_revision_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  api/internal/user/database/mysql/address.go
  api/internal/user/entity/address_revision.go
  api/internal/user/entity/address_revision_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/entity/shipping.yaml
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/shippings/index.yaml
  docs/swagger/admin/paths/v1/shippings/_shippingId/index.yaml
  docs/swagger/admin/paths/v1/shippings/default.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  infra/mysql/schema/2023111001-stores-alter-shippings.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), backend (user), infra (database), docs, test

fix(admin): 配送設定ページのUI修正
  api/internal/gateway/admin/v1/handler/shipping.go
  web/admin/src/components/molecules/ShippingRateForm.vue
  web/admin/src/components/organisms/CoordinatorShipping.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CustomerEdit.vue
  web/admin/src/lib/prefectures/helper.ts
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/shippings/default.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/pages/system.vue
  web/admin/src/store/auth.ts
  web/admin/src/store/shipping.ts
Labels: frontend (admin), backend (api), backend (gateway)

fix(admin): 配送設定ページのUI修正 (#1540)
  api/internal/gateway/admin/v1/handler/shipping.go
  web/admin/src/components/molecules/ShippingRateForm.vue
  web/admin/src/components/organisms/CoordinatorShipping.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CustomerEdit.vue
  web/admin/src/lib/prefectures/helper.ts
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/shippings/default.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/pages/system.vue
  web/admin/src/store/auth.ts
  web/admin/src/store/shipping.ts
Labels: frontend (admin), backend (api), backend (gateway)

fix(mysql): DATETIMEフォーマットの統一
  infra/mysql/schema/2023111101-stores-modify-datetime.sql
  infra/mysql/schema/2023111102-users-modify-datetime.sql
Labels: infra (database)

fix(mysql): DATETIMEフォーマットの統一
  infra/mysql/schema/2023111101-stores-modify-datetime.sql
Labels: infra (database)

refactor(user): 不要なテーブルの削除
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker_test.go
  api/internal/user/database/mysql/customer.go
  api/internal/user/database/mysql/customer_test.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/database/mysql/user.go
  api/internal/user/database/mysql/user_test.go
  api/internal/user/entity/customer.go
  api/internal/user/entity/customer_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/user_test.go
  infra/mysql/schema/2023111103-users-remove-customers.sql
Labels: backend (api), backend (gateway), backend (messenger), backend (user), infra (database), test

fix(mysql): fix small
  infra/mysql/schema/2023111101-stores-modify-datetime.sql
Labels: infra (database)

refactor(user): 不要なテーブルの削除 (#1541)
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker_test.go
  api/internal/user/database/mysql/customer.go
  api/internal/user/database/mysql/customer_test.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/database/mysql/user.go
  api/internal/user/database/mysql/user_test.go
  api/internal/user/entity/customer.go
  api/internal/user/entity/customer_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/user_test.go
  infra/mysql/schema/2023111101-stores-modify-datetime.sql
  infra/mysql/schema/2023111103-users-remove-customers.sql
Labels: backend (api), backend (gateway), backend (messenger), backend (user), infra (database), test

feat: 買い物かご部分のAPIとのつなぎ込み
  web/user/src/components/atoms/cardboard/TheCardboard.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/purchase/index.vue
  web/user/src/store/shopping.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

fix: 不要な関数を削除
  web/user/src/pages/index.vue
Labels: frontend (user)

feat: 金額計算などの処理を追加
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/purchase/index.vue
  web/user/src/store/shopping.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

fix: 空配列のときの処理を追加
  web/user/src/store/shopping.ts
Labels: frontend (user)

商品カート部分の表示を改善 (#1542)
  web/user/src/components/atoms/cardboard/TheCardboard.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/index.vue
  web/user/src/pages/purchase/index.vue
  web/user/src/store/shopping.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

fix(user): ユーザ登録時のコード検証APIを修正
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: backend (api), backend (user), test

fix(user): ユーザ登録時のコード検証APIを修正 (#1544)
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: backend (api), backend (user), test

fix(api): リクエスト値の修正
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/request/address.go
Labels: backend (api), backend (gateway)

feat: 箱タイプと箱サイズを整形する処理を追加
  web/user/src/store/shopping.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

feat: 買い物かごのダンボール部分のUIと占有率などの計算を追加
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
Labels: frontend (user)

feat: ヘッダーの部分の買い物かごの占有率なども連動するように修正
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
Labels: frontend (user)

買い物カゴのダンボール部分のUIをAPIと連動するように追加 (#1545)
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/store/shopping.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

fix(api): 環境変数周りのタイポ修正
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/user/user.go
Labels: backend (api), backend (gateway)

fix(api): 動作確認のため、KOMOJUへのリクエストを修正
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

feat(api): PayPay支払い機能の追加
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/mock/store/service.go
Labels: backend (api), backend (gateway), backend (store), test

feat(api): PayPay支払い機能の追加 (#1547)
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/mock/store/service.go
Labels: backend (api), backend (gateway), backend (store), test

fix(api): KOMOJUのリクエスト値を修正
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

fix(api): KOMOJUのリクエスト値を修正 (#1548)
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

feat: Snackbarコンポーネントを実装
  web/user/.eslintrc.cjs
  web/user/src/app.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/molecules/TheSnackbar.vue
  web/user/src/types/props/common.ts
  web/user/src/types/props/index.ts
  web/user/src/types/props/snackbar.ts
Labels: frontend (user)

feat: 買い物カゴに商品を追加した際にSnackbarを表示するように実装
  web/user/src/pages/items/index.vue
Labels: frontend (user)

feat: 詳細ページでの買い物カゴへの追加操作時もフィードバック表示を追加
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
Labels: frontend (user)

買い物カゴに商品を追加した際にフィードバックを表示するように改善 (#1549)
  web/user/.eslintrc.cjs
  web/user/src/app.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/molecules/TheSnackbar.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/types/props/common.ts
  web/user/src/types/props/index.ts
  web/user/src/types/props/snackbar.ts
Labels: frontend (user)

fix(api): KOMOJUのリクエスト値を調整
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

feat(gateway): KOMOJUからの支払い完了Webhookを受信できるように
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/komoju/handler/event.go
  api/internal/gateway/komoju/handler/payment.go
  api/internal/gateway/komoju/request/payment.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (api), backend (gateway), backend (store), test

fix(api): fix small
  infra/mysql/schema/2023111401-stores-add-column-order-payment.sql
Labels: infra (database)

fix(api): fix small
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
Labels: backend (api), backend (store), test
