Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

fix(docs): fix small
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  web/user/src/types/api/apis/ScheduleApi.ts
Labels: frontend (user), docs

fix(api): 認証なしでもライブ配信コメントが取得できるように (#2005)
  api/internal/gateway/user/v1/handler/live_comment.go
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  web/user/src/types/api/apis/ScheduleApi.ts
Labels: frontend (user), backend (api), backend (gateway), docs

fix(media): コメントのソート順を修正
  api/internal/media/database/mysql/broadcast_comment.go
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
Labels: backend (api), backend (media), docs

fix(api): ミドルウェアの実行順を修正
  api/internal/gateway/user/v1/handler/live_comment.go
Labels: backend (api), backend (gateway)

feat: 商品一覧画面で販売終了した商品の表示を変更する
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/lib/product.ts
  web/user/src/pages/items/index.vue
Labels: frontend (user)

feat: ライブ画面の商品にも販売終了の文字を表示する
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

販売終了した商品のUIを更新 (#2006)
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/lib/product.ts
  web/user/src/pages/items/index.vue
Labels: frontend (user)

fix(store): カート追加時のバリデーション修正
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
Labels: backend (api), backend (store), test

fix(gateway): ライブ配信ページの商品の並び順を修正
  api/internal/gateway/user/v1/service/live_product.go
  api/internal/gateway/user/v1/service/live_product_test.go
Labels: backend (api), backend (gateway), test

fix(store): カート追加時のバリデーション修正 (#2007)
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
Labels: backend (api), backend (store), test

fix(gateway): ライブ配信ページの商品の並び順を修正 (#2008)
  api/internal/gateway/user/v1/service/live_product.go
  api/internal/gateway/user/v1/service/live_product_test.go
Labels: backend (api), backend (gateway), test

fix(admin): 注文一覧テーブルの変数修正
  web/admin/src/pages/orders/index.vue
Labels: frontend (admin)

fix(store): 注文履歴ステータスの追加
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  infra/mysql/schema/2024020501-stores-add-column.sql
Labels: backend (api), backend (store), infra (database), test

fix(store): fix small
  api/internal/store/database/mysql/order.go
Labels: backend (api), backend (store)

fix(store): fix small
  api/internal/store/database/mysql/order.go
Labels: backend (api), backend (store)

fix(store): fix small
  api/internal/store/database/mysql/order_test.go
  infra/mysql/schema/2024020501-stores-add-column.sql
Labels: backend (api), backend (store), infra (database), test

fix(store): トランザクション処理のリファクタ
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: backend (api), backend (store), test

fix(store): fix small
  api/internal/store/database/mysql/order_test.go
Labels: backend (api), backend (store), test

fix(store): 注文履歴ステータスの追加 (#2009)
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  infra/mysql/schema/2024020501-stores-add-column.sql
Labels: backend (api), backend (store), infra (database), test

fix(api): seedsのデータ更新
  api/hack/database-seeds/master/report-template.csv
Labels: backend (api)

feat(hack): 注文履歴のステータス更新用コマンドを作成
  api/hack/update-order-status/main.go
Labels: backend (api)

feat(store): 注文ステータスによるフィルタリング機能の実装
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/input.go
  api/internal/store/service/order.go
  docs/swagger/admin/paths/v1/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

feat(gateway): 注文ステータス追加に伴う改修
  api/internal/gateway/user/v1/service/order.go
  api/internal/gateway/user/v1/service/order_test.go
Labels: backend (api), backend (gateway), test

fix(gateway): fix small
  api/internal/gateway/admin/v1/service/order_test.go
Labels: backend (api), backend (gateway), test

fix(gateway): fix small
  api/internal/gateway/user/v1/service/order_test.go
Labels: backend (api), backend (gateway), test

feat(store): 注文ステータスによるフィルタリング機能の実装 (#2010)
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/input.go
  api/internal/store/service/order.go
  docs/swagger/admin/paths/v1/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

feat(gateway): 注文ステータス追加に伴う改修 (#2011)
  api/internal/gateway/user/v1/service/order.go
  api/internal/gateway/user/v1/service/order_test.go
Labels: backend (api), backend (gateway), test

feat: カルーセルのアイテムにリンクを足せるように変更
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/pages/index.vue
  web/user/src/types/props/banner.ts
  web/user/src/types/props/index.ts
Labels: frontend (user)

fix: 'noopener,noreferrer'を追加
  web/user/src/components/molecules/TheCarousel.vue
Labels: frontend (user)

docs: カルーセルの要素についてのコメント追加
  web/user/src/components/molecules/TheCarousel.vue
Labels: frontend (user)

カルーセルのアイテムにリンクを足せるように変更 (#2012)
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/pages/index.vue
  web/user/src/types/props/banner.ts
  web/user/src/types/props/index.ts
Labels: frontend (user)

feat(workflow): ライブラリ更新をグループ化
  .github/dependabot.yaml
Labels: workflow

feat(workflow): ライブラリ更新をグループ化 (#2013)
  .github/dependabot.yaml
Labels: workflow

fix: 画像が正方形になるように修正
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
Labels: frontend (user)

fix: 画像が正方形になるように修正 (#2023)
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
Labels: frontend (user)

fix(messenger): キュー管理のロジック修正
  api/internal/messenger/database/database.go
  api/internal/messenger/database/mysql/received_queue.go
  api/internal/messenger/database/mysql/received_queue_test.go
  api/internal/messenger/entity/received_queue.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/messenger.go
  api/internal/messenger/worker/messenger_test.go
  api/internal/messenger/worker/reporter.go
  api/internal/messenger/worker/reporter_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  infra/mysql/schema/2024020801-messengers-alter-primary-key.sql
Labels: backend (api), backend (messenger), infra (database), test

fix(messenger): キュー管理のロジック修正 (#2024)
  api/internal/messenger/database/database.go
  api/internal/messenger/database/mysql/received_queue.go
  api/internal/messenger/database/mysql/received_queue_test.go
  api/internal/messenger/entity/received_queue.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/messenger.go
  api/internal/messenger/worker/messenger_test.go
  api/internal/messenger/worker/reporter.go
  api/internal/messenger/worker/reporter_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  infra/mysql/schema/2024020801-messengers-alter-primary-key.sql
Labels: backend (api), backend (messenger), infra (database), test

Add: added line contact
  web/user/src/pages/contact.vue
Labels: frontend (user)

Add: added line contact (#2025)
  web/user/src/pages/contact.vue
Labels: frontend (user)

fix(store): 注文ステータスの検証ロジックを修正
  api/internal/store/database/mysql/order.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/order_test.go
Labels: backend (api), backend (store), test
