Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

fix(gateway): response design modifications (#192)
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), docs, test

品物登録ができるようになった
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

wip
  api/internal/messenger/database/database.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/database/schedule.go
  api/internal/messenger/database/schedule_test.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
  api/internal/messenger/entity/schedule.go
  api/internal/messenger/entity/schedule_test.go
  api/internal/messenger/input.go
  api/internal/messenger/scheduler/notification.go
  api/internal/messenger/scheduler/notification_test.go
  api/internal/messenger/scheduler/scheduler.go
  api/internal/messenger/scheduler/scheduler_test.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/worker/worker_test.go
  api/internal/store/service/service_test.go
  api/internal/user/service/service_test.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
  infra/mysql/schema/2022071701-messengers-create-schedulers.sql
Labels: backend (messenger), backend (store), backend (user), infra (database), test

feat(messenger): implement scheduler job
  .github/workflows/cd-messenger-scheduler-for-main.yaml
  .github/workflows/ci-backend-for-all.yaml
  api/cmd/messenger/scheduler/main.go
  api/internal/messenger/cmd/scheduler/config.go
  api/internal/messenger/cmd/scheduler/exec.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/database/schedule.go
  api/internal/messenger/database/schedule_test.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
  api/internal/messenger/entity/schedule.go
  api/internal/messenger/entity/schedule_test.go
  api/internal/messenger/input.go
  api/internal/messenger/scheduler/notification.go
  api/internal/messenger/scheduler/notification_test.go
  api/internal/messenger/scheduler/scheduler.go
  api/internal/messenger/scheduler/scheduler_test.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/worker/worker_test.go
  api/internal/store/service/service_test.go
  api/internal/user/service/service_test.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/mysql/schema/2022071701-messengers-create-schedulers.sql
  infra/terraform/env/shared/01-ecr/04-messenger-scheduler.tf
Labels: backend (messenger), backend (store), backend (user), infra (container), infra (terraform), infra (database), test, workflow

fix(messenger): fix test code
  api/internal/messenger/entity/schedule_test.go
Labels: backend (messenger), test

fix(infra): fix Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container)

Feat/messenger/implement scheduler (#194)
  .github/workflows/cd-messenger-scheduler-for-main.yaml
  .github/workflows/ci-backend-for-all.yaml
  api/cmd/messenger/scheduler/main.go
  api/internal/messenger/cmd/scheduler/config.go
  api/internal/messenger/cmd/scheduler/exec.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/database/schedule.go
  api/internal/messenger/database/schedule_test.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
  api/internal/messenger/entity/schedule.go
  api/internal/messenger/entity/schedule_test.go
  api/internal/messenger/input.go
  api/internal/messenger/scheduler/notification.go
  api/internal/messenger/scheduler/notification_test.go
  api/internal/messenger/scheduler/scheduler.go
  api/internal/messenger/scheduler/scheduler_test.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/worker/worker_test.go
  api/internal/store/service/service_test.go
  api/internal/user/service/service_test.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/mysql/schema/2022071701-messengers-create-schedulers.sql
  infra/terraform/env/shared/01-ecr/04-messenger-scheduler.tf
Labels: backend (messenger), backend (store), backend (user), infra (container), infra (terraform), infra (database), test, workflow

fix(messenger): fix run command for scheduler job
  api/internal/messenger/cmd/scheduler/config.go
  api/internal/messenger/cmd/scheduler/exec.go
  api/internal/messenger/scheduler/scheduler.go
Labels: backend (messenger)

feat(workflow): setup messenger scheduler deploy
  .github/workflows/cd-messenger-scheduler-for-main.yaml
  api/internal/messenger/cmd/scheduler/exec.go
Labels: backend (messenger), workflow

feat(gateway): setup new relic monitoring
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (gateway), backend (user)

feat(workflow): setup messenger scheduler deploy (#195)
  .github/workflows/cd-messenger-scheduler-for-main.yaml
  api/internal/messenger/cmd/scheduler/exec.go
Labels: backend (messenger), workflow

feat(gateway): setup new relic monitoring (#196)
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (gateway), backend (user)

fix(gateway): add early return
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
Labels: backend (gateway), backend (user)

fix(gateway): add early return (#197)
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
Labels: backend (gateway), backend (user)

fix(gateway): fix typo in config
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  docker-compose.yaml
Labels: backend (gateway), backend (user)

fix(gateway): fix typo in config (#198)
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  docker-compose.yaml
Labels: backend (gateway), backend (user)

feat(gateway): add mysql metrics setting
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
Labels: backend (gateway), backend (user)

feat(messenger): setup newrelic client
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/messenger/cmd/scheduler/config.go
  api/internal/messenger/cmd/scheduler/exec.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/exec.go
  api/internal/messenger/cmd/worker/registry.go
Labels: backend (gateway), backend (messenger), backend (user)

fix(messenger): fix app name
  api/internal/messenger/cmd/scheduler/config.go
  api/internal/messenger/cmd/worker/config.go
Labels: backend (messenger)

feat: add notification handler
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/request/notification.go
  api/internal/gateway/admin/v1/response/notification.go
Labels: backend (gateway)

feat(docs): add validation to query string
  docs/swagger/admin/paths/v1/administrators/index.yaml
  docs/swagger/admin/paths/v1/categories/-/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/index.yaml
  docs/swagger/admin/paths/v1/contacts/index.yaml
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  docs/swagger/admin/paths/v1/producers/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat(messenger): update lambda function
  api/internal/messenger/cmd/scheduler/exec.go
  api/internal/messenger/cmd/worker/exec.go
Labels: backend (messenger)

feat(workflow): update messenger image version
  .github/workflows/cd-messenger-scheduler-for-main.yaml
  .github/workflows/cd-messenger-worker-for-main.yaml
Labels: workflow

refactor(messenger): refactor messenger job
  api/internal/messenger/cmd/scheduler/exec.go
  api/internal/messenger/cmd/worker/exec.go
  api/internal/messenger/scheduler/scheduler.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
Labels: backend (messenger), test

feat(messenger): remove newrelic client
  api/internal/messenger/cmd/scheduler/config.go
  api/internal/messenger/cmd/scheduler/exec.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/exec.go
  api/internal/messenger/cmd/worker/registry.go
Labels: backend (messenger)

fix(messenger): fix test code
  api/internal/messenger/database/message_test.go
Labels: backend (messenger), test

fix(messenger): fix test code
  api/internal/messenger/entity/message_template_test.go
Labels: backend (messenger), test

fix(messenger): fix test code
  api/internal/messenger/service/notify_test.go
Labels: backend (messenger), test

fix(messenger): fix duplicate queue id
  api/internal/messenger/service/notify.go
Labels: backend (messenger)

fix(messenger): fix message template
  api/internal/messenger/database/message_template.go
  api/internal/messenger/database/message_template_test.go
  api/internal/messenger/entity/message_config.go
  api/internal/messenger/entity/message_config_test.go
  api/internal/messenger/entity/message_template.go
  api/internal/messenger/entity/message_template_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/messenger.go
  api/internal/messenger/worker/messenger_test.go
  api/internal/messenger/worker/worker_test.go
  infra/mysql/schema/2022072103-messengers-alter-column-messages.sql
Labels: backend (messenger), infra (database), test

fix(messenger): fix message template (#201)
  api/internal/messenger/database/message_template.go
  api/internal/messenger/database/message_template_test.go
  api/internal/messenger/entity/message_config.go
  api/internal/messenger/entity/message_config_test.go
  api/internal/messenger/entity/message_template.go
  api/internal/messenger/entity/message_template_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/messenger.go
  api/internal/messenger/worker/messenger_test.go
  api/internal/messenger/worker/worker_test.go
  infra/mysql/schema/2022072103-messengers-alter-column-messages.sql
Labels: backend (messenger), infra (database), test

Fix: fixed code based on review
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

feat(messenger): implement notification report
  api/internal/messenger/entity/message_config.go
  api/internal/messenger/entity/message_config_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/report_config.go
  api/internal/messenger/entity/report_config_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/messenger_test.go
  api/internal/messenger/worker/worker_test.go
Labels: backend (messenger), test

Feature/item create (#193)
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/auth.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

Fix: fixed category type get 200 items
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

Add: added productType list
  web/admin/src/components/organisms/TheProductTypeList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

Add: added item at top of list
  web/admin/src/components/organisms/TheProductTypeList.vue
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

Feature/item create (#202)
  web/admin/src/components/organisms/TheProductTypeList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

feat(messenger): implement get message method
  api/internal/messenger/database/database.go
  api/internal/messenger/database/message.go
  api/internal/messenger/database/message_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/message.go
  api/internal/messenger/service/message_test.go
  api/internal/messenger/service/notification.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
Labels: backend (messenger), test

feat(messenger): implement get message method (#203)
  api/internal/messenger/database/database.go
  api/internal/messenger/database/message.go
  api/internal/messenger/database/message_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/message.go
  api/internal/messenger/service/message_test.go
  api/internal/messenger/service/notification.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
Labels: backend (messenger), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
