Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(gateway): linter
  api/internal/gateway/admin/v1/handler/shipping.go
Labels: backend (api), backend (gateway)

feat(gateway): 配送設定取得APIの実装 (#2805)
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shipping.go
  api/internal/store/database/tidb/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
Labels: backend (api), backend (gateway), backend (store), test

feat(gateway): 配送設定追加と一覧取得APIの実装 (#2806)
  api/internal/gateway/admin/v1/handler/shipping.go
Labels: backend (api), backend (gateway)

feat(gateway): 配送設定更新APIの実装
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
Labels: backend (api), backend (gateway), test

feat(gateway): 配送設定更新APIの実装 (#2807)
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
Labels: backend (api), backend (gateway), test

fix: test code
  api/internal/store/service/order_test.go
Labels: backend (api), backend (store), test

fix(store): 配送種別の仕様を変更
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
Labels: backend (api), backend (store), test

fix: test code
  api/internal/store/exporter/general/general_test.go
Labels: backend (api), backend (store), test

fix(store): test code
  api/internal/store/database/tidb/shipping_test.go
Labels: backend (api), backend (store), test

fix(store): 配送種別の仕様を変更 (#2795)
  api/internal/store/database/tidb/shipping_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/exporter/general/general_test.go
  api/internal/store/service/order_test.go
Labels: backend (api), backend (store), test

chore: golangci-lint
  .github/actions/setup-go/action.yaml
  .github/workflows/ci-backend.yaml
  api/.golangci.yaml
  api/.tool-versions
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/media/database/database.go
  api/internal/media/service.go
  api/internal/messenger/database/database.go
  api/internal/messenger/service.go
  api/internal/store/database/database.go
  api/internal/store/komoju/komoju.go
  api/internal/store/service.go
  api/internal/user/database/database.go
  api/internal/user/service.go
  api/pkg/batch/client.go
  api/pkg/cognito/client.go
  api/pkg/dynamodb/client.go
  api/pkg/firebase/messaging/client.go
  api/pkg/geolocation/client.go
  api/pkg/ivs/client.go
  api/pkg/line/client.go
  api/pkg/mailer/client.go
  api/pkg/mediaconvert/client.go
  api/pkg/medialive/client.go
  api/pkg/postalcode/client.go
  api/pkg/rbac/enforcer.go
  api/pkg/secret/client.go
  api/pkg/sentry/client.go
  api/pkg/sfn/client.go
  api/pkg/slack/client.go
  api/pkg/sqs/client.go
  api/pkg/storage/client.go
  api/pkg/stripe/client.go
  api/pkg/validator/validator.go
  api/pkg/youtube/client.go
Labels: backend (api), backend (media), backend (messenger), backend (store), backend (user), workflow

fix: small
  .github/actions/setup-go/action.yaml
Labels: workflow

fix: small
  .github/actions/setup-go/action.yaml
Labels: workflow

fix: small
  .github/actions/setup-go/action.yaml
Labels: workflow

chore: golangci-lint (#2808)
  .github/actions/setup-go/action.yaml
  .github/workflows/ci-backend.yaml
  api/.golangci.yaml
  api/.tool-versions
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/media/database/database.go
  api/internal/media/service.go
  api/internal/messenger/database/database.go
  api/internal/messenger/service.go
  api/internal/store/database/database.go
  api/internal/store/komoju/komoju.go
  api/internal/store/service.go
  api/internal/user/database/database.go
  api/internal/user/service.go
  api/pkg/batch/client.go
  api/pkg/cognito/client.go
  api/pkg/dynamodb/client.go
  api/pkg/firebase/messaging/client.go
  api/pkg/geolocation/client.go
  api/pkg/ivs/client.go
  api/pkg/line/client.go
  api/pkg/mailer/client.go
  api/pkg/mediaconvert/client.go
  api/pkg/medialive/client.go
  api/pkg/postalcode/client.go
  api/pkg/rbac/enforcer.go
  api/pkg/secret/client.go
  api/pkg/sentry/client.go
  api/pkg/sfn/client.go
  api/pkg/slack/client.go
  api/pkg/sqs/client.go
  api/pkg/storage/client.go
  api/pkg/stripe/client.go
  api/pkg/validator/validator.go
  api/pkg/youtube/client.go
Labels: backend (api), backend (media), backend (messenger), backend (store), backend (user), workflow

feat: Linterでの修正用コマンド追加
  api/Makefile
Labels: backend (api)

save
  api/.golangci.yaml
  api/hack/database-migrate-mysql/main.go
  api/hack/database-seeds/master/role.go
  api/hack/database-seeds/store/execute.go
  api/hack/store-create-product-reviews/main.go
  api/hack/store-migrate-shops/main.go
  api/internal/gateway/admin/v1/service/top_order.go
  api/internal/media/database/tidb/video_test.go
  api/internal/media/service/broadcast.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/promotion_test.go
  api/internal/store/database/tidb/spot_test.go
  api/internal/store/entity/cart.go
  api/internal/store/service/product_test.go
  api/internal/store/service/schedule_test.go
  api/internal/user/database/tidb/address_test.go
  api/internal/user/database/tidb/coordinator_test.go
  api/internal/user/database/tidb/producer_test.go
  api/internal/user/service/admin_test.go
  api/pkg/geolocation/client.go
  api/pkg/http/http_test.go
  api/pkg/http/metrics_test.go
  api/pkg/mailer/sender.go
  api/pkg/postalcode/client.go
  api/pkg/random/string_test.go
  api/pkg/rbac/enforcer_test.go
Labels: backend (api), backend (gateway), backend (media), backend (store), backend (user), test

save
  api/.golangci.yaml
  api/hack/database-migrate-mysql/main.go
  api/hack/database-migrate-tidb/main.go
  api/internal/store/komoju/session/session_test.go
  api/pkg/mysql/query.go
Labels: backend (api), backend (store), test

refactor(api): Linterの対応
  api/.golangci.yaml
  api/hack/database-migrate-mysql/main.go
  api/hack/database-migrate-tidb/main.go
  api/hack/database-migrate/main.go
  api/hack/database-seeds/main.go
  api/hack/media-update-archive/main.go
  api/hack/messenger-send-email/main.go
  api/hack/store-create-product-reviews/main.go
  api/hack/store-migrate-shops/main.go
  api/hack/store-update-order-status/main.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/gateway/util/request_test.go
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/cmd/scheduler/scheduler.go
  api/internal/media/cmd/updater/updater.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/messenger/cmd/scheduler/scheduler.go
  api/internal/messenger/cmd/worker/worker.go
  api/internal/messenger/database/tidb/tidb.go
  api/pkg/mysql/client.go
  api/pkg/mysql/client_tidb.go
  api/pkg/random/string.go
  api/pkg/validator/validator.go
Labels: backend (api), backend (gateway), backend (media), backend (messenger), test

fix(api): Golangのバージョンを更新
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container)

fix(api): Golangのバージョンを更新 (#2811)
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container)

Fix: 体験で動画があれば動画を表示するように修正
  web/user/src/components/molecules/experiences/TheExperienceMarker.vue
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

Fix: 体験で動画があれば動画を表示するように修正 (#2812)
  web/user/src/components/molecules/experiences/TheExperienceMarker.vue
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

feat(store): 注文ステータスの変更ロジックの改修
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: backend (api), backend (store), test

fix(api): update
  api/pkg/grpc/health.go
Labels: backend (api)

feat(store): 注文ステータスの変更ロジックの改修 (#2813)
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: backend (api), backend (store), test

feat(admin): 注文ステータスの変更ロジックの改修
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin)

feat(admin): 注文ステータスの変更ロジックの改修 (#2814)
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin)

fix(admin): 発送完了通知後も配送情報を更新できるように
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin)

fix(admin): 発送完了通知後も配送情報を更新できるように (#2815)
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin)

fix(api): small
  api/.golangci.yaml
Labels: backend (api)

feat: 配送先一覧ページの実装
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/shippings/[id]/index.vue
  web/admin/src/pages/shippings/list.vue
  web/admin/src/store/shipping.ts
Labels: frontend (admin)

feat(store): 配送設定名の追加
  api/hack/database-seeds/master/shipping.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shipping.go
  api/internal/store/database/tidb/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  infra/tidb/schema/stores/2025050501-add-column-to-shippings.sql
  infra/tidb/schema/stores/2025052301-add-column-to-shippings.sql
Labels: backend (api), backend (gateway), backend (store), test

fix(docs): 配送関連のAPI仕様書を修正
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/shippings/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(docs): 配送関連のAPI仕様書を修正 (#2822)
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/shippings/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat(store): 配送設定名の追加 (#2821)
  api/hack/database-seeds/master/shipping.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shipping.go
  api/internal/store/database/tidb/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  infra/tidb/schema/stores/2025050501-add-column-to-shippings.sql
  infra/tidb/schema/stores/2025052301-add-column-to-shippings.sql
Labels: backend (api), backend (gateway), backend (store), test

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Fix: fixed UX ofpurchase button
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/molecules/TheVideoExperienceItem.vue
  web/user/src/components/molecules/TheVideoProductListItem.vue
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

Add: fixed button compornent at bottom page
  web/user/src/pages/experiences/[...id].vue
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

Fix/product ux (#2823)
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/molecules/TheVideoExperienceItem.vue
  web/user/src/components/molecules/TheVideoProductListItem.vue
  web/user/src/pages/experiences/[...id].vue
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
