Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

refactor(gateway): update entity (#130)
  api/internal/gateway/admin/v1/service/administrator.go
  api/internal/gateway/admin/v1/service/administrator_test.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/auth_test.go
  api/internal/gateway/admin/v1/service/category.go
  api/internal/gateway/admin/v1/service/category_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  api/internal/gateway/user/v1/service/auth.go
  api/internal/gateway/user/v1/service/auth_test.go
Labels: backend (gateway), backend (user), test

feat: ApiClientのfactoryを作って環境変数で柔軟にAPIの向き先を変える
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/index.ts
  web/admin/src/store/producer.ts
Labels: frontend (admin)

feat(*): implement secrets manager client
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/registry.go
  api/pkg/secret/client.go
Labels: backend (gateway), backend (messenger), backend (user)

fix(*): make mockgen
  api/mock/messenger/database/database.go
  api/mock/pkg/secret/client.go
Labels: backend (messenger)

feat(*): implement secrets manager client (#132)
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/registry.go
  api/mock/messenger/database/database.go
  api/mock/pkg/secret/client.go
  api/pkg/secret/client.go
Labels: backend (gateway), backend (messenger), backend (user)

fix(*): fix convert type
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/messenger/cmd/worker/registry.go
  api/pkg/secret/client.go
Labels: backend (gateway), backend (messenger), backend (user)

fix(messenger): fix typo
  api/internal/messenger/cmd/worker/registry.go
Labels: backend (messenger)

Add: added category base page
  web/admin/nuxt.config.ts
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

feat(docs): define product api types
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/products/_productId/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix: lint
  api/internal/messenger/database/notification.go
Labels: backend (messenger)

fix: add error check
  api/internal/messenger/database/notification.go
Labels: backend (messenger)

feat(gateway): implement get product api
  api/config/gateway/admin/rbac/policy.csv
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/admin/v1/service/product_type_test.go
Labels: backend (gateway), test

Add: added category / category item page
  web/admin/src/pages/categories/index.vue
  web/admin/src/types/props/category.ts
Labels: frontend (admin)

feat(workflow): deploy messenger worker
  .github/workflows/cd-messenger-worker-for-main.yaml
Labels: workflow

feat(workflow): deploy messenger worker
  .github/workflows/cd-messenger-worker-for-main.yaml
Labels: workflow

feat: add fields
  api/internal/messenger/database/notification.go
Labels: backend (messenger)

feat(gateway): implement get product api (#136)
  api/config/gateway/admin/rbac/policy.csv
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/admin/v1/service/product_type_test.go
Labels: backend (gateway), test

feat(docs): define product api types (#133)
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/products/_productId/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix: delete unused constant (#134)
  api/internal/messenger/database/notification.go
Labels: backend (messenger)

fix(docs): fix required flag
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/administrator.response.yaml
  docs/swagger/admin/components/schemas/v1/category.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(docs): fix small
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

Add: category / category item add
  web/admin/nuxt.config.ts
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

feat(user): implement multi get producers logic
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (user), test

feat(store): implement multi get product types logic
  api/internal/store/database/database.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (store), test

feat(store): add validation check for create and update product
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/user/input.go
Labels: backend (store), backend (user), test

fix(store): fix small
  api/internal/store/input.go
  api/internal/store/service/product_test.go
Labels: backend (store), test

feat(gateway): implement create and update product api
  api/config/gateway/admin/rbac/policy.csv
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product_test.go
Labels: backend (gateway), backend (store), test

feat(user): implement multi get producers logic (#138)
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (user), test

feat(store): implement multi get product types logic (#139)
  api/internal/store/database/database.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (store), test

feat(gateway): implement todo of ilst products api
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
Labels: backend (gateway), test

feat(store): add validation check for create and update product (#140)
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/user/input.go
Labels: backend (store), backend (user), test

feat(gateway): implement create and update product api (#141)
  api/config/gateway/admin/rbac/policy.csv
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
Labels: backend (gateway), test

feat(gateway): implement todo of ilst products api (#142)
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
Labels: backend (gateway), test

Fix: fixed code based on review
  web/admin/nuxt.config.ts
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

feat: ApiClientのfactoryを作って環境変数で柔軟にAPIの向き先を変える (#131)
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/index.ts
  web/admin/src/store/producer.ts
Labels: frontend (admin)

Refactor: lint fix
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

Add: added category UI (#137)
  web/admin/nuxt.config.ts
  web/admin/src/pages/categories/index.vue
  web/admin/src/types/props/category.ts
Labels: frontend (admin)

Fix: fixed api destination
  web/admin/nuxt.config.ts
  web/admin/src/store/index.ts
Labels: frontend (admin)

Refactor: refactor code style
  web/admin/nuxt.config.ts
Labels: frontend (admin)

Fix: fixed api destination (#143)
  web/admin/nuxt.config.ts
  web/admin/src/store/index.ts
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
