Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

feat(workflow): update pr reviewer (#94)
  .github/reviewer.yaml
Labels: workflow

fix(workflow): fix deploy gateway for stg
  .github/workflows/cd-admin-gateway-for-main.yaml
  .github/workflows/cd-user-gateway-for-main.yaml
Labels: workflow

feat(store): implement category logic (#96)
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/database/database_test.go
  api/internal/store/entity/category.go
  api/internal/store/entity/category_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (store), test

fix(workflow): add latest tag
  .github/workflows/cd-admin-gateway-for-stg.yaml
  .github/workflows/cd-user-gateway-for-stg.yaml
Labels: workflow

feat(store): define product entity (#92)
  api/go.mod
  api/go.sum
  api/internal/store/entity/category.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/product_type.go
  infra/mysql/schema/2022060501-stores-create-products.sql
Labels: backend (store), infra (database), test

fix(user): fix create user and admin logic (#97)
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: backend (user), test

fix(infra): fix environment
  .env.temp
  Makefile
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/user/v1/handler/api.go
  docker-compose.yaml
  infra/mysql/dev.conf
Labels: backend (gateway), backend (user), infra (database)

fix(docs): fix typo
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
Labels: docs

fix(gateway): fix lint
  api/internal/gateway/user/v1/handler/api.go
Labels: backend (gateway), backend (user)

fix(cognito): fix cognito client
  api/pkg/cognito/user.go
Labels: none

fix(cognito): fix small
  api/pkg/cognito/user.go
Labels: none

fix(gateway): fix typo in create producer request
  api/internal/gateway/admin/v1/request/producer.go
Labels: backend (gateway)

fix(gateway): fix typo in create producer request (#100)
  api/internal/gateway/admin/v1/request/producer.go
Labels: backend (gateway)

fix(cognito): fix cognito client (#101)
  api/pkg/cognito/user.go
Labels: none

fix(docs): fix typo (#102)
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
Labels: docs

feat(api): setup api container
  api/Makefile
  api/config/gateway/admin/.air.toml
  api/config/gateway/user/.air.toml
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/gateway/cmd/admin/exec.go
  api/internal/gateway/cmd/user/exec.go
  docker-compose.yaml
  infra/docker/api/Dockerfile.development
Labels: backend (gateway), backend (user), infra (container)

fix(api): fix lint
  api/internal/gateway/cmd/admin/exec.go
  api/internal/gateway/cmd/user/exec.go
Labels: backend (gateway), backend (user)

feat(infra): add dns zone
  infra/terraform/env/shared/02-route53/02-and-preiod-jp.tf
Labels: infra (terraform)

fix(infra): fix small
  infra/terraform/env/shared/02-route53/02-and-preiod-jp.tf
Labels: infra (terraform)

feat(infra): add dns zone (#104)
  infra/terraform/env/shared/02-route53/02-and-preiod-jp.tf
Labels: infra (terraform)

feat(api): setup api container (#103)
  api/Makefile
  api/config/gateway/admin/.air.toml
  api/config/gateway/user/.air.toml
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/gateway/cmd/admin/exec.go
  api/internal/gateway/cmd/user/exec.go
  docker-compose.yaml
  infra/docker/api/Dockerfile.development
Labels: backend (gateway), backend (user), infra (container)

feat(web): make generate
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

fix(gateway): fix uploader
  api/internal/gateway/admin/v1/handler/uploader.go
Labels: backend (gateway)

“はぎわら”
  api/internal/user/entity/coordinator_test.go
Labels: backend (user), test

Coordinator修正
  api/internal/user/entity/coordinator.go
Labels: backend (user)

Coordinator修正
  api/internal/user/entity/coordinator_test.go
Labels: backend (user), test

エラー解消
  api/internal/user/entity/coordinator_test.go
Labels: backend (user), test

Feature/create cordinator (#98)
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
Labels: backend (user), test

fix(gateway): fix uploader (#105)
  api/internal/gateway/admin/v1/handler/uploader.go
Labels: backend (gateway)

feat(store): implement product type
  api/internal/store/database/category.go
  api/internal/store/database/database.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (store), test

refactor(user): refactor database package
  api/internal/user/database/administrator.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
Labels: backend (user), test

fix(store): fix lint
  api/internal/store/service/product_type.go
Labels: backend (store)

refactor(user): refactor database package (#107)
  api/internal/user/database/administrator.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
Labels: backend (user), test

feat(store): implement product type (#106)
  api/internal/store/database/category.go
  api/internal/store/database/database.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (store), test

feat(store): add column to product
  api/internal/store/entity/product.go
  infra/mysql/schema/2022061401-stores-add-column.sql
Labels: backend (store), infra (database)

Update 2022061401-stores-add-column.sql
  infra/mysql/schema/2022061401-stores-add-column.sql
Labels: infra (database)

database追記
  api/internal/user/database/coordinator.go
  api/internal/user/database/database.go
Labels: backend (user)

feat(store): add column to product (#108)
  api/internal/store/entity/product.go
  infra/mysql/schema/2022061401-stores-add-column.sql
Labels: backend (store), infra (database)

feat(docs): add api docs for category and product type
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/administrator.response.yaml
  docs/swagger/admin/components/schemas/v1/category.request.yaml
  docs/swagger/admin/components/schemas/v1/category.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/categories/-/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/_productTypeId/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

refactor(gateway): remove unnecessary method
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/util/metadata.go
  api/internal/gateway/util/metadata_test.go
Labels: backend (gateway), backend (user), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
