Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

feat(media): ファイル参照時にCDN経由にできるように (#2037)
  api/internal/media/cmd/uploader/registry.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/media/service/upload_test.go
  api/internal/media/uploader/uploader.go
Labels: backend (api), backend (media), test

fix(media): 起動時変数の修正
  api/internal/media/cmd/uploader/registry.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/media/uploader/uploader.go
Labels: backend (api), backend (media)

fix(admin): 時間入力フォームの不具合を修正
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/types/props/forms/index.ts
  web/admin/src/types/props/forms/time.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/live.ts
  web/admin/src/types/props/notification.ts
  web/admin/src/types/props/product.ts
  web/admin/src/types/props/promotion.ts
  web/admin/src/types/props/schedule.ts
  web/admin/src/types/validations/common.ts
Labels: frontend (admin)

fix(admin): 時間入力フォームの不具合を修正 (#2038)
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/types/props/forms/index.ts
  web/admin/src/types/props/forms/time.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/live.ts
  web/admin/src/types/props/notification.ts
  web/admin/src/types/props/product.ts
  web/admin/src/types/props/promotion.ts
  web/admin/src/types/props/schedule.ts
  web/admin/src/types/validations/common.ts
Labels: frontend (admin)

fix(user): 住所登録・更新時の電話番号形式を変更
  api/internal/gateway/admin/v1/service/address_test.go
  api/internal/gateway/admin/v1/service/order_fulfillment_test.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/gateway/user/v1/service/address_test.go
  api/internal/gateway/user/v1/service/order_fulfillment_test.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/gateway/user/v1/service/order_test.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/entity/order_fulfillment_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout_test.go
  api/internal/user/database/mysql/address_test.go
  api/internal/user/entity/address_revision_test.go
  api/internal/user/entity/address_test.go
  api/internal/user/input.go
  api/internal/user/service/address_test.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
  docs/swagger/admin/components/schemas/entity/address.yaml
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/user/components/schemas/entity/address.yaml
  docs/swagger/user/components/schemas/entity/order.yaml
  docs/swagger/user/components/schemas/v1/address.request.yaml
  docs/swagger/user/components/schemas/v1/address.response.yaml
  docs/swagger/user/components/schemas/v1/order.response.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/Address.ts
  web/user/src/types/api/models/CreateAddressRequest.ts
  web/user/src/types/api/models/UpdateAddressRequest.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (messenger), backend (store), backend (user), docs, test

fix(user): fix small
  api/pkg/validator/validator_test.go
Labels: backend (api), test

fix(user): 住所登録・更新時の電話番号形式を変更 (#2039)
  api/internal/gateway/admin/v1/service/address_test.go
  api/internal/gateway/admin/v1/service/order_fulfillment_test.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/gateway/user/v1/service/address_test.go
  api/internal/gateway/user/v1/service/order_fulfillment_test.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/gateway/user/v1/service/order_test.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/entity/order_fulfillment_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout_test.go
  api/internal/user/database/mysql/address_test.go
  api/internal/user/entity/address_revision_test.go
  api/internal/user/entity/address_test.go
  api/internal/user/input.go
  api/internal/user/service/address_test.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
  docs/swagger/admin/components/schemas/entity/address.yaml
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/user/components/schemas/entity/address.yaml
  docs/swagger/user/components/schemas/entity/order.yaml
  docs/swagger/user/components/schemas/v1/address.request.yaml
  docs/swagger/user/components/schemas/v1/address.response.yaml
  docs/swagger/user/components/schemas/v1/order.response.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/Address.ts
  web/user/src/types/api/models/CreateAddressRequest.ts
  web/user/src/types/api/models/UpdateAddressRequest.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (messenger), backend (store), backend (user), docs, test

Add: added line button add on index page
  web/user/src/pages/index.vue
Labels: frontend (user)

Add: added line button add on index page (#2040)
  web/user/src/pages/index.vue
Labels: frontend (user)

feat(store): ヤマト運輸のCSV吐き出しロジック実装
  api/internal/store/yamato/csv/csv.go
  api/internal/store/yamato/csv/delivery_receipt.go
  api/internal/store/yamato/csv/delivery_receipt_test.go
  api/internal/store/yamato/csv/writer.go
  api/internal/store/yamato/csv/writer_test.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_test.go
  docs/setup/.keep
  docs/specification/ヤマト運輸_送り状レイアウト.pdf
  docs/tips/.keep
Labels: backend (api), backend (store), backend (user), docs, test

fix(gateway): メモリリークの原因切り分けのためにコメントアウト
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/schedule.go
Labels: backend (api), backend (gateway)

fix(gateway): メモリリークの原因切り分けのためにコメントアウト (#2042)
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/schedule.go
Labels: backend (api), backend (gateway)

feat: png縛りをサムネイル画像にも追加
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

feat(store): ヤマト運輸のCSV吐き出しロジック実装 (#2041)
  api/internal/store/yamato/csv/csv.go
  api/internal/store/yamato/csv/delivery_receipt.go
  api/internal/store/yamato/csv/delivery_receipt_test.go
  api/internal/store/yamato/csv/writer.go
  api/internal/store/yamato/csv/writer_test.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_test.go
  docs/setup/.keep
  docs/specification/ヤマト運輸_送り状レイアウト.pdf
  docs/tips/.keep
Labels: backend (api), backend (store), backend (user), docs, test

feat: サムネイル画像のrequiredバリデーション処理を追加
  web/admin/src/components/molecules/ImageSelectForm.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/types/validations/schedule.ts
Labels: frontend (admin)

feat: 蓋絵画像のrequierdバリデーションを追加
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/types/validations/schedule.ts
Labels: frontend (admin)

feat: オープニングビデオのrequiredバリデーションを追加
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/types/validations/schedule.ts
Labels: frontend (admin)

refactor: props名が柔軟性無いので修正
  web/admin/src/components/molecules/ImageSelectForm.vue
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

feat: 電話番号の入力フォームをハイフン区切りで3つのinputタグに分割した
  web/user/src/components/molecules/ThePhoneNumberInput.vue
  web/user/src/components/organisms/TheNewAddressForm.vue
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

Refactor: refactor typo
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

feat(api): OpenTelemetryの設定追加
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
Labels: backend (api), backend (gateway)

fix(api): pathの修正
  api/internal/gateway/cmd/user/registry.go
Labels: backend (api), backend (gateway)

fix(api): httpに変更
  api/internal/gateway/cmd/user/registry.go
Labels: backend (api), backend (gateway)

fix(api): トレース時のアプリ名を修正
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
Labels: backend (api), backend (gateway)

Refactor: refactor typo (#2046)
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

Coupon present when add line friends
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

feat: 電話番号の入力フォームをハイフン区切りで3つのinputタグに分割した (#2045)
  web/user/src/components/molecules/ThePhoneNumberInput.vue
  web/user/src/components/organisms/TheNewAddressForm.vue
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

feat(api): プロファイラ取得用のエンドポイント追加
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
Labels: backend (api), backend (gateway)

feat(api): プロファイラ取得用のエンドポイント追加 (#2049)
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
Labels: backend (api), backend (gateway)

fix(api): DBエラーログを出力しないように
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/updater/registry.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/registry.go
Labels: backend (api), backend (gateway), backend (media), backend (messenger)

fix(api): sentryへの出力内容を調整
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/pkg/sentry/option.go
Labels: backend (api), backend (gateway)

fix(api): DBエラーログを出力しないように (#2050)
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/updater/registry.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/registry.go
  api/pkg/sentry/option.go
Labels: backend (api), backend (gateway), backend (media), backend (messenger)

Coupon present when add line friends (#2048)
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

fix(api): アクセスログ出力周りの改善
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/user/v1/handler/api.go
Labels: backend (api), backend (gateway)

feat(workflow): PRレビュー時のモデル変更
  .github/workflows/pr-openai-review.yaml
Labels: workflow

fix(api): アクセスログ出力周りの改善 (#2051)
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/user/v1/handler/api.go
Labels: backend (api), backend (gateway)

fix(workflow): fix small
  .github/workflows/pr-openai-review.yaml
Labels: workflow

feat(workflow): PRレビュー時のモデル変更 (#2052)
  .github/workflows/pr-openai-review.yaml
Labels: workflow

fix(api): 404時のレスポンス修正
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (api), backend (gateway)

fix(api): 404時のレスポンス修正 (#2053)
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (api), backend (gateway)
