Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix: remove published and canceled form handler
  api/internal/gateway/admin/v1/handler/live_test.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
Labels: backend (api), backend (gateway), test

fix: 削除ボタンをクリックしても詳細画面に遷移しないようにする (#888)
  web/admin/src/components/templates/ProductList.vue
Labels: frontend (admin)

商品画像の削除時に対象がサムネイル画像としてセットされていた場合に処理を追加 (#891)
  web/admin/src/components/organisms/ProductForm.vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

chore(admin): update dependencies (#892)
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

fix: remove canceled from service
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/store/input.go
Labels: backend (api), backend (gateway), backend (store), test

fix: remove multiGetLives
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (api), backend (store), test

fix(admin): 注文一覧画面のpropsが正しく渡せていなかった箇所を修正
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/pages/orders/index.vue
Labels: frontend (admin)

refactor(admin): 顧客関連ページの実装とリファクタ
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/pages/customers/[id].vue
  web/admin/src/pages/customers/edit/[id].vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/customer.ts
  web/admin/src/store/index.ts
Labels: frontend (admin)

fix(admin): fix for lint
  web/admin/src/components/templates/OrderList.vue
Labels: frontend (admin)

fix(store): 画像のリサイズ処理周りを修正
  api/internal/media/resizer/test.png
  api/internal/store/entity/product.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
Labels: backend (api), backend (media), backend (store), test

fix(store): add test
  api/internal/store/entity/product_test.go
Labels: backend (api), backend (store), test

fix(store): 画像のリサイズ処理周りを修正 (#897)
  api/internal/media/resizer/test.png
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
Labels: backend (api), backend (media), backend (store), test

fix: 検証コードのバリデーションを追加
  web/admin/src/components/templates/AuthVerifyEmail.vue
  web/admin/src/pages/accounts/email/verification.vue
Labels: frontend (admin)

fix(admin): 注文一覧画面のpropsが正しく渡せていなかった箇所を修正 (#895)
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/pages/orders/index.vue
Labels: frontend (admin)

rm: authStoreをinjectionするとerrorHandlerをauthStoreで使えないのでやめる
  web/admin/nuxt.config.ts
  web/admin/src/plugins/auth.ts
  web/admin/src/types/plugins/index.d.ts
Labels: frontend (admin)

feat: 認証コード入力時のエラーを改善
  web/admin/src/store/auth.ts
Labels: frontend (admin)

fix(admin): fix for reviews
  web/admin/src/components/templates/CustomerShow.vue
Labels: frontend (admin)

fix: dayjsがbuild時に読めないのでimportの仕方を変更
  web/admin/src/components/organisms/NotificationForm.vue
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/components/templates/NotificationCreateFormPage.vue
  web/admin/src/components/templates/NotificationEditFormPage.vue
  web/admin/src/components/templates/PromotionCreateFormPage.vue
  web/admin/src/components/templates/PromotionEditFormPage.vue
  web/admin/src/lib/formatter/day.ts
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id].vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/promotions/index.vue
Labels: frontend (admin)

fix: gorm definition
  api/internal/store/entity/live.go
Labels: backend (api), backend (store)

fix: add status to database params
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

fix: remove published and canceled form handler
  api/internal/gateway/admin/v1/handler/live_test.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
Labels: backend (api), backend (gateway), test

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (api)

fix: remove published and canceled from entity
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
Labels: backend (api), backend (store), test

fix: remove updatePublic form Live
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
Labels: backend (api), backend (store), test

fix: remove multiGetLives
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (api), backend (store), test

fix: remove canceled from service
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/store/input.go
Labels: backend (api), backend (gateway), backend (store), test

fix: add status to database params
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

fix: remove updatePublic from database
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

fix: gorm definition
  api/internal/store/entity/live.go
Labels: backend (api), backend (store)

fix(store): fix small
  api/internal/store/entity/live_test.go
Labels: backend (api), backend (store), test

メールアドレス変更後の認証コード入力時のバリデーションを改善 (#898)
  web/admin/nuxt.config.ts
  web/admin/src/components/templates/AuthVerifyEmail.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/plugins/auth.ts
  web/admin/src/store/auth.ts
  web/admin/src/types/plugins/index.d.ts
Labels: frontend (admin)

fix: dayjsがbuild時に読めないのでimportの仕方を変更 (#899)
  web/admin/src/components/organisms/NotificationForm.vue
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/components/templates/NotificationCreateFormPage.vue
  web/admin/src/components/templates/NotificationEditFormPage.vue
  web/admin/src/components/templates/PromotionCreateFormPage.vue
  web/admin/src/components/templates/PromotionEditFormPage.vue
  web/admin/src/lib/formatter/day.ts
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id].vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/promotions/index.vue
Labels: frontend (admin)

[fix] remove now
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
Labels: backend (api), backend (store), test

chore: remove now from Fill
  api/internal/store/entity/live.go
Labels: backend (api), backend (store)

chore: fix: Fill in Test and database
  api/internal/store/database/live.go
  api/internal/store/database/schedule.go
  api/internal/store/entity/live_test.go
Labels: backend (api), backend (store), test

fix: entity test
  api/internal/store/entity/live_test.go
Labels: backend (api), backend (store), test

fix: Remove published and canceled from live (#894)
  api/internal/gateway/admin/v1/handler/live_test.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/database/schedule.go
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (api), backend (gateway), backend (store), test

feat: build前に実行するprebuildコマンドでvesion.jsonを生成するようにした
  web/admin/.gitignore
  web/admin/bin/update-version.ts
  web/admin/package.json
  web/admin/tsconfig.script.json
  web/admin/yarn.lock
Labels: frontend (admin)

feat: バージョン情報を記載したページの作成
  web/admin/src/pages/settings.vue
  web/admin/src/pages/version.vue
Labels: frontend (admin)

feat: NewRelicのスクリプトをapp.vueから読み込むように変更
  web/admin/nuxt.config.ts
  web/admin/src/app.vue
  web/admin/src/new-relic/dev.js
  web/admin/src/new-relic/stg.js
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
