Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

chore(web): update dependencies
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/api-error-handler.ts
  web/admin/stylelint.config.js
  web/admin/yarn.lock
Labels: frontend (admin)

chore(web): update dependencies
  web/admin/yarn.lock
Labels: frontend (admin)

fix(web): fix for lint
  web/admin/src/plugins/api-error-handler.ts
Labels: frontend (admin)

chore: Nuxt v3.3.2にアップデート
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

chore: Nuxt v3.3.2にアップデート (#798)
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

fix(workflow): add make setup
  .github/workflows/ci-docs-for-all.yaml
Labels: workflow

fix(workflow): add make setup
  .github/workflows/ci-docs-for-all.yaml
Labels: workflow

fix(workflow): fix docs ci
  .github/workflows/ci-docs-for-all.yaml
Labels: workflow

fix(workflow): fix docs ci
  .github/workflows/ci-docs-for-all.yaml
  infra/docker/docs/swagger/generator/Dockerfile
Labels: infra (container), workflow

chore(api): update dependencies (#814)
  api/go.mod
  api/go.sum
Labels: backend (api)

chore(func): update dependencies (#815)
  func/go.mod
  func/go.sum
Labels: backend (function)

fix(admin): メールアドレス変更フォームのラベル変更
  web/admin/src/pages/accounts/email/index.vue
Labels: frontend (admin)

fix(admin): お知らせ一覧のページネーション実装
  web/admin/src/pages/notifications/index.vue
  web/admin/src/store/notification.ts
Labels: frontend (admin)

fix(store): プロモーション登録/更新時のバリデーション修正
  api/internal/store/input.go
Labels: backend (api), backend (store)

fix(store): fix time validation
  api/internal/store/input.go
Labels: backend (api), backend (store)

fix(store): fix time validation (#819)
  api/internal/store/input.go
Labels: backend (api), backend (store)

feat(web): update api types (#813)
  .github/workflows/ci-docs-for-all.yaml
  docs/swagger/Makefile
  docs/swagger/openapitools.json
  docs/swagger/package.json
  docs/swagger/yarn.lock
  infra/docker/docs/swagger/generator/Dockerfile
  web/user/src/types/api/api.ts
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/apis/ContactApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
  web/user/src/types/api/configuration.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/AuthResponse.ts
  web/user/src/types/api/models/AuthUserResponse.ts
  web/user/src/types/api/models/CreateAuthRequest.ts
  web/user/src/types/api/models/CreateAuthResponse.ts
  web/user/src/types/api/models/CreateContactRequest.ts
  web/user/src/types/api/models/ErrorResponse.ts
  web/user/src/types/api/models/ForgotAuthPasswordRequest.ts
  web/user/src/types/api/models/InitializeAuthRequest.ts
  web/user/src/types/api/models/RefreshAuthTokenRequest.ts
  web/user/src/types/api/models/ResetAuthPasswordRequest.ts
  web/user/src/types/api/models/SignInRequest.ts
  web/user/src/types/api/models/UpdateAuthEmailRequest.ts
  web/user/src/types/api/models/UpdateAuthPasswordRequest.ts
  web/user/src/types/api/models/V1CreateAuthResponse.ts
  web/user/src/types/api/models/VerifyAuthEmailRequest.ts
  web/user/src/types/api/models/VerifyAuthRequest.ts
  web/user/src/types/api/models/index.ts
  web/user/src/types/api/runtime.ts
Labels: frontend (user), infra (container), docs, workflow

fix(admin): メールアドレス変更フォームのラベル変更 (#816)
  web/admin/src/pages/accounts/email/index.vue
Labels: frontend (admin)

fix(admin): お知らせ一覧のページネーション実装 (#817)
  web/admin/src/pages/notifications/index.vue
  web/admin/src/store/notification.ts
Labels: frontend (admin)

fix(store): プロモーション登録/更新時のバリデーション修正 (#818)
  api/internal/store/input.go
Labels: backend (api), backend (store)

Fix: fixed FA-1
  web/admin/src/pages/contacts/edit/_id.vue
  web/admin/src/pages/customers/index.vue
Labels: frontend (admin)

Fix: fixed FA-14
  web/admin/src/pages/contacts/edit/_id.vue
Labels: frontend (admin)

Fix: fixed FA-12
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/customer.ts
Labels: frontend (admin)

Refactor: no data comment
  web/admin/src/pages/customers/index.vue
Labels: frontend (admin)

Fix: fixed FA-14 (#822)
  web/admin/src/pages/contacts/edit/_id.vue
Labels: frontend (admin)

Fix: fixed FA-12 (#823)
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/customer.ts
Labels: frontend (admin)

Refactor: 登録 -> 更新
  web/admin/src/pages/contacts/edit/_id.vue
  web/admin/src/pages/coordinators/edit/_id.vue
Labels: frontend (admin)

Fix: fixed FA-1 (#821)
  web/admin/src/pages/contacts/edit/_id.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/customers/index.vue
Labels: frontend (admin)

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (api)

feat(store): create MultiGetByScheduleID in liveDB
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

feat(store): add MultiGetLivesByScheduleID service
  api/internal/store/service/live.go
  api/mock/store/service.go
Labels: backend (api), backend (store)

chore: rename multiget to list
  api/internal/store/database/live_test.go
  api/internal/store/service/live.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: backend (api), backend (store), test

fix: chamge data type
  infra/mysql/schema/2023012801-stores-add-column-lives.sql
Labels: infra (database)

refactor(store): refactor store db test
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

database(store): add status column
  infra/mysql/schema/2023012801-stores-add-column-lives.sql
Labels: infra (database)

chore: remove duplicate method
  api/internal/store/database/live_test.go
  api/internal/store/service/live.go
Labels: backend (api), backend (store), test

fix: remove duplicate mocks
  api/mock/store/database/database.go
Labels: backend (api)

Database: add live status column (#824)
  infra/mysql/schema/2023012801-stores-add-column-lives.sql
Labels: infra (database)

chore(admin): update configuration
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/types/.keep
  web/admin/tsconfig.json
  web/admin/yarn.lock
Labels: frontend (admin)

chore(admin): upgrade nuxt v3
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
