Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

Refactor: refactor code based on taba2424 review
  web/admin/src/store/category.ts
Labels: frontend (admin)

Refactor: refactor code based on taba2424 review
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

Refactor: refactor lint
  web/admin/src/components/organisms/TheCategoryList.vue
Labels: frontend (admin)

feat: gaの設定を追加
  web/admin/nuxt.config.ts
  web/admin/src/plugins/google-analytics.ts
Labels: frontend (admin)

Add: added category update (#250)
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

firebaseの設定を追加 (#249)
  web/admin/.gitignore
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/firebase.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/sw/firebase-messaging-sw.ts
  web/admin/tsconfig.json
  web/admin/yarn.lock
Labels: frontend (admin)

feat(*): setup fcm client
  api/go.mod
  api/go.sum
  api/pkg/firebase/messaging/client.go
  api/pkg/firebase/messaging/sender.go
  api/pkg/mock/pkg/firebase/messaging/client.go
Labels: none

feat(messenger): setup messaging client
  api/go.mod
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  api/mock/pkg/firebase/messaging/client.go
  api/pkg/firebase/messaging/client.go
Labels: backend (messenger), test

feat: add ListNotificatons success test
  api/internal/messenger/input.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
Labels: backend (messenger), test

お問合せ管理編集画面４
  web/admin/src/pages/contacts/edit.vue
  web/admin/src/pages/contacts/index.vue
Labels: frontend (admin)

feat(messenger): setup push message
  api/go.mod
  api/go.sum
  api/internal/exception/error.go
  api/internal/exception/error_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/push_template.go
  api/internal/messenger/database/push_template_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/push_config.go
  api/internal/messenger/entity/push_template.go
  api/internal/messenger/entity/push_template_test.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/entity/report_config.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/push.go
  api/internal/messenger/worker/push_test.go
  api/internal/messenger/worker/reporter.go
  api/internal/messenger/worker/reporter_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/messenger/database/database.go
  api/mock/pkg/firebase/messaging/client.go
  api/mock/user/service.go
  api/pkg/firebase/messaging/client.go
  api/pkg/firebase/messaging/sender.go
  infra/mysql/schema/2022081401-messengers-create-push-templates.sql
Labels: backend (messenger), backend (user), infra (database), test

fix(messenger): fix test code
  api/internal/messenger/input.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/worker_test.go
Labels: backend (messenger), test

fix(messenger): fix test code
  api/internal/messenger/worker/reporter_test.go
Labels: backend (messenger), test

fix(user): fix get devices method
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
Labels: backend (user), test

feat(web): remove pinpoint config
  web/admin/nuxt.config.ts
  web/admin/src/plugins/amplify.ts
  web/user/nuxt.config.ts
  web/user/src/plugins/amplify.ts
Labels: frontend (admin), frontend (user)

feat(web): remove pinpoint config (#252)
  web/admin/nuxt.config.ts
  web/admin/src/plugins/amplify.ts
  web/user/nuxt.config.ts
  web/user/src/plugins/amplify.ts
Labels: frontend (admin), frontend (user)

お問合せ管理 (#232)
  web/admin/src/pages/contacts.vue
  web/admin/src/pages/contacts/edit.vue
  web/admin/src/pages/contacts/index.vue
Labels: frontend (admin)

fix(store): fix product icon
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/request/product_type.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/product-types/icon.yaml
  infra/mysql/schema/2022081402-stores-alter-column.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), infra (database), docs, test

fix(web/admin): fix product type request
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

fix(store): fix product icon (#253)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/request/product_type.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/product-types/icon.yaml
  infra/mysql/schema/2022081402-stores-alter-column.sql
  web/admin/src/pages/categories/index.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), infra (database), docs, test

feat: add Count method to data
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: backend (messenger)

chore(*): update go libraries
  .github/workflows/ci-backend-for-all.yaml
  api/.go-version
  api/go.mod
  api/go.sum
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow

fix(*): fix lint
  api/go.sum
  api/hack/create-admin/main.go
Labels: none

fix(*): fix lint
  api/.golangci.yaml
  api/Makefile
Labels: none

fix(*): fix deprecated method
  api/internal/gateway/stripe/handler/event.go
Labels: backend (gateway)

chore(*): update go libraries (#254)
  .github/workflows/ci-backend-for-all.yaml
  api/.go-version
  api/.golangci.yaml
  api/Makefile
  api/go.mod
  api/go.sum
  api/hack/create-admin/main.go
  api/internal/gateway/stripe/handler/event.go
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: backend (gateway), infra (container), workflow

chore(*): setup dependabot
  .github/dependabot.yaml
Labels: workflow

chore(*): setup dependabot
  .github/dependabot.yaml
Labels: workflow

chore(*): setup dependabot
  .github/dependabot.yaml
Labels: workflow

お問合せ管理fetch処理
  web/admin/src/pages/contacts.vue
  web/admin/src/pages/contacts/edit.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

お問合せ管理fetch処理(再lintfix)
  web/admin/src/pages/contacts/edit.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

お問合せ管理fetch処理２
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

chore(workflow): update dependencies (#273)
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
  .github/workflows/pr-labeler.yaml
Labels: workflow

chore(docs): update dependencies (#274)
  docs/swagger/yarn.lock
Labels: docs

chore(web/user): update dependencies (#275)
  web/user/yarn.lock
Labels: frontend (user)

chore(web/admin): update dependencies (#276)
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

feat: Google Analyticsにpage_viewイベントを送信する
  web/admin/nuxt.config.ts
  web/admin/src/plugins/google-analytics.ts
Labels: frontend (admin)

feat(web/admin): add broadcast client mock
  web/admin/package.json
  web/admin/src/pages/livestreaming.vue
  web/admin/yarn.lock
Labels: frontend (admin)

feat(web/admin): add broadcast client mock (#279)
  web/admin/package.json
  web/admin/src/pages/livestreaming.vue
  web/admin/yarn.lock
Labels: frontend (admin)

fix(web/admin): add async/await
  web/admin/src/pages/livestreaming.vue
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
