Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

Feat: implement DeleteContact service layer (#1043)
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger)

feat: add DeleteContact handler
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

feat: implement DeleteContact handler
  api/internal/gateway/admin/v1/handler/contact.go
Labels: backend (api), backend (gateway)

feat(api): 管理者のパスワードリセットAPIを実装
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/user/database/admin.go
  api/internal/user/database/admin_test.go
  api/internal/user/database/database.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/forgot-password/index.yaml
  docs/swagger/admin/paths/v1/auth/forgot-password/verified.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs, test

Feat: implement DeleteContact handler (#1044)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/contact.go
Labels: backend (api), backend (gateway)

Feat: implement ListContactCategories db layer (#1042)
  api/internal/messenger/database/contact_category.go
  api/internal/messenger/database/contact_category_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

feat(api): 管理者のパスワードリセットAPIを実装 (#1045)
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/user/database/admin.go
  api/internal/user/database/admin_test.go
  api/internal/user/database/database.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/forgot-password/index.yaml
  docs/swagger/admin/paths/v1/auth/forgot-password/verified.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs, test

feat: implement ContactRead entity
  api/internal/messenger/entity/contact_read.go
Labels: backend (api), backend (messenger)

feat: implement ContactRead entity test
  api/internal/messenger/entity/contact_read_test.go
Labels: backend (api), backend (messenger), test

feat: define enum UserType
  api/internal/messenger/entity/contact_read.go
  api/internal/messenger/entity/contact_read_test.go
Labels: backend (api), backend (messenger), test

fix: rename ReadFlag
  api/internal/messenger/entity/contact_read.go
  api/internal/messenger/entity/contact_read_test.go
Labels: backend (api), backend (messenger), test

feat: add nil check to constructor
  api/internal/messenger/entity/contact_read.go
  api/internal/messenger/entity/contact_read_test.go
Labels: backend (api), backend (messenger), test

fix: make lint
  api/internal/messenger/entity/contact_read_test.go
Labels: backend (api), backend (messenger), test

fix: change return error value
  api/internal/messenger/entity/contact_read.go
  api/internal/messenger/entity/contact_read_test.go
Labels: backend (api), backend (messenger), test

Feat: implement ContactRead entity (#1046)
  api/internal/messenger/entity/contact_read.go
  api/internal/messenger/entity/contact_read_test.go
Labels: backend (api), backend (messenger), test

feat: add List method to DB
  api/internal/messenger/database/database.go
Labels: backend (api), backend (messenger)

feat: implement ListContacts dm layer
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
Labels: backend (api), backend (messenger), test

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

feat: add Count method DB
  api/internal/messenger/database/database.go
Labels: backend (api), backend (messenger)

feat: implement CountContacts to DB
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
Labels: backend (api), backend (messenger), test

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

fix: make lint
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

Feat: implement ListContacts db layer (#1047)
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

[fix] fix fk to contact_id
  infra/mysql/schema/2023062701-messengers-alter-column.sql
Labels: infra (database)

feat: add Create method to ContactRead DB
  api/internal/messenger/database/database.go
Labels: backend (api), backend (messenger)

feat: implement ContactRead db layer
  api/internal/messenger/database/contact_read.go
  api/internal/messenger/database/contact_read_test.go
Labels: backend (api), backend (messenger), test

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

feat: add ListContactsInput
  api/internal/messenger/input.go
Labels: backend (api), backend (messenger)

feat: add ListContacs service
  api/internal/messenger/service.go
Labels: backend (api), backend (messenger)

deat: implement ListContacts service layer
  api/internal/messenger/service/contact.go
Labels: backend (api), backend (messenger)

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (api)

Feat list contacts database (#1049)
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger)

feat: add ListContacts policy
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

fix: typo
  api/internal/gateway/admin/v1/response/contact.go
Labels: backend (api), backend (gateway)

feat: add Contacts response
  api/internal/gateway/admin/v1/service/contact.go
Labels: backend (api), backend (gateway)

feat: implement ListContacts handler
  api/internal/gateway/admin/v1/handler/contact.go
Labels: backend (api), backend (gateway)

Feat : implement ListContacts handler (#1050)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/gateway/admin/v1/service/contact.go
Labels: backend (api), backend (gateway)

feat: add CreateContactCategory db
  api/internal/messenger/database/database.go
Labels: backend (api), backend (messenger)

feat: implement CreateContactCategory db layer
  api/internal/messenger/database/contact_category.go
  api/internal/messenger/database/contact_category_test.go
Labels: backend (api), backend (messenger), test

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
