Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix: imgのパスを修正
  web/user/src/pages/index.vue
Labels: frontend (user)

fix: hover時のアイコンの挙動を変更
  web/user/src/components/molecules/TheCarousel.vue
Labels: frontend (user)

カルーセルコンポーネントの実装 (#737)
  web/user/src/components/atoms/icons/TheLeftArrowIcon.vue
  web/user/src/components/atoms/icons/TheRightArrowIcon.vue
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/index.vue
  web/user/src/public/favicon.ico
  web/user/src/public/img/banner.png
Labels: frontend (user)

feat: PC画面でのヘッダーメニューの実装
  web/user/src/components/atoms/TheDropdownArea.vue
  web/user/src/components/atoms/icons/TheCloseIcon.vue
  web/user/src/components/molecules/TheDropdownWithIcon.vue
  web/user/src/components/organisms/TheAppHeader.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/header/ThePcNotificationMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/store/notification.ts
  web/user/src/store/shopping.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat: PC画面でのヘッダーメニューの実装 (#743)
  web/user/src/components/atoms/TheDropdownArea.vue
  web/user/src/components/atoms/icons/TheCloseIcon.vue
  web/user/src/components/molecules/TheDropdownWithIcon.vue
  web/user/src/components/organisms/TheAppHeader.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/header/ThePcNotificationMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/store/notification.ts
  web/user/src/store/shopping.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

chore(api): update dependencies (#754)
  api/.tool-versions
  api/go.mod
  api/go.sum
  api/pkg/random/string.go
Labels: backend (api)

chore(func): update dependencies (#755)
  func/.tool-versions
  func/go.mod
  func/go.sum
Labels: backend (function)

chore(infra): update dependencies
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-function-for-all.yaml
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media/resizer/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow

chore(docs): update dependencies
  .github/workflows/ci-docs-for-all.yaml
  docs/swagger/.tool-versions
  docs/swagger/openapitools.json
  docs/swagger/yarn.lock
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/base.ts
  web/admin/src/types/api/common.ts
  web/user/src/types/api/api.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
Labels: frontend (admin), frontend (user), infra (container), docs, workflow

fix: lint
  api/.golangci.yaml
  api/internal/gateway/admin/v1/service/postal_code_test.go
Labels: backend (api), backend (gateway), test

chore(docs): update dependencies (#757)
  .github/workflows/ci-docs-for-all.yaml
  docs/swagger/.tool-versions
  docs/swagger/openapitools.json
  docs/swagger/yarn.lock
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/base.ts
  web/admin/src/types/api/common.ts
  web/user/src/types/api/api.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
Labels: frontend (admin), frontend (user), infra (container), docs, workflow

fix: lint
  api/Makefile
Labels: backend (api)

fix: lint
  func/.golangci.yaml
  func/Makefile
Labels: backend (function)

fix: lint
  api/Makefile
Labels: backend (api)

chore(infra): update dependencies (#756)
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-function-for-all.yaml
  api/.golangci.yaml
  api/Makefile
  api/internal/gateway/admin/v1/service/postal_code_test.go
  func/.golangci.yaml
  func/Makefile
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media/resizer/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: backend (api), backend (gateway), backend (function), infra (container), test, workflow

fix: カルーセルの画像がセンタリングされるように変更
  web/user/src/components/molecules/TheCarousel.vue
Labels: frontend (user)

fix: ロゴ画像の差し替え
  web/user/src/assets/img/logo.svg
Labels: frontend (user)

i18n: スマートフォン向けのメニューに入れるリンクのテキストを追加
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

fix: アイコンの色を変更できるようにpropsを調整
  web/user/src/components/atoms/icons/TheFacebookIcon.vue
  web/user/src/components/atoms/icons/TheInstagramIcon.vue
  web/user/src/components/molecules/auth/TheFacebookAuthButton.vue
  web/user/src/components/organisms/TheAppFooter.vue
Labels: frontend (user)

feat: ヘッダーの折りたたみメニュー用のアイコンを追加
  web/user/src/components/atoms/icons/TheMenuIcon.vue
  web/user/src/components/atoms/icons/TheOutlineCloseIcon.vue
Labels: frontend (user)

feat:画面サイズがタブレット以下の場合に ヘッダーメニューを折りたたむように変更
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
Labels: frontend (user)

ヘッダーの折りたたみに対応 (#758)
  web/user/src/assets/img/logo.svg
  web/user/src/components/atoms/icons/TheFacebookIcon.vue
  web/user/src/components/atoms/icons/TheInstagramIcon.vue
  web/user/src/components/atoms/icons/TheMenuIcon.vue
  web/user/src/components/atoms/icons/TheOutlineCloseIcon.vue
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/components/molecules/auth/TheFacebookAuthButton.vue
  web/user/src/components/organisms/TheAppFooter.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

fix: カートの色を変更できるよう修正
  web/user/src/components/atoms/icons/TheCartIcon.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
Labels: frontend (user)

setup: ダミーデータをセットアップする関数を用意
  web/user/src/store/shopping.ts
  web/user/src/types/store/index.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

feat: おすすめ商品部分のデザインを実装（仮）
  web/user/src/assets/img/sample.png
  web/user/src/components/atoms/TheContentSubTitle.vue
  web/user/src/components/atoms/TheContentTitle.vue
  web/user/src/components/molecules/TheContentBox.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

feat(admin): 問い合わせ一覧のソート機能を実装
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

chore(api): update dependencies
  api/.golangci.yaml
  api/Makefile
  api/go.mod
  api/go.sum
Labels: backend (api)

chore(func): update dependencies
  func/.golangci.yaml
  func/.tool-versions
  func/Makefile
  func/go.mod
  func/go.sum
Labels: backend (function)

chore(infra): update dependencies
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-function-for-all.yaml
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media/resizer/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow

fix(api): fix for lint
  api/internal/gateway/admin/v1/service/order_refund.go
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/notification.go
  api/internal/user/database/coordinator.go
  api/internal/user/service/user.go
  api/pkg/database/client.go
  api/pkg/grpc/health.go
  api/pkg/line/client.go
  api/pkg/postalcode/client.go
  api/pkg/stripe/client.go
Labels: backend (api), backend (gateway), backend (messenger), backend (user)

fix(admin): fix for lint
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

chore(docs): update dependencies
  .github/workflows/ci-docs-for-all.yaml
  docs/swagger/.tool-versions
  docs/swagger/yarn.lock
Labels: docs, workflow

chore(docs): update dependencies
  infra/docker/docs/swagger/viewer/Dockerfile
Labels: infra (container)

fix(api): fix for lint
  api/internal/messenger/service/notify.go
  api/internal/store/database/order.go
  api/internal/user/database/administrator.go
  api/internal/user/database/user.go
  api/pkg/grpc/health.go
Labels: backend (api), backend (messenger), backend (store), backend (user)

chore(api): update dependencies (#795)
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-function-for-all.yaml
  api/.golangci.yaml
  api/.tool-versions
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/service/order_refund.go
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/service/notify.go
  api/internal/store/database/order.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/user.go
  api/internal/user/service/user.go
  api/pkg/database/client.go
  api/pkg/grpc/health.go
  api/pkg/line/client.go
  api/pkg/postalcode/client.go
  api/pkg/stripe/client.go
  func/.golangci.yaml
  func/.tool-versions
  func/Makefile
  func/go.mod
  func/go.sum
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media/resizer/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: backend (api), backend (gateway), backend (messenger), backend (store), backend (user), backend (function), infra (container), workflow

chore(docs): update dependencies (#796)
  .github/workflows/ci-docs-for-all.yaml
  docs/swagger/.tool-versions
  docs/swagger/yarn.lock
  infra/docker/docs/swagger/viewer/Dockerfile
Labels: infra (container), docs, workflow

feat(admin): 問い合わせ一覧のソート機能を実装 (#794)
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

chore(web): update dependencies
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
  infra/docker/web/admin/Dockerfile.development
  infra/docker/web/user/Dockerfile.development
  web/admin/.node-version
  web/admin/.tool-versions
  web/user/.node-version
Labels: frontend (admin), frontend (user), infra (container), workflow

chore(web): update dependencies
  web/admin/yarn.lock
Labels: frontend (admin)

おすすめ商品のデザイン (#770)
  web/user/src/assets/img/sample.png
  web/user/src/components/atoms/TheContentSubTitle.vue
  web/user/src/components/atoms/TheContentTitle.vue
  web/user/src/components/atoms/icons/TheCartIcon.vue
  web/user/src/components/molecules/TheContentBox.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/pages/index.vue
  web/user/src/store/shopping.ts
  web/user/src/types/store/index.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
