Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

chore: google-mapのライブラリを追加
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

type: Google Mapの検索APIの型定義を追加
  web/user/src/types/store/index.ts
  web/user/src/types/store/spot.ts
Labels: frontend (user)

feat: 検索結果から中心座標を指定できるように実装
  web/user/src/components/molecules/experiences/TheSpotSearchForm.vue
  web/user/src/pages/experiences/index.vue
  web/user/src/store/spot.ts
Labels: frontend (user)

fix(docs): api docsの修正
  docs/swagger/user/paths/v1/users/me/products/_productId/reviews/index.yaml
Labels: docs

fix(gateway): pathの修正
  api/internal/gateway/user/v1/handler/product_review.go
Labels: backend (api), backend (gateway)

fix(gateway): pathの修正 (#2580)
  api/internal/gateway/user/v1/handler/product_review.go
Labels: backend (api), backend (gateway)

fix(store): 体験レビュー関連の修正
  api/internal/store/database/mysql/experience_review_reaction.go
  api/internal/store/database/mysql/experience_review_reaction_test.go
  api/internal/store/database/mysql/experience_review_test.go
  api/internal/store/service/experience_review.go
Labels: backend (api), backend (store), test

fix(store): 体験レビュー関連の修正 (#2581)
  api/internal/store/database/mysql/experience_review_reaction.go
  api/internal/store/database/mysql/experience_review_reaction_test.go
  api/internal/store/database/mysql/experience_review_test.go
  api/internal/store/service/experience_review.go
Labels: backend (api), backend (store), test

Release for v3.3.0 (#2567)
  CHANGELOG.md
Labels: none

feat(gateway): コーディネータ取得APIに体験情報を追加
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/response/producer.go
  docs/swagger/user/components/schemas/v1/coordinator.response.yaml
  docs/swagger/user/components/schemas/v1/producer.response.yaml
  web/user/src/types/api/models/CoordinatorResponse.ts
  web/user/src/types/api/models/ProducerResponse.ts
Labels: frontend (user), backend (api), backend (gateway), docs

feat(gateway): コーディネータ取得APIに体験情報を追加 (#2582)
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/response/producer.go
  docs/swagger/user/components/schemas/v1/coordinator.response.yaml
  docs/swagger/user/components/schemas/v1/producer.response.yaml
  web/user/src/types/api/models/CoordinatorResponse.ts
  web/user/src/types/api/models/ProducerResponse.ts
Labels: frontend (user), backend (api), backend (gateway), docs

refactor(api): インターフェース定義の並び順を整理
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/user/input.go
  api/internal/user/service.go
Labels: backend (api), backend (media), backend (messenger), backend (store), backend (user)

refactor(api): インターフェース定義の並び順を整理 (#2584)
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/user/input.go
  api/internal/user/service.go
Labels: backend (api), backend (media), backend (messenger), backend (store), backend (user)

feat: 登録されているスポット情報以外をクリック不可にする
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

fix: 検索バーのデザインを修正
  web/user/src/components/molecules/experiences/TheSpotSearchForm.vue
Labels: frontend (user)

体験詳細ページの実装 (#2572)
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/experience/index.vue
  web/user/src/public/img/experience/map.svg
Labels: frontend (user)

mv: 体験詳細ページを移動
  web/user/src/pages/experiences/[...id].vue
Labels: frontend (user)

feat: パスパラメータからidを取得する
  web/user/src/pages/experiences/[...id].vue
Labels: frontend (user)

feat: 体験用のstoreを定義
  web/user/src/plugins/api-client.ts
  web/user/src/store/experience.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

feat(gateway): 座標ベースで体験一覧取得ができるように
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/database/tidb/experience.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/experiences/geolocation.yaml
  web/user/src/types/api/apis/ExperienceApi.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(store): 距離を求めるクエリを修正
  api/internal/store/database/mysql/experience.go
Labels: backend (api), backend (store)

fix(store): small
  api/internal/store/database/mysql/experience.go
Labels: backend (api), backend (store)

fix(store): small
  api/internal/store/database/mysql/experience.go
Labels: backend (api), backend (store)

fix(store): small
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
Labels: backend (api), backend (store), test

feat(gateway): 座標ベースで体験一覧取得ができるように (#2588)
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/database/tidb/experience.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/experiences/geolocation.yaml
  web/user/src/types/api/apis/ExperienceApi.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(admin): fix for lint
  web/admin/src/components/templates/ExperienceNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
Labels: frontend (admin)

Delete api/output_20240924223532.txt
  api/output_20240924223532.txt
Labels: backend (api)

feat(hack): 字幕付与用のバッチ処理を実装
  api/go.mod
  api/go.sum
  api/hack/media-update-archive/main.go
  api/hack/messenger-send-email/main.go
  api/hack/store-update-order-status/main.go
  api/hack/user-create-admin/main.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/entity/regulation.go
  api/pkg/aws/s3/client.go
  api/pkg/aws/transcribe/client.go
  api/pkg/aws/translate/client.go
  infra/docker/api/media-archive-updater/Dockerfile
Labels: backend (api), backend (media), infra (container)

fix(gateway): 体験一覧取得APIのレスポンス修正
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/user/v1/response/experience.go
Labels: backend (api), backend (gateway)

fix(gateway): 体験一覧取得APIのレスポンス修正 (#2590)
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/user/v1/response/experience.go
Labels: backend (api), backend (gateway)

refactor(hack): 共通化できるところの対応
  api/hack/media-update-archive/main.go
  api/internal/media/database/mysql/broadcast_test.go
  api/pkg/aws/s3/client.go
Labels: backend (api), backend (media), test

feat(hack): 字幕付与用のコマンド実装 (#2589)
  api/go.mod
  api/go.sum
  api/hack/media-update-archive/main.go
  api/hack/messenger-send-email/main.go
  api/hack/store-update-order-status/main.go
  api/hack/user-create-admin/main.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/regulation.go
  api/pkg/aws/transcribe/client.go
  api/pkg/aws/translate/client.go
  infra/docker/api/media-archive-updater/Dockerfile
Labels: backend (api), backend (media), infra (container), test

feat(workflow): AWS Batchのジョブ定義デプロイ用ワークフローを作成
  .github/workflows/_deploy_batch.yaml
  .github/workflows/cd-batch-for-prd.yaml
  .github/workflows/cd-batch-for-stg.yaml
  infra/docker/api/Dockerfile
  infra/docker/api/media-archive-updater/Dockerfile
Labels: infra (container), workflow

feat(workflow): AWS Batchのジョブ定義デプロイ用ワークフローを作成 (#2591)
  .github/workflows/_deploy_batch.yaml
  .github/workflows/cd-batch-for-prd.yaml
  .github/workflows/cd-batch-for-stg.yaml
  infra/docker/api/Dockerfile
  infra/docker/api/media-archive-updater/Dockerfile
Labels: infra (container), workflow

fix(infra): Dockerfile
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container)

fix(infra): Dockerfile (#2592)
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container)

fix(infra): 字幕追加ジョブのDockerfileを修正
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container)

fix(infra): 字幕追加ジョブのDockerfileを修正 (#2593)
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container)

fix(workflow): キャッシュの持ち方を修正
  .github/workflows/_build_and_push.yaml
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container), workflow

fix(workflow): キャッシュの持ち方を修正 (#2594)
  .github/workflows/_build_and_push.yaml
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container), workflow
