Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

Feat create contact entity (#955)
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_category_test.go
  api/internal/messenger/entity/contact_catogory.go
  api/internal/messenger/entity/contact_test.go
Labels: backend (api), backend (messenger), test

rename contact_category
  api/internal/messenger/entity/contact_category.go
Labels: backend (api), backend (messenger)

add user_id column
  infra/mysql/schema/2023052301-messengers-add-column.sql
Labels: infra (database)

implement contact_category
  api/internal/messenger/database/contact_category.go
  api/internal/messenger/database/contact_category_test.go
Labels: backend (api), backend (messenger), test

implement contact
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
Labels: backend (api), backend (messenger), test

add contact_category and contact to db
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
Labels: backend (api), backend (messenger), test

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

Create get contact database layer (#958)
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_category.go
  api/internal/messenger/database/contact_category_test.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/entity/contact_category.go
  api/mock/messenger/database/database.go
  infra/mysql/schema/2023052301-messengers-add-column.sql
Labels: backend (api), backend (messenger), infra (database), test

feat(terraform): add dns zone
  infra/terraform/env/shared/02-route53/03-olibio-jp.tf
Labels: infra (terraform)

feat(terraform): add dns zone (#962)
  infra/terraform/env/shared/02-route53/03-olibio-jp.tf
Labels: infra (terraform)

feat: create GetContact Serive Layer
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
Labels: backend (api), backend (messenger)

feat: create GetContactCategory service layer
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_category.go
Labels: backend (api), backend (messenger)

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (api)

Add: added about page
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/about.vue
Labels: frontend (user)

Fix: fixed item link css
  web/user/src/pages/about.vue
Labels: frontend (user)

chore: dayjsの導入
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

feat: Liveアイコンのコンポーネントを用意
  web/user/src/components/atoms/icons/TheLiveIcon.vue
Labels: frontend (user)

mock: ライブコンテンツのmockの値と画像を用意
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/live.ts
  web/user/src/public/img/live/1.png
  web/user/src/public/img/live/2.png
  web/user/src/public/img/live/3.png
  web/user/src/public/img/live/4.png
  web/user/src/public/img/live/5.png
  web/user/src/public/img/live/6.png
Labels: frontend (user)

feat: ホーム画面のライブ部分のコンテンツのデザインを実装
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

fix: ３行目までではみ出る場合は三点リーダーが当たるように修正
  web/user/src/components/molecules/TheLiveItem.vue
Labels: frontend (user)

ホーム画面のライブ部分のコンテンツのデザイン実装 (#965)
  web/user/package.json
  web/user/src/components/atoms/icons/TheLiveIcon.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/live.ts
  web/user/src/pages/index.vue
  web/user/src/public/img/live/1.png
  web/user/src/public/img/live/2.png
  web/user/src/public/img/live/3.png
  web/user/src/public/img/live/4.png
  web/user/src/public/img/live/5.png
  web/user/src/public/img/live/6.png
  web/user/yarn.lock
Labels: frontend (user)

Create get contact service (#963)
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_category.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger)

Fixed furumaru about page (#964)
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/about.vue
Labels: frontend (user)

refactor(admin): Pagesディレクトリのリファクタ
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/producers/edit/[id].vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/promotion.ts
Labels: frontend (admin)

refactor(admin): Pagesディレクトリのリファクタ
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ShippingAdd.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/shippings/add.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/store/shipping.ts
Labels: frontend (admin)

wip
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/SettingVersion.vue
  web/admin/src/components/templates/ShippingEdit.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/pages/coordinators/add.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/producers/edit/[id].vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/shippings/add.vue
  web/admin/src/pages/shippings/edit/[id].vue
  web/admin/src/pages/version.vue
Labels: frontend (admin)

refactor(admin): Storeディレクトリのリファクタ
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/pages/customers/[id].vue
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/contact.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/customer.ts
  web/admin/src/store/message.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/shipping.ts
Labels: frontend (admin)

feat: add thread entity
  api/internal/messenger/entity/thread.go
  api/internal/messenger/entity/thread_test.go
Labels: backend (api), backend (messenger), test

fix: lint
  api/internal/messenger/entity/thread.go
Labels: backend (api), backend (messenger)

Create thread entity (#967)
  api/internal/messenger/entity/thread.go
  api/internal/messenger/entity/thread_test.go
Labels: backend (api), backend (messenger), test

feat: add GetThread in database layer
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
Labels: backend (api), backend (messenger), test

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

feat: create ListByContactID in database layer
  api/internal/messenger/database/database.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
Labels: backend (api), backend (messenger), test

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

mock: モック用の定数を追加
  web/user/src/constants/mock/archive.ts
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/recommend.ts
  web/user/src/public/img/archive/1.png
  web/user/src/public/img/archive/2.png
  web/user/src/public/img/archive/3.png
  web/user/src/public/img/archive/4.png
  web/user/src/public/img/recommend/1.png
  web/user/src/public/img/recommend/2.png
  web/user/src/public/img/recommend/3.png
  web/user/src/public/img/recommend/4.png
  web/user/src/public/img/recommend/5.png
  web/user/src/public/img/recommend/cn.png
Labels: frontend (user)

feat: モックの値を使ってホーム画面のアーカイブとおすすめ商品を描画
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

Feat list and get thread database layer (#970)
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

feat: implement GetThrad service layer
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/thread.go
Labels: backend (api), backend (messenger)

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (api)

feat: implement ListThreadsByContactID service
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/thread.go
Labels: backend (api), backend (messenger)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
