Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

feat: implement UpdateThread db
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
Labels: backend (api), backend (messenger), test

feat: add Update to thread's method
  api/internal/messenger/database/database.go
Labels: backend (api), backend (messenger)

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

Feat update thread db (#1014)
  api/internal/messenger/database/database.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

fix(admin): 権限周りの修正
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

feat: add UpdateThreadInput
  api/internal/messenger/input.go
Labels: backend (api), backend (messenger)

chore: add UpdateThread to Service list
  api/internal/messenger/service.go
Labels: backend (api), backend (messenger)

feat: implement UpdateThread service layer
  api/internal/messenger/service/thread.go
Labels: backend (api), backend (messenger)

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (api)

Feat update thread service (#1015)
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/thread.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger)

chore: add UpdateThread policy
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

feat: add updateThreadRequest
  api/internal/gateway/admin/v1/request/thread.go
Labels: backend (api), backend (gateway)

feat: implement UpdateThread handler
  api/internal/gateway/admin/v1/handler/thread.go
Labels: backend (api), backend (gateway)

Feat: update thread handler (#1016)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/thread.go
  api/internal/gateway/admin/v1/request/thread.go
Labels: backend (api), backend (gateway)

feat: add Delete method to Thread interface
  api/internal/messenger/database/database.go
Labels: backend (api), backend (messenger)

feat: implement DeleteThread database layer
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
Labels: backend (api), backend (messenger), test

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

Feat: DeleteThread database layer (#1017)
  api/internal/messenger/database/database.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

feat: add DeleteThreadInput
  api/internal/messenger/input.go
Labels: backend (api), backend (messenger)

chore: add DeleteThread to service list
  api/internal/messenger/service.go
Labels: backend (api), backend (messenger)

feat: implement DeleteThread service layer
  api/internal/messenger/service/thread.go
Labels: backend (api), backend (messenger)

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (api)

Feat: implement DeleteThread service layer (#1018)
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/thread.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger)

feat: add DeleteThread policy
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

feat: implement DeleteThread handler
  api/internal/gateway/admin/v1/handler/thread.go
Labels: backend (api), backend (gateway)

Feat: implement DeleteThread handler (#1019)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/thread.go
Labels: backend (api), backend (gateway)

feat: implement UpdateContact database layer
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
Labels: backend (api), backend (messenger), test

feat: add UpdateContactParams
  api/internal/messenger/database/database.go
Labels: backend (api), backend (messenger)

chore: make mockgen
  api/mock/messenger/database/database.go
Labels: backend (api)

fix(*): fix product
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_tag.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/components/schemas/codes/product.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/openapi.yaml
  infra/mysql/schema/2023062001-stores-alter-column.sql
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/store/product-type.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

fix(*): fix for lint
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
Labels: frontend (admin), backend (api), backend (gateway), backend (store), test

fix(api): fix typo
  api/internal/store/database/product.go
Labels: backend (api), backend (store)

Feat: implement UpdateContact database layer (#1020)
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: backend (api), backend (messenger), test

feat(*): 商品関連の仕様変更に伴う改修 (#1029)
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_tag.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/components/schemas/codes/product.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/openapi.yaml
  infra/mysql/schema/2023062001-stores-alter-column.sql
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/store/product-type.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

fix(admin): 商品関連のバグ修正
  api/internal/gateway/admin/v1/response/product.go
  api/internal/store/database/product.go
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
Labels: frontend (admin), backend (api), backend (gateway), backend (store)

fix(admin): 商品関連のバグ修正 (#1030)
  api/internal/gateway/admin/v1/response/product.go
  api/internal/store/database/product.go
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
Labels: frontend (admin), backend (api), backend (gateway), backend (store)

fix(api): 生産者名のレスポンスを修正
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/gateway/admin/v1/service/order_item_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
Labels: backend (api), backend (gateway), test

fix(admin): 商品の都道府県入力周りを修正
  api/internal/gateway/admin/v1/service/address.go
  api/internal/store/database/address_test.go
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  api/internal/store/service/address_test.go
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  infra/mysql/schema/2023062402-stores-alter-column.sql
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

fix(api): 生産者名のレスポンスを修正 (#1032)
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/gateway/admin/v1/service/order_item_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
Labels: backend (api), backend (gateway), test

fix(admin): 商品の都道府県入力周りを修正 (#1033)
  api/internal/gateway/admin/v1/service/address.go
  api/internal/store/database/address_test.go
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  api/internal/store/service/address_test.go
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  infra/mysql/schema/2023062402-stores-alter-column.sql
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), docs, test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
