Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

Upgrade serveless v4 (#2522)
  .github/workflows/cd-serverless-for-main.yaml
  infra/serverless/serverless.yml
Labels: workflow

fix(store): プロモーション公開日時を埋める処理を追加
  api/internal/store/database/mysql/promotion.go
  api/internal/store/entity/promotion.go
  api/internal/store/service/promotion.go
Labels: backend (api), backend (store)

feat(store): TODOコメントの追加
  api/internal/store/entity/promotion.go
  api/internal/store/service/promotion.go
Labels: backend (api), backend (store)

fix(store): テストコードの修正
  api/internal/store/entity/spot.go
  api/internal/store/service/promotion_test.go
Labels: backend (api), backend (store), test

fix(store): プロモーション公開日時を埋める処理を追加 (#2523)
  api/internal/store/database/mysql/promotion.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/spot.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (api), backend (store), test

Release for v3.1.2 (#2521)
  CHANGELOG.md
Labels: none

fix: リサイズ画像の取得でpngを指定するように改善
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

feat(store): スポット住所を管理できるように
  api/internal/codes/prefecture.go
  api/internal/codes/prefecture_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/spot.go
  api/internal/store/database/mysql/spot_test.go
  api/internal/store/database/tidb/spot.go
  api/internal/store/entity/spot.go
  api/internal/store/entity/spot_test.go
  api/internal/store/service/spot.go
  api/internal/store/service/spot_test.go
  infra/mysql/schema/2024112801-stores-add-column-spots.sql
Labels: backend (api), backend (store), infra (database), test

feat(store): スポット住所を管理できるように (#2527)
  api/internal/codes/prefecture.go
  api/internal/codes/prefecture_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/spot.go
  api/internal/store/database/mysql/spot_test.go
  api/internal/store/database/tidb/spot.go
  api/internal/store/entity/spot.go
  api/internal/store/entity/spot_test.go
  api/internal/store/service/spot.go
  api/internal/store/service/spot_test.go
  infra/mysql/schema/2024112801-stores-add-column-spots.sql
Labels: backend (api), backend (store), infra (database), test

feat(store): TiDB用のDDL追加
  infra/tidb/schema/stores/2024128001-add-column-spot-types.sql
Labels: none

feat(store): TiDB用のDDL追加 (#2529)
  infra/tidb/schema/stores/2024128001-add-column-spot-types.sql
Labels: none

fix(store): 都道府県数をカウントしている箇所の修正
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
Labels: backend (api), backend (store), test

fix(store): 都道府県数をカウントしている箇所の修正 (#2530)
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
Labels: backend (api), backend (store), test

fix: リサイズ画像の取得でpngを指定するように改善 (#2526)
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

fix(store): 未使用項目を削除
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/notification_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/gateway/user/v1/service/promotion_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/promotion.go
  api/internal/store/database/mysql/promotion_test.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  infra/mysql/schema/2024112802-stores-drop-columns-promotions.sql
  infra/tidb/schema/stores/2024111601-add-column-spots.sql
  infra/tidb/schema/stores/2024112801-add-column-spot-types.sql
  infra/tidb/schema/stores/2024112802-drop-column-promotions.sql
  web/admin/nuxt.config.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), test

fix(store): テストコード
  api/internal/store/service/shipping_test.go
Labels: backend (api), backend (store), test

fix(store): 未使用項目を削除 (#2531)
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/notification_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/gateway/user/v1/service/promotion_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/promotion.go
  api/internal/store/database/mysql/promotion_test.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  api/internal/store/service/shipping_test.go
  infra/mysql/schema/2024112802-stores-drop-columns-promotions.sql
  infra/tidb/schema/stores/2024111601-add-column-spots.sql
  infra/tidb/schema/stores/2024112801-add-column-spot-types.sql
  infra/tidb/schema/stores/2024112802-drop-column-promotions.sql
  web/admin/nuxt.config.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), infra (database), test

fix(mysql): ErrBadConnエラー時にリトライするように
  api/go.mod
  api/go.sum
  api/pkg/mysql/client.go
Labels: backend (api)

fix(mysql): ErrBadConnエラー時にリトライするように (#2532)
  api/go.mod
  api/go.sum
  api/pkg/mysql/client.go
Labels: backend (api)

Release for v3.1.3 (#2528)
  CHANGELOG.md
Labels: none

feat(admin): 体験種別管理ページの実装
  web/admin/src/components/templates/ExperienceTypeList.vue
  web/admin/src/pages/experience-types/index.vue
  web/admin/src/pages/system.vue
  web/admin/src/store/experience-type.ts
Labels: frontend (admin)

feat(admin): スポット種別管理ページの実装
  web/admin/src/components/templates/SpotTypeList.vue
  web/admin/src/pages/spot-types/index.vue
  web/admin/src/pages/system.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/spot-type.ts
Labels: frontend (admin)

fix(admin): fix for reviews
  web/admin/src/pages/experience-types/index.vue
Labels: frontend (admin)

fix(admin): build
  web/admin/src/store/index.ts
Labels: frontend (admin)

feat(admin): 体験種別管理ページの実装 (#2533)
  web/admin/src/components/templates/ExperienceTypeList.vue
  web/admin/src/pages/experience-types/index.vue
  web/admin/src/pages/system.vue
  web/admin/src/store/experience-type.ts
Labels: frontend (admin)

fix(admin): build
  web/admin/src/pages/spot-types/index.vue
  web/admin/src/store/spot-type.ts
Labels: frontend (admin)

feat(admin): スポット種別管理ページの実装 (#2534)
  web/admin/src/components/templates/SpotTypeList.vue
  web/admin/src/pages/spot-types/index.vue
  web/admin/src/pages/system.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/spot-type.ts
Labels: frontend (admin)

fix(store): プロモーション一覧APIのソート修正
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service/promotion.go
Labels: backend (api), backend (gateway), backend (store)

fix(store): プロモーション一覧APIのソート修正 (#2536)
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service/promotion.go
Labels: backend (api), backend (gateway), backend (store)

fix(admin): バリデーションルールの定義忘れがあった箇所の修正
  web/admin/src/components/templates/ExperienceTypeList.vue
  web/admin/src/types/validations/experience-type.ts
  web/admin/src/types/validations/index.ts
  web/admin/src/types/validations/spot-type.ts
Labels: frontend (admin)

fix(admin): バリデーションルールの定義忘れがあった箇所の修正 (#2537)
  web/admin/src/components/templates/ExperienceTypeList.vue
  web/admin/src/types/validations/experience-type.ts
  web/admin/src/types/validations/index.ts
  web/admin/src/types/validations/spot-type.ts
Labels: frontend (admin)

feat(workflow): バックエンドCDのキャッシュ設定
  .github/workflows/_build_and_push.yaml
Labels: workflow

feat(workflow): バックエンドCDのキャッシュ設定 (#2538)
  .github/workflows/_build_and_push.yaml
Labels: workflow

Release for v3.2.0 (#2535)
  CHANGELOG.md
Labels: none

Fix: fixed live open
  web/user/src/pages/index.vue
Labels: frontend (user)

Fix: fixed live open (#2542)
  web/user/src/pages/index.vue
Labels: frontend (user)

feat(store): カート操作ログをDB管理するように
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/cart_action_log.go
  api/internal/store/database/mysql/cart_action_log_test.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/entity/cart_action_log.go
  api/internal/store/entity/cart_action_log_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/service_test.go
  infra/mysql/schema/2024120601-store-create-cart-action-logs.sql
  infra/tidb/schema/stores/2024120601-create-cart-action-logs.sql
Labels: backend (api), backend (gateway), backend (store), infra (database), test

feat(store): カート操作ログをDB管理するように (#2544)
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/cart_action_log.go
  api/internal/store/database/mysql/cart_action_log_test.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/entity/cart_action_log.go
  api/internal/store/entity/cart_action_log_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/service_test.go
  infra/mysql/schema/2024120601-store-create-cart-action-logs.sql
  infra/tidb/schema/stores/2024120601-create-cart-action-logs.sql
Labels: backend (api), backend (gateway), backend (store), infra (database), test

fix(admin): fix build error
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

fix(admin): fix for lint
  web/admin/nuxt.config.ts
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
