Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

feat(web): 動画管理ページのUI/UX改善
  docs/spec/internal/20250915_video-pages-ui-improvement.md
  web/admin/src/components/organisms/VideoShow.vue
  web/admin/src/components/templates/VideoEdit.vue
  web/admin/src/components/templates/VideoList.vue
  web/admin/src/components/templates/VideoNew.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/pages/videos/[id]/index.vue
  web/admin/src/pages/videos/index.vue
  web/admin/src/pages/videos/new.vue
  web/admin/src/store/video.ts
  web/admin/src/types/validations/index.ts
  web/admin/src/types/validations/video.ts
Labels: frontend (admin), docs

feat(web): 動画管理ページのUI/UX改善 (#3051)
  docs/spec/internal/20250915_video-pages-ui-improvement.md
  web/admin/src/components/organisms/VideoShow.vue
  web/admin/src/components/templates/VideoEdit.vue
  web/admin/src/components/templates/VideoList.vue
  web/admin/src/components/templates/VideoNew.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/pages/videos/[id]/index.vue
  web/admin/src/pages/videos/index.vue
  web/admin/src/pages/videos/new.vue
  web/admin/src/store/video.ts
  web/admin/src/types/validations/index.ts
  web/admin/src/types/validations/video.ts
Labels: frontend (admin), docs

refactor(web): 定数の整理とステータス表示の改善
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/VideoShow.vue
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/ExperienceNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/VideoList.vue
  web/admin/src/components/templates/VideoNew.vue
  web/admin/src/constants/experience.ts
  web/admin/src/constants/index.ts
  web/admin/src/constants/product.ts
  web/admin/src/constants/schedule.ts
  web/admin/src/constants/video.ts
  web/admin/src/pages/experiences/[id]/index.vue
  web/admin/src/plugins/vuetify.ts
Labels: frontend (admin)

feat(web): 動画管理ページのUI/UX改善と定数整理 (#3052)
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/VideoShow.vue
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/ExperienceNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/VideoList.vue
  web/admin/src/components/templates/VideoNew.vue
  web/admin/src/constants/experience.ts
  web/admin/src/constants/index.ts
  web/admin/src/constants/product.ts
  web/admin/src/constants/schedule.ts
  web/admin/src/constants/video.ts
  web/admin/src/pages/experiences/[id]/index.vue
  web/admin/src/plugins/vuetify.ts
Labels: frontend (admin)

feat(web): 管理画面一覧ページのUI/UXデザイン統一
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/promotions/index.vue
Labels: frontend (admin)

feat(web): 管理画面一覧ページのUI/UXデザイン統一 (#3053)
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/promotions/index.vue
Labels: frontend (admin)

feat:画面上部にメニューを配置し、マイページ、プライバシーポリシーへの導線を整備
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/mypage.vue
  web/liff/src/pages/privacy.vue
Labels: none

feat: 特定商取引法に基づく表記ページの追加
  web/liff/src/layouts/default.vue
  web/liff/src/pages/legal-notice.vue
Labels: none

feat:画面上部にメニューを配置し、マイページ、プライバシーポリシーへの導線を整備 (#3054)
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/mypage.vue
  web/liff/src/pages/legal-notice.vue
  web/liff/src/pages/privacy.vue
Labels: none

feat(web): プライバシーポリシーの内容を更新し、UIを改善
  web/liff/src/pages/privacy.vue
Labels: none

feat(web): 特定商取引法に基づく表記を更新し、詳細情報を追加
  web/liff/src/pages/legal-notice.vue
Labels: none

feat: マイページの更新
  web/liff/src/pages/[facilityId]/mypage.vue
  web/liff/src/stores/user.ts
Labels: none

feat(web): 特定商取引法に基づく表記とプライバシーポリシーの内容を整形し、可読性を向上
  web/liff/src/pages/legal-notice.vue
  web/liff/src/pages/privacy.vue
Labels: none

Feat/privacy policy (#3055)
  web/liff/src/pages/legal-notice.vue
  web/liff/src/pages/privacy.vue
Labels: none

feat: マイページの更新 (#3056)
  web/liff/src/pages/[facilityId]/mypage.vue
  web/liff/src/stores/user.ts
Labels: none

refactor(web): update Vuetify icon usage to imported constants
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin)

refactor(web): update Vuetify icon usage to imported constants (#3057)
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/components/templates/OrderShow.vue
Labels: frontend (admin)

feat(admin): 注文一覧画面の改善
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/constants/common.ts
  web/admin/src/constants/index.ts
  web/admin/src/constants/order.ts
  web/admin/src/store/experience.ts
Labels: frontend (admin)

fix: format
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/constants/common.ts
  web/admin/src/constants/order.ts
Labels: frontend (admin)

feat(admin): 注文一覧画面の改善 (#3058)
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/constants/common.ts
  web/admin/src/constants/index.ts
  web/admin/src/constants/order.ts
  web/admin/src/store/experience.ts
Labels: frontend (admin)

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v7.1.0 (#3035)
  CHANGELOG.md
Labels: none

fix(web): improve responsive design for admin list pages
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/VideoList.vue
Labels: frontend (admin)

fix(web): 管理画面の一覧ページのレスポンシブ対応 (#3063)
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/VideoList.vue
Labels: frontend (admin)
