Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix(web/admin): fix live mock page
  web/admin/src/pages/livestreaming.vue
Labels: frontend (admin)

feat(web/admin): add live viewing client
  web/admin/package.json
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/livestreaming/view.vue
  web/admin/yarn.lock
Labels: frontend (admin)

fix(web/admin): fix lint
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/livestreaming/view.vue
Labels: frontend (admin)

feat: Google Analyticsにpage_viewイベントを送信する (#278)
  web/admin/nuxt.config.ts
  web/admin/src/plugins/google-analytics.ts
Labels: frontend (admin)

feat(web/admin): add live viewing client (#280)
  web/admin/package.json
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/livestreaming/view.vue
  web/admin/yarn.lock
Labels: frontend (admin)

お問合せ管理fetch処理３
  web/admin/src/pages/contacts/edit.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

お問合せ管理fetch処理３(yarn lintfix)
  web/admin/src/pages/contacts/edit.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

feat: add Count method
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
Labels: backend (messenger), test

feat: add failed test
  api/internal/messenger/service/notification_test.go
Labels: backend (messenger), test

fix(user): fix initialize user logic
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: backend (gateway), backend (user), test

fix(gateway): fix test code
  api/internal/gateway/user/v1/handler/auth_test.go
Labels: backend (gateway), backend (user), test

fix(user): fix test code
  api/internal/user/database/admin_auth_test.go
Labels: backend (user), test

fix(user): fix initialize user logic (#299)
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/user/database/admin_auth_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: backend (gateway), backend (user), test

chore(*): update libraries for user web (#301)
  web/user/yarn.lock
Labels: frontend (user)

chore(*): update libraries for backend (#300)
  api/go.mod
  api/go.sum
Labels: none

feat(web/admin): implement register device token client
  web/admin/src/middleware/.keep
  web/admin/src/middleware/auth.ts
  web/admin/src/plugins/firebase.ts
  web/admin/src/store/auth.ts
Labels: frontend (admin)

fix(web/admin): fix test code
  web/admin/src/store/auth.ts
  web/admin/test/helpers/.keep
  web/admin/test/store/.keep
  web/admin/test/store/auth.spec.ts
  web/admin/test/store/producer.spec.ts
Labels: frontend (admin), test

chore(web/admin): update dependencies for admin web (#303)
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

fix(web/admin): fix lint
  web/admin/src/store/auth.ts
Labels: frontend (admin)

fix: delete required
  api/internal/messenger/input.go
Labels: backend (messenger)

Feat(messenger): ListNotifications ServiceLayer (#281)
  api/internal/messenger/database/database.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
  api/mock/messenger/database/database.go
Labels: backend (messenger), test

fix(web/admin): fix for reviews
  web/admin/src/middleware/auth.ts
Labels: frontend (admin)

feat(web/admin): implement register device token client (#304)
  web/admin/src/middleware/.keep
  web/admin/src/middleware/auth.ts
  web/admin/src/plugins/firebase.ts
  web/admin/src/store/auth.ts
  web/admin/test/helpers/.keep
  web/admin/test/store/.keep
  web/admin/test/store/auth.spec.ts
  web/admin/test/store/producer.spec.ts
Labels: frontend (admin), test

feat: 商品一覧を取得する関数の実装
  web/admin/src/pages/products/index.vue
  web/admin/src/store/product.ts
Labels: frontend (admin)

fix(api): fix error log format
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (gateway), backend (user)

feat&test: productStoreのテストを記述
  web/admin/src/store/product.ts
  web/admin/test/store/product.spec.ts
Labels: frontend (admin), test

docs: add ListNotifications swagger
  docs/swagger/admin/components/schemas/v1/notification.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/notifications/index.yaml
Labels: docs

chore: make swagger
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

fix: change summary
  docs/swagger/admin/paths/v1/notifications/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(api): fix error log format (#305)
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (gateway), backend (user)

商品一覧取得のAPI連携 (#306)
  web/admin/src/pages/products/index.vue
  web/admin/src/store/product.ts
  web/admin/test/store/product.spec.ts
Labels: frontend (admin), test

Docs: list notifications swagger (#307)
  docs/swagger/admin/components/schemas/v1/notification.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/notifications/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

refactor(api): refactor common package
  api/pkg/backoff/retry_test.go
  api/pkg/stripe/card.go
  api/pkg/stripe/client.go
  api/pkg/stripe/customer.go
  api/pkg/stripe/payment.go
Labels: test

refactor(api): refactor common package (#308)
  api/pkg/backoff/retry_test.go
  api/pkg/stripe/card.go
  api/pkg/stripe/client.go
  api/pkg/stripe/customer.go
  api/pkg/stripe/payment.go
Labels: test

feat: add list policy
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (gateway)

feat: mock追加
  api/internal/messenger/service.go
  api/mock/messenger/service.go
Labels: backend (messenger)

feat: define response type
  api/internal/gateway/admin/v1/response/notification.go
Labels: backend (gateway)

feat: add notification method
  api/internal/gateway/admin/v1/service/notification.go
Labels: backend (gateway)

feat: add administrator Map method
  api/internal/gateway/admin/v1/service/administrator.go
Labels: backend (gateway)

feat: add ListNotifications method
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
Labels: backend (gateway), test
