Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

feat(func): implement ivs convert function
  func/go.mod
  func/go.sum
  func/ivs-converter/main.go
Labels: backend (function)

fix(terraform): fix ec2 user data
  infra/terraform/env/stg/07-ec2/user_data/nat-instance.sh
Labels: infra (terraform)

fix(terraform): fix ec2 user data (#649)
  infra/terraform/env/stg/07-ec2/user_data/nat-instance.sh
Labels: infra (terraform)

feat(func): implement ivs convert function (#648)
  func/go.mod
  func/go.sum
  func/ivs-converter/main.go
Labels: backend (function)

chore(api): update dependencies (#650)
  api/go.mod
  api/go.sum
Labels: backend (api)

wip
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/molecules/TheHeaderMenuButton.vue
  web/user/src/components/molecules/ThePincodeInput.vue
  web/user/src/components/molecules/TheSubmitButton.vue
  web/user/src/components/organisms/TheAppHeader.vue
  web/user/src/locales/en_us.json
  web/user/src/pages/signin.vue
  web/user/src/pages/signup.vue
  web/user/src/pages/verify.vue
  web/user/src/types/props/header.ts
Labels: frontend (user)

fix(workflow): fix workflows
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(user): small
  web/user/src/pages/inspire.vue
Labels: frontend (user)

fix(user): changing test libraries
  web/user/jest.config.js
  web/user/package.json
  web/user/tsconfig.json
  web/user/vitest.config.ts
  web/user/yarn.lock
Labels: frontend (user)

fix(user): fix workflows
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(user): lint
  web/user/vitest.config.ts
Labels: frontend (user)

feat(user): update .gitignore
  web/user/.gitignore
Labels: frontend (user)

feat: add UpdateLivePublic database layer
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

fix(user): fix vuetify
  web/user/.prettierignore
  web/user/package.json
  web/user/src/lib/hooks/index.ts
  web/user/src/lib/hooks/useIsMobile.ts
  web/user/src/locales/en_us.ts
  web/user/src/locales/ja_jp.ts
  web/user/src/locales/tsconfig.json
  web/user/src/pages/signin.vue
  web/user/src/pages/signup.vue
  web/user/src/pages/verify.vue
  web/user/src/plugins/vuetify.ts
Labels: frontend (user)

remove: Vuetifyでv-otp-inputが提供されていないので一時的にコメントアウトする
  web/user/src/components/molecules/ThePincodeInput.vue
Labels: frontend (user)

feat: add UpdateLivePublicInput
  api/internal/store/input.go
Labels: backend (api), backend (store)

feat: add ivs funtion in database layer
  api/internal/store/database/database.go
  api/internal/store/database/live.go
Labels: backend (api), backend (store)

feat: add UpdateLivePublic to Service layer
  api/internal/store/service/live.go
Labels: backend (api), backend (store)

style: 不要な変数を削除
  web/user/src/components/molecules/ThePincodeInput.vue
Labels: frontend (user)

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (api)

fix(store): fix payment card column name
  infra/mysql/schema/2023010401-stores-change-column.sql
Labels: infra (database)

fix(store): fix payment card column name (#653)
  infra/mysql/schema/2023010401-stores-change-column.sql
Labels: infra (database)

fix(store): fix payment card primary key
  infra/mysql/schema/2023010402-stores-alter-column.sql
Labels: infra (database)

fix(store): fix payment card primary key (#654)
  infra/mysql/schema/2023010402-stores-alter-column.sql
Labels: infra (database)

fix(gateway): fix create schedule api
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  web/admin/src/types/api/runtime.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/runtime.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), test

fix(web): rm
  web/admin/src/types/api/runtime.ts
Labels: frontend (admin)

fix(gateway): fix create schedule api (#655)
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  web/user/src/types/api/index.ts
  web/user/src/types/api/runtime.ts
Labels: frontend (user), backend (api), backend (gateway), test

feat(user): define enum types
  docs/swagger/admin/components/schemas/codes.yaml
  docs/swagger/admin/components/schemas/codes/auth.yaml
  docs/swagger/admin/components/schemas/codes/common.yaml
  docs/swagger/admin/components/schemas/codes/contact.yaml
  docs/swagger/admin/components/schemas/codes/image.yaml
  docs/swagger/admin/components/schemas/codes/live.yaml
  docs/swagger/admin/components/schemas/codes/message.yaml
  docs/swagger/admin/components/schemas/codes/order_fulfillment.yaml
  docs/swagger/admin/components/schemas/codes/order_payment.yaml
  docs/swagger/admin/components/schemas/codes/order_refund.yaml
  docs/swagger/admin/components/schemas/codes/product.yaml
  docs/swagger/admin/components/schemas/codes/promotion.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat(user): update api types
  docs/swagger/admin/components/schemas/codes/notification.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/components/schemas/v1/message.response.yaml
  docs/swagger/admin/components/schemas/v1/notification.request.yaml
  docs/swagger/admin/components/schemas/v1/notification.response.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/admin/components/schemas/v1/postal_code.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  docs/swagger/admin/components/schemas/v1/promotion.request.yaml
  docs/swagger/admin/components/schemas/v1/promotion.response.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(user): fix import type
  web/admin/src/components/organisms/TheNotificationForm.vue
  web/admin/src/components/organisms/ThePromotionForm.vue
  web/admin/src/components/templates/ThePromotionCreateFormPage.vue
  web/admin/src/components/templates/ThePromotionEditFormPage.vue
  web/admin/src/constants/prefectures.ts
  web/admin/src/pages/contacts/edit/_id.vue
Labels: frontend (admin)

fix(docs): fix query path
  docs/swagger/admin/paths/v1/schedules/_scheduleId/lives/_liveId/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

chore(user): update dependencies
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/tsconfig.json
  web/user/vitest.config.ts
  web/user/yarn.lock
Labels: frontend (user)

fix: remove ivs method from database layer
  api/internal/store/database/database.go
  api/internal/store/database/live.go
Labels: backend (api), backend (store)

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (api)

fix: change method name
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/mock/store/database/database.go
Labels: backend (api), backend (store)

feat: implement UpdatePublic databse layer
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

feat: implement UpdateLivePublic Service layer
  api/internal/store/service/live.go
Labels: backend (api), backend (store)

feat: add success case test
  api/internal/store/service/live_test.go
Labels: backend (api), backend (store), test

feat: add UpdateLivePublic to service.go
  api/internal/store/service.go
  api/mock/store/service.go
Labels: backend (api), backend (store)

feat: add test exception cases
  api/internal/store/service/live_test.go
Labels: backend (api), backend (store), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
