Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

feat(user): add sort query for list coordinators
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/coordinator.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

test: signInのテストケースを追加
  web/admin/src/store/auth.ts
  web/admin/src/types/exception.ts
  web/admin/test/store/auth.spec.ts
Labels: frontend (admin), test

test: passwordUpdateのテストを記述
  web/admin/src/store/auth.ts
  web/admin/test/store/auth.spec.ts
Labels: frontend (admin), test

feat(user): add sort query for list administrators
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/administrator.go
  api/internal/user/input.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  docs/swagger/admin/paths/v1/administrators/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

test: getAuthByRefreshTokenと足りていないテストを追加
  web/admin/src/store/auth.ts
  web/admin/test/store/auth.spec.ts
Labels: frontend (admin), test

feat(store): add sort query for list api
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/shipping_test.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type_test.go
  api/internal/store/database/shipping.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/category.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/shipping.go
  api/internal/store/input.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  docs/swagger/admin/paths/v1/categories/-/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), docs, test

fix(gateway): fix small
  api/internal/gateway/admin/v1/handler/coordinator.go
Labels: backend (gateway)

fix(gateway): fix small
  api/internal/gateway/admin/v1/handler/administrator.go
Labels: backend (gateway)

fix(store): fix test code
  api/internal/store/database/category_test.go
Labels: backend (store), test

feat(user): add sort query for list coordinators (#223)
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/coordinator.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

feat(user): add sort query for list administrators (#224)
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/administrator.go
  api/internal/user/input.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  docs/swagger/admin/paths/v1/administrators/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

feat(store): add sort query for list api (#226)
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/shipping_test.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type_test.go
  api/internal/store/database/shipping.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/category.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/shipping.go
  api/internal/store/input.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  docs/swagger/admin/paths/v1/categories/-/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), docs, test

feat(messenger): add sort query for list api
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/handler/message.go
  api/internal/gateway/admin/v1/handler/message_test.go
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/message.go
  api/internal/messenger/database/message_test.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/message.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/input.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/message.go
  api/internal/messenger/service/message_test.go
  docs/swagger/admin/paths/v1/contacts/index.yaml
  docs/swagger/admin/paths/v1/messages/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (messenger), docs, test

fix(messenger): fix test code
  api/internal/messenger/database/message_test.go
Labels: backend (messenger), test

feat(messenger): add sort query for list api (#227)
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/handler/message.go
  api/internal/gateway/admin/v1/handler/message_test.go
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/message.go
  api/internal/messenger/database/message_test.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/message.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/input.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/message.go
  api/internal/messenger/service/message_test.go
  docs/swagger/admin/paths/v1/contacts/index.yaml
  docs/swagger/admin/paths/v1/messages/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (messenger), docs, test

メールアドレス変更3
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

feat(web/admin): setup amplify client
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/.keep
  web/admin/src/plugins/amplify.ts
  web/admin/yarn.lock
Labels: frontend (admin)

fix(web/admin): remove aws prefix
  web/admin/nuxt.config.ts
Labels: frontend (admin)

fix(web/admin): fix lint
  web/admin/src/plugins/amplify.ts
Labels: frontend (admin)

feat(web/admin): setup amplify client (#228)
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/.keep
  web/admin/src/plugins/amplify.ts
  web/admin/yarn.lock
Labels: frontend (admin)

feat(web/admin): changing pinpoint config
  web/admin/src/plugins/amplify.ts
Labels: frontend (admin)

feat(web/admin): changing pinpoint config
  web/admin/src/plugins/amplify.ts
Labels: frontend (admin)

feat: add createNotification handler test
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
Labels: backend (gateway), test

feat: change request type
  api/internal/gateway/admin/v1/request/notification.go
Labels: backend (gateway)

fix: add space
  api/internal/gateway/admin/v1/request/notification.go
Labels: backend (gateway)

fix: make swagger
  web/user/src/types/api/api.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
  web/user/src/types/api/configuration.ts
  web/user/src/types/api/index.ts
Labels: frontend (user)

test: authのテストケースを追加 (#225)
  web/admin/package.json
  web/admin/src/store/auth.ts
  web/admin/src/types/exception.ts
  web/admin/test/store/auth.spec.ts
  web/admin/yarn.lock
Labels: frontend (admin), test

test: Producerのテストファイルを用意
  web/admin/test/store/producer.spec.ts
Labels: frontend (admin), test

fix: lintfix web/admin
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/base.ts
  web/admin/src/types/api/common.ts
  web/admin/src/types/api/configuration.ts
  web/admin/src/types/api/index.ts
Labels: frontend (admin)

feat(web/admin): changing pinpoint config
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/plugins/.keep
  web/user/src/plugins/amplify.ts
  web/user/yarn.lock
Labels: frontend (user)

feat(web/admin): changing pinpoint config (#229)
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/plugins/.keep
  web/user/src/plugins/amplify.ts
  web/user/yarn.lock
Labels: frontend (user)

メールアドレス変更4
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

feat: add TestNotification
  api/internal/gateway/admin/v1/service/notification_test.go
Labels: backend (gateway), test

fix: 基底のErrorクラスに準拠する
  web/admin/src/types/exception.ts
Labels: frontend (admin)

feat: テスト用のヘルパーを実装
  web/admin/test/helpers/auth-helpter.ts
  web/admin/test/helpers/axios-helpter.ts
Labels: frontend (admin)

fix: AuthErrorを投げるように修正
  web/admin/src/store/producer.ts
Labels: frontend (admin)

fix: テストを更新
  web/admin/test/store/auth.spec.ts
  web/admin/test/store/producer.spec.ts
Labels: frontend (admin), test

浜田が修正してくれたやつから以下を修正 ・変更ボタンと認証コード再送ボタンで「メールアドレスを更新しました」と出る ・認証コードが●●に送信されました。のところでアドレスが出なくなった
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

メールアドレス変更５
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

fix: remove PostTagetAll
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
Labels: backend (gateway), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
