Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(store): fix test code
  api/internal/store/database/tidb/order_test.go
Labels: backend (api), backend (store), test

fix(gateway): 体験取得時のnil pointerを修正
  api/internal/gateway/user/v1/service/experience.go
Labels: backend (api), backend (gateway)

Release for v4.0.7 (#2665)
  CHANGELOG.md
Labels: none

feat(store): 商品購入のフローを刷新 (#2662)
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/komoju/handler/payment.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/cart.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
  api/internal/store/service/checkout_test.go
  api/pkg/dynamodb/client.go
Labels: backend (api), backend (gateway), backend (store), test

fix(gateway): 商品レビューがないときのハンドリング追加
  api/internal/gateway/user/v1/handler/product_review.go
Labels: backend (api), backend (gateway)

fix(gateway): 商品レビューがないときのハンドリング追加 (#2667)
  api/internal/gateway/user/v1/handler/product_review.go
Labels: backend (api), backend (gateway)

fix: リクエストIDをセットするように修正
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
Labels: frontend (user)

fix: 電話番号の入力フォームを一つに変更
  web/user/src/components/molecules/ThePhoneNumberInput.vue
Labels: frontend (user)

fix: 電話番号の入力フォームのバリデーションを変更
  web/user/src/pages/v1/purchase/guest/address.vue
Labels: frontend (user)

Add: added video list
  web/user/src/components/molecules/TheVideoItem.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/store/home.ts
Labels: frontend (user)

Revert "fix: 電話番号の入力フォームのバリデーションを変更"
  web/user/src/pages/v1/purchase/guest/address.vue
Labels: frontend (user)

Revert "fix: 電話番号の入力フォームを一つに変更"
  web/user/src/components/molecules/ThePhoneNumberInput.vue
Labels: frontend (user)

体験購入周りセットアップ処理の修正と電話番号フォームの修正 (#2668)
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
Labels: frontend (user)

fix: 注文詳細で請求先情報の部分でエラーになっている部分の対応
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

fix: 注文詳細で請求先情報の部分でエラーになっている部分の対応 (#2669)
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

Add: added video bff
  web/user/src/store/videos.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

fix(gateway): di周りの修正
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (api), backend (gateway)

fix(gateway): di周りの修正 (#2670)
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (api), backend (gateway)

Add: added video player and comment
  web/user/src/components/atoms/TheVideoDescription.vue
  web/user/src/components/atoms/TheVideoPlayer.vue
  web/user/src/pages/index.vue
  web/user/src/pages/video/[...id].vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/video.ts
Labels: frontend (user)

refactor(store): 注文集計処理のリファクタ
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: backend (api), backend (gateway), backend (store), test

Fix: fixed mergin
  web/user/src/components/atoms/TheVideoDescription.vue
Labels: frontend (user)

feat(store): トップページで使用する売上ダッシュボード用のAPI実装
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/top.go
  api/internal/gateway/admin/v1/response/top.go
  api/internal/gateway/admin/v1/service/top_order.go
  api/internal/gateway/admin/v1/service/top_order_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  docs/swagger/admin/components/schemas/codes/top.yaml
  docs/swagger/admin/components/schemas/entity/top.yaml
  docs/swagger/admin/components/schemas/v1/top.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/top/orders.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

Add; added multi lang
  web/user/src/components/atoms/TheVideoDescription.vue
  web/user/src/locales/ja_jp.json
Labels: frontend (user)

fix(store): fix small
  api/internal/store/database/tidb/order.go
Labels: backend (api), backend (store)

fix(store): fix small
  api/internal/store/database/tidb/order_test.go
Labels: backend (api), backend (store), test

fix(store): fix small
  api/internal/store/database/tidb/order_test.go
Labels: backend (api), backend (store), test

fix(store): fix small
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
Labels: backend (api), backend (store), test

fix(store): fix small
  api/internal/store/database/tidb/order.go
Labels: backend (api), backend (store)

feat(store): トップページで使用する売上ダッシュボード用のAPI実装 (#2671)
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/top.go
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/response/top.go
  api/internal/gateway/admin/v1/service/top_order.go
  api/internal/gateway/admin/v1/service/top_order_test.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  docs/swagger/admin/components/schemas/codes/top.yaml
  docs/swagger/admin/components/schemas/entity/top.yaml
  docs/swagger/admin/components/schemas/v1/top.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/top/orders.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

fix(gateway): 売上集計APIの修正
  api/internal/gateway/admin/v1/handler/top.go
  api/internal/gateway/admin/v1/service/top_order.go
  api/internal/gateway/admin/v1/service/top_order_test.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
Labels: backend (api), backend (gateway), backend (store), test

fix(gateway): 売上集計APIの修正 (#2674)
  api/internal/gateway/admin/v1/handler/top.go
  api/internal/gateway/admin/v1/service/top_order.go
  api/internal/gateway/admin/v1/service/top_order_test.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
Labels: backend (api), backend (gateway), backend (store), test

fix(store): Webhookが無限にリトライする問題を修正
  api/internal/store/komoju/errors.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
Labels: backend (api), backend (store), test

fix(gateway): テストがエラー担っている箇所の修正
  api/internal/gateway/admin/v1/service/top_order.go
  api/internal/gateway/admin/v1/service/top_order_test.go
Labels: backend (api), backend (gateway), test

fix(gateway): テストがエラーになっている箇所の修正 (#2676)
  api/internal/gateway/admin/v1/service/top_order.go
  api/internal/gateway/admin/v1/service/top_order_test.go
Labels: backend (api), backend (gateway), test

fix(store): Webhookが無限にリトライする問題を修正 (#2675)
  api/internal/store/komoju/errors.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
Labels: backend (api), backend (store), test

feat(store): Paidy決済の実装
  api/internal/gateway/admin/v1/handler/payment_system.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/input.go
  api/internal/store/komoju/code.go
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/codes/order-payment.yaml
  web/user/src/types/api/models/PaymentMethodType.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

feat(store): Paidy決済の実装 (#2677)
  api/internal/gateway/admin/v1/handler/payment_system.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/input.go
  api/internal/store/komoju/code.go
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/codes/order-payment.yaml
  web/user/src/types/api/models/PaymentMethodType.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), docs, test

fix(admin): 支払い種別の追加
  api/internal/gateway/admin/v1/handler/payment_system.go
  docs/swagger/admin/components/schemas/codes/order-payment.yaml
  web/admin/src/constants/payments.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs

fix(admin): 支払い種別の追加 (#2679)
  api/internal/gateway/admin/v1/handler/payment_system.go
  docs/swagger/admin/components/schemas/codes/order-payment.yaml
  web/admin/src/constants/payments.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs

fix(hack): seedsの修正
  api/hack/database-seeds/master/payment-status.csv
  api/hack/database-seeds/store/execute.go
Labels: backend (api)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
