Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

Add: added i18n
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
Labels: frontend (user)

Feat/sns share (#2493)
  web/user/src/components/atoms/icons/TheShareFacebookIcon.vue
  web/user/src/components/atoms/icons/TheShareIcon.vue
  web/user/src/components/atoms/icons/TheShareXIcon.vue
  web/user/src/components/atoms/icons/TheSnsShareIcon.vue
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
Labels: frontend (user)

fix: 初回表示時にInfoWindowが表示される問題への対応
  web/user/src/components/molecules/experiences/TheExperienceMarker.vue
Labels: frontend (user)

remove: cloudfront作成系の処理を削除
  infra/serverless/serverless.yml
Labels: none

Add: added sns share for mobile
  web/user/src/components/atoms/icons/TheShareIcon.vue
  web/user/src/components/atoms/icons/TheSnsShareIcon.vue
  web/user/src/components/atoms/live/TheLiveDescription.vue
Labels: frontend (user)

remove: mediastoreコンテナ作成系の処理を削除
  infra/serverless/serverless.yml
Labels: none

Feat/sns share (#2508)
  web/admin/nuxt.config.ts
  web/user/src/components/atoms/icons/TheShareIcon.vue
  web/user/src/components/atoms/icons/TheSnsShareIcon.vue
  web/user/src/components/atoms/live/TheLiveDescription.vue
Labels: frontend (admin), frontend (user)

remove: 出力先からMediaStoreを削除
  infra/serverless/serverless.yml
Labels: none

feat: mediastoreのcreate系のoutputを削除
  infra/serverless/serverless.yml
Labels: none

remove: CloudFrontの削除処理を削除
  infra/serverless/serverless.yml
Labels: none

remove: mediaStoreの削除処理を削除
  infra/serverless/serverless.yml
Labels: none

delete: 不要になったLambdaを削除
  infra/serverless/functions/calculateMP4StartTime/handler.js
  infra/serverless/functions/deleteMediaStoreObjects/handler.js
  infra/serverless/functions/disableDistribution/handler.js
  infra/serverless/functions/extractMediaStoreDomain/handler.js
  infra/serverless/functions/listMediaStoreItems/handler.js
  infra/serverless/serverless.yml
Labels: none

remove: 不要になったポリシーをIAMからデタッチ
  infra/serverless/serverless.yml
Labels: none

fix: OutputGroupの設定からMediaStoreを削除
  infra/serverless/functions/createChannelWithRTMPOutputs/default.json
Labels: none

chore: MediaStore廃止に合わせた構成変更に伴い、StepFunctionsを修正 (#2509)
  infra/serverless/functions/calculateMP4StartTime/handler.js
  infra/serverless/functions/createChannelWithRTMPOutputs/default.json
  infra/serverless/functions/deleteMediaStoreObjects/handler.js
  infra/serverless/functions/disableDistribution/handler.js
  infra/serverless/functions/extractMediaStoreDomain/handler.js
  infra/serverless/functions/listMediaStoreItems/handler.js
  infra/serverless/serverless.yml
Labels: none

fix: 商品一覧の表示をobject-containに変更
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

feat: 追加したロケーション以外をクリックできないようにする
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

fix(store): fix for lint
  api/internal/store/database/mysql/spot_type.go
Labels: backend (api), backend (store)

fix(mysql): DDLの修正
  infra/mysql/schema/2024112001-stores-create-spot-types.sql
  infra/tidb/schema/stores/2024112001-create-spot-types.sql
Labels: infra (database)

fix: 商品一覧の表示をobject-containに変更 (#2514)
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

fix(mysql): DDLの修正
  infra/tidb/schema/stores/2024112001-create-spot-types.sql
Labels: none

fix(mysql): DDLの修正
  infra/mysql/schema/2024112001-stores-create-spot-types.sql
Labels: infra (database)

fix(admin): APIのアクセス権限を追加
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

fix(api): fix for lint
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/store/database/tidb/tidb.go
Labels: backend (api), backend (gateway), backend (store)

fix(store): DBテストコードの修正
  api/internal/store/database/mysql/spot_test.go
Labels: backend (api), backend (store), test

fix(api): レスポンスの値を追加
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/admin/v1/service/spot_type.go
Labels: backend (api), backend (gateway)

fix(api): DB層の修正
  api/internal/store/database/mysql/spot_type.go
  api/internal/store/database/tidb/spot_type.go
Labels: backend (api), backend (store)

fix(api): 500エラー時に本番環境でもレスポンスを返すように
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/user/v1/handler/api.go
Labels: backend (api), backend (gateway)

fix(api): 500エラー時に本番環境でもレスポンスを返すように (#2516)
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/user/v1/handler/api.go
Labels: backend (api), backend (gateway)

fix: 位置情報取得クライアントの修正
  api/pkg/geolocation/client.go
Labels: backend (api)

Release for v3.1.0 (#2500)
  CHANGELOG.md
Labels: none

fix: 位置情報取得クライアントの修正 (#2517)
  api/pkg/geolocation/client.go
Labels: backend (api)

feat: 画像加工時の背景を透過させるように
  func/cloudfront-origin-response/src/app.ts
Labels: backend (function)

fix: fix for reviews
  func/cloudfront-origin-response/src/app.ts
Labels: backend (function)

feat: 画像加工時の背景を透過させるように (#2519)
  func/cloudfront-origin-response/src/app.ts
Labels: backend (function)

Release for v3.1.1 (#2518)
  CHANGELOG.md
Labels: none

chore: regionを指定する
  infra/serverless/serverless.yml
Labels: none

chore: regionを指定する (#2520)
  infra/serverless/serverless.yml
Labels: none

chore: バージョンを変更
  infra/serverless/serverless.yml
Labels: none

chore: Serverlessのアクセスキーを渡す形に変更
  .github/workflows/cd-serverless-for-main.yaml
Labels: workflow
