Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

fix: sentryの設定を環境変数が設定されている場合のみにロードするように修正 (#2693)
  web/admin/nuxt.config.ts
Labels: frontend (admin)

Fix: fixed experience register
  web/admin/src/components/templates/ExperienceNew.vue
Labels: frontend (admin)

Fix: fixed experience register (#2694)
  web/admin/src/components/templates/ExperienceNew.vue
Labels: frontend (admin)

Release for v4.1.0 (#2666)
  CHANGELOG.md
Labels: none

Fix: fixed products/experiences to display at first time
  web/user/src/pages/video/[...id].vue
Labels: frontend (user)

fix(user): 山田が頑張った
  web/user/nuxt.config.ts
  web/user/vite.config.js
Labels: frontend (user)

fix(user): 山田が頑張った (#2697)
  web/user/nuxt.config.ts
  web/user/vite.config.js
Labels: frontend (user)

feat: Google Mapの描画を安定化
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

fix: Google Mapの検索部分のエラーハンドリングの改善
  web/user/src/components/molecules/experiences/TheSpotSearchForm.vue
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

feat: Google Mapの描画を安定化 (#2700)
  web/user/src/components/molecules/experiences/TheSpotSearchForm.vue
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

feat: レビュー表示機能を実装
  web/user/src/components/atoms/review/TheRateStar.vue
  web/user/src/components/atoms/review/TheRatingStar.vue
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

feat(admin): Google認証の実装
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/google.yaml
  web/admin/nuxt.config.ts
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/lib/externals/index.ts
  web/admin/src/lib/externals/oauth.ts
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/auth/google/callback.vue
  web/admin/src/pages/signin.vue
  web/admin/src/server/api/auth/google/[code].ts
  web/admin/src/store/auth.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs, test

fix(user): テーブル名の修正
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
Labels: backend (api), backend (user), test

fix: small
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
Labels: backend (api), backend (user), test

wip: Google認証 (#2695)
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/google.yaml
  web/admin/nuxt.config.ts
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/lib/externals/index.ts
  web/admin/src/lib/externals/oauth.ts
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/auth/google/callback.vue
  web/admin/src/pages/signin.vue
  web/admin/src/server/api/auth/google/[code].ts
  web/admin/src/store/auth.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs, test

fix: asyncDataの書き方を修正
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

fix(gateway): GETメソッドの場合、bodyから値を取らないように
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/request/auth.go
Labels: backend (api), backend (gateway)

feat(user): Google認証URL発行時、任意のリダイレクトURLを指定できるように
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/user/input.go
  api/internal/user/service/admin_auth.go
  api/pkg/cognito/auth.go
Labels: backend (api), backend (gateway), backend (user)

レビュー表示機能の実装 (#2701)
  web/user/src/components/atoms/review/TheRatingStar.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/items/[...id].vue
  web/user/src/store/productReview.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

feat(admin): Google連携機能の実装
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/paths/v1/auth/google.yaml
  web/admin/package.json
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/accounts/sns/index.vue
  web/admin/src/pages/auth/google/connect.vue
  web/admin/src/store/auth.ts
  web/admin/src/types/api/api.ts
  web/admin/yarn.lock
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs, test

fix(admin): 不要なライブラリの削除
  web/admin/package.json
Labels: frontend (admin)

feat(admin): Google連携機能の実装 (#2702)
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/paths/v1/auth/google.yaml
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/accounts/sns/index.vue
  web/admin/src/pages/auth/google/connect.vue
  web/admin/src/store/auth.ts
  web/admin/src/types/api/api.ts
  web/admin/yarn.lock
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs, test

Fix: fixed button color to proceed purchase
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/molecules/TheVideoExperienceItem.vue
  web/user/src/components/molecules/TheVideoProductListItem.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/experiences/[...id].vue
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: frontend (user)

feat(user): 外部認証の連携機能を実装
  api/internal/user/database/database.go
  api/internal/user/database/tidb/admin_auth_provider.go
  api/internal/user/database/tidb/admin_auth_provider_test.go
  api/internal/user/database/tidb/tidb.go
  api/internal/user/database/tidb/tidb_test.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_event.go
  api/internal/user/entity/admin_auth_event_test.go
  api/internal/user/entity/admin_auth_provider.go
  api/internal/user/entity/admin_auth_provider_test.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/service_test.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
  infra/tidb/schema/users/2025020301-create-admin-auth-providers.sql
Labels: backend (api), backend (user), test

feat(user): 外部認証の連携機能を実装
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/user/database/tidb/admin_auth_provider_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  docs/swagger/admin/components/schemas/codes/auth.yaml
  docs/swagger/admin/components/schemas/entity/auth.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/providers.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs, test

fix(user): fix test code
  api/internal/user/database/tidb/admin_auth_provider_test.go
Labels: backend (api), backend (user), test

Feat/user/implement connect sns account (#2706)
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/admin_auth_provider.go
  api/internal/user/database/tidb/admin_auth_provider_test.go
  api/internal/user/database/tidb/tidb.go
  api/internal/user/database/tidb/tidb_test.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_event.go
  api/internal/user/entity/admin_auth_event_test.go
  api/internal/user/entity/admin_auth_provider.go
  api/internal/user/entity/admin_auth_provider_test.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/service_test.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
  docs/swagger/admin/components/schemas/codes/auth.yaml
  docs/swagger/admin/components/schemas/entity/auth.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/providers.yaml
  infra/tidb/schema/users/2025020301-create-admin-auth-providers.sql
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs, test

feat(admin): 認証プロバイダー一覧画面の実装
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/user/service/admin_auth.go
  docs/swagger/admin/components/schemas/codes/auth.yaml
  web/admin/src/components/templates/AuthProvider.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/accounts/providers/index.vue
  web/admin/src/pages/accounts/sns/index.vue
  web/admin/src/pages/auth/google/callback.vue
  web/admin/src/pages/auth/google/connect.vue
  web/admin/src/pages/signin.vue
  web/admin/src/plugins/vuetify.ts
  web/admin/src/public/sns/google.png
  web/admin/src/public/sns/line.png
  web/admin/src/store/auth.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs

Fix: fixed button color to proceed purchase (#2703)
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/molecules/TheVideoExperienceItem.vue
  web/user/src/components/molecules/TheVideoProductListItem.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/experiences/[...id].vue
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: frontend (user)

fix(user): fix test code
  api/internal/user/service/admin_auth_test.go
  web/admin/src/pages/signin.vue
Labels: frontend (admin), backend (api), backend (user), test

feat(admin): 認証プロバイダー一覧画面の実装 (#2707)
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  docs/swagger/admin/components/schemas/codes/auth.yaml
  web/admin/src/components/templates/AuthProvider.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/accounts/providers/index.vue
  web/admin/src/pages/accounts/sns/index.vue
  web/admin/src/pages/auth/google/callback.vue
  web/admin/src/pages/auth/google/connect.vue
  web/admin/src/pages/signin.vue
  web/admin/src/plugins/vuetify.ts
  web/admin/src/public/sns/google.png
  web/admin/src/public/sns/line.png
  web/admin/src/store/auth.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs, test

feat(user): LINEアカウント認証の実装
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/auth_test.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/entity/admin_auth_provider.go
  api/internal/user/entity/admin_auth_provider_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/service.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/line.yaml
  web/admin/nuxt.config.ts
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/accounts/providers/index.vue
  web/admin/src/pages/auth/line/callback.vue
  web/admin/src/pages/auth/line/connect.vue
  web/admin/src/pages/signin.vue
  web/admin/src/store/auth.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs, test

feat(user): LINEアカウント認証の実装 (#2708)
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/auth_test.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/entity/admin_auth_provider.go
  api/internal/user/entity/admin_auth_provider_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/service.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/line.yaml
  web/admin/nuxt.config.ts
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/accounts/providers/index.vue
  web/admin/src/pages/auth/line/callback.vue
  web/admin/src/pages/auth/line/connect.vue
  web/admin/src/pages/signin.vue
  web/admin/src/store/auth.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (user), docs, test

Release for v4.1.1 (#2696)
  CHANGELOG.md
Labels: none

feat(store): 店舗エンティティの定義
  api/internal/store/entity/experience.go
  api/internal/store/entity/order.go
  api/internal/store/entity/product.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shop.go
  infra/tidb/schema/stores/2025020701-create-shops.sql
Labels: backend (api), backend (store)

fix(tidb): add fk
  infra/tidb/schema/stores/2025020701-create-shops.sql
Labels: none

fix(tidb): typo
  infra/tidb/schema/stores/2025020701-create-shops.sql
Labels: none

feat(store): 店舗エンティティの定義 (#2709)
  api/internal/store/entity/experience.go
  api/internal/store/entity/order.go
  api/internal/store/entity/product.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shop.go
  infra/tidb/schema/stores/2025020701-create-shops.sql
Labels: backend (api), backend (store)

feat(store): 店舗のWrite処理を実装
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shop.go
  api/internal/store/database/tidb/shop_test.go
  api/internal/store/database/tidb/tidb_test.go
  api/internal/store/entity/shop.go
  api/internal/store/entity/shop_producer.go
  api/internal/store/entity/shop_producer_test.go
  api/internal/store/entity/shop_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/service_test.go
  api/internal/store/service/shop.go
  api/internal/store/service/shop_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  infra/tidb/schema/stores/2025020901-add-column-to-shops.sql
Labels: backend (api), backend (store), backend (user), test

fix(store): fix test code
  api/internal/store/database/tidb/shop_test.go
Labels: backend (api), backend (store), test
