Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v5.1.0 (#2914)
  CHANGELOG.md
Labels: none

style: formatかけた
  web/shared/src/components/FmProductDetail.stories.ts
  web/shared/src/components/FmProductDetail.vue
Labels: none

fix: propsの調整
  web/shared/src/components/FmOrderSummary.stories.ts
  web/shared/src/components/FmOrderSummary.vue
Labels: none

[web] 注文内容情報の共用コンポーネントの実装 (#2930)
  web/shared/src/components/FmOrderSummary.stories.ts
  web/shared/src/components/FmOrderSummary.vue
  web/shared/src/components/index.ts
  web/shared/src/index.ts
Labels: none

[web] Implement FmProductDetail shared component for product detail pages (#2928)
  web/shared/src/components/FmProductDetail.stories.ts
  web/shared/src/components/FmProductDetail.vue
  web/shared/src/components/index.ts
Labels: none

fix: 動的にコンポーネントを受け取るように変更
  web/shared/src/components/FmProductItem.vue
Labels: none

fix: リンク部分の実装を変更
  web/liff/src/pages/index.vue
Labels: none

style: code format
  web/shared/src/components/FmCreditCardForm.vue
Labels: none

[shared] Implement FmCreditCardForm component for reusable credit card input (#2936)
  web/shared/package.json
  web/shared/src/assets/img/cc/amex.png
  web/shared/src/assets/img/cc/jcb.png
  web/shared/src/assets/img/cc/master.png
  web/shared/src/assets/img/cc/visa.png
  web/shared/src/components/FmCreditCardForm.stories.ts
  web/shared/src/components/FmCreditCardForm.vue
  web/shared/src/components/index.ts
  web/shared/src/index.ts
  web/shared/src/types/index.ts
  web/shared/yarn.lock
Labels: none

style: コードフォーマット
  web/liff/src/pages/items/[id].vue
  web/liff/src/stores/product.ts
Labels: none

[web] Implement LIFF product detail page using FmProductDetail component (#2934)
  web/liff/src/pages/index.vue
  web/liff/src/pages/items/[id].vue
  web/liff/src/stores/product.ts
  web/shared/src/components/FmProductItem.vue
Labels: none

feat: 買い物カゴのUIパーツの実装 (#2944)
  web/liff/src/assets/css/main.css
  web/liff/src/layouts/default.vue
Labels: none

feat(OrderShow): 顧客情報と予約情報の表示を改善 fix(OrderIndex): ユーザーデータの取得と顧客情報のバインディングを修正
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

feat(OrderShow): 顧客情報と予約情報の表示を改善 (#2947)
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v5.1.1 (#2932)
  CHANGELOG.md
Labels: none

fix: buildエラーに対応
  web/shared/src/components/FmProductItem.vue
Labels: none

fix: API呼び出しのエンドポイントの修正
  web/liff/nuxt.config.ts
  web/liff/src/pages/index.vue
Labels: none

[liff] Implement API client integration for product listing page (#2943)
  web/liff/nuxt.config.ts
  web/liff/src/pages/index.vue
  web/liff/src/plugins/api-client.ts
  web/liff/src/plugins/helper/factory.ts
  web/liff/src/stores/api-example.ts
  web/liff/src/stores/product.ts
  web/liff/src/types/api/apis/index.ts
  web/liff/src/types/api/index.ts
  web/liff/src/types/api/models/index.ts
  web/liff/yarn.lock
  web/shared/src/components/FmProductItem.vue
Labels: none

fix: 色の修正
  web/liff/src/assets/css/main.css
  web/liff/src/layouts/default.vue
Labels: none

rm: 不要なファイルの削除
  web/liff/src/pages/cart.vue
Labels: none

style: 不要なimportの削除
  web/liff/src/stores/shopping.ts
Labels: none

[liff] 買い物カゴのUIを共通レイアウトに実装 (#2946)
  web/liff/src/assets/css/main.css
  web/liff/src/layouts/default.vue
  web/liff/src/stores/shopping.ts
Labels: none

Revert "build(deps): bump the dependencies group in /api with 45 updates (#2920)"
  api/go.mod
  api/go.sum
Labels: backend (api)

Revert "build(deps): bump the dependencies group across 1 directory with 67 updates (#2911)"
  api/go.mod
  api/go.sum
Labels: backend (api)

fix(gateway): path prefixに生産者IDを含めるように
  api/Makefile
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/cart.go
  api/internal/gateway/user/facility/handler/checkout.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/request/auth.go
  api/internal/gateway/user/facility/request/auth_user.go
  api/internal/gateway/user/facility/request/cart.go
  api/internal/gateway/user/facility/request/checkout.go
  api/internal/gateway/user/facility/response/auth.go
  api/internal/gateway/user/facility/response/auth_user.go
  api/internal/gateway/user/facility/response/cart.go
  api/internal/gateway/user/facility/response/checkout.go
  api/internal/gateway/user/facility/response/coordinator.go
  api/internal/gateway/user/facility/response/product.go
  docs/swagger/gen/user/facility/swagger.yaml
Labels: backend (api), backend (gateway), docs

fix(gateway): path prefixに生産者IDを含めるように (#2949)
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/cart.go
  api/internal/gateway/user/facility/handler/checkout.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/request/auth.go
  api/internal/gateway/user/facility/request/auth_user.go
  api/internal/gateway/user/facility/request/cart.go
  api/internal/gateway/user/facility/request/checkout.go
  api/internal/gateway/user/facility/response/auth.go
  api/internal/gateway/user/facility/response/auth_user.go
  api/internal/gateway/user/facility/response/cart.go
  api/internal/gateway/user/facility/response/checkout.go
  api/internal/gateway/user/facility/response/coordinator.go
  api/internal/gateway/user/facility/response/product.go
  docs/swagger/gen/user/facility/swagger.yaml
Labels: backend (api), backend (gateway), docs

feat(gateway): 施設向けの注文APIの仕様追加
  api/Makefile
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_metadata.go
  api/internal/gateway/admin/v1/service/order_metadata_test.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/order.go
  api/internal/gateway/user/facility/response/order.go
  api/internal/gateway/user/facility/response/promotion.go
  api/internal/gateway/user/v1/handler/order.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

fix: small
  api/internal/gateway/admin/v1/service/order_test.go
Labels: backend (api), backend (gateway), test

feat(gateway): キャンプ施設向けの注文APIの仕様追加 (#2931)
  api/Makefile
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_metadata.go
  api/internal/gateway/admin/v1/service/order_metadata_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/order.go
  api/internal/gateway/user/facility/response/order.go
  api/internal/gateway/user/facility/response/promotion.go
  api/internal/gateway/user/v1/handler/order.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

Refactor code structure for improved readability and maintainability
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

fix(OrderShow): experienceプロパティのデフォルト値をnullからundefinedに変更
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

fix(gateway): user.goの変更に合わせてテストを修正
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
Labels: backend (api), backend (gateway), test

fix(gateway): small
  api/internal/store/entity/order_experience.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/member_test.go
  api/internal/user/database/tidb/user.go
  api/internal/user/entity/facility_user.go
  api/internal/user/entity/facility_user_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/guest.go
  api/internal/user/service/guest_test.go
  api/internal/user/service/member.go
  api/internal/user/service/member_test.go
  infra/tidb/schema/users/2025082401-create-facility-users.sql
Labels: backend (api), backend (store), backend (user), test

fix: test
  api/internal/user/database/tidb/user_test.go
Labels: backend (api), backend (user), test

fix: ddl
  api/internal/user/database/tidb/user.go
  api/internal/user/entity/user.go
  infra/tidb/schema/users/2025082401-create-facility-users.sql
Labels: backend (api), backend (user)

fix(gateway): user.goの変更に合わせてテストを修正 (#2952)
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/entity/order_experience.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/member_test.go
  api/internal/user/database/tidb/user.go
  api/internal/user/database/tidb/user_test.go
  api/internal/user/entity/facility_user.go
  api/internal/user/entity/facility_user_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/guest.go
  api/internal/user/service/guest_test.go
  api/internal/user/service/member.go
  api/internal/user/service/member_test.go
  infra/tidb/schema/users/2025082401-create-facility-users.sql
Labels: backend (api), backend (gateway), backend (store), backend (user), test

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v5.1.2 (#2948)
  CHANGELOG.md
Labels: none
