Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

Fix: fixed code based on yamada review
  web/user/src/components/molecules/TheSubmitWithoutLoginButton.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/store/address.ts
Labels: frontend (user)

ゲストの購入導線を実装 (#2088)
  web/user/src/components/molecules/ThePhoneNumberInput.vue
  web/user/src/components/molecules/TheSubmitWithoutLoginButton.vue
  web/user/src/components/organisms/TheGuestAddressForm.vue
  web/user/src/components/organisms/TheGuestAddressInfo.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/complete.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/store/address.ts
  web/user/src/store/checkout.ts
  web/user/src/store/shopping.ts
Labels: frontend (user)

feat(gateway): マルシェ一覧取得APIの実装
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/response/schedule.go
  docs/swagger/user/components/schemas/v1/schedule.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/guests/schedules/_scheduleId/comments/index.yaml
  docs/swagger/user/paths/v1/postal-codes/_postalCode.yaml
  docs/swagger/user/paths/v1/schedules/archives.yaml
  docs/swagger/user/paths/v1/schedules/lives.yaml
  web/user/src/types/api/apis/AddressApi.ts
  web/user/src/types/api/apis/OtherApi.ts
  web/user/src/types/api/apis/ScheduleApi.ts
  web/user/src/types/api/models/ArchiveSchedulesResponse.ts
  web/user/src/types/api/models/LiveSchedulesResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs

fix(mysql): テストコードの修正
  api/pkg/mysql/client_test.go
Labels: backend (api), test

fix(docs): fix small
  docs/swagger/user/paths/v1/schedules/archives.yaml
  docs/swagger/user/paths/v1/schedules/lives.yaml
  web/user/src/types/api/apis/ScheduleApi.ts
Labels: frontend (user), docs

feat(gateway): マルシェ一覧取得APIの実装 (#2089)
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/response/schedule.go
  docs/swagger/user/components/schemas/v1/schedule.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/guests/schedules/_scheduleId/comments/index.yaml
  docs/swagger/user/paths/v1/postal-codes/_postalCode.yaml
  docs/swagger/user/paths/v1/schedules/archives.yaml
  docs/swagger/user/paths/v1/schedules/lives.yaml
  web/user/src/types/api/apis/AddressApi.ts
  web/user/src/types/api/apis/OtherApi.ts
  web/user/src/types/api/apis/ScheduleApi.ts
  web/user/src/types/api/models/ArchiveSchedulesResponse.ts
  web/user/src/types/api/models/LiveSchedulesResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs

feat(gateway): 購入者のサムネイルアップロードURL取得APIの実装
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/uploader.go
  api/internal/gateway/user/v1/request/uploader.go
  api/internal/gateway/user/v1/response/uploader.go
  api/internal/gateway/user/v1/service/uploader.go
  docs/swagger/admin/openapi.yaml
  docs/swagger/user/components/schemas/codes/upload.yaml
  docs/swagger/user/components/schemas/v1/upload.request.yaml
  docs/swagger/user/components/schemas/v1/upload.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/upload/state.yaml
  docs/swagger/user/paths/v1/upload/users/thumbnail.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/apis/OtherApi.ts
  web/user/src/types/api/models/GetUploadUrlRequest.ts
  web/user/src/types/api/models/UploadStateResponse.ts
  web/user/src/types/api/models/UploadStatus.ts
  web/user/src/types/api/models/UploadUrlResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), docs

feat(gateway): 購入者のサムネイルアップロードURL取得APIの実装 (#2090)
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/uploader.go
  api/internal/gateway/user/v1/request/uploader.go
  api/internal/gateway/user/v1/response/uploader.go
  api/internal/gateway/user/v1/service/uploader.go
  docs/swagger/admin/openapi.yaml
  docs/swagger/user/components/schemas/codes/upload.yaml
  docs/swagger/user/components/schemas/v1/upload.request.yaml
  docs/swagger/user/components/schemas/v1/upload.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/upload/state.yaml
  docs/swagger/user/paths/v1/upload/users/thumbnail.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/apis/OtherApi.ts
  web/user/src/types/api/models/GetUploadUrlRequest.ts
  web/user/src/types/api/models/UploadStateResponse.ts
  web/user/src/types/api/models/UploadStatus.ts
  web/user/src/types/api/models/UploadUrlResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), docs

fix(docs): fix small
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/apis/AuthUserApi.ts
Labels: frontend (user)

chore(*): Golang v1.22.1
  .github/workflows/ci-backend.yaml
  api/.tool-versions
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
Labels: backend (api), infra (container), workflow

chore(*): Node.js v20.11.1
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
  docs/swagger/.tool-versions
  docs/swagger/Makefile
  infra/docker/docs/amplify/Dockerfile
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
  infra/docker/infra/mysql/Dockerfile
  infra/docker/web/admin/Dockerfile.development
  web/admin/.tool-versions
  web/user/.tool-versions
  web/user/src/types/api/models/CreateAuthRequest.ts
  web/user/src/types/api/models/CreateAuthResponse.ts
  web/user/src/types/api/models/CreateAuthWithOAuthRequest.ts
  web/user/src/types/api/models/UpdateAuthEmailRequest.ts
  web/user/src/types/api/models/VerifyAuthEmailRequest.ts
  web/user/src/types/api/models/VerifyAuthRequest.ts
Labels: frontend (admin), frontend (user), infra (container), docs, workflow

chore(*): Golang v1.22.1 (#2093)
  .github/workflows/ci-backend.yaml
  api/.tool-versions
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
Labels: backend (api), infra (container), workflow

chore(*): Node.js v20.11.1 (#2094)
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
  docs/swagger/.tool-versions
  docs/swagger/Makefile
  infra/docker/docs/amplify/Dockerfile
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
  infra/docker/infra/mysql/Dockerfile
  infra/docker/web/admin/Dockerfile.development
  web/admin/.tool-versions
  web/user/.tool-versions
  web/user/src/types/api/models/CreateAuthRequest.ts
  web/user/src/types/api/models/CreateAuthResponse.ts
  web/user/src/types/api/models/CreateAuthWithOAuthRequest.ts
  web/user/src/types/api/models/UpdateAuthEmailRequest.ts
  web/user/src/types/api/models/VerifyAuthEmailRequest.ts
  web/user/src/types/api/models/VerifyAuthRequest.ts
Labels: frontend (admin), frontend (user), infra (container), docs, workflow

chore(admin): update dependencies
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/livestreaming/new.vue
  web/admin/src/pages/livestreaming/tests.vue
  web/admin/src/pages/livestreaming/view.vue
  web/admin/stylelint.config.js
  web/admin/yarn.lock
Labels: frontend (admin)

chore(api): update dependencies
  api/.golangci.yaml
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/media/cmd/resizer/resizer.go
  api/internal/media/cmd/scheduler/scheduler.go
  api/internal/media/cmd/updater/updater.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/media/database/database.go
  api/internal/messenger/cmd/scheduler/scheduler.go
  api/internal/messenger/cmd/worker/worker.go
  api/internal/messenger/database/database.go
  api/internal/messenger/service.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/live.go
  api/internal/store/database/mysql/shipping_test.go
  api/internal/store/komoju/komoju.go
  api/internal/user/database/database.go
  api/internal/user/service.go
  api/pkg/grpc/options.go
  api/pkg/http/http.go
  api/pkg/http/metrics.go
  api/pkg/random/string.go
  api/pkg/rbac/enforcer.go
  api/pkg/rbac/enforcer_test.go
  api/pkg/validator/validator.go
Labels: backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), test

fix: small
  api/.golangci.yaml
Labels: backend (api)

fix(admin): fix for reviews
  web/admin/package.json
Labels: frontend (admin)

fix(admin): fix small
  web/admin/yarn.lock
Labels: frontend (admin)

chore(api): update dependencies (#2096)
  api/.golangci.yaml
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/media/cmd/resizer/resizer.go
  api/internal/media/cmd/scheduler/scheduler.go
  api/internal/media/cmd/updater/updater.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/media/database/database.go
  api/internal/messenger/cmd/scheduler/scheduler.go
  api/internal/messenger/cmd/worker/worker.go
  api/internal/messenger/database/database.go
  api/internal/messenger/service.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/live.go
  api/internal/store/database/mysql/shipping_test.go
  api/internal/store/komoju/komoju.go
  api/internal/user/database/database.go
  api/internal/user/service.go
  api/pkg/grpc/options.go
  api/pkg/http/http.go
  api/pkg/http/metrics.go
  api/pkg/random/string.go
  api/pkg/rbac/enforcer.go
  api/pkg/rbac/enforcer_test.go
  api/pkg/validator/validator.go
Labels: backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), test

chore(admin): update dependencies (#2095)
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/livestreaming/new.vue
  web/admin/src/pages/livestreaming/tests.vue
  web/admin/src/pages/livestreaming/view.vue
  web/admin/stylelint.config.js
  web/admin/yarn.lock
Labels: frontend (admin)

feat(user): 購入者情報更新APIの実装
  api/.golangci.yaml
  api/internal/gateway/user/v1/handler/auth_user.go
  api/internal/gateway/user/v1/request/auth_user.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/member.go
  api/internal/user/service/member_test.go
  docs/swagger/user/components/schemas/v1/auth-user.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/users/me/account-id.yaml
  docs/swagger/user/paths/v1/users/me/username.yaml
  web/user/src/types/api/apis/AuthUserApi.ts
  web/user/src/types/api/models/UpdateAuthUserAccountIdRequest.ts
  web/user/src/types/api/models/UpdateAuthUserUsernameRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (user), docs, test

fix(*): fix small
  .github/workflows/ci-web-user.yaml
  api/internal/user/database/mysql/member_test.go
  web/user/.tool-versions
Labels: frontend (user), backend (api), backend (user), test, workflow

feat(user): 購入者情報更新APIの実装 (#2097)
  .github/workflows/ci-web-user.yaml
  api/.golangci.yaml
  api/internal/gateway/user/v1/handler/auth_user.go
  api/internal/gateway/user/v1/request/auth_user.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/member.go
  api/internal/user/service/member_test.go
  docs/swagger/user/components/schemas/v1/auth-user.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/users/me/account-id.yaml
  docs/swagger/user/paths/v1/users/me/username.yaml
  web/user/.tool-versions
  web/user/src/types/api/apis/AuthUserApi.ts
  web/user/src/types/api/models/UpdateAuthUserAccountIdRequest.ts
  web/user/src/types/api/models/UpdateAuthUserUsernameRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (user), docs, test, workflow

feat(user): 通知設定関連APIの追加
  api/hack/database-migrate/main.go
  api/internal/gateway/user/v1/handler/auth_user.go
  api/internal/gateway/user/v1/request/auth_user.go
  api/internal/gateway/user/v1/response/auth_user.go
  api/internal/gateway/user/v1/service/auth_user.go
  api/internal/gateway/user/v1/service/auth_user_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/mysql.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/database/mysql/user_notification.go
  api/internal/user/database/mysql/user_notification_test.go
  api/internal/user/entity/user_notification.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/service_test.go
  api/internal/user/service/user_notification.go
  api/internal/user/service/user_notification_test.go
  docs/swagger/user/components/schemas/v1/auth-user.request.yaml
  docs/swagger/user/components/schemas/v1/auth-user.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/users/me/notification.yaml
  infra/mysql/schema/2024032101-users-create-user-notifications.sql
  web/user/src/types/api/apis/AuthUserApi.ts
  web/user/src/types/api/models/AuthUserResponse.ts
  web/user/src/types/api/models/UpdateAuthUserNotificationRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (user), infra (database), docs, test

feat(user): 通知設定関連APIの追加 (#2098)
  api/hack/database-migrate/main.go
  api/internal/gateway/user/v1/handler/auth_user.go
  api/internal/gateway/user/v1/request/auth_user.go
  api/internal/gateway/user/v1/response/auth_user.go
  api/internal/gateway/user/v1/service/auth_user.go
  api/internal/gateway/user/v1/service/auth_user_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/mysql.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/database/mysql/user_notification.go
  api/internal/user/database/mysql/user_notification_test.go
  api/internal/user/entity/user_notification.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/service_test.go
  api/internal/user/service/user_notification.go
  api/internal/user/service/user_notification_test.go
  docs/swagger/user/components/schemas/v1/auth-user.request.yaml
  docs/swagger/user/components/schemas/v1/auth-user.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/users/me/notification.yaml
  infra/mysql/schema/2024032101-users-create-user-notifications.sql
  web/user/src/types/api/apis/AuthUserApi.ts
  web/user/src/types/api/models/AuthUserResponse.ts
  web/user/src/types/api/models/UpdateAuthUserNotificationRequest.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (user), infra (database), docs, test

feat(user): 通知設定一覧取得処理の実装
  api/internal/gateway/user/v1/service/auth_user.go
  api/internal/gateway/user/v1/service/auth_user_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/user_notification.go
  api/internal/user/database/mysql/user_notification_test.go
  api/internal/user/entity/user_notification.go
  api/internal/user/entity/user_notification_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/user_notification.go
  api/internal/user/service/user_notification_test.go
  infra/mysql/schema/2024032201-users-change-culumn-user-notifications.sql
Labels: backend (api), backend (gateway), backend (user), infra (database), test

feat(user): 通知設定一覧取得処理の実装 (#2099)
  api/internal/gateway/user/v1/service/auth_user.go
  api/internal/gateway/user/v1/service/auth_user_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/user_notification.go
  api/internal/user/database/mysql/user_notification_test.go
  api/internal/user/entity/user_notification.go
  api/internal/user/entity/user_notification_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/user_notification.go
  api/internal/user/service/user_notification_test.go
  infra/mysql/schema/2024032201-users-change-culumn-user-notifications.sql
Labels: backend (api), backend (gateway), backend (user), infra (database), test

feat(messenger): お知らせ無効化対応
  api/.golangci.yaml
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
Labels: backend (api), backend (messenger), test

feat(messenger): お知らせ無効化対応 (#2100)
  api/.golangci.yaml
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
Labels: backend (api), backend (messenger), test

fix: ユーザー関連のAPIがstore関連から抜けていたので再定義
  web/user/src/plugins/api-client.ts
  web/user/src/store/auth.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

fix: commit忘れ
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

fix: typoの修正
  web/user/src/pages/account/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/store/address.ts
  web/user/src/store/order.ts
Labels: frontend (user)

feat: マイページのレイアウトを修正
  web/user/src/pages/account/index.vue
Labels: frontend (user)

style: 不要な変数とimportの削除
  web/user/src/pages/account/index.vue
Labels: frontend (user)

fix: 不要なconsole.logを削除
  web/user/src/store/auth.ts
Labels: frontend (user)

fix: borderの太さを調整
  web/user/src/pages/account/index.vue
Labels: frontend (user)

マイページのレイアウト調整 (#2101)
  web/user/src/pages/account/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/address.ts
  web/user/src/store/auth.ts
  web/user/src/store/order.ts
Labels: frontend (user)

feat(media): Cache-Contrlを設定するように
  api/internal/media/uploader/uploader.go
  api/pkg/storage/client.go
Labels: backend (api), backend (media)

fix(media): fix small
  api/internal/media/cmd/uploader/registry.go
  api/internal/media/cmd/uploader/uploader.go
Labels: backend (api), backend (media)

feat(media): Cache-Contrlを設定するように (#2102)
  api/internal/media/cmd/uploader/registry.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/media/uploader/uploader.go
  api/pkg/storage/client.go
Labels: backend (api), backend (media)
