Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

feat: タブ名を追加
  web/user/src/pages/account/edit/complete.vue
  web/user/src/pages/account/edit/email.vue
  web/user/src/pages/account/edit/id.vue
  web/user/src/pages/account/edit/notification.vue
  web/user/src/pages/account/edit/password.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/edit/username.vue
Labels: frontend (user)

feat: プロフィール写真周りの挙動を調整
  web/user/src/components/atoms/icons/TheLoadingIcon.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/pages/account/edit/email.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/index.vue
Labels: frontend (user)

feat: アカウントID周りのバリデーションのUIを追加
  web/user/src/components/atoms/icons/TheCheckIcon.vue
  web/user/src/pages/account/edit/id.vue
  web/user/tailwind.config.ts
Labels: frontend (user)

feat: パスワード編集フォームのバリデーションのUIを追加
  web/user/src/pages/account/edit/id.vue
  web/user/src/pages/account/edit/password.vue
Labels: frontend (user)

feat: 401の場合のエラーメッセージを変更
  web/user/src/store/auth.ts
Labels: frontend (user)

feat: type==='password'の時の表示・非表示切り替えボタンを追加
  web/user/src/components/atoms/TheTextInput.vue
Labels: frontend (user)

fix: メール受信の設定変更画面にエラーメッセージ表示を追加
  web/user/src/pages/account/edit/notification.vue
Labels: frontend (user)

fix: ユーザー名変更画面にエラーメッセージ表示を追加
  web/user/src/pages/account/edit/username.vue
Labels: frontend (user)

fix: メールアドレス変更が機能しないので一時的に「準備中」と表記にする
  web/user/src/pages/account/index.vue
Labels: frontend (user)

fix: メールアドレス変更画面も一時的に使えなくする
  web/user/src/pages/account/edit/email.vue
Labels: frontend (user)

アカウント編集周りの実装 (#2135)
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/atoms/icons/TheAccountIcon.vue
  web/user/src/components/atoms/icons/TheCheckIcon.vue
  web/user/src/components/atoms/icons/TheLoadingIcon.vue
  web/user/src/components/molecules/account/TheAccountEditCard.vue
  web/user/src/components/organisms/TheAccountEditCompleteCard.vue
  web/user/src/components/organisms/TheAuthErrorCard.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/pages/account/edit/complete.vue
  web/user/src/pages/account/edit/email.vue
  web/user/src/pages/account/edit/id.vue
  web/user/src/pages/account/edit/notification.vue
  web/user/src/pages/account/edit/password.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/edit/username.vue
  web/user/src/pages/account/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/auth.ts
  web/user/src/store/helpter.ts
  web/user/src/types/plugins/index.d.ts
  web/user/tailwind.config.ts
Labels: frontend (user)

fix: 「マイページに戻る」リンクを削除
  web/user/src/pages/account/edit/email.vue
  web/user/src/pages/account/edit/id.vue
  web/user/src/pages/account/edit/notification.vue
  web/user/src/pages/account/edit/password.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/edit/username.vue
Labels: frontend (user)

fix: ヘッダーにユーザーのアイコンが反映されるように修正
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/pages/account/edit/thumbnail.vue
Labels: frontend (user)

Fix/web/user/account edit (#2137)
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/pages/account/edit/email.vue
  web/user/src/pages/account/edit/id.vue
  web/user/src/pages/account/edit/notification.vue
  web/user/src/pages/account/edit/password.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/edit/username.vue
Labels: frontend (user)

feat(docs): リサイズ済みサムネイル情報をDeprecatedに
  docs/swagger/admin/components/schemas/entity/coordinator.yaml
  docs/swagger/admin/components/schemas/entity/live-comment.yaml
  docs/swagger/admin/components/schemas/entity/producer.yaml
  docs/swagger/admin/components/schemas/entity/product-type.yaml
  docs/swagger/admin/components/schemas/entity/product.yaml
  docs/swagger/admin/components/schemas/entity/schedule.yaml
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/user/components/schemas/entity/common.yaml
  docs/swagger/user/components/schemas/entity/coordinator.yaml
  docs/swagger/user/components/schemas/entity/live-comment.yaml
  docs/swagger/user/components/schemas/entity/live.yaml
  docs/swagger/user/components/schemas/entity/producer.yaml
  docs/swagger/user/components/schemas/entity/product-type.yaml
  docs/swagger/user/components/schemas/entity/product.yaml
  docs/swagger/user/components/schemas/entity/schedule.yaml
  docs/swagger/user/components/schemas/entity/top.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/ArchiveSummary.ts
  web/user/src/types/api/models/Coordinator.ts
  web/user/src/types/api/models/LiveComment.ts
  web/user/src/types/api/models/LiveProduct.ts
  web/user/src/types/api/models/LiveSummary.ts
  web/user/src/types/api/models/Producer.ts
  web/user/src/types/api/models/Product.ts
  web/user/src/types/api/models/ProductMediaInner.ts
  web/user/src/types/api/models/ProductType.ts
  web/user/src/types/api/models/Schedule.ts
  web/user/src/types/api/models/Thumbnail.ts
Labels: frontend (admin), frontend (user), docs

feat(docs): リサイズ済みサムネイル情報をDeprecatedに (#2138)
  docs/swagger/admin/components/schemas/entity/coordinator.yaml
  docs/swagger/admin/components/schemas/entity/live-comment.yaml
  docs/swagger/admin/components/schemas/entity/producer.yaml
  docs/swagger/admin/components/schemas/entity/product-type.yaml
  docs/swagger/admin/components/schemas/entity/product.yaml
  docs/swagger/admin/components/schemas/entity/schedule.yaml
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/user/components/schemas/entity/common.yaml
  docs/swagger/user/components/schemas/entity/coordinator.yaml
  docs/swagger/user/components/schemas/entity/live-comment.yaml
  docs/swagger/user/components/schemas/entity/live.yaml
  docs/swagger/user/components/schemas/entity/producer.yaml
  docs/swagger/user/components/schemas/entity/product-type.yaml
  docs/swagger/user/components/schemas/entity/product.yaml
  docs/swagger/user/components/schemas/entity/schedule.yaml
  docs/swagger/user/components/schemas/entity/top.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/ArchiveSummary.ts
  web/user/src/types/api/models/Coordinator.ts
  web/user/src/types/api/models/LiveComment.ts
  web/user/src/types/api/models/LiveProduct.ts
  web/user/src/types/api/models/LiveSummary.ts
  web/user/src/types/api/models/Producer.ts
  web/user/src/types/api/models/Product.ts
  web/user/src/types/api/models/ProductMediaInner.ts
  web/user/src/types/api/models/ProductType.ts
  web/user/src/types/api/models/Schedule.ts
  web/user/src/types/api/models/Thumbnail.ts
Labels: frontend (admin), frontend (user), docs

feat(gateway): アーカイブ一覧APIに日時情報を追加
  api/internal/gateway/user/v1/response/live.go
  api/internal/gateway/user/v1/service/archive_summary.go
  api/internal/gateway/user/v1/service/archive_summary_test.go
  docs/swagger/user/components/schemas/entity/live.yaml
  web/user/src/types/api/models/ArchiveSummary.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

fix(workflow): environmentの検証
  .github/workflows/_build_and_push.yaml
  .github/workflows/_deploy_ecs.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

fix(workflow): environmentの検証
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

fix(workflow): environmentの検証
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

Revert "fix(workflow): environmentの検証"
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

Revert "fix(workflow): environmentの検証"
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

Revert "fix(workflow): environmentの検証"
  .github/workflows/_build_and_push.yaml
  .github/workflows/_deploy_ecs.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

revert(workflow): environmentの検証をもとに戻す (#2140)
  .github/workflows/_build_and_push.yaml
  .github/workflows/_deploy_ecs.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

feat(gateway): アーカイブ一覧APIに日時情報を追加 (#2139)
  api/internal/gateway/user/v1/response/live.go
  api/internal/gateway/user/v1/service/archive_summary.go
  api/internal/gateway/user/v1/service/archive_summary_test.go
  docs/swagger/user/components/schemas/entity/live.yaml
  web/user/src/types/api/models/ArchiveSummary.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

feat(web): Sentryの設定を追加
  web/admin/package.json
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/server/plugins/sentry.ts
  web/user/yarn.lock
Labels: frontend (admin), frontend (user)

feat(web): Sentryの設定を追加 (#2141)
  web/admin/package.json
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/server/plugins/sentry.ts
  web/user/yarn.lock
Labels: frontend (admin), frontend (user)

feat(user): アカウントIDのバリデーションを追加
  api/internal/user/codes/codes.go
  api/internal/user/codes/codes_test.go
  api/internal/user/input.go
  api/internal/user/service/service.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: backend (api), backend (user), test

feat(media): jpegからpngへ変換する処理の追加
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/uploader/convert.go
  api/internal/media/uploader/uploader.go
Labels: backend (api), backend (media), test

feat(user): アカウントIDのバリデーションを追加 (#2142)
  api/internal/user/codes/codes.go
  api/internal/user/codes/codes_test.go
  api/internal/user/input.go
  api/internal/user/service/service.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: backend (api), backend (user), test

fix(media): fix for lint
  api/internal/media/uploader/convert.go
Labels: backend (api), backend (media)

fix(media): fix for reviews
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/resizer/resizer.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/resizer/coordinator_test.go
  api/internal/media/resizer/image.go
  api/internal/media/resizer/image_test.go
  api/internal/media/resizer/producer_test.go
  api/internal/media/resizer/product_test.go
  api/internal/media/resizer/product_type_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/resizer_test.go
  api/internal/media/resizer/schedule_test.go
  api/internal/media/resizer/user_test.go
  api/internal/media/uploader/convert.go
  api/internal/media/uploader/uploader.go
  api/pkg/storage/client.go
Labels: backend (api), backend (media), test

fix(media): fix small
  api/internal/media/resizer/image_test.go
  api/internal/media/uploader/convert.go
  api/internal/media/uploader/uploader.go
Labels: backend (api), backend (media), test

feat(media): jpegからpngへ変換する処理の追加 (#2143)
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/resizer/resizer.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/resizer/coordinator_test.go
  api/internal/media/resizer/image.go
  api/internal/media/resizer/image_test.go
  api/internal/media/resizer/producer_test.go
  api/internal/media/resizer/product_test.go
  api/internal/media/resizer/product_type_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/resizer_test.go
  api/internal/media/resizer/schedule_test.go
  api/internal/media/resizer/user_test.go
  api/internal/media/uploader/convert.go
  api/internal/media/uploader/uploader.go
  api/pkg/storage/client.go
Labels: backend (api), backend (media), test

feat(admin): ライブ配信画像でjpegアップロードができるように
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

fix(media): fix small
  web/admin/src/components/organisms/ScheduleStreaming.vue
Labels: frontend (admin)

feat(admin): ライブ配信画像でjpegアップロードができるように (#2144)
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

Fix: fixed schedule validation
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/types/validations/live.ts
Labels: frontend (admin)

feat(workflow): バージョンを.tool-versionsから取るように
  .github/actions/setup-go/action.yaml
  .github/actions/setup-node/action.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/ci-backend.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
Labels: workflow

feat(web): .node-versionを削除
  web/admin/.node-version
  web/user/.node-version
Labels: frontend (admin), frontend (user)
