Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

Add: added new banner
  web/user/src/public/img/banner2.jpg
Labels: frontend (user)

Add: added new banner (#1976)
  web/user/src/public/img/banner2.jpg
Labels: frontend (user)

feat(admin): マルシェ関連ファイルのアップロード方法を変更
  api/internal/gateway/admin/v1/handler/uploader.go
  docs/swagger/admin/paths/v1/upload/schedules/image.yaml
  docs/swagger/admin/paths/v1/upload/schedules/opening-video.yaml
  docs/swagger/admin/paths/v1/upload/schedules/thumbnail.yaml
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/pages/schedules/new.vue
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs

fix: ライブ配信画面の概要部分を別コンポーネントに切り出す
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/lib/dayjs.ts
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

fix: スマートフォンなどのデバイスでスクロールできるようにする
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

feat(media): ファイルアップロードイベントの実装
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/upload_status.go
  api/internal/media/entity/upload_status_test.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/internal/media/uploader/uploader.go
  api/mock/media/service.go
Labels: backend (api), backend (gateway), backend (media), test

feat(media): ファイルアップロードイベントの実装 (#1978)
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/upload_status.go
  api/internal/media/entity/upload_status_test.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/internal/media/uploader/uploader.go
  api/mock/media/service.go
Labels: backend (api), backend (gateway), backend (media), test

feat(media): ファイルアップロード状態が取得できるように
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/response/uploader.go
  api/internal/gateway/admin/v1/service/upload_status.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/mock/media/service.go
  docs/swagger/admin/components/schemas/codes/upload.yaml
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/state.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

feat(media): ファイルアップロード状態が取得できるように (#1979)
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/response/uploader.go
  api/internal/gateway/admin/v1/service/upload_status.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/mock/media/service.go
  docs/swagger/admin/components/schemas/codes/upload.yaml
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/state.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

feat(admin): アップロード後のファイルURLを取得するように
  api/config/gateway/admin/rbac/policy.csv
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/coordinator.ts
Labels: frontend (admin), backend (api)

feat(admin): ファイルのアップロード経路を変更
  web/admin/src/store/coordinator.ts
  web/admin/src/store/helper.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/schedule.ts
Labels: frontend (admin)

refactor(media): アップロード方法の変更に伴い不要となったコードの削除
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/mock/media/service.go
Labels: backend (api), backend (gateway), backend (media), test

refactor(media): ライブ配信周りのファイルアップロード方法を変更
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/mock/media/service.go
  docs/swagger/admin/components/schemas/v1/broadcast.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/archive-video.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/mp4.yaml
  docs/swagger/admin/paths/v1/upload/schedules/-/broadcasts/live.yaml
  docs/swagger/admin/paths/v1/upload/schedules/_scheduleId/broadcasts/archive.yaml
  web/admin/src/store/broadcast.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

fix(media): ライブ配信関連のバリデーション制約を変更
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
Labels: backend (api), backend (media), test

feat(store): プロモーション利用回数の集計機能を実装
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/notification_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/entity/promotion.yaml
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

feat(store): プロモーション利用回数の集計機能を実装 (#1980)
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/notification_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/entity/promotion.yaml
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

feat(media): アーカイブ映像の編集フラグを追加
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/entity/broadcast.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  infra/mysql/schema/2024012901-media-add-columns.sql
Labels: backend (api), backend (media), infra (database), test

feat(media): アーカイブ映像の編集フラグを追加 (#1981)
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/entity/broadcast.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  infra/mysql/schema/2024012901-media-add-columns.sql
Labels: backend (api), backend (media), infra (database), test

Add: added new banner
  web/user/src/pages/index.vue
  web/user/src/public/img/banner3.png
Labels: frontend (user)

feat(media): ライブ配信の視聴ログ取得機能を実装
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/order.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_viewer_log.go
  api/internal/media/database/mysql/broadcast_viewer_log_test.go
  api/internal/media/database/mysql/mysql_test.go
  api/internal/media/entity/broadcast_viewer_log.go
  api/internal/media/entity/broadcast_viewer_log_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_viewer_log.go
  api/internal/media/service/broadcast_viewer_log_test.go
  api/internal/media/service/service_test.go
  api/mock/media/database/database.go
  api/mock/media/service.go
  infra/mysql/schema/2024012902-media-create-broadcast-viewer-logs.sql
Labels: backend (api), backend (gateway), backend (media), infra (database), test

feat(media): ライブ配信の視聴ログ取得機能を実装 (#1983)
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/order.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_viewer_log.go
  api/internal/media/database/mysql/broadcast_viewer_log_test.go
  api/internal/media/database/mysql/mysql_test.go
  api/internal/media/entity/broadcast_viewer_log.go
  api/internal/media/entity/broadcast_viewer_log_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_viewer_log.go
  api/internal/media/service/broadcast_viewer_log_test.go
  api/internal/media/service/service_test.go
  api/mock/media/database/database.go
  api/mock/media/service.go
  infra/mysql/schema/2024012902-media-create-broadcast-viewer-logs.sql
Labels: backend (api), backend (gateway), backend (media), infra (database), test

refactor(api): テスト用のモックファイルをGit管理対象外にする
  .github/workflows/ci-backend.yaml
  api/.gitignore
  api/mock/media/database/database.go
  api/mock/media/service.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
  api/mock/pkg/cognito/client.go
  api/mock/pkg/dynamodb/client.go
  api/mock/pkg/firebase/messaging/client.go
  api/mock/pkg/ivs/client.go
  api/mock/pkg/line/client.go
  api/mock/pkg/mailer/client.go
  api/mock/pkg/mediaconvert/client.go
  api/mock/pkg/medialive/client.go
  api/mock/pkg/postalcode/client.go
  api/mock/pkg/rbac/enforcer.go
  api/mock/pkg/secret/client.go
  api/mock/pkg/sentry/client.go
  api/mock/pkg/sfn/client.go
  api/mock/pkg/slack/client.go
  api/mock/pkg/sqs/client.go
  api/mock/pkg/storage/client.go
  api/mock/pkg/stripe/client.go
  api/mock/pkg/validator/validator.go
  api/mock/store/database/database.go
  api/mock/store/komoju/komoju.go
  api/mock/store/service.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (api), workflow

fix(workflow): fix small
  .github/workflows/ci-backend.yaml
Labels: workflow

スマートフォンのライブ画面で動画部分固定にして商品部分をスクロールできるようにする (#1977)
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/lib/dayjs.ts
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

feat(messenger): 支払い完了時にLINE通知が来るように
  api/internal/messenger/entity/report_config.go
  api/internal/messenger/entity/url.go
  api/internal/messenger/entity/url_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
Labels: backend (api), backend (messenger), test

feat(messenger): 支払い完了時にLINE通知が来るように (#1985)
  api/internal/messenger/entity/report_config.go
  api/internal/messenger/entity/url.go
  api/internal/messenger/entity/url_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
Labels: backend (api), backend (messenger), test

Add: added new banner (#1982)
  web/user/src/pages/index.vue
  web/user/src/public/img/banner3.png
Labels: frontend (user)

fix(api): 非同期処理のバグ修正
  api/internal/gateway/user/v1/handler/api.go
Labels: backend (api), backend (gateway)

fix(media): DB層のインジェクション処理
  api/internal/media/database/mysql/mysql.go
Labels: backend (api), backend (media)

fix(api): fix small
  .github/workflows/ci-backend.yaml
Labels: workflow

refactor(api): テスト用のモックファイルをGit管理対象外にする (#1984)
  .github/workflows/ci-backend.yaml
  api/.gitignore
  api/mock/media/database/database.go
  api/mock/media/service.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
  api/mock/pkg/cognito/client.go
  api/mock/pkg/dynamodb/client.go
  api/mock/pkg/firebase/messaging/client.go
  api/mock/pkg/ivs/client.go
  api/mock/pkg/line/client.go
  api/mock/pkg/mailer/client.go
  api/mock/pkg/mediaconvert/client.go
  api/mock/pkg/medialive/client.go
  api/mock/pkg/postalcode/client.go
  api/mock/pkg/rbac/enforcer.go
  api/mock/pkg/secret/client.go
  api/mock/pkg/sentry/client.go
  api/mock/pkg/sfn/client.go
  api/mock/pkg/slack/client.go
  api/mock/pkg/sqs/client.go
  api/mock/pkg/storage/client.go
  api/mock/pkg/stripe/client.go
  api/mock/pkg/validator/validator.go
  api/mock/store/database/database.go
  api/mock/store/komoju/komoju.go
  api/mock/store/service.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (api), workflow

feat(media): アーカイブ映像の制約を調整
  api/internal/media/entity/regulation.go
Labels: backend (api), backend (media)

feat(media): アーカイブ映像の制約を調整 (#1986)
  api/internal/media/entity/regulation.go
Labels: backend (api), backend (media)

feat: Exposeでrefが使えるようにする
  web/user/src/components/organisms/TheNewAddressForm.vue
Labels: frontend (user)

style: linterかけた
  web/user/nuxt.config.ts
Labels: frontend (user)

feat: Meta Pixel Codeを仕込む
  web/user/src/app.vue
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/public/meta/pixel-code-purchase.js
  web/user/src/public/meta/pixel-code.js
Labels: frontend (user)

meta pixel codeを仕込む (#2003)
  web/user/nuxt.config.ts
  web/user/src/app.vue
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/public/meta/pixel-code-purchase.js
  web/user/src/public/meta/pixel-code.js
Labels: frontend (user)

feat(media): ライブ配信コメント関連機能の実装
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/message.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_tag.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/request/live_comment.go
  api/internal/gateway/user/v1/response/live_comment.go
  api/internal/gateway/user/v1/service/live_comment.go
  api/internal/gateway/user/v1/service/live_comment_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_comment.go
  api/internal/media/database/mysql/broadcast_comment_test.go
  api/internal/media/database/mysql/mysql.go
  api/internal/media/database/mysql/mysql_test.go
  api/internal/media/entity/broadcast_comment.go
  api/internal/media/entity/broadcast_comment_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment.go
  api/internal/media/service/broadcast_comment_test.go
  api/internal/media/service/service_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  docs/swagger/user/components/schemas/entity/live-comment.yaml
  docs/swagger/user/components/schemas/v1/live-comment.request.yaml
  docs/swagger/user/components/schemas/v1/live-comment.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  infra/mysql/schema/2024013101-media-create-broadcast-comments.sql
  web/user/src/types/api/apis/ScheduleApi.ts
  web/user/src/types/api/models/CreateLiveCommentRequest.ts
  web/user/src/types/api/models/LiveComment.ts
  web/user/src/types/api/models/LiveCommentsResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (media), backend (user), infra (database), docs, test

feat(media): ライブ配信コメント関連機能の実装 (#2004)
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/message.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_tag.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/request/live_comment.go
  api/internal/gateway/user/v1/response/live_comment.go
  api/internal/gateway/user/v1/service/live_comment.go
  api/internal/gateway/user/v1/service/live_comment_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_comment.go
  api/internal/media/database/mysql/broadcast_comment_test.go
  api/internal/media/database/mysql/mysql.go
  api/internal/media/database/mysql/mysql_test.go
  api/internal/media/entity/broadcast_comment.go
  api/internal/media/entity/broadcast_comment_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment.go
  api/internal/media/service/broadcast_comment_test.go
  api/internal/media/service/service_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  docs/swagger/user/components/schemas/entity/live-comment.yaml
  docs/swagger/user/components/schemas/v1/live-comment.request.yaml
  docs/swagger/user/components/schemas/v1/live-comment.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  infra/mysql/schema/2024013101-media-create-broadcast-comments.sql
  web/user/src/types/api/apis/ScheduleApi.ts
  web/user/src/types/api/models/CreateLiveCommentRequest.ts
  web/user/src/types/api/models/LiveComment.ts
  web/user/src/types/api/models/LiveCommentsResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), backend (media), backend (user), infra (database), docs, test

fix(api): 認証なしでもライブ配信コメントが取得できるように
  api/internal/gateway/user/v1/handler/live_comment.go
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  web/user/src/types/api/apis/ScheduleApi.ts
Labels: frontend (user), backend (api), backend (gateway), docs

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
