Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

fix: デザインの修正とプロフィール画像の縁が丸くなるように修正
  web/admin/src/components/molecules/TheHeaderSelectForm.vue
  web/admin/src/components/molecules/TheProfileSelectForm.vue
Labels: frontend (admin)

feat: 生産者登録機能の改善 (#161)
  web/admin/nuxt.config.ts
  web/admin/src/assets/main.scss
  web/admin/src/components/molecules/TheHeaderSelectForm.vue
  web/admin/src/components/molecules/TheProfileSelectForm.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/store/producer.ts
Labels: frontend (admin)

Feature/category add (#164)
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

feat(gateway): implement coordinator api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/request/coordinator.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  docs/swagger/admin/components/schemas/v1/coordinator.request.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), docs, test

feat(gateway): implement coordinator api (#166)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/request/coordinator.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  docs/swagger/admin/components/schemas/v1/coordinator.request.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), docs, test

feat: フィードバックのメッセージ表示用のstoreを作成
  web/admin/src/store/common.ts
Labels: frontend (admin)

feat: メッセージ表示用の実装を追加
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

feat: 生産者登録成功時にメッセージを出すように改善
  web/admin/src/store/producer.ts
Labels: frontend (admin)

fix(workflow): fix workflow for docs
  .github/workflows/ci-docs-for-all.yaml
Labels: workflow

fix(workflow): fix small
  .github/workflows/ci-docs-for-all.yaml
Labels: workflow

feat(messenger): add email template for received contact
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail.go
  api/internal/messenger/entity/mail_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
Labels: backend (messenger), test

feat(messenger): add email template for received contact (#169)
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail.go
  api/internal/messenger/entity/mail_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
Labels: backend (messenger), test

Add: added category list
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

feat(messenger): implement notify received contact
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/entity/url.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/mailer_test.go
  api/mock/messenger/service.go
Labels: backend (messenger), test

feat(messenger): implement notify received contact (#170)
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/entity/url.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/mailer_test.go
  api/mock/messenger/service.go
Labels: backend (messenger), test

feat(gateway): implement create contact api
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/contact.go
  api/internal/gateway/user/v1/handler/contact_test.go
  api/internal/gateway/user/v1/request/contact.go
Labels: backend (gateway), backend (user), test

fix(gateway): fix di for user gateway
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
Labels: backend (gateway), backend (user)

fix(messenger): fix new database
  api/internal/messenger/database/database.go
Labels: backend (messenger)

fix(gateway): fix di
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/messenger/service/notify.go
Labels: backend (gateway), backend (messenger), backend (user)

fix(messenger): fix messenger template
  api/internal/messenger/service/notify_test.go
Labels: backend (messenger), test

fix: error時だけ-1にする
  web/admin/src/store/common.ts
Labels: frontend (admin)

feat(messenger): add report template entity
  api/internal/messenger/database/database.go
  api/internal/messenger/database/report_template.go
  api/internal/messenger/database/report_template_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/report.go
  api/internal/messenger/entity/report_template.go
  api/internal/messenger/entity/report_template_test.go
  api/internal/messenger/entity/report_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service_test.go
  api/internal/messenger/worker/worker_test.go
  api/mock/messenger/database/database.go
  infra/mysql/schema/2022071301-messengers-create-report-templates.sql
Labels: backend (messenger), infra (database), test

fix(messenger): fix test code
  api/internal/messenger/service/notify_test.go
Labels: backend (messenger), test

Add: added category list
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

feat(messenger): add report template entity (#171)
  api/internal/messenger/database/database.go
  api/internal/messenger/database/report_template.go
  api/internal/messenger/database/report_template_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/report.go
  api/internal/messenger/entity/report_template.go
  api/internal/messenger/entity/report_template_test.go
  api/internal/messenger/entity/report_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service_test.go
  api/internal/messenger/worker/worker_test.go
  api/mock/messenger/database/database.go
  infra/mysql/schema/2022071301-messengers-create-report-templates.sql
Labels: backend (messenger), infra (database), test

Feature/category list (#172)
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

Refactor: refactor code
  web/admin/src/components/organisms/TheCategoryList.vue
Labels: frontend (admin)

Refactor: refactor code (#173)
  web/admin/src/components/organisms/TheCategoryList.vue
Labels: frontend (admin)

feat(messenger): implement notifier
  api/go.mod
  api/go.sum
  api/internal/exception/error.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/worker/reporter.go
  api/internal/messenger/worker/reporter_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  api/mock/pkg/line/client.go
  api/pkg/line/client.go
Labels: backend (messenger), test

fix(messenger): fix small
  api/internal/messenger/cmd/worker/registry.go
Labels: backend (messenger)

feat(messenger): implement notifier (#174)
  api/go.mod
  api/go.sum
  api/internal/exception/error.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/worker/reporter.go
  api/internal/messenger/worker/reporter_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  api/mock/pkg/line/client.go
  api/pkg/line/client.go
Labels: backend (messenger), test

feat(messenger): add debug log for reporter
  api/internal/messenger/worker/reporter.go
Labels: backend (messenger)

fix(line): fix bug for line client
  api/pkg/line/client.go
Labels: none

fix(store): fix list api response
  api/Makefile
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/response/category.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/service.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/category.response.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), docs, test

fix(store): fix list api response (#175)
  api/Makefile
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/response/category.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/service.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/category.response.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (store), docs, test

fix(messenger): fix list api response
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (messenger), docs, test

fix(user): fix list api response
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/response/administrator.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/service.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/administrator.response.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

fix(user): fix small
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
Labels: backend (user), test

fix(user): fix list api response (#176)
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/response/administrator.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/service.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/administrator.response.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

fix: change request type
  docs/swagger/admin/components/schemas/v1/notification.request.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
