Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

chore(api): upgrade golang version 1.19.1
  .github/workflows/ci-backend-for-all.yaml
  api/.go-version
  api/Makefile
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow

feat(gateway): implement slack alert function
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/pkg/slack/client.go
Labels: backend (gateway), backend (user)

chore(api): upgrade golang version 1.19.1 (#412)
  .github/workflows/ci-backend-for-all.yaml
  api/.go-version
  api/Makefile
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow

fix: delete unused variable
  api/internal/store/database/schedule.go
Labels: backend (store)

feat(store): createSchedule database layer (#410)
  api/internal/store/database/database.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/schedule_test.go
  api/mock/store/database/database.go
Labels: backend (store), test

顧客一覧（ベタ打ち）
  web/admin/src/pages/customers.vue
  web/admin/src/pages/customers/edit/id.vue
  web/admin/src/pages/customers/index.vue
Labels: frontend (admin)

顧客一覧（ベタ打ち）lintfix
  web/admin/src/pages/customers/edit/id.vue
  web/admin/src/pages/customers/index.vue
Labels: frontend (admin)

chore(*): update libraries for api (#415)
  api/go.mod
  api/go.sum
Labels: none

テストコミット
  web/admin/src/pages/customers/index.vue
Labels: frontend (admin)

feat(user): replace admin tables
  api/hack/_once/replace-admin-tables/main.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/producer.go
  infra/mysql/schema/2022092401-users-replace-admins.sql
Labels: backend (user), infra (database)

feat(user): add comment
  api/internal/user/entity/administrator.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/producer.go
Labels: backend (user)

feat(gateway): implement slack alert function (#413)
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/pkg/slack/client.go
Labels: backend (gateway), backend (user)

feat(user): replace admin tables (#418)
  api/hack/_once/replace-admin-tables/main.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/producer.go
  infra/mysql/schema/2022092401-users-replace-admins.sql
Labels: backend (user), infra (database)

fix(gateway): fix test code
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/producer_test.go
Labels: backend (gateway), test

feat(docs): changing request
  docs/swagger/admin/paths/v1/administrators/index.yaml
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  docs/swagger/admin/paths/v1/producers/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat(user): replace user entity
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/gateway/user/v1/service/auth.go
  api/internal/gateway/user/v1/service/auth_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker_test.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/customer.go
  api/internal/user/database/customer_test.go
  api/internal/user/database/database.go
  api/internal/user/database/guest.go
  api/internal/user/database/member.go
  api/internal/user/database/member_test.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/entity/customer.go
  api/internal/user/entity/customer_test.go
  api/internal/user/entity/guest.go
  api/internal/user/entity/guest_test.go
  api/internal/user/entity/member.go
  api/internal/user/entity/member_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/producer.go
  api/internal/user/service/service_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_auth.go
  api/internal/user/service/user_auth_test.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  infra/mysql/schema/2022092403-users-replace-users.sql
Labels: backend (gateway), backend (messenger), backend (user), infra (database), test

fix(messenger): fix test code
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker_test.go
Labels: backend (messenger), test

feat(user): replace user entity (#420)
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/gateway/user/v1/service/auth.go
  api/internal/gateway/user/v1/service/auth_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker_test.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/customer.go
  api/internal/user/database/customer_test.go
  api/internal/user/database/database.go
  api/internal/user/database/guest.go
  api/internal/user/database/member.go
  api/internal/user/database/member_test.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/entity/customer.go
  api/internal/user/entity/customer_test.go
  api/internal/user/entity/guest.go
  api/internal/user/entity/guest_test.go
  api/internal/user/entity/member.go
  api/internal/user/entity/member_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/producer.go
  api/internal/user/service/service_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_auth.go
  api/internal/user/service/user_auth_test.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  infra/mysql/schema/2022092403-users-replace-users.sql
Labels: backend (gateway), backend (messenger), backend (user), infra (database), test

顧客一覧（ベタ打ち） (#414)
  web/admin/src/pages/customers.vue
  web/admin/src/pages/customers/edit/id.vue
  web/admin/src/pages/customers/index.vue
Labels: frontend (admin)

feat: implement live entity
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
Labels: backend (store), test

feat: ライブストリーミング画面にカレンダーを配置
  web/admin/src/pages/livestreaming/index.vue
Labels: frontend (admin)

feat: ライブストリーミングを開始する導線を作成
  web/admin/src/pages/livestreaming/add.vue
Labels: frontend (admin)

fix: change recommends tag
  api/internal/store/entity/live.go
Labels: backend (store)

fix: buildが通るように修正
  web/admin/src/pages/livestreaming/index.vue
Labels: frontend (admin)

fix: 商品登録のボタン色を変更 (#399)
  web/admin/src/pages/products/index.vue
Labels: frontend (admin)

Add: added notification delete
  web/admin/src/pages/notifications/index.vue
  web/admin/src/store/notification.ts
Labels: frontend (admin)

feat(store): implement live entity (#421)
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
Labels: backend (store), test

Add: added notification delete (#431)
  web/admin/src/pages/notifications/index.vue
  web/admin/src/store/notification.ts
Labels: frontend (admin)

Add: added notification bff
  web/admin/src/store/notification.ts
Labels: frontend (admin)

Add: added notification create base ui
  web/admin/src/components/organisms/TheNotificationForm.vue
  web/admin/src/components/templates/TheNotificationCreateFormPage.vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/index.vue
Labels: frontend (admin)

feat: added Marshal method
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
Labels: backend (store), test

feat: added FillJSON test
  api/internal/store/entity/live_test.go
Labels: backend (store), test

feat: added CreateLive database layer
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
Labels: backend (store), test

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (store)

fix: expected value
  api/internal/store/entity/live_test.go
Labels: backend (store), test

fix: add schedule mock
  api/internal/store/database/live_test.go
Labels: backend (store), test

move: 配信ページを別に移動
  web/admin/src/pages/livestreaming/tests.vue
Labels: frontend (admin)

feat: 配信テストページへの遷移を追加
  web/admin/src/pages/livestreaming/index.vue
Labels: frontend (admin)

ライブストリーミングを開始する導線の画面を整理 (#422)
  web/admin/src/pages/livestreaming/add.vue
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/livestreaming/tests.vue
Labels: frontend (admin)

Add: added notification create ui
  web/admin/src/components/organisms/TheNotificationForm.vue
  web/admin/src/components/templates/TheNotificationCreateFormPage.vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/store/notification.ts
Labels: frontend (admin)
