Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

fix(docs): 配送関連のAPI仕様書を修正
  docs/swagger/admin/components/schemas/codes/order-fulfillment.yaml
  docs/swagger/user/components/schemas/codes/order-fulfillment.yaml
  web/admin/src/pages/version.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(workflow): ciの修正
  .github/workflows/ci-backend.yaml
Labels: workflow

fix(api): small
  api/internal/media/database/tidb/video_comment.go
  api/internal/store/komoju/api_test.go
Labels: backend (api), backend (media), backend (store), test

fix(docs): 配送関連のAPI仕様書を修正 (#2844)
  docs/swagger/admin/components/schemas/codes/order-fulfillment.yaml
  docs/swagger/user/components/schemas/codes/order-fulfillment.yaml
  web/admin/src/pages/version.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

fix(user): コーディネータの不要なフィールドを削除
  api/hack/store-migrate-shops/main.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/coordinator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
Labels: backend (api), backend (gateway), backend (user), test

fix(infra): DDLの追加
  infra/tidb/schema/users/2025060901-drop-column-to-coordinators.sql
Labels: none

fix(user): where句の修正
  api/internal/user/database/tidb/coordinator.go
Labels: backend (api), backend (user)

refactor(store): 店舗IDベースで情報取得できるように
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/shipping_test.go
Labels: backend (api), backend (store), test

fix(user): コーディネータの不要なフィールドを削除 (#2845)
  api/hack/store-migrate-shops/main.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/coordinator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  infra/tidb/schema/users/2025060901-drop-column-to-coordinators.sql
Labels: backend (api), backend (gateway), backend (user), test

refactor(store): 店舗IDベースで情報取得できるように (#2846)
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/shipping_test.go
Labels: backend (api), backend (store), test

fix(workflow): データベースの初期値投入処理の実行時間改善
  api/hack/database-seeds/main.go
  api/hack/database-seeds/messenger/execute.go
  api/hack/database-seeds/store/execute.go
  api/hack/database-seeds/user/execute.go
Labels: backend (api)

fix(workflow): 依存関係がある箇所の修正
  api/hack/database-seeds/store/execute.go
  api/hack/database-seeds/user/execute.go
Labels: backend (api)

fix(workflow): データベースの初期値投入処理の実行時間改善 (#2847)
  api/hack/database-seeds/main.go
  api/hack/database-seeds/messenger/execute.go
  api/hack/database-seeds/store/execute.go
Labels: backend (api)

Add: added related product
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/items/[...id].vue
  web/user/src/store/coordinator.ts
Labels: frontend (user)

現在の商品以外を表示
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

Fix: fixed typo
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/pages/items/[...id].vue
  web/user/src/store/coordinator.ts
Labels: frontend (user)

refactor(admin): コーディネータベースでの取得から店舗ベースへの取得に
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/top.go
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shop.go
  api/internal/store/database/tidb/shop_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/shop.go
  api/internal/store/service/shop_test.go
  docs/swagger/admin/paths/v1/top/orders.yaml
Labels: backend (api), backend (gateway), backend (store), docs, test

refactor(admin): 追加の修正
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/live.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  docs/swagger/admin/components/schemas/entity/schedule.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

Fix/product coordinator (#2848)
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/pages/items/[...id].vue
  web/user/src/store/coordinator.ts
Labels: frontend (user)

fix(gateway): small
  api/internal/gateway/admin/v1/service/schedule_test.go
Labels: backend (api), backend (gateway), test

refactor(admin): コーディネータベースでの取得から店舗ベースへの取得に (#2849)
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/live.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/top.go
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shop.go
  api/internal/store/database/tidb/shop_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/shop.go
  api/internal/store/service/shop_test.go
  docs/swagger/admin/components/schemas/entity/schedule.yaml
  docs/swagger/admin/paths/v1/top/orders.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

refactor(store): 不要なメソッドの削除
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/database/tidb/shipping.go
  api/internal/store/database/tidb/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
Labels: backend (api), backend (store), test

refactor(store): 不要なメソッドの削除
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/service/coordinator.go
  api/internal/gateway/user/v1/service/coordinator_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/experience.go
  api/internal/store/database/tidb/experience_test.go
  api/internal/store/database/tidb/product.go
  api/internal/store/database/tidb/product_test.go
  api/internal/store/database/tidb/schedule.go
  api/internal/store/entity/shop.go
  api/internal/store/entity/shop_test.go
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/schedule.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/coordinator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  docs/swagger/user/paths/v1/experiences/index.yaml
  infra/tidb/schema/users/2025061101-drop-column-to-coordinators.sql
  web/user/src/types/api/apis/ExperienceApi.ts
Labels: frontend (user), backend (api), backend (gateway), backend (store), backend (user), docs, test

fix(user): small
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/coordinator_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
Labels: backend (api), backend (store), backend (user), test

fix(gateway): トップ取得APIのパーミッション修正
  api/hack/database-seeds/master/role.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/top.go
Labels: backend (api), backend (gateway)

fix(gateway): トップ取得APIのパーミッション修正 (#2853)
  api/hack/database-seeds/master/role.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/top.go
Labels: backend (api), backend (gateway)

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v5.0.3 (#2841)
  CHANGELOG.md
Labels: none

fix: 現在地に戻る不具合の修正
  web/user/src/components/atoms/icons/TheMyLocationIcon.vue
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

fix: 現在地に戻る不具合の修正 (#2857)
  web/user/src/components/atoms/icons/TheMyLocationIcon.vue
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

feat(map): マップのジェスチャー処理を「greedy」に設定
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

feat(map): マップのジェスチャー処理を「greedy」に設定 (#2859)
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v5.0.4 (#2858)
  CHANGELOG.md
Labels: none

comment: コメントを追加
  web/admin/src/pages/orders/[id]/index.vue
Labels: frontend (admin)

style: linterをかける
  web/admin/src/pages/version.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
Labels: frontend (admin)

fix: 注文詳細取得処理の改善
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/store/order.ts
Labels: frontend (admin)

注文詳細取得のロジックの改修 (#2860)
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/pages/version.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
Labels: frontend (admin)

[tagpr] update CHANGELOG.md
  CHANGELOG.md
Labels: none

Release for v5.0.5 (#2861)
  CHANGELOG.md
Labels: none
