Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

fix(api): コーディネータ/生産者情報に生産地を追加 (#1577)
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/response/producer.go
  api/internal/gateway/user/v1/service/coordinator.go
  api/internal/gateway/user/v1/service/coordinator_test.go
  api/internal/gateway/user/v1/service/producer.go
  api/internal/gateway/user/v1/service/producer_test.go
  docs/swagger/user/components/schemas/entity/coordinator.yaml
  docs/swagger/user/components/schemas/entity/producer.yaml
  docs/swagger/user/components/schemas/v1/product.response.yaml
  docs/swagger/user/components/schemas/v1/schedule.response.yaml
  web/user/src/types/api/models/Coordinator.ts
  web/user/src/types/api/models/Producer.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

feat: スマートフォン向けのUIに対応
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

Revert "chore(deps-dev): bump @nuxtjs/i18n in /web/user (#1571)"
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

feat(messenger): 支払い完了時の通知を追加
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_test.go
Labels: backend (api), backend (messenger), backend (user), test

setup: @nuxtjs/i18nのバージョンのアップデートを無効化
  .github/dependabot.yaml
Labels: workflow

feat(api): コーディネータ関連のレスポンスに営業日を追加
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/service/coordinator.go
  api/internal/gateway/user/v1/service/coordinator_test.go
  docs/swagger/user/components/schemas/entity/coordinator.yaml
  docs/swagger/user/components/schemas/v1/product.response.yaml
  web/user/src/types/api/models/Coordinator.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

Revert "chore(deps-dev): bump @nuxtjs/i18n in /web/user (#1571)" (#1579)
  .github/dependabot.yaml
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user), workflow

fix(messenger): fix small
  api/internal/messenger/entity/mail_config_test.go
Labels: backend (api), backend (messenger), test

feat: スマートフォン向けのUIに対応 (#1578)
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

feat(messenger): 支払い完了時の通知を追加 (#1580)
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_test.go
Labels: backend (api), backend (messenger), backend (user), test

feat(api): コーディネータ関連のレスポンスに営業日を追加 (#1581)
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/service/coordinator.go
  api/internal/gateway/user/v1/service/coordinator_test.go
  docs/swagger/user/components/schemas/entity/coordinator.yaml
  docs/swagger/user/components/schemas/v1/product.response.yaml
  web/user/src/types/api/models/Coordinator.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

fix(store): 品目削除処理の修正
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/coordinator_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (api), backend (store), backend (user), test

fix(*): fix small
  api/internal/store/entity/product.go
  api/internal/store/entity/product_revision.go
  api/internal/store/entity/product_revision_test.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
  api/internal/store/entity/shipping_test.go
  api/internal/user/database/mysql/address.go
  api/internal/user/database/mysql/administrator.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/user.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_revision.go
  api/internal/user/entity/address_revision_test.go
  api/internal/user/entity/address_test.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
Labels: backend (api), backend (store), backend (user), test

fix(user): fix small
  api/internal/user/database/mysql/administrator.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/producer.go
Labels: backend (api), backend (user)

fix(user): fix small
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/coordinator_test.go
  api/internal/user/database/mysql/mysql_test.go
Labels: backend (api), backend (user), test

fix(user): fix small
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
Labels: backend (api), backend (user), test

fix(store): 品目削除処理の修正 (#1597)
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_revision.go
  api/internal/store/entity/product_revision_test.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/address.go
  api/internal/user/database/mysql/administrator.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/coordinator_test.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/user.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_revision.go
  api/internal/user/entity/address_revision_test.go
  api/internal/user/entity/address_test.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (api), backend (store), backend (user), test

feat: 買い物カゴから商品を削除する部分をAPIとつなぎ込み
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/store/shopping.ts
Labels: frontend (user)

fix: 型の宣言を追加
  web/user/src/components/organisms/header/TheAppHeader.vue
Labels: frontend (user)

買い物カゴからの商品削除機能の実装 (#1598)
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/store/shopping.ts
Labels: frontend (user)

feat: 買い物カゴ画面で商品削除機能を追加
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/purchase/index.vue
Labels: frontend (user)

feat: 買い物カゴページをスマートフォン向けのレイアウトに対応
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
Labels: frontend (user)

Add: added product detail other work
  web/user/src/pages/items/[...id].vue
  web/user/src/store/product.ts
Labels: frontend (user)

買い物カゴページのスマートフォン表示に対応 (#1599)
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/purchase/index.vue
Labels: frontend (user)

Fix: fixed code base on review
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

Fix: fixed code base on review
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

Add: added product detail other work (#1600)
  web/user/src/pages/items/[...id].vue
  web/user/src/store/product.ts
Labels: frontend (user)

fix(api): AWSのライブラリ関連の修正対応
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (api), backend (gateway)

fix(api): AWSのライブラリ関連の修正対応 (#1601)
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (api), backend (gateway)

fix(api): injection周りのエラーメッセージの詳細化
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/updater/registry.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/registry.go
Labels: backend (api), backend (gateway), backend (media), backend (messenger)

fix(store): 商品タグ削除時の処理を修正
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/service/product_tag.go
  api/internal/store/service/product_tag_test.go
Labels: backend (api), backend (store), test

fix(store): 商品タグ削除時の処理を修正 (#1602)
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/service/product_tag.go
  api/internal/store/service/product_tag_test.go
Labels: backend (api), backend (store), test

feat: スマートフォンのメニュー表示を修正
  web/user/src/components/atoms/icons/TheAccountIcon.vue
  web/user/src/components/atoms/icons/TheFlagIcon.vue
  web/user/src/components/atoms/icons/TheFruitsIcon.vue
  web/user/src/components/atoms/icons/TheFurumaruIcon.vue
  web/user/src/components/atoms/icons/TheIconWrapper.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
Labels: frontend (user)

feat: aboutページのスマートフォン向けレイアウト調整
  web/user/src/pages/about.vue
Labels: frontend (user)

feat: スマートフォンのメニュー表示を修正 (#1603)
  web/user/src/components/atoms/icons/TheAccountIcon.vue
  web/user/src/components/atoms/icons/TheFlagIcon.vue
  web/user/src/components/atoms/icons/TheFruitsIcon.vue
  web/user/src/components/atoms/icons/TheFurumaruIcon.vue
  web/user/src/components/atoms/icons/TheIconWrapper.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
Labels: frontend (user)

feat: aboutページのスマートフォン向けレイアウト調整 (#1604)
  web/user/src/pages/about.vue
Labels: frontend (user)

Add: added prodcut detail mobile page
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

Refactor: yarn lint fix
  web/user/src/pages/contact.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user)

Feat/product detail mobile (#1605)
  web/user/src/pages/contact.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user)

fix(admin): 商品タグ削除APIへ投げる処理を修正
  docs/swagger/admin/paths/v1/product-tags/_productTagId/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (admin), frontend (user), docs
