Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

chore: nuxt/i18nをダウングレード
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

fix: 書き方を古いバージョンに戻す
  web/user/i18n.config.ts
  web/user/nuxt.config.ts
Labels: frontend (user)

nuxtjs/i18nのダウングレード (#942)
  web/user/i18n.config.ts
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

fix(gateway): fix test code
  api/internal/gateway/admin/v1/handler/promotion_test.go
Labels: backend (api), backend (gateway), test

fix: add null to FK
  infra/mysql/schema/20230501102-messengers-create-contacts.sql
Labels: infra (database)

fix(gateway): セール情報登録/更新APIのリクエスト値を修正 (#941)
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/gateway/admin/v1/request/promotion.go
  api/internal/store/input.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  docs/swagger/admin/components/schemas/v1/promotion.request.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (store), docs, test

remove common file
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
Labels: backend (api), backend (messenger), test

remove admin code
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/request/contact.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/gateway/admin/v1/service/contact.go
  api/internal/gateway/admin/v1/service/contact_test.go
Labels: backend (api), backend (gateway), test

remove user contact code
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/contact.go
  api/internal/gateway/user/v1/handler/contact_test.go
  api/internal/gateway/user/v1/request/contact.go
Labels: backend (api), backend (gateway), test

remove from notify
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
Labels: backend (api), backend (messenger), test

remove table from database test
  api/internal/messenger/database/database_test.go
Labels: backend (api), backend (messenger), test

chore: make mockgen
  api/mock/messenger/service.go
Labels: backend (api)

feat(admin): 顧客管理ページの表示項目変更 (#940)
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
Labels: frontend (admin)

fix(admin): セール情報から公開日時のフィールドを削除
  Makefile
  docs/swagger/admin/components/schemas/v1/promotion.request.yaml
  docs/swagger/admin/components/schemas/v1/promotion.response.yaml
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/components/templates/PromotionCreateFormPage.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/runtime.ts
  web/admin/src/types/props/promotion.ts
  web/user/src/types/api/api.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
  web/user/src/types/api/configuration.ts
Labels: frontend (admin), frontend (user), docs

font: Noto Sans Japaneseにフォントを更新
  web/user/src/assets/css/tailwind.css
  web/user/tailwind.config.ts
Labels: frontend (user)

fix: カードの背景を#FFFFFFに更新
  web/user/src/components/atoms/cards/TheCard.vue
Labels: frontend (user)

ユーザー側ページのフォント変更と枠内背景色の更新 (#946)
  web/user/src/assets/css/tailwind.css
  web/user/src/components/atoms/cards/TheCard.vue
  web/user/tailwind.config.ts
Labels: frontend (user)

fix(admin): セール情報から公開日時のフィールドを削除 (#945)
  Makefile
  docs/swagger/admin/components/schemas/v1/promotion.request.yaml
  docs/swagger/admin/components/schemas/v1/promotion.response.yaml
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/components/templates/PromotionCreateFormPage.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/runtime.ts
  web/admin/src/types/props/promotion.ts
  web/user/src/types/api/api.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
  web/user/src/types/api/configuration.ts
Labels: frontend (admin), frontend (user), docs

fix: remove Contact from DBMocks
  api/internal/messenger/scheduler/scheduler_test.go
  api/internal/messenger/service/service_test.go
  api/internal/messenger/worker/worker_test.go
Labels: backend (api), backend (messenger), test

fix: lint
  api/internal/messenger/worker/worker_test.go
Labels: backend (api), backend (messenger), test

Remove contacts from code (#944)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/request/contact.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/gateway/admin/v1/service/contact.go
  api/internal/gateway/admin/v1/service/contact_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/contact.go
  api/internal/gateway/user/v1/handler/contact_test.go
  api/internal/gateway/user/v1/request/contact.go
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
  api/internal/messenger/input.go
  api/internal/messenger/scheduler/scheduler_test.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service_test.go
  api/internal/messenger/worker/worker_test.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
Labels: backend (api), backend (gateway), backend (messenger), test

Add contacts and threads ddl (#938)
  infra/mysql/schema/20230501102-messengers-create-contacts.sql
  infra/mysql/schema/2023051101-messengers-drop-contacts.sql
Labels: infra (database)

feat(docs): APIドキュメントをホスティング環境へデプロイできるように
  docs/swagger/Makefile
  infra/docker/docs/amplify/Dockerfile
  infra/terraform/env/shared/01-ecr/06-docs.tf
Labels: infra (container), infra (terraform), docs

feat(docs): APIドキュメントをホスティング環境へデプロイできるように (#947)
  docs/swagger/Makefile
  infra/docker/docs/amplify/Dockerfile
  infra/terraform/env/shared/01-ecr/06-docs.tf
Labels: infra (container), infra (terraform), docs

feat(docs): APIドキュメントをホスティング環境へデプロイできるように
  infra/terraform/env/shared/02-route53/01-and-preiod-work.tf
Labels: infra (terraform)

fix(docs): fix Makefile
  docs/swagger/Makefile
Labels: docs

fix: フォントのウェイトを更新
  web/user/src/components/atoms/cards/TheCardTitle.vue
Labels: frontend (user)

fix: 上辺の位置が揃うようにレイアウト修正
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/components/templates/TheSignUpPage.vue
  web/user/src/components/templates/TheUserRegisterPage.vue
  web/user/src/components/templates/TheVerifyCodePage.vue
  web/user/src/layouts/auth.vue
Labels: frontend (user)

ユーザー登録系ページのレイアウト調整 (#954)
  web/user/src/components/atoms/cards/TheCardTitle.vue
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/components/templates/TheSignUpPage.vue
  web/user/src/components/templates/TheUserRegisterPage.vue
  web/user/src/components/templates/TheVerifyCodePage.vue
  web/user/src/layouts/auth.vue
Labels: frontend (user)

fix: rename sql
  infra/mysql/schema/2023051102-messengers-create-contacts.sql
Labels: infra (database)

fix: rename sql (#956)
  infra/mysql/schema/2023051102-messengers-create-contacts.sql
Labels: infra (database)

fix: 認証系画面でoverflowの設定がなくレイアウトが崩れて見えていたので修正
  web/user/src/layouts/auth.vue
Labels: frontend (user)

fix: 認証系画面でoverflowの設定がなくレイアウトが崩れて見えていたので修正 (#957)
  web/user/src/layouts/auth.vue
Labels: frontend (user)

faet: implement contact_category entity
  api/internal/messenger/entity/contact_category_test.go
  api/internal/messenger/entity/contact_catogory.go
Labels: backend (api), backend (messenger), test

feat: implement contact entity
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
Labels: backend (api), backend (messenger), test

fix: lint
  api/internal/messenger/entity/contact_test.go
Labels: backend (api), backend (messenger), test

fix: IDs case
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
Labels: backend (api), backend (messenger), test

fix NewContact return value
  api/internal/messenger/entity/contact.go
Labels: backend (api), backend (messenger)

fix ContactStatus to iota
  api/internal/messenger/entity/contact.go
Labels: backend (api), backend (messenger)

fix: lint
  api/internal/messenger/entity/contact.go
Labels: backend (api), backend (messenger)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
