Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

feat: パスの整理などを実施
  web/admin/src/layouts/default.vue
  web/admin/src/pages/contacts.vue
  web/admin/src/pages/events.vue
  web/admin/src/pages/producers.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/products/index.vue
Labels: frontend (admin)

fix: テキストのpropsを用意
  web/admin/src/components/atoms/TheFileUploadFiled.vue
Labels: frontend (admin)

feat: ページコンポーネントのコンテンツを配置
  web/admin/src/layouts/default.vue
  web/admin/src/pages/coordinator/add.vue
  web/admin/src/pages/producers.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/settings.vue
Labels: frontend (admin)

fix: ポート番号を変更
  docker-compose.yaml
Labels: none

Update ReadMe
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

feat(infra): setup terraform
  infra/terraform/.terraform-version
  infra/terraform/modules/network-acl/01-network-acl.tf
  infra/terraform/modules/network-acl/99-data.tf
  infra/terraform/modules/network-acl/99-outputs.tf
  infra/terraform/modules/network-acl/99-variables.tf
  infra/terraform/modules/rds/01-db-instance.tf
  infra/terraform/modules/rds/02-db-subnet-group.tf
  infra/terraform/modules/rds/03-db-parameter-group.tf
  infra/terraform/modules/rds/04-db-option-group.tf
  infra/terraform/modules/rds/99-data.tf
  infra/terraform/modules/rds/99-outputs.tf
  infra/terraform/modules/rds/99-variables.tf
  infra/terraform/modules/route/01-route.tf
  infra/terraform/modules/route/99-data.tf
  infra/terraform/modules/route/99-locals.tf
  infra/terraform/modules/route/99-outputs.tf
  infra/terraform/modules/route/99-variables.tf
  infra/terraform/modules/security-group/01-security-group.tf
  infra/terraform/modules/security-group/99-data.tf
  infra/terraform/modules/security-group/99-locals.tf
  infra/terraform/modules/security-group/99-outputs.tf
  infra/terraform/modules/security-group/99-variables.tf
  infra/terraform/modules/vpc/01-vpc.tf
  infra/terraform/modules/vpc/02-subnet.tf
  infra/terraform/modules/vpc/03-route-table.tf
  infra/terraform/modules/vpc/04-internet-gateway.tf
  infra/terraform/modules/vpc/05-dhcp-options.tf
  infra/terraform/modules/vpc/06-elastic-ip.tf
  infra/terraform/modules/vpc/07-nat-gateway.tf
  infra/terraform/modules/vpc/08-vpn-gateway.tf
  infra/terraform/modules/vpc/09-client-vpn.tf
  infra/terraform/modules/vpc/99-data.tf
  infra/terraform/modules/vpc/99-locals.tf
  infra/terraform/modules/vpc/99-outputs.tf
  infra/terraform/modules/vpc/99-variables.tf
Labels: infra (terraform)

feat(infra): setup terraform (#77)
  infra/terraform/.terraform-version
  infra/terraform/modules/network-acl/01-network-acl.tf
  infra/terraform/modules/network-acl/99-data.tf
  infra/terraform/modules/network-acl/99-outputs.tf
  infra/terraform/modules/network-acl/99-variables.tf
  infra/terraform/modules/rds/01-db-instance.tf
  infra/terraform/modules/rds/02-db-subnet-group.tf
  infra/terraform/modules/rds/03-db-parameter-group.tf
  infra/terraform/modules/rds/04-db-option-group.tf
  infra/terraform/modules/rds/99-data.tf
  infra/terraform/modules/rds/99-outputs.tf
  infra/terraform/modules/rds/99-variables.tf
  infra/terraform/modules/route/01-route.tf
  infra/terraform/modules/route/99-data.tf
  infra/terraform/modules/route/99-locals.tf
  infra/terraform/modules/route/99-outputs.tf
  infra/terraform/modules/route/99-variables.tf
  infra/terraform/modules/security-group/01-security-group.tf
  infra/terraform/modules/security-group/99-data.tf
  infra/terraform/modules/security-group/99-locals.tf
  infra/terraform/modules/security-group/99-outputs.tf
  infra/terraform/modules/security-group/99-variables.tf
  infra/terraform/modules/vpc/01-vpc.tf
  infra/terraform/modules/vpc/02-subnet.tf
  infra/terraform/modules/vpc/03-route-table.tf
  infra/terraform/modules/vpc/04-internet-gateway.tf
  infra/terraform/modules/vpc/05-dhcp-options.tf
  infra/terraform/modules/vpc/06-elastic-ip.tf
  infra/terraform/modules/vpc/07-nat-gateway.tf
  infra/terraform/modules/vpc/08-vpn-gateway.tf
  infra/terraform/modules/vpc/09-client-vpn.tf
  infra/terraform/modules/vpc/99-data.tf
  infra/terraform/modules/vpc/99-locals.tf
  infra/terraform/modules/vpc/99-outputs.tf
  infra/terraform/modules/vpc/99-variables.tf
Labels: infra (terraform)

fix(*): update .env
  .env.temp
Labels: none

feat(docs): update admin swagger
  docs/swagger/admin/components/schemas/v1/admins.request.yaml
  docs/swagger/admin/components/schemas/v1/admins.response.yaml
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/email/index.yaml
  docs/swagger/admin/paths/v1/auth/email/verified.yaml
  docs/swagger/admin/paths/v1/auth/password.yaml
  docs/swagger/admin/paths/v1/auth/user.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/thumbnail.yaml
  docs/swagger/admin/paths/v1/upload/producers/thumbnail.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat(docs): update admin swagger (#79)
  docs/swagger/admin/components/schemas/v1/admins.request.yaml
  docs/swagger/admin/components/schemas/v1/admins.response.yaml
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/email/index.yaml
  docs/swagger/admin/paths/v1/auth/email/verified.yaml
  docs/swagger/admin/paths/v1/auth/password.yaml
  docs/swagger/admin/paths/v1/auth/user.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/thumbnail.yaml
  docs/swagger/admin/paths/v1/upload/producers/thumbnail.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

feat(workflow): update workflow for backend
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix: 性→姓
  web/admin/src/pages/coordinator/add.vue
  web/admin/src/pages/producers/add.vue
Labels: frontend (admin)

fix: 国のフォーム欄を削除
  web/admin/src/pages/coordinator/add.vue
  web/admin/src/pages/producers/add.vue
Labels: frontend (admin)

Feature/admin/products (#74)
  web/admin/nuxt.config.ts
  web/admin/src/components/atoms/TheFileUploadFiled.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/contacts.vue
  web/admin/src/pages/events.vue
  web/admin/src/pages/producers.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/products/index.vue
Labels: frontend (admin)

fix: chanege path
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/handler/user_test.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: backend (gateway), backend (user), test

fix(api): fix small
  .github/workflows/ci-backend-for-all.yaml
  api/internal/user/database/admin_test.go
Labels: backend (user), test, workflow

Feat/workflow/update backend ci (#80)
  .github/workflows/ci-backend-for-all.yaml
  api/internal/user/database/admin_test.go
Labels: backend (user), test, workflow

feat(workflow): update workflow for frontend
  .codecov.yaml
  .github/workflows/ci-frontend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(workflow): fix workflows
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(workflow): fix frontend workflows
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(workflow): fix checkout flow version
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(workflow): fix frontend workflows
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(workflow): fix workflows
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(workflow): fix backend workflows
  .github/workflows/ci-backend-for-all.yaml
Labels: workflow

fix(workflow): fix small
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(workflow): fix small
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(workflow): use cache
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(workflow): fix debug
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(workflow): fix small
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
Labels: workflow

fix(workflow): split cache key
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

fix(workflow): fix small
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

rebase commit
  api/internal/user/database/database.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  web/shop/.gitignore
Labels: backend (user), test

resolve conflict
  api/internal/user/database/database.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
Labels: backend (user), test

fix: path change to furumaru
  api/internal/exception/error.go
  api/internal/exception/error_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/gateway/user/v1/service/auth.go
  api/internal/gateway/user/v1/service/auth_test.go
  api/internal/gateway/util/response.go
  api/internal/gateway/util/response_test.go
  api/internal/user/database/admin.go
  api/internal/user/database/admin_test.go
  api/internal/user/database/database.go
  api/internal/user/database/database_test.go
  api/internal/user/entity/admin_atuth_test.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/user_auth.go
  api/internal/user/entity/user_auth_test.go
  api/internal/user/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
Labels: backend (gateway), backend (user), test

Feat/user/implement initialize user api (#62)
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/handler/user_test.go
  api/internal/gateway/user/v1/request/user.go
  api/internal/user/database/database.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  docs/swagger/user/components/schemas/v1/users.request.yaml
Labels: backend (gateway), backend (user), docs, test

Feature/admin/producers (#75)
  web/admin/src/components/atoms/TheFileUploadFiled.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/coordinator/add.vue
  web/admin/src/pages/producers.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/settings.vue
Labels: frontend (admin)

fix(workflow): split github actions job (#82)
  .codecov.yaml
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-frontend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: workflow

feat(gateway): create producer api mock
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/request/producer.go
  api/internal/gateway/admin/v1/response/producer.go
  docs/swagger/admin/components/schemas/v1/producers.request.yaml
  docs/swagger/admin/components/schemas/v1/producers.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  docs/swagger/admin/paths/v1/producers/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), docs, test
