Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

feat(media): アーカイブ動画の登録処理を実装 (#1638)
  api/internal/media/broadcast/scheduler/closer.go
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/scheduler.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/mock/pkg/storage/client.go
  api/pkg/storage/client.go
  api/pkg/storage/client_test.go
Labels: backend (api), backend (media), test

feat(media): ふた絵の操作ロジックを実装 (#1642)
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/mock/media/service.go
  api/mock/pkg/medialive/client.go
  api/pkg/medialive/client.go
  api/pkg/medialive/schedule.go
Labels: backend (api), backend (media), test

fix(serverless): pathの形式を修正
  infra/serverless/serverless.yml
Labels: none

fix(api): ライブ配信停止処理の修正
  api/internal/media/broadcast/scheduler/closer.go
Labels: backend (api), backend (media)

feat(store): 箱の占有率をDBで保持するように (#1639)
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_test.go
  api/internal/store/entity/order_fulfillment.go
  api/internal/store/entity/order_fulfillment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout_test.go
  infra/mysql/schema/2023112701-stores-add-column-order-fulfillments.sql
Labels: backend (api), backend (store), infra (database), test

feat(api): ライブ配信関連のエンドポイントを追加
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.request.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/archive-video.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/static-image.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), docs, test

fix(media): ライブスケジュールの時間指定をUTCに変更
  api/internal/media/broadcast/scheduler/const.go
  api/pkg/medialive/schedule.go
Labels: backend (api), backend (media)

feat(api): 注文関連のレスポンスに占有率を追加 (#1640)
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order_fulfillment.go
  api/internal/gateway/admin/v1/service/order_fulfillment_test.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/gateway/user/v1/service/cart.go
  api/internal/gateway/user/v1/service/cart_test.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/user/components/schemas/entity/cart.yaml
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/Cart.ts
Labels: frontend (admin), frontend (user), backend (api), backend (gateway), docs, test

fix(media): アーカイブPathの修正
  api/internal/media/entity/regulation.go
Labels: backend (api), backend (media)

feat(media): アーカイブ動画アップロード処理の実装 (#1641)
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/scheduler.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/mock/media/service.go
Labels: backend (api), backend (media), test

fix(media): ライブスケジュールの設定を修正
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (api), backend (media)

Revert "fix(media): ライブスケジュールの設定を修正"
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (api), backend (media)

fix(serverless): 出力設定からアーカイブグループを削除
  infra/serverless/serverless.yml
Labels: none

feat: 郵便番号で住所を検索する関数の追加
  web/user/src/store/address.ts
Labels: frontend (user)

feat: チェックアウトAPIを呼び出す関数の実装
  web/user/src/plugins/api-client.ts
  web/user/src/store/checkout.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

Feat/purchase moblie (#1643)
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

feat: サインアップのAPI呼び出し関数を追加
  web/user/src/pages/signup.vue
  web/user/src/store/auth.ts
Labels: frontend (user)

feat(media): ライブ配信時のMP4入力を動的に指定できるように
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/mock/media/service.go
  api/pkg/medialive/schedule.go
  docs/swagger/admin/components/schemas/v1/broadcast.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/mp4.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/rtmp.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

feat(media): ライブ配信時のMP4入力を動的に指定できるように (#1660)
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/mock/media/service.go
  api/mock/pkg/storage/client.go
  api/pkg/medialive/schedule.go
  api/pkg/storage/client.go
  api/pkg/storage/client_test.go
  docs/swagger/admin/components/schemas/v1/broadcast.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/mp4.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/rtmp.yaml
  infra/serverless/serverless.yml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

Revert "chore(deps): bump github.com/aws/aws-sdk-go-v2/service/internal/presigned-url (#1652)"
  api/go.mod
  api/go.sum
Labels: backend (api)

Revert "chore(deps): bump github.com/aws/aws-sdk-go-v2/service/internal/presigned-url (#1652)" (#1661)
  api/go.mod
  api/go.sum
Labels: backend (api)

infra(serverless): CloudFrontディストリビューションを削除するStepFunctionsを追加 (#1644)
  infra/serverless/functions/disableDistribution/handler.js
  infra/serverless/package.json
  infra/serverless/serverless.yml
  infra/serverless/yarn.lock
Labels: none

fix(api): fix small
  api/Makefile
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

Feat/media/changing input mp4 (#1662)
  api/Makefile
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

Add: added purchase confirmation mobile page
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

feat(api): 電話番号のバリデーションを修正
  api/internal/messenger/input.go
  api/internal/user/input.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: backend (api), backend (messenger), backend (user), test

fix(media): DIの修正
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (api), backend (gateway)

fix(media): S3 URIへの変換処理を追加
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
Labels: backend (api), backend (media), test

fix(media): 配信入力チャンネルにわたす値の修正
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
Labels: backend (api), backend (media), test

Add: added purchase complete moblie page
  web/user/src/pages/v1/purchase/complete.vue
Labels: frontend (user)

fix(media): アーカイブ動画の保存先Pathを修正
  api/internal/media/broadcast/scheduler/scheduler.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
Labels: backend (api), backend (media), test

fix: アイコンのサイズを調整
  web/user/src/components/molecules/TheAlert.vue
Labels: frontend (user)

fix: クレジットカードアイコンの位置を調整
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

feat: タイトルを追加
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

Feat/web/user/address (#1663)
  api/go.mod
  api/go.sum
  web/user/src/components/molecules/TheAlert.vue
  web/user/src/pages/signup.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/address.ts
  web/user/src/store/auth.ts
  web/user/src/store/checkout.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user), backend (api)

Add: added purchase confirmation mobile page (#1664)
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

Add: added purchase complete moblie page (#1665)
  web/user/src/pages/v1/purchase/complete.vue
Labels: frontend (user)

feat(admin): ライブ配信操作用のUIを追加
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleShow.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/store/broadcast.ts
Labels: frontend (admin)

fix(admin): マルシェ開催スケジュール詳細ページの修正
  web/admin/src/pages/schedules/[id]/index.vue
Labels: frontend (admin)

fix(store): マルシェ開催スケジュール関連APIの修正
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/database/mysql/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service/schedule.go
Labels: backend (api), backend (gateway), backend (store), test
