Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(api): fix small
  api/internal/store/database/mysql/address.go
  api/internal/store/database/mysql/address_test.go
  api/internal/user/database/mysql/address.go
  api/internal/user/database/mysql/address_test.go
Labels: backend (api), backend (store), backend (user), test

fix(api): fix small
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/service/address.go
  api/internal/gateway/admin/v1/service/address_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/address.go
  api/internal/store/database/mysql/address_test.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/address.go
  api/internal/store/service/address_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  infra/mysql/schema/2023110202-stores-drop-table-addresses.sql
Labels: backend (api), backend (gateway), backend (store), infra (database), test

fix(api): fix small
  infra/mysql/schema/2023110202-stores-drop-table-addresses.sql
Labels: infra (database)

fix(api): fix small
  .github/workflows/ci-backend.yaml
Labels: workflow

fix(api): fix small
  infra/mysql/schema/2023110202-stores-drop-table-addresses.sql
Labels: infra (database)

feat(user): アドレス関連APIの実装 (#1484)
  .github/workflows/ci-backend.yaml
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/service/address.go
  api/internal/gateway/admin/v1/service/address_test.go
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/address_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/service_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/address.go
  api/internal/user/database/mysql/address_test.go
  api/internal/user/database/mysql/mysql.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/address.go
  api/internal/user/service/address_test.go
  api/internal/user/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  infra/mysql/schema/2023110201-users-create-addresses.sql
  infra/mysql/schema/2023110202-stores-drop-table-addresses.sql
Labels: backend (api), backend (gateway), backend (store), backend (user), infra (database), test, workflow

feat: 商品詳細ページの実装
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

商品関連APIとの連携 (#1485)
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/constants/products_export.csv
  web/user/src/constants/products_export.json
  web/user/src/constants/transform.py
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/plugins/helpter/factory.ts
  web/user/src/store/product.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

fix(api): 管理者用APIの起動時設定を修正
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (api), backend (gateway)

fix(api): エラーハンドリングの修正
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/pkg/sentry/option.go
  api/pkg/sentry/option_test.go
Labels: backend (api), backend (gateway), test

fix(api): エラーハンドリングの修正 (#1487)
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/pkg/sentry/option.go
  api/pkg/sentry/option_test.go
Labels: backend (api), backend (gateway), test

fix(api): Sentryクライアントの修正
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/pkg/sentry/client.go
  api/pkg/sentry/option.go
Labels: backend (api), backend (gateway)

fix(api): Sentryクライアントの修正
  api/pkg/sentry/option.go
Labels: backend (api)

fix: 商品一覧表示に利用するコンポーネントの改修
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

feat: API呼び出し時にCookieを利用するように修正
  web/user/src/plugins/helpter/factory.ts
Labels: frontend (user)

feat: ショッピングカートAPIの呼び出し関数の追加
  web/user/src/plugins/api-client.ts
  web/user/src/store/shopping.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

feat: カート呼び出しAPIの呼び出し処理を追加
  web/user/src/layouts/default.vue
Labels: frontend (user)

feat: カートに追加ボタンのハンドリングを追加（一覧画面）
  web/user/src/pages/items/index.vue
Labels: frontend (user)

fix: カートAPIの呼び出し前にエラーにならないように修正
  web/user/src/store/shopping.ts
Labels: frontend (user)

rename: ストア名の変更に合わせて変数名を更新
  web/user/src/pages/index.vue
Labels: frontend (user)

feat: カートに追加ボタンのAPI呼び出しを追加（商品詳細ページ）
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

fix: lintに怒られた箇所を修正
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

fix(api): sentryのtraceを有効化
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/util/response.go
  api/internal/gateway/util/response_test.go
Labels: backend (api), backend (gateway), test

fix(api): Sentryの動作確認用のログを追加
  api/internal/gateway/admin/v1/handler/api.go
Labels: backend (api), backend (gateway)

fix(api): エラーメッセージの整形
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/pkg/sentry/option.go
Labels: backend (api), backend (gateway)

fix(api): Sentryの設定値を追加
  api/pkg/sentry/option.go
Labels: backend (api)

fix(api): CronJobの起動時設定を修正
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/resizer/resizer.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/scheduler/scheduler.go
  api/internal/media/cmd/updater/registry.go
  api/internal/media/cmd/updater/updater.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/scheduler/scheduler.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/cmd/worker/worker.go
Labels: backend (api), backend (media), backend (messenger)

買い物かごAPIとの連携 (#1488)
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/index.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/plugins/helpter/factory.ts
  web/user/src/store/shopping.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

fix(api): パスワードのバリデーションを修正
  api/go.mod
  api/go.sum
  api/internal/user/entity/member.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/service.go
  api/internal/user/service/user_test.go
  api/mock/pkg/validator/validator.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: backend (api), backend (user), test

fix(api): パスワードのバリデーションを修正 (#1489)
  api/go.mod
  api/go.sum
  api/internal/user/entity/member.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/service.go
  api/internal/user/service/user_test.go
  api/mock/pkg/validator/validator.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: backend (api), backend (user), test

feat: トップページ用のAPIを呼び出すクライアントの追加
  web/user/src/pages/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/home.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

feat(api): Sentryアラートにサーバー名と環境を出すように
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/updater/registry.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/registry.go
  api/pkg/log/logger.go
  api/pkg/log/logger_test.go
  api/pkg/log/setnry.go
  api/pkg/sentry/option.go
Labels: backend (api), backend (gateway), backend (media), backend (messenger), test

feat(api): Sentryアラートにサーバー名と環境を出すように (#1491)
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/updater/registry.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/registry.go
  api/pkg/log/logger.go
  api/pkg/log/logger_test.go
  api/pkg/log/setnry.go
  api/pkg/sentry/option.go
Labels: backend (api), backend (gateway), backend (media), backend (messenger), test

fix(docs): トップページ用APIのドキュメント修正
  docs/swagger/user/components/schemas/entity/top.yaml
  web/user/src/types/api/models/TopArchive.ts
  web/user/src/types/api/models/TopCommonResponse.ts
  web/user/src/types/api/models/TopLive.ts
  web/user/src/types/api/models/TopLiveProductsInner.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

fix(docs): トップページ用APIのドキュメント修正 (#1492)
  docs/swagger/user/components/schemas/entity/top.yaml
  web/user/src/types/api/models/TopArchive.ts
  web/user/src/types/api/models/TopCommonResponse.ts
  web/user/src/types/api/models/TopLive.ts
  web/user/src/types/api/models/TopLiveProductsInner.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), docs

fix: 型定義を更新
  web/user/src/store/home.ts
Labels: frontend (user)

トップページ用のAPIを呼び出すクライアントの追加 (#1490)
  web/user/src/pages/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/home.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

fix(api): fix small
  api/internal/store/database/mysql/product_test.go
Labels: backend (api), backend (store), test

fix(api): fix small
  api/internal/user/database/mysql/user.go
  api/internal/user/entity/coordinator_test.go
Labels: backend (api), backend (user), test

feat: 各ページにtitleタグを設定してみる
  web/user/nuxt.config.ts
  web/user/src/pages/about.vue
  web/user/src/pages/index.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
Labels: frontend (user)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
