Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), infra (container), infra (functions), infra (terraform), infra (database), docs, test, workflow

fix(web): fix api types
  web/admin/src/pages/producers/index.vue
Labels: frontend (admin)

feat(gateway): define update coordinator api (#212)
  .github/workflows/ci-docs-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/message_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/shipping_test.go
  api/internal/gateway/admin/v1/request/coordinator.go
  api/internal/gateway/admin/v1/request/producer.go
  docs/swagger/.node-version
  docs/swagger/admin/components/schemas/v1/coordinator.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/email.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/password.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/email.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  docs/swagger/openapitools.json
  docs/swagger/package.json
  docs/swagger/yarn.lock
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
  web/admin/src/pages/producers/index.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), infra (container), docs, test, workflow

feat(user): implement update producer logic
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/administrator.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/messenger/service.go
  api/mock/pkg/cognito/client.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  api/pkg/cognito/admin.go
  api/pkg/cognito/client.go
Labels: backend (messenger), backend (user), test

feat(messenger): update config
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
Labels: backend (messenger)

feat(user): implement update producer logic (#213)
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/administrator.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/messenger/service.go
  api/mock/pkg/cognito/client.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  api/pkg/cognito/admin.go
  api/pkg/cognito/client.go
Labels: backend (messenger), backend (user), test

feat: add NewNotification
  api/internal/gateway/admin/v1/service/notification.go
Labels: backend (gateway)

test: jestでpiniaのテストコードを記述した
  web/admin/jest.config.js
  web/admin/test/store/common.spec.ts
Labels: frontend (admin), test

fix: テストで気づいたバクの修正
  web/admin/src/store/common.ts
Labels: frontend (admin)

feat(user): implement update coordinator api
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (user), test

feat(gateway): changing access log format
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (gateway), backend (user)

fix(user): fix test code
  api/internal/user/database/coordinator_test.go
Labels: backend (user), test

wip: auth signInのテストの記述
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/index.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/test/store/auth.spec.ts
Labels: frontend (admin), test

fix(gateway): fix lint
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (gateway), backend (user)

fix(user): fix test code
  api/internal/user/service/producer_test.go
Labels: backend (user), test

feat(user): implement update coordinator api (#215)
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: backend (user), test

feat(gateway): implement update producer and coordinator api
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
Labels: backend (gateway), test

fix(user): add error handling for update admin email
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  docs/swagger/admin/paths/v1/auth/email/index.yaml
Labels: backend (user), docs, test

feat(gateway): changing latency log format
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (gateway), backend (user)

refactor(*): implement v2 set package
  api/hack/database-migrate/main.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/messenger/entity/notification.go
  api/internal/store/codes/prefecture.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/service/shipping_test.go
  api/pkg/set/v2/set.go
  api/pkg/set/v2/set_test.go
Labels: backend (gateway), backend (messenger), backend (store), test

fix(docs): fix typo in api types
  docs/swagger/admin/paths/v1/shippings/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), docs

refactor(*): implement v2 set package (#218)
  api/hack/database-migrate/main.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/messenger/entity/notification.go
  api/internal/store/codes/prefecture.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/service/shipping_test.go
  api/pkg/set/v2/set.go
  api/pkg/set/v2/set_test.go
Labels: backend (gateway), backend (messenger), backend (store), test

feat(gateway): implement update producer and coordinator api (#216)
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
Labels: backend (gateway), test

fix(user): add error handling for update admin email (#217)
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  docs/swagger/admin/paths/v1/auth/email/index.yaml
Labels: backend (user), docs, test

fix(user): implement update coordinator email
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
Labels: backend (user), test

メールアドレス変更２
  web/admin/src/pages/accounts/email/certification.vue
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

test: store配下のテスト環境を整える
  web/admin/src/plugins/factory.ts
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/test/store/auth.spec.ts
Labels: frontend (admin), test

feat(gateway): implement update admin api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/request/administrator.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/database.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/email.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/index.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/password.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

fix(user): fix test code
  api/internal/user/service/admin_auth_test.go
Labels: backend (user), test

feat(gateway): implement update admin api (#220)
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/request/administrator.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/database.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/email.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/index.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/password.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

test: Piniaのテストを記述 (#214)
  web/admin/jest.config.js
  web/admin/src/plugins/factory.ts
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/common.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/test/store/auth.spec.ts
  web/admin/test/store/common.spec.ts
Labels: frontend (admin), test

chore: axios-mock-adapterの導入
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

feat: add convert type method
  api/internal/gateway/admin/v1/service/notification.go
Labels: backend (gateway)

feat: add NewNotification Response
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/service/notification.go
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/base.ts
  web/admin/src/types/api/common.ts
  web/admin/src/types/api/configuration.ts
  web/admin/src/types/api/index.ts
  web/user/src/types/api/api.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
  web/user/src/types/api/configuration.ts
  web/user/src/types/api/index.ts
Labels: frontend (admin), frontend (user), backend (gateway)

feat: add handler_test proto
  api/internal/gateway/admin/v1/handler/notification_test.go
Labels: backend (gateway), test

feat(user): add sort query for list producers
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/producer.go
  api/internal/user/input.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  docs/swagger/admin/paths/v1/producers/index.yaml
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/base.ts
  web/admin/src/types/api/common.ts
  web/admin/src/types/api/configuration.ts
  web/admin/src/types/api/index.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

fix(user): fix lint
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/base.ts
  web/admin/src/types/api/common.ts
  web/admin/src/types/api/configuration.ts
  web/admin/src/types/api/index.ts
Labels: frontend (admin)

feat(user): add sort query for list producers (#221)
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/producer.go
  api/internal/user/input.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  docs/swagger/admin/paths/v1/producers/index.yaml
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (gateway), backend (user), docs, test

Add: added error message (#206)
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

conflict refactor
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

conflict refactor (#222)
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (gateway):
- api/**/gateway/**/*
backend (media):
- api/**/media/**/*
backend (messenger):
- api/**/messenger/**/*
backend (store):
- api/**/store/**/*
backend (user):
- api/**/user/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (functions):
- infra/functions/**/*
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
