Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*

fix(api): レスポンスの修正
  api/internal/gateway/user/v1/response/auth.go
  api/internal/gateway/user/v1/service/auth.go
  docs/swagger/user/components/schemas/v1/auth.response.yaml
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/AuthUserResponse.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/FulfillmentStatus.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/OrderRefundType.ts
  web/user/src/types/api/models/OrderStatus.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentStatus.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingCarrier.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs

feat: アカウント情報の部分のUIを修正
  web/user/src/pages/account/index.vue
Labels: frontend (user)

アカウントページの実装 (#1865)
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/middleware/auth.global.ts
  web/user/src/pages/account/index.vue
Labels: frontend (user)

fix: dayjsのunixのimportの仕方を変更
  web/user/src/components/molecules/TheLiveTimelineItem.vue
Labels: frontend (user)

fix: dayjsのunixのimportの仕方を変更 (#1866)
  web/user/src/components/molecules/TheLiveTimelineItem.vue
Labels: frontend (user)

feat: 商品詳細ページで複数画像を選択できるようにした
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

feat: 商品詳細ページで複数画像を選択できるようにした (#1867)
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

feat(workflow): バックエンドの本番デプロイ用のワークフロー追加
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  api/hack/create-admin/main.go
Labels: backend (api), workflow

feat(workflow): バックエンドの本番デプロイ用のワークフロー追加 (#1868)
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  api/hack/create-admin/main.go
Labels: backend (api), workflow

feat(workflow): フロントエンドの管理画面デプロイ用のワークフローを追加
  .github/workflows/cd-web-admin-for-prd.yaml
Labels: workflow

fix(workflow): 動作検証用に設定変更
  .github/workflows/cd-web-admin-for-prd.yaml
Labels: workflow

feat(workflow): フロントエンドのデプロイ用のワークフローを追加
  .github/workflows/cd-web-user-for-prd.yaml
Labels: workflow

fix(workflow): 本番デプロイ用のワークフローを修正
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-messenger-for-prd.yaml
Labels: workflow

fix(workflow): 本番デプロイ用のワークフローを修正 (#1869)
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-messenger-for-prd.yaml
Labels: workflow

fix(workflow): 本番デプロイ用のワークフローを修正
  .github/workflows/cd-messenger-for-prd.yaml
Labels: workflow

fix(workflow): 本番デプロイ用のワークフローを修正 (#1870)
  .github/workflows/cd-messenger-for-prd.yaml
Labels: workflow

feat(hack): 初期データ投入用のコマンドを実装
  api/hack/database-seeds/main.go
  api/hack/database-seeds/master/message-template.csv
  api/hack/database-seeds/master/payment-status.csv
  api/hack/database-seeds/master/push-template.csv
  api/hack/database-seeds/master/report-template.csv
  api/hack/database-seeds/master/shipping.go
  api/hack/database-seeds/messenger/execute.go
  api/hack/database-seeds/store/execute.go
Labels: backend (api)

feat: ヘッダーメニューの表示・非表示の設定変更
  web/user/src/components/organisms/header/TheAppHeader.vue
Labels: frontend (user)

feat: 商品詳細の複数画像のレイアウト調整
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

feat: 認証状態でメニューを変化するように修正
  web/user/src/components/organisms/header/TheAppHeader.vue
Labels: frontend (user)

feat(hack): 初期データ投入用のコマンドを実装 (#1886)
  api/hack/database-seeds/main.go
  api/hack/database-seeds/master/message-template.csv
  api/hack/database-seeds/master/payment-status.csv
  api/hack/database-seeds/master/push-template.csv
  api/hack/database-seeds/master/report-template.csv
  api/hack/database-seeds/master/shipping.go
  api/hack/database-seeds/messenger/execute.go
  api/hack/database-seeds/store/execute.go
Labels: backend (api)

fix: 文字サイズの調整
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

feat: 商品一覧ページをSSR対応にした
  web/user/src/pages/items/index.vue
Labels: frontend (user)

fix(hack): タイポの修正
  api/hack/database-seeds/store/execute.go
Labels: backend (api)

fix(hack): タイポの修正 (#1887)
  api/hack/database-seeds/store/execute.go
Labels: backend (api)

feat: ライブ視聴画面をSSR対応にした
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

feat: トップページをSSR対応にした
  web/user/src/pages/index.vue
Labels: frontend (user)

ユーザー向け画面の調整 (#1888)
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/pages/index.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

feat: コーディネーターページをSSRするようにした
  web/user/src/pages/coordinator/[...id].vue
Labels: frontend (user)

feat: コーディネーターページをSSRするようにした (#1889)
  web/user/src/pages/coordinator/[...id].vue
Labels: frontend (user)

fix: 商品詳細で文字が重なってしまう不具合を修正
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

fix: 商品詳細で文字が重なってしまう不具合を修正 (#1890)
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

feat: マイページにログアウトボタンを追加
  web/user/src/pages/account/index.vue
Labels: frontend (user)

fix: サムネイル部分を修正
  web/user/src/components/molecules/TheLiveItem.vue
Labels: frontend (user)

fix: viedo部分をcsrだけに一時的にする
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

feat: マイページにログアウトボタンを追加 (#1891)
  web/user/src/pages/account/index.vue
Labels: frontend (user)

ライブ視聴ページの修正 (#1892)
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

Fix: fixed coordinator live item css
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
Labels: frontend (user)

Fix: fixed coordinator live item css (#1893)
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
Labels: frontend (user)

fix: トップページのSSRをやめる
  web/user/src/pages/index.vue
Labels: frontend (user)
