Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*

infra: add dockerfile for amplify
  infra/docker/infra/amplify/Dockerfile
Labels: infra (container)

fix(admin): fix for lint
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/components/templates/OrderList.vue
Labels: frontend (admin)

refactor(admin): 注文一覧のリファクタ (#859)
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/pages/orders/index.vue
Labels: frontend (admin)

fix: データテーブルにhoverをつける
  web/admin/src/components/templates/ProductList.vue
Labels: frontend (admin)

feat(admin): add helper fot images
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/lib/helpers/image.ts
  web/admin/src/lib/helpers/index.ts
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/producers/index.vue
Labels: frontend (admin)

fix(admin): fix small
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/lib/helpers/image.ts
Labels: frontend (admin)

fix: fileがnullのときはemitしないようにした
  web/admin/src/components/atoms/FileUploadFiled.vue
Labels: frontend (admin)

refactor: 商品登録・更新周りでコンポーネントを細かくするのは意味がなかったので一つにまとめた
  web/admin/src/components/molecules/ProductDeliveryForm.vue
  web/admin/src/components/molecules/ProductDetailForm.vue
  web/admin/src/components/molecules/ProductInventoryForm.vue
  web/admin/src/components/molecules/ProductMediaForm.vue
  web/admin/src/components/molecules/ProductNameAndDescriptionForm.vue
  web/admin/src/components/organisms/ProductForm.vue
  web/admin/src/components/organisms/ProductUpdateForm.vue
  web/admin/src/components/templates/ProductUpdateFormPage.vue
Labels: frontend (admin)

feat: 商品登録・編集画面を共通化した
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

[chore] move directory
  infra/docker/web/amplify/Dockerfile
Labels: infra (container)

fix(admin): fix for reviews
  web/admin/src/lib/helpers/image.ts
Labels: frontend (admin)

商品更新フォームを商品登録フォームに合わせる (#864)
  web/admin/src/components/atoms/FileUploadFiled.vue
  web/admin/src/components/molecules/ProductDeliveryForm.vue
  web/admin/src/components/molecules/ProductDetailForm.vue
  web/admin/src/components/molecules/ProductInventoryForm.vue
  web/admin/src/components/molecules/ProductMediaForm.vue
  web/admin/src/components/molecules/ProductNameAndDescriptionForm.vue
  web/admin/src/components/organisms/ProductForm.vue
  web/admin/src/components/organisms/ProductUpdateForm.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductUpdateFormPage.vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

feat(admin): add helper fot images (#863)
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/lib/helpers/image.ts
  web/admin/src/lib/helpers/index.ts
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/producers/index.vue
Labels: frontend (admin)

feat: 配列の最大長に関するバリデーションルールを追加
  web/admin/src/lib/validations/rule.ts
Labels: frontend (admin)

feat: サムネイル画像を選択できるようにした、最大長でバリデーションをかけた
  web/admin/src/components/organisms/ProductForm.vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

infra: add dockerfile for amplify (#862)
  infra/docker/web/amplify/Dockerfile
Labels: infra (container)

商品登録・更新の選択とバリデーションの実装 (#865)
  web/admin/src/components/organisms/ProductForm.vue
  web/admin/src/lib/validations/rule.ts
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

Refacoring
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/pages/promotions/edit/[id].vue
Labels: frontend (admin)

Refacoring (#886)
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/pages/promotions/edit/[id].vue
Labels: frontend (admin)

fix: メールアドレス更新フォームでフロントエンド側でバリデーションを実施する
  web/admin/src/components/templates/AuthEditEmail.vue
Labels: frontend (admin)

fix: 削除ボタンをクリックしても詳細画面に遷移しないようにする
  web/admin/src/components/templates/ProductList.vue
Labels: frontend (admin)

fix(admin): fix column name for admin
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
Labels: backend (api), backend (user), test

fix(admin): fix create product handler
  api/internal/gateway/admin/v1/handler/product.go
Labels: backend (api), backend (gateway)

fix(admin): fix column name for admin (#889)
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
Labels: backend (api), backend (user), test

fix(admin): fix create product handler (#890)
  api/internal/gateway/admin/v1/handler/product.go
Labels: backend (api), backend (gateway)

fix: 削除する画像がサムネイルとして選択されていた場合は先頭の画像をサムネイル画像にする
  web/admin/src/components/organisms/ProductForm.vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

chore(admin): major update
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

chore(admin): minor update
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

chore(admin): patch update
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

fix: remove published and canceled form entity
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
Labels: backend (api), backend (store), test

fix: メールアドレス更新フォームでフロントエンド側でバリデーションを実施する (#887)
  web/admin/src/components/templates/AuthEditEmail.vue
Labels: frontend (admin)

fix: remove updatePublic
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (api)

fix: remove published and canceled form service
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
Labels: backend (api), backend (gateway), test

fix: remove published and canceled for handler
  api/internal/gateway/admin/v1/handler/live_test.go
Labels: backend (api), backend (gateway), test

fix: remove published and canceled from entity
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
Labels: backend (api), backend (store), test

fix: remove updatePublic from database
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
Labels: backend (api), backend (store), test

chore: make mockgen
  api/mock/store/database/database.go
Labels: backend (api)

fix: remove updatePublic form Live
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
Labels: backend (api), backend (store), test

feat: サムネイル画像アップロード時にサムネイル画像がtrueのものがない場合にセットする処理を追加
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)
