Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(workflow): messengerデプロイフローの修正
  .github/workflows/cd-messenger-for-stg.yaml
Labels: workflow

fix(gateway): ヘルスチェックエンドポイントの追加 (#2121)
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (api), backend (gateway)

fix(workflow): デプロイフローの修正
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-messenger-for-prd.yaml
Labels: workflow

fix(workflow): リリースタグバージョンの取得周りを修正
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
Labels: workflow

fix: productsの配列にundefinedが入るの事象の修正
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

fix: typoの修正
  web/user/src/components/molecules/TheLiveTimelineItem.vue
Labels: frontend (user)

fix(store): ライブ配信への商品紐づけ数制限を削除
  api/internal/store/input.go
Labels: backend (api), backend (store)

feat(user): Sentryの導入
  web/admin/.node-version
  web/user/.node-version
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/plugins/sentry.client.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/FulfillmentStatus.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/OrderRefundType.ts
  web/user/src/types/api/models/OrderStatus.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentStatus.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/PromotionStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingCarrier.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/UploadStatus.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
  web/user/yarn.lock
Labels: frontend (admin), frontend (user)

fix(workflow): リリースタグバージョンの取得周りを修正 (#2124)
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
Labels: workflow

fix(store): ライブ配信への商品紐づけ数制限を削除 (#2126)
  api/internal/store/input.go
Labels: backend (api), backend (store)

ライブ詳細Cannot read properties of undefinedになるバグを修正 (#2125)
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

fix(user): fix for reviews
  web/admin/nuxt.config.ts
  web/admin/src/plugins/sentry.client.ts
  web/user/nuxt.config.ts
  web/user/src/plugins/sentry.client.ts
Labels: frontend (admin), frontend (user)

feat(user): Sentryの導入 (#2127)
  web/admin/.node-version
  web/admin/nuxt.config.ts
  web/user/.node-version
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/plugins/sentry.client.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/FulfillmentStatus.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/OrderRefundType.ts
  web/user/src/types/api/models/OrderStatus.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentStatus.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/PromotionStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingCarrier.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/UploadStatus.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
  web/user/yarn.lock
Labels: frontend (admin), frontend (user)

fix(user): Linterにより修正されている自動生成ファイルの修正
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/FulfillmentStatus.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/OrderRefundType.ts
  web/user/src/types/api/models/OrderStatus.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentStatus.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/PromotionStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingCarrier.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/UploadStatus.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user)

fix(user): Linterにより修正されている自動生成ファイルの修正 (#2128)
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/FulfillmentStatus.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/OrderRefundType.ts
  web/user/src/types/api/models/OrderStatus.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentStatus.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/PromotionStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingCarrier.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/UploadStatus.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user)

feat(store): ライブ配信をデフォルト公開状態に
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/service/schedule_test.go
Labels: backend (api), backend (store), test

feat(store): ライブ配信をデフォルト公開状態に (#2129)
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/service/schedule_test.go
Labels: backend (api), backend (store), test

feat(admin): ライブ配信公開/非公開ボタンの追加
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/store/schedule.ts
Labels: frontend (admin)

feat(admin): ライブ配信公開/非公開ボタンの追加 (#2130)
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/store/schedule.ts
Labels: frontend (admin)

feat: アカウントアイコンのコンポーネントの色を変更できるようにする
  web/user/src/components/atoms/icons/TheAccountIcon.vue
  web/user/src/pages/account/index.vue
Labels: frontend (user)

feat: 認証が必要な場合に表示するカードコンポーネントの実装
  web/user/src/components/organisms/TheAuthErrorCard.vue
Labels: frontend (user)

Add: added all archive item page
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/pages/marches/index.vue
  web/user/src/store/live.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

Fix: fixed archive grid
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/pages/marches/index.vue
Labels: frontend (user)

feat: アカウント編集周りのUI変更
  web/user/src/pages/account/edit/email.vue
  web/user/src/pages/account/edit/notification.vue
  web/user/src/pages/account/edit/password.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/edit/username.vue
  web/user/src/pages/account/index.vue
Labels: frontend (user)

Fix: typo and so on
  web/user/src/pages/marches/index.vue
  web/user/src/store/live.ts
Labels: frontend (user)

Fix: fixed small
  web/user/src/store/live.ts
Labels: frontend (user)

Feat/live list (#2133)
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/pages/marches/index.vue
  web/user/src/store/live.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

fix(gateway): 起動時処理の修正
  api/internal/gateway/cmd/user/registry.go
Labels: backend (api), backend (gateway)

fix(gateway): 起動時処理の修正 (#2134)
  api/internal/gateway/cmd/user/registry.go
Labels: backend (api), backend (gateway)

feat: ユーザー名の変更処理を追加
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/organisms/TheAccountEditCompleteCard.vue
  web/user/src/pages/account/edit/complete.vue
  web/user/src/pages/account/edit/username.vue
Labels: frontend (user)

feat: ユーザーIDの変更処理を追加
  web/user/src/components/organisms/TheAccountEditCompleteCard.vue
  web/user/src/pages/account/edit/id.vue
Labels: frontend (user)

feat: メールアドレス変更処理の追加
  web/user/src/pages/account/edit/email.vue
Labels: frontend (user)

feat: メールの通知設定変更処理を追加
  web/user/src/pages/account/edit/notification.vue
Labels: frontend (user)

wip: サムネイル変更処理を途中まで実装
  web/user/src/pages/account/edit/thumbnail.vue
Labels: frontend (user)

feat: 更新処理系のaction関数を用意
  web/user/src/store/auth.ts
Labels: frontend (user)

Add: added default img/video
  web/admin/src/components/molecules/ImageSelectForm.vue
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/pages/schedules/new.vue
Labels: frontend (admin)

Add: added default img/video (#2136)
  web/admin/src/components/molecules/ImageSelectForm.vue
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/pages/schedules/new.vue
Labels: frontend (admin)

feat: パスワード変更処理を追加
  web/user/src/pages/account/edit/password.vue
  web/user/src/store/auth.ts
Labels: frontend (user)

fix(gateway): アップロード状態取得APIの認証を削除
  api/internal/gateway/user/v1/handler/uploader.go
  docs/swagger/user/paths/v1/upload/state.yaml
  web/user/src/types/api/apis/OtherApi.ts
Labels: frontend (user), backend (api), backend (gateway), docs

fix: プロフィール写真を変更できるようにした
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/auth.ts
  web/user/src/store/helpter.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
