Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

chore(admin): upgrade node version
  web/admin/.node-version
  web/admin/.tool-versions
Labels: frontend (admin)

fix(admin): add sass
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

fix(workflow): fix workflows
  .github/workflows/ci-web-admin-for-all.yaml
  infra/docker/web/admin/Dockerfile.development
Labels: infra (container), workflow

fix(admin): import path
  web/admin/src/plugins/vuetify.ts
Labels: frontend (admin)

fix(admin): fix layouts
  web/admin/src/layouts/auth.vue
  web/admin/src/layouts/default.vue
  web/admin/src/layouts/error.vue
Labels: frontend (admin)

fix(admin): fix lint
  web/admin/src/pages/accounts/index.vue
Labels: frontend (admin)

fix(admin): fix conflict
  web/admin/src/pages/notifications/index.vue
  web/admin/src/store/notification.ts
Labels: frontend (admin)

fix(admin): changing file name on pages
  web/admin/.stylelintcache
  web/admin/src/pages/contacts/edit/[id].vue
  web/admin/src/pages/coordinators/edit/[id].vue
  web/admin/src/pages/customers/edit/[id].vue
  web/admin/src/pages/customers/edit/id.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/orders/[id].vue
  web/admin/src/pages/producers/edit/[id].vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/shippings/edit/[id].vue
  web/admin/yarn.lock
Labels: frontend (admin)

fix(admin): fix for lint
  web/admin/src/layouts/auth.vue
  web/admin/src/layouts/default.vue
  web/admin/src/layouts/error.vue
  web/admin/src/pages/coordinators/edit/[id].vue
Labels: frontend (admin)

fix(admin): fix import path
  web/admin/src/lib/hooks/useAlert.ts
  web/admin/src/lib/hooks/usePagination.ts
  web/admin/src/lib/hooks/useSearchAddress.ts
Labels: frontend (admin)

chore(admin): move from static to public
  web/admin/src/public/app-logo-with-title.svg
  web/admin/src/public/app-title.svg
  web/admin/src/public/favicon.ico
  web/admin/src/public/firebase-messaging-sw.js
  web/admin/src/public/furulogo.png
  web/admin/src/public/v.png
  web/admin/src/public/vuetify-logo.svg
Labels: frontend (admin)

fix(admin): fix postinstall
  web/admin/.gitignore
  web/admin/src/sw/firebase-messaging-sw.ts
Labels: frontend (admin)

fix(admin): remove unused files
  web/admin/.prettierignore
  web/admin/.prettierrc
Labels: frontend (admin)

fix(admin): fix for build error
  web/admin/.gitignore
  web/admin/package.json
  web/admin/src/pages/settings.vue
  web/admin/yarn.lock
Labels: frontend (admin)

feat(admin): disable test job
  .github/workflows/ci-web-admin-for-all.yaml
Labels: workflow

fix(admin): fix yaml format
  .github/workflows/ci-web-admin-for-all.yaml
Labels: workflow

fix(admin): fix for build error
  node_modules/.yarn-integrity
  web/admin/.stylelintcache
  web/admin/nuxt.config.ts
  web/admin/src/plugins/factory.ts
  web/admin/src/plugins/firebase.ts
  web/admin/src/static/firebase-messaging-sw.js
  web/admin/src/store/auth.ts
  web/admin/src/sw/firebase-messaging-sw.ts
  yarn.lock
Labels: frontend (admin)

fix(admin): add ignore
  web/admin/.gitignore
Labels: frontend (admin)

Delete yarn.lock
  yarn.lock
Labels: none

Delete .yarn-integrity
  node_modules/.yarn-integrity
Labels: none

fix(admin): fix for lint
  web/admin/nuxt.config.ts
  web/admin/src/middleware/auth.global.ts
  web/admin/src/middleware/notification.global.ts
  web/admin/src/pages/signin.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/axios.ts
  web/admin/src/plugins/firebase.ts
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/contact.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/shipping.ts
Labels: frontend (admin)

fix(admin): fix api client
  web/admin/nuxt.config.ts
  web/admin/src/lib/api/factory.ts
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/signin.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/axios.ts
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/contact.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/message.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/shipping.ts
  web/admin/src/types/plugins/index.d.ts
Labels: frontend (admin)

feat(admin): add vuetify style
  web/admin/src/assets/main.scss
Labels: frontend (admin)

chore(admin): pluginとmiddleware周りのアップグレード対応
  web/admin/nuxt.config.ts
  web/admin/src/lib/api/factory.ts
  web/admin/src/middleware/auth.global.ts
  web/admin/src/middleware/notification.global.ts
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/api-error-handler.ts
  web/admin/src/plugins/auth.ts
  web/admin/src/plugins/firebase.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/contact.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/message.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/shipping.ts
  web/admin/src/types/plugins/index.d.ts
Labels: frontend (admin)

fix(admin): fix conflict
  web/admin/src/pages/contacts/edit/[id].vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/static/firebase-messaging-sw.js
  web/admin/src/store/customer.ts
Labels: frontend (admin)

fix(admin): fix icon and table for upgrade vuetify
  web/admin/package.json
  web/admin/src/components/TiptapEditor.vue
  web/admin/src/components/atoms/TheFileUploadFiled.vue
  web/admin/src/components/molecules/TheHeaderSelectForm.vue
  web/admin/src/components/molecules/TheProfileSelectForm.vue
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/components/organisms/TheEventCalendar.vue
  web/admin/src/components/organisms/TheProductTypeList.vue
  web/admin/src/components/organisms/TheProductUpdateForm.vue
  web/admin/src/components/organisms/TheRelatedProducerList.vue
  web/admin/src/components/organisms/TheShippingForm.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/edit/[id].vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/edit/[id].vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/messages/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id].vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/signin.vue
  web/admin/src/plugins/vuetify.ts
  web/admin/yarn.lock
Labels: frontend (admin)

fix(admin): fix for lint
  web/admin/src/pages/products/index.vue
  web/admin/src/plugins/axios.ts
Labels: frontend (admin)

fix(admin): fix tab for upgrade vuetify
  web/admin/src/components/molecules/ProductMediaForm.vue
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/EventCalendar.vue
  web/admin/src/components/organisms/NotificationForm.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/components/templates/NotificationCreateFormPage.vue
  web/admin/src/components/templates/NotificationEditFormPage.vue
  web/admin/src/components/templates/ProductUpdateFormPage.vue
  web/admin/src/components/templates/PromotionCreateFormPage.vue
  web/admin/src/components/templates/PromotionEditFormPage.vue
  web/admin/src/layouts/default.vue
  web/admin/src/lib/formatter/day.ts
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/edit/[id].vue
  web/admin/src/pages/livestreaming/add.vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id].vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/signin.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

fix(admin): remove unnecessary component
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/edit/[id].vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/shippings/edit/[id].vue
Labels: frontend (admin)

fix(admin): fix for reviews
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/pages/coordinators/edit/[id].vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id].vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/promotions/index.vue
Labels: frontend (admin)

fix(admin): fix for reviews
  web/admin/src/components/organisms/NotificationForm.vue
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/components/templates/NotificationCreateFormPage.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/coordinators/edit/[id].vue
  web/admin/src/pages/notifications/add.vue
Labels: frontend (admin)

fix(admin): fix datepicker
  web/admin/src/components/organisms/NotificationForm.vue
Labels: frontend (admin)

fix(admin): fix datepicker
  web/admin/src/components/molecules/ProductDeliveryForm.vue
  web/admin/src/components/organisms/ProductUpdateForm.vue
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/products/add.vue
Labels: frontend (admin)

refactor(admin): refactor top and signin page
  web/admin/.eslintrc.cjs
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/components/templates/HomePage.vue
  web/admin/src/components/templates/SettingTopPage.vue
  web/admin/src/components/templates/SignInPage.vue
  web/admin/src/lib/hooks/useAlert.ts
  web/admin/src/pages/analytics.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/settings.vue
  web/admin/src/pages/signin.vue
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/setting.ts
  web/admin/yarn.lock
Labels: frontend (admin)

refactor(admin): refactor top and signin page (#841)
  web/admin/.eslintrc.cjs
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/components/templates/HomePage.vue
  web/admin/src/components/templates/SettingTopPage.vue
  web/admin/src/components/templates/SignInPage.vue
  web/admin/src/lib/hooks/useAlert.ts
  web/admin/src/pages/analytics.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/settings.vue
  web/admin/src/pages/signin.vue
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/setting.ts
  web/admin/yarn.lock
Labels: frontend (admin)

chore: fix update form order
  web/admin/src/components/organisms/ProductUpdateForm.vue
Labels: frontend (admin)

chore: fix update form order (#842)
  web/admin/src/components/organisms/ProductUpdateForm.vue
Labels: frontend (admin)

refactor(admin): refactor pages
  web/admin/src/components/templates/AuthEditEmail.vue
  web/admin/src/components/templates/AuthEditPassword.vue
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/components/templates/AuthVerifyEmail.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/components/templates/ContactEdit.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/components/templates/SettingTop.vue
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/contacts/edit/[id].vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/settings.vue
  web/admin/src/pages/signin.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

refactor(admin): refactor pages (#848)
  web/admin/src/components/templates/AuthEditEmail.vue
  web/admin/src/components/templates/AuthEditPassword.vue
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/components/templates/AuthVerifyEmail.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/components/templates/ContactEdit.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/components/templates/SettingTop.vue
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/contacts/edit/[id].vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/settings.vue
  web/admin/src/pages/signin.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

feat(admin): トークンの有効性検証を追加
  web/admin/src/middleware/auth.global.ts
  web/admin/src/store/auth.ts
Labels: frontend (admin)

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- web/admin/**/*
frontend (user):
- web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- api/**/*
backend (gateway):
- api/internal/gateway/**/*
backend (media):
- api/internal/media/**/*
backend (messenger):
- api/internal/messenger/**/*
backend (store):
- api/internal/store/**/*
backend (user):
- api/internal/user/**/*
backend (function):
- func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- infra/docker/**/*
- infra/helm/**
- infra/kubernetes/**
infra (terraform):
- infra/terraform/**/*
infra (database):
- infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- docs/**/*
test:
- api/**/*_test.go
- func/**/*_test.go
- web/**/*.spec.ts
- web/**/*.test.ts
workflow:
- .github/**/*
