Repository and-period/furumaru, changes with the labels that .github/labeler.yaml gives for each.
All labels: frontend (admin), frontend (user), backend (api), backend (gateway), backend (media), backend (messenger), backend (store), backend (user), backend (function), infra (container), infra (terraform), infra (database), docs, test, workflow

fix(store): fix test code
  api/internal/store/database/mysql/order_test.go
Labels: backend (api), backend (store), test

fix(store): fix test code
  api/internal/store/database/mysql/order_test.go
Labels: backend (api), backend (store), test

fix(store): 注文ステータスの検証ロジックを修正 (#2026)
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/order_test.go
Labels: backend (api), backend (store), test

fix(gateway): 都道府県をレスポンスに詰める
  api/internal/gateway/admin/v1/response/address.go
  api/internal/gateway/admin/v1/service/address.go
  api/internal/gateway/admin/v1/service/address_test.go
Labels: backend (api), backend (gateway), test

fix(gateway): fix test code
  api/internal/gateway/admin/v1/service/user_test.go
Labels: backend (api), backend (gateway), test

feat(workflow): LLMを用いたコードレビューを導入
  .github/workflows/pr-openai-review.yaml
Labels: workflow

fix(gateway): fix test code
  api/internal/gateway/admin/v1/service/user_test.go
Labels: backend (api), backend (gateway), test

feat(workflow): LLMを用いたコードレビューを導入 (#2028)
  .github/workflows/pr-openai-review.yaml
Labels: workflow

fix(gateway): 都道府県をレスポンスに詰める (#2027)
  api/internal/gateway/admin/v1/response/address.go
  api/internal/gateway/admin/v1/service/address.go
  api/internal/gateway/admin/v1/service/address_test.go
  api/internal/gateway/admin/v1/service/user_test.go
Labels: backend (api), backend (gateway), test

feat: promotionを引数に追加
  web/user/src/store/shopping.ts
Labels: frontend (user)

fix: typoの修正
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

feat(gateway): プロモーション取得APIの実装
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/response/promotion.go
  api/internal/gateway/user/v1/service/promotion.go
  api/internal/gateway/user/v1/service/promotion_test.go
  docs/swagger/user/components/schemas/v1/promotion.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/promotions/_code/index.yaml
  web/user/src/types/api/apis/PromotionApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/PromotionResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

feat(workflow): コードレビューの改善
  .github/workflows/pr-openai-review.yaml
Labels: workflow

fix(workflow): fix small
  .github/workflows/pr-openai-review.yaml
Labels: workflow

feat(workflow): コードレビューの改善 (#2030)
  .github/workflows/pr-openai-review.yaml
Labels: workflow

feat(gateway): プロモーション取得APIの実装 (#2029)
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/response/promotion.go
  api/internal/gateway/user/v1/service/promotion.go
  api/internal/gateway/user/v1/service/promotion_test.go
  docs/swagger/user/components/schemas/v1/promotion.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/promotions/_code/index.yaml
  web/user/src/types/api/apis/PromotionApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/PromotionResponse.ts
  web/user/src/types/api/models/index.ts
Labels: frontend (user), backend (api), backend (gateway), docs, test

fix: typoの修正
  web/user/src/plugins/api-client.ts
Labels: frontend (user)

feat(gateway): プロモーション取得APIのエンドポイント追加
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/promotion.go
Labels: backend (api), backend (gateway)

feat(gateway): プロモーション取得APIのエンドポイント追加 (#2031)
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/promotion.go
Labels: backend (api), backend (gateway)

fix(gateway): 使用するメソッドの変更
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/service/promotion.go
  api/internal/gateway/user/v1/service/promotion_test.go
Labels: backend (api), backend (gateway), test

setup: PromotionApiのinjectionを追加
  web/user/src/plugins/api-client.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

feat: 有効なプロモーションコードか検証するメソッドの追加
  web/user/src/store/shopping.ts
Labels: frontend (user)

feat: プロモーションコードの適用ができるように実装を追加
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

fix: typoの修正
  web/user/src/pages/v1/purchase/address.vue
Labels: frontend (user)

feat: 支払い情報入力画面でもクーポンコードが利用できるようにする
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

クーポンコードを利用可能にする (#2032)
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/shopping.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

feat(gateway): NewRelicの設定を調整
  api/internal/gateway/cmd/user/registry.go
Labels: backend (api), backend (gateway)

fix(gateway): fix for review
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
Labels: backend (api), backend (gateway)

feat(gateway): NewRelicの設定を調整 (#2033)
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
Labels: backend (api), backend (gateway)

docs: クエリパラメータの説明を追加
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

feat: 支払い処理でプロモーションコードが送信されるように修正
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/store/checkout.ts
Labels: frontend (user)

feat: videoタグにautoPictureInPicture属性を追加
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
Labels: frontend (user)

fix: 近日発売の商品の表示が改行される問題を修正
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
Labels: frontend (user)

fix: 近日発売の商品の表示が改行される問題を修正 (#2036)
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
Labels: frontend (user)

支払い処理でクーポンが利用されていなかった箇所の修正 (#2034)
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/store/checkout.ts
Labels: frontend (user)

fix: controlsList="nodownload"を追加する
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
Labels: frontend (user)

feat: videoタグにautoPictureInPicture属性を追加 (#2035)
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
Labels: frontend (user)

feat(media): ファイルアップロード後の状態取得処理を修正
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/response/uploader.go
  api/internal/media/entity/upload_event.go
  api/internal/media/entity/upload_event_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/paths/v1/upload/state.yaml
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/helper.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin), backend (api), backend (gateway), backend (media), docs, test

feat(media): ファイル参照時にCDN経由にできるように
  api/internal/media/cmd/uploader/registry.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/media/uploader/uploader.go
Labels: backend (api), backend (media)

fix(media): fix test code
  api/internal/media/service/upload_test.go
Labels: backend (api), backend (media), test

.github/labeler.yaml:

##################################################
# Frontend
##################################################
frontend (admin):
- changed-files:
  - any-glob-to-any-file:
    - web/admin/**/*
frontend (user):
- changed-files:
  - any-glob-to-any-file:
    - web/user/**/*

##################################################
# Backend
##################################################
backend (api):
- changed-files:
  - any-glob-to-any-file:
    - api/**/*
backend (gateway):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/gateway/**/*
backend (media):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/media/**/*
backend (messenger):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/messenger/**/*
backend (store):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/store/**/*
backend (user):
- changed-files:
  - any-glob-to-any-file:
    - api/internal/user/**/*
backend (function):
- changed-files:
  - any-glob-to-any-file:
    - func/**/*

##################################################
# Infrastructure
##################################################
infra (container):
- changed-files:
  - any-glob-to-any-file:
    - infra/docker/**/*
    - infra/helm/**
    - infra/kubernetes/**
infra (terraform):
- changed-files:
  - any-glob-to-any-file:
    - infra/terraform/**/*
infra (database):
- changed-files:
  - any-glob-to-any-file:
    - infra/mysql/**/*

##################################################
# Other
##################################################
docs:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
test:
- changed-files:
  - any-glob-to-any-file:
    - api/**/*_test.go
    - func/**/*_test.go
    - web/**/*.spec.ts
    - web/**/*.test.ts
workflow:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
