Repository and-period/furumaru, pull requests merged in 2022-12, with the labels that each got.

#592 fix(store): recreate order entity
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/response/address.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/address.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_fulfillment.go
  api/internal/gateway/admin/v1/service/order_fulfillment_test.go
  api/internal/gateway/admin/v1/service/order_item.go
  api/internal/gateway/admin/v1/service/order_item_test.go
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/admin/v1/service/order_refund.go
  api/internal/gateway/admin/v1/service/order_refund_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/store/database/activity.go
  api/internal/store/database/activity_test.go
  api/internal/store/database/address.go
  api/internal/store/database/address_test.go
  api/internal/store/database/fulfillment.go
  api/internal/store/database/fulfillment_test.go
  api/internal/store/database/order.go
  api/internal/store/database/order_activity.go
  api/internal/store/database/order_fulfillment.go
  api/internal/store/database/order_fulfillment_test.go
  api/internal/store/database/order_item_test.go
  api/internal/store/database/order_payment.go
  api/internal/store/database/order_payment_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/payment.go
  api/internal/store/database/payment_test.go
  api/internal/store/entity/activity.go
  api/internal/store/entity/activity_test.go
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_item.go
  api/internal/store/entity/fulfillment.go
  api/internal/store/entity/fulfillment_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_fulfillment.go
  api/internal/store/entity/order_item.go
  api/internal/store/entity/order_item_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/payment.go
  api/internal/store/entity/payment_test.go
  api/internal/store/service/order_test.go
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  infra/mysql/schema/2022120401-stores-recreate-orders.sql
  web/admin/src/types/api/api.ts
Labels: docs, WIP, test, infra (database), backend (gateway), frontend (admin), backend (store)

#593 feat(store): implement multi get addresses
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/store/database/address.go
  api/internal/store/database/address_test.go
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/address.go
  api/internal/store/service/address_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: test, backend (gateway), backend (store)

#600 refactor: コーディネータ登録と編集の部分のフォームをリファクタリング
  README.md
  web/admin/src/components/organisms/TheCoordinatorCreateForm.vue
  web/admin/src/components/organisms/TheCoordinatorEditForm.vue
  web/admin/src/components/organisms/TheNotificationForm.vue
  web/admin/src/pages/coordinators/add.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/notifications/index.vue
Labels: mergeable, frontend (admin)

#599 feat: ホーム画面にカレンダーを移動
  web/admin/src/components/organisms/TheEventCalendar.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/types/api/api.ts
  web/admin/src/types/props/calendar.ts
  web/admin/src/types/props/index.ts
Labels: mergeable, frontend (admin)

#602 feat(gateway): add default order by notifications
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
Labels: mergeable, test, backend (gateway)

#604 feat(gateway): add default order by promotions
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
Labels: test, backend (gateway)

#603 Feat/get live/service layer
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
  api/internal/store/input.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/mock/pkg/ivs/client.go
  api/pkg/ivs/channel.go
  api/pkg/ivs/client.go
  api/pkg/ivs/stream.go
  infra/mysql/schema/2022111901-stores-alter-column-lives.sql
Labels: mergeable, test, infra (database), backend (store)

#607 fix(database): fix count query
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/message.go
  api/internal/messenger/database/notification.go
  api/internal/store/database/category.go
  api/internal/store/database/order.go
  api/internal/store/database/product.go
  api/internal/store/database/product_type.go
  api/internal/store/database/promotion.go
  api/internal/store/database/shipping.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
  api/pkg/database/client.go
Labels: backend (user), backend (store), backend (messenger)

#608 refactor(database): refactor transaction method
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/message.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/received_queue.go
  api/internal/messenger/database/schedule.go
  api/internal/store/database/category.go
  api/internal/store/database/product.go
  api/internal/store/database/product_type.go
  api/internal/store/database/promotion.go
  api/internal/store/database/schedule.go
  api/internal/store/database/shipping.go
  api/internal/user/database/admin.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/member.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
  api/pkg/database/client.go
  api/pkg/database/client_test.go
Labels: test, backend (user), backend (store), backend (messenger)

#605 コーディネータ削除機能の実装
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/store/coordinator.ts
Labels: mergeable, frontend (admin)

#606 管理画面のレイアウトを整える
  web/admin/nuxt.config.ts
  web/admin/src/components/NuxtLogo.vue
  web/admin/src/components/Tutorial.vue
  web/admin/src/components/VuetifyLogo.vue
  web/admin/src/components/atoms/TheAppLogoWithTitle.vue
  web/admin/src/components/atoms/TheAppTitle.vue
  web/admin/src/layouts/auth.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/inspire.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/signin.vue
  web/admin/src/static/app-logo-with-title.svg
  web/admin/src/static/app-title.svg
  web/admin/src/static/favicon.ico
Labels: mergeable, frontend (admin)

#620 fix(api): fix api types
  web/admin/src/types/api/api.ts
Labels: mergeable, frontend (admin)

#623 chore(docs): update dependencies
  docs/swagger/.node-version
  docs/swagger/.tool-versions
  docs/swagger/yarn.lock
Labels: docs

#625 生産者削除機能の実装
  web/admin/src/pages/producers/index.vue
  web/admin/src/store/producer.ts
Labels: mergeable, frontend (admin)

#515 delete機能追加・タブ作成
  web/admin/src/pages/coordinators/add.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/store/coordinator.ts
  web/admin/src/store/producer.ts
  web/admin/src/types/props/coordinator.ts
  web/admin/test/store/producer.spec.ts
Labels: mergeable, test, frontend (admin)

#610 Feat(store) implement GetLive gateway
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/live.go
  api/internal/gateway/admin/v1/handler/live_test.go
  api/internal/gateway/admin/v1/response/live.go
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/store/service.go
  api/mock/store/service.go
Labels: mergeable, test, backend (gateway), backend (store)

#624 feat(gateway): implement delete product api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  docs/swagger/admin/paths/v1/products/_productId/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (gateway), frontend (admin)

#621 feat(store): implement rehearsal logic
  api/go.mod
  api/go.sum
  api/internal/store/database/database.go
  api/internal/store/database/rehearsal.go
  api/internal/store/database/rehearsal_test.go
  api/internal/store/entity/rehearsal.go
  api/internal/store/entity/rehearsal_test.go
  api/mock/pkg/dynamodb/client.go
  api/pkg/dynamodb/client.go
Labels: test, backend (store)

#626 Docs: make getLive swagger
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/lives/_liveId/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)

#635 feat(terraform): create dynamodb resource
  api/internal/store/entity/rehearsal.go
  infra/terraform/env/stg/06-dynamodb/00-locals.tf
  infra/terraform/env/stg/06-dynamodb/00-main.tf
  infra/terraform/env/stg/06-dynamodb/01-rehearsals.tf
  infra/terraform/env/stg/06-dynamodb/99-variables.tf
  infra/terraform/modules/dynamodb/01-table.tf
  infra/terraform/modules/dynamodb/99-variables.tf
Labels: backend (store), infra (terraform)

#634 feat(gateway): add dynamodb client
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (gateway)

#637 Feature/relate procuder
  web/admin/src/components/organisms/TheCoordinatorCreateForm.vue
  web/admin/src/components/organisms/TheCoordinatorEditForm.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/store/coordinator.ts
Labels: mergeable, frontend (admin)

#639 Feat(store): implement UpdateLive database layer
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/database/schedule.go
  api/mock/store/database/database.go
Labels: mergeable, test, backend (store)

#646 feat(func): implement ivs cleaner function
  func/.gitignore
  func/.tool-versions
  func/Makefile
  func/go.mod
  func/go.sum
  func/ivs-cleaner/main.go
  infra/terraform/env/stg/06-dynamodb/01-rehearsals.tf
Labels: mergeable, infra (terraform)

#647 feat(func): add github workflows
  .github/dependabot.yaml
  .github/labeler.yaml
  .github/workflows/ci-function-for-all.yaml
  func/.gitignore
  func/.golangci.yaml
  func/Makefile
  func/ivs-cleaner/main.go
Labels: workflow
