Repository and-period/furumaru, pull requests merged in 2022-07, with the labels that each got.

#136 feat(gateway): implement get product api
  api/config/gateway/admin/rbac/policy.csv
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/admin/v1/service/product_type_test.go
Labels: test, backend (gateway)

#133 feat(docs): define product api types
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/products/_productId/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#134 fix: delete unused constant
  api/internal/messenger/database/notification.go
Labels: mergeable, backend (messenger)

#138 feat(user): implement multi get producers logic
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: test, backend (user)

#139 feat(store): implement multi get product types logic
  api/internal/store/database/database.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: test, backend (store)

#140 feat(store): add validation check for create and update product
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/user/input.go
Labels: test, backend (user), backend (store)

#142 feat(gateway): implement todo of ilst products api
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
Labels: test, backend (gateway)

#131 ApiClientのfactoryを作って環境変数で柔軟にAPIの向き先を変える
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/index.ts
  web/admin/src/store/producer.ts
Labels: mergeable, frontend (admin)

#137 Add: added category UI
  web/admin/nuxt.config.ts
  web/admin/src/pages/categories/index.vue
  web/admin/src/types/props/category.ts
Labels: mergeable, frontend (admin)

#143 Fix: fixed api destination
  web/admin/nuxt.config.ts
  web/admin/src/store/index.ts
Labels: frontend (admin)

#135 fix(docs): fix required flag
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/administrator.response.yaml
  docs/swagger/admin/components/schemas/v1/category.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)

#144 feat(docs): add description of request validation
  api/internal/store/input.go
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/components/schemas/v1/category.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/user/components/schemas/v1/auth.request.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/api.ts
Labels: docs, frontend (user), frontend (admin), backend (store)

#146 feat(messenger): define contact entity
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
  infra/mysql/schema/2022070601-messengers-create-contacts.sql
Labels: mergeable, test, infra (database), backend (messenger)

#149 feat(docs): define contact api types
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/index.yaml
  docs/swagger/admin/paths/v1/contacts/index.yaml
  docs/swagger/user/components/schemas/v1/contact.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/contacts/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/api.ts
Labels: docs, mergeable, frontend (user), frontend (admin)

#150 Feature/password update
  web/admin/src/components/atoms/TheTextField.vue
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/analytics.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/contacts.vue
  web/admin/src/pages/coordinator/add.vue
  web/admin/src/pages/customers.vue
  web/admin/src/pages/events.vue
  web/admin/src/pages/livestreaming.vue
  web/admin/src/pages/notifications.vue
  web/admin/src/pages/orders.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/settings.vue
  web/admin/src/store/auth.ts
Labels: mergeable, frontend (admin)

#155 fix(docs): fix typo in contact response
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)

#154 feat(gateway): implement contact api for admin
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/request/contact.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/gateway/admin/v1/service/contact.go
  api/internal/gateway/admin/v1/service/contact_test.go
Labels: mergeable, test, backend (gateway)

#153 feat(messenger): implement contact logic
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/service.go
  api/internal/messenger/service/service_test.go
  api/mock/messenger/database/database.go
Labels: mergeable, test, backend (messenger)

#156 fix: typeの修正
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)

#158 feat(workflow): update workflow for docs
  .github/workflows/ci-docs-for-all.yaml
Labels: workflow

#157 feat: サインインの部分もvalidationを追加
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/signin.vue
  web/admin/src/store/producer.ts
Labels: mergeable, frontend (admin)

#151 feat: createNotification serviceLayer
  api/internal/messenger/entity/notification.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
  api/internal/messenger/service/service.go
  api/internal/messenger/service/service_test.go
  api/mock/messenger/service.go
Labels: test, backend (messenger)

#159 feat: 生産者一覧の実装
  web/admin/src/pages/producers/index.vue
Labels: mergeable, frontend (admin)

#162 fix: refreshTokenで認証情報を取ったあとはcookieを再セットしない
  web/admin/src/store/auth.ts
Labels: mergeable, frontend (admin)

#161 feat: 生産者登録機能の改善
  web/admin/nuxt.config.ts
  web/admin/src/assets/main.scss
  web/admin/src/components/molecules/TheHeaderSelectForm.vue
  web/admin/src/components/molecules/TheProfileSelectForm.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/store/producer.ts
Labels: mergeable, frontend (admin)

#164 Feature/category add
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/category.ts
Labels: mergeable, frontend (admin)

#167 feat(docs): add error response
  .github/workflows/ci-docs-for-all.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/index.yaml
  docs/swagger/admin/paths/v1/administrators/index.yaml
  docs/swagger/admin/paths/v1/auth/email/index.yaml
  docs/swagger/admin/paths/v1/auth/email/verified.yaml
  docs/swagger/admin/paths/v1/auth/index.yaml
  docs/swagger/admin/paths/v1/auth/password.yaml
  docs/swagger/admin/paths/v1/auth/refresh-token.yaml
  docs/swagger/admin/paths/v1/categories/-/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/_productTypeId/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/index.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/index.yaml
  docs/swagger/admin/paths/v1/contacts/index.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  docs/swagger/admin/paths/v1/producers/index.yaml
  docs/swagger/admin/paths/v1/products/_productId/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/header.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/thumbnail.yaml
  docs/swagger/admin/paths/v1/upload/producers/header.yaml
  docs/swagger/admin/paths/v1/upload/producers/thumbnail.yaml
  docs/swagger/user/paths/v1/auth/email/index.yaml
  docs/swagger/user/paths/v1/auth/email/verified.yaml
  docs/swagger/user/paths/v1/auth/forgot-password/index.yaml
  docs/swagger/user/paths/v1/auth/forgot-password/verified.yaml
  docs/swagger/user/paths/v1/auth/index.yaml
  docs/swagger/user/paths/v1/auth/initialized.yaml
  docs/swagger/user/paths/v1/auth/password.yaml
  docs/swagger/user/paths/v1/auth/refresh-token.yaml
  docs/swagger/user/paths/v1/auth/user/index.yaml
  docs/swagger/user/paths/v1/auth/user/oauth.yaml
  docs/swagger/user/paths/v1/auth/user/verified.yaml
  web/admin/.prettierignore
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/base.ts
  web/admin/src/types/api/common.ts
  web/admin/src/types/api/configuration.ts
  web/admin/src/types/api/index.ts
  web/user/.prettierignore
  web/user/src/types/api/api.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
  web/user/src/types/api/configuration.ts
  web/user/src/types/api/index.ts
Labels: docs, workflow, frontend (user), frontend (admin)

#169 feat(messenger): add email template for received contact
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail.go
  api/internal/messenger/entity/mail_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
Labels: test, backend (messenger)

#170 feat(messenger): implement notify received contact
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/entity/url.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/mailer_test.go
  api/mock/messenger/service.go
Labels: test, backend (messenger)

#172 Feature/category list
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/category.ts
Labels: frontend (admin)

#173 Refactor: refactor code
  web/admin/src/components/organisms/TheCategoryList.vue
Labels: frontend (admin)

#174 feat(messenger): implement notifier
  api/go.mod
  api/go.sum
  api/internal/exception/error.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/worker/reporter.go
  api/internal/messenger/worker/reporter_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  api/mock/pkg/line/client.go
  api/pkg/line/client.go
Labels: test, backend (messenger)

#175 fix(store): fix list api response
  api/Makefile
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/response/category.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/service.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/category.response.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store)

#168 feat: 生産者登録成功時にメッセージを出すように改善
  web/admin/src/layouts/default.vue
  web/admin/src/store/common.ts
  web/admin/src/store/producer.ts
Labels: mergeable, frontend (admin)

#177 feat: 住所入力支援機能の実装
  web/admin/src/components/molecules/TheAddressForm.vue
  web/admin/src/lib/externals/index.ts
  web/admin/src/lib/externals/zipCloud.ts
  web/admin/src/pages/producers/add.vue
Labels: mergeable, frontend (admin)

#181 Revert "debug"
  api/internal/gateway/user/v1/handler/contact.go
Labels: backend (user), backend (gateway)

#184 feat(*): define shipping api types
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/shipping_test.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
  api/internal/store/codes/prefecture.go
  api/internal/store/codes/prefecture_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/codes.yaml
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/shippings/_shippingId/index.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  infra/mysql/dev.cnf
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store)

#185 feat(store): implement shipping method
  api/Makefile
  api/internal/store/database/database.go
  api/internal/store/database/shipping.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/service_test.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  api/mock/store/database/database.go
  infra/mysql/schema/2022071601-stores-rename-shipping.sql
Labels: test, infra (database), backend (store)

#189 feat(docs): define shipping api types
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#186 refactor: 生産者登録の部分を整理
  web/admin/src/components/organisms/TheProducerCreateForm.vue
  web/admin/src/lib/hooks/index.ts
  web/admin/src/lib/hooks/useSearchAddress.ts
  web/admin/src/pages/producers/add.vue
  web/admin/src/types/props/forms/files.ts
  web/admin/src/types/props/forms/index.ts
  web/admin/src/types/props/index.ts
Labels: mergeable, frontend (admin)

#188 feat: #182の対応
  web/admin/src/middleware/auth.ts
  web/admin/src/pages/signin.vue
  web/admin/src/store/auth.ts
Labels: mergeable, frontend (admin)

#190 feat(gateway): implement shipping api
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/shipping_test.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
  api/internal/store/codes/prefecture.go
  api/internal/store/codes/prefecture_test.go
Labels: mergeable, test, backend (gateway), backend (store)

#187 chore(*): upgrade golang version
  .github/workflows/ci-backend-for-all.yaml
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), mergeable, workflow

#165 Feat(docs): add CreateNotification swagger
  docs/swagger/admin/components/schemas/v1/notification.request.yaml
  docs/swagger/admin/components/schemas/v1/notification.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/notifications/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)

#192 fix(gateway): response design modifications
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin)

#195 feat(workflow): setup messenger scheduler deploy
  .github/workflows/cd-messenger-scheduler-for-main.yaml
  api/internal/messenger/cmd/scheduler/exec.go
Labels: mergeable, workflow, backend (messenger)

#196 feat(gateway): setup new relic monitoring
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (user), backend (gateway)

#197 fix(gateway): add early return
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
Labels: backend (user), backend (gateway)

#201 fix(messenger): fix message template
  api/internal/messenger/database/message_template.go
  api/internal/messenger/database/message_template_test.go
  api/internal/messenger/entity/message_config.go
  api/internal/messenger/entity/message_config_test.go
  api/internal/messenger/entity/message_template.go
  api/internal/messenger/entity/message_template_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/messenger.go
  api/internal/messenger/worker/messenger_test.go
  api/internal/messenger/worker/worker_test.go
  infra/mysql/schema/2022072103-messengers-alter-column-messages.sql
Labels: test, infra (database), backend (messenger)

#193 Feature/item create
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/auth.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
Labels: mergeable, frontend (admin)

#202 Feature/item create
  web/admin/src/components/organisms/TheProductTypeList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
Labels: mergeable, frontend (admin)

#203 feat(messenger): implement get message method
  api/internal/messenger/database/database.go
  api/internal/messenger/database/message.go
  api/internal/messenger/database/message_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/message.go
  api/internal/messenger/service/message_test.go
  api/internal/messenger/service/notification.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
Labels: test, backend (messenger)

#205 fix(messenger): fix get message logic
  api/internal/messenger/database/message.go
  api/internal/messenger/database/message_test.go
  api/internal/messenger/entity/message.go
  api/internal/messenger/entity/message_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service/message.go
  api/internal/messenger/service/message_test.go
Labels: mergeable, test, backend (messenger)

#208 feat(gateway): fill dependencies for product
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/service/category.go
  api/internal/gateway/admin/v1/service/category_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
Labels: test, backend (gateway)

#209 Feat/store/implement get category
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: mergeable, test, backend (gateway), backend (store)

#210 feat(gateway): define update producer api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/request/producer.go
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/password.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin)

#211 fix(*): fix error handling
  .github/workflows/ci-backend-for-all.yaml
  api/.go-version
  api/.golangci.yaml
  api/Makefile
  api/go.mod
  api/go.sum
  api/hack/create-admin/main.go
  api/hack/database-migrate/main.go
  api/internal/exception/error.go
  api/internal/exception/error_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/util/response.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/message.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/received_queue.go
  api/internal/messenger/service/notification_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/user/database/coordinator.go
  api/pkg/cognito/client.go
  api/pkg/cognito/client_test.go
  api/pkg/grpc/options.go
  api/pkg/line/client.go
  api/pkg/log/logger.go
  api/pkg/mailer/client.go
  api/pkg/mailer/client_test.go
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), test, workflow, backend (user), backend (gateway), backend (messenger)

#213 feat(user): implement update producer logic
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/administrator.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/messenger/service.go
  api/mock/pkg/cognito/client.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  api/pkg/cognito/admin.go
  api/pkg/cognito/client.go
Labels: test, backend (user), backend (messenger)

#215 feat(user): implement update coordinator api
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: WIP, test, backend (user)

#218 refactor(*): implement v2 set package
  api/hack/database-migrate/main.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/messenger/entity/notification.go
  api/internal/store/codes/prefecture.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/service/shipping_test.go
  api/pkg/set/v2/set.go
  api/pkg/set/v2/set_test.go
Labels: test, backend (gateway), backend (store), backend (messenger)

#216 feat(gateway): implement update producer and coordinator api
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
Labels: test, backend (gateway)

#217 fix(user): add error handling for update admin email
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  docs/swagger/admin/paths/v1/auth/email/index.yaml
Labels: docs, test, backend (user)

#220 feat(gateway): implement update admin api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/request/administrator.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/database.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/email.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/index.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/password.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin)

#214 test: Piniaのテストを記述
  web/admin/jest.config.js
  web/admin/src/plugins/factory.ts
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/common.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/test/store/auth.spec.ts
  web/admin/test/store/common.spec.ts
Labels: mergeable, test, frontend (admin)
