Repository and-period/furumaru, pull requests merged in 2022-11, with the labels that each got.

#516 fix(set): fix slice method
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/handler/user_test.go
  api/pkg/set/v2/set.go
  api/pkg/set/v2/set_test.go
Labels: test, backend (gateway)

#517 feat: added getStream to ivs pkg
  api/mock/pkg/ivs/client.go
  api/pkg/ivs/client.go
  api/pkg/ivs/stream.go
Labels: mergeable

#518 fix(user): fix relate producer logic
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/related_producer.go
  api/internal/gateway/admin/v1/handler/related_producer_test.go
  api/internal/gateway/admin/v1/request/producer.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/producer.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/producers/_producerId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/producers/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/relationship.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (user), backend (gateway), frontend (admin)

#525 fix(user): fix list producers
  api/internal/user/service/producer.go
Labels: backend (user)

#526 feat(media): implement resizer job
  api/cmd/media/main.go
  api/go.mod
  api/go.sum
  api/internal/common/file.go
  api/internal/media/cmd/resizer/config.go
  api/internal/media/cmd/resizer/exec.go
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/resizer/coordinator.go
  api/internal/media/resizer/coordinator_test.go
  api/internal/media/resizer/image.go
  api/internal/media/resizer/image_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/resizer_test.go
  api/internal/media/resizer/test.png
Labels: test, backend (media)

#527 chore(api): upgrade golang version 1.19.3
  .github/workflows/ci-backend-for-all.yaml
  api/.go-version
  api/.tool-versions
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow

#530 feat(terraform): create sqs resource
  infra/terraform/env/shared/01-ecr/05-media-resizer.tf
Labels: infra (terraform)

#531 fix(media): fix upload tmp storage logic
  api/internal/media/entity/regulation.go
  api/internal/media/service/generate.go
Labels: backend (media)

#532 feat(user): implement update coordinator images
  api/internal/common/image.go
  api/internal/common/image_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  infra/mysql/schema/2022110601-users-alter-column.sql
Labels: WIP, test, backend (user), infra (database)

#533 feat(media): implement resize coordinator
  api/internal/media/resizer/coordinator.go
  api/internal/media/resizer/coordinator_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/resizer_test.go
Labels: test, backend (media)

#534 feat(gateway): add resize image to coordinator response
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/response/common.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/admin/v1/service/image.go
  api/internal/gateway/admin/v1/service/image_test.go
  api/internal/user/database/coordinator.go
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin)

#535 chore(api): update dependencies
  .github/PULL_REQUEST_TEMPLATE.md
  .github/reviewer.yaml
  .github/workflows/cd-admin-gateway-for-main.yaml
  .github/workflows/cd-media-resizer-for-main.yaml
  .github/workflows/cd-messenger-scheduler-for-main.yaml
  .github/workflows/cd-messenger-worker-for-main.yaml
  .github/workflows/cd-user-gateway-for-main.yaml
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-docs-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
  .github/workflows/pr-labeler.yaml
  api/.golangci.yaml
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/media/cmd/resizer/config.go
  api/internal/messenger/cmd/worker/config.go
Labels: workflow, backend (media), backend (messenger)

#537 refactor(user): refactor user database query
  api/internal/user/database/admin.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/customer.go
  api/internal/user/database/guest.go
  api/internal/user/database/member.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
  api/pkg/database/client.go
Labels: backend (user)

#536 Feat(store): implement GetLive database layer
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_product.go
  api/internal/store/database/live_test.go
  api/internal/store/entity/live.go
  api/mock/store/database/database.go
  infra/mysql/schema/2022102703-stores-alter-column-schedules.sql
  infra/mysql/schema/2022110501-stores-alter-column-lives.sql
Labels: mergeable, test, infra (database), backend (store)

#539 refactor(store): refactor store database query
  api/internal/store/database/category.go
  api/internal/store/database/order.go
  api/internal/store/database/order_activity.go
  api/internal/store/database/order_fulfillment.go
  api/internal/store/database/order_item.go
  api/internal/store/database/order_payment.go
  api/internal/store/database/product.go
  api/internal/store/database/product_type.go
  api/internal/store/database/promotion.go
  api/internal/store/database/shipping.go
Labels: mergeable, backend (store)

#540 refactor(api): refactor count query
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/notification.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
Labels: backend (user), backend (messenger)

#551 chore(docs): update dependencies
  docs/swagger/.node-version
  docs/swagger/yarn.lock
Labels: docs

#552 refactor(store): refactor select query
  api/internal/store/database/live.go
  api/internal/store/database/live_product.go
Labels: backend (store)

#553 feat(user): implement update producer images
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  infra/mysql/schema/2022110901-users-alter-column.sql
Labels: test, backend (user), infra (database)

#557 feat(user): implement resize producer media request
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
Labels: test, backend (user)

#561 feat(gateway): add resize image to producer and product response
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/related_producer_test.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  web/admin/src/pages/producers/edit/_id.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin)

#562 feat(gateway): implement search postal code
  api/config/gateway/admin/rbac/policy.csv
  api/internal/exception/error.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/postal_code.go
  api/internal/gateway/admin/v1/handler/postal_code_test.go
  api/internal/gateway/admin/v1/response/postal_code.go
  api/internal/gateway/admin/v1/service/postal_code.go
  api/internal/gateway/admin/v1/service/postal_code_test.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/store/entity/postal_code.go
  api/internal/store/entity/postal_code_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/postal_code.go
  api/internal/store/service/postal_code_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/mock/pkg/postalcode/client.go
  api/mock/store/service.go
  api/pkg/postalcode/client.go
  api/pkg/postalcode/client_test.go
  api/pkg/postalcode/search.go
  docs/swagger/admin/components/schemas/v1/postal_code.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/postal-codes/_postalCode.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store)

#563 feat(store): implement update product type icons
  api/internal/store/database/database.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  infra/mysql/schema/2022111401-stores-alter-column.sql
Labels: test, infra (database), backend (store)

#565 fix(store): fix get product logic
  api/internal/store/database/product.go
  api/internal/store/database/shipping.go
Labels: backend (store)

#566 feat(api): refactor test code
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/auth_test.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/message_test.go
  api/internal/gateway/admin/v1/handler/notification_test.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/gateway/admin/v1/handler/related_producer_test.go
  api/internal/gateway/admin/v1/handler/shipping_test.go
  api/internal/gateway/admin/v1/handler/user_test.go
  api/internal/gateway/stripe/handler/api_test.go
  api/internal/gateway/stripe/handler/event_test.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/gateway/user/v1/handler/contact_test.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/scheduler/notification_test.go
  api/internal/messenger/scheduler/scheduler_test.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/message_test.go
  api/internal/messenger/service/notification_test.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service_test.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/messenger_test.go
  api/internal/messenger/worker/push_test.go
  api/internal/messenger/worker/reporter_test.go
  api/internal/messenger/worker/worker_test.go
  api/internal/store/database/database_test.go
  api/internal/store/service/category_test.go
  api/internal/store/service/order_test.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/promotion_test.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/service_test.go
  api/internal/store/service/shipping_test.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database_test.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer_test.go
  api/internal/user/service/service_test.go
  api/internal/user/service/user_auth_test.go
  api/internal/user/service/user_test.go
Labels: test, backend (user), backend (gateway), backend (store), backend (messenger)

#567 feat(*): implement resize product type icons
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/resizer/product_type.go
  api/internal/media/resizer/product_type_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/resizer_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (media)

#558 feat: piniaのカスタムプラグインで共通のエラーハンドラーを実装
  web/admin/nuxt.config.ts
  web/admin/src/plugins/api-error-handler.ts
  web/admin/src/plugins/auth.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/types/exception.ts
  web/admin/src/types/plugins/index.d.ts
Labels: mergeable, frontend (admin)

#575 feat(store): define address entity
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  infra/mysql/schema/2022111701-stores-create-addresses.sql
Labels: test, infra (database), backend (store)

#576 refactor(store): remove category fields
  api/internal/store/database/category.go
  api/internal/store/database/product_type.go
Labels: backend (store)

#578 フォントをモリサワのBIZ UDPGothicに変更
  web/admin/.gitignore
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/assets/variables.scss
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#585 Fix/store/remove product field
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  infra/mysql/schema/2022111702-stores-drop-column.sql
  web/admin/src/pages/products/add.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store)

#586 refactor(gateway): get shipping api
  api/internal/gateway/admin/v1/handler/shipping.go
Labels: backend (gateway)

#587 注文一覧ページの実装
  web/admin/nuxt.config.ts
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/orders.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/orders.ts
  web/admin/src/types/plugins/index.d.ts
Labels: mergeable, frontend (admin)

#588 Cookieの設定を更新
  web/admin/src/store/auth.ts
Labels: mergeable, frontend (admin)
