Repository and-period/furumaru, pull requests merged in 2022-06, with the labels that each got.

#92 feat(store): define product entity
  api/go.mod
  api/go.sum
  api/internal/store/entity/category.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/product_type.go
  infra/mysql/schema/2022060501-stores-create-products.sql
Labels: mergeable, test, infra (database), backend (store)

#94 feat(workflow): update pr reviewer
  .github/reviewer.yaml
Labels: mergeable, workflow

#97 fix(user): fix create user and admin logic
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: test, backend (user)

#95 fix(user): fix create producer validation
  api/internal/user/input.go
Labels: mergeable, backend (user)

#96 feat(store): implement category logic
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/database/database_test.go
  api/internal/store/entity/category.go
  api/internal/store/entity/category_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: test, backend (store)

#100 fix(gateway): fix typo in create producer request
  api/internal/gateway/admin/v1/request/producer.go
Labels: mergeable, backend (gateway)

#101 fix(cognito): fix cognito client
  api/pkg/cognito/user.go
Labels: mergeable

#102 fix(docs): fix typo
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
Labels: docs, mergeable

#104 feat(infra): add dns zone
  infra/terraform/env/shared/02-route53/02-and-preiod-jp.tf
Labels: infra (terraform)

#103 feat(api): setup api container
  api/Makefile
  api/config/gateway/admin/.air.toml
  api/config/gateway/user/.air.toml
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/gateway/cmd/admin/exec.go
  api/internal/gateway/cmd/user/exec.go
  docker-compose.yaml
  infra/docker/api/Dockerfile.development
Labels: infra (container), backend (user), backend (gateway)

#98 Feature/create cordinator
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
Labels: mergeable, test, backend (user)

#105 fix(gateway): fix uploader
  api/internal/gateway/admin/v1/handler/uploader.go
Labels: backend (gateway)

#106 feat(store): implement product type
  api/internal/store/database/category.go
  api/internal/store/database/database.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: test, backend (store)

#108 feat(store): add column to product
  api/internal/store/entity/product.go
  infra/mysql/schema/2022061401-stores-add-column.sql
Labels: infra (database), backend (store)

#112 refactor(gateway): remove unnecessary method
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/util/metadata.go
  api/internal/gateway/util/metadata_test.go
Labels: test, backend (user), backend (gateway)

#111 feat(docs): add api docs for category and product type
  docs/swagger/admin/components/schemas/v1/administrator.request.yaml
  docs/swagger/admin/components/schemas/v1/administrator.response.yaml
  docs/swagger/admin/components/schemas/v1/category.request.yaml
  docs/swagger/admin/components/schemas/v1/category.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/categories/-/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/_productTypeId/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#114 feat(gateway): implement category api and more
  api/.go-version
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/auth_test.go
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/request/category.go
  api/internal/gateway/admin/v1/request/product_type.go
  api/internal/gateway/admin/v1/response/category.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/gateway/admin/v1/service/category.go
  api/internal/gateway/admin/v1/service/category_test.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin), backend (store)

#110 Feature/create cordinator
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer_test.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/producer_test.go
Labels: mergeable, test, backend (user)

#113 Database: create notifications schema
  infra/mysql/schema/2022061801-messengers-create-notifications.sql
Labels: mergeable, infra (database)

#117 fix(*): fix mailer test code
  api/pkg/mailer/sender_test.go
Labels: test

#116 商品登録ページのデザイン改善
  web/admin/package.json
  web/admin/src/components/TiptapEditor.vue
  web/admin/src/components/atoms/TheFileUploadFiled.vue
  web/admin/src/pages/products/add.vue
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#118 Feat: define notification entity
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
Labels: mergeable, test, backend (messenger)

#124 feat(store): define product interface
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: test, backend (store)

#123 ログイン画面のUI
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/components/TiptapEditor.vue
  web/admin/src/layouts/auth.vue
  web/admin/src/layouts/default.vue
  web/admin/src/lib/hooks/index.ts
  web/admin/src/lib/hooks/useAlert.ts
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/signin.vue
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/producer.ts
  web/admin/tsconfig.json
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#121 fix: migrationに失敗するので、作成前にDROP TABLE命令を入れるようにした
  infra/mysql/schema/2022061801-messengers-create-notifications.sql
Labels: mergeable, infra (database)

#129 fix(infra): fix typo in create messengers database ddl
  infra/mysql/schema/2022061801-messengers-create-notifications.sql
Labels: mergeable, infra (database)

#126 fix: docker-composeをdocker composeコマンドに変更
  .github/workflows/ci-backend-for-all.yaml
  Makefile
Labels: mergeable, workflow

#132 feat(*): implement secrets manager client
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/registry.go
  api/mock/messenger/database/database.go
  api/mock/pkg/secret/client.go
  api/pkg/secret/client.go
Labels: backend (user), backend (gateway), backend (messenger)
