Repository and-period/furumaru, pull requests merged in 2022-09, with the labels that each got.

#337 商品登録機能の実装
  web/admin/package.json
  web/admin/src/components/atoms/TheFileUploadFiled.vue
  web/admin/src/pages/coordinator/add.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/store/coordinator.ts
  web/admin/src/store/product.ts
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#336 Add: added promotion create ui
  web/admin/src/components/organisms/ThePromotionForm.vue
  web/admin/src/components/templates/ThePromotionCreateFormPage.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/index.vue
Labels: mergeable, frontend (admin)

#360 Chore(*): Update libraries for backend
  api/go.mod
  api/go.sum
Labels: mergeable

#362 Chore(*): Update libraries for admin web
  web/admin/package.json
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#361 Chore(*): Update libraries for user web
  web/user/package.json
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#364 Pkg(ivs): add client CreateChannel
  api/go.mod
  api/go.sum
  api/mock/pkg/ivs/client.go
  api/pkg/ivs/channel.go
  api/pkg/ivs/client.go
  api/pkg/ivs/client_test.go
Labels: mergeable, test

#363 Vuetifyのlocaleの設定とscss変数を設定する
  web/admin/nuxt.config.ts
  web/admin/src/assets/variables.scss
Labels: mergeable, frontend (admin)

#366 Add: added promotion validation
  web/admin/src/components/organisms/ThePromotionForm.vue
Labels: frontend (admin)

#368 自動生成されるコードをlintの対象外にする
  Makefile
  web/admin/.prettierignore
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/base.ts
  web/admin/src/types/api/common.ts
  web/admin/src/types/api/configuration.ts
  web/admin/src/types/api/index.ts
  web/user/.prettierignore
  web/user/src/types/api/api.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
  web/user/src/types/api/configuration.ts
  web/user/src/types/api/index.ts
Labels: mergeable, frontend (user), frontend (admin)

#369 pkg(IVS): Add GetChannel method
  api/mock/pkg/ivs/client.go
  api/pkg/ivs/channel.go
  api/pkg/ivs/client.go
Labels: mergeable

#365 ページネーションの部分を修正
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/components/organisms/TheProductTypeList.vue
  web/admin/src/lib/hooks/index.ts
  web/admin/src/lib/hooks/usePagination.ts
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
Labels: mergeable, frontend (admin)

#367 お問合せ管理
  web/admin/src/pages/contacts/edit.vue
  web/admin/src/pages/contacts/edit/_id.vue
  web/admin/src/store/contact.ts
Labels: mergeable, frontend (admin)

#388 Refactor: refactor code
  web/admin/src/components/organisms/ThePromotionForm.vue
Labels: frontend (admin)

#393 Database(stores): create table schedules and lives
  infra/mysql/schema/2022091001-stores-create-schedules.sql
  infra/mysql/schema/2022091002-stores-create-lives.sql
Labels: mergeable, infra (database)

#394 Fix: change updatedAt description
  docs/swagger/admin/components/schemas/v1/administrator.response.yaml
  docs/swagger/admin/components/schemas/v1/category.response.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/components/schemas/v1/message.response.yaml
  docs/swagger/admin/components/schemas/v1/notification.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  docs/swagger/admin/components/schemas/v1/promotion.response.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)

#390 管理者ページのフロントエンドバリデーションを追加
  web/admin/src/lib/validations/index.ts
  web/admin/src/lib/validations/message.ts
  web/admin/src/lib/validations/rule.ts
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/coordinator/add.vue
  web/admin/src/pages/products/add.vue
Labels: mergeable, frontend (admin)

#391 feat: サインアウト機能の実装
  web/admin/src/assets/variables.scss
  web/admin/src/pages/settings.vue
  web/admin/src/store/auth.ts
Labels: mergeable, frontend (admin)

#392 生産者管理の部分にサーバページネーションを追加
  web/admin/src/pages/producers/index.vue
  web/admin/src/store/producer.ts
Labels: mergeable, frontend (admin)

#400 Feat(store): create live schedule entity
  api/internal/store/entity/schdule_test.go
  api/internal/store/entity/schedule.go
Labels: mergeable, test, backend (store)

#401 Add: added notification list
  web/admin/src/pages/notifications.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/notification.ts
Labels: mergeable, frontend (admin)

#389 Feature/contacts management2
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

#402 fix(store): typo ThumbnailURL
  api/internal/store/entity/schdule_test.go
  api/internal/store/entity/schedule.go
Labels: test, backend (store)

#403 feat(api): create slack client
  api/go.mod
  api/go.sum
  api/mock/pkg/slack/client.go
  api/pkg/slack/client.go
Labels: mergeable

#412 chore(api): upgrade golang version 1.19.1
  .github/workflows/ci-backend-for-all.yaml
  api/.go-version
  api/Makefile
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), mergeable, workflow

#413 feat(gateway): implement slack alert function
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/pkg/slack/client.go
Labels: mergeable, backend (user), backend (gateway)

#419 feat(user): replace admin entity
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/service/admin.go
  api/internal/gateway/admin/v1/service/admin_test.go
  api/internal/gateway/admin/v1/service/administrator_test.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/admin/v1/service/notification.go
  api/internal/gateway/admin/v1/service/notification_test.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/store/service/product_test.go
  api/internal/user/database/admin.go
  api/internal/user/database/admin_auth.go
  api/internal/user/database/admin_test.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/entity/admin_test.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/internal/user/service/service_test.go
  api/mock/user/database/database.go
  docs/swagger/admin/paths/v1/administrators/index.yaml
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  docs/swagger/admin/paths/v1/producers/index.yaml
  infra/mysql/schema/2022092402-users-drop-admins.sql
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (store), backend (messenger)

#420 feat(user): replace user entity
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/gateway/user/v1/service/auth.go
  api/internal/gateway/user/v1/service/auth_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker_test.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/customer.go
  api/internal/user/database/customer_test.go
  api/internal/user/database/database.go
  api/internal/user/database/guest.go
  api/internal/user/database/member.go
  api/internal/user/database/member_test.go
  api/internal/user/database/producer.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/entity/customer.go
  api/internal/user/entity/customer_test.go
  api/internal/user/entity/guest.go
  api/internal/user/entity/guest_test.go
  api/internal/user/entity/member.go
  api/internal/user/entity/member_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/producer.go
  api/internal/user/service/service_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_auth.go
  api/internal/user/service/user_auth_test.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  infra/mysql/schema/2022092403-users-replace-users.sql
Labels: test, backend (user), infra (database), backend (gateway), backend (messenger)

#414 顧客一覧（ベタ打ち）
  web/admin/src/pages/customers.vue
  web/admin/src/pages/customers/edit/id.vue
  web/admin/src/pages/customers/index.vue
Labels: mergeable, frontend (admin)

#399 fix: 商品登録のボタン色を変更
  web/admin/src/pages/products/index.vue
Labels: mergeable, frontend (admin)

#421 feat(store): implement live entity
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
Labels: mergeable, test, backend (store)

#431 Add: added notification delete
  web/admin/src/pages/notifications/index.vue
  web/admin/src/store/notification.ts
Labels: frontend (admin)
