Repository and-period/furumaru, pull requests merged in 2022-08, with the labels that each got.

#221 feat(user): add sort query for list producers
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/producer.go
  api/internal/user/input.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  docs/swagger/admin/paths/v1/producers/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin)

#206 Add: added error message
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
Labels: mergeable, frontend (admin)

#222 conflict refactor
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
Labels: mergeable, frontend (admin)

#223 feat(user): add sort query for list coordinators
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/coordinator.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin)

#224 feat(user): add sort query for list administrators
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/administrator.go
  api/internal/user/input.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  docs/swagger/admin/paths/v1/administrators/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin)

#226 feat(store): add sort query for list api
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/shipping_test.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type_test.go
  api/internal/store/database/shipping.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/category.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/shipping.go
  api/internal/store/input.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  docs/swagger/admin/paths/v1/categories/-/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store)

#227 feat(messenger): add sort query for list api
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/handler/message.go
  api/internal/gateway/admin/v1/handler/message_test.go
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/message.go
  api/internal/messenger/database/message_test.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/message.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/input.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/message.go
  api/internal/messenger/service/message_test.go
  docs/swagger/admin/paths/v1/contacts/index.yaml
  docs/swagger/admin/paths/v1/messages/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (messenger)

#228 feat(web/admin): setup amplify client
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/.keep
  web/admin/src/plugins/amplify.ts
  web/admin/yarn.lock
Labels: frontend (admin)

#225 test: authのテストケースを追加
  web/admin/package.json
  web/admin/src/store/auth.ts
  web/admin/src/types/exception.ts
  web/admin/test/store/auth.spec.ts
  web/admin/yarn.lock
Labels: mergeable, test, frontend (admin)

#229 feat(web/admin): changing pinpoint config
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/plugins/.keep
  web/user/src/plugins/amplify.ts
  web/user/yarn.lock
Labels: frontend (user)

#199 Feat(gateway): create notification handler
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
  api/internal/gateway/admin/v1/request/notification.go
  api/internal/gateway/admin/v1/response/notification.go
  api/internal/gateway/admin/v1/service/notification.go
  api/internal/gateway/admin/v1/service/notification_test.go
Labels: mergeable, test, backend (gateway)

#231 feat(stripe): implement stripe client
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/stripe/handler/api.go
  api/internal/gateway/stripe/handler/api_test.go
  api/internal/gateway/stripe/handler/event.go
  api/internal/gateway/stripe/handler/event_test.go
  api/mock/pkg/stripe/client.go
  api/pkg/stripe/card.go
  api/pkg/stripe/client.go
  api/pkg/stripe/client_test.go
  api/pkg/stripe/customer.go
  api/pkg/stripe/event.go
  api/pkg/stripe/payment.go
  docker-compose.yaml
Labels: test, backend (gateway)

#219 メールアドレス変更２
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/store/auth.ts
Labels: mergeable, frontend (admin)

#230 producer store のテストを追記
  web/admin/src/store/auth.ts
  web/admin/src/store/producer.ts
  web/admin/src/types/exception.ts
  web/admin/test/helpers/auth-helpter.ts
  web/admin/test/helpers/axios-helpter.ts
  web/admin/test/store/auth.spec.ts
  web/admin/test/store/producer.spec.ts
Labels: mergeable, test, frontend (admin)

#233 docs: add notification description
  docs/swagger/admin/components/schemas/v1/notification.request.yaml
  docs/swagger/admin/components/schemas/v1/notification.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)

#237 feat(store): define promotion entity
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  infra/mysql/schema/2022080801-stores-create-promotions.sql
Labels: test, infra (database), backend (store)

#234 feat: 段ボールのコンポーネントの作成
  web/admin/src/components/atoms/TheCube.vue
  web/admin/src/components/atoms/TheCubeOpen.vue
  web/admin/src/pages/index.vue
  web/admin/src/static/furulogo.png
Labels: mergeable, frontend (admin)

#238 feat(store): define promotion interface
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/request/promotion.go
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/store/entity/promotion.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/promotion.request.yaml
  docs/swagger/admin/components/schemas/v1/promotion.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/promotions/_promotionId/index.yaml
  docs/swagger/admin/paths/v1/promotions/index.yaml
  docs/swagger/admin/paths/v1/upload/products/icon.yaml
  docs/swagger/admin/paths/v1/upload/products/image.yaml
  docs/swagger/admin/paths/v1/upload/products/video.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store)

#239 feat(store): add column to product table
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  infra/mysql/schema/2022081001-stores-add-column.sql
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, infra (database), backend (gateway), frontend (admin), backend (store)

#240 feat(store): implement promotion logic
  api/internal/store/database/database.go
  api/internal/store/database/promotion.go
  api/internal/store/database/promotion_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
Labels: test, backend (store)

#243 feat(store): implement list promotions api
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/store/database/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: test, backend (gateway), backend (store)

#244 feat(store): implement create promotion api
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: test, backend (gateway), backend (store)

#235 Feature/category delete
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/components/organisms/TheProductTypeList.vue
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

#241 refactor(*): refactor test handler and service
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/messenger/service/service_test.go
  api/internal/store/service/service_test.go
  api/internal/user/service/service_test.go
Labels: mergeable, test, backend (user), backend (gateway), backend (store), backend (messenger)

#242 feat(user): implement register admin device api
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/auth_test.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/user/database/admin_auth.go
  api/internal/user/database/admin_auth_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/device.yaml
  infra/mysql/schema/2022081301-users-add-column.sql
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (user), infra (database), backend (gateway), frontend (admin)

#245 feat(store): implement get promotion api
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: mergeable, test, backend (gateway), backend (store)

#246 feat(store): implement update promotion api
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: test, backend (gateway), backend (store)

#247 feat(store): implement delete promotion api
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: test, backend (gateway), backend (store)

#248 Fix: fixed errorhandling
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/product-type.ts
  web/admin/src/types/exception.ts
Labels: mergeable, frontend (admin)

#250 Add: added category update
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/category.ts
Labels: mergeable, frontend (admin)

#249 firebaseの設定を追加
  web/admin/.gitignore
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/firebase.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/sw/firebase-messaging-sw.ts
  web/admin/tsconfig.json
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#251 feat(*): setup fcm client
  api/go.mod
  api/go.sum
  api/internal/exception/error.go
  api/internal/exception/error_test.go
  api/internal/messenger/cmd/worker/config.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/push_template.go
  api/internal/messenger/database/push_template_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/push_config.go
  api/internal/messenger/entity/push_template.go
  api/internal/messenger/entity/push_template_test.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/entity/report_config.go
  api/internal/messenger/input.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/push.go
  api/internal/messenger/worker/push_test.go
  api/internal/messenger/worker/reporter.go
  api/internal/messenger/worker/reporter_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/messenger/database/database.go
  api/mock/pkg/firebase/messaging/client.go
  api/mock/user/service.go
  api/pkg/firebase/messaging/client.go
  api/pkg/firebase/messaging/sender.go
  infra/mysql/schema/2022081401-messengers-create-push-templates.sql
Labels: test, backend (user), infra (database), backend (messenger)

#232 お問合せ管理
  web/admin/src/pages/contacts.vue
  web/admin/src/pages/contacts/edit.vue
  web/admin/src/pages/contacts/index.vue
Labels: mergeable, frontend (admin)

#253 fix(store): fix product icon
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/request/product_type.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/response/product_type.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/admin/v1/service/product_type.go
  api/internal/gateway/admin/v1/service/product_type_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type.go
  api/internal/store/database/product_type_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/product_type_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/mock/store/database/database.go
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.request.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/product-types/icon.yaml
  infra/mysql/schema/2022081402-stores-alter-column.sql
  web/admin/src/pages/categories/index.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store)

#254 chore(*): update go libraries
  .github/workflows/ci-backend-for-all.yaml
  api/.go-version
  api/.golangci.yaml
  api/Makefile
  api/go.mod
  api/go.sum
  api/hack/create-admin/main.go
  api/internal/gateway/stripe/handler/event.go
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow, backend (gateway)

#273 chore(workflow): update dependencies
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
  .github/workflows/pr-labeler.yaml
Labels: workflow

#274 chore(docs): update dependencies
  docs/swagger/yarn.lock
Labels: docs, mergeable

#275 chore(web/user): update dependencies
  web/user/yarn.lock
Labels: frontend (user)

#276 chore(web/admin): update dependencies
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

#279 feat(web/admin): add broadcast client mock
  web/admin/package.json
  web/admin/src/pages/livestreaming.vue
  web/admin/yarn.lock
Labels: frontend (admin)

#278 Google Analyticsの最低限の設定
  web/admin/nuxt.config.ts
  web/admin/src/plugins/google-analytics.ts
Labels: mergeable, frontend (admin)

#280 feat(web/admin): add live viewing client
  web/admin/package.json
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/livestreaming/view.vue
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#298 refactor(docs): changing error message
  docs/swagger/admin/paths/v1/administrators/_adminId/email.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/index.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/password.yaml
  docs/swagger/admin/paths/v1/administrators/index.yaml
  docs/swagger/admin/paths/v1/auth/device.yaml
  docs/swagger/admin/paths/v1/auth/email/index.yaml
  docs/swagger/admin/paths/v1/auth/email/verified.yaml
  docs/swagger/admin/paths/v1/auth/index.yaml
  docs/swagger/admin/paths/v1/auth/password.yaml
  docs/swagger/admin/paths/v1/auth/refresh-token.yaml
  docs/swagger/admin/paths/v1/categories/-/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/_productTypeId/index.yaml
  docs/swagger/admin/paths/v1/categories/_categoryId/product-types/index.yaml
  docs/swagger/admin/paths/v1/categories/index.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/index.yaml
  docs/swagger/admin/paths/v1/contacts/index.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/email.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/password.yaml
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  docs/swagger/admin/paths/v1/messages/_messageId/index.yaml
  docs/swagger/admin/paths/v1/messages/index.yaml
  docs/swagger/admin/paths/v1/notifications/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/email.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/password.yaml
  docs/swagger/admin/paths/v1/producers/index.yaml
  docs/swagger/admin/paths/v1/products/_productId/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  docs/swagger/admin/paths/v1/promotions/_promotionId/index.yaml
  docs/swagger/admin/paths/v1/promotions/index.yaml
  docs/swagger/admin/paths/v1/shippings/_shippingId/index.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/header.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/thumbnail.yaml
  docs/swagger/admin/paths/v1/upload/producers/header.yaml
  docs/swagger/admin/paths/v1/upload/producers/thumbnail.yaml
  docs/swagger/admin/paths/v1/upload/product-types/icon.yaml
  docs/swagger/admin/paths/v1/upload/products/image.yaml
  docs/swagger/admin/paths/v1/upload/products/video.yaml
  docs/swagger/user/paths/v1/auth/email/index.yaml
  docs/swagger/user/paths/v1/auth/email/verified.yaml
  docs/swagger/user/paths/v1/auth/forgot-password/index.yaml
  docs/swagger/user/paths/v1/auth/forgot-password/verified.yaml
  docs/swagger/user/paths/v1/auth/index.yaml
  docs/swagger/user/paths/v1/auth/initialized.yaml
  docs/swagger/user/paths/v1/auth/password.yaml
  docs/swagger/user/paths/v1/auth/refresh-token.yaml
  docs/swagger/user/paths/v1/auth/user/index.yaml
  docs/swagger/user/paths/v1/auth/user/oauth.yaml
  docs/swagger/user/paths/v1/auth/user/verified.yaml
  docs/swagger/user/paths/v1/contacts/index.yaml
  web/user/src/types/api/api.ts
Labels: docs, mergeable, frontend (user)

#299 fix(user): fix initialize user logic
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/user/database/admin_auth_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: mergeable, test, backend (user), backend (gateway)

#301 chore(*): update libraries for user web
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#300 chore(*): update libraries for backend
  api/go.mod
  api/go.sum
Labels: mergeable

#303 chore(web/admin): update dependencies for admin web
  web/admin/package.json
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#281 Feat(messenger): ListNotifications ServiceLayer
  api/internal/messenger/database/database.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
  api/mock/messenger/database/database.go
Labels: mergeable, test, backend (messenger)

#304 feat(web/admin): implement register device token client
  web/admin/src/middleware/.keep
  web/admin/src/middleware/auth.ts
  web/admin/src/plugins/firebase.ts
  web/admin/src/store/auth.ts
  web/admin/test/helpers/.keep
  web/admin/test/store/.keep
  web/admin/test/store/auth.spec.ts
  web/admin/test/store/producer.spec.ts
Labels: mergeable, test, frontend (admin)

#305 fix(api): fix error log format
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: bug, mergeable, backend (user), backend (gateway)

#306 商品一覧取得のAPI連携
  web/admin/src/pages/products/index.vue
  web/admin/src/store/product.ts
  web/admin/test/store/product.spec.ts
Labels: mergeable, test, frontend (admin)

#307 Docs: list notifications swagger
  docs/swagger/admin/components/schemas/v1/notification.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/notifications/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)

#308 refactor(api): refactor common package
  api/pkg/backoff/retry_test.go
  api/pkg/stripe/card.go
  api/pkg/stripe/client.go
  api/pkg/stripe/customer.go
  api/pkg/stripe/payment.go
Labels: mergeable, test

#309 Feat: ListNotifications Gateway
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
  api/internal/gateway/admin/v1/response/admin.go
  api/internal/gateway/admin/v1/response/notification.go
  api/internal/gateway/admin/v1/service/administrator.go
  api/internal/gateway/admin/v1/service/administrator_test.go
  api/internal/gateway/admin/v1/service/notification.go
  api/internal/gateway/admin/v1/service/notification_test.go
  api/internal/messenger/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
  api/mock/messenger/service.go
Labels: mergeable, test, backend (user), backend (gateway), backend (messenger)

#328 Add: added promotion ui
  web/admin/package.json
  web/admin/src/layouts/default.vue
  web/admin/src/pages/events.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/promotion.ts
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#327 Feat/delete notification/database layer
  api/internal/messenger/database/database.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/entity/notification.go
  api/mock/messenger/database/database.go
  infra/mysql/schema/2022082501-messengers-add-column.sql
Labels: mergeable, test, infra (database), backend (messenger)

#329 feat: add DeleteNotification ServiceLayer
  api/internal/messenger/input.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
Labels: mergeable, test, backend (messenger)

#331 Chore(*): update libraries for backend
  api/go.mod
  api/go.sum
Labels: mergeable

#332 Chore(*): Update libraries for user web
  web/user/package.json
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#333 Chore(*): Update libraries for admin web
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#334 Chore(*): Update for docs
  docs/swagger/yarn.lock
Labels: docs, mergeable

#335 Feat(messenger): DeleteNotification gateway
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
  api/internal/messenger/service.go
  api/mock/messenger/service.go
Labels: mergeable, test, backend (gateway), backend (messenger)

#330 feat: add delete_notification swagger
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/notifications/_notificationId/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)

#339 fix(gateway): fix json tag in product request'
  api/internal/gateway/admin/v1/request/product.go
Labels: mergeable, backend (gateway)

#340 fix(store): fix fill from json input
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
Labels: test, backend (store)

#338 Feat(messenger): UpdateNotification database layer
  api/internal/messenger/database/database.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
  api/mock/messenger/database/database.go
Labels: mergeable, test, backend (messenger)

#342 Feat(messenger): UpdateNotification service layer
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
  api/mock/messenger/service.go
Labels: mergeable, test, backend (messenger)

#341 fix(gateway): fix error handling for create api
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
Labels: mergeable, test, backend (gateway)

#359 Feat(messenger): Implement UpdateNotification gateway layer
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
  api/internal/gateway/admin/v1/request/notification.go
Labels: mergeable, test, backend (gateway)
