Repository and-period/furumaru, pull requests merged in 2022-10, with the labels that each got.

#434 Feature/notification create
  web/admin/src/components/organisms/TheNotificationForm.vue
  web/admin/src/components/templates/TheNotificationCreateFormPage.vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/notification.ts
Labels: mergeable, frontend (admin)

#436 feat(store): define order entity
  api/internal/store/entity/order.go
  api/internal/store/entity/order_activity.go
  api/internal/store/entity/order_fulfillment.go
  api/internal/store/entity/order_item.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/payment_card.go
  api/internal/store/entity/stripe_user.go
  infra/mysql/schema/2022100601-stores-create-payments.sql
  infra/mysql/schema/2022100701-stores-create-orders.sql
Labels: mergeable, infra (database), backend (store)

#435 Feature/customer management
  web/admin/src/pages/customers/edit/_id.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/types/props/customer.ts
Labels: mergeable, frontend (admin)

#438 feat(messenger): added GetNotification
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/notification_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
  api/mock/messenger/service.go
  docs/swagger/admin/components/schemas/v1/notification.request.yaml
  docs/swagger/admin/paths/v1/notifications/_notificationId/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (gateway), frontend (admin), backend (messenger)

#439 feat(store): implement database logic for order
  api/internal/store/database/database.go
  api/internal/store/database/order.go
  api/internal/store/database/order_activity.go
  api/internal/store/database/order_activity_test.go
  api/internal/store/database/order_fulfillment.go
  api/internal/store/database/order_fulfillment_test.go
  api/internal/store/database/order_item.go
  api/internal/store/database/order_item_test.go
  api/internal/store/database/order_payment.go
  api/internal/store/database/order_payment_test.go
  api/internal/store/database/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_activity.go
  api/internal/store/entity/order_activity_test.go
  api/internal/store/entity/order_fulfillment.go
  api/internal/store/entity/order_fulfillment_test.go
  api/internal/store/entity/order_item.go
  api/internal/store/entity/order_item_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  infra/mysql/schema/2022101001-stores-alter-table.sql
Labels: test, infra (database), backend (store)

#440 feat(store): implement get order
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/mock/store/service.go
Labels: test, backend (store)

#442 feat(gateway): implement order entity
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_fulfillment.go
  api/internal/gateway/admin/v1/service/order_fulfillment_test.go
  api/internal/gateway/admin/v1/service/order_item.go
  api/internal/gateway/admin/v1/service/order_item_test.go
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/admin/v1/service/order_refund.go
  api/internal/gateway/admin/v1/service/order_refund_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/entity/order.go
  api/internal/store/service/order_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/pkg/jst/jst.go
Labels: test, backend (user), backend (gateway), backend (store)

#441 Add: added promotion create
  web/admin/src/components/organisms/ThePromotionForm.vue
  web/admin/src/components/templates/ThePromotionCreateFormPage.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/store/promotion.ts
Labels: mergeable, frontend (admin)

#416 feat(stotre): add CreatSchedule service layer
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/live.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: mergeable, test, backend (store)

#448 fix(*): fix product and producer and more...
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/request/producer.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_item_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_product.go
  api/internal/store/database/live_product_test.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order.go
  api/internal/store/database/order_test.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/live.go
  api/internal/store/entity/live_product.go
  api/internal/store/entity/live_product_test.go
  api/internal/store/entity/live_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/service_test.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/producer.go
  api/internal/user/input.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/store/database/database.go
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  infra/mysql/schema/2022101201-stores-alter-column-schedules.sql
  infra/mysql/schema/2022101202-stores-after-column-orders.sql
  infra/mysql/schema/2022101203-users-alter-column-admins.sql
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/producers/edit/_id.vue
  web/admin/src/types/api/api.ts
  web/admin/test/store/producer.spec.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (store)

#449 docs(store): added createSchedule swagger
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)

#450 fix(gateway): filter access for producer api
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/auth_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/producer.go
Labels: test, backend (user), backend (gateway)

#451 feat(user): list producers with coordinator id
  api/internal/user/input.go
Labels: backend (user)

#453 feat(gateway): filter products api
  api/.golangci.yaml
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/store/database/database.go
  api/internal/store/database/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/paths/v1/producers/_producerId/email.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/password.yaml
  docs/swagger/admin/paths/v1/products/_productId/index.yaml
  docs/swagger/admin/paths/v1/products/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store)

#454 feat(store): add field to list orders api
  api/internal/store/database/database.go
  api/internal/store/database/order.go
  api/internal/store/database/order_test.go
  api/internal/store/input.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: test, backend (store)

#456 feat(gateway): implement get orders api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/service.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/orders/_orderId/index.yaml
  docs/swagger/admin/paths/v1/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store)

#458 refactor(gateway): changing middleware logic
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/message.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/auth.go
Labels: test, backend (user), backend (gateway)

#459 fix(gateway): fix create producers logic
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/request/producer.go
  api/internal/user/entity/producer.go
  api/internal/user/input.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  infra/mysql/schema/2022101601-users-alter-table.sql
  web/admin/src/pages/producers/add.vue
  web/admin/src/types/api/api.ts
  web/admin/test/store/producer.spec.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin)

#455 feat: 配送情報一覧ページを実装
  web/admin/src/assets/variables.scss
  web/admin/src/lib/formatter/day.ts
  web/admin/src/lib/formatter/index.ts
  web/admin/src/lib/formatter/money.ts
  web/admin/src/pages/settings.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/store/shippings.ts
Labels: mergeable, frontend (admin)

#457 Add: added promotion delete
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/promotion.ts
Labels: mergeable, frontend (admin)

#461 feat(gateway): add filter to list producers api
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  docs/swagger/admin/paths/v1/producers/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin)

#463 配送一覧の修正
  web/admin/src/pages/shippings/index.vue
Labels: mergeable, frontend (admin)

#464 feat(gateway): implement related producer api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/request/producer.go
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/relationship.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin)

#465 fix(user): fix related producer
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
Labels: test, backend (user)

#467 feat(gateway): changing filter access
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/order.go
Labels: backend (gateway)

#468 配送情報の表示を修正
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

#478 chore(*): add command description
  Makefile
  api/Makefile
  docs/swagger/Makefile
Labels: docs, mergeable

#474 chore(api): update dependencies
  api/go.mod
  api/go.sum
Labels: mergeable

#475 chore(docs): update dependencies
  docs/swagger/package.json
  docs/swagger/yarn.lock
Labels: docs, mergeable

#477 chore(api): upgrade nodejs version 18.11.0
  .github/workflows/ci-docs-for-all.yaml
  docs/swagger/.node-version
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
Labels: infra (container), mergeable, workflow

#480 style: lintの警告に対応
  web/admin/src/pages/shippings/index.vue
Labels: mergeable, frontend (admin)

#481 ’コーディネータ管理の大枠’
  web/admin/src/layouts/default.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/add.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/coordinator.ts
Labels: mergeable, frontend (admin)

#479 Feature/promotion edit
  web/admin/src/components/organisms/ThePromotionForm.vue
  web/admin/src/components/templates/ThePromotionEditFormPage.vue
  web/admin/src/pages/promotions/edit/_id.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/promotion.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/promotion.ts
Labels: mergeable, frontend (admin)

#482 feat(store): implement aggregate orders
  api/internal/store/database/database.go
  api/internal/store/database/order.go
  api/internal/store/database/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: test, backend (store)

#483 refactor(user): refactor update admin service
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
Labels: test, backend (user)

#485 feat(gateway): split get products method
  api/internal/gateway/admin/v1/handler/product.go
Labels: backend (gateway)

#469 Feat(store): implement CreateSchedule gateway layer
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/live.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
Labels: mergeable, test, backend (gateway), backend (store)

#486 配送情報新規登録画面の実装
  web/admin/src/constants/prefectures.ts
  web/admin/src/lib/prefectures/helper.ts
  web/admin/src/lib/prefectures/index.ts
  web/admin/src/pages/shippings/add.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/store/shippings.ts
  web/admin/src/types/exception.ts
Labels: mergeable, frontend (admin)

#489 feat(gateway): implement list users api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/handler/user_test.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  docs/swagger/admin/components/schemas/v1/user.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/users/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (gateway), frontend (admin), backend (store)

#498 feat(gateway): implement get user api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/handler/user_test.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user.go
  docs/swagger/admin/components/schemas/v1/user.response.yaml
Labels: docs, mergeable, test, backend (gateway)

#499 refactor(user): refactor create user logic
  api/internal/user/database/database.go
  api/internal/user/database/member.go
  api/internal/user/database/member_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  infra/mysql/schema/2022102701-users-alter-column-users.sql
Labels: test, backend (user), infra (database)

#497 feat(user): implement delete admin
  api/internal/user/database/admin.go
  api/internal/user/database/administrator.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/member_test.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/admin.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  infra/mysql/schema/2022102702-users-alter-column-admins.sql
Labels: test, backend (user), infra (database)

#501 feat(gateway): implement delete admin api
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  docs/swagger/admin/paths/v1/administrators/_adminId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin)

#503 画像アップロード機能
  web/admin/src/pages/coordinators/add.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/store/coordinator.ts
Labels: mergeable, frontend (admin)

#504 feat(media): initialize media service
  api/hack/database-migrate/main.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/internal/messenger/entity/notification.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/live_product.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/service/shipping_test.go
  api/internal/user/entity/admin.go
  api/mock/media/service.go
  api/mock/pkg/storage/client.go
  api/pkg/set/v2/set.go
  api/pkg/set/v2/set_test.go
  api/pkg/storage/client.go
  api/tmp/and-period.mp4
Labels: WIP, test, backend (user), backend (gateway), backend (store), backend (media), backend (messenger)

#508 feat(gateway): setup media service
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/store/service/shipping_test.go
Labels: test, backend (gateway), backend (store)

#502 Add: added product type icon
  web/admin/src/components/organisms/TheProductTypeList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/store/product-type.ts
Labels: mergeable, frontend (admin)

#507 Docs(store):fix create_schedule swagger
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)

#509 いらないところをマスクしたりした
  web/admin/src/layouts/default.vue
  web/admin/src/pages/settings.vue
Labels: mergeable, frontend (admin)

#511 fix(api): fixed a typographical error
  api/internal/gateway/admin/v1/request/notification.go
  api/internal/gateway/admin/v1/request/producer.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/response/notification.go
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/admin_test.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/media/entity/regulation.go
  api/internal/media/service.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/payload.go
  api/internal/store/entity/order.go
  api/internal/store/entity/schedule.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/producer.go
  api/internal/user/service.go
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/email.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/password.yaml
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/relationship.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/header.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/thumbnail.yaml
  infra/mysql/schema/2022060702-users-create-admins.sql
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (store), backend (media), backend (messenger)

#510 chore(github): fixed github output
  .github/workflows/ci-docs-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: mergeable, workflow

#513 feat(media): implement resize method
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/entity/payload.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/resize.go
  api/internal/media/service/resize_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/mock/media/service.go
  infra/terraform/env/stg/05-sqs/02-media.tf
Labels: test, backend (gateway), backend (media), infra (terraform)
