Repository and-period/furumaru, pull requests merged in 2022-05, with the labels that each got.

#45 feat(api/user): define admin auth
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/shop/config.go
  api/internal/gateway/cmd/shop/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/user/database/admin.go
  api/internal/user/database/admin_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_atuth_test.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/user_auth.go
  api/internal/user/entity/user_auth_test.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/input.go
  api/internal/user/service/service.go
  api/mock/user/database/database.go
  api/mock/user/service/service.go
  docker-compose.yaml
Labels: test, backend (user), backend (gateway), backend (shop)

#47 feat(user): add thumbnail url to user entity
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/handler/user_test.go
  api/internal/gateway/user/v1/response/user.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/entity/user.go
  api/internal/user/service/user_test.go
  docs/swagger/user/components/schemas/v1/users.response.yaml
  infra/mysql/schema/2022050401-users-add-column.sql
  web/user/src/types/api/api.ts
Labels: docs, mergeable, test, backend (user), infra (database), backend (gateway), frontend (user)

#48 feat(store): implement get store api
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/shop/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/shop/v1/handler/api.go
  api/internal/gateway/shop/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/util/response.go
  api/internal/store/database/database.go
  api/internal/store/database/database_test.go
  api/internal/store/database/staff.go
  api/internal/store/database/staff_test.go
  api/internal/store/database/store.go
  api/internal/store/database/store_test.go
  api/internal/store/entity/staff.go
  api/internal/store/entity/store.go
  api/internal/store/service/input.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/internal/store/service/staff.go
  api/internal/store/service/staff_test.go
  api/internal/store/service/store.go
  api/internal/store/service/store_test.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_auth.go
  api/mock/store/database/database.go
  api/mock/store/service/service.go
Labels: test, backend (user), backend (gateway), backend (shop)

#43 ホーム画面のヘッダーコンポーネントを実装
  web/user/src/components/molecules/TheHeaderMenuButton.vue
  web/user/src/components/organisms/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.ts
  web/user/src/locales/ja_jp.ts
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#50 feat(gateway): implement get store api
  .env.temp
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/store.go
  api/internal/gateway/admin/v1/handler/store_test.go
  api/internal/gateway/admin/v1/service/staff.go
  api/internal/gateway/admin/v1/service/store.go
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/shop/config.go
  api/internal/gateway/cmd/shop/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/store/entity/staff.go
  api/internal/user/entity/shop.go
  api/internal/user/service/input.go
  api/internal/user/service/service.go
  api/internal/user/service/shop.go
  api/mock/user/service/service.go
  docker-compose.yaml
Labels: test, backend (user), backend (gateway), backend (shop)

#49 Feature/user/header menu
  web/user/src/assets/variables.scss
  web/user/src/components/organisms/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.ts
  web/user/src/locales/ja_jp.ts
  web/user/src/types/locales/i18n.ts
  web/user/src/types/props/header.ts
  web/user/src/types/props/index.ts
Labels: mergeable, frontend (user)

#52 feat(user): implement get shop api
  api/internal/gateway/admin/v1/handler/store_test.go
  api/internal/gateway/admin/v1/service/staff.go
  api/internal/user/database/database.go
  api/internal/user/database/shop.go
  api/internal/user/database/shop_test.go
  api/internal/user/entity/shop.go
  api/internal/user/entity/shop_test.go
  api/internal/user/service/input.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
  api/internal/user/service/shop.go
  api/internal/user/service/shop_test.go
  api/mock/user/database/database.go
  api/mock/user/service/service.go
  infra/mysql/schema/2022050701-users-alter-column-shops.sql
Labels: test, backend (user), infra (database), backend (gateway)

#54 feat(api): create uploader
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/store.go
  api/internal/gateway/admin/v1/handler/store_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/request/store.go
  api/internal/gateway/admin/v1/response/store.go
  api/internal/gateway/admin/v1/response/uploader.go
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/shop/config.go
  api/internal/gateway/cmd/shop/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/shop/v1/handler/api.go
  api/internal/gateway/shop/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/util/response.go
  api/internal/gateway/util/response_test.go
  api/internal/store/service/input.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/internal/store/service/store.go
  api/internal/store/service/store_test.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
  api/mock/store/service/service.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
  api/pkg/cognito/client_test.go
  api/pkg/cognito/user.go
  api/pkg/storage/client.go
Labels: test, backend (user), backend (gateway), backend (shop)

#58 feat(user): implement create shop api
  api/internal/user/database/database.go
  api/internal/user/database/shop.go
  api/internal/user/database/shop_test.go
  api/internal/user/entity/shop.go
  api/internal/user/entity/shop_test.go
  api/internal/user/service/input.go
  api/internal/user/service/service.go
  api/internal/user/service/shop.go
  api/internal/user/service/shop_test.go
  api/mock/pkg/cognito/client.go
  api/mock/user/database/database.go
  api/mock/user/service/service.go
  api/pkg/cognito/admin.go
  api/pkg/cognito/client.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: test, backend (user)

#60 refactor(api): remove shop entity
  .env.temp
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yaml
  .github/workflows/ci-backend-for-all.yaml
  api/cmd/gateway/shop/main.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/store.go
  api/internal/gateway/admin/v1/handler/store_test.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/staff.go
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/shop/config.go
  api/internal/gateway/cmd/shop/exec.go
  api/internal/gateway/cmd/shop/registry.go
  api/internal/gateway/cmd/shop/router.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/shop/v1/handler/api.go
  api/internal/gateway/shop/v1/handler/api_test.go
  api/internal/user/database/admin.go
  api/internal/user/database/admin_test.go
  api/internal/user/database/database.go
  api/internal/user/database/shop.go
  api/internal/user/database/shop_test.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_atuth_test.go
  api/internal/user/entity/admin_test.go
  api/internal/user/entity/shop.go
  api/internal/user/entity/shop_test.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/input.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
  api/internal/user/service/shop.go
  api/internal/user/service/shop_test.go
  api/mock/user/database/database.go
  api/mock/user/service/service.go
  docker-compose.yaml
  docs/swagger/Makefile
  docs/swagger/admin/components/schemas/v1/admins.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/shop/components/schemas/common.yaml
  docs/swagger/shop/components/schemas/v1/auth.request.yaml
  docs/swagger/shop/components/schemas/v1/auth.response.yaml
  docs/swagger/shop/components/schemas/v1/shops.request.yaml
  docs/swagger/shop/components/schemas/v1/shops.response.yaml
  docs/swagger/shop/openapi.yaml
  docs/swagger/shop/paths/v1/auth/index.yaml
  docs/swagger/shop/paths/v1/auth/refresh-token.yaml
  docs/swagger/shop/paths/v1/shops/me/email/index.yaml
  docs/swagger/shop/paths/v1/shops/me/email/verified.yaml
  docs/swagger/shop/paths/v1/shops/me/index.yaml
  docs/swagger/shop/paths/v1/shops/me/password.yaml
  infra/docker/api/gateway/shop/Dockerfile
  infra/mysql/schema/2022051101-users-drop-table-shops.sql
  infra/mysql/schema/2022051102-users-add-column.sql
Labels: docs, infra (container), test, workflow, backend (user), infra (database), backend (gateway), backend (shop)

#69 feat(docs): add admin api specification
  docs/swagger/admin/components/schemas/v1/admins.request.yaml
  docs/swagger/admin/components/schemas/v1/admins.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/admins/_adminId/index.yaml
  docs/swagger/admin/paths/v1/admins/index.yaml
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/base.ts
Labels: docs, frontend (admin)

#70 feat(gateway): implement admin auth api
  api/config/gateway/admin/rbac/policy.csv
  api/hack/create-admin/main.go
  api/internal/gateway/admin/v1/handler/admin.go
  api/internal/gateway/admin/v1/handler/admin_test.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/auth_test.go
  api/internal/gateway/admin/v1/handler/store.go
  api/internal/gateway/admin/v1/request/admin.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/gateway/admin/v1/response/admin.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/admin/v1/service/admin.go
  api/internal/gateway/admin/v1/service/admin_test.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/auth_test.go
  api/internal/gateway/admin/v1/service/staff_test.go
  api/internal/gateway/admin/v1/service/store_test.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/user/entity/admin.go
  api/internal/user/input.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
Labels: test, backend (user), backend (gateway)

#72 feat(api): add comment to entity and interface
  api/internal/messenger/entity/admin.go
  api/internal/messenger/service.go
  api/internal/store/entity/staff.go
  api/internal/store/entity/store.go
  api/internal/store/service.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_auth.go
  api/internal/user/service.go
Labels: backend (user), backend (store), backend (messenger)

#71 feat(gateway): implement authorization middleware
  api/internal/gateway/admin/v1/handler/api.go
  docs/swagger/admin/components/schemas/v1/stores.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/stores/_storeId/index.yaml
  docs/swagger/admin/paths/v1/stores/index.yaml
  docs/swagger/admin/paths/v1/upload/stores/thumbnail.yaml
  web/admin/src/types/api/api.ts
Labels: docs, backend (gateway), frontend (admin)

#73 Feature/admin/primary color
  web/admin/.prettierignore
  web/admin/nuxt.config.ts
  web/admin/src/layouts/default.vue
  web/admin/src/pages/analytics.vue
  web/admin/src/pages/contact.vue
  web/admin/src/pages/customers.vue
  web/admin/src/pages/notifications.vue
  web/admin/src/pages/orders.vue
  web/admin/src/pages/sales.vue
  web/admin/src/pages/settings.vue
  web/admin/src/pages/users.vue
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/base.ts
  web/admin/src/types/api/common.ts
  web/admin/src/types/api/configuration.ts
  web/admin/src/types/api/index.ts
  web/admin/tsconfig.json
Labels: mergeable, frontend (admin)

#78 refactor(api/store): revert store entity
  .env.temp
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/store.go
  api/internal/gateway/admin/v1/handler/store_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/request/store.go
  api/internal/gateway/admin/v1/response/store.go
  api/internal/gateway/admin/v1/response/uploader.go
  api/internal/gateway/admin/v1/service/staff.go
  api/internal/gateway/admin/v1/service/staff_test.go
  api/internal/gateway/admin/v1/service/store.go
  api/internal/gateway/admin/v1/service/store_test.go
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/store/database/database.go
  api/internal/store/database/database_test.go
  api/internal/store/database/staff.go
  api/internal/store/database/staff_test.go
  api/internal/store/database/store.go
  api/internal/store/database/store_test.go
  api/internal/store/entity/staff.go
  api/internal/store/entity/store.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/internal/store/service/staff.go
  api/internal/store/service/staff_test.go
  api/internal/store/service/store.go
  api/internal/store/service/store_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docker-compose.yaml
  docs/swagger/admin/components/schemas/v1/stores.request.yaml
  docs/swagger/admin/components/schemas/v1/stores.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/stores/_storeId/index.yaml
  docs/swagger/admin/paths/v1/stores/index.yaml
  docs/swagger/admin/paths/v1/upload/stores/thumbnail.yaml
  infra/mysql/schema/2022052001-stores-drop-database.sql
  infra/mysql/schema/2022052002-users-drop-table-admins.sql
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (store)

#79 feat(docs): update admin swagger
  docs/swagger/admin/components/schemas/v1/admins.request.yaml
  docs/swagger/admin/components/schemas/v1/admins.response.yaml
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/email/index.yaml
  docs/swagger/admin/paths/v1/auth/email/verified.yaml
  docs/swagger/admin/paths/v1/auth/password.yaml
  docs/swagger/admin/paths/v1/auth/user.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/thumbnail.yaml
  docs/swagger/admin/paths/v1/upload/producers/thumbnail.yaml
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#80 Feat/workflow/update backend ci
  .github/workflows/ci-backend-for-all.yaml
  api/internal/user/database/admin_test.go
Labels: test, workflow, backend (user)

#81 feat(gateway): implement administrator api
  api/config/gateway/admin/rbac/policy.csv
  api/hack/create-admin/main.go
  api/internal/gateway/admin/v1/handler/admin.go
  api/internal/gateway/admin/v1/handler/admin_test.go
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/auth_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/request/admin.go
  api/internal/gateway/admin/v1/request/administrator.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/gateway/admin/v1/response/admin.go
  api/internal/gateway/admin/v1/response/administrator.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/admin/v1/response/uploader.go
  api/internal/gateway/admin/v1/service/admin.go
  api/internal/gateway/admin/v1/service/administrator.go
  api/internal/gateway/admin/v1/service/administrator_test.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/auth_test.go
  api/internal/user/database/admin.go
  api/internal/user/database/admin_test.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/administrators.request.yaml
  docs/swagger/admin/components/schemas/v1/administrators.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/administrators/_adminId/index.yaml
  docs/swagger/admin/paths/v1/administrators/index.yaml
  infra/mysql/schema/2022052003-users-create-admins.sql
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin)

#62 Feat/user/implement initialize user api
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/handler/user_test.go
  api/internal/gateway/user/v1/request/user.go
  api/internal/user/database/database.go
  api/internal/user/database/user.go
  api/internal/user/database/user_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  docs/swagger/user/components/schemas/v1/users.request.yaml
Labels: docs, mergeable, test, backend (user), backend (gateway)

#75 Feature/admin/producers
  web/admin/src/components/atoms/TheFileUploadFiled.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/coordinator/add.vue
  web/admin/src/pages/producers.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/settings.vue
Labels: mergeable, frontend (admin)

#82 fix(workflow): split github actions job
  .codecov.yaml
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-frontend-for-all.yaml
  .github/workflows/ci-web-admin-for-all.yaml
  .github/workflows/ci-web-user-for-all.yaml
Labels: mergeable, workflow

#83 feat(gateway): create producer api mock
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/request/producer.go
  api/internal/gateway/admin/v1/response/producer.go
  docs/swagger/admin/components/schemas/v1/producers.request.yaml
  docs/swagger/admin/components/schemas/v1/producers.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/producers/_producerId/index.yaml
  docs/swagger/admin/paths/v1/producers/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (gateway), frontend (admin)

#86 feat(api): setup http server middleware
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/cmd/admin/exec.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/exec.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/user/service/admin.go
Labels: backend (user), backend (gateway)
