Repository and-period/furumaru, pull requests merged in 2022-04, with the labels that each got.

#21 feat(gateway): implement get user me api
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/handler/user_test.go
Labels: mergeable, test, backend (user), backend (gateway)

#23 feat(gateway): implement update user email api
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/handler/user_test.go
Labels: test, backend (user), backend (gateway)

#24 feat(gateway): implement update user password api
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/handler/user_test.go
Labels: test, backend (user), backend (gateway)

#25 feat(gateway): implement delete user api
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/handler/user_test.go
  api/internal/user/api/user.go
  api/internal/user/api/user_test.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/proto/user/service.proto
Labels: test, backend (user), backend (gateway)

#26 feat: define api client for user web
  web/user/src/types/api/api.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
  web/user/src/types/api/configuration.ts
  web/user/src/types/api/index.ts
Labels: mergeable, frontend (user)

#28 Feat/api/create user schema
  api/internal/gateway/user/v1/request/user.go
  api/proto/user/service.proto
  docs/swagger/user/components/schemas/v1/users.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/users/me/initialized.yaml
  infra/mysql/schema/2022022501-users-create-users.sql
  infra/mysql/schema/2022041501-users-add-column.sql
Labels: docs, mergeable, backend (user), infra (database), backend (gateway)

#31 refactor(api): refactor common package
  api/internal/gateway/cmd/user/exec.go
  api/internal/user/cmd/server/exec.go
  api/internal/user/cmd/server/registry.go
  api/internal/user/database/user.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/pkg/database/client.go
  api/pkg/database/client_test.go
  api/pkg/grpc/options.go
  api/pkg/grpc/options_test.go
  api/pkg/log/gin.go
  api/pkg/log/gin_test.go
  api/pkg/log/logger.go
  api/pkg/log/logger_test.go
Labels: test, backend (user), backend (gateway)

#35 feat: add unique index to account_id
  infra/mysql/schema/2022041501-users-add-column.sql
  infra/mysql/schema/2022042001-users-add-unique-index.sql
Labels: mergeable, infra (database)

#36 feat: update pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: mergeable, workflow

#27 feat: サインイン画面のコンポーネントを並べた。バックグラウンドの色を変更。
  web/user/nuxt.config.js
  web/user/package.json
  web/user/src/layouts/default.vue
  web/user/src/pages/signin.vue
  web/user/src/plugins/icons.js
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#37 feat(user_api): add account_id, username to proto
  api/proto/user/user.proto
Labels: mergeable, backend (user)

#29 Feature/user/signup
  web/user/.eslintrc.js
  web/user/.gitignore
  web/user/.prettierignore
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/assets/variables.scss
  web/user/src/components/atoms/TheMarcheLogo.vue
  web/user/src/components/atoms/TheStack.vue
  web/user/src/components/molecules/ThePincodeInput.vue
  web/user/src/components/molecules/TheSubmitButton.vue
  web/user/src/layouts/auth.vue
  web/user/src/layouts/default.vue
  web/user/src/lib/hooks/index.ts
  web/user/src/lib/hooks/useI18n.ts
  web/user/src/lib/hooks/useIsMobile.ts
  web/user/src/locales/en_us.ts
  web/user/src/locales/ja_jp.ts
  web/user/src/locales/tsconfig.json
  web/user/src/pages/signin.vue
  web/user/src/pages/signup.vue
  web/user/src/pages/verify.vue
  web/user/src/plugins/pincodeInput.js
  web/user/src/types/index.d.ts
  web/user/src/types/locales/i18n.ts
  web/user/src/types/locales/index.ts
  web/user/tsconfig.json
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#40 feat(api): changing architecture
  .github/workflows/ci-backend-for-all.yaml
  Makefile
  Tiltfile
  api/.go-version
  api/.golangci.yaml
  api/Makefile
  api/cmd/user/server/main.go
  api/config/user/server/dev.yaml.temp
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/exec.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/entity/auth.go
  api/internal/gateway/entity/auth_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/handler/auth_test.go
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/handler/user_test.go
  api/internal/gateway/user/v1/service/auth.go
  api/internal/gateway/user/v1/service/auth_test.go
  api/internal/gateway/util/response.go
  api/internal/gateway/util/response_test.go
  api/internal/user/api/api.go
  api/internal/user/api/user.go
  api/internal/user/api/user_auth.go
  api/internal/user/cmd/server/config.go
  api/internal/user/cmd/server/exec.go
  api/internal/user/cmd/server/registry.go
  api/internal/user/entity/auth.go
  api/internal/user/entity/auth_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/input.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_auth.go
  api/internal/user/service/user_auth_test.go
  api/internal/user/service/user_test.go
  api/mock/proto/user/service_grpc.pb.go.go
  api/mock/user/service/service.go
  api/proto/user/auth.proto
  api/proto/user/service.proto
  api/proto/user/user.proto
  docker-compose.yaml
  infra/docker/api/proto/Dockerfile
  infra/docker/api/user/server/Dockerfile
Labels: infra (container), test, workflow, backend (user), backend (gateway)

#39 リンクを整えるのとGoogleのロゴを差し替え
  web/user/src/pages/signin.vue
  web/user/src/pages/signup.vue
  web/user/src/static/g-normal.png
Labels: mergeable, frontend (user)

#42 setup: eslint/prettierの設定
  web/user/.eslintrc.js
  web/user/.prettierignore
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/pages/signin.vue
  web/user/src/pages/signup.vue
  web/user/src/pages/verify.vue
  web/user/src/plugins/pincodeInput.js
  web/user/yarn.lock
Labels: mergeable, frontend (user)
