Repository and-period/furumaru, pull requests merged in 2023-06, with the labels that each got.

#970 Feat list and get thread database layer
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
  api/mock/messenger/database/database.go
Labels: test, backend (messenger), backend (api)

#972 Create list thread service
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/thread.go
  api/mock/messenger/service.go
Labels: backend (messenger), backend (api)

#971 ホーム画面のアーカイブ部分とおすすめ商品部分のレイアウトをセットアップ
  web/user/src/components/atoms/icons/TheEllipsisVerticalIcon.vue
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/constants/mock/archive.ts
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/recommend.ts
  web/user/src/pages/index.vue
  web/user/src/public/img/archive/1.png
  web/user/src/public/img/archive/2.png
  web/user/src/public/img/archive/3.png
  web/user/src/public/img/archive/4.png
  web/user/src/public/img/recommend/1.png
  web/user/src/public/img/recommend/2.png
  web/user/src/public/img/recommend/3.png
  web/user/src/public/img/recommend/4.png
  web/user/src/public/img/recommend/5.png
  web/user/src/public/img/recommend/cn.png
Labels: mergeable, frontend (user)

#973 refactor(admin): エラー処理の統一とコーディネータ周りの修正
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/coordinators/add.vue
  web/admin/src/pages/coordinators/edit/[id].vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/producers/edit/[id].vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/shippings/add.vue
  web/admin/src/pages/shippings/edit/[id].vue
  web/admin/src/pages/signin.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

#975 feat(admin): 管理者一覧ページの実装
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/pages/administrators/index.vue
  web/admin/src/store/administrator.ts
Labels: frontend (admin)

#976 refactor(admin): Path設計の見直し
  web/admin/src/components/organisms/RelatedProducerList.vue
  web/admin/src/components/templates/AuthTop.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/contacts/[id]/index.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/[id]/edit.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/pages/customers/[id]/indev.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/livestreaming/new.vue
  web/admin/src/pages/notifications/[id]/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/producers/new.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/pages/promotions/[id]/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/promotions/new.vue
  web/admin/src/pages/shippings/[id]/index.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/pages/system.vue
Labels: frontend (admin)

#977 refactor(admin): storeの命名を統一
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/contacts/[id]/index.vue
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/[id]/indev.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/messages/index.vue
  web/admin/src/pages/notifications/[id]/index.vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/producers/new.vue
  web/admin/src/pages/promotions/[id]/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/promotions/new.vue
  web/admin/src/pages/shippings/[id]/index.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/store/administrator.ts
  web/admin/src/store/category.ts
  web/admin/src/store/contact.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/customer.ts
  web/admin/src/store/message.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/shipping.ts
Labels: frontend (admin)

#978 refactor(admin): UIの大枠を統一
  web/admin/src/components/atoms/AppLogoWithTitle.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/AuthEditEmail.vue
  web/admin/src/components/templates/AuthEditPassword.vue
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/components/templates/AuthTop.vue
  web/admin/src/components/templates/AuthVerifyEmail.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/components/templates/ContactEdit.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/components/templates/MessageList.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/components/templates/SettingVersion.vue
  web/admin/src/components/templates/ShippingEdit.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/components/templates/SystemTop.vue
  web/admin/src/pages/categories/index.vue
Labels: frontend (admin)

#979 feat(admin): 管理者機能の実装
  web/admin/src/components/templates/AdministratorEdit.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/AdministratorNew.vue
  web/admin/src/pages/administrators/[id]/index.vue
  web/admin/src/pages/administrators/index.vue
  web/admin/src/pages/administrators/new.vue
  web/admin/src/store/administrator.ts
Labels: frontend (admin)

#981 refactor(admin): アカウント周りのリファクタ
  web/admin/src/components/templates/AdministratorEdit.vue
  web/admin/src/components/templates/AdministratorNew.vue
  web/admin/src/components/templates/AuthEditEmail.vue
  web/admin/src/components/templates/AuthEditPassword.vue
  web/admin/src/components/templates/AuthVerifyEmail.vue
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

#980 Create GetThread and ListThreadByContactID handler
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/thread.go
  api/internal/gateway/admin/v1/response/thread.go
  api/internal/gateway/admin/v1/service/thread.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/thread.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
Labels: test, backend (gateway), backend (messenger), backend (api)

#986 implement GetContact handler
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/thread.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/gateway/admin/v1/service/contact.go
Labels: mergeable, backend (gateway), backend (api)

#987 refactor(admin): pages,componentsの記載方法の統一
  web/admin/src/components/molecules/AddressForm.vue
  web/admin/src/components/organisms/NotificationForm.vue
  web/admin/src/components/organisms/ProducerForm.vue
  web/admin/src/components/organisms/ProductForm.vue
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/components/organisms/ShippingForm.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/CustomerEdit.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/MessageList.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/components/templates/ShippingEdit.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/pages/administrators/index.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/pages/customers/[id]/index.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/messages/index.vue
  web/admin/src/pages/notifications/[id]/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/notifications/new.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/producers/new.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/pages/promotions/[id]/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/promotions/new.vue
  web/admin/src/pages/shippings/[id]/index.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/store/notification.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/shipping.ts
Labels: frontend (admin)

#988 Fix/designer about page
  web/user/src/components/molecules/TheCircle.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/about.vue
  web/user/src/public/img/about/1.svg
  web/user/src/public/img/about/2.svg
  web/user/src/public/img/about/3.svg
  web/user/src/public/img/about/4.svg
Labels: mergeable, frontend (user)

#1000 ヘッダーのカート部分のUIの実装
  web/user/src/components/atoms/icons/TheAppleIcon.vue
  web/user/src/components/atoms/icons/TheMandarinOrangeIcon.vue
  web/user/src/components/atoms/icons/TheMelonIcon.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/constants/mock/cart.ts
  web/user/src/constants/mock/index.ts
  web/user/src/layouts/default.vue
  web/user/src/public/img/recommend/6.png
  web/user/tailwind.config.ts
Labels: mergeable, frontend (user)

#1003 Feat: create thread database
  api/internal/messenger/database/database.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
  api/mock/messenger/database/database.go
Labels: test, backend (messenger), backend (api)

#1002 feat(*): コーディネータ関連の仕様変更に伴う改修
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/related_producer_test.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/request/coordinator.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/entity/regulation.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
  api/mock/media/service.go
  docs/swagger/admin/components/schemas/v1/coordinator.request.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/bonus-video.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/promotion-video.yaml
  infra/mysql/schema/2023061701-users-alter-column-coordinators.sql
  web/admin/src/components/molecules/AddressForm.vue
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/plugins/vuetify.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (media), backend (messenger), backend (api)

#1006 Feat create thread service
  api/internal/messenger/entity/thread.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/thread.go
  api/mock/messenger/service.go
Labels: backend (messenger), backend (api)

#1007 Feat create thread handler
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/thread.go
  api/internal/gateway/admin/v1/request/thread.go
Labels: backend (gateway), backend (api)

#1008 fix(*): 生産者関連の仕様変更伴う改修
  api/internal/gateway/admin/v1/handler/live_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/related_producer_test.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/request/producer.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/media/service.go
  docs/swagger/admin/components/schemas/v1/coordinator.request.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/producers/bonus-video.yaml
  docs/swagger/admin/paths/v1/upload/producers/promotion-video.yaml
  infra/mysql/schema/2023061801-users-alter-column.sql
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/new.vue
  web/admin/src/store/producer.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (media), backend (messenger), backend (api)

#1010 feat(admin): 生産者APIのレスポンスにコーディネータ名を追加
  api/internal/gateway/admin/v1/handler/administrator_test.go
  api/internal/gateway/admin/v1/handler/auth_test.go
  api/internal/gateway/admin/v1/handler/category_test.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/coordinator_test.go
  api/internal/gateway/admin/v1/handler/live_test.go
  api/internal/gateway/admin/v1/handler/message_test.go
  api/internal/gateway/admin/v1/handler/notification_test.go
  api/internal/gateway/admin/v1/handler/order_test.go
  api/internal/gateway/admin/v1/handler/postal_code_test.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/producer_test.go
  api/internal/gateway/admin/v1/handler/product_test.go
  api/internal/gateway/admin/v1/handler/product_type_test.go
  api/internal/gateway/admin/v1/handler/promotion_test.go
  api/internal/gateway/admin/v1/handler/related_producer.go
  api/internal/gateway/admin/v1/handler/related_producer_test.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/handler/shipping_test.go
  api/internal/gateway/admin/v1/handler/uploader_test.go
  api/internal/gateway/admin/v1/handler/user_test.go
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin), backend (api)

#1009 Feat: implement GetContactCategory handler
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/contact_category.go
  api/internal/gateway/admin/v1/response/contact_category.go
  api/internal/gateway/admin/v1/service/contact_category.go
Labels: backend (gateway), backend (api)

#1011 feat(*): 紐づけ生産者数の追加
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/user/database/database.go
  api/internal/user/database/producer.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/components/schemas/v1/promotion.response.yaml
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin), backend (api)

#1013 feat(*): 商品タグ機能の追加
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/product_tag.go
  api/internal/gateway/admin/v1/request/product_tag.go
  api/internal/gateway/admin/v1/response/product_tag.go
  api/internal/gateway/admin/v1/service/product_tag.go
  api/internal/gateway/admin/v1/service/product_tag_test.go
  api/internal/store/database/database.go
  api/internal/store/database/database_test.go
  api/internal/store/database/product_tag.go
  api/internal/store/database/product_tag_test.go
  api/internal/store/entity/product_tag.go
  api/internal/store/entity/product_tag_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_tag.go
  api/internal/store/service/product_tag_test.go
  api/internal/store/service/service_test.go
  api/internal/user/database/producer.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/postal-code.response.yaml
  docs/swagger/admin/components/schemas/v1/product-tag.request.yaml
  docs/swagger/admin/components/schemas/v1/product-tag.response.yaml
  docs/swagger/admin/components/schemas/v1/product-type.request.yaml
  docs/swagger/admin/components/schemas/v1/product-type.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/product-tags/_productTagId/index.yaml
  docs/swagger/admin/paths/v1/product-tags/index.yaml
  infra/mysql/schema/2023061802-stores-create-product-tags.sql
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/pages/product-tags/index.vue
  web/admin/src/pages/system.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/product-tag.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1012 Feat create contact handler
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/request/contact.go
  api/internal/messenger/entity/thread.go
Labels: backend (gateway), backend (messenger), backend (api)

#1014 Feat update thread db
  api/internal/messenger/database/database.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
  api/mock/messenger/database/database.go
Labels: test, backend (messenger), backend (api)

#1015 Feat update thread service
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/thread.go
  api/mock/messenger/service.go
Labels: backend (messenger), backend (api)

#1017 Feat: DeleteThread database layer
  api/internal/messenger/database/database.go
  api/internal/messenger/database/thread.go
  api/internal/messenger/database/thread_test.go
  api/mock/messenger/database/database.go
Labels: test, backend (messenger), backend (api)

#1018 Feat: implement DeleteThread service layer
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/thread.go
  api/mock/messenger/service.go
Labels: mergeable, backend (messenger), backend (api)

#1019 Feat: implement DeleteThread handler
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/thread.go
Labels: backend (gateway), backend (api)

#1020 Feat: implement UpdateContact database layer
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: mergeable, test, backend (messenger), backend (api)

#1029 feat(*): 商品関連の仕様変更に伴う改修
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_tag.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/components/schemas/codes/product.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/openapi.yaml
  infra/mysql/schema/2023062001-stores-alter-column.sql
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/store/product-type.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1030 fix(admin): 商品関連のバグ修正
  api/internal/gateway/admin/v1/response/product.go
  api/internal/store/database/product.go
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
Labels: backend (gateway), frontend (admin), backend (store), backend (api)

#1031 fix(admin): ユーザーの都道府県入力周りを修正
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/customer_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/customer.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/entity/user_test.go
  api/internal/user/input.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer_test.go
  docs/swagger/admin/components/schemas/codes/common.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.request.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.request.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/user.response.yaml
  infra/mysql/schema/2023062401-users-alter-column.sql
  web/admin/src/components/molecules/AddressForm.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/lib/hooks/useSearchAddress.ts
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/new.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (messenger), backend (api)

#1032 fix(api): 生産者名のレスポンスを修正
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/gateway/admin/v1/service/order_item_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
Labels: test, backend (gateway), backend (api)

#1033 fix(admin): 商品の都道府県入力周りを修正
  api/internal/gateway/admin/v1/service/address.go
  api/internal/store/database/address_test.go
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  api/internal/store/service/address_test.go
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  infra/mysql/schema/2023062402-stores-alter-column.sql
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1034 feat(admin): 顧客管理画面の実装
  web/admin/src/components/templates/CustomerEdit.vue
  web/admin/src/components/templates/CustomerList.vue
Labels: frontend (admin)

#1035 fix(*): お知らせ関連の仕様変更に伴う改修
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/request/notification.go
  api/internal/gateway/admin/v1/response/notification.go
  api/internal/gateway/admin/v1/service/notification.go
  api/internal/gateway/admin/v1/service/notification_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
  api/internal/messenger/entity/report_config.go
  api/internal/messenger/entity/report_config_test.go
  api/internal/messenger/input.go
  api/internal/messenger/scheduler/notification.go
  api/internal/messenger/scheduler/notification_test.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service.go
  api/internal/messenger/service/service_test.go
  docs/swagger/admin/components/schemas/codes/notification.yaml
  docs/swagger/admin/components/schemas/v1/notification.request.yaml
  docs/swagger/admin/components/schemas/v1/notification.response.yaml
  docs/swagger/admin/openapi.yaml
  infra/mysql/schema/2023062403-messengers-alter-column.sql
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/pages/notifications/[id]/index.vue
  web/admin/src/pages/notifications/new.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (messenger), backend (api)

#1036 fix(admin): お知らせ一覧と入力画面のUI修正
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/messenger/entity/notification.go
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionNew.vue
Labels: backend (gateway), frontend (admin), backend (messenger), backend (api)

#1037 feat(*): ログインユーザー情報取得周りの実装
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/admin/v1/service/administrator.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/user/index.yaml
  docs/swagger/user/components/schemas/v1/auth.response.yaml
  web/admin/package.json
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/layouts/default.vue
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/producers/new.vue
  web/admin/src/store/auth.ts
  web/admin/src/types/api/api.ts
  web/admin/yarn.lock
  web/user/src/types/api/models/AuthUserResponse.ts
Labels: docs, backend (gateway), frontend (user), frontend (admin), backend (api)

#1038 fix(admin): セール関連のタイトルが表示される様に
  api/internal/gateway/admin/v1/handler/admin.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/service/notification.go
  api/internal/gateway/admin/v1/service/notification_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
  api/internal/messenger/service/notify.go
  api/internal/store/database/database.go
  api/internal/store/database/promotion.go
  api/internal/store/database/promotion_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: test, backend (gateway), backend (store), backend (messenger), backend (api)

#1039 Feat: implement UpdateContact service
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/mock/messenger/service.go
Labels: backend (messenger), backend (api)

#1040 Feat: implement UpdateContact handler
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/request/contact.go
Labels: backend (gateway), backend (api)

#1041 Feat: implement DeleteConatct db layer
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: mergeable, test, backend (messenger), backend (api)

#1043 Feat: implement DeleteContact service layer
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/mock/messenger/service.go
Labels: backend (messenger), backend (api)

#1044 Feat: implement DeleteContact handler
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/contact.go
Labels: mergeable, backend (gateway), backend (api)

#1042 Feat: implement ListContactCategories db layer
  api/internal/messenger/database/contact_category.go
  api/internal/messenger/database/contact_category_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: mergeable, test, backend (messenger), backend (api)

#1045 feat(api): 管理者のパスワードリセットAPIを実装
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/user/database/admin.go
  api/internal/user/database/admin_test.go
  api/internal/user/database/database.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/forgot-password/index.yaml
  docs/swagger/admin/paths/v1/auth/forgot-password/verified.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin), backend (api)

#1046 Feat: implement ContactRead entity
  api/internal/messenger/entity/contact_read.go
  api/internal/messenger/entity/contact_read_test.go
Labels: mergeable, test, backend (messenger), backend (api)

#1047 Feat: implement ListContacts db layer
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: mergeable, test, backend (messenger), backend (api)

#1049 Feat list contacts database
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/mock/messenger/service.go
Labels: backend (messenger), backend (api)

#1050 Feat : implement ListContacts handler
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/gateway/admin/v1/service/contact.go
Labels: backend (gateway), backend (api)

#1052 Feat : implement ListContactCategories service
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_category.go
  api/mock/messenger/service.go
Labels: backend (messenger), backend (api)

#1048 Feat: implement CreateContactRead db layer
  api/internal/messenger/database/contact_read.go
  api/internal/messenger/database/contact_read_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
  infra/mysql/schema/2023062701-messengers-alter-column.sql
Labels: test, infra (database), backend (messenger), backend (api)

#1051 Feat: implement CreateContactCategory database layer
  api/internal/messenger/database/contact_category.go
  api/internal/messenger/database/contact_category_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: test, backend (messenger), backend (api)

#1053 Feat: implement ListContactCategories handler
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/contact_category.go
  api/internal/gateway/admin/v1/response/contact_category.go
Labels: backend (gateway), backend (api)

#1054 Feat: implement CreateContactCead service layer
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_read.go
  api/mock/messenger/service.go
Labels: test, backend (messenger), backend (api)

#1055 Feat: implement CreateContactRead handler layer
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/contact_read.go
  api/internal/gateway/admin/v1/request/contact_read.go
  api/internal/gateway/admin/v1/response/contact_read.go
  api/internal/gateway/admin/v1/service/contact_read.go
Labels: backend (gateway), backend (api)

#1057 Feat: UpdateContactReadFlag db layer
  api/internal/messenger/database/contact_read.go
  api/internal/messenger/database/contact_read_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: mergeable, test, backend (messenger), backend (api)

#1059 Feat get contact read db
  api/internal/messenger/database/contact_read.go
  api/internal/messenger/database/contact_read_test.go
  api/internal/messenger/database/database.go
  api/mock/messenger/database/database.go
Labels: mergeable, test, backend (messenger), backend (api)

#1060 Feat: implement GetContacRead service
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_read.go
  api/mock/messenger/service.go
Labels: backend (messenger), backend (api)

#1061 Feat: add updateContactReadFlag to thread
  api/internal/messenger/input.go
  api/internal/messenger/service/thread.go
Labels: backend (messenger), backend (api)

#1062 Feat: implement Notify recieved contact
  api/internal/messenger/input.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/thread.go
Labels: backend (messenger), backend (api)
