Repository and-period/furumaru, pull requests merged in 2023-08, with the labels that each got.

#1191 fix(admin): 配送設定ページのUI修正
  web/admin/src/components/molecules/ShippingRateForm.vue
  web/admin/src/components/templates/ShippingEdit.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/components/templates/ShippingNew.vue
Labels: frontend (admin)

#1210 feat(store): ライブ配信登録ロジックの追加
  api/internal/store/database/database.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/store/database/database.go
Labels: test, backend (store), backend (api)

#1211 feat(admin): ライブ配信視聴用のプレイヤーを追加
  web/admin/.eslintrc.cjs
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleShow.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/index.ts
Labels: frontend (admin)

#1212 買い物かごページのデザイン実装
  web/user/src/components/organisms/purchase/TheCardboard.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/purchase/index.vue
Labels: frontend (user)

#1213 Infra create media resource by sls
  infra/serverless/.gitignore
  infra/serverless/env/prd.yaml
  infra/serverless/env/stg.yaml
  infra/serverless/functions/calculateMP4StartTime/handler.js
  infra/serverless/functions/extractMediaStoreDomain/handler.js
  infra/serverless/package-lock.json
  infra/serverless/package.json
  infra/serverless/serverless.yml
Labels: mergeable

#1226 feat(terraform): サブドメインの追加
  infra/terraform/env/shared/02-route53/02-and-preiod-co-jp.tf
Labels: infra (terraform)

#1228 モックの値で購入ページのデザイン実装
  web/user/src/components/atoms/cardboard/The100Cardboard.vue
  web/user/src/components/atoms/cardboard/The60Cardboard.vue
  web/user/src/components/atoms/cardboard/The80Cardboard.vue
  web/user/src/components/atoms/cardboard/TheAppleItem.vue
  web/user/src/components/atoms/cardboard/TheCardboard.vue
  web/user/src/components/atoms/cardboard/TheMelonItem.vue
  web/user/src/components/atoms/cardboard/TheOrangeItem.vue
  web/user/src/components/molecules/TheDropdownWithIcon.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/purchase.ts
  web/user/src/layouts/default.vue
  web/user/src/pages/purchase/index.vue
Labels: mergeable, frontend (user)

#1230 fix(store): 参照先DBが誤っている箇所を修正
  api/internal/store/cmd/scheduler/registry.go
  api/internal/store/cmd/updater/registry.go
  api/internal/store/database/broadcast_test.go
  infra/terraform/env/shared/01-ecr/07-store-scheduler.tf
  infra/terraform/env/shared/01-ecr/08-store-updater.tf
Labels: test, backend (store), infra (terraform), backend (api)

#1229 商品レコメンド部分をモックで配置
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/components/organisms/purchase/TheRecommendItem.vue
  web/user/src/constants/mock/purchase.ts
Labels: mergeable, frontend (user)

#1232 feat(store): ライブ配信関連のジョブを実装
  api/internal/store/broadcast/updater/const.go
  api/internal/store/broadcast/updater/creator.go
  api/internal/store/broadcast/updater/remover.go
Labels: backend (store), backend (api)

#1231 feat: Add lambda to medialive sls
  infra/serverless/serverless.yml
Labels: mergeable

#1233 feat(store): ライブ配信リソース作成ジョブの実装
  api/go.mod
  api/go.sum
  api/internal/store/broadcast/scheduler/const.go
  api/internal/store/broadcast/scheduler/scheduler.go
  api/internal/store/broadcast/scheduler/starter.go
  api/internal/store/cmd/scheduler/config.go
  api/internal/store/cmd/scheduler/registry.go
  api/mock/pkg/sfn/client.go
  api/pkg/sfn/client.go
Labels: backend (store), backend (api)

#1234 feat: add ScheduleId to ResultSelector
  infra/serverless/serverless.yml
Labels: mergeable

#1258 feat(serverless): ライブ配信リソース作成用のコンフィグを更新
  infra/serverless/serverless.yml
Labels: mergeable

#1259 feat: add DeleteMediaLiveResourcesFunction
  infra/serverless/serverless.yml
Labels: mergeable

#1278 Feat add deploy serverless
  .github/workflows/cd-serverless-for-main.yaml
  infra/serverless/package-lock.json
  infra/serverless/yarn.lock
Labels: workflow

#1281 fead(severless): change credendtials setting
  .github/workflows/cd-serverless-for-main.yaml
  infra/serverless/serverless.yml
Labels: workflow

#1282 feat: add not found handling
  infra/serverless/serverless.yml
Labels: mergeable
