Repository and-period/furumaru, pull requests merged in 2023-07, with the labels that each got.

#1064 feat(workflow): Dependabot用のワークフローを追加
  .github/workflows/pr-auto-approve-for-dependabot.yaml
Labels: workflow

#1063 fix(*): 商品関連の仕様変更に伴う改修
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/product.go
  api/internal/store/database/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/components/schemas/codes/common.yaml
  docs/swagger/admin/components/schemas/codes/product.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/openapi.yaml
  infra/mysql/schema/2023062901-stores-alter-column.sql
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/types/api/api.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/product.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1069 feat(admin): 商品一覧画面のステータス表示を変更
  web/admin/src/components/templates/ProductList.vue
Labels: frontend (admin)

#1070 feat(admin): パスワードリセット機能の追加
  web/admin/src/components/templates/AuthEmailEdit.vue
  web/admin/src/components/templates/AuthEmailVerify.vue
  web/admin/src/components/templates/AuthPasswordEdit.vue
  web/admin/src/components/templates/AuthPasswordForgot.vue
  web/admin/src/components/templates/AuthPasswordReset.vue
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/accounts/email/index.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/pages/accounts/password/index.vue
  web/admin/src/pages/recover.vue
  web/admin/src/store/auth.ts
Labels: frontend (admin)

#1071 fix(admin): サインイン画面でスナックバーが出るように
  web/admin/src/layouts/auth.vue
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

#1072 feat(admin): 商品関連の検索ロジックを実装
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/store/category.ts
  web/admin/src/store/product-tag.ts
  web/admin/src/store/product-type.ts
Labels: frontend (admin)

#1073 feat(admin): ライブ配信一覧ページの実装
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/codes/product.yaml
  docs/swagger/admin/components/schemas/codes/schedule.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/index.yaml
  docs/swagger/admin/paths/v1/schedules/index.yaml
  infra/mysql/schema/2023070101-stores-alter-column.sql
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1074 Docs: add Thread swagger
  docs/swagger/admin/components/schemas/v1/thread.request.yaml
  docs/swagger/admin/components/schemas/v1/thread.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/threads/_threadId/index.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/threads/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#1075 Docs: add contact category swagger
  docs/swagger/admin/components/schemas/v1/contact-category.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contact-categories/_contactCategoryId/index.yaml
  docs/swagger/admin/paths/v1/contact-categories/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#1076 Docs: add contact swagger
  docs/swagger/admin/components/schemas/codes/contact.yaml
  docs/swagger/admin/components/schemas/codes/thread.yaml
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  docs/swagger/admin/components/schemas/v1/thread.request.yaml
  docs/swagger/admin/components/schemas/v1/thread.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/contacts/_contactId/index.yaml
  docs/swagger/admin/paths/v1/contacts/index.yaml
  web/admin/src/components/templates/ContactEdit.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/pages/contacts/[id]/index.vue
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#1099 fix(store): マルシェ開催情報エンティティのフィールドを変更
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  infra/mysql/schema/2023070601-stores-alter-column.sql
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/RelatedProducerList.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CustomerEdit.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/product-tags/index.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1100 feat(admin): 開催スケジュール登録APIの実装
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/media/entity/payload.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/resizer/schedule.go
  api/internal/media/resizer/schedule_test.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/resize.go
  api/internal/media/service/resize_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/internal/store/database/database.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/media/service.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/schedules/image.yaml
  docs/swagger/admin/paths/v1/upload/schedules/opening-video.yaml
  docs/swagger/admin/paths/v1/upload/schedules/thumbnail.yaml
  infra/mysql/schema/2023070901-stores-drop-column.sql
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (media), backend (api)

#1101 feat(admin): 開催スケジュール登録ページの実装
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/schedule.go
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/pages/schedules/new.vue
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/schedule.ts
Labels: docs, backend (gateway), frontend (admin), backend (api)

#1102 feat(admin): 検索周りの機能実装
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/store/database/database.go
  api/internal/store/database/promotion_test.go
  api/internal/store/database/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/promotion.go
  api/internal/store/service/shipping.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/producer.go
  docs/swagger/admin/components/schemas/v1/promotion.request.yaml
  docs/swagger/admin/paths/v1/coordinators/index.yaml
  docs/swagger/admin/paths/v1/producers/index.yaml
  docs/swagger/admin/paths/v1/promotions/index.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/pages/schedules/new.vue
  web/admin/src/store/coordinator.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/shipping.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin), backend (store), backend (api)

#1104 fix(admin): レスポンス構造変更後のバグ修正
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/service/product.go
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/store/product-type.ts
Labels: backend (gateway), frontend (admin), backend (api)

#1124 @nuxtjs/i18nを8.0.0-beta.8に戻す
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

#1155 feat(admin): [wip] ライブスケジュール一覧
  docs/swagger/admin/paths/v1/products/index.yaml
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/templates/ScheduleShow.vue
  web/admin/src/pages/schedules/[id]/index.vue
Labels: docs, frontend (admin)

#1156 feat(admin): ライブ配信スケジュール周りの実装
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/live.go
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/paths/v1/schedules/_scheduleId/lives/_liveId/index.yaml
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleShow.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/store/live.ts
  web/admin/src/store/product.ts
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#1157 fix(media): 画像リサイズ処理の修正
  api/internal/media/resizer/image.go
  api/internal/media/resizer/image_test.go
Labels: test, backend (media), backend (api)

#1158 feat(admin): サイドバーを権限によって出し分け
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/product-tags/index.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/system.vue
  web/admin/src/store/auth.ts
  web/admin/src/types/props/setting.ts
Labels: frontend (admin)

#1125 Chanege architecture
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_category.go
  api/internal/gateway/admin/v1/handler/thread.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/gateway/admin/v1/response/thread.go
  api/internal/gateway/admin/v1/service/thread.go
  api/internal/messenger/database/contact_category.go
  api/internal/messenger/database/contact_category_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
  api/internal/messenger/entity/thread.go
  api/internal/messenger/entity/thread_test.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact_category.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
  docs/swagger/admin/components/schemas/entity/contact-category.yaml
  docs/swagger/admin/components/schemas/entity/contact.yaml
  docs/swagger/admin/components/schemas/entity/thread.yaml
  docs/swagger/admin/components/schemas/v1/contact-category.response.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  docs/swagger/admin/components/schemas/v1/thread.response.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/store/contact.ts
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (gateway), frontend (admin), backend (messenger), backend (api)

#1160 fix(messenger): テストが落ちている箇所の修正
  api/internal/messenger/entity/thread_test.go
Labels: test, backend (messenger), backend (api)

#1159 refactor(admin): カテゴリ一覧画面のリファクタ
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/schedules/[id]/index.vue
Labels: frontend (admin)

#1161 fix(store): 仕様変更に伴う配送設定エンティティの修正
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/store/database/database.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/schedule_test.go
  api/internal/store/database/shipping.go
  api/internal/store/database/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  docs/swagger/admin/components/schemas/entity/shipping.yaml
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  infra/mysql/schema/2023072501-stores-alter-column.sql
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1162 トップページのカルーセルとヘッダーの伸縮の修正
  web/user/src/components/atoms/TheMarcheLogo.vue
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
Labels: frontend (user)

#1181 カルーセルコンポーネントの修正
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/public/img/banner.png
Labels: frontend (user)

#1182 fix: 4kサイズでも320pxにする
  web/user/src/components/molecules/TheCarousel.vue
Labels: frontend (user)

#1184 Setup/web/user/lint
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
Labels: frontend (user)

#1163 feat(store): 配送設定関連APIの修正
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  docs/swagger/admin/paths/v1/shippings/_shippingId/index.yaml
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/store/shipping.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#1185 Revert "chore(deps): bump @pinia/nuxt from 0.4.9 to 0.4.11 in /web/admin"
  web/admin/package.json
  web/admin/yarn.lock
Labels: frontend (admin)

#1187 fix(admin): コーディネータ権限時の表示修正
  web/admin/src/components/molecules/ShippingRateForm.vue
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/pages/notifications/[id]/index.vue
  web/admin/src/pages/promotions/[id]/index.vue
  web/admin/src/pages/system.vue
Labels: frontend (admin)

#1188 fix(api): コーディネータの権限周りの整理
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

#1189 feat(admin): ライブ配信取得APIの実装
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  api/internal/store/database/broadcast.go
  api/internal/store/database/broadcast_test.go
  api/internal/store/database/database.go
  api/internal/store/entity/broadcast.go
  api/internal/store/entity/broadcast_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/broadcast.go
  api/internal/store/service/broadcast_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/codes/broadcast.yaml
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  docs/swagger/admin/components/schemas/entity/live.yaml
  docs/swagger/admin/components/schemas/entity/schedule.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/index.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/lives/_liveId/index.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/lives/index.yaml
  infra/mysql/schema/2023073001-stores-create-broadcasts.sql
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, infra (database), backend (gateway), frontend (user), frontend (admin), backend (store), backend (api)

#1190 chore(api): upgrade golang v1.20.6
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-function-for-all.yaml
  api/.tool-versions
  func/.tool-versions
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media/resizer/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow
