Repository and-period/furumaru, pull requests merged in 2023-10, with the labels that each got.

#1348 feat(store): StripeからKOMOJU用にデータ設計の変更
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/admin/v1/service/order_refund.go
  api/internal/gateway/admin/v1/service/order_refund_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/payment_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/payment.go
  api/internal/store/entity/stripe_user.go
  api/internal/store/service/order_test.go
  infra/mysql/schema/2023093001-stores-alter-table-order.sql
Labels: test, infra (database), backend (gateway), backend (store), backend (api)

#1349 Feature/purchase complete
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/index.vue
  web/user/src/public/img/purchase/complete.svg
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/index.ts
  web/user/src/types/locales/i18n.ts
  web/yarn.lock
Labels: mergeable, frontend (user)

#1352 Add: added legal policy md
  web/user/src/content/legalPolicy.md
Labels: mergeable, frontend (user)

#1351 トップページのライブコンテンツ周りのデザイン修正
  web/user/src/components/atoms/icons/TheDownArrowIcon.vue
  web/user/src/components/atoms/icons/TheUpArrowIcon.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/constants/mock/live.ts
  web/user/src/pages/index.vue
  web/user/src/public/img/live/7.png
  web/user/tailwind.config.ts
Labels: mergeable, frontend (user)

#1362 「特定商取引法に基づく表記」のページ作成
  web/user/package.json
  web/user/src/components/organisms/TheAppFooter.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/legal-notice.vue
  web/user/src/plugins/markdown-it.ts
  web/user/src/public/_content/legalPolicy.md
  web/user/src/types/plugins/index.d.ts
  web/user/src/types/props/footer.ts
  web/user/tailwind.config.ts
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#1353 feat(store): KOMOJU用のクライアント生成
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/store/komoju/api.go
  api/internal/store/komoju/api_test.go
  api/internal/store/komoju/code.go
  api/internal/store/komoju/errors.go
  api/internal/store/komoju/errors_test.go
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/payment/payment.go
  api/internal/store/komoju/payment/payment_test.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/komoju/komoju.go
Labels: test, backend (gateway), backend (store), backend (api)

#1372 fix: トップページのレスポンシブ対応
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/pages/index.vue
Labels: frontend (user)

#1373 refactor(api): エラーハンドリング周りの整理
  api/go.mod
  api/go.sum
  api/internal/exception/error.go
  api/internal/exception/error_test.go
  api/internal/exception/exception.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/resize_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/message.go
  api/internal/messenger/service/message_test.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service.go
  api/internal/messenger/service/service_test.go
  api/internal/messenger/service/thread.go
  api/internal/store/service.go
  api/internal/store/service/address_test.go
  api/internal/store/service/category_test.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/internal/store/service/order_test.go
  api/internal/store/service/postal_code_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_tag_test.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  api/internal/user/service.go
  api/internal/user/service/admin.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_auth_test.go
  api/internal/user/service/user_test.go
  api/mock/pkg/dynamodb/client.go
  api/pkg/dynamodb/client.go
Labels: test, backend (user), backend (store), backend (media), backend (messenger), backend (api)

#1375 feat(api): マルシェ開催スケジュール承認APIの実装
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/database/mysql/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/approval.yaml
  docs/swagger/openapitools.json
  infra/docker/docs/amplify/Dockerfile
  infra/docker/docs/swagger/generator/Dockerfile
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/common.ts
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/apis/ContactApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/index.ts
  web/user/src/types/api/runtime.ts
Labels: docs, infra (container), test, backend (gateway), frontend (user), frontend (admin), backend (store), backend (api)

#1386 商品一覧ページを仮で実装
  web/user/src/components/atoms/icons/TheSearchIcon.vue
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/items.ts
  web/user/src/pages/items/index.vue
Labels: frontend (user)

#1387 feat(api): トップページ用API実装用のモジュール実装
  api/Makefile
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/database/mysql/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/media/database/database.go
  api/mock/media/service.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: test, backend (store), backend (media), backend (api)

#1388 feat(api): トップページ用APIの定義
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/response/common.go
  api/internal/gateway/user/v1/response/top.go
  docs/swagger/user/components/schemas/codes/image.yaml
  docs/swagger/user/components/schemas/entity/top.yaml
  docs/swagger/user/components/schemas/v1/top.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/top/common.yaml
  web/user/src/types/api/apis/TopApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/TopCommonResponse.ts
  web/user/src/types/api/models/index.ts
Labels: docs, backend (gateway), frontend (user), backend (api)

#1389 feat(api): トップページ用APIの実装
  api/internal/gateway/admin/v1/handler/live.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/response/top.go
  api/internal/gateway/user/v1/service/image.go
  api/internal/gateway/user/v1/service/image_test.go
  api/internal/gateway/user/v1/service/top.go
  api/internal/gateway/user/v1/service/top_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/live.go
  api/internal/store/database/mysql/live_test.go
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/user/components/schemas/codes/schedule.yaml
  docs/swagger/user/components/schemas/entity/top.yaml
  docs/swagger/user/openapi.yaml
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (media), backend (api)

#1390 feat(api): user-gatewayの起動時設定を修正
  api/internal/gateway/cmd/user/registry.go
Labels: backend (gateway), backend (api)

#1391 refactor(api): 起動時処理のリファクタ
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/cmd.go
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/exec.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/cmd.go
  api/internal/gateway/cmd/user/config.go
  api/internal/gateway/cmd/user/exec.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
  api/internal/media/broadcast/updater/starter.go
  api/internal/media/broadcast/updater/updater.go
  api/internal/media/cmd/resizer/cmd.go
  api/internal/media/cmd/resizer/config.go
  api/internal/media/cmd/resizer/exec.go
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/resizer/resizer.go
  api/internal/media/cmd/scheduler/cmd.go
  api/internal/media/cmd/scheduler/config.go
  api/internal/media/cmd/scheduler/exec.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/scheduler/scheduler.go
  api/internal/media/cmd/updater/cmd.go
  api/internal/media/cmd/updater/config.go
  api/internal/media/cmd/updater/exec.go
  api/internal/media/cmd/updater/registry.go
  api/internal/media/cmd/updater/updater.go
  api/internal/messenger/cmd/scheduler/cmd.go
  api/internal/messenger/cmd/scheduler/config.go
  api/internal/messenger/cmd/scheduler/exec.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/scheduler/scheduler.go
  api/internal/messenger/cmd/worker/cmd.go
  api/internal/messenger/cmd/worker/exec.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/cmd/worker/worker.go
Labels: backend (gateway), backend (media), backend (messenger), backend (api)

#1392 fix(api): 開催スケジュール取得メソッドの修正
  api/internal/gateway/user/v1/handler/top.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/input.go
  api/internal/store/service/schedule.go
Labels: backend (gateway), backend (store), backend (api)

#1393 fix(api): 商品情報にコーディネータIDを追加
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/live_test.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/components/schemas/entity/product.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  infra/mysql/schema/2023102401-stores-alter-table-product.sql
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/store/product.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1394 feat(admin): マルシェ承認機能の実装
  api/internal/store/database/mysql/schedule.go
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin), backend (store), backend (api)

#1431 feat(store): 買い物かごの更新ロジックを実装
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_item.go
  api/internal/store/entity/cart_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  infra/mysql/schema/2023102601-stores-drop-carts.sql
Labels: test, infra (database), backend (store), backend (api)

#1435 feat(api): 商品関連APIの実装
  api/internal/gateway/user/v1/handler/category.go
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/handler/product_tag.go
  api/internal/gateway/user/v1/handler/product_type.go
  api/internal/gateway/user/v1/service/category.go
  api/internal/gateway/user/v1/service/category_test.go
  api/internal/gateway/user/v1/service/coordinator.go
  api/internal/gateway/user/v1/service/coordinator_test.go
  api/internal/gateway/user/v1/service/producer.go
  api/internal/gateway/user/v1/service/producer_test.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_tag.go
  api/internal/gateway/user/v1/service/product_tag_test.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/gateway/user/v1/service/product_type.go
  api/internal/gateway/user/v1/service/product_type_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/input.go
  api/internal/store/service/product.go
Labels: test, backend (gateway), backend (store), backend (api)

#1436 feat(user): コーディネータ情報に営業日を追加
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/request/coordinator.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/store/entity/cart_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/coordinator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  docs/swagger/admin/components/schemas/entity/coordinator.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.request.yaml
  infra/mysql/schema/2023102602-users-add-column-coorfdinator.sql
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1438 fix(store): 不要なカラムを削除
  api/.golangci.yaml
  api/Makefile
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/gateway/user/v1/service/top_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/live_test.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/product_test.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/database/mysql/schedule_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  docs/swagger/admin/components/schemas/entity/product.yaml
  docs/swagger/admin/components/schemas/entity/schedule.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/schedule.request.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  infra/mysql/schema/2023102701-stores-drop-columns.sql
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/components/templates/ScheduleShow.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/pages/schedules/new.vue
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1441 feat(store): カート操作ロジックの実装
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/mock/pkg/dynamodb/client.go
  api/mock/store/service.go
  api/pkg/dynamodb/client.go
Labels: test, backend (store), backend (api)

#1440 商品詳細ページを仮実装
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/types/props/header.ts
Labels: mergeable, frontend (user)

#1442 Feature/purchase confirmation
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/constants/mock/purchase.ts
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: mergeable, frontend (user)

#1443 購入手続き画面のデザイン修正
  web/user/src/assets/img/cc/amex.png
  web/user/src/assets/img/cc/jcb.png
  web/user/src/assets/img/cc/master.png
  web/user/src/assets/img/cc/visa.png
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: mergeable, frontend (user)

#1444 ヘッダーの伸縮時の挙動を修正
  web/user/.eslintrc.cjs
  web/user/src/layouts/default.vue
Labels: mergeable, frontend (user)

#1445 ヘッダーの挙動を再修正
  web/user/src/layouts/default.vue
Labels: mergeable, frontend (user)

#1446 Add: added user information input form
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/purchase/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

#1447 feat(api): カート関連APIの実装
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/gateway/user/v1/service/cart.go
  api/internal/gateway/user/v1/service/cart_test.go
  api/internal/gateway/user/v1/service/order.go
  api/internal/gateway/user/v1/service/order_test.go
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  docs/swagger/user/components/schemas/entity/cart.yaml
  web/user/src/types/api/models/Cart.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (api)

#1448 feat(api): 購入者用APIの定義
  api/internal/gateway/admin/v1/response/live.go
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/postal_code.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/response/address.go
  api/internal/gateway/user/v1/response/live.go
  api/internal/gateway/user/v1/response/postal_code.go
  api/internal/gateway/user/v1/response/schedule.go
  api/internal/gateway/user/v1/service/postal_code.go
  api/internal/gateway/user/v1/service/postal_code_test.go
  docs/swagger/user/components/schemas/entity/address.yaml
  docs/swagger/user/components/schemas/entity/live.yaml
  docs/swagger/user/components/schemas/entity/schedule.yaml
  docs/swagger/user/components/schemas/v1/address.response.yaml
  docs/swagger/user/components/schemas/v1/postal-code.response.yaml
  docs/swagger/user/components/schemas/v1/schedule.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/postal-codes/_postalCode.yaml
  docs/swagger/user/paths/v1/addresses/_addressId/index.yaml
  docs/swagger/user/paths/v1/addresses/index.yaml
  docs/swagger/user/paths/v1/carts/_number/items/_productId/index.yaml
  docs/swagger/user/paths/v1/postal-codes/_postalCode.yaml
  docs/swagger/user/paths/v1/schedules/_scheduleId/index.yaml
  web/user/src/types/api/apis/AddressApi.ts
  web/user/src/types/api/apis/CartApi.ts
  web/user/src/types/api/apis/ScheduleApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/Address.ts
  web/user/src/types/api/models/AddressResponse.ts
  web/user/src/types/api/models/AddressesResponse.ts
  web/user/src/types/api/models/Live.ts
  web/user/src/types/api/models/PostalCodeResponse.ts
  web/user/src/types/api/models/Schedule.ts
  web/user/src/types/api/models/ScheduleResponse.ts
  web/user/src/types/api/models/ScheduleThumbnailsInner.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), backend (api)

#1449 refactor(api): インターフェースのコメント文の書き方を修正
  api/internal/media/service.go
  api/internal/messenger/service.go
  api/internal/store/service.go
  api/internal/user/service.go
Labels: backend (user), backend (store), backend (media), backend (messenger), backend (api)

#1450 fix(api): 開催状況のステータスを追加
  docs/swagger/user/components/schemas/codes/schedule.yaml
  web/user/src/types/api/models/ScheduleStatus.ts
Labels: docs, frontend (user)

#1451 feat(api): マルシェ情報関連のエンティティ操作ロジックを実装
  api/internal/gateway/user/v1/service/live.go
  api/internal/gateway/user/v1/service/live_test.go
  api/internal/gateway/user/v1/service/schedule.go
  api/internal/gateway/user/v1/service/schedule_test.go
  api/internal/gateway/user/v1/service/top.go
  api/internal/gateway/user/v1/service/top_test.go
Labels: test, backend (gateway), backend (api)
