Repository and-period/furumaru, pull requests merged in 2023-11, with the labels that each got.

#1452 Fix: we can select only mp4 file
  web/admin/src/components/molecules/VideoSelectForm.vue
Labels: mergeable, frontend (admin)

#1454 Fix: Input form collapses when entering the input form
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
Labels: mergeable, frontend (admin)

#1476 feat(api): マルシェ開催スケジュール取得APIの実装
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
  api/internal/store/input.go
Labels: backend (gateway), backend (store), backend (media), backend (api)

#1477 Add: added delivery change policy
  web/user/src/public/_content/legalPolicy.md
Labels: mergeable, frontend (user)

#1478 feat(api): アドレス帳周りのエンティティロジックを実装
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/address_test.go
Labels: test, backend (gateway), backend (api)

#1479 fix(messenger): Firebaseの認証情報を複数つめられるように
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/cmd/worker/worker.go
  api/internal/messenger/worker/push.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
Labels: test, backend (messenger), backend (api)

#1455 fix(store): 一覧取得時のバリデーション修正
  api/internal/gateway/user/v1/handler/top.go
  api/internal/media/broadcast/scheduler/closer.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/store/input.go
Labels: backend (gateway), backend (store), backend (media), backend (api)

#1481 feat(api): アドレス関連APIの実装
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/request/address.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/address.go
  api/internal/store/database/mysql/address_test.go
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/address.go
  api/internal/store/service/address_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/user/components/schemas/v1/address.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/addresses/_addressId/index.yaml
  docs/swagger/user/paths/v1/addresses/index.yaml
  web/user/src/types/api/apis/AddressApi.ts
  web/user/src/types/api/models/CreateAddressRequest.ts
  web/user/src/types/api/models/UpdateAddressRequest.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (api)

#1483 生産者管理ページに遷移できるように修正
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/AuthPasswordReset.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/producers/new.vue
Labels: mergeable, frontend (admin)

#1484 feat(user): アドレス関連APIの実装
  .github/workflows/ci-backend.yaml
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/service/address.go
  api/internal/gateway/admin/v1/service/address_test.go
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/address_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/address.go
  api/internal/store/entity/address_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/service_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/address.go
  api/internal/user/database/mysql/address_test.go
  api/internal/user/database/mysql/mysql.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/address.go
  api/internal/user/service/address_test.go
  api/internal/user/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  infra/mysql/schema/2023110201-users-create-addresses.sql
  infra/mysql/schema/2023110202-stores-drop-table-addresses.sql
Labels: test, workflow, backend (user), infra (database), backend (gateway), backend (store), backend (api)

#1485 商品関連APIとの連携
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/constants/products_export.csv
  web/user/src/constants/products_export.json
  web/user/src/constants/transform.py
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/plugins/helpter/factory.ts
  web/user/src/store/product.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

#1486 feat(api): ログ収集用のライブラリ追加
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/administrator.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_category.go
  api/internal/gateway/admin/v1/handler/contact_read.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/live.go
  api/internal/gateway/admin/v1/handler/message.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/postal_code.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_tag.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/related_producer.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/thread.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/komoju/handler/event.go
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/postal_code.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/handler/top.go
  api/mock/pkg/sentry/client.go
  api/pkg/log/logger.go
  api/pkg/log/logger_test.go
  api/pkg/log/sentry_test.go
  api/pkg/log/setnry.go
  api/pkg/mailer/client_test.go
  api/pkg/sentry/client.go
  api/pkg/sentry/client_test.go
  api/pkg/sentry/mock.go
  api/pkg/sentry/option.go
  api/pkg/sentry/option_test.go
Labels: test, backend (gateway), backend (api)

#1487 fix(api): エラーハンドリングの修正
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/pkg/sentry/option.go
  api/pkg/sentry/option_test.go
Labels: test, backend (gateway), backend (api)

#1488 買い物かごAPIとの連携
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/index.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/plugins/helpter/factory.ts
  web/user/src/store/shopping.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

#1489 fix(api): パスワードのバリデーションを修正
  api/go.mod
  api/go.sum
  api/internal/user/entity/member.go
  api/internal/user/service/admin_test.go
  api/internal/user/service/service.go
  api/internal/user/service/user_test.go
  api/mock/pkg/validator/validator.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: test, backend (user), backend (api)

#1491 feat(api): Sentryアラートにサーバー名と環境を出すように
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/updater/registry.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/registry.go
  api/pkg/log/logger.go
  api/pkg/log/logger_test.go
  api/pkg/log/setnry.go
  api/pkg/sentry/option.go
Labels: test, backend (gateway), backend (media), backend (messenger), backend (api)

#1492 fix(docs): トップページ用APIのドキュメント修正
  docs/swagger/user/components/schemas/entity/top.yaml
  web/user/src/types/api/models/TopArchive.ts
  web/user/src/types/api/models/TopCommonResponse.ts
  web/user/src/types/api/models/TopLive.ts
  web/user/src/types/api/models/TopLiveProductsInner.ts
  web/user/src/types/api/models/index.ts
Labels: docs, frontend (user)

#1490 トップページ用のAPIを呼び出すクライアントの追加
  web/user/src/pages/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/home.ts
  web/user/src/types/plugins/index.d.ts
Labels: frontend (user)

#1510 titleタグを設定
  web/user/nuxt.config.ts
  web/user/src/pages/about.vue
  web/user/src/pages/index.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
Labels: frontend (user)

#1511 fix(admin): 型定義のエラーを修正
  api/internal/gateway/admin/v1/handler/live.go
  web/admin/src/components/molecules/AddressForm.vue
  web/admin/src/components/molecules/ShippingRateForm.vue
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ScheduleShow.vue
  web/admin/src/components/templates/ShippingEdit.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/lib/prefectures/helper.ts
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/pages/notifications/[id]/index.vue
  web/admin/src/pages/notifications/new.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/[id]/index.vue
  web/admin/src/pages/product-tags/index.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/pages/products/new.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/schedules/new.vue
  web/admin/src/store/customer.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/runtime.ts
Labels: backend (gateway), frontend (admin), backend (api)

#1512 Bugfix/fixed cannot move page
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/AuthTop.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/SystemTop.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/system.vue
Labels: mergeable, frontend (admin)

#1513 Bugfix/fa 98
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
Labels: mergeable, frontend (admin)

#1514 Fix: fixed coordinator / administrator list
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/pages/coordinators/new.vue
Labels: frontend (admin)

#1516 Add: added contact page
  web/user/src/layouts/default.vue
  web/user/src/pages/contact.vue
Labels: mergeable, frontend (user)

#1518 ローカルの開発サーバをhttpsで立ち上げるための設定の追加
  web/user/.gitignore
  web/user/package.json
  web/user/predev.sh
Labels: mergeable, frontend (user)

#1519 fix(store): 商品情報が変更管理されるよう修正
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/gateway/user/v1/service/top_test.go
  api/internal/store/database/mysql/live_test.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_revision.go
  api/internal/store/entity/product_revision_test.go
  api/internal/store/entity/product_test.go
  api/internal/store/service/product_test.go
  api/internal/user/database/mysql/address.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_test.go
  docs/swagger/admin/paths/v1/products/index.yaml
  infra/mysql/schema/2023110601-users-create-table-address-revisions.sql
  infra/mysql/schema/2023110602-stores-create-table-product-revisions.sql
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1521 fix(media): マルシェ開催スケジュールのサムネイルリサイズ機能を実装
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/resizer_test.go
Labels: test, backend (media), backend (api)

#1520 fix(admin): テーブル周りの型定義エラーを修正
  web/admin/src/components/molecules/ShippingRateForm.vue
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/RelatedProducerList.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ShippingEdit.vue
  web/admin/src/components/templates/ShippingList.vue
Labels: frontend (admin)

#1522 Add: added privacy policy
  web/user/src/layouts/default.vue
  web/user/src/pages/privacy.vue
  web/user/src/public/_content/privacyPolicy.md
Labels: mergeable, frontend (user)

#1539 fix(user): 配送設定情報が変更管理されるよう修正
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/shipping.go
  api/internal/store/database/mysql/shipping_test.go
  api/internal/store/entity/product_revision.go
  api/internal/store/entity/product_revision_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  api/internal/user/database/mysql/address.go
  api/internal/user/entity/address_revision.go
  api/internal/user/entity/address_revision_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/entity/shipping.yaml
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/shippings/index.yaml
  docs/swagger/admin/paths/v1/shippings/_shippingId/index.yaml
  docs/swagger/admin/paths/v1/shippings/default.yaml
  docs/swagger/admin/paths/v1/shippings/index.yaml
  infra/mysql/schema/2023111001-stores-alter-shippings.sql
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1541 refactor(user): 不要なテーブルの削除
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker_test.go
  api/internal/user/database/mysql/customer.go
  api/internal/user/database/mysql/customer_test.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/database/mysql/user.go
  api/internal/user/database/mysql/user_test.go
  api/internal/user/entity/customer.go
  api/internal/user/entity/customer_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/user_test.go
  infra/mysql/schema/2023111101-stores-modify-datetime.sql
  infra/mysql/schema/2023111103-users-remove-customers.sql
Labels: test, backend (user), infra (database), backend (gateway), backend (messenger), backend (api)

#1543 feat(api): 商品購入APIの実装
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/gateway/user/v1/response/checkout.go
  api/internal/gateway/user/v1/service/order.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_fulfillment.go
  api/internal/store/entity/order_fulfillment_test.go
  api/internal/store/entity/order_item.go
  api/internal/store/entity/order_item_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/service.go
  api/internal/user/entity/address.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  docs/swagger/user/components/schemas/codes/order.yaml
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  docs/swagger/user/components/schemas/v1/checkout.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/CheckoutCreditCard.ts
  web/user/src/types/api/models/CheckoutRequest.ts
  web/user/src/types/api/models/CheckoutResponse.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (user), backend (gateway), frontend (user), backend (store), backend (api)

#1542 商品カート部分の表示を改善
  web/user/src/components/atoms/cardboard/TheCardboard.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/index.vue
  web/user/src/pages/purchase/index.vue
  web/user/src/store/shopping.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

#1545 買い物カゴのダンボール部分のUIをAPIと連動するように追加
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/store/shopping.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

#1547 feat(api): PayPay支払い機能の追加
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/mock/store/service.go
Labels: test, backend (gateway), backend (store), backend (api)

#1549 買い物カゴに商品を追加した際にフィードバックを表示するように改善
  web/user/.eslintrc.cjs
  web/user/src/app.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/molecules/TheSnackbar.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/types/props/common.ts
  web/user/src/types/props/index.ts
  web/user/src/types/props/snackbar.ts
Labels: mergeable, frontend (user)

#1550 feat(gateway): KOMOJUからの支払い完了Webhookを受信できるように
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/komoju/handler/event.go
  api/internal/gateway/komoju/handler/payment.go
  api/internal/gateway/komoju/request/payment.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  infra/mysql/schema/2023111401-stores-add-column-order-payment.sql
Labels: test, infra (database), backend (gateway), backend (store), backend (api)

#1551 feat(store): 決済種別毎の利用可否情報を定義
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/payment_system.go
  api/internal/store/database/mysql/payment_system_test.go
  api/internal/store/entity/payment_system.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/payment_system.go
  api/internal/store/service/payment_system_test.go
  api/internal/store/service/service_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  infra/mysql/schema/2023111402-stores-create-payment-systems.sql
Labels: test, infra (database), backend (store), backend (api)

#1552 fix(store): 支払い関連イベントの追加
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/admin/v1/service/order_refund.go
  api/internal/gateway/admin/v1/service/order_refund_test.go
  api/internal/gateway/komoju/handler/event.go
  api/internal/gateway/komoju/handler/payment.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/input.go
  api/internal/store/komoju/code.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/admin/components/schemas/codes/order_payment.yaml
  docs/swagger/admin/components/schemas/codes/order_refund.yaml
  infra/mysql/schema/2023111403-stores-add-column-order-payment.sql
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1553 feat(gateway): 決済システムの状態取得APIを実装
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/payment_system.go
  api/internal/gateway/admin/v1/request/payment_system.go
  api/internal/gateway/admin/v1/response/payment_system.go
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/admin/v1/service/payment_system.go
  api/internal/gateway/admin/v1/service/payment_system_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/status.go
  api/internal/gateway/user/v1/response/system.go
  api/internal/gateway/user/v1/service/order.go
  api/internal/gateway/user/v1/service/order_test.go
  api/internal/gateway/user/v1/service/system.go
  api/internal/gateway/user/v1/service/system_test.go
  docs/swagger/admin/components/schemas/codes/order-fulfillment.yaml
  docs/swagger/admin/components/schemas/codes/order-payment.yaml
  docs/swagger/admin/components/schemas/codes/order-refund.yaml
  docs/swagger/admin/components/schemas/codes/payment-system.yaml
  docs/swagger/admin/components/schemas/entity/payment-system.yaml
  docs/swagger/admin/components/schemas/v1/payment-system.request.yaml
  docs/swagger/admin/components/schemas/v1/payment-system.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/payment-systems/_methodType/index.yaml
  docs/swagger/admin/paths/v1/payment-systems/index.yaml
  docs/swagger/user/components/schemas/codes/status.yaml
  docs/swagger/user/components/schemas/entity/status.yaml
  docs/swagger/user/components/schemas/v1/status.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/index.yaml
  docs/swagger/user/paths/v1/statuses/payments.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/StatusApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/PaymentSystem.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/PaymentSystemsResponse.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), frontend (admin), backend (api)

#1555 feat(admin): 設定画面に導線追加
  docs/swagger/admin/components/schemas/v1/payment-system.response.yaml
  docs/swagger/admin/paths/v1/payment-systems/_methodType/index.yaml
  docs/swagger/user/components/schemas/v1/status.response.yaml
  web/admin/src/components/templates/PaymentSystemList.vue
  web/admin/src/pages/payment-systems/index.vue
  web/admin/src/pages/system.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/payment-system.ts
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/PaymentSystemsResponse.ts
Labels: docs, frontend (user), frontend (admin)

#1556 feat(admin): 決済メンテページの実装
  web/admin/src/components/templates/PaymentSystemList.vue
  web/admin/src/constants/index.ts
  web/admin/src/constants/payments.ts
  web/admin/src/pages/payment-systems/index.vue
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

#1557 feat(api): 注文確定APIの実装
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/input.go
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/payment/payment.go
  api/internal/store/komoju/payment/payment_test.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/mock/store/komoju/komoju.go
  api/mock/store/service.go
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/orders/_orderId/cancel.yaml
  docs/swagger/admin/paths/v1/orders/_orderId/capture.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#1573 fix(store): カテゴリ削除処理の修正
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  docs/swagger/admin/paths/v1/categories/_categoryId/index.yaml
Labels: docs, test, backend (store), backend (api)

#1574 Infra: ライブ配信リソースの修正
  infra/serverless/env/stg.yaml
  infra/serverless/serverless.yml
Labels: mergeable

#1575 feat(messenger): ユーザーへのお知らせ通知を実装
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/user.go
  api/internal/user/input.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/messenger/service.go
Labels: test, backend (user), backend (messenger), backend (api)

#1576 feat(user): アドレス帳にかな文字を追加
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/request/address.go
  api/internal/gateway/user/v1/response/address.go
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/address_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/address.go
  api/internal/user/database/mysql/address_test.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_revision.go
  api/internal/user/entity/address_revision_test.go
  api/internal/user/entity/address_test.go
  api/internal/user/input.go
  api/internal/user/service/address.go
  api/internal/user/service/address_test.go
  docs/swagger/user/components/schemas/entity/address.yaml
  docs/swagger/user/components/schemas/v1/address.request.yaml
  docs/swagger/user/components/schemas/v1/address.response.yaml
  infra/mysql/schema/2023111801-users-add-column-addresses.sql
  web/user/src/types/api/models/Address.ts
  web/user/src/types/api/models/CreateAddressRequest.ts
  web/user/src/types/api/models/UpdateAddressRequest.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (user), backend (api)

#1577 fix(api): コーディネータ/生産者情報に生産地を追加
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/response/producer.go
  api/internal/gateway/user/v1/service/coordinator.go
  api/internal/gateway/user/v1/service/coordinator_test.go
  api/internal/gateway/user/v1/service/producer.go
  api/internal/gateway/user/v1/service/producer_test.go
  docs/swagger/user/components/schemas/entity/coordinator.yaml
  docs/swagger/user/components/schemas/entity/producer.yaml
  docs/swagger/user/components/schemas/v1/product.response.yaml
  docs/swagger/user/components/schemas/v1/schedule.response.yaml
  web/user/src/types/api/models/Coordinator.ts
  web/user/src/types/api/models/Producer.ts
Labels: docs, test, backend (gateway), frontend (user), backend (api)

#1579 Revert "chore(deps-dev): bump @nuxtjs/i18n in /web/user (#1571)"
  .github/dependabot.yaml
  web/user/package.json
  web/user/yarn.lock
Labels: mergeable, workflow, frontend (user)

#1578 ライブ画面のスマートフォン向けのUIに対応
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/pages/live/[...id].vue
Labels: mergeable, frontend (user)

#1580 feat(messenger): 支払い完了時の通知を追加
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_test.go
Labels: test, backend (user), backend (messenger), backend (api)

#1581 feat(api): コーディネータ関連のレスポンスに営業日を追加
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/service/coordinator.go
  api/internal/gateway/user/v1/service/coordinator_test.go
  docs/swagger/user/components/schemas/entity/coordinator.yaml
  docs/swagger/user/components/schemas/v1/product.response.yaml
  web/user/src/types/api/models/Coordinator.ts
Labels: docs, test, backend (gateway), frontend (user), backend (api)

#1597 fix(store): 品目削除処理の修正
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_revision.go
  api/internal/store/entity/product_revision_test.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/address.go
  api/internal/user/database/mysql/administrator.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/coordinator_test.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/user.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_revision.go
  api/internal/user/entity/address_revision_test.go
  api/internal/user/entity/address_test.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: test, backend (user), backend (store), backend (api)

#1598 買い物カゴからの商品削除機能の実装
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/store/shopping.ts
Labels: mergeable, frontend (user)

#1599 買い物カゴページのスマートフォン表示に対応
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/purchase/index.vue
Labels: mergeable, frontend (user)

#1600 Add: added product detail other work
  web/user/src/pages/items/[...id].vue
  web/user/src/store/product.ts
Labels: mergeable, frontend (user)

#1602 fix(store): 商品タグ削除時の処理を修正
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/service/product_tag.go
  api/internal/store/service/product_tag_test.go
Labels: test, backend (store), backend (api)

#1603 スマートフォン向けのヘッダー調整
  web/user/src/components/atoms/icons/TheAccountIcon.vue
  web/user/src/components/atoms/icons/TheFlagIcon.vue
  web/user/src/components/atoms/icons/TheFruitsIcon.vue
  web/user/src/components/atoms/icons/TheFurumaruIcon.vue
  web/user/src/components/atoms/icons/TheIconWrapper.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
Labels: mergeable, frontend (user)

#1604 aboutページのスマートフォン向けレイアウト調整
  web/user/src/pages/about.vue
Labels: mergeable, frontend (user)

#1605 Feat/product detail mobile
  web/user/src/pages/contact.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/index.ts
Labels: mergeable, frontend (user)

#1606 fix(admin): 商品タグ削除APIへ投げる処理を修正
  docs/swagger/admin/paths/v1/product-tags/_productTagId/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/index.ts
Labels: docs, frontend (user), frontend (admin)

#1607 fix(admin): 顧客一覧APIのレスポンスの型定義
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/admin/components/schemas/v1/user.response.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/customer.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (api)

#1608 Add: added promotion asset
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/pages/live/[...id].vue
Labels: mergeable, frontend (user)

#1610 feat(api): ユーザーごとの注文履歴一覧取得APIを実装
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user_order.go
  api/internal/gateway/admin/v1/service/user_order_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/input.go
  api/internal/store/service/order.go
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/admin/components/schemas/v1/user.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/users/_userId/index.yaml
  docs/swagger/admin/paths/v1/users/_userId/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#1611 fix(api): 顧客一覧に表示する情報のフィルタリング
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/input.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/mock/store/database/database.go
Labels: test, backend (gateway), backend (store), backend (api)

#1615 Fix: fixed player full size when we use iphone
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
Labels: frontend (user)

#1612 feat(api): 購入合計金額を返すように
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/response/user.go
  docs/swagger/admin/components/schemas/v1/user.response.yaml
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/CheckoutRequest.ts
Labels: docs, backend (gateway), frontend (user), frontend (admin), backend (api)

#1613 fix(admin): サインアウト後の遷移先を修正
  web/admin/src/pages/accounts/index.vue
Labels: frontend (admin)

#1614 fix(admin): 商品選択プルダウンの修正
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/templates/ScheduleShow.vue
Labels: frontend (admin)

#1616 Feat/items list moblie
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
Labels: frontend (user)

#1617 feat(admin): 顧客詳細ページの実装
  web/admin/src/components/templates/CustomerEdit.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/pages/customers/[id]/index.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/customer.ts
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

#1633 Add: added demo content
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/constants/mock/archive.ts
  web/user/src/constants/mock/live.ts
  web/user/src/constants/mock/timeline.ts
  web/user/src/layouts/default.vue
  web/user/src/public/img/archive/demo.jpg
  web/user/src/public/img/live/demo.jpg
  web/user/src/public/img/recommend/demo.jpeg
Labels: frontend (user)

#1637 Feat/promotion fix
  web/user/src/constants/mock/timeline.ts
  web/user/src/public/img/recommend/demo2.png
Labels: frontend (user)

#1638 feat(media): アーカイブ動画の登録処理を実装
  api/internal/media/broadcast/scheduler/closer.go
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/scheduler.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/mock/pkg/storage/client.go
  api/pkg/storage/client.go
  api/pkg/storage/client_test.go
Labels: test, backend (media), backend (api)

#1640 feat(api): 注文関連のレスポンスに占有率を追加
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order_fulfillment.go
  api/internal/gateway/admin/v1/service/order_fulfillment_test.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/gateway/user/v1/service/cart.go
  api/internal/gateway/user/v1/service/cart_test.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/user/components/schemas/entity/cart.yaml
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/Cart.ts
Labels: docs, test, backend (gateway), frontend (user), frontend (admin), backend (api)

#1641 feat(media): アーカイブ動画アップロード処理の実装
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/scheduler.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/mock/media/service.go
Labels: test, backend (media), backend (api)

#1642 feat(media): ふた絵の操作ロジックを実装
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/mock/media/service.go
  api/mock/pkg/medialive/client.go
  api/pkg/medialive/client.go
  api/pkg/medialive/schedule.go
Labels: test, backend (media), backend (api)

#1643 Feat/purchase moblie
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/pages/v1/purchase/address.vue
Labels: mergeable, frontend (user)

#1663 Feat/web/user/address
  api/go.mod
  api/go.sum
  web/user/src/components/molecules/TheAlert.vue
  web/user/src/pages/signup.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/address.ts
  web/user/src/store/auth.ts
  web/user/src/store/checkout.ts
  web/user/src/types/plugins/index.d.ts
Labels: mergeable, frontend (user), backend (api)

#1664 Add: added purchase confirmation mobile page
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: mergeable, frontend (user)

#1665 Add: added purchase complete moblie page
  web/user/src/pages/v1/purchase/complete.vue
Labels: mergeable, frontend (user)
