Repository and-period/furumaru, pull requests merged in 2023-09, with the labels that each got.

#1342 fix(api): インフラ構成の変更
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/user/config.go
  api/internal/media/cmd/resizer/config.go
  api/internal/media/cmd/scheduler/config.go
  api/internal/media/cmd/updater/config.go
  api/internal/messenger/cmd/scheduler/config.go
  api/internal/messenger/cmd/worker/config.go
Labels: backend (gateway), backend (media), backend (messenger), backend (api)

#1344 fix(workflow): ビルド時の引数追加
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-stg.yaml
Labels: workflow

#1343 ライブ配信画面のタイムライン部分のUI実装
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/organisms/TheLiveTimeline.vue
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/timeline.ts
  web/user/src/pages/live/[...id].vue
  web/user/tailwind.config.ts
Labels: mergeable, frontend (user)

#1346 fix(admin): タイポの修正
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#1347 feat(admin): KOMOJU用のWebhookエンドポイント追加
  .github/workflows/cd-media-for-stg.yaml
  api/internal/gateway/cmd/admin/config.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/komoju/handler/event.go
Labels: workflow, backend (gateway), backend (api)
