Repository and-period/furumaru, pull requests merged in 2023-03, with the labels that each got.

#795 chore(api): update dependencies
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-function-for-all.yaml
  api/.golangci.yaml
  api/.tool-versions
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/service/order_refund.go
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/notification.go
  api/internal/messenger/service/notify.go
  api/internal/store/database/order.go
  api/internal/user/database/administrator.go
  api/internal/user/database/coordinator.go
  api/internal/user/database/user.go
  api/internal/user/service/user.go
  api/pkg/database/client.go
  api/pkg/grpc/health.go
  api/pkg/line/client.go
  api/pkg/postalcode/client.go
  api/pkg/stripe/client.go
  func/.golangci.yaml
  func/.tool-versions
  func/Makefile
  func/go.mod
  func/go.sum
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media/resizer/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), workflow, backend (user), backend (gateway), backend (store), backend (messenger), backend (function), backend (api)

#796 chore(docs): update dependencies
  .github/workflows/ci-docs-for-all.yaml
  docs/swagger/.tool-versions
  docs/swagger/yarn.lock
  infra/docker/docs/swagger/viewer/Dockerfile
Labels: docs, infra (container), workflow

#794 feat(admin): 問い合わせ一覧のソート機能を実装
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: frontend (admin)

#770 おすすめ商品のデザイン
  web/user/src/assets/img/sample.png
  web/user/src/components/atoms/TheContentSubTitle.vue
  web/user/src/components/atoms/TheContentTitle.vue
  web/user/src/components/atoms/icons/TheCartIcon.vue
  web/user/src/components/molecules/TheContentBox.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/pages/index.vue
  web/user/src/store/shopping.ts
  web/user/src/types/store/index.ts
  web/user/src/types/store/shopping.ts
Labels: frontend (user)

#798 chore: web/user を Nuxt v3.3.2にアップデート
  web/user/package.json
  web/user/yarn.lock
Labels: mergeable, frontend (user)
