Repository and-period/furumaru, pull requests merged in 2023-01, with the labels that each got.

#648 feat(func): implement ivs convert function
  func/go.mod
  func/go.sum
  func/ivs-converter/main.go
Labels: mergeable, backend (function)

#650 chore(api): update dependencies
  api/go.mod
  api/go.sum
Labels: backend (api)

#651 chore(user): upgrade dependencies
  .github/workflows/ci-web-user-for-all.yaml
  web/user/.babelrc
  web/user/.eslintrc.js
  web/user/.gitignore
  web/user/.node-version
  web/user/.prettierignore
  web/user/.prettierrc
  web/user/.tool-versions
  web/user/jest.config.js
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/assets/css/variables.scss
  web/user/src/assets/img/g-normal.png
  web/user/src/components/NuxtLogo.vue
  web/user/src/components/Tutorial.vue
  web/user/src/components/VuetifyLogo.vue
  web/user/src/components/atoms/.keep
  web/user/src/components/atoms/TheStack.vue
  web/user/src/components/molecules/.keep
  web/user/src/components/molecules/TheHeaderMenuButton.vue
  web/user/src/components/molecules/ThePincodeInput.vue
  web/user/src/components/molecules/TheSubmitButton.vue
  web/user/src/components/organisms/.keep
  web/user/src/components/organisms/TheAppHeader.vue
  web/user/src/layouts/auth.vue
  web/user/src/layouts/default.vue
  web/user/src/layouts/error.vue
  web/user/src/lib/.keep
  web/user/src/lib/hooks/index.ts
  web/user/src/lib/hooks/useI18n.ts
  web/user/src/lib/hooks/useIsMobile.ts
  web/user/src/locales/en_us.json
  web/user/src/locales/en_us.ts
  web/user/src/locales/ja_jp.json
  web/user/src/locales/ja_jp.ts
  web/user/src/locales/tsconfig.json
  web/user/src/pages/index.vue
  web/user/src/pages/inspire.vue
  web/user/src/pages/signin.vue
  web/user/src/pages/signup.vue
  web/user/src/pages/verify.vue
  web/user/src/plugins/icons.js
  web/user/src/plugins/pincodeInput.js
  web/user/src/plugins/vuetify.ts
  web/user/src/static/v.png
  web/user/src/static/vuetify-logo.svg
  web/user/src/types/.keep
  web/user/src/types/api/index.ts
  web/user/src/types/index.d.ts
  web/user/src/types/props/header.ts
  web/user/stylelint.config.js
  web/user/tsconfig.json
  web/user/vitest.config.ts
  web/user/yarn.lock
Labels: workflow, frontend (user)

#653 fix(store): fix payment card column name
  infra/mysql/schema/2023010401-stores-change-column.sql
Labels: infra (database)

#654 fix(store): fix payment card primary key
  infra/mysql/schema/2023010402-stores-alter-column.sql
Labels: infra (database)

#655 fix(gateway): fix create schedule api
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  web/user/src/types/api/index.ts
  web/user/src/types/api/runtime.ts
Labels: test, backend (gateway), frontend (user), backend (api)

#656 feat(user): define enum types
  docs/swagger/admin/components/schemas/codes.yaml
  docs/swagger/admin/components/schemas/codes/auth.yaml
  docs/swagger/admin/components/schemas/codes/common.yaml
  docs/swagger/admin/components/schemas/codes/contact.yaml
  docs/swagger/admin/components/schemas/codes/image.yaml
  docs/swagger/admin/components/schemas/codes/live.yaml
  docs/swagger/admin/components/schemas/codes/message.yaml
  docs/swagger/admin/components/schemas/codes/notification.yaml
  docs/swagger/admin/components/schemas/codes/order_fulfillment.yaml
  docs/swagger/admin/components/schemas/codes/order_payment.yaml
  docs/swagger/admin/components/schemas/codes/order_refund.yaml
  docs/swagger/admin/components/schemas/codes/product.yaml
  docs/swagger/admin/components/schemas/codes/promotion.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/components/schemas/v1/contact.request.yaml
  docs/swagger/admin/components/schemas/v1/contact.response.yaml
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/components/schemas/v1/message.response.yaml
  docs/swagger/admin/components/schemas/v1/notification.request.yaml
  docs/swagger/admin/components/schemas/v1/notification.response.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/admin/components/schemas/v1/postal_code.response.yaml
  docs/swagger/admin/components/schemas/v1/producer.response.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/product.response.yaml
  docs/swagger/admin/components/schemas/v1/product_type.response.yaml
  docs/swagger/admin/components/schemas/v1/promotion.request.yaml
  docs/swagger/admin/components/schemas/v1/promotion.response.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/lives/_liveId/index.yaml
  web/admin/src/components/organisms/TheNotificationForm.vue
  web/admin/src/components/organisms/ThePromotionForm.vue
  web/admin/src/components/templates/ThePromotionCreateFormPage.vue
  web/admin/src/components/templates/ThePromotionEditFormPage.vue
  web/admin/src/constants/prefectures.ts
  web/admin/src/pages/contacts/edit/_id.vue
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#657 chore(user): update dependencies
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/tsconfig.json
  web/user/vitest.config.ts
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#670 Feature/order home
  web/admin/nuxt.config.ts
  web/admin/src/components/organisms/TheCategoryList.vue
  web/admin/src/components/organisms/TheProductTypeList.vue
  web/admin/src/pages/categories/index.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/edit/_id.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/promotions/index.vue
Labels: mergeable, frontend (admin)

#671 feat(store): implement GetSchedule database layer
  api/internal/store/database/live.go
  api/internal/store/database/schedule.go
  api/internal/store/database/schedule_test.go
Labels: mergeable, test, backend (store), backend (api)

#681 feat(admin): add notification badge
  docs/swagger/admin/components/schemas/v1/message.response.yaml
  web/admin/nuxt.config.ts
  web/admin/src/components/atoms/.keep
  web/admin/src/components/molecules/.keep
  web/admin/src/components/organisms/.keep
  web/admin/src/components/templates/.keep
  web/admin/src/layouts/default.vue
  web/admin/src/middleware/notification.ts
  web/admin/src/store/message.ts
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#682 fix(api): fix order by query
  api/internal/messenger/database/database.go
  api/internal/store/database/database.go
Labels: backend (store), backend (messenger), backend (api)

#672 Feat(store): implement GetSchedule service layer
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: test, backend (store), backend (api)

#684 fix(admin): fix notification badge
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

#685 chore(api): update dependencies
  api/go.mod
  api/go.sum
  func/go.mod
  func/go.sum
Labels: backend (function), backend (api)

#686 feat(admin): implement message page
  web/admin/src/layouts/default.vue
  web/admin/src/pages/messages/index.vue
  web/admin/src/store/message.ts
Labels: frontend (admin)

#701 refactor(user): refactor user db test
  api/internal/user/database/admin.go
  api/internal/user/database/admin_test.go
  api/internal/user/database/administrator_test.go
  api/internal/user/database/coordinator_test.go
  api/internal/user/database/database_test.go
  api/internal/user/database/member.go
  api/internal/user/database/member_test.go
  api/internal/user/database/producer_test.go
  api/internal/user/database/user_test.go
Labels: mergeable, test, backend (user), backend (api)

#702 refactor(messenger): refactor messenger db test
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/database/message_template_test.go
  api/internal/messenger/database/message_test.go
  api/internal/messenger/database/notification_test.go
  api/internal/messenger/database/push_template_test.go
  api/internal/messenger/database/received_queue_test.go
  api/internal/messenger/database/report_template_test.go
  api/internal/messenger/database/schedule_test.go
Labels: mergeable, test, backend (messenger), backend (api)

#703 refactor(store): refactor store db test
  api/internal/store/database/address_test.go
  api/internal/store/database/category.go
  api/internal/store/database/category_test.go
  api/internal/store/database/database_test.go
  api/internal/store/database/live_product_test.go
  api/internal/store/database/live_test.go
  api/internal/store/database/order_test.go
  api/internal/store/database/product_test.go
  api/internal/store/database/product_type_test.go
  api/internal/store/database/promotion.go
  api/internal/store/database/promotion_test.go
  api/internal/store/database/schedule_test.go
  api/internal/store/database/shipping_test.go
Labels: test, backend (store), backend (api)

#704 chore(api): update dependencies
  api/go.mod
  api/go.sum
Labels: backend (api)

#707 feat(admin): changing table header layout
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/shippings/index.vue
Labels: frontend (admin)

#705 Feat(store): Implement GetSchedule gateway
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: mergeable, test, backend (gateway), backend (store), backend (api)

#700 商品編集機能の実装
  web/admin/src/components/molecules/TheProductDeliveryForm.vue
  web/admin/src/components/molecules/TheProductDetailForm.vue
  web/admin/src/components/molecules/TheProductInventoryForm.vue
  web/admin/src/components/molecules/TheProductMediaForm.vue
  web/admin/src/components/molecules/TheProductNameAndDescriptionForm.vue
  web/admin/src/components/organisms/TheProductUpdateForm.vue
  web/admin/src/components/templates/TheProductUpdateFormPage.vue
  web/admin/src/constants/cities.ts
  web/admin/src/constants/index.ts
  web/admin/src/lib/validations/rule.ts
  web/admin/src/pages/products/_id.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/store/product.ts
Labels: mergeable, frontend (admin)

#708 feat(admin): implement pagination for contact table
  web/admin/src/lib/.keep
  web/admin/src/lib/hooks/usePagination.ts
  web/admin/src/pages/contacts/index.vue
  web/admin/src/store/contact.ts
Labels: mergeable, frontend (admin)

#719 注文詳細ページの実装
  web/admin/src/pages/orders/_id.vue
  web/admin/src/pages/orders/edit/_id.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/store/orders.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/order.ts
Labels: mergeable, frontend (admin)

#718 Docs(store): implement GetSchedule swagger
  docs/swagger/admin/components/schemas/v1/live.response.yaml
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin)
