Repository and-period/furumaru, pull requests merged in 2023-04, with the labels that each got.

#814 chore(api): update dependencies
  api/go.mod
  api/go.sum
Labels: backend (api)

#815 chore(func): update dependencies
  func/go.mod
  func/go.sum
Labels: backend (function)

#819 fix(store): fix time validation
  api/internal/store/input.go
Labels: backend (store), backend (api)

#813 feat(web): update api types
  .github/workflows/ci-docs-for-all.yaml
  docs/swagger/Makefile
  docs/swagger/openapitools.json
  docs/swagger/package.json
  docs/swagger/yarn.lock
  infra/docker/docs/swagger/generator/Dockerfile
  web/user/src/types/api/api.ts
  web/user/src/types/api/apis/AuthApi.ts
  web/user/src/types/api/apis/ContactApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
  web/user/src/types/api/configuration.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/AuthResponse.ts
  web/user/src/types/api/models/AuthUserResponse.ts
  web/user/src/types/api/models/CreateAuthRequest.ts
  web/user/src/types/api/models/CreateAuthResponse.ts
  web/user/src/types/api/models/CreateContactRequest.ts
  web/user/src/types/api/models/ErrorResponse.ts
  web/user/src/types/api/models/ForgotAuthPasswordRequest.ts
  web/user/src/types/api/models/InitializeAuthRequest.ts
  web/user/src/types/api/models/RefreshAuthTokenRequest.ts
  web/user/src/types/api/models/ResetAuthPasswordRequest.ts
  web/user/src/types/api/models/SignInRequest.ts
  web/user/src/types/api/models/UpdateAuthEmailRequest.ts
  web/user/src/types/api/models/UpdateAuthPasswordRequest.ts
  web/user/src/types/api/models/V1CreateAuthResponse.ts
  web/user/src/types/api/models/VerifyAuthEmailRequest.ts
  web/user/src/types/api/models/VerifyAuthRequest.ts
  web/user/src/types/api/models/index.ts
  web/user/src/types/api/runtime.ts
Labels: docs, infra (container), mergeable, workflow, frontend (user)

#816 fix(admin): メールアドレス変更フォームのラベル変更
  web/admin/src/pages/accounts/email/index.vue
Labels: mergeable, frontend (admin)

#817 fix(admin): お知らせ一覧のページネーション実装
  web/admin/src/pages/notifications/index.vue
  web/admin/src/store/notification.ts
Labels: mergeable, frontend (admin)

#818 fix(store): プロモーション登録/更新時のバリデーション修正
  api/internal/store/input.go
Labels: mergeable, backend (store), backend (api)

#822 Fix: fixed FA-14
  web/admin/src/pages/contacts/edit/_id.vue
Labels: mergeable, frontend (admin)

#823 Fix: fixed FA-12
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/customer.ts
Labels: mergeable, frontend (admin)

#821 Fix: fixed FA-1
  web/admin/src/pages/contacts/edit/_id.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/customers/index.vue
Labels: mergeable, frontend (admin)

#824 Database: add live status column
  infra/mysql/schema/2023012801-stores-add-column-lives.sql
Labels: mergeable, infra (database)

#841 refactor(admin): refactor top and signin page
  web/admin/.eslintrc.cjs
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/components/templates/HomePage.vue
  web/admin/src/components/templates/SettingTopPage.vue
  web/admin/src/components/templates/SignInPage.vue
  web/admin/src/lib/hooks/useAlert.ts
  web/admin/src/pages/analytics.vue
  web/admin/src/pages/index.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/settings.vue
  web/admin/src/pages/signin.vue
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/setting.ts
  web/admin/yarn.lock
Labels: frontend (admin)

#849 feat(admin): トークンの有効性検証を追加
  web/admin/src/middleware/auth.global.ts
  web/admin/src/store/auth.ts
Labels: mergeable, frontend (admin)

#850 fix(admin): fix navigation bar
  web/admin/package.json
  web/admin/src/layouts/default.vue
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#851 商品登録フォームの更新
  web/admin/src/lib/validations/rule.ts
  web/admin/src/pages/products/add.vue
  web/admin/src/plugins/vuetify.ts
Labels: mergeable, frontend (admin)

#852 （商品登録時）商品のサムネイル画像を削除できるようにした
  web/admin/src/components/atoms/FileUploadFiled.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/plugins/vuetify.ts
Labels: frontend (admin)

#854 商品登録時のバリデーションの改善
  web/admin/src/components/TiptapEditor.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/products/add.vue
  web/admin/src/plugins/vuetify.ts
Labels: mergeable, frontend (admin)

#855 生産者編集画面で電話番号のフォーマットが異なる問題に対応した
  web/admin/src/lib/formatter/index.ts
  web/admin/src/lib/formatter/phone-number.ts
  web/admin/src/pages/producers/edit/[id].vue
Labels: mergeable, frontend (admin)

#856 データテーブルから「編集」ボタンで詳細画面に遷移する部分を行クリックで遷移するように書き換えた
  web/admin/src/components/molecules/ShippingRateForm.vue
  web/admin/src/components/organisms/ShippingForm.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/lib/prefectures/helper.ts
  web/admin/src/lib/validations/rule.ts
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/coordinators/edit/[id].vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/edit/[id].vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id].vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/shippings/add.vue
  web/admin/src/pages/shippings/edit/[id].vue
  web/admin/src/pages/shippings/index.vue
Labels: mergeable, frontend (admin)

#858 カテゴリー登録のバリデーションを調整
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/pages/categories/index.vue
Labels: mergeable, frontend (admin)

#853 fix(admin): 商品一覧関連の修正
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/store/product.ts
Labels: mergeable, frontend (admin)

#859 refactor(admin): 注文一覧のリファクタ
  web/admin/src/components/templates/CategoryList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/pages/orders/index.vue
Labels: frontend (admin)

#864 商品更新フォームを商品登録フォームに合わせる
  web/admin/src/components/atoms/FileUploadFiled.vue
  web/admin/src/components/molecules/ProductDeliveryForm.vue
  web/admin/src/components/molecules/ProductDetailForm.vue
  web/admin/src/components/molecules/ProductInventoryForm.vue
  web/admin/src/components/molecules/ProductMediaForm.vue
  web/admin/src/components/molecules/ProductNameAndDescriptionForm.vue
  web/admin/src/components/organisms/ProductForm.vue
  web/admin/src/components/organisms/ProductUpdateForm.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductUpdateFormPage.vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
Labels: mergeable, frontend (admin)

#863 feat(admin): add helper fot images
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/lib/helpers/image.ts
  web/admin/src/lib/helpers/index.ts
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/producers/index.vue
Labels: mergeable, frontend (admin)

#862 infra: add dockerfile for amplify
  infra/docker/web/amplify/Dockerfile
Labels: infra (container), mergeable

#865 商品登録・更新の選択とバリデーションの実装
  web/admin/src/components/organisms/ProductForm.vue
  web/admin/src/lib/validations/rule.ts
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
Labels: mergeable, frontend (admin)

#886 Refactoring
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/pages/promotions/edit/[id].vue
Labels: frontend (admin)

#889 fix(admin): fix column name for admin
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
Labels: test, backend (user), backend (api)

#890 fix(admin): fix create product handler
  api/internal/gateway/admin/v1/handler/product.go
Labels: backend (gateway), backend (api)

#887 メールアドレス更新フォームでフロントエンド側でバリデーションを追加した
  web/admin/src/components/templates/AuthEditEmail.vue
Labels: mergeable, frontend (admin)

#888 商品削除ボタンをクリックしても詳細画面に遷移しないようにする
  web/admin/src/components/templates/ProductList.vue
Labels: mergeable, frontend (admin)

#891 商品画像の削除時に対象がサムネイル画像としてセットされていた場合に処理を追加
  web/admin/src/components/organisms/ProductForm.vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
Labels: mergeable, frontend (admin)

#892 chore(admin): update dependencies
  web/admin/package.json
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#897 fix(store): 画像のリサイズ処理周りを修正
  api/internal/media/resizer/test.png
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
Labels: test, backend (store), backend (media), backend (api)
