Repository and-period/furumaru, pull requests merged in 2023-12, with the labels that each got.

#1669 Revert "chore(deps): bump github.com/aws/aws-sdk-go-v2 from 1.23.2 to 1.23.4 in /api"
  api/go.mod
  api/go.sum
Labels: backend (api)

#1670 Bugfix/fa 100
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/templates/AdministratorEdit.vue
  web/admin/src/components/templates/AdministratorNew.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/CustomerEdit.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/system.vue
  web/admin/src/store/coordinator.ts
  web/admin/src/store/shipping.ts
  web/admin/src/types/api/api.ts
Labels: mergeable, frontend (admin)

#1671 Bugfix/fa 106
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/store/coordinator.ts
Labels: frontend (admin)

#1672 Fix: fixed FA-104
  web/admin/src/components/molecules/VideoSelectForm.vue
Labels: frontend (admin)

#1673 Fix: fixed FA-103
  web/admin/src/components/molecules/AddressForm.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
Labels: frontend (admin)

#1675 fix: s/prefectureCode/prefecture
  web/admin/src/components/molecules/AddressForm.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
Labels: mergeable, frontend (admin)

#1676 feat(store): 注文時の商品減算処理を追加
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/product_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/mock/store/database/database.go
Labels: test, backend (store), backend (api)

#1677 fix(admin): コーディネータ編集ページで取り扱い品目の検索ができるように
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/new.vue
Labels: frontend (admin)

#1679 fix(admin): 都道府県入力フォームをv-autocompleteを使用するように変更
  web/admin/src/components/templates/ProductNew.vue
Labels: frontend (admin)

#1678 feat(admin): 顧客退会機能の実装
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/guest.go
  api/internal/user/database/mysql/guest_test.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/database/mysql/mysql.go
  api/internal/user/database/mysql/user_test.go
  api/internal/user/entity/guest.go
  api/internal/user/entity/member.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/service_test.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/user/database/database.go
  docs/swagger/admin/components/schemas/codes/user.yaml
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/users/_userId/index.yaml
  infra/mysql/schema/2023120201-users-add-column-members.sql
  infra/mysql/schema/2023120202-users-add-column-guests.sql
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/pages/customers/[id]/index.vue
  web/admin/src/store/customer.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (admin), backend (api)

#1680 fix(store): ライブスケジュールの重複チェックを実装
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
Labels: test, backend (store), backend (api)

#1683 Fix: fixed system admin page
  web/admin/src/pages/administrators/index.vue
Labels: frontend (admin)

#1684 feat(api): 配送関連APIの定義を追加
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/request/order.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_fulfillment.go
  api/internal/store/entity/order_fulfillment_test.go
  docs/swagger/admin/components/schemas/codes/order.yaml
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/v1/order.request.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/orders/_orderId/complete.yaml
  docs/swagger/admin/paths/v1/orders/_orderId/draft.yaml
  docs/swagger/admin/paths/v1/orders/_orderId/fulfillments/_fulfillmentId/index.yaml
  docs/swagger/admin/paths/v1/orders/_orderId/refund.yaml
  infra/mysql/schema/2023120301-stores-add-column-orders.sql
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#1685 feat(api): 注文更新APIの実装
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/request/order.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/v1/order.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/orders/_orderId/refund.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#1690 feat(media): 配信リソース削除処理の実装
  api/internal/media/broadcast/scheduler/closer.go
  api/internal/media/broadcast/scheduler/const.go
Labels: backend (media), backend (api)

#1692 購入手続きフローの整備
  .github/workflows/ci-web-user.yaml
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/organisms/TheAddressInfo.vue
  web/user/src/components/organisms/TheNewAddressForm.vue
  web/user/src/constants/prefectures.ts
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/plugins/helpter/factory.ts
  web/user/src/store/address.ts
  web/user/src/store/auth.ts
  web/user/yarn.lock
Labels: workflow, frontend (user)

#1693 TypeScriptの型のimport設定を更新
  web/user/.eslintrc.cjs
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/TheAddressInfo.vue
  web/user/src/components/organisms/TheAppFooter.vue
  web/user/src/components/organisms/TheNewAddressForm.vue
  web/user/src/components/organisms/TheSignInForm.vue
  web/user/src/components/organisms/TheSignUpForm.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/components/templates/TheSignUpPage.vue
  web/user/src/constants/mock/purchase.ts
  web/user/src/layouts/default.vue
  web/user/src/pages/about.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/pages/register.vue
  web/user/src/pages/signin.vue
  web/user/src/pages/signup.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/verify.vue
  web/user/src/plugins/api-client.ts
  web/user/src/plugins/api-error-handler.ts
  web/user/src/plugins/helpter/factory.ts
  web/user/src/plugins/i18n.ts
  web/user/src/store/address.ts
  web/user/src/store/auth.ts
  web/user/src/store/checkout.ts
  web/user/src/store/home.ts
  web/user/src/store/product.ts
  web/user/src/store/shopping.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
  web/user/src/types/store/shopping.ts
Labels: mergeable

#1694 チャンネル作成時に重複を回避する処理を追加
  infra/serverless/functions/getExistsChannelIndex/handler.js
  infra/serverless/serverless.yml
Labels: mergeable

#1701 fix(api): カートの中身を計算するAPIの修正
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/util/metadata.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/carts/_coordinatorId/index.yaml
  web/user/src/types/api/apis/CartApi.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (api)

#1720 購入手続きフローでの買い物カゴAPIとの連携
  web/user/src/components/atoms/TheAlertBox.vue
  web/user/src/components/molecules/TheAlert.vue
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/index.vue
  web/user/src/pages/purchase/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/store/home.ts
  web/user/src/store/shopping.ts
Labels: mergeable, frontend (user)

#1719 Fix: fixed snackbar mobile size
  web/user/src/components/molecules/TheSnackbar.vue
Labels: frontend (user)

#1721 feat(serverless): ポーリング処理の設定調整
  infra/serverless/serverless.yml
Labels: mergeable

#1725 feat(store): プロモーションコードで割引情報が引けるように
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/promotion.go
  api/internal/store/database/mysql/promotion_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  docs/swagger/user/paths/v1/carts/_coordinatorId/index.yaml
  web/user/src/types/api/apis/CartApi.ts
  web/user/src/types/api/models/CheckoutRequest.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (api)

#1726 購入手続きで認証後エラーにならないように修正
  web/user/src/components/molecules/TheAlert.vue
  web/user/src/pages/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: mergeable, frontend (user)

#1727 fix(validator): バリデーションの不整合を修正
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: test, backend (api)

#1730 feat(user): リサイズ済みサムネイル情報を保持できるように
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/gateway/user/v1/response/auth.go
  api/internal/gateway/user/v1/service/auth.go
  api/internal/gateway/user/v1/service/auth_test.go
  api/internal/media/entity/payload.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/user.go
  api/internal/media/resizer/user_test.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/resize.go
  api/internal/media/service/resize_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/database/mysql/user.go
  api/internal/user/entity/member.go
  api/internal/user/entity/member_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
  api/mock/media/service.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  docs/swagger/user/components/schemas/v1/auth.response.yaml
  infra/mysql/schema/2023120803-users-add-columns.sql
  web/user/src/types/api/models/AuthUserResponse.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (user), backend (media), backend (api)

#1731 fix(messenger): 通知関連の実装
  api/internal/messenger/entity/payload.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/thread.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
Labels: test, backend (user), backend (store), backend (messenger), backend (api)

#1732 各商品の数量を表示するように修正
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/store/shopping.ts
  web/user/src/types/store/shopping.ts
Labels: mergeable, frontend (user)

#1734 サインアップフォームを更新
  web/user/src/components/organisms/TheSignUpForm.vue
  web/user/src/pages/signup.vue
Labels: mergeable, frontend (user)

#1736 商品一覧で長い商品名に対応できるように3行で3点リーダにするようにする
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

#1735 feat(api): 注文情報の取得APIを実装
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/response/order.go
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/address_test.go
  api/internal/gateway/user/v1/service/order.go
  api/internal/gateway/user/v1/service/order_fulfillment.go
  api/internal/gateway/user/v1/service/order_fulfillment_test.go
  api/internal/gateway/user/v1/service/order_item.go
  api/internal/gateway/user/v1/service/order_item_test.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/gateway/user/v1/service/order_refund.go
  api/internal/gateway/user/v1/service/order_refund_test.go
  api/internal/gateway/user/v1/service/order_test.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/user/components/schemas/codes/order-fulfillment.yaml
  docs/swagger/user/components/schemas/codes/order-payment.yaml
  docs/swagger/user/components/schemas/codes/order-refund.yaml
  docs/swagger/user/components/schemas/codes/order.yaml
  docs/swagger/user/components/schemas/entity/order.yaml
  docs/swagger/user/components/schemas/v1/order.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/_transactionId/index.yaml
  docs/swagger/user/paths/v1/checkouts/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/models/AuthUserResponse.ts
  web/user/src/types/api/models/Coordinator.ts
  web/user/src/types/api/models/CoordinatorHeadersInner.ts
  web/user/src/types/api/models/CoordinatorThumbnailsInner.ts
  web/user/src/types/api/models/FulfillmentStatus.ts
  web/user/src/types/api/models/Order.ts
  web/user/src/types/api/models/OrderFulfillment.ts
  web/user/src/types/api/models/OrderItem.ts
  web/user/src/types/api/models/OrderPayment.ts
  web/user/src/types/api/models/OrderRefund.ts
  web/user/src/types/api/models/OrderRefundType.ts
  web/user/src/types/api/models/OrderResponse.ts
  web/user/src/types/api/models/OrderStatus.ts
  web/user/src/types/api/models/PaymentStatus.ts
  web/user/src/types/api/models/ProductTypeIconsInner.ts
  web/user/src/types/api/models/Schedule.ts
  web/user/src/types/api/models/ShippingCarrier.ts
  web/user/src/types/api/models/TopLive.ts
  web/user/src/types/api/models/TopLiveProductsInner.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (api)

#1737 feat(api): コーディネータ情報取得APIの実装
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/service/archive_summary.go
  api/internal/gateway/user/v1/service/archive_summary_test.go
  api/internal/gateway/user/v1/service/live_summary.go
  api/internal/gateway/user/v1/service/live_summary_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_test.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/store/input.go
  api/internal/store/service/schedule.go
  docs/swagger/user/components/schemas/v1/coordinator.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/coordinators/_coordinatorId/index.yaml
  infra/mysql/schema/2023121301-media-add-column-broadcast.sql
  web/user/src/types/api/apis/CoordinatorApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/CoordinatorResponse.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, infra (database), backend (gateway), frontend (user), backend (store), backend (media), backend (api)

#1733 Fix: fixed comment function hidden
  web/user/src/pages/live/[...id].vue
Labels: mergeable, frontend (user)

#1754 fix(store): マルシェ開催スケジュールから非公開商品情報を除外
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/store/entity/live.go
  api/internal/store/input.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/pkg/set/set.go
  api/pkg/set/set_test.go
Labels: test, backend (gateway), backend (store), backend (api)

#1755 feat(store): 商品情報にサムネイルを追加
  api/internal/gateway/user/v1/response/product.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/store/database/mysql/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  docs/swagger/user/components/schemas/entity/product.yaml
  docs/swagger/user/components/schemas/v1/product.response.yaml
  web/user/src/types/api/models/Product.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (api)

#1756 fix(docs): 開催スケジュールレスポンスのtypo修正
  docs/swagger/user/components/schemas/v1/schedule.response.yaml
  web/user/src/types/api/models/ScheduleResponse.ts
Labels: docs, frontend (user)

#1757 fix(media): 配信開始時のスケジュール設定を一律同じ設定に
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (media), backend (api)

#1759 ライブ視聴画面の実装
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/organisms/TheLiveTimeline.vue
  web/user/src/pages/index.vue
  web/user/src/pages/live/[...id].vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/home.ts
  web/user/src/store/schedule.ts
  web/user/src/types/plugins/index.d.ts
  web/user/src/types/props/schedule.ts
Labels: mergeable, frontend (user)

#1760 リフレッシュトークンが存在しない場合に関数呼び出しを終了するように修正
  web/user/src/public/favicon.ico
  web/user/src/store/auth.ts
Labels: frontend (user)

#1762 feat: MediaStoreの削除失敗時にRetry処理するように修正
  infra/serverless/serverless.yml
Labels: mergeable

#1765 ライブ画面から商品追加できるようにする
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheSnackbar.vue
  web/user/src/components/organisms/TheLiveTimeline.vue
  web/user/src/lib/price.ts
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

#1763 fix(store): 支払いAPIの重複実行抑止対策
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  web/user/src/types/api/models/CalcCartResponse.ts
  web/user/src/types/api/models/CheckoutRequest.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (api)

#1764 fix(user): 状態を重複して持ってしまっている箇所の修正
  api/internal/user/database/mysql/admin.go
  api/internal/user/database/mysql/administrator.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/guest.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/user.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/guest.go
  api/internal/user/entity/member.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/user.go
  api/internal/user/service/administrator.go
  api/internal/user/service/user.go
  infra/mysql/schema/2023121601-users-drop-columns.sql
Labels: backend (user), infra (database), backend (api)

#1766 占有率の表示がおかしい問題に対応
  web/user/src/store/shopping.ts
Labels: frontend (user)

#1767 feat(admin): ユーザーのステータスを表示するように
  api/internal/gateway/admin/v1/response/administrator.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/response/producer.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/admin.go
  api/internal/gateway/admin/v1/service/admin_test.go
  api/internal/gateway/admin/v1/service/administrator.go
  api/internal/gateway/admin/v1/service/administrator_test.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/auth_test.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/admin/v1/service/producer.go
  api/internal/gateway/admin/v1/service/producer_test.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  docs/swagger/admin/components/schemas/codes/admin.yaml
  docs/swagger/admin/components/schemas/codes/user.yaml
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (api)

#1768 feat(admin): 商品ステータスにアーカイブ済みを追加
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  docs/swagger/admin/components/schemas/codes/product.yaml
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#1770 feat(store): 開催スケジュールのデフォルト並び順を指定
  api/internal/store/database/mysql/schedule.go
Labels: backend (store), backend (api)

#1769 チェックアウトAPIとの繋ぎこみ
  docs/swagger/user/paths/v1/checkouts/index.yaml
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/auth.ts
  web/user/src/store/checkout.ts
  web/user/src/store/shopping.ts
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/plugins/index.d.ts
  web/user/src/types/store/shopping.ts
Labels: docs, mergeable, frontend (user)

#1784 スマホ向けのUIUX改善
  web/user/src/app.vue
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/molecules/TheSnackbar.vue
  web/user/src/layouts/default.vue
Labels: frontend (user)

#1785 feat(api): 支払い状況確認APIの修正
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/response/checkout.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/mock/store/service.go
  docs/swagger/user/components/schemas/v1/checkout.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/_transactionId/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/models/CheckoutStateResponse.ts
  web/user/src/types/api/models/V1OrderResponse.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (api)

#1786 購入手続きのフローの修正
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/middleware/auth.global.ts
  web/user/src/pages/purchase/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/store/shopping.ts
Labels: frontend (user)

#1787 スマートフォンでカゴの部分が右にはみ出るのを修正
  web/user/src/components/molecules/TheDropdownWithIcon.vue
Labels: frontend (user)

#1788 ユーザー画面のレイアウト修正
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/TheNewAddressForm.vue
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/pages/index.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/pages/live/[...id].vue
  web/user/src/pages/purchase/index.vue
  web/user/src/pages/v1/purchase/auth.vue
Labels: frontend (user)

#1789 selectタグのデザインを調整する
  web/user/src/components/organisms/TheNewAddressForm.vue
Labels: frontend (user)

#1790 selectタグの背景色を調整する
  web/user/src/components/organisms/TheNewAddressForm.vue
Labels: frontend (user)

#1792 fix: ライブ配信中かの判定条件を変更
  web/user/src/pages/live/[...id].vue
Labels: mergeable, frontend (user)

#1793 fix(admin): ファイルアップロード時にローティング状態になるように
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/components/molecules/HeaderSelectForm.vue
  web/admin/src/components/molecules/IconSelectForm.vue
  web/admin/src/components/molecules/ImageSelectForm.vue
  web/admin/src/components/molecules/ProfileSelectForm.vue
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/yarn.lock
Labels: frontend (admin)

#1794 chore(user): ライブラリの更新
  web/user/package.json
  web/user/yarn.lock
Labels: frontend (user)

#1797 feat(api): アクセスログの内容を調整
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (gateway), backend (api)

#1798 feat(messenger): メール通知ロジックの実装
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/url.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service_test.go
  api/mock/messenger/service.go
Labels: test, backend (messenger), backend (api)

#1814 chore(admin): update dependencies
  web/admin/package.json
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/RelatedProducerList.vue
  web/admin/src/components/templates/AdministratorList.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/PaymentSystemList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/pages/contacts/index.vue
  web/admin/src/pages/product-tags/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/yarn.lock
Labels: frontend (admin)

#1815 feat(store): 発送完了通知の呼び出し処理を追加
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: test, backend (store), backend (api)

#1817 chore(workflow): PRラベル付与ワークフローの修正
  .github/labeler.yaml
  .github/workflows/pr-labeler.yaml
Labels: workflow

#1816 feat(messenger): 予約通知の締め切り時間を設定
  api/internal/messenger/database/mysql/schedule.go
  api/internal/messenger/entity/schedule.go
  api/internal/messenger/entity/schedule_test.go
  api/internal/messenger/scheduler/notification.go
  infra/mysql/schema/2023122901-messengers-add-column-schedules.sql
Labels: test, infra (database), backend (messenger), backend (api)

#1818 feat(messenger): 通知の送信予約用APIの実装
  api/internal/messenger/database/database.go
  api/internal/messenger/database/mysql/schedule.go
  api/internal/messenger/database/mysql/schedule_test.go
  api/internal/messenger/entity/schedule.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/reserve.go
  api/internal/messenger/service/reserve_test.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
Labels: test, backend (messenger), backend (api)

#1820 feat(messenger): お知らせの送信予約処理を追加
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
Labels: test, backend (messenger), backend (api)

#1821 feat(messenger): ライブ開始通知の送信予約処理を追加
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
Labels: test, backend (store), backend (api)

#1823 fix(user): 生産者情報の修正
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/related_producer.go
  api/internal/gateway/admin/v1/request/producer.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/producer_test.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
  api/mock/user/service.go
  api/pkg/mysql/query.go
  api/pkg/mysql/query_test.go
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/producers/_producerId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/producers/index.yaml
  docs/swagger/admin/paths/v1/producers/index.yaml
  docs/swagger/openapitools.json
  docs/swagger/package.json
  docs/swagger/yarn.lock
  infra/mysql/schema/2023123001-users-alter-columns.sql
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/base.ts
  web/admin/src/types/api/common.ts
  web/admin/src/types/api/configuration.ts
  web/user/src/types/api/runtime.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (user), frontend (admin), backend (api)

#1824 fix(admin): バリデーション設定をAPIと合わせる
  web/admin/src/components/molecules/ShippingRateForm.vue
  web/admin/src/components/organisms/CategoryList.vue
  web/admin/src/components/organisms/CoordinatorShipping.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/AdministratorEdit.vue
  web/admin/src/components/templates/AdministratorNew.vue
  web/admin/src/components/templates/AuthEmailEdit.vue
  web/admin/src/components/templates/AuthEmailVerify.vue
  web/admin/src/components/templates/AuthPasswordEdit.vue
  web/admin/src/components/templates/AuthPasswordReset.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/components/templates/ShippingEdit.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/types/validations/administrator.ts
  web/admin/src/types/validations/auth.ts
  web/admin/src/types/validations/category.ts
  web/admin/src/types/validations/common.ts
  web/admin/src/types/validations/coordinator.ts
  web/admin/src/types/validations/index.ts
  web/admin/src/types/validations/live.ts
  web/admin/src/types/validations/notification.ts
  web/admin/src/types/validations/producer.ts
  web/admin/src/types/validations/product-tag.ts
  web/admin/src/types/validations/product-type.ts
  web/admin/src/types/validations/product.ts
  web/admin/src/types/validations/promotion.ts
  web/admin/src/types/validations/schedule.ts
  web/admin/src/types/validations/shipping.ts
Labels: frontend (admin)

#1825 注文完了画面の実装
  web/user/src/lib/order.ts
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/store/checkout.ts
Labels: mergeable, frontend (user)
