Repository and-period/furumaru, pull requests merged in 2023-05, with the labels that each got.

#895 fix(admin): 注文一覧画面のpropsが正しく渡せていなかった箇所を修正
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/pages/orders/index.vue
Labels: mergeable, frontend (admin)

#898 メールアドレス変更後の認証コード入力時のバリデーションを改善
  web/admin/nuxt.config.ts
  web/admin/src/components/templates/AuthVerifyEmail.vue
  web/admin/src/pages/accounts/email/verification.vue
  web/admin/src/plugins/auth.ts
  web/admin/src/store/auth.ts
  web/admin/src/types/plugins/index.d.ts
Labels: mergeable, frontend (admin)

#899 本番サーバでセール情報が開けない問題に対応
  web/admin/src/components/organisms/NotificationForm.vue
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/components/templates/NotificationCreateFormPage.vue
  web/admin/src/components/templates/NotificationEditFormPage.vue
  web/admin/src/components/templates/PromotionCreateFormPage.vue
  web/admin/src/components/templates/PromotionEditFormPage.vue
  web/admin/src/lib/formatter/day.ts
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id].vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/promotions/index.vue
Labels: mergeable, frontend (admin)

#894 fix: Remove published and canceled from live
  api/internal/gateway/admin/v1/handler/live_test.go
  api/internal/gateway/admin/v1/handler/schedule_test.go
  api/internal/gateway/admin/v1/service/live.go
  api/internal/gateway/admin/v1/service/live_test.go
  api/internal/store/database/database.go
  api/internal/store/database/live.go
  api/internal/store/database/live_test.go
  api/internal/store/database/schedule.go
  api/internal/store/entity/live.go
  api/internal/store/entity/live_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/live.go
  api/internal/store/service/live_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
Labels: mergeable, test, backend (gateway), backend (store), backend (api)

#905 feat(infra): update dockerfile for amplify
  infra/docker/web/amplify/Dockerfile
Labels: infra (container)

#896 refactor(admin): 顧客関連ページの実装とリファクタ
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/pages/customers/[id].vue
  web/admin/src/pages/customers/edit/[id].vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/customer.ts
  web/admin/src/store/index.ts
Labels: mergeable, frontend (admin)

#903 アプリケーションのバージョン情報を記載したページの実装
  web/admin/.gitignore
  web/admin/bin/update-version.ts
  web/admin/package.json
  web/admin/src/pages/settings.vue
  web/admin/src/pages/version.vue
  web/admin/tsconfig.script.json
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#904 NewRelicのブラウザモニタリングスクリプトを読み込む
  web/admin/nuxt.config.ts
  web/admin/src/app.vue
  web/admin/src/new-relic/dev.js
  web/admin/src/new-relic/stg.js
Labels: mergeable, frontend (admin)

#906 NewRelicのスクリプトをpublic配下に移動
  web/admin/src/app.vue
  web/admin/src/public/new-relic/dev.js
  web/admin/src/public/new-relic/stg.js
Labels: mergeable, frontend (admin)

#907 fix(admin): pagesのリファクタ
  web/admin/src/components/TiptapEditor.vue
  web/admin/src/components/organisms/CoordinatorCreateForm.vue
  web/admin/src/components/organisms/CoordinatorEditForm.vue
  web/admin/src/components/organisms/NotificationForm.vue
  web/admin/src/components/organisms/ProducerForm.vue
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/components/templates/ContactEdit.vue
  web/admin/src/components/templates/ContactList.vue
  web/admin/src/components/templates/MessageList.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/lib/formatter/day.ts
  web/admin/src/pages/messages/index.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/orders/[id].vue
  web/admin/src/pages/producers/index.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/order.ts
Labels: mergeable, frontend (admin)

#909 chore(api): update dependencies
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-function-for-all.yaml
  api/.tool-versions
  api/go.mod
  api/go.sum
  api/pkg/database/client_test.go
  api/pkg/firebase/messaging/client.go
  func/.tool-versions
  func/go.mod
  func/go.sum
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media/resizer/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), test, workflow, backend (function), backend (api)

#908 bugfix: セールの登録ができなくて、他の動作確認ができなかったので修正した
  web/admin/src/components/templates/PromotionCreateFormPage.vue
  web/admin/src/components/templates/PromotionEditFormPage.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
Labels: mergeable, frontend (admin)

#915 feat(docs): add staging api domain
  docs/swagger/admin/openapi.yaml
  docs/swagger/user/openapi.yaml
Labels: docs

#917 feat(terraform): add domain for hp
  infra/terraform/env/shared/02-route53/02-and-preiod-co-jp.tf
Labels: infra (terraform)

#914 user側のNodeのバージョンをadminに揃える
  web/user/.tool-versions
  web/user/i18n.config.ts
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#939 ユーザー側の登録画面のデザイン実装
  web/user/src/components/templates/TheUserRegisterPage.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/register.vue
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#942 nuxtjs/i18nのダウングレード
  web/user/i18n.config.ts
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/yarn.lock
Labels: mergeable

#940 feat(admin): 顧客管理ページの表示項目変更
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
Labels: mergeable, frontend (admin)

#946 ユーザー側ページのフォント変更と枠内背景色の更新
  web/user/src/assets/css/tailwind.css
  web/user/src/components/atoms/cards/TheCard.vue
  web/user/tailwind.config.ts
Labels: mergeable, frontend (user)

#945 fix(admin): セール情報から公開日時のフィールドを削除
  Makefile
  docs/swagger/admin/components/schemas/v1/promotion.request.yaml
  docs/swagger/admin/components/schemas/v1/promotion.response.yaml
  web/admin/src/components/organisms/PromotionForm.vue
  web/admin/src/components/templates/PromotionCreateFormPage.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/types/api/api.ts
  web/admin/src/types/api/runtime.ts
  web/admin/src/types/props/promotion.ts
  web/user/src/types/api/api.ts
  web/user/src/types/api/base.ts
  web/user/src/types/api/common.ts
  web/user/src/types/api/configuration.ts
Labels: docs, frontend (user), frontend (admin)

#944 Remove contacts from code
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/contact.go
  api/internal/gateway/admin/v1/handler/contact_test.go
  api/internal/gateway/admin/v1/request/contact.go
  api/internal/gateway/admin/v1/response/contact.go
  api/internal/gateway/admin/v1/service/contact.go
  api/internal/gateway/admin/v1/service/contact_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/contact.go
  api/internal/gateway/user/v1/handler/contact_test.go
  api/internal/gateway/user/v1/request/contact.go
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_test.go
  api/internal/messenger/input.go
  api/internal/messenger/scheduler/scheduler_test.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/service/service_test.go
  api/internal/messenger/worker/worker_test.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
Labels: mergeable, test, backend (gateway), backend (messenger), backend (api)

#947 feat(docs): APIドキュメントをホスティング環境へデプロイできるように
  docs/swagger/Makefile
  infra/docker/docs/amplify/Dockerfile
  infra/terraform/env/shared/01-ecr/06-docs.tf
Labels: docs, infra (container), infra (terraform)

#954 ユーザー登録系ページのレイアウト調整
  web/user/src/components/atoms/cards/TheCardTitle.vue
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/components/templates/TheSignUpPage.vue
  web/user/src/components/templates/TheUserRegisterPage.vue
  web/user/src/components/templates/TheVerifyCodePage.vue
  web/user/src/layouts/auth.vue
Labels: mergeable, frontend (user)

#956 fix: rename sql
  infra/mysql/schema/2023051102-messengers-create-contacts.sql
Labels: mergeable, infra (database)

#957 認証系画面でoverflowの設定を追加
  web/user/src/layouts/auth.vue
Labels: mergeable, frontend (user)

#955 Feat create contact entity
  api/internal/messenger/entity/contact.go
  api/internal/messenger/entity/contact_category_test.go
  api/internal/messenger/entity/contact_catogory.go
  api/internal/messenger/entity/contact_test.go
Labels: mergeable, test, backend (messenger), backend (api)

#958 Create get contact database layer
  api/internal/messenger/database/contact.go
  api/internal/messenger/database/contact_category.go
  api/internal/messenger/database/contact_category_test.go
  api/internal/messenger/database/contact_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/database_test.go
  api/internal/messenger/entity/contact_category.go
  api/mock/messenger/database/database.go
  infra/mysql/schema/2023052301-messengers-add-column.sql
Labels: mergeable, test, infra (database), backend (messenger), backend (api)

#962 feat(terraform): add dns zone
  infra/terraform/env/shared/02-route53/03-olibio-jp.tf
Labels: infra (terraform)

#965 ホーム画面のライブ部分のコンテンツのデザイン実装
  web/user/package.json
  web/user/src/components/atoms/icons/TheLiveIcon.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/constants/mock/index.ts
  web/user/src/constants/mock/live.ts
  web/user/src/pages/index.vue
  web/user/src/public/img/live/1.png
  web/user/src/public/img/live/2.png
  web/user/src/public/img/live/3.png
  web/user/src/public/img/live/4.png
  web/user/src/public/img/live/5.png
  web/user/src/public/img/live/6.png
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#963 Create get contact service
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/contact.go
  api/internal/messenger/service/contact_category.go
  api/mock/messenger/service.go
Labels: mergeable, backend (messenger), backend (api)

#964 Fixed furumaru about page
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/about.vue
Labels: mergeable, frontend (user)

#966 refactor(admin): pages,store周りのリファクタ
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/components/templates/SettingVersion.vue
  web/admin/src/components/templates/ShippingEdit.vue
  web/admin/src/components/templates/ShippingList.vue
  web/admin/src/components/templates/ShippingNew.vue
  web/admin/src/pages/coordinators/add.vue
  web/admin/src/pages/coordinators/index.vue
  web/admin/src/pages/customers/[id].vue
  web/admin/src/pages/notifications/add.vue
  web/admin/src/pages/notifications/edit/[id].vue
  web/admin/src/pages/notifications/index.vue
  web/admin/src/pages/producers/add.vue
  web/admin/src/pages/producers/edit/[id].vue
  web/admin/src/pages/products/[id].vue
  web/admin/src/pages/products/add.vue
  web/admin/src/pages/promotions/add.vue
  web/admin/src/pages/promotions/edit/[id].vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/pages/shippings/add.vue
  web/admin/src/pages/shippings/edit/[id].vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/version.vue
  web/admin/src/store/administrator.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/category.ts
  web/admin/src/store/contact.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/customer.ts
  web/admin/src/store/message.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/shipping.ts
Labels: frontend (admin)

#967 Create thread entity
  api/internal/messenger/entity/thread.go
  api/internal/messenger/entity/thread_test.go
Labels: test, backend (messenger), backend (api)
