Repository and-period/furumaru, pull requests merged in 2023-02, with the labels that each got.

#724 Chore: make swagger for GetSchedule
  web/admin/src/types/api/api.ts
Labels: frontend (admin)

#720 ユーザーの認証系の画面レイアウト調整
  web/user/nuxt.config.ts
  web/user/src/assets/css/tailwind.css
  web/user/src/components/atoms/TheButton.vue
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/atoms/cards/TheCardContent.vue
  web/user/src/components/atoms/cards/TheCardTitle.vue
  web/user/src/components/atoms/icons/TheFacebookIcon.vue
  web/user/src/components/atoms/icons/TheLineIcon.vue
  web/user/src/components/molecules/ThePincodeInput.vue
  web/user/src/components/molecules/auth/TheFacebookAuthButton.vue
  web/user/src/components/molecules/auth/TheGoogleAuthButton.vue
  web/user/src/components/molecules/auth/TheLineAuthButton.vue
  web/user/src/components/organisms/TheSignInForm.vue
  web/user/src/components/organisms/TheSignUpForm.vue
  web/user/src/components/organisms/TheVerifyCodeForm.vue
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/components/templates/TheSignUpPage.vue
  web/user/src/components/templates/TheVerifyCodePage.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/signin.vue
  web/user/src/pages/signup.vue
  web/user/src/pages/verify.vue
  web/user/src/types/locales/i18n.ts
  web/user/src/types/props/common.ts
  web/user/src/types/props/index.ts
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#725 ユーザーページのホーム画面のレイアウトを整えた
  web/user/src/components/atoms/TheBadge.vue
  web/user/src/components/atoms/icons/TheAccountIcon.vue
  web/user/src/components/atoms/icons/TheCartIcon.vue
  web/user/src/components/atoms/icons/TheFooterCatIcon.vue
  web/user/src/components/atoms/icons/TheInstagramIcon.vue
  web/user/src/components/atoms/icons/TheRingIcon.vue
  web/user/src/components/molecules/TheIconButton.vue
  web/user/src/components/organisms/TheAppFooter.vue
  web/user/src/components/organisms/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
  web/user/src/types/props/footer.ts
  web/user/src/types/props/header.ts
  web/user/src/types/props/index.ts
Labels: frontend (user)

#726 aboutページの実装
  web/user/src/assets/img/concept.png
  web/user/src/components/atoms/figures/TheConcept.vue
  web/user/src/components/atoms/figures/ThePoint.vue
  web/user/src/components/molecules/TheCircle.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/about.vue
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#727 Feature/producer relate
  web/admin/src/components/organisms/TheRelatedProducerList.vue
  web/admin/src/pages/coordinators/edit/_id.vue
  web/admin/src/pages/customers/index.vue
  web/admin/src/store/coordinator.ts
Labels: mergeable, frontend (admin)

#736 Feature/producer fix
  web/admin/src/components/organisms/TheRelatedProducerList.vue
  web/admin/src/pages/coordinators/add.vue
Labels: frontend (admin)

#735 piniaのセットアップとログイン機能の実装
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/templates/TheSignInPage.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/signin.vue
  web/user/src/plugins/api-client.ts
  web/user/src/plugins/api-error-handler.ts
  web/user/src/plugins/helpter/factory.ts
  web/user/src/plugins/i18n.ts
  web/user/src/store/auth.ts
  web/user/src/types/exception.ts
  web/user/src/types/locales/i18n.ts
  web/user/src/types/plugins/index.d.ts
  web/user/tsconfig.json
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#737 カルーセルコンポーネントの実装
  web/user/src/components/atoms/icons/TheLeftArrowIcon.vue
  web/user/src/components/atoms/icons/TheRightArrowIcon.vue
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/index.vue
  web/user/src/public/favicon.ico
  web/user/src/public/img/banner.png
Labels: mergeable, frontend (user)

#743 feat: PC画面でのヘッダーメニューの実装
  web/user/src/components/atoms/TheDropdownArea.vue
  web/user/src/components/atoms/icons/TheCloseIcon.vue
  web/user/src/components/molecules/TheDropdownWithIcon.vue
  web/user/src/components/organisms/TheAppHeader.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/header/ThePcNotificationMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/store/notification.ts
  web/user/src/store/shopping.ts
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#755 chore(func): update dependencies
  func/.tool-versions
  func/go.mod
  func/go.sum
Labels: backend (function)

#756 chore(infra): update dependencies
  .github/workflows/ci-backend-for-all.yaml
  .github/workflows/ci-function-for-all.yaml
  api/.golangci.yaml
  api/Makefile
  api/internal/gateway/admin/v1/service/postal_code_test.go
  func/.golangci.yaml
  func/Makefile
  infra/docker/api/Dockerfile.development
  infra/docker/api/gateway/admin/Dockerfile
  infra/docker/api/gateway/user/Dockerfile
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media/resizer/Dockerfile
  infra/docker/api/messenger/scheduler/Dockerfile
  infra/docker/api/messenger/worker/Dockerfile
Labels: infra (container), test, workflow, backend (gateway), backend (function), backend (api)

#758 ヘッダーの折りたたみに対応
  web/user/src/assets/img/logo.svg
  web/user/src/components/atoms/icons/TheFacebookIcon.vue
  web/user/src/components/atoms/icons/TheInstagramIcon.vue
  web/user/src/components/atoms/icons/TheMenuIcon.vue
  web/user/src/components/atoms/icons/TheOutlineCloseIcon.vue
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/components/molecules/auth/TheFacebookAuthButton.vue
  web/user/src/components/organisms/TheAppFooter.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)
