Repository and-period/furumaru, pull requests merged in 2024-06, with the labels that each got.

#2263 fix: トップページのライブ配信のサムネイルのレイアウト調整
  web/user/src/components/molecules/TheLiveItem.vue
Labels: mergeable, frontend (user)

#2264 Release for v1.11.27
  CHANGELOG.md
Labels: tagpr

#2265 Fix/web/user/toppage/live/thumbnail
  web/user/src/components/molecules/TheLiveItem.vue
Labels: mergeable, frontend (user)

#2266 Release for v1.11.28
  CHANGELOG.md
Labels: tagpr

#2267 fix: nuxt-imgのfill属性を更新
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
Labels: mergeable, frontend (user)

#2268 Release for v1.11.29
  CHANGELOG.md
Labels: tagpr

#2270 fix(store): ライブ商品一覧の並び順を修正
  api/internal/store/database/mysql/live.go
  api/internal/store/entity/live.go
  api/internal/store/entity/live_product.go
  api/internal/store/entity/live_product_test.go
  infra/mysql/schema/2024060401-stores-add-column.sql
Labels: test, infra (database), backend (store), backend (api)

#2271 Release for v1.11.30
  CHANGELOG.md
Labels: tagpr

#2273 feat(store): 箱サイズのバリデーションを変更
  api/internal/store/input.go
  web/admin/src/types/validations/product.ts
Labels: frontend (admin), backend (store), backend (api)

#2275 商品の並べ替え登録機能の実装
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/components/molecules/SortableProductList.vue
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/LiveListItem.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#2269 fix: 商品詳細で説明に改行が反映されるように修正
  web/user/src/pages/items/[...id].vue
Labels: mergeable, frontend (user)

#2276 setup: gtapの設定を明示的に書いてみる
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#2278 feat(admin): 視聴者ログの可視化
  api/internal/media/database/mysql/broadcast_viewer_log.go
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/components/organisms/ScheduleAnalytics.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/plugins/chartjs.client.ts
  web/admin/src/store/schedule.ts
  web/admin/yarn.lock
Labels: frontend (admin), backend (media), backend (api)

#2274 Release for v1.11.31
  CHANGELOG.md
Labels: tagpr

#2279 fix: Liveに紐づく関連商品のidsをPriorityでソートするように修正
  api/internal/store/entity/live_product.go
  api/internal/store/entity/live_product_test.go
Labels: mergeable, test, backend (store), backend (api)

#2280 Release for v1.11.32
  CHANGELOG.md
Labels: tagpr

#2277 feat(user): TOPのi18n対応
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheCarousel.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#2283 feat(media): 合計視聴者数を取得できるように
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_viewer_log.go
  api/internal/media/database/mysql/broadcast_viewer_log_test.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_viewer_log.go
  api/internal/media/service/broadcast_viewer_log_test.go
  docs/swagger/admin/components/schemas/v1/schedule.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (media), backend (api)

#2284 Fix/web/admin/live dashborad
  web/admin/package.json
  web/admin/src/components/organisms/ScheduleAnalytics.vue
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#2281 Release for v1.11.33
  CHANGELOG.md
Labels: tagpr

#2285 feat(user): 商品一覧のi18n対応
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/lib/product.ts
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/items/index.vue
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)
