Repository and-period/furumaru, pull requests merged in 2024-09, with the labels that each got.

#2374 feat(media): オンデマンド配信一覧取得メソッドの改修
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/video.go
  api/internal/media/input.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
Labels: mergeable, test, backend (gateway), backend (media), backend (api)

#2375 feat(gateway): トップ用のAPIにオンデマンド配信一覧を追加
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/handler/video.go
  api/internal/gateway/user/v1/response/top.go
  api/internal/gateway/user/v1/response/video.go
  api/internal/gateway/user/v1/service/video_summary.go
  api/internal/gateway/user/v1/service/video_summary_test.go
  docs/swagger/user/components/schemas/entity/video.yaml
  docs/swagger/user/components/schemas/v1/top.response.yaml
  docs/swagger/user/openapi.yaml
  web/user/src/types/api/models/TopCommonResponse.ts
  web/user/src/types/api/models/VideoSummary.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), backend (api)

#2376 fix(media): オンデマンド配信一覧APIの修正
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/video.go
  api/internal/media/input.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
Labels: test, backend (gateway), backend (media), backend (api)

#2378 feat(media): オンデマンド配信視聴ログ機能の実装
  api/internal/media/database/database.go
  api/internal/media/database/mysql/mysql.go
  api/internal/media/database/mysql/mysql_test.go
  api/internal/media/database/mysql/video_viewer_log.go
  api/internal/media/database/mysql/video_viewer_log_test.go
  api/internal/media/entity/video_viewer_log.go
  api/internal/media/entity/video_viewer_log_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment_test.go
  api/internal/media/service/broadcast_viewer_log_test.go
  api/internal/media/service/service_test.go
  api/internal/media/service/video_viewer_log.go
  api/internal/media/service/video_viewer_log_test.go
  infra/mysql/schema/2024090202-media-create-video-viewer-logs.sql
Labels: mergeable, test, infra (database), backend (media), backend (api)

#2380 feat(store): 注文種別の追加
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/guest_checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/gateway/user/v1/request/guest_checkout.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/codes/order.yaml
  docs/swagger/user/components/schemas/entity/order.yaml
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  docs/swagger/user/components/schemas/v1/guest-checkout.request.yaml
  docs/swagger/user/components/schemas/v1/order.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/products/index.yaml
  docs/swagger/user/paths/v1/guests/checkouts/products/index.yaml
  infra/mysql/schema/2024090203-stores-add-columns.sql
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/store/checkout.ts
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/apis/GuestApi.ts
  web/user/src/types/api/models/CheckoutProductRequest.ts
  web/user/src/types/api/models/GuestCheckoutProductRequest.ts
  web/user/src/types/api/models/Order.ts
  web/user/src/types/api/models/OrderType.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, infra (database), backend (gateway), frontend (user), backend (store), backend (messenger), backend (api)

#2384 feat(store): 体験関連のフィールド追加
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/request/experience.go
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/gateway/user/v1/response/experience.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/experience_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
  docs/swagger/admin/components/schemas/entity/experience.yaml
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  docs/swagger/admin/components/schemas/v1/experience.response.yaml
  docs/swagger/user/components/schemas/entity/experience.yaml
  docs/swagger/user/components/schemas/v1/experience.response.yaml
  infra/mysql/schema/2024090401-stores-add-columns.sql
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/Experience.ts
Labels: docs, mergeable, test, infra (database), backend (gateway), frontend (user), frontend (admin), backend (store), backend (api)

#2381 feat(store): 注文種別によるフィルタリングを追加
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/user/v1/handler/order.go
  api/internal/gateway/user/v1/response/order.go
  api/internal/gateway/user/v1/service/order.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/input.go
  api/internal/store/service/order.go
  docs/swagger/admin/components/schemas/codes/order.yaml
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#2387 fix(store): 体験周りのバリデーション追加
  api/internal/store/database/mysql/experience.go
  api/internal/store/entity/experience.go
  api/pkg/jst/jst.go
  api/pkg/jst/jst_test.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: test, backend (store), backend (api)

#2388 fix(media): 山田の苦情を修正
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/media/entity/upload_event.go
  api/internal/media/entity/upload_event_test.go
  docs/swagger/admin/paths/v1/videos/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (gateway), frontend (admin), backend (media), backend (api)

#2389 feat(store): 体験の注文情報を定義
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_experience.go
  api/internal/store/entity/order_experience_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/exporter/sagawa/sagawa.go
  api/internal/store/service/cart.go
  infra/mysql/schema/2024090601-stores-create-order-experiences.sql
Labels: test, infra (database), backend (store), backend (api)

#2391 feat(gateway): 注文関連APIの実装
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_experience.go
  api/internal/gateway/admin/v1/service/order_experience_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/paths/v1/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (gateway), frontend (admin), backend (store), backend (api)

#2399 feat(messenger): 体験注文時の通知実装
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/prd.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/entity/report_config.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
Labels: mergeable, test, backend (messenger), backend (api)

#2400 feat(messenger): 配送通知を商品購入時のみに
  api/internal/store/service/order.go
Labels: mergeable, backend (store), backend (api)

#2397 アーカイブ一覧を動画一覧に変更
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
Labels: mergeable, frontend (user)

#2395 fix: トップのアーカイブのサムネイルをnuxt-imgからimgに変更
  web/user/src/components/molecules/TheProductListItem.vue
Labels: mergeable, frontend (user)

#2401 商品の動画サムネイルへの対応
  web/user/package.json
  web/user/src/components/molecules/TheItemVideoPlayer.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/store/product.ts
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#2321 Release for v1.11.37
  CHANGELOG.md
Labels: mergeable, tagpr

#2402 Release for v1.11.38
  CHANGELOG.md
Labels: tagpr

#2403 fix(gateway): 商品注文履歴取得APIの修正
  api/internal/gateway/admin/v1/handler/order.go
Labels: backend (gateway), backend (api)

#2404 Release for v1.11.39
  CHANGELOG.md
Labels: tagpr

#2398 feat(user): 残っている部分のi18n対応と、ブラウザ言語を検知して切り替え
  web/user/nuxt.config.ts
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/contact.vue
  web/user/src/pages/index.vue
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/complete.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#2407 feat(workflow): arm64のコンテナを利用するように
  .github/workflows/_build_and_push.yaml
  .github/workflows/_deploy_lambda.yaml
Labels: workflow

#2406 Release for v1.11.40
  CHANGELOG.md
Labels: tagpr

#2411 Release for v1.11.41
  CHANGELOG.md
Labels: tagpr

#2412 feat(user): Topの文言変更とスタイル調整
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#2413 Release for v1.11.42
  CHANGELOG.md
Labels: mergeable, tagpr

#2415 fix: topのボタン文言修正
  web/user/src/locales/ja_jp.json
Labels: mergeable, frontend (user)

#2416 Release for v1.11.43
  CHANGELOG.md
Labels: mergeable, tagpr

#2420 Fix: fixed purhcase ui
  web/user/src/pages/v1/purchase/auth.vue
Labels: mergeable, frontend (user)

#2421 Release for v1.11.44
  CHANGELOG.md
Labels: tagpr
