Repository and-period/furumaru, pull requests merged in 2024-05, with the labels that each got.

#2185 Release for v1.11.12
  CHANGELOG.md
Labels: tagpr

#2187 fix:すべての商品画面のローディング状態に使うステータスをuseAsyncDataの返り値にする
  web/user/src/pages/items/index.vue
  web/user/src/store/product.ts
Labels: mergeable, frontend (user)

#2191 fix(workflow): OpenAIによるレビューを削除
  .github/workflows/pr-openai-review.yaml
Labels: workflow

#2190 fix(func): ブラー指定のみでも画像加工されるように
  func/cloudfront-origin-response/src/app.ts
Labels: mergeable, backend (function)

#2188 fix: 買い物カゴに入れるボタンの参照する状態変数を修正
  web/user/src/pages/items/[...id].vue
Labels: mergeable, frontend (user)

#2192 Nuxt/Imageの導入
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/components/organisms/purchase/TheRecommendItem.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/index.vue
  web/user/src/pages/account/orders/[...id].vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/live/[...id].vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/provider/cloud-front.ts
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#2193 feat(media): youtube配信用の情報をDB管理できるように
  api/.golangci.yaml
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/media/entity/broadcast.go
  infra/mysql/schema/2024050701-media-add-column.sql
Labels: mergeable, infra (database), backend (media), backend (api)

#2196 feat(media): youtube配信先のバックアップURL追加
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/media/entity/broadcast.go
  infra/mysql/schema/2024050801-media-add-column.sql
Labels: mergeable, infra (database), backend (media), backend (api)

#2197 fix(admin): バリデーション周りのタイポ修正
  web/admin/src/components/molecules/AddressForm.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductTagList.vue
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

#2198 マルシェ一覧のレイアウトの修正
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/pages/marches/index.vue
Labels: mergeable, frontend (user)

#2201 feat(media): youtube配信用のAPIを定義
  api/go.mod
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/url.go
  api/internal/media/entity/url_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
Labels: test, backend (gateway), backend (media), backend (api)

#2203 fix(media): youtube認証時のリダイレクトURLを変更
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/media/entity/url.go
  api/internal/media/entity/url_test.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
Labels: test, backend (gateway), backend (media), backend (api)

#2205 Feat/media/add debug log
  api/internal/media/service/broadcast.go
Labels: backend (media), backend (api)

#2206 feat(media): youtube配信との連携
  Makefile
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_auth.go
  api/internal/media/entity/broadcast_auth_test.go
  api/internal/media/entity/url.go
  api/internal/media/entity/url_test.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/pkg/youtube/auth.go
  api/pkg/youtube/client.go
  api/pkg/youtube/service.go
  docs/swagger/admin/components/schemas/v1/broadcast.request.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/-/broadcasts/youtube/index.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/broadcasts/youtube/auth.yaml
  infra/mysql/schema/2024051501-media-add-column.sql
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, infra (database), backend (gateway), frontend (user), frontend (admin), backend (media), backend (api)

#2189 Release for v1.11.13
  CHANGELOG.md
Labels: tagpr

#2208 fix(media): YouTube配信の登録処理を修正
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/pkg/youtube/client.go
  api/pkg/youtube/service.go
  infra/mysql/schema/2024051601-media-add-column.sql
Labels: mergeable, test, infra (database), backend (media), backend (api)

#2211 feat(gateway): YouTube配信用のレスポンスを追加
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (api)

#2212 feat(admin): YouTube配信周りの導線づくり
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/store/broadcast.ts
Labels: mergeable, frontend (admin)

#2200 Fix: Disabled email change button
  web/user/src/pages/account/index.vue
Labels: mergeable, frontend (user)

#2213 feat(admin): YouTube配信周りの導線づくり
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/auth/youtube/callback.vue
  web/admin/src/pages/auth/youtube/complete.vue
  web/admin/src/store/broadcast.ts
Labels: frontend (admin)

#2215 fix(media): StepFunctionsへ渡すRTMPプッシュの情報を修正
  api/internal/media/broadcast/scheduler/const.go
  api/internal/media/broadcast/scheduler/starter.go
Labels: backend (media), backend (api)

#2214 feat(serverless): RTMP出力をできるようにチャンネル作成処理を変更
  infra/serverless/functions/createChannelWithRTMPOutputs/RTMPOutputGroup.json
  infra/serverless/functions/createChannelWithRTMPOutputs/default.json
  infra/serverless/functions/createChannelWithRTMPOutputs/handler.js
  infra/serverless/package.json
  infra/serverless/serverless.yml
  infra/serverless/yarn.lock
Labels: mergeable

#2217 Add: added icon if live is nothing
  web/user/src/assets/img/furuneko-sleep.png
  web/user/src/pages/index.vue
Labels: frontend (user)

#2218 feat(admin): ライブ配信削除機能の実装
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/messenger/service/notify.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/schedule.go
  api/internal/store/database/mysql/schedule_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  docs/swagger/admin/paths/v1/schedules/_scheduleId/index.yaml
  web/admin/src/pages/schedules/index.vue
  web/admin/src/store/schedule.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (messenger), backend (api)

#2219 fix(gateway): ライブ配信削除APIの権限設定
  api/config/gateway/admin/rbac/policy.csv
Labels: backend (api)

#2220 fix(admin): ライブ配信削除後、モーダルが非表示になるように
  web/admin/src/pages/schedules/index.vue
Labels: frontend (admin)

#2221 Fix/web/admin/live UI
  web/admin/nuxt.config.ts
  web/admin/src/assets/main.scss
  web/admin/src/assets/variables.scss
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/pages/auth/youtube/callback.vue
  web/admin/src/plugins/vuetify.ts
Labels: mergeable, frontend (admin)

#2209 Release for v1.11.14
  CHANGELOG.md
Labels: tagpr

#2222 Add: added privacy in admin page
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/legal-notice.vue
  web/admin/src/pages/privacy.vue
  web/admin/src/public/_content/legalPolicy.md
  web/admin/src/public/_content/privacyPolicy.md
  web/admin/yarn.lock
Labels: mergeable, frontend (admin)

#2226 fix: fixed markdwon
  web/admin/src/public/_content/legalPolicy.md
Labels: mergeable, frontend (admin)

#2224 feat(serverless): originAccessControlの削除処理を追加
  infra/serverless/serverless.yml
Labels: mergeable

#2223 Release for v1.11.15
  CHANGELOG.md
Labels: tagpr

#2228 Release for v1.11.16
  CHANGELOG.md
Labels: tagpr

#2229 fix(media): YouTubeとの連携処理を見直し
  .github/workflows/ci-docs.yaml
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/broadcast/scheduler/starter.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_auth.go
  api/internal/media/entity/broadcast_auth_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/pkg/youtube/client.go
  api/pkg/youtube/service.go
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.request.yaml
  docs/swagger/admin/components/schemas/v1/broadcast.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/guests/schedules/-/broadcasts/index.yaml
  docs/swagger/admin/paths/v1/guests/schedules/-/broadcasts/youtube/auth/complete.yaml
  docs/swagger/admin/paths/v1/guests/schedules/-/broadcasts/youtube/index.yaml
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/auth/youtube/callback.vue
  web/admin/src/pages/auth/youtube/complete.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, workflow, backend (gateway), frontend (admin), backend (media), backend (api)

#2231 fix(admin): Google認証後の処理を修正
  web/admin/src/pages/auth/youtube/callback.vue
Labels: frontend (admin)

#2232 feat(admin): YouTube視聴URLの追加
  api/internal/gateway/admin/v1/response/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast.go
  api/internal/gateway/admin/v1/service/broadcast_test.go
  docs/swagger/admin/components/schemas/entity/broadcast.yaml
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (api)

#2227 fix(serverless): RTMPOutputが空の際の挙動を修正
  infra/serverless/functions/createChannelWithRTMPOutputs/handler.js
Labels: mergeable

#2234 fix(gateway): コーディネータがユーザー一覧を取得するときの挙動を修正
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: test, backend (gateway), backend (store), backend (api)

#2230 Release for v1.11.17
  CHANGELOG.md
Labels: tagpr

#2235 商品複製機能の実装
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/pages/products/index.vue
  web/admin/src/pages/products/new.vue
Labels: mergeable, frontend (admin)

#2238 YouTube連携のcallback画面と完了画面のUI作成
  web/admin/src/assets/main.scss
  web/admin/src/pages/auth/youtube/callback.vue
  web/admin/src/pages/auth/youtube/complete.vue
Labels: mergeable, frontend (admin)

#2240 fix(gateway): 生産者が紐づかない場合の商品一覧取得APIの修正
  api/internal/gateway/admin/v1/handler/product.go
Labels: mergeable, backend (gateway), backend (api)

#2241 fix(func): 画像リサイズ処理の引数取得処理を修正
  func/cloudfront-origin-response/src/app.ts
Labels: backend (function)

#2236 Release for v1.11.18
  CHANGELOG.md
Labels: tagpr

#2244 fix(docs): APIドキュメントの修正
  docs/swagger/admin/paths/v1/schedules/_scheduleId/analytics.yaml
  web/admin/src/pages/auth/youtube/complete.vue
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#2243 feat: アーカイブの動画に配信日付の情報を追加
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/pages/index.vue
Labels: mergeable, frontend (user)

#2246 Fix: fixed 29 line
  web/admin/src/layouts/default.vue
Labels: mergeable, frontend (admin)

#2247 feat: リサイズ時にwebp指定に
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/TheCartProductItem.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/components/organisms/purchase/TheRecommendItem.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/index.vue
  web/user/src/pages/account/orders/[...id].vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/live/[...id].vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/guest/address.vue
Labels: frontend (user)

#2245 Release for v1.11.19
  CHANGELOG.md
Labels: mergeable, tagpr

#2249 Release for v1.11.20
  CHANGELOG.md
Labels: tagpr

#2250 fix(user): dayjsのインポート箇所のエラー修正
  web/user/src/components/molecules/TheArchiveItem.vue
Labels: frontend (user)

#2251 Release for v1.11.21
  CHANGELOG.md
Labels: tagpr

#2253 Release for v1.11.22
  CHANGELOG.md
Labels: tagpr

#2255 Release for v1.11.23
  CHANGELOG.md
Labels: tagpr

#2257 Release for v1.11.24
  CHANGELOG.md
Labels: tagpr

#2258 Fix: fixed line message
  web/user/src/components/molecules/TheCarousel.vue
Labels: frontend (user)

#2259 Release for v1.11.25
  CHANGELOG.md
Labels: tagpr

#2262 Release for v1.11.26
  CHANGELOG.md
Labels: tagpr
