Repository and-period/furumaru, pull requests merged in 2024-07, with the labels that each got.

#2287 Release for v1.11.34
  CHANGELOG.md
Labels: tagpr

#2292 fix: i18nのオブジェクトを追加
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
Labels: mergeable, frontend (user)

#2293 Release for v1.11.35
  CHANGELOG.md
Labels: tagpr

#2297 feat(user): マルシェ一覧と詳細のi18n対応
  web/user/src/components/atoms/live/TheLiveCommentInputForm.vue
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/live/[...id].vue
  web/user/src/pages/marches/index.vue
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#2300 feat(func): Cognitoのユーザープール移行用の関数実装
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-func-for-stg.yaml
  .github/workflows/ci-function.yaml
  func/cloudfront-origin-response/config.json
  func/cognito-migrate-user-pool/.eslintignore
  func/cognito-migrate-user-pool/.eslintrc.js
  func/cognito-migrate-user-pool/.prettierrc.js
  func/cognito-migrate-user-pool/Makefile
  func/cognito-migrate-user-pool/bin/build.sh
  func/cognito-migrate-user-pool/esbuild.config.mjs
  func/cognito-migrate-user-pool/package-lock.json
  func/cognito-migrate-user-pool/package.json
  func/cognito-migrate-user-pool/src/app.ts
  func/cognito-migrate-user-pool/tsconfig.json
  func/config.json
Labels: workflow, backend (function)

#2320 ユーザー向け画面のレイアウト調整
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/live/[...id].vue
  web/user/src/public/img/account.png
Labels: mergeable, frontend (user)

#2294 Release for v1.11.36
  CHANGELOG.md
Labels: tagpr

#2302 feat(workflow): Cognitoのユーザープール移行用のワークフロー追加
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-func-for-stg.yaml
Labels: mergeable, workflow

#2322 fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

#2323 fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

#2301 feat(user): 購入関連のi18n対応(ゲスト購入)
  web/user/src/components/molecules/ThePhoneNumberInput.vue
  web/user/src/components/organisms/TheGuestAddressForm.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/purchase/index.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/store/shopping.ts
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#2324 fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

#2326 fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

#2327 fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

#2328 fix(func): Cognitoユーザープールの移行関数の修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)
