Repository and-period/furumaru, pull requests merged in 2024-01, with the labels that each got.

#1826 fix(admin): リクエストタイムアウトを延長
  web/admin/src/plugins/axios.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/schedule.ts
Labels: frontend (admin)

#1827 feat(hack): データベースの初期データ投入用のコマンド実装
  api/hack/create-admin/main.go
  api/hack/database-migrate/main.go
  api/hack/database-seeds/common/common.go
  api/hack/database-seeds/main.go
  api/hack/database-seeds/master/category.csv
  api/hack/database-seeds/master/product-type.csv
  api/hack/database-seeds/store/execute.go
  api/internal/store/entity/category.go
  api/internal/store/entity/category_test.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/product_type_test.go
  api/internal/store/service/category.go
  api/internal/store/service/product_type.go
Labels: test, backend (store), backend (api)

#1828 fix(store): 注文履歴作成時、発送時メッセージのデフォルト値を詰めるように
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout_test.go
Labels: test, backend (store), backend (api)

#1829 fix(admin): 商品更新ボタンがアクティベート状態にならない不具合を修正
  web/admin/src/pages/products/[id]/index.vue
Labels: frontend (admin)

#1830 fix(admin): セール情報のステータスを修正
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
Labels: frontend (admin)

#1831 feat(user): 購入フローにデバッグログを追加
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

#1832 fix(api): 商品取得時に販売終了しているものは除外されるように
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
Labels: test, backend (gateway), backend (store), backend (api)

#1833 fix(store): 購入周りの商品フィルタリング処理を修正
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: test, backend (store), backend (api)

#1834 feat(database): 全文検索用のインデックス追加
  infra/mysql/schema/2024010201-stores-add-index.sql
  infra/mysql/schema/2024010202-users-add-index.sql
Labels: infra (database)

#1835 fix(store): 検索クエリの修正
  api/internal/store/database/mysql/category.go
  api/internal/store/database/mysql/category_test.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/product_tag.go
  api/internal/store/database/mysql/product_tag_test.go
  api/internal/store/database/mysql/product_type.go
  api/internal/store/database/mysql/product_type_test.go
  api/internal/store/database/mysql/promotion.go
Labels: test, backend (store), backend (api)

#1836 fix(user): 検索クエリの修正
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/coordinator_test.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/producer.go
Labels: test, backend (user), backend (gateway), backend (api)

#1837 User側のページをSSRするように変更
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/pages/v1/purchase/complete.vue
Labels: frontend (user)

#1854 feat(messenger): 支払い完了通知に注文番号を追加
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/service/notify_test.go
Labels: test, backend (messenger), backend (api)

#1795 Feat/coordinator page
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoorrdinatorProductList.vue
  web/user/src/components/molecules/TheProducerList.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/TheAppFooter.vue
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/pages/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/public/img/coordinator/left.svg
  web/user/src/public/img/coordinator/marche.svg
  web/user/src/public/img/coordinator/right.svg
  web/user/src/store/coordinator.ts
  web/user/src/types/plugins/index.d.ts
Labels: mergeable, frontend (user)

#1856 fix(store): クレジットカードのバリデーション実装
  api/internal/store/entity/credit_card.go
  api/internal/store/entity/credit_card_test.go
  api/internal/store/input.go
  api/internal/store/komoju/errors.go
  api/internal/store/komoju/errors_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: test, backend (store), backend (api)

#1855 Add: added coordinator moblie page
  web/user/src/components/molecules/TheCoordinatorArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/components/molecules/TheProducerList.vue
  web/user/src/pages/coordinator/[...id].vue
Labels: mergeable, frontend (user)

#1857 Fix: fixed coordinator page routing
  web/user/src/components/molecules/TheProductListItem.vue
Labels: frontend (user)

#1858 Fix: fixed moblie layout
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

#1860 feat: 送料への遷移追加と表記の修正
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/pages/about.vue
  web/user/src/public/_content/legalPolicy.md
Labels: mergeable, frontend (user)

#1859 モバイル版のレイアウト調整
  web/user/src/components/molecules/TheArchiveItem.vue
  web/user/src/components/organisms/TheSignUpForm.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/templates/TheVerifyCodePage.vue
  web/user/src/pages/about.vue
  web/user/src/pages/index.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/v1/purchase/complete.vue
Labels: frontend (user)

#1861 Fix: fixed coordinator live item
  web/user/src/pages/coordinator/[...id].vue
Labels: frontend (user)

#1863 Admin側のHTMLのエディタを取り除く
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ScheduleNew.vue
Labels: mergeable, frontend (admin)

#1862 fix(store): 支払いAPIのエラーハンドリング修正
  api/internal/store/komoju/api.go
  api/internal/store/komoju/api_test.go
  api/internal/store/komoju/errors.go
  api/internal/store/komoju/errors_test.go
  api/internal/store/komoju/payment/payment_test.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: test, backend (store), backend (api)

#1866 fix: dayjsのunixのimportの仕方を変更
  web/user/src/components/molecules/TheLiveTimelineItem.vue
Labels: frontend (user)

#1867 feat: 商品詳細ページで複数画像を選択できるようにした
  web/user/src/pages/items/[...id].vue
Labels: frontend (user)

#1868 feat(workflow): バックエンドの本番デプロイ用のワークフロー追加
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  api/hack/create-admin/main.go
Labels: workflow, backend (api)

#1888 ユーザー向け画面の調整
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/pages/index.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

#1889 コーディネーターページをSSRするようにした
  web/user/src/pages/coordinator/[...id].vue
Labels: frontend (user)

#1892 ライブ視聴ページの修正
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/pages/live/[...id].vue
Labels: frontend (user)

#1893 Fix: fixed coordinator live item css
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
Labels: frontend (user)

#1894 トップページをSSRしないようにする
  web/user/src/pages/index.vue
Labels: frontend (user)

#1895 feat(api): 注文履歴関連APIの実装
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/order.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/response/order.go
  api/internal/gateway/user/v1/service/address.go
  api/internal/gateway/user/v1/service/address_test.go
  api/internal/gateway/user/v1/service/order.go
  api/internal/gateway/user/v1/service/order_fulfillment.go
  api/internal/gateway/user/v1/service/order_fulfillment_test.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/gateway/user/v1/service/order_test.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/gateway/user/v1/service/promotion.go
  api/internal/gateway/user/v1/service/promotion_test.go
  api/internal/user/database/mysql/address.go
  docs/swagger/user/components/schemas/entity/order.yaml
  docs/swagger/user/components/schemas/v1/order.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/orders/_orderId/index.yaml
  docs/swagger/user/paths/v1/orders/index.yaml
  web/user/src/types/api/apis/OrderApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/Order.ts
  web/user/src/types/api/models/OrderFulfillment.ts
  web/user/src/types/api/models/OrderPayment.ts
  web/user/src/types/api/models/OrdersResponse.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (user), backend (gateway), frontend (user), backend (api)

#1864 feat(servereless): prd用の環境変数を追加
  infra/serverless/env/prd.yaml
Labels: mergeable

#1899 feat(api): NewRelicにラベル付きメトリクスを送信するように
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (gateway), backend (api)

#1896 トップページをSSRできるように修正
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/pages/index.vue
Labels: mergeable, frontend (user)

#1897 認証されていない状態でマイページアクセスできないようにする
  web/user/src/middleware/auth.ts
  web/user/src/pages/account/index.vue
Labels: mergeable, frontend (user)

#1900 Fix: fixed dayjs
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
Labels: mergeable, frontend (user)

#1902 fix(messenger): メールの動的変数生成ロジックの修正
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/messenger/worker/worker_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_test.go
Labels: test, backend (user), backend (store), backend (messenger), backend (api)

#1901 マイページで注文履歴を見れるようにする
  web/user/src/components/molecules/ThePagination.vue
  web/user/src/pages/account/index.vue
  web/user/src/pages/account/orders/[...id].vue
  web/user/src/pages/items/index.vue
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/order.ts
  web/user/src/types/plugins/index.d.ts
  web/user/src/types/store/order.ts
Labels: frontend (user)

#1904 fix: デフォルトで設定されるサムネイル画像の判定処理を変更
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/pages/products/[id]/index.vue
Labels: mergeable, frontend (admin)

#1905 fix: アーカイブに表示するコンテンツが少ない場合にレイアウトが崩れる問題に対応
  web/user/src/pages/index.vue
Labels: frontend (user)

#1903 feat(user): 退会済み管理者を取得できるように
  api/internal/user/database/database.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/coordinator_test.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/mysql/producer_test.go
  api/internal/user/input.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/mock/user/database/database.go
Labels: test, backend (user), backend (api)

#1906 fix: 購入時に新規アカウント作成をした場合にも購入フローが進むように修正
  web/user/src/pages/signup.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/pages/verify.vue
Labels: mergeable, frontend (user)

#1907 feat:注文履歴、アドレス帳が0件の場合にページネーション部分を非表示にしてメッセージを出すように変更
  web/user/src/pages/account/index.vue
Labels: mergeable, frontend (user)

#1909 fix(api): コーディネータが退会済みの場合の対応
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/order.go
Labels: backend (gateway), backend (api)

#1908 fix(store): 注文時の金額計算ロジックを修正
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/response/order.go
  api/internal/gateway/admin/v1/response/product.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/admin/v1/service/order_refund_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/user_order_test.go
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/gateway/user/v1/response/live.go
  api/internal/gateway/user/v1/response/order.go
  api/internal/gateway/user/v1/response/product.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/gateway/user/v1/service/order_refund_test.go
  api/internal/gateway/user/v1/service/order_test.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/product_revision.go
  api/internal/store/entity/rehearsal.go
  api/internal/store/entity/rehearsal_test.go
  api/internal/store/entity/shipping_revision.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/order_test.go
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/entity/product.yaml
  docs/swagger/admin/components/schemas/entity/shipping.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/admin/components/schemas/v1/product.request.yaml
  docs/swagger/admin/components/schemas/v1/shipping.request.yaml
  docs/swagger/user/components/schemas/entity/order.yaml
  docs/swagger/user/components/schemas/entity/product.yaml
  docs/swagger/user/components/schemas/entity/top.yaml
  docs/swagger/user/components/schemas/v1/cart.response.yaml
  docs/swagger/user/components/schemas/v1/order.response.yaml
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/CalcCartResponse.ts
  web/user/src/types/api/models/OrderItem.ts
  web/user/src/types/api/models/OrderPayment.ts
  web/user/src/types/api/models/Product.ts
Labels: docs, test, backend (gateway), frontend (user), frontend (admin), backend (store), backend (messenger), backend (api)

#1911 コーディネーター詳細周りの整備
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/components/molecules/TheCoordinatorArchiveItem.vue
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/components/molecules/TheProducerList.vue
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/pages/live/[...id].vue
Labels: mergeable, frontend (user)

#1913 Fix default address maessage
  web/user/src/components/organisms/TheNewAddressForm.vue
  web/user/src/pages/account/index.vue
Labels: frontend (user)

#1914 fix: 配送地と配送元の情報を修正
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
Labels: frontend (user)

#1912 feat(serverless): ライブ配信用StepFunctionsのprd対応
  infra/serverless/env/prd.yaml
  infra/serverless/env/stg.yaml
  infra/serverless/serverless.yml
Labels: mergeable

#1915 ライブ表示の修正
  web/user/src/components/molecules/TheCoordinatorLiveItem.vue
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/components/molecules/TheLiveItem.vue
  web/user/src/components/molecules/TheProducerList.vue
  web/user/src/pages/index.vue
  web/user/src/store/home.ts
Labels: mergeable, frontend (user)

#1932 fix(admin): 顧客詳細ページの表示内容修正
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/response/user.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_order.go
  api/internal/gateway/admin/v1/service/user_order_test.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/service/order_test.go
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/admin/components/schemas/v1/user.response.yaml
  web/admin/src/components/templates/CustomerList.vue
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/pages/customers/[id]/index.vue
  web/admin/src/store/customer.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#1933 fix(api): 並列実行時のwait処理を追加
  api/internal/gateway/user/v1/handler/order.go
Labels: backend (gateway), backend (api)

#1934 注文履歴詳細画面の実装
  web/user/src/lib/order.ts
  web/user/src/pages/account/index.vue
  web/user/src/pages/account/orders/[...id].vue
  web/user/src/store/order.ts
  web/user/src/store/shopping.ts
  web/user/src/types/store/order.ts
Labels: mergeable, frontend (user)

#1938 settings: Google Search Consoleの設定を追加
  web/user/nuxt.config.ts
  web/user/src/app.vue
  web/user/src/components/atoms/icons/TheIconWrapper.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/contact.vue
  web/user/src/pages/legal-notice.vue
  web/user/src/pages/privacy.vue
  web/user/src/pages/register.vue
  web/user/src/pages/signin.vue
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/pages/v1/purchase/index.vue
Labels: frontend (user)

#1939 fix: リフレッシュトークンが期限切れの場合に500エラーになる問題への対応
  web/user/src/middleware/auth.global.ts
  web/user/src/store/auth.ts
Labels: frontend (user)

#1936 fix(messenger): 生産者と仮登録ユーザーにメール送信されないように
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/mailer.go
  api/internal/messenger/worker/mailer_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/user.go
  api/internal/user/input.go
  api/internal/user/service/user.go
  api/internal/user/service/user_test.go
Labels: mergeable, test, backend (user), backend (messenger), backend (api)

#1937 fix(store): ライブスケジュールのソート順序を修正
  api/internal/store/database/mysql/live.go
Labels: mergeable, backend (store), backend (api)

#1940 fix(store): 3Dセキュアの必須指定を削除
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
Labels: test, backend (store), backend (api)

#1941 fix(store): クレジットカード決済のKOMOJU連携値を変更
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
Labels: test, backend (store), backend (api)

#1942 fix(store): クレジットカード決済のKOMOJU連携値を変更
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/store/input.go
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/v1/checkout.request.yaml
  web/user/src/types/api/models/CheckoutCreditCard.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (api)

#1943 fix: クレジットカードのフォームの改善とカード名義の変更
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

#1944 fix(store): クレジットカードの処理を修正
  api/internal/store/entity/credit_card.go
  api/internal/store/entity/credit_card_test.go
  api/internal/store/service/checkout.go
Labels: test, backend (store), backend (api)

#1946 fix(store): 3Dセキュア認証結果のパース処理を修正
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/session/session_test.go
Labels: test, backend (store), backend (api)

#1945 fix: new relic
  web/user/src/app.vue
Labels: mergeable, frontend (user)

#1947 feat: 決済完了画面でのエラーハンドリングを追加
  web/user/src/pages/v1/purchase/complete.vue
Labels: mergeable, frontend (user)

#1948 fix(user): ユーザー一覧取得クエリの修正
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/user.go
  api/internal/user/input.go
  api/internal/user/service/user.go
Labels: backend (user), backend (gateway), backend (api)

#1950 fix(users): クエリのテーブル指定の誤りを修正
  api/internal/user/database/mysql/user.go
Labels: backend (user), backend (api)

#1949 feat(store): ライブ配信関連のバリデーションを修正
  api/internal/store/input.go
Labels: backend (store), backend (api)

#1951 Add: added x icon
  web/user/src/components/atoms/icons/TheFacebookIcon.vue
  web/user/src/components/atoms/icons/TheXIcon.vue
  web/user/src/components/organisms/TheAppFooter.vue
Labels: frontend (user)

#1968 fix: icon設定されていない場合に表示が整うように変更
  web/user/src/components/molecules/TheProducerList.vue
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/public/img/furuneko.png
Labels: frontend (user)

#1969 feat(media): アップロード用の署名付きURL取得機能を実装
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/mock/media/service.go
  api/mock/pkg/storage/client.go
  api/pkg/storage/client.go
  docs/swagger/admin/paths/v1/upload/coordinators/thumbnail.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (media), backend (api)

#1970 fix(media): コーディネータのサムネイル画像アップロード方法の改修
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/request/uploader.go
  api/internal/gateway/admin/v1/response/uploader.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/input.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  docs/swagger/admin/components/schemas/v1/upload.request.yaml
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/coordinators/thumbnail.yaml
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/store/coordinator.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (media), backend (api)

#1972 Add: added ogp
  web/user/nuxt.config.ts
  web/user/src/public/ogp/ogp.jpg
Labels: mergeable, frontend (user)

#1971 feat(media): ファイルバリデーション用のワーカー実装
  api/internal/media/cmd/cmd.go
  api/internal/media/cmd/uploader/registry.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/generate.go
  api/internal/media/uploader/uploader.go
  api/mock/pkg/storage/client.go
  api/pkg/storage/client.go
Labels: test, backend (media), backend (api)

#1974 Fix: fixed price validate
  web/admin/src/types/validations/shipping.ts
Labels: mergeable, frontend (admin)

#1975 Fix: fiexed ogp url
  web/user/nuxt.config.ts
Labels: frontend (user)

#1976 Add: added new banner
  web/user/src/public/img/banner2.jpg
Labels: frontend (user)

#1978 feat(media): ファイルアップロードイベントの実装
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/upload_status.go
  api/internal/media/entity/upload_status_test.go
  api/internal/media/service.go
  api/internal/media/service/generate.go
  api/internal/media/service/generate_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/internal/media/uploader/uploader.go
  api/mock/media/service.go
Labels: test, backend (gateway), backend (media), backend (api)

#1979 feat(media): ファイルアップロード状態が取得できるように
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/response/uploader.go
  api/internal/gateway/admin/v1/service/upload_status.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/mock/media/service.go
  docs/swagger/admin/components/schemas/codes/upload.yaml
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/state.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (media), backend (api)

#1980 feat(store): プロモーション利用回数の集計機能を実装
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/notification_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/mock/store/database/database.go
  api/mock/store/service.go
  docs/swagger/admin/components/schemas/entity/promotion.yaml
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#1981 feat(media): アーカイブ映像の編集フラグを追加
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/entity/broadcast.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  infra/mysql/schema/2024012901-media-add-columns.sql
Labels: test, infra (database), backend (media), backend (api)

#1983 feat(media): ライブ配信の視聴ログ取得機能を実装
  api/internal/gateway/user/v1/handler/address.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/api_test.go
  api/internal/gateway/user/v1/handler/auth.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/order.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_viewer_log.go
  api/internal/media/database/mysql/broadcast_viewer_log_test.go
  api/internal/media/database/mysql/mysql_test.go
  api/internal/media/entity/broadcast_viewer_log.go
  api/internal/media/entity/broadcast_viewer_log_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_viewer_log.go
  api/internal/media/service/broadcast_viewer_log_test.go
  api/internal/media/service/service_test.go
  api/mock/media/database/database.go
  api/mock/media/service.go
  infra/mysql/schema/2024012902-media-create-broadcast-viewer-logs.sql
Labels: test, infra (database), backend (gateway), backend (media), backend (api)

#1977 スマートフォンのライブ画面で動画部分固定にして商品部分をスクロールできるようにする
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
  web/user/src/lib/dayjs.ts
  web/user/src/pages/live/[...id].vue
Labels: mergeable, frontend (user)

#1985 feat(messenger): 支払い完了時にLINE通知が来るように
  api/internal/messenger/entity/report_config.go
  api/internal/messenger/entity/url.go
  api/internal/messenger/entity/url_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
Labels: test, backend (messenger), backend (api)

#1982 Add: added new banner
  web/user/src/pages/index.vue
  web/user/src/public/img/banner3.png
Labels: mergeable, frontend (user)

#1984 refactor(api): テスト用のモックファイルをGit管理対象外にする
  .github/workflows/ci-backend.yaml
  api/.gitignore
  api/mock/media/database/database.go
  api/mock/media/service.go
  api/mock/messenger/database/database.go
  api/mock/messenger/service.go
  api/mock/pkg/cognito/client.go
  api/mock/pkg/dynamodb/client.go
  api/mock/pkg/firebase/messaging/client.go
  api/mock/pkg/ivs/client.go
  api/mock/pkg/line/client.go
  api/mock/pkg/mailer/client.go
  api/mock/pkg/mediaconvert/client.go
  api/mock/pkg/medialive/client.go
  api/mock/pkg/postalcode/client.go
  api/mock/pkg/rbac/enforcer.go
  api/mock/pkg/secret/client.go
  api/mock/pkg/sentry/client.go
  api/mock/pkg/sfn/client.go
  api/mock/pkg/slack/client.go
  api/mock/pkg/sqs/client.go
  api/mock/pkg/storage/client.go
  api/mock/pkg/stripe/client.go
  api/mock/pkg/validator/validator.go
  api/mock/store/database/database.go
  api/mock/store/komoju/komoju.go
  api/mock/store/service.go
  api/mock/user/database/database.go
  api/mock/user/service.go
Labels: workflow, backend (api)

#1986 feat(media): アーカイブ映像の制約を調整
  api/internal/media/entity/regulation.go
Labels: backend (media), backend (api)

#2003 meta pixel codeを仕込む
  web/user/nuxt.config.ts
  web/user/src/app.vue
  web/user/src/pages/v1/purchase/complete.vue
  web/user/src/public/meta/pixel-code-purchase.js
  web/user/src/public/meta/pixel-code.js
Labels: mergeable, frontend (user)

#2004 feat(media): ライブ配信コメント関連機能の実装
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/message.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_tag.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/user.go
  api/internal/gateway/user/v1/request/live_comment.go
  api/internal/gateway/user/v1/response/live_comment.go
  api/internal/gateway/user/v1/service/live_comment.go
  api/internal/gateway/user/v1/service/live_comment_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_comment.go
  api/internal/media/database/mysql/broadcast_comment_test.go
  api/internal/media/database/mysql/mysql.go
  api/internal/media/database/mysql/mysql_test.go
  api/internal/media/entity/broadcast_comment.go
  api/internal/media/entity/broadcast_comment_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment.go
  api/internal/media/service/broadcast_comment_test.go
  api/internal/media/service/service_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  docs/swagger/user/components/schemas/entity/live-comment.yaml
  docs/swagger/user/components/schemas/v1/live-comment.request.yaml
  docs/swagger/user/components/schemas/v1/live-comment.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  infra/mysql/schema/2024013101-media-create-broadcast-comments.sql
  web/user/src/types/api/apis/ScheduleApi.ts
  web/user/src/types/api/models/CreateLiveCommentRequest.ts
  web/user/src/types/api/models/LiveComment.ts
  web/user/src/types/api/models/LiveCommentsResponse.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (user), backend (media), backend (api)

#2005 fix(api): 認証なしでもライブ配信コメントが取得できるように
  api/internal/gateway/user/v1/handler/live_comment.go
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  web/user/src/types/api/apis/ScheduleApi.ts
Labels: docs, backend (gateway), frontend (user), backend (api)
