Repository and-period/furumaru, pull requests merged in 2024-10, with the labels that each got.

#2426 大嶋さんからの指摘を修正
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/purchase/index.vue
Labels: mergeable, frontend (user)

#2422 Release for v1.11.45
  CHANGELOG.md
  api/output_20240924223532.txt
Labels: backend (api), tagpr

#2427 feat(store): 0円決済の対応
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
Labels: test, backend (store), backend (api)

#2429 fix(store): 0円決済時のステータスを修正
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/service/checkout.go
Labels: test, backend (store), backend (api)

#2430 未ログイン時の購入フローでログインを挟まずにゲスト購入に流れるように変更
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/purchase/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: mergeable, frontend (user)

#2419 住所入力フォームの郵便番号のエラーハンドリングを追加
  web/user/src/components/organisms/TheNewAddressForm.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/store/address.ts
Labels: mergeable, frontend (user)

#2428 Release for v1.11.46
  CHANGELOG.md
Labels: tagpr

#2431 refactor(store): 決済周りのロジックを整理
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  docs/swagger/admin/components/schemas/codes/order-payment.yaml
  docs/swagger/user/components/schemas/codes/order-payment.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/PaymentMethodType.ts
Labels: docs, test, backend (gateway), frontend (user), frontend (admin), backend (store), backend (api)

#2436 feat(store): 即時決済機能を有効に
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/store/komoju/code.go
  api/internal/store/komoju/session/session.go
  api/internal/store/komoju/session/session_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/service.go
Labels: test, backend (gateway), backend (store), backend (api)

#2435 fix: ゲストの購入手続き時に住所情報がリロードしても欠落しないように修正
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/store/address.ts
Labels: mergeable, frontend (user)

#2437 fix(store): 即時決済対応周りの処理を修正
  api/internal/store/entity/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
Labels: test, backend (store), backend (api)

#2438 fix(func): 移行前のユーザーがパスワードリセットした際の処理を修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

#2443 fix(func): Cognitoのマイグレーション時に詰めるステータスを修正
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

#2445 fix(func): forceAliasCreationをtrueにしてみる
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

#2446 Fix: fixed ui
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
Labels: frontend (user)

#2447 fix(func): desiredDeliveryMediumsの設定
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

#2451 fix(func): subを追加
  func/cognito-migrate-user-pool/src/app.ts
Labels: backend (function)

#2432 Release for v2.0.0
  CHANGELOG.md
Labels: tagpr, tagpr:major

#2455 setup: clarityのJSコードを追加
  web/user/src/app.vue
  web/user/src/public/clarity/prd.js
  web/user/src/public/clarity/stg.js
Labels: mergeable, frontend (user)

#2456 Release for v2.0.1
  CHANGELOG.md
Labels: tagpr

#2457 feat(user): DBクライアントの詰め替え
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/pkg/mysql/client_tidb.go
  api/pkg/mysql/client_tidb_test.go
Labels: test, backend (gateway), backend (api)

#2459 fix(user): cognito idの管理方法を修正
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/user.go
Labels: backend (user), backend (gateway), backend (api)

#2463 fix(user): TiDB用のDBクライアントを作成
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/tidb/admin.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/producer.go
  api/internal/user/database/tidb/tidb.go
  api/internal/user/database/tidb/tidb_test.go
Labels: test, backend (user), backend (gateway), backend (api)

#2465 feat(media): DBクライアントの置き換え
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/scheduler/scheduler.go
  api/internal/media/cmd/updater/registry.go
  api/internal/media/cmd/updater/updater.go
  api/internal/media/database/tidb/tidb.go
  api/internal/media/database/tidb/tidb_test.go
  api/internal/media/database/tidb/video.go
Labels: test, backend (gateway), backend (media), backend (api)

#2466 feat(store): DBクライアントの置き換え
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/scheduler/scheduler.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/scheduler/scheduler.go
  api/internal/store/database/tidb/category.go
  api/internal/store/database/tidb/experience.go
  api/internal/store/database/tidb/experience_type.go
  api/internal/store/database/tidb/product.go
  api/internal/store/database/tidb/product_tag.go
  api/internal/store/database/tidb/product_type.go
  api/internal/store/database/tidb/promotion.go
  api/internal/store/database/tidb/tidb.go
  api/internal/store/database/tidb/tidb_test.go
Labels: test, backend (gateway), backend (store), backend (media), backend (messenger), backend (api)

#2467 feat(messenger): DBクライアントの置き換え
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/scheduler/scheduler.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/cmd/worker/worker.go
  api/internal/messenger/database/tidb/tidb.go
Labels: backend (gateway), backend (messenger), backend (api)

#2468 feat(infra): TiDBのマイグレーション用DDLを作成
  Makefile
  api/hack/database-migrate-mysql/main.go
  api/hack/database-migrate-tidb/main.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  api/internal/store/entity/order_experience_test.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/entity/order_payment_test.go
  infra/tidb/schema/media/2024102701-initialize.sql
  infra/tidb/schema/messengers/2024102701-initialize.sql
  infra/tidb/schema/stores/2024102701-initialize.sql
  infra/tidb/schema/users/2024102701-initialize.sql
Labels: test, backend (store), backend (api)

#2469 fix(store): experienceのDB操作を修正
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/database/tidb/experience.go
  api/internal/store/database/tidb/tidb.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
Labels: mergeable, test, backend (store), backend (api)

#2458 Release for v3.0.0
  CHANGELOG.md
Labels: mergeable, tagpr, tagpr:major
