Repository and-period/furumaru, pull requests merged in 2024-03, with the labels that each got.

#2078 feat(admin) 商品ページのエラーハンドリングを追加
  web/admin/src/store/product.ts
Labels: frontend (admin)

#2079 fix(admin): 配信スケジュールが更新できない場合のバリデーション追加
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/pages/schedules/[id]/index.vue
Labels: frontend (admin)

#2081 fix(messenger): ライブ配信開始通知の時間調整
  api/internal/messenger/service/reserve.go
  api/internal/messenger/service/reserve_test.go
Labels: test, backend (messenger), backend (api)

#2083 fix(store): ライブ商品の並び順を修正
  api/internal/store/entity/live.go
  api/internal/store/entity/live_product.go
  api/internal/store/entity/live_product_test.go
Labels: test, backend (store), backend (api)

#2085 コメント機能の実装
  web/user/nuxt.config.ts
  web/user/src/components/atoms/live/TheLiveCommentInputForm.vue
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/pages/live/[...id].vue
  web/user/src/store/schedule.ts
Labels: frontend (user)

#2087 fix(docs): ゲスト購入APIのリクエスト値を修正
  docs/swagger/user/paths/v1/guests/checkouts/index.yaml
  web/admin/src/store/live.ts
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/apis/GuestApi.ts
Labels: docs, frontend (user), frontend (admin)

#2088 ゲストの購入導線を実装
  web/user/src/components/molecules/ThePhoneNumberInput.vue
  web/user/src/components/molecules/TheSubmitWithoutLoginButton.vue
  web/user/src/components/organisms/TheGuestAddressForm.vue
  web/user/src/components/organisms/TheGuestAddressInfo.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/complete.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
  web/user/src/store/address.ts
  web/user/src/store/checkout.ts
  web/user/src/store/shopping.ts
Labels: mergeable, frontend (user)

#2089 feat(gateway): マルシェ一覧取得APIの実装
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/handler/top.go
  api/internal/gateway/user/v1/response/schedule.go
  docs/swagger/user/components/schemas/v1/schedule.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/guests/schedules/_scheduleId/comments/index.yaml
  docs/swagger/user/paths/v1/postal-codes/_postalCode.yaml
  docs/swagger/user/paths/v1/schedules/archives.yaml
  docs/swagger/user/paths/v1/schedules/lives.yaml
  web/user/src/types/api/apis/AddressApi.ts
  web/user/src/types/api/apis/OtherApi.ts
  web/user/src/types/api/apis/ScheduleApi.ts
  web/user/src/types/api/models/ArchiveSchedulesResponse.ts
  web/user/src/types/api/models/LiveSchedulesResponse.ts
  web/user/src/types/api/models/index.ts
Labels: docs, backend (gateway), frontend (user), backend (api)

#2094 chore(*): Node.js v20.11.1
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
  docs/swagger/.tool-versions
  docs/swagger/Makefile
  infra/docker/docs/amplify/Dockerfile
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
  infra/docker/infra/mysql/Dockerfile
  infra/docker/web/admin/Dockerfile.development
  web/admin/.tool-versions
  web/user/.tool-versions
  web/user/src/types/api/models/CreateAuthRequest.ts
  web/user/src/types/api/models/CreateAuthResponse.ts
  web/user/src/types/api/models/CreateAuthWithOAuthRequest.ts
  web/user/src/types/api/models/UpdateAuthEmailRequest.ts
  web/user/src/types/api/models/VerifyAuthEmailRequest.ts
  web/user/src/types/api/models/VerifyAuthRequest.ts
Labels: docs, infra (container), workflow, frontend (user), frontend (admin)

#2096 chore(api): update dependencies
  api/.golangci.yaml
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/media/cmd/resizer/resizer.go
  api/internal/media/cmd/scheduler/scheduler.go
  api/internal/media/cmd/updater/updater.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/media/database/database.go
  api/internal/messenger/cmd/scheduler/scheduler.go
  api/internal/messenger/cmd/worker/worker.go
  api/internal/messenger/database/database.go
  api/internal/messenger/service.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/live.go
  api/internal/store/database/mysql/shipping_test.go
  api/internal/store/komoju/komoju.go
  api/internal/user/database/database.go
  api/internal/user/service.go
  api/pkg/grpc/options.go
  api/pkg/http/http.go
  api/pkg/http/metrics.go
  api/pkg/random/string.go
  api/pkg/rbac/enforcer.go
  api/pkg/rbac/enforcer_test.go
  api/pkg/validator/validator.go
Labels: test, backend (user), backend (gateway), backend (store), backend (media), backend (messenger), backend (api)

#2095 chore(admin): update dependencies
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/pages/livestreaming/index.vue
  web/admin/src/pages/livestreaming/new.vue
  web/admin/src/pages/livestreaming/tests.vue
  web/admin/src/pages/livestreaming/view.vue
  web/admin/stylelint.config.js
  web/admin/yarn.lock
Labels: frontend (admin)

#2097 feat(user): 購入者情報更新APIの実装
  .github/workflows/ci-web-user.yaml
  api/.golangci.yaml
  api/internal/gateway/user/v1/handler/auth_user.go
  api/internal/gateway/user/v1/request/auth_user.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/member.go
  api/internal/user/database/mysql/member_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/member.go
  api/internal/user/service/member_test.go
  docs/swagger/user/components/schemas/v1/auth-user.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/users/me/account-id.yaml
  docs/swagger/user/paths/v1/users/me/username.yaml
  web/user/.tool-versions
  web/user/src/types/api/apis/AuthUserApi.ts
  web/user/src/types/api/models/UpdateAuthUserAccountIdRequest.ts
  web/user/src/types/api/models/UpdateAuthUserUsernameRequest.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, workflow, backend (user), backend (gateway), frontend (user), backend (api)

#2098 feat(user): 通知設定関連APIの追加
  api/hack/database-migrate/main.go
  api/internal/gateway/user/v1/handler/auth_user.go
  api/internal/gateway/user/v1/request/auth_user.go
  api/internal/gateway/user/v1/response/auth_user.go
  api/internal/gateway/user/v1/service/auth_user.go
  api/internal/gateway/user/v1/service/auth_user_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/mysql.go
  api/internal/user/database/mysql/mysql_test.go
  api/internal/user/database/mysql/user_notification.go
  api/internal/user/database/mysql/user_notification_test.go
  api/internal/user/entity/user_notification.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/service_test.go
  api/internal/user/service/user_notification.go
  api/internal/user/service/user_notification_test.go
  docs/swagger/user/components/schemas/v1/auth-user.request.yaml
  docs/swagger/user/components/schemas/v1/auth-user.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/users/me/notification.yaml
  infra/mysql/schema/2024032101-users-create-user-notifications.sql
  web/user/src/types/api/apis/AuthUserApi.ts
  web/user/src/types/api/models/AuthUserResponse.ts
  web/user/src/types/api/models/UpdateAuthUserNotificationRequest.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (user), infra (database), backend (gateway), frontend (user), backend (api)

#2099 feat(user): 通知設定一覧取得処理の実装
  api/internal/gateway/user/v1/service/auth_user.go
  api/internal/gateway/user/v1/service/auth_user_test.go
  api/internal/user/database/database.go
  api/internal/user/database/mysql/user_notification.go
  api/internal/user/database/mysql/user_notification_test.go
  api/internal/user/entity/user_notification.go
  api/internal/user/entity/user_notification_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/user_notification.go
  api/internal/user/service/user_notification_test.go
  infra/mysql/schema/2024032201-users-change-culumn-user-notifications.sql
Labels: test, backend (user), infra (database), backend (gateway), backend (api)

#2100 feat(messenger): お知らせ無効化対応
  api/.golangci.yaml
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
Labels: test, backend (messenger), backend (api)

#2102 feat(media): Cache-Contrlを設定するように
  api/internal/media/cmd/uploader/registry.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/media/uploader/uploader.go
  api/pkg/storage/client.go
Labels: backend (media), backend (api)

#2106 商品一覧ページのページネーションが機能しないバグの修正
  web/user/src/pages/items/index.vue
  web/user/src/store/product.ts
Labels: mergeable, frontend (user)

#2107 コメントのポーリング処理の変更
  web/user/src/pages/live/[...id].vue
Labels: mergeable, frontend (user)

#2108 Add: added product delete
  web/admin/src/components/templates/ProductList.vue
Labels: mergeable, frontend (admin)

#2109 feat(gateway): 商品一覧ロジックの修正
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product.go
  api/internal/store/entity/product.go
  api/internal/store/input.go
  api/internal/store/service/product.go
Labels: backend (gateway), backend (store), backend (api)

#2113 feat(admin): Sentryの導入
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/sentry.client.ts
  web/admin/yarn.lock
Labels: frontend (admin)

#2112 feat(gateway): コメント更新APIの実装
  api/internal/gateway/admin/v1/handler/live_comment.go
  api/internal/gateway/admin/v1/request/live_comment.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_comment.go
  api/internal/media/database/mysql/broadcast_comment_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment.go
  api/internal/media/service/broadcast_comment_test.go
  docs/swagger/admin/components/schemas/v1/live-comment.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/schedules/_scheduleId/comments/_commentId/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (media), backend (api)

#2114 fix(admin): Vuetifyのimport pathを修正
  web/admin/src/plugins/vuetify.ts
Labels: frontend (admin)

#2115 feat(admin): Sentryの設定を環境変数経由で渡せるように
  web/admin/nuxt.config.ts
  web/admin/package.json
  web/admin/src/plugins/sentry.client.ts
  web/admin/yarn.lock
Labels: frontend (admin)

#2116 feat(workflow): GitHub Actionsの一部共通化
  .github/actions/setup-aws/action.yaml
  .github/actions/setup-go/action.yaml
  .github/actions/setup-node/action.yaml
  .github/workflows/_backend_build_and_push.yaml
  .github/workflows/_backend_deploy_ecr.yaml
  .github/workflows/_tag_version.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
  .github/workflows/ci-backend.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
  .github/workflows/pr-auto-approve-for-dependabot.yaml
Labels: workflow

#2117 fix(workflow): GitHub Actionsの一部共通化をした箇所の修正
  .github/workflows/_backend_build_and_push.yaml
  .github/workflows/_backend_deploy_ecr.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
Labels: workflow

#2118 fix: 共通化したjobへの変数の渡し方を修正
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

#2119 fix: 共通化したjobへの変数の渡し方を修正
  .github/workflows/_backend_build_and_push.yaml
  .github/workflows/_backend_deploy_ecr.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

#2122 feat(workflow): シークレットの一部を変数定義へ以降
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
Labels: workflow

#2123 Fix/workflow/gateway jobs
  .github/workflows/_build_and_push.yaml
  .github/workflows/_deploy_amplify.yaml
  .github/workflows/_deploy_ecs.yaml
  .github/workflows/_deploy_lambda.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/cd-web-admin-for-prd.yaml
  .github/workflows/cd-web-user-for-prd.yaml
Labels: workflow

#2121 fix(gateway): ヘルスチェックエンドポイントの追加
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (gateway), backend (api)

#2124 fix(workflow): リリースタグバージョンの取得周りを修正
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  .github/workflows/cd-media-for-prd.yaml
  .github/workflows/cd-media-for-stg.yaml
  .github/workflows/cd-messenger-for-prd.yaml
  .github/workflows/cd-messenger-for-stg.yaml
  .github/workflows/cd-serverless-for-main.yaml
Labels: workflow

#2126 fix(store): ライブ配信への商品紐づけ数制限を削除
  api/internal/store/input.go
Labels: backend (store), backend (api)

#2125 ライブ詳細Cannot read properties of undefinedになるバグを修正
  web/user/src/components/molecules/TheLiveTimelineItem.vue
  web/user/src/pages/live/[...id].vue
Labels: mergeable, frontend (user)

#2127 feat(user): Sentryの導入
  web/admin/.node-version
  web/admin/nuxt.config.ts
  web/user/.node-version
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/molecules/TheCoordinatorProductList.vue
  web/user/src/pages/v1/purchase/auth.vue
  web/user/src/plugins/sentry.client.ts
  web/user/src/types/api/index.ts
  web/user/src/types/api/models/DeliveryType.ts
  web/user/src/types/api/models/DiscountType.ts
  web/user/src/types/api/models/FulfillmentStatus.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/OrderRefundType.ts
  web/user/src/types/api/models/OrderStatus.ts
  web/user/src/types/api/models/PaymentMethodType.ts
  web/user/src/types/api/models/PaymentStatus.ts
  web/user/src/types/api/models/PaymentSystemStatus.ts
  web/user/src/types/api/models/Prefecture.ts
  web/user/src/types/api/models/ProductStatus.ts
  web/user/src/types/api/models/PromotionStatus.ts
  web/user/src/types/api/models/ScheduleStatus.ts
  web/user/src/types/api/models/ShippingCarrier.ts
  web/user/src/types/api/models/ShippingSize.ts
  web/user/src/types/api/models/ShippingType.ts
  web/user/src/types/api/models/StorageMethodType.ts
  web/user/src/types/api/models/UploadStatus.ts
  web/user/src/types/api/models/Weekday.ts
  web/user/src/types/api/models/index.ts
  web/user/yarn.lock
Labels: frontend (user), frontend (admin)

#2129 feat(store): ライブ配信をデフォルト公開状態に
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/service/schedule_test.go
Labels: test, backend (store), backend (api)

#2130 feat(admin): ライブ配信公開/非公開ボタンの追加
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/pages/schedules/index.vue
  web/admin/src/store/schedule.ts
Labels: frontend (admin)
