Repository and-period/furumaru, pull requests merged in 2024-11, with the labels that each got.

#2474 refactor(api): 検証用にいれていたloggerの削除
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/registry.go
Labels: mergeable, backend (gateway), backend (messenger), backend (api)

#2475 fix(api): DBのorderロジックを修正
  api/internal/gateway/admin/v1/handler/category.go
  api/internal/gateway/admin/v1/handler/notification.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/product_tag.go
  api/internal/gateway/admin/v1/handler/product_type.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/input.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/messenger/database/database.go
  api/internal/messenger/database/mysql/notification_test.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/input.go
  api/internal/messenger/service/notification.go
  api/internal/messenger/service/notification_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/category_test.go
  api/internal/store/database/mysql/product_tag_test.go
  api/internal/store/database/mysql/product_test.go
  api/internal/store/database/mysql/product_type_test.go
  api/internal/store/database/mysql/promotion_test.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/tidb.go
  api/internal/store/entity/category.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_tag.go
  api/internal/store/entity/product_type.go
  api/internal/store/entity/promotion.go
  api/internal/store/input.go
  api/internal/store/service/category.go
  api/internal/store/service/category_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_tag.go
  api/internal/store/service/product_tag_test.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: test, backend (gateway), backend (store), backend (media), backend (messenger), backend (api)

#2473 Release for v3.0.1
  CHANGELOG.md
Labels: tagpr

#2423 Feat/experience
  web/admin/nuxt.config.ts
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/ExperienceNew.vue
  web/admin/src/layouts/default.vue
  web/admin/src/pages/experiences/[id]/index.vue
  web/admin/src/pages/experiences/index.vue
  web/admin/src/pages/experiences/new.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/experience-type.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/index.ts
  web/admin/src/types/validations/experience.ts
  web/admin/src/types/validations/index.ts
Labels: WIP, mergeable, frontend (admin)

#2477 feat(web): ヘルスチェック用のページを作成
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/health.vue
  web/user/src/middleware/.keep
  web/user/src/pages/health.vue
Labels: mergeable, frontend (user), frontend (admin)

#2478 fix(media): メディア配信周りの改善
  api/internal/media/broadcast/scheduler/closer.go
  api/internal/media/broadcast/scheduler/scheduler.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/scheduler/scheduler.go
  api/internal/media/cmd/uploader/registry.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/media/entity/regulation.go
  api/internal/media/uploader/convert.go
  api/internal/media/uploader/uploader.go
Labels: backend (media), backend (api)

#2476 Release for v3.0.2
  CHANGELOG.md
Labels: tagpr

#2482 fix(user): 外形監視用のページではcart情報を取らない
  web/user/src/layouts/health.vue
  web/user/src/pages/health.vue
Labels: frontend (user)

#2479 fix(api): オンデマンド配信に紐づいている商品・体験が削除できないように
  api/internal/media/database/database.go
  api/internal/media/database/mysql/video.go
  api/internal/media/database/mysql/video_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  docs/swagger/admin/paths/v1/experiences/_experienceId/index.yaml
  docs/swagger/admin/paths/v1/products/_productId/index.yaml
Labels: docs, test, backend (store), backend (media), backend (api)

#2483 Release for v3.0.3
  CHANGELOG.md
Labels: tagpr

#2486 Release for v3.0.4
  CHANGELOG.md
Labels: tagpr

#2488 feat(api): アクセスログにrefererを含める
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (gateway), backend (api)

#2487 Release for v3.0.5
  CHANGELOG.md
Labels: tagpr

#2489 feat(api): UserAgentがnodeの場合はいくつか処理をスキップするように
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/cart.go
Labels: backend (gateway), backend (api)

#2490 Release for v3.0.6
  CHANGELOG.md
Labels: tagpr

#2385 動画管理画面の実装
  web/admin/src/components/molecules/IconSelectForm.vue
  web/admin/src/components/molecules/ImageSelectForm.vue
  web/admin/src/components/molecules/VideoLinkedExperienceItem.vue
  web/admin/src/components/molecules/VideoLinkedProductItem.vue
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/organisms/VideoForm.vue
  web/admin/src/layouts/default.vue
  web/admin/src/lib/formatter/index.ts
  web/admin/src/lib/formatter/product.ts
  web/admin/src/lib/formatter/video.ts
  web/admin/src/pages/videos/[id]/index.vue
  web/admin/src/pages/videos/index.vue
  web/admin/src/pages/videos/new.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/index.ts
  web/admin/src/store/product.ts
  web/admin/src/store/video.ts
Labels: mergeable, frontend (admin)

#2492 fix(api): Sentryのトレーシング機能を無効に
  api/.tool-versions
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
Labels: infra (container), mergeable, backend (gateway), backend (api)

#2491 Release for v3.0.7
  CHANGELOG.md
Labels: tagpr

#2497 setup: 本番環境向けのGoogle Tag Managerを仕込む
  web/user/src/app.vue
  web/user/src/public/gtm/index.js
Labels: mergeable, frontend (user)

#2498 Release for v3.0.8
  CHANGELOG.md
Labels: tagpr

#2499 feat(api): スポット関連APIの定義
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/request/spot.go
  api/internal/gateway/admin/v1/response/spot.go
  api/internal/gateway/admin/v1/service/spot.go
  api/internal/gateway/user/v1/handler/spot.go
  api/internal/gateway/user/v1/handler/uploader.go
  api/internal/gateway/user/v1/request/spot.go
  api/internal/gateway/user/v1/response/spot.go
  api/internal/gateway/user/v1/service/spot.go
  api/internal/media/entity/regulation.go
  api/internal/media/service.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/spot.go
  api/internal/store/database/tidb/spot.go
  api/internal/store/database/tidb/tidb.go
  api/internal/store/entity/spot.go
  api/internal/store/entity/spot_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/service_test.go
  api/internal/store/service/spot.go
  docs/swagger/admin/components/schemas/codes/spot.yaml
  docs/swagger/admin/components/schemas/entity/spot.yaml
  docs/swagger/admin/components/schemas/v1/spot.request.yaml
  docs/swagger/admin/components/schemas/v1/spot.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/spots/_spotId/approval.yaml
  docs/swagger/admin/paths/v1/spots/_spotId/index.yaml
  docs/swagger/admin/paths/v1/spots/index.yaml
  docs/swagger/admin/paths/v1/upload/spots/thumbnail.yaml
  docs/swagger/user/components/schemas/codes/spot.yaml
  docs/swagger/user/components/schemas/entity/spot.yaml
  docs/swagger/user/components/schemas/v1/spot.request.yaml
  docs/swagger/user/components/schemas/v1/spot.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/spots/_spotId/index.yaml
  docs/swagger/user/paths/v1/spots/index.yaml
  docs/swagger/user/paths/v1/upload/spots/thumbnail.yaml
  infra/mysql/schema/2024111401-stores-create-comments.sql
  infra/tidb/schema/stores/2024111401-create-comments.sql
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/SpotApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/CreateSpotRequest.ts
  web/user/src/types/api/models/Spot.ts
  web/user/src/types/api/models/SpotResponse.ts
  web/user/src/types/api/models/SpotUserType.ts
  web/user/src/types/api/models/SpotsResponse.ts
  web/user/src/types/api/models/V1SpotsResponse.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, infra (database), backend (gateway), frontend (user), frontend (admin), backend (store), backend (media), backend (api)

#2501 feat(store): スポット関連のビジネスロジック実装
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/spot.go
  api/internal/store/database/mysql/spot_test.go
  api/internal/store/database/tidb/spot.go
  api/internal/store/entity/spot.go
  api/internal/store/entity/spot_test.go
  infra/mysql/schema/2024111601-stores-add-column-spots.sql
  infra/tidb/schema/stores/2024111601-stores-add-column-spots.sql
Labels: test, infra (database), backend (store), backend (api)

#2502 fix(media): MediaStore廃止にあたってライブ配信用のURLを変更
  api/internal/media/broadcast/updater/starter.go
  api/internal/media/broadcast/updater/updater.go
  api/internal/media/cmd/updater/registry.go
  api/internal/media/cmd/updater/updater.go
Labels: backend (media), backend (api)

#2503 feat(store): スポット操作の実装
  api/internal/store/database/database.go
  api/internal/store/input.go
  api/internal/store/service/spot.go
  api/internal/store/service/spot_test.go
Labels: test, backend (store), backend (api)

#2504 feat(admin): 管理者側のスポットAPIの実装
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/admin/v1/response/spot.go
  api/internal/gateway/admin/v1/service/spot.go
  api/internal/gateway/admin/v1/service/spot_test.go
  docs/swagger/admin/components/schemas/v1/spot.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (api)

#2505 feat(user): ユーザー側のスポットAPI実装
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/admin/v1/response/spot.go
  api/internal/gateway/admin/v1/service/spot.go
  api/internal/gateway/admin/v1/service/spot_test.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/auth_user.go
  api/internal/gateway/user/v1/handler/spot.go
  api/internal/gateway/user/v1/service/coordinator.go
  api/internal/gateway/user/v1/service/coordinator_test.go
  api/internal/gateway/user/v1/service/producer.go
  api/internal/gateway/user/v1/service/producer_test.go
  api/internal/gateway/user/v1/service/spot.go
  api/internal/gateway/user/v1/service/spot_test.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/spot.go
  api/internal/store/entity/spot.go
  api/internal/store/entity/spot_test.go
  api/internal/store/input.go
  api/internal/store/service/spot.go
  api/internal/store/service/spot_test.go
  docs/swagger/admin/components/schemas/codes/spot.yaml
  docs/swagger/admin/components/schemas/v1/spot.response.yaml
  docs/swagger/user/components/schemas/codes/spot.yaml
  docs/swagger/user/paths/v1/spots/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/SpotApi.ts
  web/user/src/types/api/models/SpotUserType.ts
Labels: docs, test, backend (gateway), frontend (user), frontend (admin), backend (store), backend (api)

#2507 fix(docs): APIドキュメントの修正
  docs/swagger/admin/paths/v1/spots/index.yaml
  docs/swagger/user/paths/v1/spots/index.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/apis/SpotApi.ts
  web/user/src/types/api/models/index.ts
Labels: docs, frontend (user), frontend (admin)

#2493 Feat/sns share
  web/user/src/components/atoms/icons/TheShareFacebookIcon.vue
  web/user/src/components/atoms/icons/TheShareIcon.vue
  web/user/src/components/atoms/icons/TheShareXIcon.vue
  web/user/src/components/atoms/icons/TheSnsShareIcon.vue
  web/user/src/components/atoms/live/TheLiveDescription.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
Labels: frontend (user), frontend (admin)

#2508 Feat/sns share
  web/admin/nuxt.config.ts
  web/user/src/components/atoms/icons/TheShareIcon.vue
  web/user/src/components/atoms/icons/TheSnsShareIcon.vue
  web/user/src/components/atoms/live/TheLiveDescription.vue
Labels: frontend (user), frontend (admin)

#2509 chore: MediaStore廃止に合わせた構成変更に伴い、StepFunctionsを修正
  infra/serverless/functions/calculateMP4StartTime/handler.js
  infra/serverless/functions/createChannelWithRTMPOutputs/default.json
  infra/serverless/functions/deleteMediaStoreObjects/handler.js
  infra/serverless/functions/disableDistribution/handler.js
  infra/serverless/functions/extractMediaStoreDomain/handler.js
  infra/serverless/functions/listMediaStoreItems/handler.js
  infra/serverless/serverless.yml
Labels: mergeable

#2514 fix: 商品一覧の表示をobject-containに変更
  web/user/src/components/molecules/TheProductListItem.vue
Labels: mergeable, frontend (user)

#2516 fix(api): 500エラー時に本番環境でもレスポンスを返すように
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/komoju/handler/api.go
  api/internal/gateway/user/v1/handler/api.go
Labels: mergeable, backend (gateway), backend (api)

#2500 Release for v3.1.0
  CHANGELOG.md
Labels: tagpr, tagpr:minor

#2517 fix: 位置情報取得クライアントの修正
  api/pkg/geolocation/client.go
Labels: backend (api)

#2519 feat: 画像加工時の背景を透過させるように
  func/cloudfront-origin-response/src/app.ts
Labels: backend (function)

#2518 Release for v3.1.1
  CHANGELOG.md
Labels: tagpr

#2520 feat(serverless): regionを直で指定する
  infra/serverless/serverless.yml
Labels: mergeable

#2522 Upgrade serveless v4
  .github/workflows/cd-serverless-for-main.yaml
  infra/serverless/serverless.yml
Labels: mergeable, workflow

#2523 fix(store): プロモーション公開日時を埋める処理を追加
  api/internal/store/database/mysql/promotion.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/spot.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
Labels: backend (store), backend (api)

#2521 Release for v3.1.2
  CHANGELOG.md
Labels: tagpr

#2527 feat(store): スポット住所を管理できるように
  api/internal/codes/prefecture.go
  api/internal/codes/prefecture_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/spot.go
  api/internal/store/database/mysql/spot_test.go
  api/internal/store/database/tidb/spot.go
  api/internal/store/entity/spot.go
  api/internal/store/entity/spot_test.go
  api/internal/store/service/spot.go
  api/internal/store/service/spot_test.go
  infra/mysql/schema/2024112801-stores-add-column-spots.sql
Labels: test, infra (database), backend (store), backend (api)

#2526 fix: リサイズ画像の取得でpngを指定するように改善
  web/user/src/components/molecules/TheProductListItem.vue
Labels: mergeable, frontend (user)

#2531 fix(store): 未使用項目を削除
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/notification_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/gateway/user/v1/service/promotion_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/promotion.go
  api/internal/store/database/mysql/promotion_test.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  api/internal/store/service/shipping_test.go
  infra/mysql/schema/2024112802-stores-drop-columns-promotions.sql
  infra/tidb/schema/stores/2024111601-add-column-spots.sql
  infra/tidb/schema/stores/2024112801-add-column-spot-types.sql
  infra/tidb/schema/stores/2024112802-drop-column-promotions.sql
  web/admin/nuxt.config.ts
Labels: mergeable, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#2532 fix(mysql): ErrBadConnエラー時にリトライするように
  api/go.mod
  api/go.sum
  api/pkg/mysql/client.go
Labels: backend (api)

#2534 feat(admin): スポット種別管理ページの実装
  web/admin/src/components/templates/SpotTypeList.vue
  web/admin/src/pages/spot-types/index.vue
  web/admin/src/pages/system.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/spot-type.ts
Labels: frontend (admin)

#2535 Release for v3.2.0
  CHANGELOG.md
Labels: tagpr, tagpr:minor
