Repository and-period/furumaru, pull requests merged in 2024-08, with the labels that each got.

#2332 援農募集ページの整備
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/atoms/icons/TheMapPinIcon.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/error.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/about.vue
  web/user/src/pages/volunteer/[...id].vue
  web/user/src/pages/volunteer/index.vue
  web/user/src/server/api/cms/volunteer/[...id].get.ts
  web/user/src/server/api/cms/volunteer/index.get.ts
  web/user/src/server/client/microcms.ts
  web/user/src/types/cms/volunteer.ts
  web/user/src/types/locales/i18n.ts
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#2337 ブログ部分のレイアウト調整
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/volunteer/index.vue
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#2333 feat(gateway): 商品一覧APIでコーディネータIDを用いたフィルタリングができるように
  api/internal/gateway/user/v1/handler/product.go
  docs/swagger/user/paths/v1/products/index.yaml
  web/user/src/types/api/apis/ProductApi.ts
Labels: docs, mergeable, backend (gateway), frontend (user), backend (api)

#2338 feat: コーディネータ登録時のパスワードを表示するように
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  docs/swagger/admin/components/schemas/v1/coordinator.response.yaml
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (user), backend (gateway), frontend (admin), backend (api)

#2341 feat(user): signupとログインユーザーの購入手続きのi18n対応
  web/user/src/components/organisms/TheAddressInfo.vue
  web/user/src/components/organisms/TheGuestAddressForm.vue
  web/user/src/components/organisms/TheNewAddressForm.vue
  web/user/src/components/organisms/TheSignUpForm.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#2342 fix(user): purchaseのi18n対応でtypoによって文字列が読み込めていなかった部分を修正
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: mergeable, frontend (user)

#2343 feat(media): オンデマンド配信用のエンティティ定義
  api/internal/media/entity/video.go
  api/internal/media/entity/video_category.go
  infra/mysql/schema/2024081901-media-create-videos.sql
Labels: mergeable, infra (database), backend (media), backend (api)

#2347 feat(user): プライバシーポリシーのi18n対応
  web/user/src/pages/privacy.vue
  web/user/src/public/_content/privacyPolicy_en.md
  web/user/src/public/_content/privacyPolicy_ja.md
Labels: mergeable, frontend (user)

#2348 feat(gateway): 管理画面のオンデマンド配信APIを定義
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/experience_type.go
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/gateway/admin/v1/request/experience.go
  api/internal/gateway/admin/v1/request/experience_type.go
  api/internal/gateway/admin/v1/request/video.go
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/admin/v1/response/experience_type.go
  api/internal/gateway/admin/v1/response/video.go
  api/internal/media/entity/video.go
  api/internal/media/entity/video_category.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_revision.go
  api/internal/store/entity/experience_type.go
  docs/swagger/admin/components/schemas/codes/experience.yaml
  docs/swagger/admin/components/schemas/codes/video.yaml
  docs/swagger/admin/components/schemas/entity/experience-type.yaml
  docs/swagger/admin/components/schemas/entity/experience.yaml
  docs/swagger/admin/components/schemas/entity/video.yaml
  docs/swagger/admin/components/schemas/v1/experience-type.request.yaml
  docs/swagger/admin/components/schemas/v1/experience-type.response.yaml
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  docs/swagger/admin/components/schemas/v1/experience.response.yaml
  docs/swagger/admin/components/schemas/v1/video.request.yaml
  docs/swagger/admin/components/schemas/v1/video.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/experience-types/_experienceTypeId/index.yaml
  docs/swagger/admin/paths/v1/experience-types/index.yaml
  docs/swagger/admin/paths/v1/experiences/_experienceId/index.yaml
  docs/swagger/admin/paths/v1/experiences/index.yaml
  docs/swagger/admin/paths/v1/upload/experiences/image.yaml
  docs/swagger/admin/paths/v1/upload/experiences/video.yaml
  docs/swagger/admin/paths/v1/upload/videos/file.yaml
  docs/swagger/admin/paths/v1/upload/videos/thumbnail.yaml
  docs/swagger/admin/paths/v1/videos/_videoId/index.yaml
  docs/swagger/admin/paths/v1/videos/index.yaml
  infra/mysql/schema/2024082201-stores-create-experiences.sql
  infra/mysql/schema/2024082202-media-create-videos.sql
  web/admin/src/types/api/api.ts
Labels: docs, infra (database), backend (gateway), frontend (admin), backend (store), backend (media), backend (api)

#2349 feat: オンデマンド配信関連サービスを定義
  api/internal/gateway/admin/v1/request/experience.go
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/mysql.go
  api/internal/media/database/mysql/mysql_test.go
  api/internal/media/database/mysql/video.go
  api/internal/media/database/mysql/video_test.go
  api/internal/media/entity/video.go
  api/internal/media/entity/video_experience.go
  api/internal/media/entity/video_product.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/database/mysql/experience_type.go
  api/internal/store/database/mysql/experience_type_test.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_revision.go
  api/internal/store/entity/experience_test.go
  api/internal/store/entity/experience_type.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/experience_type.go
  api/internal/store/service/experience_type_test.go
  docs/swagger/admin/components/schemas/entity/experience.yaml
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  docs/swagger/admin/components/schemas/v1/experience.response.yaml
  docs/swagger/admin/components/schemas/v1/video.response.yaml
  docs/swagger/admin/paths/v1/experience-types/index.yaml
  infra/mysql/schema/2024082201-stores-create-experiences.sql
  infra/mysql/schema/2024082202-media-create-videos.sql
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (media), backend (api)

#2350 feat(gateway): 体験種別一覧取得APIの実装
  api/internal/gateway/admin/v1/handler/experience_type.go
  api/internal/gateway/admin/v1/service/experience_type.go
  api/internal/gateway/admin/v1/service/experience_type_test.go
  api/internal/store/database/mysql/experience_type.go
  api/internal/store/database/mysql/experience_type_test.go
  api/internal/store/service/experience_type.go
  api/internal/store/service/experience_type_test.go
  api/internal/store/service/service_test.go
Labels: test, backend (gateway), backend (store), backend (api)

#2351 feat(gateway): 体験一覧取得APIの実装
  api/config/gateway/admin/rbac/policy.csv
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/experience_type.go
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/product.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_revision.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/service_test.go
  docs/swagger/admin/components/schemas/codes/experience.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/CoordinatorHeadersInner.ts
  web/user/src/types/api/models/ImageSize.ts
  web/user/src/types/api/models/LiveCommentThumbnailsInner.ts
  web/user/src/types/api/models/ProductMediaInnerImagesInner.ts
  web/user/src/types/api/models/ProductTypeIconsInner.ts
  web/user/src/types/api/models/Thumbnail.ts
Labels: docs, test, backend (gateway), frontend (user), frontend (admin), backend (store), backend (api)

#2352 feat(gateway): オンデマンド配信一覧取得APIの実装
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/gateway/admin/v1/service/video.go
  api/internal/gateway/admin/v1/service/video_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/video.go
  api/internal/media/database/mysql/video_test.go
  api/internal/media/entity/video.go
  api/internal/media/entity/video_experience.go
  api/internal/media/entity/video_experience_test.go
  api/internal/media/entity/video_product.go
  api/internal/media/entity/video_product_test.go
  api/internal/media/entity/video_test.go
  api/internal/media/input.go
  api/internal/media/service/service_test.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
  api/internal/store/entity/experience_test.go
  infra/mysql/schema/2024082501-media-create-fulltext-index.sql
Labels: test, infra (database), backend (gateway), backend (store), backend (media), backend (api)

#2354 feat(gateway): オンデマンド配信取得APIの実装
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/media/database/mysql/video.go
  api/internal/media/database/mysql/video_test.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
Labels: test, backend (gateway), backend (media), backend (api)

#2353 feat(gateway): 体験取得APIの実装
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/experience_type.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/database/mysql/experience_type.go
  api/internal/store/database/mysql/experience_type_test.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_revision.go
  api/internal/store/entity/experience_revision_test.go
  api/internal/store/entity/experience_test.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/experience_type.go
  api/internal/store/service/experience_type_test.go
Labels: mergeable, test, backend (gateway), backend (store), backend (api)

#2355 feat(gateway): 体験関連のファイルアップロードURL取得APIの実装
  api/internal/gateway/admin/v1/handler/uploader.go
  api/internal/media/entity/regulation.go
  api/internal/media/service.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/upload/experiences/promotion-video.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (gateway), frontend (admin), backend (media), backend (api)

#2356 feat(store): 体験種別関連APIの実装
  api/internal/gateway/admin/v1/handler/experience_type.go
  api/internal/store/database/mysql/experience_type.go
  api/internal/store/database/mysql/experience_type_test.go
  api/internal/store/entity/experience_type.go
  api/internal/store/service/experience_type.go
  api/internal/store/service/experience_type_test.go
Labels: mergeable, test, backend (gateway), backend (store), backend (api)

#2357 feat(store): 体験関連APIの実装
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/request/experience.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/database/mysql/product.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_revision.go
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (gateway), frontend (admin), backend (store), backend (api)

#2358 fix(docs): 体験一覧APIの定義を修正
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/experiences/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#2359 feat(media): オンデマンド配信関連APIの実装
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/media/database/mysql/video.go
  api/internal/media/database/mysql/video_test.go
  api/internal/media/entity/video.go
  api/internal/media/entity/video_experience.go
  api/internal/media/entity/video_experience_test.go
  api/internal/media/entity/video_product.go
  api/internal/media/entity/video_product_test.go
  api/internal/media/entity/video_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
Labels: test, backend (gateway), backend (media), backend (api)

#2361 fix(gateway): オンデマンド配信関連APIの権限追加
  api/config/gateway/admin/rbac/policy.csv
Labels: mergeable, backend (api)

#2360 feat(mysql): MySQLでGEOMETRY型が扱えるようなstructを定義
  api/pkg/mysql/query.go
  api/pkg/mysql/query_test.go
Labels: mergeable, test, backend (api)

#2366 feat(store): 体験関連のフィールド追加
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/request/experience.go
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/admin/v1/service/experience.go
  api/internal/gateway/admin/v1/service/experience_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/database/mysql/experience_test.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  docs/swagger/admin/components/schemas/entity/experience.yaml
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  docs/swagger/admin/components/schemas/v1/experience.response.yaml
  infra/mysql/schema/2024082901-stores-add-columns.sql
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, infra (database), backend (gateway), frontend (admin), backend (store), backend (api)

#2367 feat(store): 座標取得APIの実装
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/service.go
  api/internal/store/service/service_test.go
  api/pkg/geolocation/client.go
Labels: test, backend (gateway), backend (store), backend (api)

#2369 fix(gateway): 体験一覧APIの修正
  api/internal/gateway/admin/v1/handler/experience.go
Labels: mergeable, backend (gateway), backend (api)

#2365 feat(user): 特商法ページのi18n対応
  web/user/src/pages/legal-notice.vue
  web/user/src/public/_content/legalPolicy_en.md
  web/user/src/public/_content/legalPolicy_ja.md
Labels: mergeable, frontend (user)

#2370 fix(docs): 体験関連のフィールド追加分をAPI Docsにも反映
  api/internal/store/input.go
  docs/swagger/admin/components/schemas/entity/experience.yaml
  docs/swagger/admin/components/schemas/v1/experience.request.yaml
  docs/swagger/admin/components/schemas/v1/experience.response.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, frontend (admin), backend (store), backend (api)

#2371 feat(gateway): 体験取得APIの実装
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/gateway/user/v1/handler/experience_type.go
  api/internal/gateway/user/v1/response/experience.go
  api/internal/gateway/user/v1/response/experience_type.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/experience_test.go
  api/internal/gateway/user/v1/service/experience_type.go
  api/internal/gateway/user/v1/service/experience_type_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/experience.go
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  docs/swagger/user/components/schemas/codes/experience.yaml
  docs/swagger/user/components/schemas/entity/experience-type.yaml
  docs/swagger/user/components/schemas/entity/experience.yaml
  docs/swagger/user/components/schemas/v1/experience.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/experiences/_experienceId/index.yaml
  docs/swagger/user/paths/v1/experiences/index.yaml
  web/user/src/types/api/apis/ExperienceApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/Experience.ts
  web/user/src/types/api/models/ExperienceMediaInner.ts
  web/user/src/types/api/models/ExperienceResponse.ts
  web/user/src/types/api/models/ExperienceStatus.ts
  web/user/src/types/api/models/ExperienceType.ts
  web/user/src/types/api/models/ExperiencesResponse.ts
  web/user/src/types/api/models/Product.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (api)

#2372 feat(media): ビデオに表示設定用のフィールド追加
  api/internal/gateway/admin/v1/handler/video.go
  api/internal/gateway/admin/v1/request/video.go
  api/internal/gateway/admin/v1/response/video.go
  api/internal/gateway/admin/v1/service/video.go
  api/internal/gateway/admin/v1/service/video_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/video.go
  api/internal/media/entity/video.go
  api/internal/media/entity/video_test.go
  api/internal/media/input.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
  docs/swagger/admin/components/schemas/entity/video.yaml
  docs/swagger/admin/components/schemas/v1/video.request.yaml
  docs/swagger/admin/components/schemas/v1/video.response.yaml
  infra/mysql/schema/2024083101-media-add-columns.sql
  web/admin/src/types/api/api.ts
Labels: docs, test, infra (database), backend (gateway), frontend (admin), backend (media), backend (api)

#2373 fix(gateway): オンデマンド配信APIのレスポンス修正
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/user/v1/response/experience.go
  docs/swagger/admin/components/schemas/v1/video.request.yaml
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, backend (gateway), frontend (admin), backend (api)
