Repository and-period/furumaru, pull requests merged in 2024-02, with the labels that each got.

#2006 販売終了した商品のUIを更新
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/lib/product.ts
  web/user/src/pages/items/index.vue
Labels: mergeable, frontend (user)

#2007 fix(store): カート追加時のバリデーション修正
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
Labels: test, backend (store), backend (api)

#2008 fix(gateway): ライブ配信ページの商品の並び順を修正
  api/internal/gateway/user/v1/service/live_product.go
  api/internal/gateway/user/v1/service/live_product_test.go
Labels: test, backend (gateway), backend (api)

#2009 fix(store): 注文履歴ステータスの追加
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  infra/mysql/schema/2024020501-stores-add-column.sql
Labels: test, infra (database), backend (store), backend (api)

#2010 feat(store): 注文ステータスによるフィルタリング機能の実装
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/service/order.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/order.go
  api/internal/store/input.go
  api/internal/store/service/order.go
  docs/swagger/admin/paths/v1/orders/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#2011 feat(gateway): 注文ステータス追加に伴う改修
  api/internal/gateway/user/v1/service/order.go
  api/internal/gateway/user/v1/service/order_test.go
Labels: test, backend (gateway), backend (api)

#2013 feat(workflow): ライブラリ更新をグループ化
  .github/dependabot.yaml
Labels: workflow

#2023 ライブ画面で商品画像が正方形になるように修正
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
Labels: mergeable, frontend (user)

#2024 fix(messenger): キュー管理のロジック修正
  api/internal/messenger/database/database.go
  api/internal/messenger/database/mysql/received_queue.go
  api/internal/messenger/database/mysql/received_queue_test.go
  api/internal/messenger/entity/received_queue.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/messenger/worker/messenger.go
  api/internal/messenger/worker/messenger_test.go
  api/internal/messenger/worker/reporter.go
  api/internal/messenger/worker/reporter_test.go
  api/internal/messenger/worker/worker.go
  api/internal/messenger/worker/worker_test.go
  infra/mysql/schema/2024020801-messengers-alter-primary-key.sql
Labels: mergeable, test, infra (database), backend (messenger), backend (api)

#2025 Add: added line contact
  web/user/src/pages/contact.vue
Labels: mergeable, frontend (user)

#2026 fix(store): 注文ステータスの検証ロジックを修正
  api/internal/store/database/mysql/order.go
  api/internal/store/database/mysql/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/order_test.go
Labels: test, backend (store), backend (api)

#2027 fix(gateway): 都道府県をレスポンスに詰める
  api/internal/gateway/admin/v1/response/address.go
  api/internal/gateway/admin/v1/service/address.go
  api/internal/gateway/admin/v1/service/address_test.go
  api/internal/gateway/admin/v1/service/user_test.go
Labels: mergeable, test, backend (gateway), backend (api)

#2030 feat(workflow): コードレビューの改善
  .github/workflows/pr-openai-review.yaml
Labels: mergeable, workflow

#2029 feat(gateway): プロモーション取得APIの実装
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/response/promotion.go
  api/internal/gateway/user/v1/service/promotion.go
  api/internal/gateway/user/v1/service/promotion_test.go
  docs/swagger/user/components/schemas/v1/promotion.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/promotions/_code/index.yaml
  web/user/src/types/api/apis/PromotionApi.ts
  web/user/src/types/api/apis/index.ts
  web/user/src/types/api/models/PromotionResponse.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), backend (api)

#2031 feat(gateway): プロモーション取得APIのエンドポイント追加
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/promotion.go
Labels: mergeable, backend (gateway), backend (api)

#2032 クーポンコードを利用可能にする
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/shopping.ts
  web/user/src/types/plugins/index.d.ts
Labels: mergeable, frontend (user)

#2033 feat(gateway): NewRelicの設定を調整
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
Labels: backend (gateway), backend (api)

#2036 fix: 近日発売の商品の表示が改行される問題を修正
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
Labels: mergeable, frontend (user)

#2035 feat: videoタグにautoPictureInPicture属性を追加
  web/user/src/components/atoms/live/TheLiveVideoPlayer.vue
Labels: mergeable, frontend (user)

#2037 feat(media): ファイル参照時にCDN経由にできるように
  api/internal/media/cmd/uploader/registry.go
  api/internal/media/cmd/uploader/uploader.go
  api/internal/media/service/upload_test.go
  api/internal/media/uploader/uploader.go
Labels: test, backend (media), backend (api)

#2038 fix(admin): 時間入力フォームの不具合を修正
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/templates/NotificationEdit.vue
  web/admin/src/components/templates/NotificationNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/types/props/forms/index.ts
  web/admin/src/types/props/forms/time.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/live.ts
  web/admin/src/types/props/notification.ts
  web/admin/src/types/props/product.ts
  web/admin/src/types/props/promotion.ts
  web/admin/src/types/props/schedule.ts
  web/admin/src/types/validations/common.ts
Labels: frontend (admin)

#2039 fix(user): 住所登録・更新時の電話番号形式を変更
  api/internal/gateway/admin/v1/service/address_test.go
  api/internal/gateway/admin/v1/service/order_fulfillment_test.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/admin/v1/service/order_test.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/gateway/user/v1/service/address_test.go
  api/internal/gateway/user/v1/service/order_fulfillment_test.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/gateway/user/v1/service/order_test.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/entity/order_fulfillment_test.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/checkout_test.go
  api/internal/user/database/mysql/address_test.go
  api/internal/user/entity/address_revision_test.go
  api/internal/user/entity/address_test.go
  api/internal/user/input.go
  api/internal/user/service/address_test.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
  docs/swagger/admin/components/schemas/entity/address.yaml
  docs/swagger/admin/components/schemas/entity/order.yaml
  docs/swagger/admin/components/schemas/v1/order.response.yaml
  docs/swagger/user/components/schemas/entity/address.yaml
  docs/swagger/user/components/schemas/entity/order.yaml
  docs/swagger/user/components/schemas/v1/address.request.yaml
  docs/swagger/user/components/schemas/v1/address.response.yaml
  docs/swagger/user/components/schemas/v1/order.response.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/Address.ts
  web/user/src/types/api/models/CreateAddressRequest.ts
  web/user/src/types/api/models/UpdateAddressRequest.ts
Labels: docs, test, backend (user), backend (gateway), frontend (user), frontend (admin), backend (store), backend (messenger), backend (api)

#2040 Add: added line button add on index page
  web/user/src/pages/index.vue
Labels: frontend (user)

#2041 feat(store): ヤマト運輸のCSV吐き出しロジック実装
  api/internal/store/yamato/csv/csv.go
  api/internal/store/yamato/csv/delivery_receipt.go
  api/internal/store/yamato/csv/delivery_receipt_test.go
  api/internal/store/yamato/csv/writer.go
  api/internal/store/yamato/csv/writer_test.go
  api/internal/user/entity/address.go
  api/internal/user/entity/address_test.go
  docs/setup/.keep
  docs/specification/ヤマト運輸_送り状レイアウト.pdf
  docs/tips/.keep
Labels: docs, test, backend (user), backend (store), backend (api)

#2050 fix(api): DBエラーログを出力しないように
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/scheduler/registry.go
  api/internal/media/cmd/updater/registry.go
  api/internal/messenger/cmd/scheduler/registry.go
  api/internal/messenger/cmd/worker/registry.go
  api/pkg/sentry/option.go
Labels: backend (gateway), backend (media), backend (messenger), backend (api)

#2051 fix(api): アクセスログ出力周りの改善
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/user/v1/handler/api.go
Labels: backend (gateway), backend (api)

#2052 feat(workflow): PRレビュー時のモデル変更
  .github/workflows/pr-openai-review.yaml
Labels: workflow

#2053 fix(api): 404時のレスポンス修正
  api/internal/gateway/cmd/admin/router.go
  api/internal/gateway/cmd/user/router.go
Labels: backend (gateway), backend (api)

#2054 prompt: プロンプトを調整
  .github/workflows/pr-openai-review.yaml
Labels: workflow

#2043 feat(schedule): ライブ配信登録のメディア周りのバリデーションを追加
  web/admin/src/components/molecules/ImageSelectForm.vue
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/types/validations/schedule.ts
Labels: mergeable, frontend (admin)

#2056 prompt: summarize_release_notesのプロンプトを変更
  .github/workflows/pr-openai-review.yaml
Labels: mergeable, workflow

#2055 fix:トップページに表示するアーカイブ配信の動画のタイトルなどのフォントサイズなどを調整
  web/user/src/components/molecules/TheArchiveItem.vue
Labels: mergeable, frontend (user)

#2057 feat(api): panic検知時にログ出力するように
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/user/user.go
Labels: backend (user), backend (gateway), backend (api)

#2058 feat(user): ゲストユーザーの定義を変更
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/user/database/mysql/guest_test.go
  api/internal/user/database/mysql/user_test.go
  api/internal/user/entity/guest.go
  api/internal/user/entity/member.go
  api/internal/user/entity/member_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/guest.go
  api/internal/user/service/guest_test.go
  api/internal/user/service/user_test.go
  infra/mysql/schema/2024021701-users-drop-columns.sql
Labels: test, backend (user), infra (database), backend (gateway), backend (api)

#2059 feat(user): ゲスト登録処理の実装
  api/internal/user/database/database.go
  api/internal/user/database/mysql/guest.go
  api/internal/user/database/mysql/guest_test.go
  api/internal/user/service.go
  api/internal/user/service/guest.go
  api/internal/user/service/guest_test.go
Labels: test, backend (user), backend (api)

#2061 fix(gateway): 支払いステータス取得APIの修正
  api/internal/gateway/user/v1/handler/guest_checkout.go
Labels: backend (gateway), backend (api)

#2062 fix(store): 支払い後リダイレクトURLが詰まっていないバグの一時対応
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/service.go
Labels: mergeable, backend (gateway), backend (store), backend (api)

#2063 feat(store): 注文履歴のCSV出力APIを実装
  api/internal/codes/encode.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/payment_system.go
  api/internal/gateway/admin/v1/request/order.go
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/user/v1/handler/status.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/gateway/user/v1/service/order_payment_test.go
  api/internal/messenger/entity/mail_config.go
  api/internal/store/entity/order_fulfillment.go
  api/internal/store/entity/order_fulfillment_test.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_payment_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/exporter/exporter.go
  api/internal/store/exporter/exporter_test.go
  api/internal/store/exporter/general/general.go
  api/internal/store/exporter/general/general_test.go
  api/internal/store/exporter/yamato/yamato.go
  api/internal/store/exporter/yamato/yamato_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/internal/store/yamato/csv/csv.go
  api/internal/store/yamato/csv/delivery_receipt_test.go
  api/internal/store/yamato/csv/writer.go
  api/internal/store/yamato/csv/writer_test.go
  docs/swagger/admin/components/schemas/codes/common.yaml
  docs/swagger/admin/components/schemas/v1/order.request.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/orders/-/export.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (messenger), backend (api)

#2065 feat(admin): 注文履歴のCSV出力機能を実装
  api/internal/store/exporter/general/general.go
  api/internal/store/exporter/general/general_test.go
  api/internal/store/service/order_test.go
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/pages/orders/index.vue
  web/admin/src/store/order.ts
Labels: test, frontend (admin), backend (store), backend (api)

#2067 feat(store): 佐川急便のフォーマット対応
  api/internal/store/exporter/sagawa/sagawa.go
  api/internal/store/exporter/sagawa/sagawa_test.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: test, backend (store), backend (api)

#2066 fix: callbackUrlが設定されない問題への対応
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: frontend (user)

#2068 fix(admin): 品目検索周りの不具合修正
  api/internal/store/database/mysql/category.go
  api/internal/store/database/mysql/product.go
  api/internal/store/database/mysql/product_tag.go
  api/internal/store/database/mysql/product_type.go
  api/internal/store/database/mysql/promotion.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/producer.go
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/new.vue
Labels: backend (user), frontend (admin), backend (store), backend (api)

#2071 feat(admin): 不要な機能を非表示に
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/layouts/default.vue
Labels: frontend (admin)

#2070 nuxt-gtagの導入
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/yarn.lock
Labels: mergeable, frontend (user)

#2073 fix(docs): 注文出力APIのドキュメント修正
  docs/swagger/admin/paths/v1/orders/-/export.yaml
Labels: docs

#2072 chore(api): ライブラリ更新
  .github/workflows/ci-backend.yaml
  api/.golangci.yaml
  api/.tool-versions
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/store/service/checkout.go
  api/internal/user/service/member.go
  api/pkg/sentry/option.go
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
  infra/docker/web/amplify/Dockerfile
  infra/helm/gateway/.helmignore
  infra/helm/gateway/Chart.yaml
  infra/helm/gateway/configs/user-gateway-dev-envoy.yaml
  infra/helm/gateway/templates/_helpers.tpl
  infra/helm/gateway/templates/configmap.yaml
  infra/helm/gateway/templates/deployment.yaml
  infra/helm/gateway/templates/service.yaml
  infra/helm/gateway/values.yaml
  infra/helm/service/.helmignore
  infra/helm/service/Chart.yaml
  infra/helm/service/configs/user-server-dev-envoy.yaml
  infra/helm/service/templates/_helpers.tpl
  infra/helm/service/templates/configmap.yaml
  infra/helm/service/templates/deployment.yaml
  infra/helm/service/templates/secret.yaml
  infra/helm/service/templates/service.yaml
  infra/helm/service/values.yaml
Labels: infra (container), workflow, backend (user), backend (gateway), backend (store), backend (api)

#2074 chore(docs): ライブラリ更新
  .github/workflows/ci-docs.yaml
  docs/swagger/openapitools.json
  infra/docker/docs/swagger/generator/Dockerfile
  infra/docker/docs/swagger/viewer/Dockerfile
  web/admin/src/types/api/api.ts
  web/user/src/types/api/runtime.ts
Labels: docs, infra (container), workflow, frontend (user), frontend (admin)

#2075 chore(docs): ライブラリ更新
  docs/swagger/Makefile
  infra/docker/docs/swagger/generator/Dockerfile
Labels: docs, infra (container)

#2064 feat: 商品ページのバリデーション追加と修正
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/lib/validations/rule.ts
  web/admin/src/store/product.ts
  web/admin/src/types/validations/common.ts
Labels: mergeable, frontend (admin)

#2076 Fix: fixed sentence based on nishikawa sister
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
Labels: mergeable, frontend (user)

#2077 feat(media): ゲストのライブ配信コメント投稿API実装
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/guest_live_comment.go
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/request/guest_live_comment.go
  api/internal/gateway/user/v1/response/live_comment.go
  api/internal/gateway/user/v1/service/live_comment.go
  api/internal/gateway/user/v1/service/live_comment_test.go
  api/internal/media/entity/broadcast_comment.go
  api/internal/media/entity/broadcast_comment_test.go
  api/internal/media/input.go
  api/internal/media/service.go
  api/internal/media/service/broadcast_comment.go
  api/internal/media/service/broadcast_comment_test.go
  docs/swagger/user/components/schemas/v1/guest-live-comment.request.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/guests/schedules/_scheduleId/comments/index.yaml
  web/user/src/types/api/apis/GuestApi.ts
  web/user/src/types/api/apis/ScheduleApi.ts
  web/user/src/types/api/models/CreateGuestLiveCommentRequest.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), backend (media), backend (api)
