Repository and-period/furumaru, pull requests merged in 2024-12, with the labels that each got.

#2542 Fix: fixed live open
  web/user/src/pages/index.vue
Labels: frontend (user)

#2544 feat(store): カート操作ログをDB管理するように
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/cart_action_log.go
  api/internal/store/database/mysql/cart_action_log_test.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/entity/cart_action_log.go
  api/internal/store/entity/cart_action_log_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/service_test.go
  infra/mysql/schema/2024120601-store-create-cart-action-logs.sql
  infra/tidb/schema/stores/2024120601-create-cart-action-logs.sql
Labels: test, infra (database), backend (gateway), backend (store), backend (api)

#2546 fix(store): DBのインジェクションを修正
  api/internal/store/database/tidb/tidb.go
Labels: backend (store), backend (api)

#2545 Release for v3.2.2
  CHANGELOG.md
Labels: tagpr

#2547 fix(admin): ファイルアップロード周りの処理を修正
  web/admin/src/pages/schedules/[id]/index.vue
Labels: mergeable, frontend (admin)

#2551 feat(api): DBへのヘルスチェック機能を実装
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/pkg/mysql/client.go
Labels: mergeable, backend (gateway), backend (api)

#2555 fix(api): DBとのコネクション設定を追加
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/pkg/mysql/client.go
  api/pkg/mysql/client_tidb.go
Labels: backend (gateway), backend (api)

#2554 Release for v3.2.5
  CHANGELOG.md
Labels: tagpr

#2556 買い物カゴに追加したときの挙動を変更
  web/user/src/components/molecules/TheDropdownWithIcon.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/layouts/default.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/pages/items/index.vue
Labels: mergeable, frontend (user)

#2557 Release for v3.2.6
  CHANGELOG.md
Labels: tagpr

#2558 Fix: fixed cart message
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
Labels: frontend (user)

#2559 Release for v3.2.7
  CHANGELOG.md
Labels: tagpr

#2563 feat(api): 商品レビュー機能の定義
  api/internal/gateway/user/v1/request/product_review.go
  api/internal/gateway/user/v1/response/product.go
  api/internal/gateway/user/v1/response/product_review.go
  api/internal/store/entity/product_review.go
  api/internal/store/entity/product_review_reaction.go
  docs/swagger/user/components/schemas/entity/product-review.yaml
  docs/swagger/user/components/schemas/entity/product.yaml
  docs/swagger/user/components/schemas/v1/product-review.request.yaml
  docs/swagger/user/components/schemas/v1/product-review.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/products/_productId/reviews/_reviewId/index.yaml
  docs/swagger/user/paths/v1/products/_productId/reviews/index.yaml
  infra/mysql/schema/2024121801-store-create-product-reviews.sql
  infra/tidb/schema/stores/2024122001-create-product-reviews.sql
  web/user/src/types/api/models/CreateProductReviewRequest.ts
  web/user/src/types/api/models/Product.ts
  web/user/src/types/api/models/ProductRate.ts
  web/user/src/types/api/models/ProductReview.ts
  web/user/src/types/api/models/ProductReviewResponse.ts
  web/user/src/types/api/models/ProductReviewsResponse.ts
  web/user/src/types/api/models/UpdateProductReviewRequest.ts
  web/user/src/types/api/models/V1CreateProductReviewRequest.ts
  web/user/src/types/api/models/V1ProductReviewResponse.ts
  web/user/src/types/api/models/V1ProductReviewsResponse.ts
  web/user/src/types/api/models/V1UpdateProductReviewRequest.ts
  web/user/src/types/api/models/index.ts
Labels: docs, infra (database), backend (gateway), frontend (user), backend (store), backend (api)

#2565 fix(user): コーディネータの追加情報を詰める処理が漏れてたので修正
  api/internal/user/database/tidb/coordinator.go
Labels: backend (user), backend (api)

#2564 Release for v3.2.8
  CHANGELOG.md
Labels: tagpr

#2566 feat(store): 商品レビュー機能の実装
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/product_review.go
  api/internal/gateway/user/v1/request/product_review.go
  api/internal/gateway/user/v1/service/product_review.go
  api/internal/gateway/user/v1/service/product_review_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/product_review.go
  api/internal/store/database/mysql/product_review_test.go
  api/internal/store/database/tidb/tidb.go
  api/internal/store/entity/product_review_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_review.go
  api/internal/store/service/product_review_test.go
  api/internal/store/service/service_test.go
Labels: test, backend (gateway), backend (store), backend (api)

#2568 feat(store): 商品レビューの集計ロジック実装
  api/internal/media/database/mysql/broadcast_comment.go
  api/internal/media/database/mysql/broadcast_comment_test.go
  api/internal/store/database/database.go
  api/internal/store/database/mysql/product_review.go
  api/internal/store/database/mysql/product_review_test.go
  api/internal/store/entity/product_review.go
  api/internal/store/entity/product_review_reaction.go
  api/internal/store/entity/product_review_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_review.go
  api/internal/store/service/product_review_test.go
Labels: mergeable, test, backend (store), backend (media), backend (api)

#2569 feat(gateway): 購入者向けの商品レビュー一覧APIの実装
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/handler/product_review.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/entity/product_review.go
  api/internal/store/entity/product_review_test.go
Labels: mergeable, test, backend (gateway), backend (store), backend (api)

#2571 fix(gateway): 商品レビュー一覧が404になる問題の修正
  api/internal/gateway/user/v1/handler/live_comment.go
  api/internal/gateway/user/v1/handler/product_review.go
  docs/swagger/user/paths/v1/products/_productId/reviews/index.yaml
  docs/swagger/user/paths/v1/schedules/_scheduleId/comments/index.yaml
  web/user/src/types/api/apis/ProductApi.ts
  web/user/src/types/api/apis/ScheduleApi.ts
Labels: docs, backend (gateway), frontend (user), backend (api)

#2573 fix(docs): api docsのtypo修正
  api/internal/store/entity/product_review.go
  docs/swagger/user/paths/v1/products/_productId/reviews/index.yaml
  docs/swagger/user/paths/v1/spots/_spotId/index.yaml
  web/user/src/types/api/apis/SpotApi.ts
Labels: docs, frontend (user), backend (store), backend (api)

#2574 fix(gateway): SpotTypeIdが渡せていなかったので修正
  api/internal/gateway/admin/v1/handler/spot.go
  api/internal/gateway/user/v1/handler/spot.go
Labels: backend (gateway), backend (api)

#2575 fix(gateway): user-gatewayでGoogle Map APIが利用できるように
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
Labels: backend (gateway), backend (api)

#2577 feat(store): 商品レビューのリアクション機能を実装
  api/internal/store/database/database.go
  api/internal/store/database/mysql/mysql.go
  api/internal/store/database/mysql/mysql_test.go
  api/internal/store/database/mysql/product_review.go
  api/internal/store/database/mysql/product_review_reaction.go
  api/internal/store/database/mysql/product_review_reaction_test.go
  api/internal/store/database/tidb/tidb.go
  api/internal/store/entity/product_review.go
  api/internal/store/entity/product_review_reaction.go
  api/internal/store/entity/product_review_reaction_test.go
  api/internal/store/entity/product_review_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/product_review_reaction.go
  api/internal/store/service/product_review_reaction_test.go
  api/internal/store/service/service_test.go
  infra/mysql/schema/2024122201-store-create-product-review-reactions.sql
  infra/tidb/schema/stores/2024122201-create-product-review-reactions.sql
Labels: test, infra (database), backend (store), backend (api)

#2580 fix(gateway): pathの修正
  api/internal/gateway/user/v1/handler/product_review.go
Labels: backend (gateway), backend (api)

#2581 fix(store): 体験レビュー関連の修正
  api/internal/store/database/mysql/experience_review_reaction.go
  api/internal/store/database/mysql/experience_review_reaction_test.go
  api/internal/store/database/mysql/experience_review_test.go
  api/internal/store/service/experience_review.go
Labels: test, backend (store), backend (api)

#2567 Release for v3.3.0
  CHANGELOG.md
Labels: tagpr, tagpr:minor

#2582 feat(gateway): コーディネータ取得APIに体験情報を追加
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/response/producer.go
  docs/swagger/user/components/schemas/v1/coordinator.response.yaml
  docs/swagger/user/components/schemas/v1/producer.response.yaml
  web/user/src/types/api/models/CoordinatorResponse.ts
  web/user/src/types/api/models/ProducerResponse.ts
Labels: docs, backend (gateway), frontend (user), backend (api)

#2572 体験詳細ページの実装
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/experience/index.vue
  web/user/src/public/img/experience/map.svg
Labels: mergeable, frontend (user)

#2590 fix(gateway): 体験一覧取得APIのレスポンス修正
  api/internal/gateway/admin/v1/response/experience.go
  api/internal/gateway/user/v1/response/experience.go
Labels: backend (gateway), backend (api)

#2589 feat(hack): 字幕付与用のコマンド実装
  api/go.mod
  api/go.sum
  api/hack/media-update-archive/main.go
  api/hack/messenger-send-email/main.go
  api/hack/store-update-order-status/main.go
  api/hack/user-create-admin/main.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/regulation.go
  api/pkg/aws/transcribe/client.go
  api/pkg/aws/translate/client.go
  infra/docker/api/media-archive-updater/Dockerfile
Labels: infra (container), test, backend (media), backend (api)

#2592 fix(infra): コンテナイメージのディレクトリ名修正
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container), workflow

#2597 fix(workflow): ワークフローの修正
  .github/workflows/_deploy_batch.yaml
Labels: workflow

#2598 fix(workflow): ワークフローの修正
  .github/workflows/_deploy_batch.yaml
Labels: workflow

#2599 feat(media): 字幕付与処理を追加
  api/go.mod
  api/go.sum
  api/hack/media-update-archive/main.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/media/service/broadcast.go
  api/internal/media/service/broadcast_test.go
  api/internal/media/service/service.go
  api/internal/media/service/service_test.go
  api/pkg/batch/client.go
Labels: test, backend (gateway), backend (media), backend (api)

#2603 fix(workflow): ワークフローの修正
  .github/workflows/_build_and_push.yaml
  .github/workflows/cd-batch-for-prd.yaml
  .github/workflows/cd-batch-for-stg.yaml
  api/Makefile
  infra/docker/api/Dockerfile
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container), workflow, backend (api)

#2606 fix(storage): keyの整形
  api/pkg/storage/client.go
Labels: backend (api)

#2608 fix(infra): バッチ処理用のコンテナのベースイメージを変更
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container)

#2611 fix(infra): ffmpegコマンド実行前にローカルへファイルを保存するように
  api/hack/media-update-archive/main.go
  api/pkg/storage/client.go
Labels: backend (api)

#2583 Release for v3.4.0
  CHANGELOG.md
Labels: tagpr, tagpr:minor

#2585 マップから体験を選択する部分の実装
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/components/atoms/icons/TheFurunekoIcon.vue
  web/user/src/components/molecules/experiences/TheExperienceMarker.vue
  web/user/src/components/molecules/experiences/TheSpotSearchForm.vue
  web/user/src/pages/experiences/[...id].vue
  web/user/src/pages/experiences/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/experience.ts
  web/user/src/store/spot.ts
  web/user/src/types/locales/i18n.ts
  web/user/src/types/plugins/index.d.ts
  web/user/src/types/store/index.ts
  web/user/src/types/store/spot.ts
  web/user/yarn.lock
Labels: mergeable, frontend (user)
