Repository and-period/furumaru, pull requests merged in 2024-04, with the labels that each got.

#2133 Feat/live list
  web/user/src/components/molecules/TheAllArchiveItem.vue
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/pages/marches/index.vue
  web/user/src/store/live.ts
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#2136 Add: added default img/video
  web/admin/src/components/molecules/ImageSelectForm.vue
  web/admin/src/components/molecules/VideoSelectForm.vue
  web/admin/src/pages/schedules/new.vue
Labels: frontend (admin)

#2135 アカウント編集周りの実装
  web/user/src/components/atoms/TheTextInput.vue
  web/user/src/components/atoms/icons/TheAccountIcon.vue
  web/user/src/components/atoms/icons/TheCheckIcon.vue
  web/user/src/components/atoms/icons/TheLoadingIcon.vue
  web/user/src/components/molecules/account/TheAccountEditCard.vue
  web/user/src/components/organisms/TheAccountEditCompleteCard.vue
  web/user/src/components/organisms/TheAuthErrorCard.vue
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/pages/account/edit/complete.vue
  web/user/src/pages/account/edit/email.vue
  web/user/src/pages/account/edit/id.vue
  web/user/src/pages/account/edit/notification.vue
  web/user/src/pages/account/edit/password.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/edit/username.vue
  web/user/src/pages/account/index.vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/auth.ts
  web/user/src/store/helpter.ts
  web/user/src/types/plugins/index.d.ts
  web/user/tailwind.config.ts
Labels: mergeable, frontend (user)

#2137 Fix/web/user/account edit
  web/user/src/components/organisms/header/ThePcAccountMenu.vue
  web/user/src/pages/account/edit/email.vue
  web/user/src/pages/account/edit/id.vue
  web/user/src/pages/account/edit/notification.vue
  web/user/src/pages/account/edit/password.vue
  web/user/src/pages/account/edit/thumbnail.vue
  web/user/src/pages/account/edit/username.vue
Labels: mergeable, frontend (user)

#2138 feat(docs): リサイズ済みサムネイル情報をDeprecatedに
  docs/swagger/admin/components/schemas/entity/coordinator.yaml
  docs/swagger/admin/components/schemas/entity/live-comment.yaml
  docs/swagger/admin/components/schemas/entity/producer.yaml
  docs/swagger/admin/components/schemas/entity/product-type.yaml
  docs/swagger/admin/components/schemas/entity/product.yaml
  docs/swagger/admin/components/schemas/entity/schedule.yaml
  docs/swagger/admin/components/schemas/entity/user.yaml
  docs/swagger/user/components/schemas/entity/common.yaml
  docs/swagger/user/components/schemas/entity/coordinator.yaml
  docs/swagger/user/components/schemas/entity/live-comment.yaml
  docs/swagger/user/components/schemas/entity/live.yaml
  docs/swagger/user/components/schemas/entity/producer.yaml
  docs/swagger/user/components/schemas/entity/product-type.yaml
  docs/swagger/user/components/schemas/entity/product.yaml
  docs/swagger/user/components/schemas/entity/schedule.yaml
  docs/swagger/user/components/schemas/entity/top.yaml
  web/admin/src/types/api/api.ts
  web/user/src/types/api/models/ArchiveSummary.ts
  web/user/src/types/api/models/Coordinator.ts
  web/user/src/types/api/models/LiveComment.ts
  web/user/src/types/api/models/LiveProduct.ts
  web/user/src/types/api/models/LiveSummary.ts
  web/user/src/types/api/models/Producer.ts
  web/user/src/types/api/models/Product.ts
  web/user/src/types/api/models/ProductMediaInner.ts
  web/user/src/types/api/models/ProductType.ts
  web/user/src/types/api/models/Schedule.ts
  web/user/src/types/api/models/Thumbnail.ts
Labels: docs, frontend (user), frontend (admin)

#2140 revert(workflow): environmentの検証をもとに戻す
  .github/workflows/_build_and_push.yaml
  .github/workflows/_deploy_ecs.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

#2139 feat(gateway): アーカイブ一覧APIに日時情報を追加
  api/internal/gateway/user/v1/response/live.go
  api/internal/gateway/user/v1/service/archive_summary.go
  api/internal/gateway/user/v1/service/archive_summary_test.go
  docs/swagger/user/components/schemas/entity/live.yaml
  web/user/src/types/api/models/ArchiveSummary.ts
Labels: docs, test, backend (gateway), frontend (user), backend (api)

#2141 feat(web): Sentryの追加設定
  web/admin/package.json
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/src/server/plugins/sentry.ts
  web/user/yarn.lock
Labels: frontend (user), frontend (admin)

#2142 feat(user): アカウントIDのバリデーションを追加
  api/internal/user/codes/codes.go
  api/internal/user/codes/codes_test.go
  api/internal/user/input.go
  api/internal/user/service/service.go
  api/pkg/validator/validator.go
  api/pkg/validator/validator_test.go
Labels: test, backend (user), backend (api)

#2143 feat(media): jpegからpngへ変換する処理の追加
  api/internal/media/cmd/resizer/registry.go
  api/internal/media/cmd/resizer/resizer.go
  api/internal/media/entity/regulation.go
  api/internal/media/entity/regulation_test.go
  api/internal/media/resizer/coordinator_test.go
  api/internal/media/resizer/image.go
  api/internal/media/resizer/image_test.go
  api/internal/media/resizer/producer_test.go
  api/internal/media/resizer/product_test.go
  api/internal/media/resizer/product_type_test.go
  api/internal/media/resizer/resizer.go
  api/internal/media/resizer/resizer_test.go
  api/internal/media/resizer/schedule_test.go
  api/internal/media/resizer/user_test.go
  api/internal/media/uploader/convert.go
  api/internal/media/uploader/uploader.go
  api/pkg/storage/client.go
Labels: test, backend (media), backend (api)

#2144 feat(admin): ライブ配信画像でjpegアップロードができるように
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleNew.vue
Labels: frontend (admin)

#2145 Fix: fixed schedule validation
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/types/validations/live.ts
Labels: mergeable, frontend (admin)

#2146 feat(workflow): バージョンを.tool-versionsから取るように
  .github/actions/setup-go/action.yaml
  .github/actions/setup-node/action.yaml
  .github/workflows/cd-serverless-for-main.yaml
  .github/workflows/ci-backend.yaml
  .github/workflows/ci-docs.yaml
  .github/workflows/ci-web-admin.yaml
  .github/workflows/ci-web-user.yaml
  web/admin/.node-version
  web/user/.node-version
Labels: mergeable, workflow, frontend (user), frontend (admin)

#2153 feat(workflow): リリースPRの自動化
  .github/release.yaml
  .github/workflows/pr-release.yaml
Labels: workflow

#2156 fix(admin): リサイズ画像をCDN側で作成するように
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ProductTypeList.vue
  web/admin/src/components/templates/CoordinatorList.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/layouts/default.vue
  web/admin/src/lib/helpers/image.ts
Labels: frontend (admin)

#2158 fix(media): リサイズ処理が実行されないように
  api/internal/media/service.go
  api/internal/media/service/resize.go
  api/internal/media/service/resize_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
Labels: test, backend (user), backend (store), backend (media), backend (api)

#2164 Release for v1.11.3
  CHANGELOG.md
Labels: tagpr

#2166 Release for v1.11.4
  CHANGELOG.md
Labels: tagpr

#2168 Release for v1.11.5
  CHANGELOG.md
Labels: tagpr

#2170 fix(workflow): Lambda@Edgeのデプロイフローを修正
  .github/workflows/cd-func-for-prd.yaml
  .github/workflows/cd-func-for-stg.yaml
  .github/workflows/pr-release.yaml
  func/bin/update-cloudfront-distribution.sh
  func/cloudfront-origin-response/Makefile
Labels: workflow, backend (function)

#2173 Release for v1.11.7
  CHANGELOG.md
Labels: tagpr

#2174 Release for v1.11.8
  CHANGELOG.md
Labels: tagpr

#2175 Release for v1.11.9
  CHANGELOG.md
Labels: tagpr

#2176 fix(func): オリジンレスポンスの処理を修正
  func/cloudfront-origin-response/src/app.ts
Labels: backend (function)

#2177 Release for v1.11.10
  CHANGELOG.md
Labels: tagpr

#2180 Fix: fixed guest puchse
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: mergeable, frontend (user)
