Repository and-period/furumaru, pull requests merged in 2025-05, with the labels that each got.

#2788 feat(store): Shippingsテーブルにレコード追加
  api/internal/store/database/database.go
  api/internal/store/entity/shipping.go
  api/internal/store/input.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  infra/tidb/schema/stores/2025050301-add-column-to-shippings.sql
Labels: mergeable, test, backend (store), backend (api)

#2790 fix: 管理者画面のラベルの表記を更新
  web/admin/src/components/templates/ShippingEdit.vue
Labels: mergeable, frontend (admin)

#2789 Release for v4.4.14
  CHANGELOG.md
Labels: mergeable, tagpr

#2791 feat: ふりがなのバリデーションを追加し、エラーメッセージを表示するように変更
  web/user/src/components/organisms/TheSignUpForm.vue
  web/user/src/components/templates/TheSignUpPage.vue
  web/user/src/pages/signup.vue
Labels: mergeable, frontend (user)

#2792 Release for v4.4.15
  CHANGELOG.md
Labels: mergeable, tagpr

#2793 Add: added coordinator register spply
  web/admin/src/components/templates/AuthSignIn.vue
Labels: frontend (admin)

#2794 Release for v4.4.16
  CHANGELOG.md
Labels: tagpr

#2800 feat(store): 配送設定のCRUD実装
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shipping.go
  api/internal/store/database/tidb/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  infra/tidb/schema/stores/2025050501-add-column-to-shippings.sql
Labels: test, backend (store), backend (api)

#2804 fix(docs): 配送関連のAPI仕様書を修正
  api/internal/gateway/admin/v1/handler/shipping.go
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/shippings/-/activation.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/shippings/_shippingId/activation.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/shippings/_shippingId/index.yaml
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/shippings/index.yaml
  web/admin/src/store/shipping.ts
  web/admin/src/types/api/api.ts
Labels: docs, backend (gateway), frontend (admin), backend (api)

#2805 feat(gateway): 配送設定取得APIの実装
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shipping.go
  api/internal/store/database/tidb/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
Labels: mergeable, test, backend (gateway), backend (store), backend (api)

#2806 feat(gateway): 配送設定追加と一覧取得APIの実装
  api/internal/gateway/admin/v1/handler/shipping.go
Labels: mergeable, backend (gateway), backend (api)

#2807 feat(gateway): 配送設定更新APIの実装
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
Labels: test, backend (gateway), backend (api)

#2795 fix(store): 配送種別の仕様を変更
  api/internal/store/database/tidb/shipping_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/exporter/general/general_test.go
  api/internal/store/service/order_test.go
Labels: mergeable, test, backend (store), backend (api)

#2808 chore: golangci-lint
  .github/actions/setup-go/action.yaml
  .github/workflows/ci-backend.yaml
  api/.golangci.yaml
  api/.tool-versions
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/media/database/database.go
  api/internal/media/service.go
  api/internal/messenger/database/database.go
  api/internal/messenger/service.go
  api/internal/store/database/database.go
  api/internal/store/komoju/komoju.go
  api/internal/store/service.go
  api/internal/user/database/database.go
  api/internal/user/service.go
  api/pkg/batch/client.go
  api/pkg/cognito/client.go
  api/pkg/dynamodb/client.go
  api/pkg/firebase/messaging/client.go
  api/pkg/geolocation/client.go
  api/pkg/ivs/client.go
  api/pkg/line/client.go
  api/pkg/mailer/client.go
  api/pkg/mediaconvert/client.go
  api/pkg/medialive/client.go
  api/pkg/postalcode/client.go
  api/pkg/rbac/enforcer.go
  api/pkg/secret/client.go
  api/pkg/sentry/client.go
  api/pkg/sfn/client.go
  api/pkg/slack/client.go
  api/pkg/sqs/client.go
  api/pkg/storage/client.go
  api/pkg/stripe/client.go
  api/pkg/validator/validator.go
  api/pkg/youtube/client.go
Labels: mergeable, workflow, backend (user), backend (store), backend (media), backend (messenger), backend (api)

#2811 fix(api): Golangのバージョンを更新
  infra/docker/api/Dockerfile
  infra/docker/api/Dockerfile.development
  infra/docker/api/hack/Dockerfile
  infra/docker/api/media-update-archive/Dockerfile
Labels: infra (container), mergeable

#2812 Fix: 体験で動画があれば動画を表示するように修正
  web/user/src/components/molecules/experiences/TheExperienceMarker.vue
  web/user/src/pages/experiences/index.vue
Labels: mergeable, frontend (user)

#2813 feat(store): 注文ステータスの変更ロジックの改修
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
Labels: mergeable, test, backend (store), backend (api)

#2814 feat(admin): 注文ステータスの変更ロジックの改修
  web/admin/src/components/templates/OrderShow.vue
Labels: mergeable, frontend (admin)

#2815 fix(admin): 発送完了通知後も配送情報を更新できるように
  web/admin/src/components/templates/OrderShow.vue
Labels: mergeable, frontend (admin)

#2822 fix(docs): 配送関連のAPI仕様書を修正
  docs/swagger/admin/paths/v1/coordinators/_coordinatorId/shippings/index.yaml
  web/admin/src/types/api/api.ts
Labels: docs, frontend (admin)

#2821 feat(store): 配送設定名の追加
  api/hack/database-seeds/master/shipping.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/response/shipping.go
  api/internal/gateway/admin/v1/service/shipping.go
  api/internal/gateway/admin/v1/service/shipping_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shipping.go
  api/internal/store/database/tidb/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  infra/tidb/schema/stores/2025050501-add-column-to-shippings.sql
  infra/tidb/schema/stores/2025052301-add-column-to-shippings.sql
Labels: test, backend (gateway), backend (store), backend (api)

#2826 feat(gateway): コーディネータ詳細取得APIに配送設定を追加
  api/internal/codes/prefecture.go
  api/internal/codes/prefecture_test.go
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/shipping.go
  api/internal/gateway/user/v1/response/coordinator.go
  api/internal/gateway/user/v1/response/shipping.go
  api/internal/gateway/user/v1/service/shipping.go
  api/internal/gateway/user/v1/service/shipping_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
  docs/swagger/user/components/schemas/entity/shipping.yaml
  docs/swagger/user/components/schemas/v1/coordinator.response.yaml
  docs/swagger/user/openapi.yaml
  web/user/src/types/api/models/CoordinatorResponse.ts
  web/user/src/types/api/models/Shipping.ts
  web/user/src/types/api/models/ShippingRate.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), backend (store), backend (api)
