Repository and-period/furumaru, pull requests merged in 2025-09, with the labels that each got.

#2983 feat(api): Add facility gateway services and handlers
  api/internal/gateway/user/facility/handler/cart.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/product.go
  api/internal/gateway/user/facility/handler/promotion.go
  api/internal/gateway/user/facility/response/cart.go
  api/internal/gateway/user/facility/service/cart.go
  api/internal/gateway/user/facility/service/cart_test.go
  api/internal/gateway/user/facility/service/order_fulfillment.go
  api/internal/gateway/user/facility/service/order_fulfillment_test.go
  api/internal/gateway/user/facility/service/promotion.go
  api/internal/gateway/user/facility/service/promotion_test.go
  api/internal/store/entity/order_payment_summary.go
  api/internal/store/entity/order_payment_summary_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
Labels: test, backend (gateway), backend (store), backend (api)

#2985 SEO修正: タイトル・ディスクリプション変更、sitemap.xml作成
  web/user/nuxt.config.ts
  web/user/src/public/sitemap.xml
Labels: frontend (user)

#2994 fix(api): メッセンジャーサービスで注文確定時の顧客情報取得を修正
  api/internal/gateway/user/facility/handler/checkout.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  docs/swagger/gen/user/v1/swagger.yaml
Labels: docs, mergeable, test, backend (gateway), backend (messenger), backend (api)

#2995 feat(api): リフレッシュトークン管理機能の実装
  .github/workflows/ci-docs.yaml
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/jwt.go
  api/internal/gateway/user/facility/auth/jwt_test.go
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/service/auth.go
  api/internal/gateway/user/facility/service/auth_test.go
  api/pkg/dynamodb/client.go
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  docs/swagger/gen/user/v1/swagger.yaml
Labels: docs, test, workflow, backend (gateway), backend (api)

#2997 feat(api): APIリクエスト構造体にバリデーションタグを追加
  api/internal/gateway/admin/v1/request/administrator.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/gateway/admin/v1/request/broadcast.go
  api/internal/gateway/admin/v1/request/category.go
  api/internal/gateway/admin/v1/request/contact.go
  api/internal/gateway/admin/v1/request/contact_read.go
  api/internal/gateway/admin/v1/request/coordinator.go
  api/internal/gateway/admin/v1/request/experience.go
  api/internal/gateway/admin/v1/request/experience_type.go
  api/internal/gateway/admin/v1/request/live.go
  api/internal/gateway/admin/v1/request/live_comment.go
  api/internal/gateway/admin/v1/request/notification.go
  api/internal/gateway/admin/v1/request/order.go
  api/internal/gateway/admin/v1/request/payment_system.go
  api/internal/gateway/admin/v1/request/producer.go
  api/internal/gateway/admin/v1/request/product.go
  api/internal/gateway/admin/v1/request/product_tag.go
  api/internal/gateway/admin/v1/request/product_type.go
  api/internal/gateway/admin/v1/request/promotion.go
  api/internal/gateway/admin/v1/request/schedule.go
  api/internal/gateway/admin/v1/request/shipping.go
  api/internal/gateway/admin/v1/request/shop.go
  api/internal/gateway/admin/v1/request/spot.go
  api/internal/gateway/admin/v1/request/spot_type.go
  api/internal/gateway/admin/v1/request/thread.go
  api/internal/gateway/admin/v1/request/uploader.go
  api/internal/gateway/admin/v1/request/video.go
  api/internal/gateway/admin/v1/request/video_comment.go
  api/internal/gateway/user/facility/auth/jwt.go
  api/internal/gateway/user/facility/auth/jwt_test.go
  api/internal/gateway/user/facility/request/checkout.go
  api/internal/gateway/user/v1/request/address.go
  api/internal/gateway/user/v1/request/auth.go
  api/internal/gateway/user/v1/request/auth_user.go
  api/internal/gateway/user/v1/request/cart.go
  api/internal/gateway/user/v1/request/checkout.go
  api/internal/gateway/user/v1/request/experience_review.go
  api/internal/gateway/user/v1/request/guest_checkout.go
  api/internal/gateway/user/v1/request/guest_live_comment.go
  api/internal/gateway/user/v1/request/guest_video_comment.go
  api/internal/gateway/user/v1/request/live_comment.go
  api/internal/gateway/user/v1/request/product_review.go
  api/internal/gateway/user/v1/request/spot.go
  api/internal/gateway/user/v1/request/uploader.go
  api/internal/gateway/user/v1/request/video_comment.go
  api/internal/store/input.go
  docs/swagger/gen/admin/v1/swagger.yaml
  docs/swagger/gen/user/facility/swagger.yaml
  docs/swagger/gen/user/v1/swagger.yaml
Labels: docs, test, backend (gateway), backend (store), backend (api)

#2965 Release for v6.0.0
  CHANGELOG.md
Labels: mergeable, tagpr, tagpr:major

#3007 Release for v6.0.1
  CHANGELOG.md
Labels: tagpr

#3029 feat(workflow): LIFFアプリの本番リリース用ワークフローを追加
  .github/workflows/cd-web-liff-for-prd.yaml
Labels: mergeable, workflow

#3030 feat(web): add LIFF initialization to facility detail page
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/guest.go
  web/liff/src/pages/[facilityId]/index.vue
Labels: backend (user), backend (api)

#3033 fix(user): 外部施設向け利用者登録時のバリデーション修正
  api/internal/user/service/facility_user.go
  api/internal/user/service/facility_user_test.go
Labels: test, backend (user), backend (api)

#3009 Release for v7.0.0
  CHANGELOG.md
Labels: mergeable, tagpr, tagpr:major

#3034 feat(web): 動画編集画面にタブ機能と分析情報を追加
  web/admin/src/components/organisms/VideoAnalytics.vue
  web/admin/src/components/organisms/VideoPreview.vue
  web/admin/src/components/templates/VideoEdit.vue
  web/admin/src/pages/system.vue
  web/admin/src/pages/videos/[id]/index.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/store/index.ts
  web/admin/src/store/video-comment.ts
  web/admin/src/store/video.ts
  web/admin/src/types/plugins/index.d.ts
  web/admin/src/types/props/index.ts
  web/admin/src/types/props/video.ts
Labels: frontend (admin)

#3037 feat(web): メッセージ一覧UIを現代的なメールクライアント風に刷新
  docs/spec/internal/20250914_message-list-ui-improvement.md
  web/admin/src/components/templates/MessageList.vue
  web/admin/src/pages/messages/index.vue
Labels: docs, frontend (admin)

#3041 feat(web): プロモーション管理UIの改善・統一化
  docs/spec/internal/20250914_promotion-ui-improvement.md
  web/admin/src/components/molecules/PromotionPeriodInput.vue
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionNew.vue
  web/admin/src/composables/usePromotionForm.ts
  web/admin/src/composables/usePromotionValidation.ts
  web/admin/src/constants/promotion.ts
Labels: docs, frontend (admin)

#3042 feat(web): 顧客詳細画面のUI改善とモダン化
  docs/spec/internal/20250914_customer-show-ui-improvement.md
  docs/spec/internal/template.md
  web/admin/src/components/templates/CustomerShow.vue
  web/admin/src/store/customer.ts
Labels: docs, frontend (admin)

#3046 feat(web): 生産者管理ページUI・UX改善
  docs/spec/internal/20250915_producer-pages-ui-improvement.md
  web/admin/src/components/templates/ProducerEdit.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProducerNew.vue
Labels: docs, frontend (admin)

#3047 feat(web): 商品管理ページUI・UX改善
  docs/spec/internal/20250915_product-pages-ui-improvement.md
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/pages/products/[id]/index.vue
  web/admin/src/types/validations/product.ts
Labels: docs, frontend (admin)

#3050 feat(web): スケジュール・体験管理ページUI/UX改善の最終仕上げ
  docs/spec/internal/20250115_schedule-experience-ui-improvement.md
  web/admin/src/components/organisms/LiveList.vue
  web/admin/src/components/organisms/ScheduleAnalytics.vue
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/ScheduleStreaming.vue
  web/admin/src/components/templates/ScheduleEdit.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/ScheduleNew.vue
  web/admin/src/pages/schedules/[id]/index.vue
  web/admin/src/store/schedule.ts
Labels: docs, frontend (admin)

#3052 feat(web): 動画管理ページのUI/UX改善と定数整理
  web/admin/src/components/organisms/ScheduleShow.vue
  web/admin/src/components/organisms/VideoShow.vue
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/ExperienceNew.vue
  web/admin/src/components/templates/ProductEdit.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/ProductNew.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/VideoList.vue
  web/admin/src/components/templates/VideoNew.vue
  web/admin/src/constants/experience.ts
  web/admin/src/constants/index.ts
  web/admin/src/constants/product.ts
  web/admin/src/constants/schedule.ts
  web/admin/src/constants/video.ts
  web/admin/src/pages/experiences/[id]/index.vue
  web/admin/src/plugins/vuetify.ts
Labels: docs, frontend (admin)

#3063 fix(web): 管理画面の一覧ページのレスポンシブ対応
  web/admin/src/components/templates/ExperienceList.vue
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/components/templates/NotificationList.vue
  web/admin/src/components/templates/OrderList.vue
  web/admin/src/components/templates/ProducerList.vue
  web/admin/src/components/templates/ProductList.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/components/templates/ScheduleList.vue
  web/admin/src/components/templates/VideoList.vue
Labels: frontend (admin)

#3064 Release for v7.1.1
  CHANGELOG.md
Labels: tagpr

#3069 feat(web): improve CoordinatorEdit design and shipping settings UI
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  web/admin/src/components/molecules/ShippingRateForm.vue
  web/admin/src/components/organisms/CoordinatorShipping.vue
  web/admin/src/components/organisms/CoordinatorShop.vue
  web/admin/src/components/organisms/CoordinatorShow.vue
  web/admin/src/components/organisms/ShippingForm.vue
  web/admin/src/components/templates/AuthTop.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/components/templates/SystemTop.vue
  web/admin/src/constants/common.ts
  web/admin/src/pages/accounts/coordinator/index.vue
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/shippings/[id]/index.vue
  web/admin/src/pages/shippings/default.vue
  web/admin/src/pages/shippings/index.vue
  web/admin/src/pages/shippings/new.vue
  web/admin/src/pages/system.vue
  web/admin/src/store/shipping.ts
  web/admin/src/types/validations/shipping.ts
  web/admin/src/types/validations/shop.ts
Labels: test, backend (gateway), frontend (admin), backend (store), backend (api)

#3072 feat: improve coordinator and shop management features
  api/Makefile
  api/hack/simplify-openapi-components/main.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/shipping.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  docker-compose.yaml
  docs/spec/swagger/admin/v1/swagger.yaml
  docs/spec/swagger/user/facility/swagger.yaml
  web/admin/eslint.config.mjs
  web/admin/src/components/organisms/CoordinatorShop.vue
  web/admin/src/components/templates/CoordinatorEdit.vue
  web/admin/src/components/templates/CoordinatorNew.vue
  web/admin/src/pages/accounts/coordinator/index.vue
  web/admin/src/pages/coordinators/[id]/index.vue
  web/admin/src/pages/coordinators/new.vue
  web/admin/src/plugins/firebase.ts
  web/admin/src/store/auth.ts
  web/admin/src/store/shipping.ts
  web/admin/src/store/shop.ts
  web/admin/src/types/api/v1/apis/AuthApi.ts
  web/admin/src/types/api/v1/apis/ShippingApi.ts
  web/admin/src/types/api/v1/models/CreateCoordinatorRequest.ts
  web/admin/src/types/api/v1/models/UpdateShopRequest.ts
  web/admin/src/types/api/v1/models/index.ts
  web/admin/stylelint.config.js
  web/liff/src/types/api/facility/models/Coordinator.ts
  web/liff/src/types/api/facility/models/index.ts
Labels: docs, test, backend (gateway), frontend (liff), frontend (admin), backend (store), backend (api)

#3073 fix(web): Firebase Messaging の未サポートブラウザ対応
  web/admin/src/plugins/firebase.ts
  web/admin/src/store/auth.ts
Labels: frontend (admin)

#3074 Release for v7.1.3
  CHANGELOG.md
Labels: tagpr

#3078 fix(api): admin auth テストの修正
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/pkg/cognito/admin.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
Labels: test, backend (user), backend (api)

#3087 feat(store): 受け取り情報を連携できるように
  api/internal/gateway/user/facility/handler/checkout.go
  api/internal/gateway/user/facility/types/checkout.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_metadata.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  docs/spec/swagger/user/facility/swagger.yaml
  infra/tidb/schema/stores/2025092501-alter-columns-to-order-metadata.sql
Labels: docs, infra (database), backend (gateway), backend (store), backend (api)

#3088 Fix/liff/checkin/datetime
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/shared/src/components/FmTextInput.vue
Labels: mergeable, frontend (liff)

#3090 Fix/auth/token refresh
  web/liff/src/layouts/default.vue
  web/liff/src/pages/[facilityId]/checkin/index.vue
  web/liff/src/pages/[facilityId]/mypage.vue
  web/liff/src/pages/[facilityId]/orders/index.vue
  web/liff/src/stores/user.ts
Labels: mergeable, frontend (liff)

#3092 fix: ラベル名を宿泊日時を変更
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/liff/src/stores/user.ts
Labels: mergeable, frontend (liff)

#3093 feat: コーディネータ情報にオンデマンド映像情報も追加
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/types/coordinator.go
  docs/spec/swagger/user/v1/swagger.yaml
Labels: docs, backend (gateway), backend (api)

#3095 fix(auth): 管理者アカウントの外部連携処理を修正
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
Labels: test, backend (user), backend (api)
