Repository and-period/furumaru, pull requests merged in 2025-04, with the labels that each got.

#2776 refactor(hack): メール送信コマンドのパフォーマンス改善
  api/hack/messenger-send-email/main.go
Labels: backend (api)

#2777 fix(gateway): レビューの平均値の四捨五入
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/product.go
  api/pkg/format/number.go
  api/pkg/format/number_test.go
Labels: mergeable, test, backend (gateway), backend (api)

#2782 商品詳細ページのエラーハンドリングを強化
  web/user/src/components/molecules/ThePhoneNumberInput.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/templates/TheItem.vue
  web/user/src/pages/items/[...id].vue
  web/user/src/types/locales/i18n.ts
  web/user/src/types/store/shopping.ts
Labels: mergeable, frontend (user)
