Repository and-period/furumaru, pull requests merged in 2025-01, with the labels that each got.

#2614 feat(media): アーカイブ配信のメタデータ追加
  api/internal/gateway/user/v1/response/schedule.go
  api/internal/gateway/user/v1/service/schedule.go
  api/internal/gateway/user/v1/service/schedule_test.go
  api/internal/media/database/database.go
  api/internal/media/database/mysql/broadcast.go
  api/internal/media/database/mysql/broadcast_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_test.go
  api/internal/store/service/checkout_test.go
  docs/swagger/user/components/schemas/entity/schedule.yaml
  infra/mysql/schema/2025010101-media-add-columns.sql
  infra/tidb/schema/media/2025010101-add-column-to-broadcasts.sql
  web/user/src/types/api/models/Schedule.ts
  web/user/src/types/api/models/ScheduleDistributionMetadata.ts
  web/user/src/types/api/models/index.ts
Labels: docs, mergeable, test, infra (database), backend (gateway), frontend (user), backend (store), backend (media), backend (api)

#2615 fix(hack): S3オブジェクトキーの生成処理を修正
  api/hack/media-update-archive/main.go
Labels: mergeable, backend (api)

#2617 fix(docs): ゲスト購入APIのapi docsを修正
  docs/swagger/user/paths/v1/guests/checkouts/experiences/_experienceId/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/apis/GuestApi.ts
  web/user/src/types/api/models/GuestCheckoutExperienceRequest.ts
  web/user/src/types/api/models/index.ts
Labels: docs, mergeable, frontend (user)

#2620 feat(gateway): 体験購入前確認用のAPIを実装
  api/internal/gateway/user/v1/handler/cart.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/gateway/user/v1/handler/guest_checkout.go
  api/internal/gateway/user/v1/response/cart.go
  api/internal/gateway/user/v1/response/checkout.go
  api/internal/gateway/user/v1/service/experience.go
  api/internal/gateway/user/v1/service/experience_test.go
  docs/swagger/user/components/schemas/v1/checkout.response.yaml
  docs/swagger/user/components/schemas/v1/guest-checkout.response.yaml
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/checkouts/experiences/_experienceId/index.yaml
  docs/swagger/user/paths/v1/guests/checkouts/experiences/_experienceId/index.yaml
  web/user/src/types/api/apis/CheckoutApi.ts
  web/user/src/types/api/models/GuestPreCheckoutExperienceResponse.ts
  web/user/src/types/api/models/PreCheckoutExperienceResponse.ts
  web/user/src/types/api/models/index.ts
Labels: docs, test, backend (gateway), frontend (user), backend (api)

#2621 feat(user): 管理者エンティティにフィールド追加
  api/internal/gateway/admin/v1/response/admin.go
  api/internal/gateway/admin/v1/service/admin.go
  api/internal/gateway/admin/v1/service/admin_test.go
  api/internal/store/service/spot_test.go
  api/internal/user/database/mysql/admin_test.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_role.go
  api/internal/user/entity/admin_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  infra/mysql/schema/2025010201-users-add-columns.sql
  infra/tidb/schema/users/2025010201-add-column-to-admins.sql
Labels: test, backend (user), infra (database), backend (gateway), backend (store), backend (api)

#2612 Release for v3.4.1
  CHANGELOG.md
Labels: tagpr

#2623 Release for v3.4.2
  CHANGELOG.md
Labels: tagpr

#2624 feat(user): 管理面ロール用のエンティティ定義を更新
  api/internal/user/database/mysql/admin.go
  api/internal/user/database/mysql/admin_test.go
  api/internal/user/database/mysql/administrator.go
  api/internal/user/database/mysql/coordinator.go
  api/internal/user/database/mysql/producer.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/producer.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_role.go
  api/internal/user/entity/admin_test.go
Labels: test, backend (user), backend (api)

#2628 feat(infra): TiDBの実行環境整備
  .github/actions/setup-tidb/action.yaml
  .github/workflows/ci-backend.yaml
  api/internal/media/database/tidb/tidb_test.go
  api/internal/messenger/database/tidb/tidb_test.go
  api/internal/store/database/tidb/live.go
  api/internal/store/database/tidb/live_test.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/database/tidb/product_test.go
  api/internal/store/database/tidb/promotion_test.go
  api/internal/store/database/tidb/schedule_test.go
  api/internal/store/database/tidb/tidb_test.go
  api/internal/user/database/tidb/address.go
  api/internal/user/database/tidb/address_test.go
  api/internal/user/database/tidb/coordinator_test.go
  api/internal/user/database/tidb/producer_test.go
  api/internal/user/database/tidb/tidb_test.go
  api/internal/user/database/tidb/user_test.go
  api/pkg/mysql/client_test.go
  infra/docker/infra/tidb/Dockerfile
Labels: infra (container), test, workflow, backend (user), backend (store), backend (media), backend (messenger), backend (api)

#2629 fix(gateway): 呼ぶメソッドが間違ってる箇所の修正
  api/internal/gateway/user/v1/handler/guest_checkout.go
Labels: backend (gateway), backend (api)

#2630 refactor(api): DB操作時のJSONパース処理をDB層へ寄せる
  api/hack/database-seeds/store/execute.go
  api/internal/media/database/tidb/broadcast.go
  api/internal/media/database/tidb/broadcast_comment_test.go
  api/internal/media/database/tidb/broadcast_test.go
  api/internal/media/database/tidb/broadcast_viewer_log_test.go
  api/internal/media/entity/broadcast.go
  api/internal/media/entity/broadcast_test.go
  api/internal/messenger/database/tidb/notification.go
  api/internal/messenger/database/tidb/notification_test.go
  api/internal/messenger/database/tidb/received_queue.go
  api/internal/messenger/database/tidb/received_queue_test.go
  api/internal/messenger/entity/notification.go
  api/internal/messenger/entity/notification_test.go
  api/internal/messenger/entity/received_queue.go
  api/internal/messenger/entity/received_queue_test.go
  api/internal/store/database/tidb/live_test.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/database/tidb/product.go
  api/internal/store/database/tidb/product_review_reaction_test.go
  api/internal/store/database/tidb/product_review_test.go
  api/internal/store/database/tidb/product_test.go
  api/internal/store/database/tidb/shipping.go
  api/internal/store/database/tidb/shipping_test.go
  api/internal/store/entity/order_experience.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/shipping_revision.go
  api/internal/store/entity/shipping_revision_test.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/coordinator_test.go
  api/internal/user/database/tidb/producer_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
Labels: test, backend (user), backend (store), backend (media), backend (messenger), backend (api)

#2631 fix(docs): オンデマンド配信へのコメント投稿APIのドキュメント追加
  docs/swagger/user/openapi.yaml
  docs/swagger/user/paths/v1/videos/_videoId/comments/index.yaml
  web/user/src/types/api/apis/VideoApi.ts
  web/user/src/types/api/models/index.ts
Labels: docs, frontend (user)

#2636 認証済みユーザーでの体験購入フローの整備
  web/user/src/locales/ja_jp.json
  web/user/src/pages/experiences/[...id].vue
  web/user/src/pages/experiences/purchase/index.vue
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#2635 Fix: fixed video function
  web/admin/src/pages/videos/[id]/index.vue
  web/admin/src/pages/videos/index.vue
  web/admin/src/pages/videos/new.vue
  web/admin/src/store/video.ts
Labels: mergeable, frontend (admin)

#2638 fix(database): 削除件数が0件になる不具合を修正
  api/internal/media/database/tidb/video.go
  api/internal/store/database/tidb/live.go
Labels: mergeable, backend (store), backend (media), backend (api)

#2639 feat(media): オンデマンド配信のバリデーションを削除
  api/internal/media/entity/video.go
  api/internal/media/entity/video_test.go
  api/internal/media/service/video.go
  api/internal/media/service/video_test.go
Labels: test, backend (media), backend (api)

#2637 feat(user): 管理者権限をDBで管理できるようにするためのロジック実装
  api/hack/database-seeds/main.go
  api/hack/database-seeds/master/role.go
  api/hack/database-seeds/user/execute.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/admin_group.go
  api/internal/user/database/tidb/admin_group_role.go
  api/internal/user/database/tidb/admin_group_role_test.go
  api/internal/user/database/tidb/admin_group_test.go
  api/internal/user/database/tidb/admin_group_user.go
  api/internal/user/database/tidb/admin_group_user_test.go
  api/internal/user/database/tidb/admin_policy.go
  api/internal/user/database/tidb/admin_policy_test.go
  api/internal/user/database/tidb/admin_role.go
  api/internal/user/database/tidb/admin_role_policy.go
  api/internal/user/database/tidb/admin_role_policy_test.go
  api/internal/user/database/tidb/admin_role_test.go
  api/internal/user/database/tidb/tidb.go
  api/internal/user/database/tidb/tidb_test.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_role.go
  api/internal/user/entity/admin_role_test.go
  api/internal/user/entity/admin_test.go
  api/internal/user/entity/testdata/admin-role.csv
  api/internal/user/service/service_test.go
  infra/tidb/schema/users/2025010801-create-admin-roles.sql
Labels: test, backend (user), backend (api)

#2640 feat(user): 管理者登録時に権限付与するロジックを追加
  api/hack/database-seeds/common/common.go
  api/hack/database-seeds/main.go
  api/hack/database-seeds/master/role.go
  api/hack/database-seeds/store/execute.go
  api/hack/database-seeds/user/execute.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/database/tidb/admin.go
  api/internal/user/database/tidb/administrator.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/producer.go
  api/internal/user/entity/admin.go
  api/internal/user/entity/admin_role.go
  api/internal/user/entity/admin_test.go
  api/internal/user/entity/administrator.go
  api/internal/user/entity/administrator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/entity/producer.go
  api/internal/user/entity/producer_test.go
  api/internal/user/service/administrator.go
  api/internal/user/service/administrator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  api/internal/user/service/producer.go
  api/internal/user/service/producer_test.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
Labels: test, backend (user), backend (gateway), backend (api)

#2641 体験周りのエラーハンドリングの強化
  web/user/src/pages/experiences/[...id].vue
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
Labels: mergeable, frontend (user)

#2642 fix(store): jsonのunmarshal処理を修正
  api/internal/media/database/tidb/broadcast.go
  api/internal/messenger/database/tidb/notification.go
  api/internal/messenger/database/tidb/received_queue.go
  api/internal/store/database/tidb/experience.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/product.go
  api/internal/store/database/tidb/shipping.go
  api/internal/user/database/tidb/coordinator.go
Labels: backend (user), backend (store), backend (media), backend (messenger), backend (api)

#2644 feat(workflow): DBのマイグレーション処理を実装
  .github/workflows/_database_migrate.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
  api/hack/database-migrate/main.go
  api/hack/database-seeds/common/common.go
  api/hack/database-seeds/main.go
  api/hack/database-seeds/master/role.go
  api/hack/database-seeds/user/execute.go
Labels: workflow, backend (api)

#2643 feat: フォーム送信中のアニメーションを追加
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
Labels: frontend (user)

#2646 fix(workflow): GitHub ActionsのVariablesへのアクセス方法を変更
  .github/workflows/_database_migrate.yaml
  .github/workflows/cd-gateway-for-prd.yaml
  .github/workflows/cd-gateway-for-stg.yaml
Labels: workflow

#2647 feat(gateway): 認可ロジックの移行
  api/internal/exception/exception.go
  api/internal/exception/exception_test.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_role.go
  api/internal/user/service/admin_role_test.go
  api/pkg/rbac/enforcer.go
Labels: test, backend (user), backend (gateway), backend (api)

#2649 feat(messenger): SendGridテンプレートの取得処理を変更
  api/config/gateway/admin/rbac/model.conf
  api/config/gateway/admin/rbac/policy.csv
  api/config/messenger/mailer/dev.yaml
  api/config/messenger/mailer/prd.yaml
  api/config/messenger/mailer/stg.yaml
  api/internal/messenger/cmd/worker/registry.go
  api/internal/messenger/cmd/worker/worker.go
Labels: backend (messenger), backend (api)

#2625 Release for v4.0.0
  CHANGELOG.md
Labels: tagpr, tagpr:major

#2651 Release for v4.0.1
  CHANGELOG.md
Labels: tagpr

#2652 fix(store): 注文履歴一覧をcreated_atの降順で並び替え
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
Labels: test, backend (store), backend (api)

#2653 Release for v4.0.2
  CHANGELOG.md
Labels: tagpr

#2655 Release for v4.0.3
  CHANGELOG.md
Labels: tagpr

#2656 fix(store): 注文履歴一覧の修正
  api/internal/store/database/tidb/order.go
Labels: mergeable, backend (store), backend (api)

#2657 Release for v4.0.4
  CHANGELOG.md
Labels: tagpr

#2660 refactor(messenger): メソッド名の変更
  api/hack/database-seeds/master/report-template.csv
  api/internal/messenger/entity/mail_config.go
  api/internal/messenger/entity/payload.go
  api/internal/messenger/entity/report_config.go
  api/internal/messenger/input.go
  api/internal/messenger/service.go
  api/internal/messenger/service/notify.go
  api/internal/messenger/service/notify_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
  api/internal/store/service/checkout_test.go
Labels: test, backend (store), backend (messenger), backend (api)

#2661 Release for v4.0.5
  CHANGELOG.md
Labels: tagpr

#2663 fix(gateway): 注文詳細が取得できない不具合の修正
  api/internal/gateway/user/v1/handler/order.go
Labels: mergeable, backend (gateway), backend (api)

#2664 Release for v4.0.6
  CHANGELOG.md
Labels: tagpr

#2665 Release for v4.0.7
  CHANGELOG.md
Labels: tagpr

#2662 feat(store): 商品購入のフローを刷新
  api/internal/gateway/admin/v1/service/order_payment.go
  api/internal/gateway/admin/v1/service/order_payment_test.go
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/komoju/handler/payment.go
  api/internal/gateway/user/v1/service/order_payment.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/cart.go
  api/internal/store/entity/cart_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/cart.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
  api/internal/store/service/checkout_test.go
  api/pkg/dynamodb/client.go
Labels: test, backend (gateway), backend (store), backend (api)

#2668 体験購入周りセットアップ処理の修正と電話番号フォームの修正
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
Labels: mergeable, frontend (user)

#2669 fix: 注文詳細で請求先情報の部分でエラーになっている部分の対応
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
Labels: mergeable, frontend (admin)

#2670 fix(gateway): di周りの修正
  api/internal/gateway/cmd/admin/registry.go
Labels: backend (gateway), backend (api)

#2671 feat(store): トップページで使用する売上ダッシュボード用のAPI実装
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/top.go
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/response/top.go
  api/internal/gateway/admin/v1/service/top_order.go
  api/internal/gateway/admin/v1/service/top_order_test.go
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  docs/swagger/admin/components/schemas/codes/top.yaml
  docs/swagger/admin/components/schemas/entity/top.yaml
  docs/swagger/admin/components/schemas/v1/top.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/top/orders.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#2675 fix(store): Webhookが無限にリトライする問題を修正
  api/internal/store/komoju/errors.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
Labels: test, backend (store), backend (api)

#2680 fix(hack): seedsの修正
  api/hack/database-seeds/master/payment-status.csv
  api/hack/database-seeds/store/execute.go
Labels: backend (api)

#2682 feat(store): 銀行振込決済の実装
  api/internal/gateway/admin/v1/handler/payment_system.go
  api/internal/gateway/user/v1/handler/checkout.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/pkg/japanese/japanese.go
  api/pkg/japanese/japanese_test.go
Labels: test, backend (gateway), backend (store), backend (api)

#2683 fix: 体験情報が取得できていない場合に再取得する処理を追加
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
Labels: mergeable, frontend (user)

#2684 fix: 郵便番号のエラーメッセージがリセットされない不具合の修正
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/guest/address.vue
Labels: mergeable, frontend (user)

#2685 すべての体験へのリンクを追加
  web/user/src/components/organisms/header/TheAppHeader.vue
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#2689 feat(admin): 支払い方法別の集計内容を追加
  api/internal/gateway/admin/v1/handler/top.go
  api/internal/gateway/admin/v1/response/top.go
  api/internal/gateway/admin/v1/service/top_order.go
  api/internal/gateway/admin/v1/service/top_order_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_payment.go
  api/internal/store/entity/order_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  docs/swagger/admin/components/schemas/entity/top.yaml
  docs/swagger/admin/components/schemas/v1/top.response.yaml
  docs/swagger/admin/openapi.yaml
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#2688 Feat: added video function in user page
  web/user/src/components/atoms/TheVideoDescription.vue
  web/user/src/components/atoms/TheVideoPlayer.vue
  web/user/src/components/molecules/TheVideoExperienceItem.vue
  web/user/src/components/molecules/TheVideoItem.vue
  web/user/src/components/molecules/TheVideoProductListItem.vue
  web/user/src/lib/experience.ts
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
  web/user/src/pages/video/[...id].vue
  web/user/src/plugins/api-client.ts
  web/user/src/store/home.ts
  web/user/src/store/video.ts
  web/user/src/types/plugins/index.d.ts
Labels: mergeable, frontend (user)

#2690 fix(admin): トップページのUI修正
  web/admin/src/components/templates/HomeTop.vue
Labels: frontend (admin)

#2692 fix(store): KOMOJUのステータスに応じて処理を変えるように
  api/internal/store/komoju/komoju.go
  api/internal/store/komoju/payment/payment.go
  api/internal/store/komoju/payment/payment_test.go
  api/internal/store/service/checkout_event.go
  api/internal/store/service/checkout_event_test.go
Labels: test, backend (store), backend (api)

#2693 fix: sentryの設定を環境変数が設定されている場合のみにロードするように修正
  web/admin/nuxt.config.ts
Labels: mergeable, frontend (admin)

#2694 Fix: fixed experience register
  web/admin/src/components/templates/ExperienceNew.vue
Labels: mergeable, frontend (admin)

#2666 Release for v4.1.0
  CHANGELOG.md
Labels: mergeable, tagpr, tagpr:minor

#2697 fix(user): 山田が頑張った
  web/user/nuxt.config.ts
  web/user/vite.config.js
Labels: mergeable, frontend (user)

#2700 feat: Google Mapの描画を安定化
  web/user/src/components/molecules/experiences/TheSpotSearchForm.vue
  web/user/src/pages/experiences/index.vue
Labels: mergeable, frontend (user)

#2695 wip: Google認証
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/request/auth.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/service.go
  api/internal/user/service/service_test.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
  docs/swagger/admin/components/schemas/v1/auth.request.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/google.yaml
  web/admin/nuxt.config.ts
  web/admin/src/components/templates/AuthSignIn.vue
  web/admin/src/components/templates/HomeTop.vue
  web/admin/src/lib/externals/index.ts
  web/admin/src/lib/externals/oauth.ts
  web/admin/src/middleware/auth.global.ts
  web/admin/src/pages/auth/google/callback.vue
  web/admin/src/pages/signin.vue
  web/admin/src/server/api/auth/google/[code].ts
  web/admin/src/store/auth.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin), backend (api)
