Repository and-period/furumaru, pull requests merged in 2025-10, with the labels that each got.

#3097 Fix/liff/checkout
  web/liff/src/pages/[facilityId]/checkout/index.vue
Labels: mergeable, frontend (user), frontend (liff), frontend (admin)

#3109 LIFFのセットアップ処理を整理
  web/liff/nuxt.config.ts
  web/liff/src/composables/useLiffInit.ts
  web/liff/src/layouts/default.vue
  web/liff/src/middleware/auth.global.ts
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/liff/src/pages/[facilityId]/checkout/index.vue
  web/liff/src/pages/[facilityId]/complete.vue
  web/liff/src/pages/[facilityId]/index.vue
  web/liff/src/pages/[facilityId]/items/[id].vue
  web/liff/src/pages/index.vue
  web/liff/src/pages/legal-notice.vue
  web/liff/src/pages/privacy.vue
  web/liff/src/plugins/liff.client.ts
  web/liff/src/stores/auth.ts
  web/liff/src/stores/checkout.ts
  web/liff/src/stores/product.ts
  web/liff/src/stores/shopping.ts
  web/liff/src/types/nuxt-liff.d.ts
Labels: frontend (liff)

#3110 fix: error句に処理が記述されていたので修正
  web/liff/src/middleware/auth.global.ts
Labels: frontend (liff)

#3111 feat:チェックイン登録が必須の場合はチェックイン登録画面から遷移できないように変更
  web/liff/src/middleware/auth.global.ts
  web/liff/src/stores/auth.ts
Labels: frontend (liff)

#3112 fix: チェックイン後の処理を追加
  web/liff/src/pages/[facilityId]/checkin/new.vue
  web/liff/src/stores/auth.ts
  web/liff/src/stores/user.ts
Labels: mergeable, frontend (liff)

#3116 feat(api): 商品公開範囲の機能拡張 - PublicフィールドからScopeフィールドへの移行
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/service/product.go
  api/internal/gateway/admin/v1/service/product_test.go
  api/internal/gateway/admin/v1/types/product.go
  api/internal/gateway/user/facility/handler/product.go
  api/internal/gateway/user/facility/service/product_test.go
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/service/live_product_test.go
  api/internal/gateway/user/v1/service/live_summary_test.go
  api/internal/gateway/user/v1/service/product_test.go
  api/internal/messenger/entity/mail_config_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/product.go
  api/internal/store/database/tidb/product_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/exporter/general/general_test.go
  api/internal/store/exporter/sagawa/sagawa_test.go
  api/internal/store/exporter/yamato/yamato_test.go
  api/internal/store/input.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/live_test.go
  api/internal/store/service/order_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_review_test.go
  api/internal/store/service/product_test.go
  docs/spec/swagger/admin/v1/swagger.yaml
  docs/spec/swagger/user/facility/swagger.yaml
  infra/tidb/schema/stores/2025100701-add-column-to-products.sql
Labels: docs, test, infra (database), backend (gateway), backend (store), backend (messenger), backend (api)

#3096 Release for v7.2.1
  CHANGELOG.md
Labels: tagpr, tagpr:minor

#3113 コーディネーターページを修正
  web/user/src/components/molecules/TheCoordinatorArchiveItem.vue
  web/user/src/components/molecules/TheProducerList.vue
  web/user/src/components/molecules/TheVideoItem.vue
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/store/coordinator.ts
  web/user/src/types/api/models/CoordinatorResponse.ts
  web/user/src/types/api/models/Video.ts
Labels: frontend (user)

#3125 [web/user] node v20系への更新
  web/user/.tool-versions
  web/user/i18n.config.ts
  web/user/nuxt.config.ts
  web/user/package.json
  web/user/yarn.lock
Labels: mergeable, frontend (user)
