Repository and-period/furumaru, pull requests merged in 2025-06, with the labels that each got.

#2836 fix: プロモーションコードが有効だった場合にpayloadに詰める処理を追加
  web/user/src/pages/v1/purchase/confirmation.vue
Labels: mergeable, frontend (user)

#2837 Release for v5.0.1
  CHANGELOG.md
Labels: mergeable, tagpr

#2845 fix(user): コーディネータの不要なフィールドを削除
  api/hack/store-migrate-shops/main.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/coordinator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  infra/tidb/schema/users/2025060901-drop-column-to-coordinators.sql
Labels: mergeable, test, backend (user), backend (gateway), backend (api)

#2846 refactor(store): 店舗IDベースで情報取得できるように
  api/internal/store/input.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/shipping_test.go
Labels: mergeable, test, backend (store), backend (api)

#2848 Fix/product coordinator
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/coordinator/[...id].vue
  web/user/src/pages/items/[...id].vue
  web/user/src/store/coordinator.ts
Labels: mergeable, frontend (user)

#2849 refactor(admin): コーディネータベースでの取得から店舗ベースへの取得に
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/api_test.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/broadcast.go
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/live.go
  api/internal/gateway/admin/v1/handler/order.go
  api/internal/gateway/admin/v1/handler/producer.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/gateway/admin/v1/handler/top.go
  api/internal/gateway/admin/v1/handler/user.go
  api/internal/gateway/admin/v1/response/schedule.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/schedule.go
  api/internal/gateway/admin/v1/service/schedule_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shop.go
  api/internal/store/database/tidb/shop_test.go
  api/internal/store/input.go
  api/internal/store/service/product.go
  api/internal/store/service/shop.go
  api/internal/store/service/shop_test.go
  docs/swagger/admin/components/schemas/entity/schedule.yaml
  docs/swagger/admin/paths/v1/top/orders.yaml
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (store), backend (api)

#2850 refactor(store): 不要なメソッドの削除
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/user/v1/handler/coordinator.go
  api/internal/gateway/user/v1/handler/experience.go
  api/internal/gateway/user/v1/handler/live.go
  api/internal/gateway/user/v1/handler/producer.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/handler/schedule.go
  api/internal/gateway/user/v1/service/coordinator.go
  api/internal/gateway/user/v1/service/coordinator_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/experience.go
  api/internal/store/database/tidb/experience_test.go
  api/internal/store/database/tidb/order.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/database/tidb/product.go
  api/internal/store/database/tidb/product_test.go
  api/internal/store/database/tidb/schedule.go
  api/internal/store/database/tidb/shipping.go
  api/internal/store/database/tidb/shipping_test.go
  api/internal/store/entity/shop.go
  api/internal/store/entity/shop_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/order.go
  api/internal/store/service/order_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/product_type.go
  api/internal/store/service/product_type_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/coordinator.go
  api/internal/user/database/tidb/coordinator_test.go
  api/internal/user/entity/coordinator.go
  api/internal/user/entity/coordinator_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  docs/swagger/user/paths/v1/experiences/index.yaml
  infra/tidb/schema/users/2025061101-drop-column-to-coordinators.sql
  web/user/src/types/api/apis/ExperienceApi.ts
Labels: docs, test, backend (user), backend (gateway), frontend (user), backend (store), backend (api)

#2841 Release for v5.0.3
  CHANGELOG.md
Labels: tagpr

#2857 fix: 現在地に戻る不具合の修正
  web/user/src/components/atoms/icons/TheMyLocationIcon.vue
  web/user/src/pages/experiences/index.vue
Labels: frontend (user)

#2859 feat(map): マップのジェスチャー処理を「greedy」に設定
  web/user/src/pages/experiences/index.vue
Labels: mergeable, frontend (user)

#2858 Release for v5.0.4
  CHANGELOG.md
Labels: mergeable, tagpr

#2860 注文詳細取得のロジックの改修
  web/admin/src/components/templates/OrderShow.vue
  web/admin/src/pages/orders/[id]/index.vue
  web/admin/src/pages/version.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
Labels: mergeable, frontend (admin)
