Repository and-period/furumaru, pull requests merged in 2025-07, with the labels that each got.

#2888 feat(api): add Google Merchant Center product feed endpoint
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/user/v1/handler/api.go
  api/internal/gateway/user/v1/handler/product.go
  api/internal/gateway/user/v1/response/product.go
  api/internal/gateway/user/v1/service/product.go
  api/internal/gateway/user/v1/service/product_test.go
Labels: test, backend (gateway), backend (api)

#2869 Release for v5.0.7
  CHANGELOG.md
Labels: tagpr

#2891 fix(gateway): Google Merchant Center用のAPIの修正
  api/internal/gateway/user/v1/handler/product.go
Labels: backend (gateway), backend (api)

#2892 Release for v5.0.8
  CHANGELOG.md
Labels: tagpr

#2894 Release for v5.0.9
  CHANGELOG.md
Labels: tagpr
