Repository and-period/furumaru, pull requests merged in 2025-03, with the labels that each got.

#2743 Fix: fixed shipping message
  web/admin/src/components/templates/OrderShow.vue
Labels: mergeable, frontend (admin)

#2739 Release for v4.4.3
  CHANGELOG.md
Labels: tagpr

#2750 Release for v4.4.4
  CHANGELOG.md
Labels: tagpr

#2751 Add: added terms of use
  web/user/src/layouts/default.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/terms-of-use.vue
  web/user/src/public/_content/legalPolicy_en.md
  web/user/src/public/_content/legalPolicy_ja.md
  web/user/src/public/_content/termsOfUse_en.md
  web/user/src/public/_content/termsOfUse_ja.md
Labels: frontend (user)

#2752 Release for v4.4.6
  CHANGELOG.md
Labels: mergeable, tagpr

#2755 Fix: fixed terms of use
  web/user/src/public/_content/termsOfUse_ja.md
Labels: frontend (user)

#2754 Release for v4.4.7
  CHANGELOG.md
Labels: mergeable, tagpr

#2756 Fix: fixed video item mergin
  web/user/src/pages/video/[...id].vue
Labels: mergeable, frontend (user)

#2757 Release for v4.4.8
  CHANGELOG.md
Labels: mergeable, tagpr

#2762 Revert "feat(media): 署名URL発行時のヘッダー情報も連携するように"
  api/internal/gateway/user/v1/handler/uploader.go
  api/internal/gateway/user/v1/response/uploader.go
  api/internal/media/entity/upload_event.go
  api/internal/media/entity/upload_event_test.go
  api/internal/media/service/upload.go
  api/internal/media/service/upload_test.go
  api/pkg/storage/client.go
  docs/swagger/admin/components/schemas/v1/upload.response.yaml
  web/admin/src/pages/version.vue
  web/admin/src/plugins/api-client.ts
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/plugins/vuetify.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/experience.ts
  web/admin/src/store/helper.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/product.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
  web/admin/src/store/video.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (gateway), frontend (admin), backend (media), backend (api)

#2763 Release for v4.4.9
  CHANGELOG.md
Labels: tagpr

#2764 体験登録で動画を紐づけられるように修正
  web/admin/src/components/templates/ExperienceNew.vue
  web/admin/src/pages/experiences/[id]/index.vue
  web/admin/src/pages/experiences/new.vue
  web/admin/src/plugins/google-analytics.ts
  web/admin/src/store/broadcast.ts
  web/admin/src/store/coordinator.ts
  web/admin/src/store/helper.ts
  web/admin/src/store/live.ts
  web/admin/src/store/notification.ts
  web/admin/src/store/order.ts
  web/admin/src/store/producer.ts
  web/admin/src/store/product-type.ts
  web/admin/src/store/promotion.ts
  web/admin/src/store/schedule.ts
Labels: mergeable, frontend (admin)

#2765 Release for v4.4.10
  CHANGELOG.md
Labels: tagpr

#2766 レビューの星表示の修正
  web/user/src/components/atoms/review/TheRatingStar.vue
  web/user/src/pages/items/[...id].vue
Labels: mergeable, frontend (user)

#2770 商品登録・編集画面のUI/UX調整
  web/admin/src/components/molecules/SortableProductThumbnail.vue
  web/admin/src/components/templates/ProductEdit.vue
Labels: mergeable, frontend (admin)

#2767 Release for v4.4.11
  CHANGELOG.md
Labels: tagpr
