Repository and-period/furumaru, pull requests merged in 2025-08, with the labels that each got.

#2900 refactor(gateway): ファイル構成を変更
  api/internal/gateway/admin/komoju/handler/event.go
  api/internal/gateway/admin/komoju/handler/handler.go
  api/internal/gateway/admin/komoju/handler/payment.go
  api/internal/gateway/admin/komoju/request/payment.go
  api/internal/gateway/admin/komoju/request/ping.go
  api/internal/gateway/admin/v1/handler/handler.go
  api/internal/gateway/admin/v1/handler/handler_test.go
  api/internal/gateway/cmd/admin/admin.go
  api/internal/gateway/cmd/admin/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/gateway.go
  api/internal/gateway/user/v1/handler/handler.go
  api/internal/gateway/user/v1/handler/handler_test.go
Labels: test, backend (gateway), backend (api)

#2910 feat(gateway): キャンプ施設向けのAPIハンドラの初期設定
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/natureresort/handler/auth.go
  api/internal/gateway/user/natureresort/handler/auth_user.go
  api/internal/gateway/user/natureresort/handler/cart.go
  api/internal/gateway/user/natureresort/handler/checkout.go
  api/internal/gateway/user/natureresort/handler/handler.go
  api/internal/gateway/user/natureresort/request/auth.go
  api/internal/gateway/user/natureresort/request/auth_user.go
  api/internal/gateway/user/natureresort/request/cart.go
  api/internal/gateway/user/natureresort/request/checkout.go
  api/internal/gateway/user/natureresort/response/auth.go
  api/internal/gateway/user/natureresort/response/auth_user.go
  api/internal/gateway/user/natureresort/response/cart.go
  api/internal/gateway/user/natureresort/response/checkout.go
  api/internal/gateway/user/natureresort/response/coordinator.go
  api/internal/gateway/user/natureresort/response/product.go
  docs/swagger/gen/user/natureresort/swagger.yaml
Labels: docs, backend (gateway), backend (api)

#2913 Release for v5.0.11
  CHANGELOG.md
Labels: mergeable, tagpr

#2918 LFF用の商品一覧ページのモック実装
  web/liff/nuxt.config.ts
  web/liff/package.json
  web/liff/src/assets/css/main.css
  web/liff/src/pages/index.vue
  web/liff/src/stores/product.ts
  web/liff/yarn.lock
Labels: mergeable

#2919 FmTextInputコンポーネントの実装
  web/shared/src/assets/main.css
  web/shared/src/components/FmProductItem.vue
  web/shared/src/components/FmTextInput.stories.ts
  web/shared/src/components/FmTextInput.vue
Labels: mergeable

#2914 Release for v5.1.0
  CHANGELOG.md
Labels: tagpr, tagpr:minor

#2949 fix(gateway): path prefixに生産者IDを含めるように
  api/Makefile
  api/go.mod
  api/go.sum
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/router.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/cart.go
  api/internal/gateway/user/facility/handler/checkout.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/request/auth.go
  api/internal/gateway/user/facility/request/auth_user.go
  api/internal/gateway/user/facility/request/cart.go
  api/internal/gateway/user/facility/request/checkout.go
  api/internal/gateway/user/facility/response/auth.go
  api/internal/gateway/user/facility/response/auth_user.go
  api/internal/gateway/user/facility/response/cart.go
  api/internal/gateway/user/facility/response/checkout.go
  api/internal/gateway/user/facility/response/coordinator.go
  api/internal/gateway/user/facility/response/product.go
  docs/swagger/gen/user/facility/swagger.yaml
Labels: docs, backend (gateway), backend (api)

#2952 fix(gateway): user.goの変更に合わせてテストを修正
  api/internal/gateway/admin/v1/service/user.go
  api/internal/gateway/admin/v1/service/user_test.go
  api/internal/store/entity/order_experience.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/member_test.go
  api/internal/user/database/tidb/user.go
  api/internal/user/database/tidb/user_test.go
  api/internal/user/entity/facility_user.go
  api/internal/user/entity/facility_user_test.go
  api/internal/user/entity/user.go
  api/internal/user/entity/user_test.go
  api/internal/user/service/guest.go
  api/internal/user/service/guest_test.go
  api/internal/user/service/member.go
  api/internal/user/service/member_test.go
  infra/tidb/schema/users/2025082401-create-facility-users.sql
Labels: test, backend (user), backend (gateway), backend (store), backend (api)

#2948 Release for v5.1.2
  CHANGELOG.md
Labels: tagpr

#2953 feat(api): キャンプ施設向けJWT認証機能の実装
  api/go.mod
  api/go.sum
  api/internal/gateway/user/facility/auth/auth.go
  api/internal/gateway/user/facility/auth/auth_test.go
  api/internal/gateway/user/facility/auth/jwt.go
  api/internal/gateway/user/facility/auth/jwt_test.go
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/auth/oidc_test.go
Labels: test, backend (gateway), backend (api)

#2962 test(gateway): キャンプ施設ログイン機能の実装
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/cart.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/order.go
  api/internal/gateway/user/facility/handler/producer.go
  api/internal/gateway/user/facility/response/auth.go
  api/internal/gateway/user/facility/service/auth.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/facility_user.go
  api/internal/user/database/tidb/facility_user_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/facility_user.go
  api/internal/user/service/facility_user_test.go
  docs/swagger/gen/user/facility/swagger.yaml
  infra/tidb/schema/users/2025082901-recreate-index-facility-users.sql
Labels: docs, test, backend (user), backend (gateway), backend (api)

#2964 fix: 所用時間のラベルを所要時間に変更し、表示を分から時間に修正
  web/admin/src/components/templates/ExperienceNew.vue
  web/user/src/pages/experiences/[...id].vue
Labels: frontend (user), frontend (admin)

#2968 chore(ci): GitHub ActionsでGoのテストキャッシュを有効化
  .github/actions/setup-go/action.yaml
  .github/workflows/ci-backend.yaml
Labels: mergeable, workflow

#2971 refactor(api): Rename LINE verifier to LIFF verifier for clarity
  api/internal/gateway/user/facility/auth/oidc.go
  api/internal/gateway/user/facility/auth/oidc_test.go
Labels: test, backend (gateway), backend (api)

#2973 chore: Add Japanese language preference to Copilot instructions
  .github/copilot-instructions.md
Labels: workflow

#2975 refactor(api): Rename LINE verifier to LIFF verifier in facility auth
  api/internal/gateway/cmd/user/registry.go
  api/internal/gateway/cmd/user/user.go
  api/internal/gateway/user/facility/handler/auth.go
  api/internal/gateway/user/facility/handler/auth_user.go
  api/internal/gateway/user/facility/handler/handler.go
  api/internal/gateway/user/facility/handler/product.go
Labels: backend (gateway), backend (api)
