Repository and-period/furumaru, pull requests merged in 2025-02, with the labels that each got.

#2701 レビュー表示機能の実装
  web/user/src/components/atoms/review/TheRatingStar.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/items/[...id].vue
  web/user/src/store/productReview.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

#2706 Feat/user/implement connect sns account
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/user/database/database.go
  api/internal/user/database/tidb/admin_auth_provider.go
  api/internal/user/database/tidb/admin_auth_provider_test.go
  api/internal/user/database/tidb/tidb.go
  api/internal/user/database/tidb/tidb_test.go
  api/internal/user/entity/admin_auth.go
  api/internal/user/entity/admin_auth_event.go
  api/internal/user/entity/admin_auth_event_test.go
  api/internal/user/entity/admin_auth_provider.go
  api/internal/user/entity/admin_auth_provider_test.go
  api/internal/user/entity/admin_auth_test.go
  api/internal/user/input.go
  api/internal/user/service.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  api/internal/user/service/service_test.go
  api/pkg/cognito/auth.go
  api/pkg/cognito/client.go
  docs/swagger/admin/components/schemas/codes/auth.yaml
  docs/swagger/admin/components/schemas/entity/auth.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/auth/providers.yaml
  infra/tidb/schema/users/2025020301-create-admin-auth-providers.sql
  web/admin/src/types/api/api.ts
Labels: docs, test, backend (user), backend (gateway), frontend (admin), backend (api)

#2703 Fix: fixed button color to proceed purchase
  web/user/src/components/molecules/TheLiveTimelineProduct.vue
  web/user/src/components/molecules/TheProductListItem.vue
  web/user/src/components/molecules/TheVideoExperienceItem.vue
  web/user/src/components/molecules/TheVideoProductListItem.vue
  web/user/src/components/organisms/header/TheCartItem.vue
  web/user/src/components/organisms/header/ThePcCartMenu.vue
  web/user/src/components/organisms/purchase/TheMarcheCartItem.vue
  web/user/src/pages/experiences/[...id].vue
  web/user/src/pages/experiences/purchase/guest/index.vue
  web/user/src/pages/experiences/purchase/index.vue
  web/user/src/pages/v1/purchase/address.vue
  web/user/src/pages/v1/purchase/confirmation.vue
  web/user/src/pages/v1/purchase/guest/address.vue
  web/user/src/pages/v1/purchase/guest/confirmation.vue
Labels: mergeable, frontend (user)

#2707 feat(admin): 認証プロバイダー一覧画面の実装
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/user/service/admin_auth.go
  api/internal/user/service/admin_auth_test.go
  docs/swagger/admin/components/schemas/codes/auth.yaml
  web/admin/src/components/templates/AuthProvider.vue
  web/admin/src/pages/accounts/index.vue
  web/admin/src/pages/accounts/providers/index.vue
  web/admin/src/pages/accounts/sns/index.vue
  web/admin/src/pages/auth/google/callback.vue
  web/admin/src/pages/auth/google/connect.vue
  web/admin/src/pages/signin.vue
  web/admin/src/plugins/vuetify.ts
  web/admin/src/public/sns/google.png
  web/admin/src/public/sns/line.png
  web/admin/src/store/auth.ts
  web/admin/src/types/api/api.ts
Labels: docs, backend (user), backend (gateway), frontend (admin), backend (api)

#2696 Release for v4.1.1
  CHANGELOG.md
Labels: mergeable, tagpr, tagpr:minor

#2709 feat(store): 店舗エンティティの定義
  api/internal/store/entity/experience.go
  api/internal/store/entity/order.go
  api/internal/store/entity/product.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shop.go
  infra/tidb/schema/stores/2025020701-create-shops.sql
Labels: backend (store), backend (api)

#2712 fix(store): 店舗情報の追加
  api/hack/store-migrate-shops/main.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shop.go
  api/internal/store/database/tidb/shop_test.go
  api/internal/store/entity/shop.go
  api/internal/store/entity/shop_test.go
  api/internal/store/input.go
  api/internal/store/service/shop.go
  api/internal/store/service/shop_test.go
  api/internal/user/service/coordinator.go
  api/internal/user/service/coordinator_test.go
  infra/tidb/schema/stores/2025021101-add-column-to-shops.sql
Labels: test, backend (user), backend (store), backend (api)

#2710 Release for v4.2.1
  CHANGELOG.md
Labels: tagpr

#2715 FIX: fixed top page
  web/user/src/components/templates/TheAbout.vue
  web/user/src/components/templates/TheItem.vue
  web/user/src/pages/about.vue
  web/user/src/pages/index.vue
  web/user/src/pages/items/index.vue
Labels: frontend (user)

#2714 Release for v4.2.2
  CHANGELOG.md
Labels: tagpr

#2716 fix(store): 店舗IDを詰めるように
  api/internal/gateway/admin/v1/handler/experience.go
  api/internal/gateway/admin/v1/handler/product.go
  api/internal/gateway/admin/v1/handler/schedule.go
  api/internal/gateway/admin/v1/handler/shipping.go
  api/internal/store/entity/experience.go
  api/internal/store/entity/experience_test.go
  api/internal/store/entity/order.go
  api/internal/store/entity/order_test.go
  api/internal/store/entity/product.go
  api/internal/store/entity/product_test.go
  api/internal/store/entity/schedule.go
  api/internal/store/entity/schedule_test.go
  api/internal/store/entity/shipping.go
  api/internal/store/entity/shipping_test.go
  api/internal/store/input.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/experience.go
  api/internal/store/service/experience_test.go
  api/internal/store/service/product.go
  api/internal/store/service/product_test.go
  api/internal/store/service/schedule.go
  api/internal/store/service/schedule_test.go
  api/internal/store/service/shipping.go
  api/internal/store/service/shipping_test.go
Labels: mergeable, test, backend (gateway), backend (store), backend (api)

#2722 Fix: fixed form to change business time
  web/admin/src/pages/experiences/[id]/index.vue
Labels: mergeable, frontend (admin)

#2724 fix: ユーザーが位置情報の取得を許可している場合に現在地の座標がユーザーの現在地になるように修正
  web/user/src/pages/experiences/index.vue
Labels: mergeable, frontend (user)

#2720 Release for v4.3.0
  CHANGELOG.md
Labels: tagpr, tagpr:minor

#2726 fix: radiusを100000に指定する
  web/user/src/store/experience.ts
Labels: mergeable, frontend (user)

#2728 レビュー投稿画面のモックアップの実装
  web/user/src/components/atoms/review/TheRatingStarInput.vue
  web/user/src/components/atoms/review/TheReviewForm.vue
  web/user/src/components/atoms/review/TheReviewTargetProduct.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/reviews/products/[...id].vue
  web/user/src/store/product.ts
  web/user/src/types/locales/i18n.ts
Labels: frontend (user)

#2727 Release for v4.3.1
  CHANGELOG.md
Labels: mergeable, tagpr

#2729 feat(store): 店舗ごとのプロモーションを発行できるように
  api/.tool-versions
  api/hack/database-seeds/master/role.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/order_test.go
  api/internal/store/database/tidb/promotion.go
  api/internal/store/database/tidb/promotion_test.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/entity/shop.go
  api/internal/store/entity/shop_test.go
  api/internal/store/input.go
  api/internal/store/service/cart.go
  api/internal/store/service/cart_test.go
  api/internal/store/service/checkout.go
  api/internal/store/service/checkout_test.go
  api/internal/store/service/promotion.go
  api/internal/store/service/promotion_test.go
  docs/swagger/admin/components/schemas/codes/promotion.yaml
  docs/swagger/admin/components/schemas/entity/promotion.yaml
  docs/swagger/admin/openapi.yaml
  docs/swagger/admin/paths/v1/promotions/_promotionId/index.yaml
  docs/swagger/admin/paths/v1/promotions/index.yaml
  docs/swagger/user/paths/v1/checkouts/experiences/_experienceId/index.yaml
  docs/swagger/user/paths/v1/checkouts/products/index.yaml
  infra/tidb/schema/stores/2025021701-add-column-to-promotions.sql
  web/admin/src/types/api/api.ts
Labels: docs, mergeable, test, backend (gateway), frontend (admin), backend (store), backend (api)

#2731 feat(admin): 店舗ごとのプロモーション発行機能を実装
  .github/workflows/ci-backend.yaml
  api/.golangci.yaml
  api/Makefile
  api/hack/database-migrate-mysql/main.go
  api/hack/database-seeds/master/role.go
  api/hack/database-seeds/store/execute.go
  api/internal/gateway/admin/v1/handler/api.go
  api/internal/gateway/admin/v1/handler/auth.go
  api/internal/gateway/admin/v1/handler/coordinator.go
  api/internal/gateway/admin/v1/handler/payment_system.go
  api/internal/gateway/admin/v1/handler/promotion.go
  api/internal/gateway/admin/v1/handler/shop.go
  api/internal/gateway/admin/v1/response/auth.go
  api/internal/gateway/admin/v1/response/coordinator.go
  api/internal/gateway/admin/v1/response/promotion.go
  api/internal/gateway/admin/v1/service/administrator.go
  api/internal/gateway/admin/v1/service/auth.go
  api/internal/gateway/admin/v1/service/coordinator.go
  api/internal/gateway/admin/v1/service/coordinator_test.go
  api/internal/gateway/admin/v1/service/promotion.go
  api/internal/gateway/admin/v1/service/promotion_test.go
  api/internal/gateway/admin/v1/service/shop.go
  api/internal/gateway/admin/v1/service/shop_test.go
  api/internal/gateway/util/request.go
  api/internal/gateway/util/request_test.go
  api/internal/messenger/cmd/worker/registry.go
  api/internal/store/database/database.go
  api/internal/store/database/tidb/shop.go
  api/internal/store/database/tidb/shop_test.go
  api/internal/store/entity/cart.go
  api/internal/store/entity/postal_code.go
  api/internal/store/entity/promotion.go
  api/internal/store/entity/promotion_test.go
  api/internal/store/input.go
  api/internal/store/service.go
  api/internal/store/service/shop.go
  api/internal/store/service/shop_test.go
  api/pkg/mysql/client.go
  api/pkg/mysql/client_tidb.go
  api/pkg/postalcode/client.go
  api/pkg/youtube/auth.go
  api/pkg/youtube/client.go
  docs/swagger/admin/components/schemas/entity/coordinator.yaml
  docs/swagger/admin/components/schemas/v1/auth.response.yaml
  docs/swagger/admin/components/schemas/v1/promotion.response.yaml
  web/admin/src/components/templates/PromotionEdit.vue
  web/admin/src/components/templates/PromotionList.vue
  web/admin/src/pages/promotions/[id]/index.vue
  web/admin/src/pages/promotions/index.vue
  web/admin/src/store/auth.ts
  web/admin/src/store/promotion.ts
  web/admin/src/types/api/api.ts
Labels: docs, test, workflow, backend (gateway), frontend (admin), backend (store), backend (messenger), backend (api)

#2732 fix(user): プロモーションコードの検証時、対象の店舗かを判定できるように
  api/internal/gateway/admin/v1/service/shop_test.go
  api/internal/gateway/user/v1/handler/promotion.go
  api/internal/gateway/user/v1/handler/shop.go
  docs/swagger/user/paths/v1/promotions/_code/index.yaml
  web/user/src/store/shopping.ts
  web/user/src/types/api/apis/PromotionApi.ts
Labels: docs, mergeable, test, backend (gateway), frontend (user), backend (api)

#2730 Release for v4.4.0
  CHANGELOG.md
Labels: tagpr, tagpr:minor

#2733 Fix: fixed top page
  web/user/src/components/templates/TheAbout.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/index.vue
Labels: frontend (user)

#2734 Release for v4.4.1
  CHANGELOG.md
Labels: tagpr

#2735 レビュー投稿機能の実装
  web/user/src/components/atoms/review/TheReviewForm.vue
  web/user/src/locales/en_us.json
  web/user/src/locales/ja_jp.json
  web/user/src/pages/reviews/complete.vue
  web/user/src/pages/reviews/products/[...id].vue
  web/user/src/pages/signin.vue
  web/user/src/store/productReview.ts
  web/user/src/types/locales/i18n.ts
Labels: mergeable, frontend (user)

#2737 feat: トップページのコンセプトテキスト部分のアニメーションを追加
  web/user/src/pages/index.vue
  web/user/tailwind.config.ts
Labels: mergeable, frontend (user)

#2736 Release for v4.4.2
  CHANGELOG.md
Labels: tagpr

#2738 fix(admin): リフレッシュトークンの有効期限を明示的に指定
  web/admin/src/store/auth.ts
Labels: mergeable, frontend (admin)
